<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-stream'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
      [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
      (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <div class="sequence-options">
        <mat-button-toggle-group name="mode" [(ngModel)]="card.option.mode">
          <mat-button-toggle [disableRipple]="true" value="subscribe">Gắn luồng</mat-button-toggle>
          <mat-button-toggle [disableRipple]="true" value="unsubscribe">Hủy luồng</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-checkbox name="isForce" [(ngModel)]="card.option.isForce" [style.visibility]="card.option.mode=='unsubscribe'?'hidden':'visible'">Gắn đè luồng cũ nếu có
          <i class="fas fa-info-circle" matTooltip="Nếu check thì luồng mới sẽ thay thế luồng hiện tại của khách hàng nếu có, nếu không check thì sẽ không gắn luồng mới nếu khách hàng đang trong luồng khác"></i></mat-checkbox>
      </div>
      <mat-form-field class="sequence-select">
        <mat-select placeholder="Chọn luồng câu chuyện" name="storyGroupId" [(ngModel)]="card.option.storyGroupId">
          <mat-option *ngFor="let storyGroup of storyGroups" [value]="storyGroup._id">
            {{storyGroup.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
      
  </mat-card-content>
</mat-card>
</div>