@import "~customs.scss";

.sequence-options {
    @include flex-align-center;
    justify-content: space-between;
    ::ng-deep.mat-button-toggle-group {
        height: 40px;
        border-radius: 2px;
        border: 1px solid $grey-light;
        ::ng-deep.mat-button-toggle {
            @include flex-center;
            color: $grey-dark;
            ::ng-deep.mat-button-toggle-button {
                height: 100%;
                ::ng-deep.mat-button-toggle-label-content {
                    line-height: initial;
                    padding: 0 8px;
                    font-size: 13px;
                }
            }
            &.mat-button-toggle-checked {
                background-color: $brand-light;
                color: white;
                ::ng-deep.mat-button-toggle-focus-overlay {
                    display: none;
                }
            }
        }
    }
    ::ng-deep.mat-checkbox {
        color: $grey-dark;
        &.mat-checkbox-disabled {
            visibility: hidden;
        }
        i {
            font-size: 12px;
            margin-left: 2px;
            color: $grey;
        }
    }
}

.sequence-select {
    width: 100%;
    margin-top: 16px;
}