<mat-expansion-panel class="story-panel" [hideToggle]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>{{product.product.name}}</mat-panel-title>
    <mat-panel-description></mat-panel-description>
    <button class="delete" mat-icon-button matTooltip="Xóa" matTooltipPosition="below" (click)="removeProduct(); $event.stopPropagation();">
      <i class="far fa-trash-alt"></i>
    </button>
  </mat-expansion-panel-header>
  <form #myFrm="ngForm">
    <mat-form-field class="text-input-field">
      <input type="number" matInput placeholder="Số lượng" [(ngModel)]="product.amount" name="amount" required min="1">
    </mat-form-field>
    <mat-form-field *ngFor="let t of product.product.toppings">
      <mat-select [placeholder]="t.topping.name" [multiple]="t.topping.is_select_multiple" (selectionChange)="selectToppingChange()" [(ngModel)]="toppings[t.topping.id]" [name]="'topping_'+t.topping.id">
        <mat-option *ngFor="let value of t.topping.values" [value]="value.id">
          <img class="product-image" [src]="value.thumb">
          <span class="product-name">{{ value.name }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-expansion-panel>