@import "~customs.scss";

.mat-card-header {
    ::ng-deep.mat-card-header-text {
        display: none;
    }
    .card-title-text {
        @include flex-align-center;
        margin: 0 8px;
        font-weight: bold;
        text-transform: uppercase;
        color: $brand-primary;
        cursor: move;
        font-size: 14px;
        white-space: nowrap;
        i {
            margin-right: 6px;
        }
    }
    .header-spacer {
        cursor: move;
    }
    .card-note {
        @include flex-align-center;
        font-size: 13px;
        cursor: pointer;
        padding-right: 4px;
        text-align: right;
        width: 50%;
        justify-content: flex-end;
        .note {
            color: $grey;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .empty {
            font-style: italic;
            color: $grey-mild;
            width: 100%;
            i {
                font-size: 12px;
                pointer-events: none;
            }
        }
    }
    &.disabled {
        pointer-events: none;
        .card-title-text {
            color: $grey-light !important;
        }
    }
}