<mat-card-header [class.disabled]="disabled">
  <div class="card-title-text">
    <i [ngClass]="icon"></i>
    {{title}}
  </div>
  <span class="header-spacer"></span>
  <div class="card-note" [matTooltip]="note?note:''" (click)="editNote($event)">
    <span class="note" *ngIf="note">{{note}}</span>
    <span class="empty" *ngIf="!note">Ghi chú <i class="far fa-edit"></i></span>
  </div>
</mat-card-header>
<mat-divider></mat-divider>