<div>
  <h2 class="dialog-title m-0 mb-2">Thêm khách hàng vào App</h2>
  <div class="mid-content" [style.pointer-events]="((submitting$ | async) || (success$ | async))?'none':'initial'">
    <form [formGroup]='customerForm' [hidden]="customer$ | async">
      <mat-form-field class="form-input-wrapper w-100">
        <input matInput class="form-input" placeholder="Tìm kiếm khách hàng" [(ngModel)]="customerSearch" (ngModelChange)="customerChanged($event)"
        [matAutocomplete]="auto" formControlName='customerInput'>
      </mat-form-field>
    
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="loading$ | async" class="loading" disabled><mat-spinner diameter="20"></mat-spinner></mat-option>
        <ng-container *ngIf="!(loading$ | async) && (customers$ | async)">
          <mat-option *ngFor="let customer of customers$ | async" [value]="customer">
            <span class="name mr-1">{{ customer.fullName }}</span>-<small class="ml-1">{{customer.email}}</small>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </form>
    <div class="customer-wrapper" *ngIf="customer$ | async as customer">
      <div class="customer-name">
        <span class="name mr-1">{{ customer.fullName }}</span>-<small class="ml-1">{{customer.email}}</small>
        <i class="fas fa-times-circle remove" (click)="removeCustomer()"></i>
      </div>
      <mat-form-field class="form-select" [floatLabel]="'never'">
        <mat-select [(ngModel)]="role" name="invite-email-select">
          <mat-option *ngFor="let role of userRoles" [value]="role.code">{{role.display}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="bottom-btn-group" *ngIf="customer$ | async">
    <button class="btn btn-invite" [class.active]="submitting$ | async" (click)="inviteCustomer()" [hidden]="success$ | async">
      <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
      <span class="text"><i class="fas fa-user-plus"></i>Thêm khách hàng</span>
    </button>
    <div class="success" *ngIf="success$ | async"><i class="fas fa-check"></i>Thêm thành công</div>
  </div>
</div>