@import '~customs.scss';

.mat-dialog-container {
  padding: 24px;
}

form {
  width: 94%;
  margin: 20px auto;
}

.name {
  font-size: 14px;
  font-weight: bold;
  color: $grey-darker;
}

.customer-wrapper {
  display: flex;
  border: 1px solid $grey-light;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px 0;
}
.customer-name {
  flex: 1 1 auto;
  height: 40px;
  padding: 0 24px 0 12px;
  @include flex-align-center;
  background: $grey-lightest;
  position: relative;
  .remove {
    position: absolute;
    right: 8px;
    font-size: 13px;
    color: $grey;
    cursor: pointer;
    &:hover {
      color: $grey-dark;
    }
  }
}

::ng-deep.form-select {
	min-width: 0;
	width: 100px;
	flex: 0 0 100px;
	font-size: 14px;
	height: 40px;
  color: $grey;
  border: 0;
	border-left: 1px solid $grey-light;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.bottom-btn-group {
  display: flex;
  .success {
      white-space: pre;
      word-break: keep-all;
      margin-left: auto;
      width: auto;
      padding: 10px 8px;
      color: $green-400;
      font-weight: 500;
      font-size: 15px;
      text-align: right;        
      @include flex-align-center;
      justify-content: flex-end;
      animation: slide-up-slightly 0.3s ease-in-out;
      i {
          margin-right: 8px;
      }
  }
  .btn-invite {
      margin-left: auto;
      width: auto;
      padding: 10px 28px;
      min-width: 150px;
      transition: width 0.3s ease-in-out;
      @include flex-center;
      background-color: $brand-light;
      color: white;
      font-weight: 500;
      font-size: 15px;
      i {
          margin-right: 8px;
      }
      &:disabled {
          pointer-events: none;
          opacity: 0.6;
      }
      &:hover {
          background-color: $brand-primary;
      }
      .spinner-wrapper {
          display: none;
          position: relative;
          height: 100%;
          ::ng-deep.mat-spinner svg circle {
              stroke: white;
          }
      }
      &.active {
          pointer-events: none;
          background-color: $brand-primary;
          .spinner-wrapper {
              display: inherit;
          }
          .text {
              display: none;
          }
      }
  }
}