<div class="card-wrapper subscriber-selection-parent" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-bell'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
      [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
      (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <mat-form-field class="text-input-field">
        <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.text" name="text" matInput 
        placeholder="Tin nhắn" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
      </mat-form-field>
      <app-subscriber-selection [subscribers]="subscribers" (change)="onChanged($event)"
      [disabled]="!cardFrm.enabled" name="Danh sách thông báo"></app-subscriber-selection>
      <!-- <div class="notify-users">
        <div class="form-input-wrapper">
          <div class="input-title">Danh sách được thông báo</div> -->
          <!-- <button class="btn btn-add-subscribers" (click)="addSubscribers($event)"></button> -->
        <!-- </div> -->
        <!-- <div class="not-found" *ngIf="!card.option.psids || !card.option.psids.length">Không có ai được thông báo</div>
        <div class="subscriber-item" *ngFor="let sub of subscribers">
          <div class="avatar image-wrapper circle"><img src="{{sub.messengerProfile.profile_pic}}"
              onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
          <div class="name">{{sub.messengerProfile.name}}</div>
          <button class="btn btn-remove"><i class="fas fa-times"></i></button>
        </div> -->
      <!-- </div> -->
    </form>
    <!-- <mat-error *ngIf="allowNotify != undefined && !allowNotify">
      Tài khoản của bạn chưa đăng ký nhận tin. <a href="javascrpt:;" (click)="regisNotify()">Bấm vào đây</a> để đăng ký ngay
    </mat-error> -->
  </mat-card-content>
</mat-card>
</div>