@import "~customs.scss";

.portal {
    width: 450px;
}

.portal-content-block{
  scroll-behavior: smooth;
  .portal-section{
    margin-top: 16px;
  }
}
.environment-header{
  .input-title {
    font-weight: 500;
    color: $grey;
    font-size: 14px;
    margin-left: 4px;
    margin-bottom: 4px;
  }
}
.environment-data-config {
  display: flex;
  padding-bottom: 8px;
  position: relative;
  animation: slide-up-slightly 0.3s ease-in-out;
  .input-title {
    left: 3px!important;
    top: -5px!important;
  }
  .value {
    padding: 2px;
    .other-filter-value{
      word-break: break-word;
    }
  }
  .key {
    padding: 2px;
  }
  // .button-box {
  //   opacity: 0;
  //   display: flex;
  //   flex-direction: column;
  //   margin-top: 5px;
  //   padding-left: 5px;
  //   transition: 0.25s all;
  //   i {
  //     color:$grey-mild;
  //     font-size: 12px;
  //     cursor: pointer;
  //     &:first-child {
  //       font-size: 15px;
  //       margin-bottom: 8px;
  //     }
  //     &:hover {
  //       color:$brand-light;
  //     }
  //   }
  // }
  .icon-delete {
    cursor: pointer;
    color: $grey;
    visibility: hidden;
    position: absolute;
    right: -6px;
    top: 12px;
    font-size: 16px;
    background: white;
    border-radius: 50%;
    &:hover {
        color: $grey-dark;
    }
  }
  .icon-copy {
    @include flex-center;
    cursor: pointer;
    background: $grey;
    visibility: hidden;
    position: absolute;
    right: -6px;
    top: 32px;
    width: 16px;
    height: 16px;
    padding-bottom: 1px;
    font-size: 9px;
    color: white;
    border-radius: 50%;
    &:hover {
      background: $grey-dark;
    }
  }
  &:hover, &.focus {
    // .button-box{
    //   opacity: 1;
    // }
    .icon-delete, .icon-copy {
      visibility: visible;
    }
  }
}
.btn-confirm {
  margin: auto;
  margin-top: 16px;
  width: 97%;
  padding: 6px;
  border-radius: 4px;
  background-color: #64b5f6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  &:hover {
    background-color: #2ba8d6;
  }
  i { 
    font-size: 13px;
    margin-right: 6px;
    margin-bottom: 2px;
  }
}
.truncate, .truncate-value{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-input{
  font-size: 14px;
  min-height: 40px;
}
.form-error {
  bottom: -4px;
}