<div  class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>

    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving"
      (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu
    </span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above">
      <i class="fas fa-question"></i>
    </button> -->
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div #scrolling  class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="progressBar.show">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="no-content" *ngIf="!progressBar.show && environmentDataArr.length==0">
      <div class="no-content-text">
        Chưa có biến môi trường nào
      </div>
      <button class="button-remove-overlay i-create-story-btn" mat-button color='primary'
        (click)="addEnvironmentVariable()">
        Tạo biến môi trường mới
      </button>
    </div>
    <div  class="portal-section" *ngIf="environmentDataArr.length!==0">
      <!-- <div class="portal-section-title-wrapper" fxLayout="row">
        <div class="portal-section-title">Thiết lập biến môi trường</div>
        <button class="portal-section-button" (click)="addEnvironmentVariable()" fxFlex="10" [matTooltip]="'Thêm biến mới'">
          <i class="fas fa-plus"></i>
        </button>
      </div> -->
      <!-- <div class="environment-data-config">
      <div class="environment-label">
          <div class="label-key">Tên biến</div>
          <div class="label-value">Giá trị</div>
        </div>
        <div *ngFor="let item of environmentDataArr; let i = index" class="environment-variable">
            <input type="text" class="environment-input environment-input-key" placeholder="{{item.key}}" [(ngModel)]="environmentDataArr[i].key"
              name="{{environmentDataArr[i].key}}" value="{{item.key}}" (ngModelChange)="onChanged()">
            <span>
              <input type="text" class="environment-input environment-input-value" placeholder="{{item.key}}" [(ngModel)]="environmentDataArr[i].value"
                name="{{environmentDataArr[i].value}}" value="{{item.value}}" (ngModelChange)="onChanged()">
            </span>
            <span class="remove-variable-button" (click)="deleteEnvironmentVariable(i)" [matTooltip]="'Xoá biến'">
              <i class="fas fa-times"></i>
            </span>
          </div>
          </div> -->
      <div  class="environment-header row no-gutters">
        <div class="col-3 ">
          <label class="input-title">Trường</label>
        </div>
        <div class="col">
          <label class="input-title">Giá trị</label>
        </div>
      </div>
      <div  class="environment-data-config" *ngFor="let item of environmentDataArr; let i = index" [class.focus]="currentFocus==i">
        <div class="form-input-wrapper key col-3">
          <!-- <input  class="form-input environment-key" [(ngModel)]="item.key" (ngModelChange)="inputChanged(data)"
            name="{{item.key}}-{{i}}" required>  -->
            <div  class="form-input environment-key truncate" [textContent]="item.key" 
            (input)="changeContent('key', i, $event)"  (click)="focusInput('key',i);">{{item.key}} </div>
          
          <span class="form-error" *ngIf="errors[i]">Bắt buộc</span>
        </div>
        <div class="form-input-wrapper value col-9">
          <div  class="form-input environment-value truncate-value"  [textContent]="item.value" 
          (input)="changeContent('value', i, $event)" (click)="focusInput('value',i);">{{item.value}}</div>
      
          <!-- <span class="form-error" *ngIf="!item.value ">Bắt buộc</span> -->
        </div>                
        <i class="fas fa-times-circle icon-delete" [matTooltip]="'Xóa'" 
        matTooltipPosition="after" (click)="deleteEnvironmentVariable(i)"></i>
        <i class="fas fa-copy icon-copy" [matTooltip]="'Sao chép giá trị'" 
        matTooltipPosition="after" (click)="copyEnvironmentValue(i)"></i>
          <!-- <div class="button-box"> -->
            <!-- <button mat-button>Xóa</button>
            <button mat-button matTooltip="Sao chép giá trị của biến môi trường" matTooltipPosition="above">Sao
              chép</button> -->
              <!-- <i class="fas fa-times" matTooltip="Xóa" matTooltipPosition="above" (click)="deleteEnvironmentVariable(i)"></i>
              <i class="far fa-copy" matTooltip="Sao chép giá trị" matTooltipPosition="above" (click)="copyEnvironmentValue(i)"></i> -->
          <!-- </div> -->
      </div>
      <button class="btn-confirm" type="button" (click)="addEnvironmentVariable()"><i class="fas fa-plus"></i>Thêm biến môi trường</button>
    </div>
  </div>
    <!-- <button class="btn-blue btn-create-environment" mat-raised-button color="primary"
    (click)="addEnvironmentVariable()">
    <i class="fas" ngClass="fa-plus-circle"></i><span>Thêm biến môi trường</span>
  </button> -->
  <!-- <div class="portal-footer" [ngClass]="true?'portal-footer-display':''">
    <input class="form-input" [(ngModel)]="environment_filter" placeholder="Tìm kiếm" (change)="filterEnvironment()">
      <button class="btn-blue btn-create-story" mat-raised-button color="primary"
     (click)="addEnvironmentVariable()">
      <i class="fas" ngClass="fa-plus-circle"></i><span>Thêm biến môi trường</span>
    </button>
  </div> -->
</div>