<form #cardFrm="ngForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Thông tin chung</mat-card-title>
      <span class="header-spacer"></span>
      <mat-slide-toggle *ngIf="mode === 'detail' && ai.type != 'default'" [checked]="cardFrm.pristine" [disabled]="cardFrm.pristine"
        labelPosition="before" (change)="onSave(cardFrm,$event)">
        Lưu</mat-slide-toggle>
        <button class="button-remove-overlay" mat-button matTooltip="Reset thông tin" matTooltipPosition="right"
        (click)="reload(false)">
          <i class="fas fa-undo"></i>
      </button>
      <!-- <mat-icon class="icon-btn" (click)="reload(false)">autorenew</mat-icon> -->
    </mat-card-header>
    <mat-card-content *ngIf="ai">
      <mat-form-field class="text-input-field">
        <input type="text" matInput placeholder="Tên" [(ngModel)]="ai.name" name="name" [readonly]="ai.type == 'default'" required>
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <textarea type="text" matInput placeholder="Mô tả" [(ngModel)]="ai.description" name="description" [readonly]="ai.type == 'default'"></textarea>
        <mat-hint align="end"></mat-hint>
      </mat-form-field>
    </mat-card-content>
    <!-- <mat-card-actions *ngIf="mode === 'add'">
      <button mat-raised-button [disabled]="!cardFrm.valid" color="primary" (click)="addTopic(cardFrm)">THÊM</button>
    </mat-card-actions> -->
  </mat-card>
</form>
