<mat-card mat-list-item class="card-item mat-elevation-z0">
  <mat-card-content>
    <form #cardFrm="ngForm">
    </form>
    <swiper  class="element-container" [config]="swiperOptions" #swiper>
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide element">
          <mat-card>
            <app-button-container [validButtons]="validButtons" [container]="container" [limit]="3" [menuIndex]="1" 
              (onButtonClick)="onClickMenuItem($event)" [buttons]="setting.option[localeMenuIndex].call_to_actions" 
            (change)="onButtonsChange(1,$event)" [disabled]="!cardFrm.enabled" isMenuContainer="true"></app-button-container>
          </mat-card>
        </div>
        <div class="swiper-slide element" *ngIf="activeMenu >= 2">
          <mat-card>
            <app-button-container #secondMenu [validButtons]="validButtons" [container]="container" [limit]="5" [menuIndex]="2" 
              (onButtonClick)="onClickMenuItem($event)" (change)="onButtonsChange(2,$event)" 
              [disabled]="!cardFrm.enabled" isMenuContainer="true"></app-button-container>
          </mat-card>
        </div>
        <div class="swiper-slide element" *ngIf="activeMenu >= 3">
          <mat-card>
            <app-button-container #thirdMenu [validButtons]="lastValidButtons" [container]="container" [limit]="5" [menuIndex]="3"
              (change)="onButtonsChange(3,$event)" [disabled]="!cardFrm.enabled" isMenuContainer="true"></app-button-container>
          </mat-card>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination menu-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next menu-button-next"></div>
      <div class="swiper-button-prev menu-button-prev"></div>
    </swiper>

  </mat-card-content>
</mat-card>