@import "~customs.scss";

.spreadsheet-card-button {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    justify-content: space-between;
    .btn {
        height: 32px;
        flex: 0 1 49%;
        border-radius: 3px;
        font-weight: 400;
        font-size: 12px;
        cursor: pointer;
        background-color: $grey-lighter;
        color: $grey-dark;
        &:hover {
            color: $brand-light;
            background-color: $grey-light;
        }
    }

}
.field-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    .field-wrapper, .cdk-drag-preview {
        .mat-chip {
            background-color: $grey-lighter;
            color: $grey-dark;
            height: auto;
        }
        .mat-chip-remove {
            color: rgba(0, 0, 0, 0.5);
            opacity: 0.4;
        }
    }
}

.chip-input {    
    width: 100%;
    margin-top: 12px;
}

.user-googlesheet{
  width: 100%;
  display: flex;
  /deep/.mat-form-field{
    width: 50%;
  }
  .connect-sheet{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    button{
      border: 1px solid $grey-light;
      height: 36px;
      color: grey;
      font-weight: 300;
      font-size: 13px;
      margin-top: 5px;
      &:hover{
        color:$brand-light!important;
        border: none!important;
      }
    }
  }

}
.spinner-box{
  width: 50%;
  height: 40px;
  mat-spinner{
    margin-left:36px;
  }
}

.text-input-field{
  textarea {
    min-height: 20px;
  }
} 