<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
  <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)"
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()">
  </app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-keyboard'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled"
      (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm" (keydown.enter)="$event.preventDefault()">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition"
          [hidden]="!configOpened" [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)"
          (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)">
          <mat-form-field class="text-input-field">
            <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.fallback" name="fallback" matInput
              placeholder="Tin nhắn nhập sai" cdkTextareaAutosize></textarea>
          </mat-form-field>
        </app-card-advanced>
        <div class="user-googlesheet">
          <!-- <span class="user-title">Người dùng</span> -->
          <div class="spinner-box" *ngIf="!loadUserDone">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>
          <mat-form-field class="select-user" *ngIf="loadUserDone">

            <mat-select #userGooglesheet="ngModel" name="gsheetUser" [(ngModel)]="card.option.gsheetUser"
              placeholder="Người dùng">
              <mat-option value="" *ngIf="!gsheetUsers || gsheetUsers.length == 0">Không có</mat-option>
              <mat-option *ngFor="let user of gsheetUsers" value="{{user._id}}">{{user?.profile?.email || "Không rõ"}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="connect-sheet" (click)="connectGooogleSpreadsheet()" *ngIf="gsheetUsers.length > 0">
            <button  mat-button>
              Thêm người dùng
            </button>
          </div>
        </div>
        <mat-error *ngIf="!gsheetUsers || gsheetUsers.length == 0">
          Thẻ này chưa kết nối với google spreadsheet. <a href="javascrpt:;" (click)="connectGooogleSpreadsheet()">Bấm
            vào
            đây</a> để kết nối ngay
        </mat-error>
        <div [hidden]="!gsheetUsers || gsheetUsers.length == 0">
          <mat-form-field class="text-input-field">
            <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.ssId" name="ssId" matInput
              placeholder="Id của spreadsheet" cdkTextareaAutosize required></textarea>
          </mat-form-field>
          <div class="spreadsheet-card-button">
            <button class="btn open-spreadsheet-button" (click)="openSpreadsheet()">Mở bảng tính</button>
            <button class="btn create-spreadsheet-button" (click)="createSpreadsheet()">Tạo bảng tính mới</button>
          </div>
          <mat-form-field class="text-input-field">
            <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.sheet" name="sheet" matInput
              placeholder="Tên bảng" cdkTextareaAutosize required></textarea>
          </mat-form-field>
          <!-- <mat-form-field class="text-input-field">
        <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.method" name="method" matInput placeholder="Tên bảng" cdkTextareaAutosize required></textarea>
      </mat-form-field> -->

          <!-- <div class="field-container" cdkDropListGroup>
        <div class="field-wrapper" cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()" #placeholder></div>
        <div class="field-wrapper" cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()" *ngFor="let field of card.option.fields; let i = index; trackBy: trackByFn" >
          <div class="field-block" cdkDrag><span contenteditable="true">{{field}}</span><i class="fas fa-times-circle"></i></div>
        </div>
      </div> -->
          <mat-form-field class="text-input-field">
            <input hlTextArea matInput placeholder="Dữ liệu" [(ngModel)]="chipInput" name="chip-input"
              (blur)="addField()" (keydown.enter)="addField()">
          </mat-form-field>
          <mat-chip-list>
            <div class="field-container" cdkDropListGroup>
              <div class="field-wrapper" cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()"
                #placeholder></div>
              <div class="field-wrapper" #chipList cdkDropListOrientation="horizontal" cdkDropList
                [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()"
                *ngFor="let field of card.option.fields; let i = index; trackBy: trackByFn">

                <mat-chip cdkDrag [selectable]=true removable=true (removed)="removeField(i)"
                  (click)="openEditorDialog(field,i)">
                  {{field}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

              </div>
            </div>
          </mat-chip-list>
          <mat-form-field class="text-input-field" *ngIf="card.option.key">
            <input hlTextArea #keyControl="ngModel" type="text" [(ngModel)]="card.option.key" name="key" matInput
              maxlength="30" placeholder="Tên thuộc tính" required>
            <mat-hint align="end">{{card.option.key.length}} / 30</mat-hint>
          </mat-form-field>
        </div>
      </form>

    </mat-card-content>
  </mat-card>
</div>