<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-comments'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
        (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)">
        <mat-form-field class="text-input-field">
          <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.fallback" name="fallback" matInput placeholder="Tin nhắn nhập sai" cdkTextareaAutosize></textarea>
        </mat-form-field>
      </app-card-advanced>
      <mat-checkbox [(ngModel)]="card.option.allowAdditional" name="allowAdditional" labelPosition="end" (change)="canBeSaved.next(true)">
        Cho phép tự nhập
      </mat-checkbox>
      <mat-form-field class="text-input-field">
        <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.text" name="text" matInput   placeholder="Tin nhắn" cdkTextareaAutosize required></textarea>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input hlTextArea type="text" #dataControl="ngModel" [(ngModel)]="card.option.data" name="data" matInput placeholder="Nguồn dữ liệu"
          required>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input hlTextArea type="text" [(ngModel)]="card.option.key" name="key" matInput maxlength="30" placeholder="Tên thuộc tính" required>
        <mat-hint align="end">{{card.option.key.length}} / 30</mat-hint>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <mat-select placeholder="Loại trả lời nhanh" [(ngModel)]="card.option.type" name="type">
          <mat-option *ngFor="let type of quickReplyTypes" [value]="type.value">
            {{type.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="text-input-field" *ngIf="card.option.type == 'story'">
        <input hlTextArea type="text" matInput placeholder="Câu chuyện" required readonly [value]="selectedStory?selectedStory.name:'Chưa chọn câu chuyện'">
        <input hlTextArea type="text" matInput [(ngModel)]="card.option.storyId" name="storyId" required hidden>
        <mat-hint align="end"></mat-hint>
        <button mat-icon-button matSuffix (click)="selectStory()">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input hlTextArea type="text" #imageControl="ngModel" [(ngModel)]="card.option.mapping.image_url" name="image" matInput placeholder="Hình Icon">
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input hlTextArea type="text" #titleControl="ngModel" [(ngModel)]="card.option.mapping.title" name="title" matInput placeholder="Tên nút hiển thị"
          required>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input hlTextArea type="text" #subtitleControl="ngModel" [(ngModel)]="card.option.mapping.value" name="value" matInput placeholder="Giá trị">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="none">
        <mat-form-field fxFlex="50" class="text-input-field">
          <input hlTextArea type="number" #offsetControl="ngModel" [(ngModel)]="card.option.offset" name="offset" matInput placeholder="Offset"
            min="0">
        </mat-form-field>
        <mat-form-field fxFlex="50" class="text-input-field">
          <input hlTextArea type="number" #limitControl="ngModel" [(ngModel)]="card.option.limit" name="limit" matInput placeholder="Limit" min="0"
            max="10">
          <mat-error *ngIf="limitControl.hasError('max')"> Không được lớn hơn 10 </mat-error>
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>
</mat-card>
</div>