@import '~customs.scss';
@import './../app-template.component.scss';
@import './../../app-creation/app-creation.component.scss';

.template-container {
  padding: 8px 12px;
  display: block;
  text-decoration: none;
  .image-wrapper {
    .plus {
      color: $grey-mild;
    }
  }
  &:hover {
    .template-buttons {
      opacity: 1;
    }
    .image-wrapper {
      background: lighten($brand-light, 30%);
    }
  }
  .template-buttons {
    display: flex;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    .btn {
      @include flex-center;
      transition: all 0.2s ease-in-out;
      font-size: 14px;
      border-radius: 2px;
      height: 36px;
    }
    .btn-share {
      flex: 1 1 auto;
      background: $brand-light;
      color: white;
      margin-right: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      i {
        margin-right: 6px;
      }
      &:hover {
        background: $brand-primary;
      }
      .loader {
        display: none;
      }
      &.loading {
        .loader {
          display: inline;
        }
        .text {
          display: none;
        }
      }
    }
    .btn-delete {
      flex: 0 0 auto;
      @include btn-grey-background;
    }
  }
}