<div class="template-header">
  <h2 class="title">
    <a><i class="fas fa-th-large"></i>Quản lý mẫu</a> 
  </h2>
  <div class="tab-buttons">
    <button class="btn btn-tab" *ngFor="let type of types; let i = index" [class.active]="currentTypeIndex == i"
    (click)="currentTypeIndex = i">{{type.display}}</button>
  </div>
</div>
<div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
<div class="template-content" [hidden]="!loadDone">    
  <mat-tab-group [selectedIndex]="currentTypeIndex">
    <mat-tab *ngFor="let type of types" label="{{type.display}}">

      <div class="row m-0">
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 template-col" *ngIf="type.code=='private'">
          <a class="template-container blank" [routerLink]="['/template/add']">
            <div class="image-wrapper">
              <i class="fas fa-plus-circle plus"></i>
            </div>
            <div class="template-info">
              <div class="template-name">Tạo mẫu mới</div>
              <!-- <div class="template-desc">{{template.categoryName?template.categoryName:(template.description?template.description:'Mẫu chatbot')}}</div> -->
            </div>
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-xl-2 template-col" [class.no-item]="!template"
        *ngFor="let template of templates | templateFilter:type.code:selectedCategories">
          <div class="not-found" *ngIf="!template && type.code != 'private'">Không có mẫu nào thuộc mục này</div>
          <a class="template-container" *ngIf="template" [routerLink]="['/template', template?._id]">
            <div class="image-wrapper">
              <img src="{{template.image}}" onerror="this.src='assets/img/default-template.png'">
            </div>
            <div class="template-info">
              <div class="template-name">{{template.name}}</div>
              <div class="template-desc">{{template.categoryName?template.categoryName:(template.description?template.description:'Mẫu chatbot')}}</div>
            </div>
            <div class="template-buttons" *ngIf="type.code=='private'">
              <button class="btn btn-share" (click)="openShareDialog(template); $event.stopPropagation(); $event.preventDefault()">
              <i class="fas fa-share-alt"></i>Chia sẻ</button>
              <button class="btn btn-delete delete" [matTooltip]="'Xóa mẫu'" 
              (click)="removeTemplate(template); $event.stopPropagation(); $event.preventDefault()">
                <i class="fas fa-trash-alt"></i></button>
            </div>
            <div class="template-buttons" *ngIf="type.code=='public'">
              <button class="btn btn-share loading" *ngIf="unpublishing$ | async as unpublishing" [class.loading]="unpublishing[template._id]"
              (click)="unpublishTemplate(template._id); $event.stopPropagation(); $event.preventDefault()">
                <i class="fas fa-circle-notch fa-spin loader"></i><span class="text">Hủy publish</span>
              </button>
            </div>
          </a>
        </div>
      </div>

    </mat-tab>        
  </mat-tab-group>
</div>