
<ng-container *ngIf="hasInitted">
    <ng-container *ngIf="containerType=='card' || containerType=='menu'">
        <div class="card-button" (click)="!readOnly?defaultAction($event):false" 
        [ngClass]="disabled?'button-disabled':''" [class.active]="isNextOpened">
            <div class="card-button-title">
                <i [matTooltip]="display" matTooltipPosition="before" [ngClass]="icon"></i>
                <span class="title">{{title?title:button.title}}</span>
                <span class="subtitle" *ngIf="description"><i class="fas fa-long-arrow-alt-right"></i>{{description}}</span>
            </div>
            <div class="card-button-more">
                <button class="btn btn-icon" type="button" (click)="edit(); $event.stopPropagation()"
                *ngIf="type=='nested' || type=='postback'"><i class="fas fa-pen"></i></button>
            </div>
            <i (click)="onDelete(); $event.stopPropagation()" class="fas fa-times-circle icon-delete" [matTooltip]="'Xóa'"></i>
        </div>
    </ng-container>
    <ng-container *ngIf="containerType=='quick_reply'">
        <div class="quick-reply-button" (click)="!readOnly?defaultAction($event):false"
        [ngClass]="disabled?'button-disabled':''" [class.active]="isNextOpened">
            <div *ngIf="button.image_url" class="image-wrapper quick-reply-img">
                <img src="{{button?.image_url}}">
            </div>
            <div class="quick-reply-title">
                <span class="title">{{title?title:button.title}}</span>
                <span class="subtitle" *ngIf="description"><i class="fas fa-long-arrow-alt-right"></i>{{description}}</span>
            </div>
            <div class="card-button-more">
                <button class="btn btn-icon" type="button" (click)="edit(); $event.stopPropagation()"
                ><i class="fas fa-pen"></i></button>
            </div>
            <i (click)="onDelete(); $event.stopPropagation()" class="fas fa-times-circle icon-delete" [matTooltip]="'Xóa'"></i>
        </div>
    </ng-container>
</ng-container>