<form #myFrm="ngForm">
  <mat-form-field class="text-input-field">
    <input type="text" [(ngModel)]="referral.staticCode" name="staticCode" matInput placeholder="Mã tĩnh">
    <mat-hint align="end">Mã tĩnh có thể thay thế referral id</mat-hint>
  </mat-form-field>
  <mat-form-field class="text-input-field">
    <input type="text" [(ngModel)]="referral.expiredResponse" name="expiredResponse" matInput placeholder="Tin báo hết hạn">
    <mat-hint align="end">Tin nhắn trả lời khi mã hết hạn sử dụng.</mat-hint>
  </mat-form-field>
  <mat-form-field class="text-input-field">
    <input type="text" [(ngModel)]="referral.primatureResponse" name="primatureResponse" matInput placeholder="Tin báo trước hạn">
    <mat-hint align="end">Tin nhắn trả lời khi mã hết chưa tới ngày sử dụng.</mat-hint>
  </mat-form-field>
  <mat-form-field class="text-input-field">
    <input type="text" [(ngModel)]="referral.overLimitResponse" name="overLimitResponse" matInput placeholder="Tin báo vượt số lần sử dụng">
    <mat-hint align="end">Tin nhắn trả lời khi vượt quá số lần cho phếp.</mat-hint>
  </mat-form-field>
  <mat-form-field class="text-input-field">
    <input type="text" [(ngModel)]="referral.overAmountResponse" name="overAmountResponse" matInput placeholder="Tin báo vượt số lượng sử dụng">
    <mat-hint align="end">Tin nhắn trả lời khi vượt quá số lượng cho phếp.</mat-hint>
  </mat-form-field>
</form>