@import "~customs.scss";

.app-main {
    background: white;
    border-radius: 3px;
    justify-content: center;
    @include flex-align-center;
    padding: 12px 12px 12px 8px;
    margin-bottom: 8px;
    .app-avatar {
        flex: 0 0 48px;
        padding-bottom: 48px;
    }
    .app-title {
        padding-left: 12px;
        text-align: left;
        max-width: 75%;
        .app-name {
            font-size: 17px;
            color: $grey-dark;
            font-weight: bold;
            line-height: 20px;
        }
        .app-page {
            font-size: 14px;
            color: $grey-dark;
            line-height: 17px;
            padding-top: 2px;
        }
    }
}

select {
    text-transform: capitalize;
}

.section-title {
    color: $brand-light;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.section {
    background: white;
    padding: 12px;
    border-bottom: 1px solid $grey-lightest;
    &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom: 0;
    }
}

.invite-link-section {
    i {
        color: $brand-light;
        position: absolute;
        left: 50%;
        bottom: 24px;
    }
}

.invite-email-section {
    .btn-add-user {
        @include btn-primary-background;
        padding: 6px 20px;
        width: 100%;
        border-radius: 4px;
        margin-top: 8px;
    }
}

.tab-buttons {
    .btn-tab {
        flex: 1 1 auto;
        text-transform: capitalize;
        margin-bottom: 8px;
    }
}