
<div class="app-main">
    <div class="image-wrapper circle app-avatar">
        <img src="{{page?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'">
    </div>
    <div class="app-title">
        <div class="app-name">{{app.name}}</div>
        <div class="app-page">{{page?.name}}</div>
    </div>
</div>
<section class="section invite-link-section">
    <h4 class="section-title">Mời người dùng qua đường link</h4>
    <div class="form-input-wrapper">
        <div class="input-title">Phân quyền</div>
        <div class="tab-buttons">
          <button class="btn btn-tab" *ngFor="let rule of rules; let i = index" [class.active]="inviteRule == rule"
            (click)="setRule(rule)">{{rule}}</button>
        </div>
        <input class="form-input" id="link-url" (click)="copyLink()" [(ngModel)]="inviteLink" readonly>
        <i class="fas fa-circle-notch fa-spin" *ngIf="generatingLink"></i>
    </div>
</section>
<section class="section invite-email-section">
    <h4 class="section-title">Mời người dùng theo email</h4>
    <div class="form-input-wrapper">
        <div class="input-title">Thêm người dùng</div>
        <input class="form-input" type="email" [(ngModel)]="userEmail" placeholder="Nhập email">
    </div>
    <div class="form-input-wrapper">
        <div class="input-title">Phân quyền</div>
        <select class="form-input" [(ngModel)]="userRule" placeholder="Phân quyền">
            <option *ngFor="let rule of rules" [value]="rule">{{rule}}</option>
        </select>
    </div>
    <button class="btn-add-user" (click)="inviteUser()" [disabled]="sendingInvite">
        <i class="fas fa-circle-notch fa-spin" *ngIf="sendingInvite"></i><span *ngIf="!sendingInvite">Thêm</span></button>
</section>