@import "~customs.scss";
.read-mode{
  app-card-sidebar,.card-note,app-quick-reply-card{
    display: none!important;
  }
  ::ng-deep *{
    pointer-events: none!important;
    user-select: none !important;
      cursor: unset!important;
  }
}

.portal {
    width: 500px;
}
.portal-header {
    .portal-name {
        width: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        z-index: 10;
        &:hover {
            i {
                opacity: 1;
            }
        }
        i {
            font-size: 15px;
            height: 100%;
            display: flex;
            align-items: center;
            opacity: 0;
            position: absolute;
            right: 0px;
            padding-right: 4px;
            padding-left: 8px;
            top: 0;
            background: lighten($brand-light, 30%);
            &:hover {
                opacity: 1;
            }
        }
    }
    .button-edit-name {
        margin-left: 8px;
        color: $brand-light;
        opacity: 0;
        transition: opacity 0.3s ease;
        cursor: pointer;
        font-size: 16px;
    }
    &:hover {
        i {
            opacity: 1;
        }
    }
    .header-guider {
        width: 100%;
        position: relative;
        i {
            font-size: 15px;
            height: 100%;
            display: flex;
            align-items: center;
            opacity: 0;
            position: absolute;
            right: 0px;
            padding-right: 4px;
            padding-left: 8px;
            top: 0;
            background: lighten($brand-light, 30%);
            &:hover {
                opacity: 1;
            }
        }
    }
}

.btn-grey {
    position: relative;
    .test-spinner {
        width: 100%;
        margin: auto;
        visibility: hidden; 
        position: absolute;
        left: 0;
        top: 0;
        div {
            margin: 0 2px;
            width: 8px;
            height: 8px;
            background-color: $brand-light;
        }
    }
    &.sending {
        pointer-events: none;
        i, .text {
            opacity: 0;
        }
        .test-spinner {
            visibility: visible;
        }
    } 
}

.no-content {
    position: absolute;
}
.portal-content-block{
  padding-bottom: 20px;
}
.popular-card {
  position: absolute;
  bottom: 47px;
  right: 21px;
  height: 44px;
  display: flex;
  align-items: center;
  background: #e6e6e6;
  border-radius: 16px;
  z-index: 9999;
  .point-icon {
    width: 44px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $grey-darker;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.5s all ease-in;
  }
  .populcar-card-box{
    width: 0;
    opacity: 0;
    transition: 0.5s all;
    height: 0px;
    overflow: hidden;
    button{
      padding: 0px 5px;
      height: 0;
      .card-info{
        text-align: center;
        width: 66px;
        color: $grey-darker;
      }
    }
  }
}
.show-popular{
  right: 38px;
  transition: 0.5s all ease-in;
  .point-icon{
    transform: rotate(180deg);
  }
  .populcar-card-box{
    width: 386px;
    opacity: 1;
    height: 36px;
    transition: 0.5s all ease-in;
  }
}
.popular-preview{
  width: 350px;
  .empty-content{
    height: 150px;
    border-top: 1px solid #F5F5F5;
  }
}

.dynamic-quick-card {
  position: absolute;
  animation: slide-down-slightly 0.3s ease-in-out !important;
}

@keyframes slide-down-slightly {
	from {transform: translateY(-4px); opacity:0;}
	to {transform: translateY(0px); opacity:1;}
}

.broadcast-history {
  margin-top: 24px;
  .title {
    color: $brand-light;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    @include flex-align-center;
    justify-content: space-between;
    border-top: 1px solid $grey-lighter;
    border-bottom: 1px solid $grey-lighter;
    i {
      color: $grey;
      cursor: pointer;
      &:hover {
        color: $brand-light;
      }
    }
  }
  .broadcast {
    padding: 4px 20px;
    border-bottom: 1px solid $grey-lighter;
    .info {
      @include flex-align-center;
      justify-content: space-between;
      color: $grey-darker;
      span {
        @include flex-align-center;
        font-size: 14px;
      }
      i {
        margin-right: 8px;
        font-size: 12px;
        color: $grey;
      }
      span {
        &.FINISHED {
          color: $brand-success;
        }
        &.IN_PROGRESS {
          color: $brand-accent;
        }
        &.ERROR {
          color: $brand-danger;
        }
        &.SCHEDULED {
          color: $brand-info;
        }
        &.CANCELED {
          color: $brand-danger;
        }
      }
    }
  }
}