<form>
  <div class="portal" (click)="focus()">
    <mat-toolbar color="success" class="portal-header">
      <span class="portal-name" (click)="editName($event)"> {{story?.name || portalName}}</span>
    
      <!-- <i class="fas fa-pencil-alt button-edit-name" (click)="editStoryName()"></i> -->
      <span class="header-spacer"></span>
      
      <button *ngIf="chatbotApi.chatbotAuth.user.rule != 'read'" mat-button class="save-button" [class.fade-in]="showSave" [disabled]="!showSave || isSaving" (click)="saveContent()">
        <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
        <span [hidden]="isSaving">
          <i class="fas fa-save"></i>Lưu</span>
      </button>
      <span class="saved-label" *ngIf="saved">
        <mat-icon>check</mat-icon>Đã lưu</span>
        <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
            <i class="fas fa-question"></i>
        </button> -->
      <mat-icon style="cursor: pointer" class="icon-btn" (click)="close()">close</mat-icon>
    </mat-toolbar>
    <div [class.read-mode]="chatbotApi.chatbotAuth.user.rule == 'read'" class="portal-content-block" [ngClass]="(!cardContainer.cardComps.length)?portalId:portalId + ' has-footer'" id="{{portalId}}">
      <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
      <div class="no-content" *ngIf="loadDone && !cardContainer.cardComps.length">
        <div class="no-content-text">
          Tạo thẻ mới
        </div> 
        <app-quick-card (onEditQuickCard)="editQuickCard($event)" [cards]="popularCards" [disabled]="isSaving" [action]="createDialogFunc" *ngIf="loadPopularDone"></app-quick-card>
        <!-- <button class="button-remove-overlay" mat-button color='primary' (click)="openCreateCardDialog()" [disabled]="isSaving">
          Tạo ra một thẻ mới
        </button> -->
      </div>
      <app-card-container #cardContainer [parentViewRef]="viewRef" [cards]="story.cards" (change)="onChanged()"
        [parentPortal]="this"></app-card-container>
      <app-quick-card *ngIf="loadDone && loadPopularDone && cardContainer.cardComps.length && !broadcast" (onEditQuickCard)="editQuickCard($event)" [cards]="popularCards"
      [disabled]="isSaving" [action]="createDialogFunc"></app-quick-card>
      <app-card-container #quickRepliesContainer [parentViewRef]="viewRef" (change)="onChanged()" [parentPortal]="this"
        [hidden]="cardContainer.cardComps?.length == 0 || broadcast"></app-card-container>
      <app-quick-card [hidden]="!dynamicQuickCardId" [cards]="popularCards" id="{{portalId}}-dynamic-quick-card" 
      *ngIf="!broadcast && loadPopularDone" (onEditQuickCard)="editQuickCard($event)" class="dynamic-quick-card"
      [disabled]="isSaving" [action]="createDialogFunc" [index]="dynamicQuickCardIndex"></app-quick-card>
      <!-- <div class="broadcast-history" *ngIf="broadcast && broadcastHistory && broadcastHistory.length">
        <div class="title">Lịch sử broadcast<i class="fas fa-sync-alt" (click)="loadBroadcastHistory(false)" [class.fa-spin]="loadingHistory"></i></div>
        <div class="broadcast" *ngFor="let history of broadcastHistory">
          <div class="info">
            <span><i class="fas fa-calendar-day"></i>{{history.createdText}}</span>
            <span><span [ngClass]="history.status">{{history.statusText}}</span></span>
          </div>
          <div class="info">
            <span>Đã gửi: {{history.reached}} khách hàng</span>
            <span>Hình thức gửi: {{history.typeText}}</span>
          </div>
        </div>
      </div> -->
    </div>
    <!-- <div class="popular-card" [hidden]="!popularCards || popularCards.length == 0" [class.show-popular]="showPopular">
      <div class="point-icon" (click)="showPopular=!showPopular">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="populcar-card-box"  cdkDropList >
          <button (click)="addCard(card.code)" [cdkDragData]="card" cdkDrag *ngFor="let card of popularCards; let i = index"  mat-button class="btn-grey" [matTooltip]="card.display" matTooltipPosition="above">
            <div class="card-info">
              <i class="{{card.icon}}"></i>
            </div>
            <mat-card class="story-card popular-preview" mat-list-item *cdkDragPreview>
                <app-card-header [icon]="card.icon" [title]="card.display" [note]="card.note" ></app-card-header>
                <mat-card-content>
                    <div class="empty-content"></div>
                </mat-card-content>
            </mat-card>
          </button>
      </div> -->
      <!-- <div class="popular-card-content">
        <app-card-container #cardPopular [parentViewRef]="viewRef" (OnClick)="addCard($event)" [haveTooltip]="true"
        [parentPortal]="this"></app-card-container>
      </div> -->
    <!-- </div> -->
    <div class="portal-footer" [ngClass]="(cardContainer.cardComps.length)?'portal-footer-display':''">
      <!-- <button mat-button class="btn-grey" (click)="scrollToTop()" matTooltip="Lên đầu" matTooltipPosition="above">
        <i class="fas fa-long-arrow-alt-up"></i>
      </button>
      <button mat-button class="btn-grey" (click)="scrollToBottom()" matTooltip="Xuống cuối" matTooltipPosition="above">
        <i class="fas fa-long-arrow-alt-down"></i>
      </button> -->
      <button mat-button class="btn-grey has-text" (click)="openTasks()">
        <i class="fas fa-tasks"></i><span class="text">Quản lý</span>
      </button>
      <button mat-button class="btn-grey has-text" (click)="showStoryInfo()">
        <i class="fas fa-cog"></i><span class="text">Cài đặt</span>
      </button>
      <button mat-button class="btn-grey has-text" (click)="testStory()" [class.sending]="sendingTest">
        <div class="spinner test-spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <i class="fab fa-facebook-messenger"></i><span class="text">Test</span>
      </button>
      <button mat-button class="btn-grey has-text" (click)="sendStory()">
        <i class="fas fa-paper-plane"></i><span class="text">Gửi</span>
      </button>
      
      <button class="btn-blue btn-create-story" mat-raised-button color="primary" [disabled]="isSaving"
      matTooltipPosition="above" (click)="openCreateCardDialog()">
        <i class="fas fa-plus-square"></i><span>Thêm thẻ</span>
      </button>
    </div>
  </div>
</form>