<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-file-code'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
        (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <mat-form-field class="text-input-field">
        <input hlTextArea type="text" #dataControl="ngModel" [(ngModel)]="card.option.data" name="data" matInput placeholder="Nguồn dữ liệu"
          required>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input hlTextArea type="text" #imageControl="ngModel" [(ngModel)]="card.option.mapping.image" name="image" matInput placeholder="Hình ảnh"
          required>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <textarea hlTextArea #titleControl="ngModel" [(ngModel)]="card.option.mapping.title" name="title" matInput placeholder="Tiêu đề" cdkTextareaAutosize required></textarea>

      </mat-form-field>
      <mat-form-field class="text-input-field">
        <textarea hlTextArea #subtitleControl="ngModel" [(ngModel)]="card.option.mapping.subtitle" name="subtitle" matInput placeholder="Mô tả" cdkTextareaAutosize required></textarea>

      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="none">
        <mat-form-field fxFlex="50" class="text-input-field">
          <input hlTextArea type="number" #offsetControl="ngModel" [(ngModel)]="card.option.offset" name="offset" matInput placeholder="Offset"
            min="0">
        </mat-form-field>
        <mat-form-field fxFlex="50" class="text-input-field">
          <input hlTextArea type="number" #limitControl="ngModel" [(ngModel)]="card.option.limit" name="limit" matInput placeholder="Limit" min="0"
            max="9">
          <mat-error *ngIf="limitControl.hasError('max')"> Không được lớn hơn 9 </mat-error>
        </mat-form-field>
      </div>
      <app-button-container #btnContainer [validButtons]="validButtons" [container]="container" [buttons]="card.option.mapping.buttons" (change)="onButtonsChange($event)"
        [disabled]="!cardFrm.enabled" [fullWidth]="true"></app-button-container>
    </form>
  </mat-card-content>
</mat-card>
</div>