<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    
    <!-- <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button> -->
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
      <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above">
        <i class="fas fa-question"></i>
    </button> -->
    <mat-icon class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block">
    <mat-nav-list>
      <app-domain *ngFor="let url of setting?.option" [url]="url"></app-domain>
    </mat-nav-list>
    <mat-list>
      <button class="add-button-quick-reply" [disabled]="this.setting?.option.length >= limitDomain"
        (click)="addDomain()">
          <i class="fas fa-plus"></i> Thêm tên miền
          <i *ngIf="this.setting?.option.length >= limitDomain" [matTooltip]="this.setting?.option.length >= limitDomain?'Số tên miền không được vượt quá ' + limitDomain:''"
            matTooltipPosition="after" class="fas fa-exclamation-triangle warning-icon"></i>
      </button>
    </mat-list>

  </div>
</div>