@import "~customs.scss";
@import "../partner-portal/partner-portal.component";
.portal {
    width: 500px;
}

.text-input-field {
    width: 100%;
}

.mat-divider {
    width: 92%;
    border-top-color: #FAFAFA;
    margin: auto;
}

.text-input-field {
    margin-top: 16px;
    color: $grey-darker;
    textarea {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 8px;
            margin-right: 2px;
        }
        &::-webkit-scrollbar-track {
            background: white;
            border: none;
        }
        &::-webkit-scrollbar-thumb {
            background: $bluegrey-lightest;
            border-radius: 50px;
            transition: all 0.3s ease;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $bluegrey-lighter;
        }
        &::-webkit-scrollbar-thumb:active {
            background: $bluegrey-lighter;
        }
    }
}

::ng-deep.mat-autocomplete-panel {
    margin-top: 2px !important;
}