@import '~customs.scss';
@import './../../app-creation/app-creation.component.scss';

.mat-dialog-container {
    padding: 24px;
}

.btn-publish {
  background: $brand-light;
  color: white;
  margin-right: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 12px;
  i {
    margin-right: 6px;
    display: none;
  }
  &.loading {
    opacity: 0.8;
    pointer-events: none;
    i {
      display: inline-block;
    }
    .text {
      display: none;
    }
  }
  &:hover {
    background: $brand-primary;
  }
}

.template-share-wrapper {
  padding: 12px 12px 0;
  @include custom-scrollbar-grey;
  max-height: 60vh;
}

.template-container {
  pointer-events: none;
  padding: 0;
  height: auto;
  width: 100%;
  .template-name {
    font-size: 14px;
    margin-top: 8px;
  }
}

.button-input-wrapper {
  display: flex;
  .form-input {
    flex: 1 1 auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &[readonly] {
      background: transparent;
    }
  }
  .btn-input {
    border-radius: 2px;
    flex: 0 0 auto;
    height: 40px;
    width: 112px;
    @include btn-primary-background;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
    font-weight: 500;
    ::ng-deep.mat-spinner svg circle {            
      stroke: white;
    }
    &[disabled] {
      background-color: lighten($brand-light, 20%);
    }
  }
}

.shared-user {
  padding: 4px;
  @include flex-align-center;
  .image-wrapper {
    width: 40px;
    padding-bottom: 40px;
  }
  span {
    padding-left: 16px;
    color: $grey-dark;
    font-size: 14px;
  }
  .btn-remove {
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
    margin-left: auto;
    color: $grey-mild;
    &:hover {
      color: $grey-dark;
    }
  }
  &:hover {
    .btn-remove {
      opacity: 1;
    }
  }
}