<div class="row">
  <div class="col-3">
    <div class="template-container">
      <div class="image-wrapper">
        <img src="{{template.image}}" onerror="this.src='assets/img/default-template.png'">
      </div>
      <div class="template-info">
        <div class="template-name">{{template.name}}</div>
      </div>
    </div>
    <button class="btn btn-publish" (click)="publishTemplate()" [class.loading]="publishing$ | async">
      <i class="fas fa-circle-notch fa-spin"></i><span class="text">Publish mẫu</span>
    </button>
  </div>
  <div class="template-share-wrapper col-9">
    <div class="form-input-wrapper">
      <div class="input-title">Chia sẻ bằng link URL</div>
      <div class="button-input-wrapper">
        <input id="link-url" class="form-input" placeholder="Link URL" [(ngModel)]="link" (click)="link?copyId():false"
        [matTooltip]="link?'Nhấp vào để sao chép':'Tạo URL để chia sẻ'" readonly>
        <button class="btn btn-input" (click)="generateLink()" [disabled]="generatingLink">
          <mat-spinner [diameter]="20" *ngIf="generatingLink"></mat-spinner><span *ngIf="!generatingLink">Tạo URL</span></button>
      </div>
    </div>
    <form class="form-input-wrapper" id="email-form">
      <div class="input-title">Chia sẻ qua email</div>
      <div class="button-input-wrapper">
        <input class="form-input" type="email" name="email" placeholder="Nhập email để chia sẻ" [(ngModel)]="email" [readonly]="sharingEmail" required>
        <button class="btn btn-input" type="submit" (click)="shareViaEmail()" [disabled]="sharingEmail"><mat-spinner [diameter]="20" *ngIf="sharingEmail"></mat-spinner><span *ngIf="!sharingEmail">Thêm email</span></button>
      </div>
    </form>
    <div class="form-input-wrapper" *ngIf="template.shareableUser && template.shareableUser.length">
      <div class="input-title">Danh sách được chia sẻ</div>
      <div class="shared-user" *ngFor="let user of template.shareableUser">
        <div class="image-wrapper circle"><img src="{{user.photoURL}}"></div>
        <span>{{user.displayName}}</span>
        <button class="btn btn-remove" [matTooltip]="'Chặn chia sẻ'" (click)="removeShare(user)"><i class="fas fa-times"></i></button>
      </div>
    </div>
  </div>
</div>