<div class="portal">
  <mat-toolbar class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <div class="spinner-wrapper" *ngIf="(loadDone$ | async) && (loading$ | async)"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block pb-5 has-footer" [ngClass]="portalId" [id]="portalId">
    <div class="spinner-wrapper" *ngIf="!(loadDone$ | async)"><mat-spinner [diameter]="30"></mat-spinner></div>
    <ng-container *ngIf="keywordGroups$ | async as keywordGroups">
      <div class="no-content" *ngIf="!keywordGroups.length">
        <div class="no-content-text">
          Chưa có từ khóa nào
        </div>
        <button class="btn-create-qrcode button-remove-overlay" mat-button color='primary' 
        (click)="openKeyword($event, true)">
          Tạo từ khóa mới
        </button>
      </div>
      <ng-container *ngIf="keywordGroups.length">
        <div class="portal-list-group" *ngFor="let keywordGroup of keywordGroups | storyFilter:filter:'keywords':'key'; index as i">
          <div class="portal-list-item" *ngFor="let keyword of keywordGroup.keywords; index as j"
          (click)="openKeyword($event, false, keyword, i)">
            <div class="name">
              <i class="fas fa-language"></i>
              <span [class.quoted]="keyword.type=='text'">{{keyword.key}}</span>
            </div>
            <div class="action-buttons ml-auto">
              <button class="btn-action" [matTooltip]="'Xóa từ khóa'" 
              (click)="removeKeyword(keyword); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
            </div>
          </div>
          <div class="portal-list-item portal-list-final" [class.active]="keywordGroup.story && (openedStory$ | async) == keywordGroup.story._id" 
          (click)="keywordGroup.story?openStory(keywordGroup.story):false">
            <i class="fas fa-chevron-right arrow"></i>
            <div class="name">
              <i class="fas fa-file-alt opened"></i><i class="far fa-file-alt closed"></i>
              <span>{{keywordGroup.story?.name || '[Không có câu chuyện]'}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="portal-footer" [ngClass]="((keywords$ | async)?.length)?'portal-footer-display':''">
    <input class="form-input" [(ngModel)]="filter" placeholder="Lọc mã QR">
    <button mat-button class="btn-grey" (click)="reload(false)" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button class="btn-blue" mat-raised-button color="primary" matTooltipPosition="above"
      (click)="openKeyword($event, false)">
      <i class="fas fa-plus-circle"></i><span>Tạo mã QR</span>
    </button>
  </div> 
</div>