<mat-card class="quick-reply-card" mat-list-item>
  <mat-card-content>
    <form #cardFrm="ngForm">
    </form>
  </mat-card-content>
  <app-button-container [validButtons]="validButtons" [container]="container" [limit]="11" [buttons]="quickReplies"
  (change)="onButtonsChange($event)" isQuickReplyContainer="true" [disabled]="!cardFrm.enabled"></app-button-container>
</mat-card>