@import "~customs.scss";

.evoucher-options {
    @include flex-align-center;
    justify-content: space-between;    
    margin-bottom: 12px;
    ::ng-deep.mat-button-toggle-group {
        height: 40px;
        border-radius: 2px;
        border: 1px solid $grey-light;
        ::ng-deep.mat-button-toggle {
            @include flex-center;
            color: $grey-dark;
            ::ng-deep.mat-button-toggle-button {
                height: 100%;
                ::ng-deep.mat-button-toggle-label-content {
                    line-height: initial;
                    padding: 0 8px;
                    font-size: 13px;
                }
            }
            &.mat-button-toggle-checked {
                background-color: $brand-light;
                color: white;
                ::ng-deep.mat-button-toggle-focus-overlay {
                    display: none;
                }
            }
        }
    }
}

.option-buttons {
    @include flex-align-center;
    .btn-refresh {
        @include btn-icon-transparent;
    }
    .btn-open {
        @include btn-grey-border;
    }
}

.form-select {
	min-width: 0;
	width: 100%;
	flex: 0 0 100%;
	font-size: 14px;
    height: 40px;
    padding: 0;
	color: $grey;
    border: 1px solid $grey-light;
    border-radius: 2px;
    margin-bottom: 12px;
    &[disabled] {
        ::ng-deep.mat-select {
            border: none;
            opacity: 0.6;
        }
    }
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: left;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
                                    padding-left: 8px;
							}
					}
			}
	}
}

.spinner-wrapper {
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}