<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-ticket-alt'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
      [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
      (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <div class="evoucher-options">
        <mat-button-toggle-group name="mode" [(ngModel)]="card.option.mode">
          <mat-button-toggle [disableRipple]="true" value="generate_code">Tạo mã</mat-button-toggle>
          <mat-button-toggle [disableRipple]="true" value="checkout_code">Kích hoạt mã</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="option-buttons">
          <div class="btn btn-refresh" [matTooltip]="'Refresh'" (click)="reload(false)"><i class="fas fa-sync-alt"></i></div>
          <div class="btn btn-open" (click)="openEvoucher(card.option.eVoucherId)">Mở khuyến mãi</div>
        </div>
      </div>
      <div class="form-input-wrapper">
        <input [(ngModel)]="card.option.key" name="key" class="form-input">
        <label>Biến giá trị</label>
      </div>
      <mat-form-field class="form-input-wrapper form-select" *ngIf="card.option.mode=='generate_code'">
        <mat-select [(ngModel)]="card.option.eVoucherId" name="eVoucherId" [style.pointer-events]="loading?'none':'initial'">
            <mat-option *ngFor="let evoucher of evouchers" [value]="evoucher._id">{{evoucher.title}}</mat-option>
        </mat-select>
        <div class="spinner-wrapper" *ngIf="loading"><mat-spinner [diameter]="20"></mat-spinner></div>
        <label [class.floating]="card.option.eVoucherId && cardFrm.enabled">Khuyến mãi</label>
      </mat-form-field>
      <div class="form-input-wrapper" *ngIf="card.option.mode=='checkout_code'">
        <input hlTextArea class="form-input" [(ngModel)]="card.option.code" name="code" required>
        <label [class.floating]="card.option.code && cardFrm.enabled">Mã code cần kiểm tra</label>
      </div>
    </form>
      
  </mat-card-content>
</mat-card>
</div>