@import "~customs.scss";

.portal {
    width: 800px !important
}
.big-portal{
  width: 900px !important
}
.setting-opened {
    ::ng-deep.mat-line {
        color: $brand-primary !important;
    }
    i {
        color: $brand-light !important;
    }
}

.spinner-wrapper {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    z-index: 100;
}

.mat-divider {
    width: 92%;
    border-top-color: $grey-lighter;
    margin: auto;
}

.mat-list-item {
    ::ng-deep.mat-list-item-content {
        padding-right: 0px;
        transition: all 0.3s ease;
    }
    i {
        margin-right: 12px;
        color: $grey;
    }
}

/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.statistics-divider {
    border-top: 1.5px dashed $grey-lighter;
    border-radius: 50%;
    height: 0px;
    width: 94%;
    margin: auto;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    .thumb-table{
      flex: 0 0 130px;
    }
    .date-table{
      flex: 0 0 110px;
    }
    .date-cell-table{
      flex: 0 0 90px;
      padding: 0 10px!important;
     line-height: 1.5;
     font-size: 13px;
     text-align: center;
    }
    .name-cell-table{
       flex: 0 0 140px;
       padding-left: 10px;
       justify-content: flex-start!important;
       align-items: flex-start;
       text-align: left;
    }
    .index-table{
      padding-left: 0;
    }
    .mat-cell img {
      width: 80%;
      max-height: 50px;
    }
    .table-header {
        display: flex;
        min-height: 56px;
        padding: 0px 28px;
        .filter-icon {
            display: flex;
            align-items: center;
            margin-right: 12px;
            color: $grey-mild;
            transition: color 0.3s ease-in-out;
            &.filter-has-value {
                color: $brand-light;
            }
        }
        .mat-form-field {
            width: 33%;
        }
    }
    .table-whole {
        padding: 0px 24px;
        .mat-header-row {
            background: $grey-lighter;
            border: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            .mat-header-cell {
                color: $grey-darker;
                font-weight: bold;
                justify-content: center;
                text-align: center;
                font-size: 13px;
                &:first-child{
                  padding-left: 0;
                }
                &:last-child{
                  padding-right: 0;
                }
            }
        }
        .mat-row {
            border: none;
            padding: 6px 0;
            &:first-child{
              padding-top: 4px;
            }
            .mat-cell {
                color: $grey-darker;
                padding-top: 8px;
                padding-bottom: 8px;
                justify-content: center;
                &:first-child{
                  padding-left: 0;
                }
                &:last-child{
                  padding-right: 0;
                }
            }
        }
        .mat-column-id {
          flex: 0 0 80px;
        }
        .mat-column-success, .mat-column-fail, .mat-column-read, .mat-column-totalSent, .mat-column-sentFailed,.mat-column-readCount,
        .mat-column-storySentRead, .mat-column-sentSuccess, .mat-column-clicked, .mat-column-totalEvents, .mat-column-totalSubscriber,
        .mat-column-totalUnsubscriber {
            max-width: 80px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mat-column-postLink, .mat-column-totalComment, .mat-column-storyType, .mat-column-createdAt{
            max-width: 120px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mat-column-successfulStories, .mat-column-failedStories, .mat-column-used, 
        .mat-column-amount, .mat-column-totalSubscriberAccess, .mat-column-count {
            padding-right: 4px;
            padding-left: 4px;
            line-height: 35px;
            max-height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mat-cell.mat-column-successfulStories, .mat-cell.mat-column-failedStories {
            line-height: 20px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
        ::ng-deep.mat-sort-header-container {
            display: flex;
            align-items: center;
        }
    }
}

.post-link {
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: $brand-light;
    &:visited {
        color: $brand-dark;
    }
}

.mat-paginator {
    padding: 0px 24px 16px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.row-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    &.row-flex-start {
        justify-content: flex-start;
        padding-left: 24px;
    }
    &.subscriber {
        .chart-wrapper:first-child {
            width: 65%;
            padding-left: 8px;
            padding-right: 8px;
        }
        .chart-wrapper:last-child {
            width: 50%;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .chart-wrapper {
        width: 45%;
        padding-left: 24px;
        padding-right: 12px;
        height: 230px;
        &.full {
            width: 86%;
            padding-left: 0;
            padding-right: 0;
        }
        ::ng-deep.total-value {
            color: $brand-primary;
        }
        ::ng-deep.total-label {
            color: $grey-darker;
            font-size: 20px !important;
        }
        ::ng-deep.item-value {
            color: $grey-dark;
            margin-top: 0px;
        }
        ::ng-deep.item-percent {
            font-size: 16px !important;
        }
    }
}

.empty-row {
    margin: 0px 24.5px;
    height: 48px;
    border: 1px solid $grey-light;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: $grey;
    font-size: 14px;
}

.clickable {
    cursor: pointer;
    color: $grey-dark;
    &:hover {
        color: $brand-primary !important;
        i {
            transform: translateX(0);
            opacity: 1;
        }
    }
    i {
        color: $brand-primary;
        margin-left: 8px;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        opacity: 0;
        transform: translateX(-4px)
    }
}
.chart-line{    
    .row-wrapper{
        padding-left: 0;
    }
   
    .body-chart{
      display: block;
    }
    .total-count{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
  }
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}::ng-deep.advanced-pie-legend .legend-items-container .legend-items .legend-item{
    margin-right: 16px !important;
  }
::ng-deep.advanced-pie-legend .legend-items-container .legend-items{
  padding-top:2px;
}
::ng-deep.advanced-pie-legend, ::ng-deep.legend-items-container, ::ng-deep.legend-items {    
    width: 100%;
    overflow-x: hidden !important;
}
/deep/.mat-menu-content {
  display: flex;
  flex-direction: column;
  padding: 0px!important;
  /deep/.mat-checkbox{
    padding: 12px 20px;
    display: flex;
    align-items: center;
    &:hover {
      background: #efefef;
    }
    label{
      margin-bottom: 0!important;
    }
  }
  /deep/.mat-radio-button{
    padding: 12px 20px;
    display: flex;
    align-items: center;
    &:hover {
      background: #efefef;
    }
    label{
      margin-bottom: 0!important;
    }
  }
}
.chart-line-custom{
  .chart-wrapper{
    height: unset!important;
    padding: 0;
  }
}
/deep/.mat-expansion-panel-header-title{
    font-weight: 500;
    color: $grey-dark;
}
.custom-spinner-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
}
.custom-statistic-option{
  /deep/.date-option{
    margin-left: 26px!important;
  }
  /deep/.pick-option{
    margin-right: 16px!important;
  }
}
.number-card {
  flex: 1 1 auto;
  height: 110px;
  padding: 16px 20px;
  margin: 0 12px;
  border-bottom: 6px solid;
  border-radius: 3px;
  background: rgb(68, 68, 68);
  .number {
    font-size: 32px;
    color: $grey-white;
    small {
      margin-left: 8px;
      font-size: 24px;
    }
  }
  .name {
    font-size: 14px;
    color: $grey-lighter;
  }
}

.btn-outline {
  padding: 8px 12px;
  border: 1px solid $grey-mild;
  color: $grey-dark;
  border-radius: 3px;
  font-size: 12px;
  i {
    margin-right: 6px;
  }
  &:hover:not([disabled]) {
    color: $brand-primary;
    border-color: $brand-primary;
  }
  &[disabled] {
    background: $grey-lightest;
  }
}