<div class="portal" [ngClass]="mode=='reactPost'?'big-portal':''" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <div class="top-group-buttons">
      <button class="button-remove-overlay" mat-button [disabled]="!loadDone" (click)="refresh()">
        <i class="fas fa-sync-alt"></i>Refresh
      </button>
    </div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <ng-container *ngIf="mode && mode!='page-post' && mode != 'reactPost' && mode != 'subscriber' && mode != 'story' && mode != 'overview'">
      <statistic-option class="custom-statistic-option"  [mode]="mode" [moreOptions]="moreOptions" [dateSelect]="filter[mode].typeDate" [endDate]="filter[mode].end_date" [startDate]="filter[mode].start_date"  (onTypeDateSelect)="onDateOptionSelect($event,'')"
      (onStartDateChange)="onDateChange($event,'start','')" (onEndDateChange)="onDateChange($event,'end','')"  
      ></statistic-option>
    </ng-container>

    <div class="spinner-wrapper" [hidden]="loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>

    <div *ngIf="result && loadDone">

      <div *ngIf="mode == 'overview'">        

        <div class="d-flex justify-content-end">
          <button class="btn-outline mt-2 mr-2" (click)="syncPosts()" [disabled]="syncingPosts$ | async">
            <i class="fas fa-sync" [class.fa-spin]="syncingPosts$ | async"></i>
            <span *ngIf="!(syncingPosts$ | async)">Đồng bộ</span>
            <span *ngIf="syncingPosts$ | async">Đang đồng bộ...</span>
          </button>
        </div>

        <div class="row-wrapper row-flex-start px-0">
          <div class="number-card" [style.border-color]="overviewNumberScheme.domain[i]" *ngFor="let number of overviewNumberData; index as i">
            <div class="number">
              <span>{{number.value}}</span>
              <small *ngIf="number.value2">/ {{number.value2}}</small>
            </div>
            <div class="name">{{number.name}}</div>
          </div>
          <!-- <ngx-charts-number-card [view]="[760, 150]" [innerPadding]="24" [cardColor]="'#444'" [results]="overviewNumberData" 
          [scheme]="overviewNumberScheme"></ngx-charts-number-card> -->
        </div>
        <div class="row-wrapper">
          <div class="chart-wrapper w-100">
            <ngx-charts-advanced-pie-chart [results]="overviewPieData" [label]="'Tổng bài viết theo loại'" 
            [scheme]="overviewPieScheme"></ngx-charts-advanced-pie-chart>
          </div>
        </div>
    
        <div class="statistics-divider"></div>

        <mat-accordion>
            <mat-expansion-panel ion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>Biểu đồ thống kê tổng quan theo ngày</mat-panel-title>
                </mat-expansion-panel-header>
                <statistic-option *ngIf="loadDone" [dateSelect]="filter[mode].typeDate" [mode]="mode" 
                [moreOptions]="moreOptions" [endDate]="filter[mode].end_date" [startDate]="filter[mode].start_date"  
                (onTypeDateSelect)="onDateOptionSelect($event)"
                (onStartDateChange)="onDateChange($event,'start')" 
                (onEndDateChange)="onDateChange($event,'end')"  
              ></statistic-option>
                <div class="custom-spinner-wrapper" [hidden]="loadChartDone.overview">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
                <div class="chart-line chart-line-custom" *ngIf="loadChartDone.overview">
                  <div class="row-wrapper row-flex-start body-chart">
                    <div class="chart-wrapper">
                                      
                      <ngx-charts-bar-vertical-stacked
                      [view]="[750,420]"
                      [scheme]="overviewChartScheme"
                      [results]="overviewChartData"
                      [legend]="true"
                      xAxis="true"
                      yAxis="true"
                      showXAxisLabel="true"
                      showYAxisLabel="true"
                      xAxisLabel="Ngày"
                      yAxisLabel="Số lượng">
                    </ngx-charts-bar-vertical-stacked>
                    </div>
                  </div>
                </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- INTERACTION -->
      <div *ngIf="mode == 'interaction'">
        <div class="row-wrapper">
          <div class="chart-wrapper">
            <ngx-charts-advanced-pie-chart [results]="interactionSubscriberData" [label]="'Tổng số người đăng ký'" [scheme]="interactionSubscriberScheme">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="chart-wrapper">
            <ngx-charts-advanced-pie-chart [results]="interactionMessageData" [label]="'Tổng số tin nhắn'" [scheme]="interactionMessageScheme">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
        <div class="row-wrapper">
          <ngx-charts-number-card [view]="[760, 150]" [innerPadding]="24" [cardColor]="'#444'" [results]="interactionNumberData" [scheme]="interactionNumberScheme">
          </ngx-charts-number-card>
        </div>

        <div class="statistics-divider"></div>

        <div fxLayout="row" fxLayoutAlign="none" *ngIf="!noTable">
          <div class="table-container" fxFlex="100">
            <div class="table-header">
              <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
              <mat-form-field [color]="'light'">
                <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
              </mat-form-field>
            </div>

            <mat-table class="table-whole" [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="story">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Câu chuyện</mat-header-cell>
                <mat-cell *matCellDef="let element" class="clickable" (click)="openStoryStatistics(element.story, element.name)"> {{element.name}}
                  <i class="fas fa-chevron-right"></i>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="success">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Thành công</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.success}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="fail">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Thất bại</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fail}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="read">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Đã đọc</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.read}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
            <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>

            <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </div>

      <!-- SUBSCRIBER -->
      <div *ngIf="mode == 'subscriber'">

        <div class="row-wrapper subscriber">
          <div class="chart-wrapper">
            <ngx-charts-advanced-pie-chart [results]="subscriberAnalyticData" [label]="'Tổng tất cả người dùng'" [scheme]="subscriberAnalyticScheme">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="chart-wrapper">
            <ngx-charts-advanced-pie-chart [results]="subscriberGenderData" [label]="'Giới tính khách hàng'" [scheme]="subscriberGenderScheme">
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
        <div class="statistics-divider"></div>
        <mat-accordion [multi] = "true">
            <mat-expansion-panel ion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Biểu đồ thống kê tổng người dùng theo ngày
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <statistic-option *ngIf="loadDone" [dateSelect]="filter[mode].subscribeByDay?.typeDate" [mode]="mode" [moreOptions]="moreOptions" [endDate]="filter[mode].subscribeByDay?.end_date" [startDate]="filter[mode].subscribeByDay?.start_date"  (onTypeDateSelect)="onDateOptionSelect($event,'subscribeByDay')"
                (onStartDateChange)="onDateChange($event,'start','subscribeByDay')" (onEndDateChange)="onDateChange($event,'end','subscribeByDay')"  
              ></statistic-option>
                <div class="custom-spinner-wrapper" [hidden]="loadChartDone.subscribeByDay">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
                <div class="chart-line chart-line-custom" *ngIf="loadChartDone.subscribeByDay">
                    <div class="row-wrapper row-flex-start body-chart">
                      <div class="chart-wrapper">
                        <ngx-charts-line-chart [view]="[750,420]" [results]="subscribeByDayData" [scheme]="subscribeByDayScheme" [showGridLines]="false"
                          [showRefLines]="true" [roundDomains]="true" showXAxisLabel="true" [showYAxisLabel]="true" [curve]="curvebasis" 
                          yAxisLabel="Số tương tác" [xAxis]="true" [yAxis]="true"></ngx-charts-line-chart>
                      </div>
                    </div>
                  </div>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="true" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Biểu đồ thống kê theo giới tính
              </mat-panel-title>
            </mat-expansion-panel-header>
            <statistic-option *ngIf="loadDone" [dateSelect]="filter[mode].genderInteraction?.typeDate" [mode]="mode" [moreOptions]="moreOptions" [endDate]="filter[mode].genderInteraction?.end_date" [startDate]="filter[mode].genderInteraction?.start_date"  (onTypeDateSelect)="onDateOptionSelect($event,'genderInteraction')"
            (onStartDateChange)="onDateChange($event,'start','genderInteraction')" (onEndDateChange)="onDateChange($event,'end','genderInteraction')"  
          ></statistic-option>
            <div class="custom-spinner-wrapper" [hidden]="loadChartDone.genderInteraction">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <div class="chart-line chart-line-custom" *ngIf="loadChartDone.genderInteraction">
              <div class="row-wrapper row-flex-start">
                <div class="chart-wrapper" style="height: unset;">
                  <ngx-charts-bar-vertical-stacked [view]="[750,450]" [results]="genderSubcriberInteraction" [scheme]="genderInteractionScheme"
                    showXAxisLabel="true" xAxisLabel="Thời gian" [showYAxisLabel]="true" 
                    yAxisLabel="Số lượng" [xAxis]="true" [yAxis]="true"> 
                  </ngx-charts-bar-vertical-stacked> 
                </div>
              </div>
      
            </div>
  
          </mat-expansion-panel>
          <mat-expansion-panel ion-panel   [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Biểu đồ thống kê theo tương tác người dùng
              </mat-panel-title>
            </mat-expansion-panel-header>
            <statistic-option *ngIf="loadDone" [mode]="mode" [moreOptions]="moreOptions" [dateSelect]="filter[mode].subscriber_interact?.typeDate" [endDate]="filter[mode].subscriber_interact?.end_date" [startDate]="filter[mode].subscriber_interact?.start_date"  (onTypeDateSelect)="onDateOptionSelect($event,'subscriber_interact')"
            (onStartDateChange)="onDateChange($event,'start','subscriber_interact')" (onEndDateChange)="onDateChange($event,'end','subscriber_interact')"  
          ></statistic-option>
            <div class="custom-spinner-wrapper" [hidden]="loadChartDone.subscriber_interact">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <div class="chart-line chart-line-custom" *ngIf="loadChartDone.subscriber_interact">
                <div class="row-wrapper row-flex-start body-chart">
                  <div class="chart-wrapper">
                    <ngx-charts-line-chart [view]="[750,420]" [results]="subscriberInteractionLineData" [scheme]="subscriberInteractionLineScheme" [showGridLines]="false"
                      [showRefLines]="true" [roundDomains]="true" showXAxisLabel="true" [showYAxisLabel]="true" [curve]="curvebasis"
                      yAxisLabel="Số tương tác" [xAxis]="true" [yAxis]="true"></ngx-charts-line-chart>
                  </div>
                </div>
              </div>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bảng thông kê chi tiết người dùng
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="none">
              <div class="table-container" fxFlex="100">
                <div class="table-header">
                  <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
                  <mat-form-field [color]="'light'">
                    <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
                  </mat-form-field>
                </div>
    
                <mat-table class="table-whole" [dataSource]="dataSource" matSort>
    
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Người dùng </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="clickable" (click)="openSubscriber(element.subscriberId)"> {{element.user}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="success">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Thành công </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{element.success}}
                    </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="successfulStories">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Gửi thành công </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.successfulStories"> {{element.successfulStories}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="fail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Thất bại </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fail}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="failedStories">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Gửi thất bại </mat-header-cell>
                    <mat-cell *matCellDef="let element" [matTooltip]="element.failedStories"> {{element.failedStories}} </mat-cell>
                  </ng-container>
    
    
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>
    
                <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
            </div>
            
          </mat-expansion-panel>
        </mat-accordion>
       
 
      
      </div>

      <!-- STORY -->
      <div *ngIf="mode == 'story'">
        <mat-accordion [multi] = "true">
          <mat-expansion-panel   [expanded]="true" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tương tác câu chuyện
              </mat-panel-title>
            </mat-expansion-panel-header>
            <statistic-option *ngIf="loadDone" [mode]="mode" [moreOptions]="moreOptions" [dateSelect]="filter[mode].storyInteraction?.typeDate" [endDate]="filter[mode].storyInteraction?.end_date" [startDate]="filter[mode].storyInteraction?.start_date"  (onTypeDateSelect)="onDateOptionSelect($event,'storyInteraction')"
            (onStartDateChange)="onDateChange($event,'start','storyInteraction')" (onEndDateChange)="onDateChange($event,'end','storyInteraction')"  
          ></statistic-option>
            <div class="custom-spinner-wrapper" [hidden]="loadChartDone.storyInteraction">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <div *ngIf="loadChartDone.storyInteraction" class="chart-line chart-line-custom">
      
              <div class="row-wrapper row-flex-start body-chart">
                <div class="chart-wrapper">
                  <ngx-charts-line-chart [view]="[750,420]" [results]="interactionStoryData" [scheme]="interactionStoryScheme" [showGridLines]="false"
                    [showRefLines]="true" [roundDomains]="true" showXAxisLabel="true" [showYAxisLabel]="true" [curve]="curvebasis"
                    yAxisLabel="Số tương tác" [xAxis]="true" [yAxis]="true"></ngx-charts-line-chart>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="total-count">
                <span>Tổng số tương tác: <strong>{{result.amount}}</strong></span>
              </div>
            </div>
          
          </mat-expansion-panel>
          <mat-expansion-panel ion-panel   [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tổng người nhận câu chuyện hàng ngày
              </mat-panel-title>
            </mat-expansion-panel-header>
            <statistic-option *ngIf="loadDone" [mode]="mode" [moreOptions]="moreOptions" [dateSelect]="filter[mode].unique_subscriber_receive_story?.typeDate" [endDate]="filter[mode].unique_subscriber_receive_story?.end_date" [startDate]="filter[mode].unique_subscriber_receive_story?.start_date"  (onTypeDateSelect)="onDateOptionSelect($event,'unique_subscriber_receive_story')"
            (onStartDateChange)="onDateChange($event,'start','unique_subscriber_receive_story')" (onEndDateChange)="onDateChange($event,'end','unique_subscriber_receive_story')"  
          ></statistic-option>
            <div class="custom-spinner-wrapper" [hidden]="loadChartDone.unique_subscriber_receive_story">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>
            <div *ngIf="loadChartDone.unique_subscriber_receive_story" class="chart-line chart-line-custom">
              <div class="row-wrapper row-flex-start">
                <div class="chart-wrapper">
                    <ngx-charts-line-chart [view]="[750,420]" [results]="uniqueSubcriberReceiveStoryData" [scheme]="uniqueSubcriberReceiveStoryScheme" [showGridLines]="false"
                    [showRefLines]="true" [roundDomains]="true" showXAxisLabel="true" [showYAxisLabel]="true" [curve]="curvebasis"
                    yAxisLabel="Số tương tác" [xAxis]="true" [yAxis]="true"></ngx-charts-line-chart>
                 
                </div>
              </div>
      
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bảng thông kê chi tiết câu chuyện
              </mat-panel-title>
            </mat-expansion-panel-header>
            <statistic-option class="custom-statistic-option" *ngIf="loadDone" [dateSelect]="filter[mode].story?.typeDate" [mode]="mode" [moreOptions]="moreOptions" [endDate]="filter[mode].story?.end_date" [startDate]="filter[mode].story?.start_date"  (onTypeDateSelect)="onDateOptionSelect($event,'story')"
            (onStartDateChange)="onDateChange($event,'start','story')" (onEndDateChange)="onDateChange($event,'end','story')"  
          ></statistic-option>
          <div class="custom-spinner-wrapper" [hidden]="loadChartDone.story">
            <mat-spinner [diameter]="30"></mat-spinner>
          </div>
            <div fxLayout="row" fxLayoutAlign="none" *ngIf="loadChartDone.story">
              <div class="table-container" fxFlex="100">
                <div class="table-header">
                  <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
                  <mat-form-field [color]="'light'">
                    <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
                  </mat-form-field>
                </div>
    
                <mat-table class="table-whole" [dataSource]="dataSource" matSort>
    
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="story">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Câu chuyện </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="clickable" (click)="openStoryStatistics(element.storyId, element.story)"> {{element.story}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="totalSent">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tổng lần gửi </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.totalSent}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="sentSuccess">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Thành công </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.sentSuccess}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="sentFailed">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Thất bại </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.sentFailed}} </mat-cell>
                  </ng-container>
    
                  <ng-container matColumnDef="readCount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Đã đọc </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.readCount}} </mat-cell>
                  </ng-container>
    
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>
    
                <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
            </div>
            
          </mat-expansion-panel>
        </mat-accordion>
       

 
       
      </div>

      <!-- TOPIC -->
      <div *ngIf="mode == 'topic'">
        <div class="row-wrapper">
          <ngx-charts-number-card [view]="[760, 150]" [innerPadding]="24" [cardColor]="'#444'" [results]="topicNumberData" [scheme]="topicNumberScheme">
          </ngx-charts-number-card>
        </div>

        <div class="statistics-divider"></div>

        <div fxLayout="row" fxLayoutAlign="none">
          <div class="table-container" fxFlex="100">
            <div class="table-header">
              <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
              <mat-form-field [color]="'light'">
                <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
              </mat-form-field>
            </div>

            <mat-table class="table-whole" [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Chủ đề </mat-header-cell>
                <mat-cell *matCellDef="let element" class="clickable" (click)="openTopicStatistics(element.topicId, element.name)"> {{element.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="events">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Sự kiện </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.events}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalEvents">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Số sự kiện </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalEvents}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalSubscriber">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Đăng ký </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalSubscriber}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalUnsubscriber">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Hủy đăng ký </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalUnsubscriber}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>

            <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
        <!-- POSTS -->
      <div *ngIf="mode == 'post'">
        <div fxLayout="row" fxLayoutAlign="none">
          <div class="table-container" fxFlex="100">
            <div class="table-header">
              <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
              <mat-form-field [color]="'light'">
                <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
              </mat-form-field>
            </div>

            <mat-table class="table-whole" [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Bài viết </mat-header-cell>
                <mat-cell *matCellDef="let element" class="clickable" (click)="openPostStatistics(element.postId, element.name)"> {{element.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'HH:mm dd-MM-yyyy'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="postLink">
                <mat-header-cell *matHeaderCellDef> Đường dẫn </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a class="post-link" target="_blank" href="{{element.postLink}}">Link</a>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalComment">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Bình luận </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalComment}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="subscriberLength">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Người đăng ký </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subscriberLength}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>

            <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
      <!--React POSTS -->
      <div *ngIf="mode == 'reactPost'" class="post-table">
        <div fxLayout="row" fxLayoutAlign="none">
          <div class="table-container" fxFlex="100">
            <div class="table-header">
              <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
              <mat-form-field [color]="'light'">
                <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
              </mat-form-field>
            </div>

            <mat-table class="table-whole" [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="date">
                <mat-header-cell [ngClass]="'date-table'" *matHeaderCellDef mat-sort-header> Ngày tạo </mat-header-cell>
                <mat-cell [ngClass]="'date-cell-table'" *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy h:mm a'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="thumb">
                <mat-header-cell [ngClass]="'thumb-table'" *matHeaderCellDef mat-sort-header> Hình đại diện </mat-header-cell>
                <mat-cell [ngClass]="'thumb-table'" *matCellDef="let element" > <img src="{{element.thumb}}" >  </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell [ngClass]="'thumb-table'" *matHeaderCellDef mat-sort-header> Tên bài viết </mat-header-cell>
                <mat-cell [ngClass]="'name-cell-table'" *matCellDef="let element" class="clickable" (click)="openStatisticPostal(element.postId)"> {{element.name}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="postLink">
                  <mat-header-cell *matHeaderCellDef> Đường dẫn </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a class="post-link" target="_blank" href="{{element.postLink}}">Link</a>
                  </mat-cell>
                </ng-container>

              <ng-container matColumnDef="totalComment">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Lượt bình luận </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalComment}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalReaction">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Lượt biểu cảm </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalReaction}} </mat-cell>
              </ng-container>
             
              <ng-container matColumnDef="totalUser">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Số người tương tác </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalUser}} </mat-cell>
              </ng-container>
              
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>

            <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
      <!-- PAGE POSTS -->
      <div *ngIf="mode == 'page-post'">
        <div class="row-wrapper row-flex-start">
          <ngx-charts-advanced-pie-chart [results]="reactionNumberData" [label]="'Tương tác khách hàng'" [scheme]="reactionNumberScheme">
          </ngx-charts-advanced-pie-chart>
        </div>

        <div class="row-wrapper row-flex-start">
          <ngx-charts-number-card [view]="[760, 150]" [innerPadding]="24" [cardColor]="'#444'" [results]="pagePostNumberData" [scheme]="pagePostNumberScheme">
          </ngx-charts-number-card>
        </div>

        <div class="statistics-divider"></div>

        <div fxLayout="row" fxLayoutAlign="none">
          <div class="table-container" fxFlex="100">
            <div class="table-header">
              <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
              <mat-form-field [color]="'light'">
                <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
              </mat-form-field>
            </div>

            <mat-table class="table-whole" [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="uid">
                <mat-header-cell *matHeaderCellDef mat-sort-header> UID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.uid}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Họ Tên </mat-header-cell>
                <!-- <mat-cell *matCellDef="let element" class="clickable" (click)="openPostStatistics(element.postId, element.name)"> {{element.name}} </mat-cell> -->
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="reaction">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Reaction </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.reaction}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="comment">
                <mat-header-cell *matHeaderCellDef> Bình luận </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.comment}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="count">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Số lần bình luận </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.count}} </mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>

            <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
      <!-- REFERRALS -->
      <div *ngIf="mode == 'referral'">
        <div class="row-wrapper row-flex-start">
          <ngx-charts-number-card [view]="[250, 150]" [innerPadding]="24" [cardColor]="'#444'" [results]="referralNumberData" [scheme]="referralNumberScheme">
          </ngx-charts-number-card>
        </div>

        <div class="statistics-divider"></div>

        <div fxLayout="row" fxLayoutAlign="none">
          <div class="table-container" fxFlex="100">
            <div class="table-header">
              <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
              <mat-form-field [color]="'light'">
                <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
              </mat-form-field>
            </div>

            <mat-table class="table-whole" [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Đường dẫn </mat-header-cell>
                <mat-cell *matCellDef="let element" class="clickable" (click)="openReferralStatistics(element.referralId, element.name)">
                  {{element.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'HH:mm dd-MM-yyyy'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="storyType">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Loại </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalSubscriberAccess">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Người truy cập </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalSubscriberAccess}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="used">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Đã sử dụng </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.used}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tổng số </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount == 0?'∞':element.amount}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>

            <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
      <!-- SUBSCRIBER INTERACTIVE -->
      <div *ngIf="mode == 'subscriberInteraction'" class="chart-line">
      
        <div class="row-wrapper row-flex-start body-chart">
          <div class="chart-wrapper">
            <ngx-charts-line-chart [view]="[750,420]" [results]="pageInteractionData" [scheme]="subscriberInteractionScheme" [showGridLines]="false"
              [showRefLines]="true" [roundDomains]="true" showXAxisLabel="true" [showYAxisLabel]="true" [curve]="curvebasis"
              yAxisLabel="Số lượng" [xAxis]="true" [yAxis]="true"></ngx-charts-line-chart>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="total-count">
          <span>Tổng số tương tác: <strong>{{result.amount}}</strong></span>
        </div>
      </div>

 

      <!-- BUTTON TAGS -->
      <div *ngIf="mode == 'button'">
        <div class="row-wrapper row-flex-start">
          <ngx-charts-number-card [view]="[250, 150]" [innerPadding]="24" [cardColor]="'#444'" [results]="buttonTagNumberData" [scheme]="buttonTagNumberScheme">
          </ngx-charts-number-card>
        </div>

        <div class="statistics-divider"></div>

        <div fxLayout="row" fxLayoutAlign="none">
          <div class="table-container" fxFlex="100">
            <div class="table-header">
              <i class="filter-icon fas fa-filter" [ngClass]="filterString.length > 0?'filter-has-value':''"></i>
              <mat-form-field [color]="'light'">
                <input matInput [(ngModel)]="filterString" (keyup)="applyFilter($event.target.value)" placeholder="Lọc kết quả">
              </mat-form-field>
            </div>

            <mat-table class="table-whole" [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tên tag </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'HH:mm dd-MM-yyyy'}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="count">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Lần bấm </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.count}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="totalSubscriberAccess">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Người truy cập </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.totalSubscriberAccess}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="empty-row" *ngIf="isEmpty">Không có kết quả</div>

            <mat-paginator [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[10, 25, 50, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
  <!-- GROUP -->
  <div *ngIf="mode == 'group'">
    <div class="custom-spinner-wrapper" [hidden]="loadChartDone.group">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="chart-line chart-line-custom" *ngIf="loadChartDone.group">
        <div class="row-wrapper row-flex-start body-chart">
          <div class="chart-wrapper">
            <ngx-charts-line-chart [view]="[750,420]" [results]="groupData" [scheme]="groupScheme" [showGridLines]="false"
              [showRefLines]="true" [roundDomains]="true" showXAxisLabel="true" [showYAxisLabel]="true" [curve]="curvebasis" 
              yAxisLabel="Số tương tác" [xAxis]="true" [yAxis]="true"></ngx-charts-line-chart>
          </div>
        </div>
      </div>
    
    </div>
  </div>
    </div>
  </div>
