@import '~customs.scss';

.mat-dialog-container {
  padding: 24px;
}

.dialog-title {
  margin: 0 0 12px;
}

.header-text { text-align:right;
  color: $grey-darker;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
  text-align: right;
}

.mid-content {
  padding: 8px;
  max-height: 70vh;
  min-height: 45vh;
  overflow: auto;
  position: relative;
  &::-webkit-scrollbar {
      width: 4px;
      height:1px;
      transition:all .5s;
      z-index:10;
  }
  &::-webkit-scrollbar-track {
      background-color: white;
  }
  &::-webkit-scrollbar-thumb {
      background-color: lighten($brand-light, 10%); 
      border-radius:3px;
  }
  &::-webkit-scrollbar-thumb:hover, &::-webkit-scrollbar-thumb:active {
      background-color: $brand-light; 
  }
}

.mat-grid-list {
  margin: 8px 0px 24px;
  .mat-grid-tile {
    .mat-button {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      background-color: $grey-lightest;
      color: $grey;
      font-size: 15px;
      padding: 0px;
      p {
        margin: 0px !important;
      }
      i {
        font-size: 18px;
        margin-right: 8px;
        margin-bottom: 3px;
      }
      &:hover {
        .button-overlay:not(.active) {
          opacity: 0.2
        }
      }
      .mat-icon {
        color: white;
        visibility: hidden;
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 32px;
      }
      &.button-selected {
        .mat-icon {
          visibility: visible;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
      .button-overlay {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(135deg, $brand-light 40%, $green-A200);
        &.active {
          opacity: 0.6;
        }
      }
    }
  }
}

.category-name {
  font-weight: bold;
  color: $grey;
  padding-left: 8px;
  font-size: 14px;
}

.bottom-btn-group {
  margin: 0 -24px -24px;
}