<div (keydown.enter)="onYesClick()">
  <h2 class="dialog-title">{{data.title}}</h2>
  <div class="mid-content">
    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div [hidden]='!loadDone' *ngFor="let category of data.categories; let i = index">
      <div class="category-name">{{ category.name }}</div>
      <mat-grid-list gutterSize="4px" [cols]="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let option of category.options">
          <button class="button-remove-overlay" mat-button (click)="selectionToggled(option.code, option.item)" (dblclick)="onYesClick()" 
          [ngClass]="option.code == selection?'button-selected':''">
            <img src="{{option.preview}}">
            <div class="button-overlay" [ngClass]="option.code == selection?'active':''"></div>
            <mat-icon>check</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <div class="bottom-btn-group">
    <button mat-raised-button color="primary" class="btn-confirm btn btn-md" (click)="onYesClick()" 
    [ngClass]="data.confirmButtonClass" [disabled]="selection == null">{{data.confirmButtonText}}</button>
  </div>
</div>