<div cdkDropList (cdkDropListDropped)="drop($event)" [ngClass]="fullWidth?'full-width':''">
  <div *ngFor="let buttonComp of buttonComps; let i = index; trackBy: trackByFn" cdkDragLockAxis="y" cdkDrag id="{{containerId + '-' + buttonComp.buttonRefId}}">
  </div>
  <ng-template #buttonViewContainer></ng-template>
</div>
<button class="add-button" *ngIf="!readOnly && !isQuickReplyContainer" [ngClass]="fullWidth?'full-width':''"
  [disabled]="buttonComps.length >= limit || disabled" (click)="addNewButton($event)">
    <i matListIcon class="fas fa-plus-square"></i> Thêm nút
    <i *ngIf="buttonComps.length >= limit" [matTooltip]="buttonComps.length >= limit?'Số nút không được vượt quá ' + limit:''"
      matTooltipPosition="after" class="fas fa-exclamation-triangle warning-icon"></i>
</button>
<button class="add-button-quick-reply" *ngIf="!readOnly && isQuickReplyContainer" [disabled]="buttonComps.length >= limit || disabled"
  (click)="addNewButton($event)">
    <i matListIcon class="fas fa-plus"></i> Thêm nút trả lời nhanh
    <i *ngIf="buttonComps.length >= limit" [matTooltip]="buttonComps.length >= limit?'Số nút không được vượt quá ' + limit:''"
      matTooltipPosition="after" class="fas fa-exclamation-triangle warning-icon"></i>
</button>