@import '~customs.scss';

.mat-dialog-container {
    position: relative;
    overflow: hidden;
    padding: 24px;
}

.alert-wrapper {
    padding: 0;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $grey-mild;
    width: 16px;
    height: 16px;
    background: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    img {
        width: 100%;
    }
    &:hover {
        color: $grey;
    }
    &:focus {
        outline: none;
    }
}

.alert-icon {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
    animation: appear 0.45s ease-in-out;
    img {
        height: 100%;
    }
}

@keyframes appear {
    from {
        opacity: 0.3;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    text-align: center;
    color: $grey-darker;
    font-weight: bold;
    margin: 20px 8px;
}

.subtitle {
    text-align: center;
    color: $grey-dark;
    font-weight: 300;
    margin: 16px 0px 40px;
    word-wrap: break-word;
}

.alert-button-group {
    padding: 24px 12px 4px;
    border-top: 1px solid $grey-lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        color: white;
        border: none;
        padding: 12px 24px;
        min-width: 180px;
        border-radius: 50px;
        font-weight: 500;
        font-size: 16px;
        transition: background 0.2s ease-in-out;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
    .btn-ok {        
        &.success {
            background: $green-300;
            &:hover {
                background: $green-400;
            }
        }
        &.error {
            background: $red-300;
            &:hover {
                background: $red-400;
            }
        }
        &.info {
            background: $cyan-300;
            &:hover {
                background: $cyan-400;
            }
        }
    }
    .btn-confirm {
        margin-right: 8px;
        &.warning {
            background: $amber-400;
            &:hover {
                background: $amber-500;
            }
        }
        &.question {
            background: $deep-purple-200;
            &:hover {
                background: $deep-purple-300;
            }
        }
    }
    .btn-cancel {
        margin-left: 8px;
        background: $grey-mild;
        &:hover {
            background: $grey;
        }
    }
}


@media not all and (min-width: 767px) {
    .title {
        margin: 8px 0;
        font-size: 24px;
    }
    .subtitle {
        margin: 8px 0 28px;
        font-size: 14px;
    }
    .alert-icon {
        height: 80px;
    }
    .alert-button-group {
        flex-direction: column;
        button {
            padding: 10px 20px;
            min-width: 100px;
            font-size: 14px;
        }
        .btn-confirm {
            margin: 0 0 8px;
        }
        .btn-cancel {
            margin: 0;
        }
    }
}