<div class="alert-wrapper">
    <!-- <button class="btn-close button-remove-overlay" (click)="close()"><img src="assets/img/icon-close.svg"></button> -->
    <div class="alert-icon">
        <svg *ngIf="type=='error'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <g>
                <path fill="#FF8A80" d="M21.494,42.5c0.386,0.385,0.868,0.576,1.394,0.576c0.531,0,1.013-0.191,1.397-0.576l7.7-7.701l7.704,7.701   c0.387,0.385,0.867,0.576,1.396,0.576s1.01-0.191,1.396-0.576c0.77-0.771,0.77-2.023,0-2.791l-7.701-7.703l7.701-7.701   c0.77-0.77,0.77-2.02,0-2.791c-0.77-0.77-2.021-0.77-2.793,0l-7.704,7.701l-7.7-7.701c-0.77-0.77-2.021-0.77-2.791,0   c-0.77,0.771-0.77,2.021,0,2.791l7.701,7.701l-7.701,7.703C20.724,40.477,20.724,41.729,21.494,42.5z"/>
                <path fill="#FF8A80" d="M19.859,59.186"/>
                <path fill="#FF8A80" d="M3.206,25.975"/>
                <g>
                    <path fill="#FF8A80" d="M30.552,63.997c-1.406-0.023-2.82-0.137-4.236-0.346c-1.27-0.188-2.15-1.371-1.963-2.643    c0.188-1.273,1.367-2.152,2.643-1.965c7.255,1.063,14.503-0.756,20.396-5.137c5.889-4.379,9.721-10.789,10.789-18.051    c1.418-9.639-2.242-19.088-9.795-25.271c-0.994-0.816-1.139-2.283-0.324-3.277s2.281-1.141,3.277-0.326    c8.695,7.125,13.084,18.449,11.449,29.553c-1.25,8.492-5.73,15.99-12.619,21.111C44.428,61.915,37.588,64.106,30.552,63.997z"/>
                    <path fill="#FF8A80" d="M20.051,62.114c-0.329-0.004-0.663-0.08-0.978-0.232C7.841,56.436,0.724,44.86,0.945,32.391    c0.021-1.283,1.08-2.307,2.365-2.285c0.001,0,0.001,0,0.003,0c1.286,0.021,2.311,1.082,2.288,2.367    C5.412,43.135,11.5,53.034,21.105,57.69c1.158,0.561,1.643,1.953,1.079,3.111C21.776,61.641,20.928,62.127,20.051,62.114z"/>
                    <path fill="#FF8A80" d="M3.208,28.305c-0.158,0-0.32-0.016-0.48-0.051c-1.259-0.264-2.064-1.498-1.801-2.758    C4.03,10.723,17.253,0,32.371,0c2.387,0,4.793,0.271,7.153,0.81c1.254,0.284,2.039,1.532,1.754,2.786s-1.535,2.037-2.787,1.754    c-2.021-0.459-4.08-0.692-6.12-0.692c-12.927,0-24.234,9.166-26.887,21.799C5.253,27.551,4.287,28.305,3.208,28.305z"/>
                    <circle fill="#FF8A80" cx="44.828" cy="5.532" r="2.173"/>
                </g>
            </g>
        </svg>
        <svg *ngIf="type=='info'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <g>
                <g>
                    <path fill="#80DEEA" d="M32.597,16.45c-1.761,0-3.193,1.432-3.193,3.193c0,1.76,1.433,3.191,3.193,3.191    c1.76,0,3.191-1.432,3.191-3.191C35.789,17.881,34.357,16.45,32.597,16.45z"/>
                    <path fill="#80DEEA" d="M32.597,27.624c-1.323,0-2.395,1.072-2.395,2.395v14.367c0,1.322,1.071,2.396,2.395,2.396    c1.322,0,2.395-1.074,2.395-2.396V30.018C34.992,28.696,33.919,27.624,32.597,27.624z"/>
                </g>
                <path fill="#80DEEA" d="M48.06,7.035"/>
                <path fill="#80DEEA" d="M18.369,60.694c-0.359,0-0.723-0.086-1.064-0.262C6.63,54.905,0,44.01,0,32C0,14.356,14.355,0,32,0   c6.168,0,12.156,1.759,17.318,5.086c1.076,0.694,1.387,2.13,0.691,3.206c-0.693,1.078-2.129,1.385-3.205,0.693   C42.394,6.141,37.275,4.638,32,4.638C16.913,4.638,4.638,16.913,4.638,32c0,10.27,5.67,19.586,14.799,24.314   c1.138,0.588,1.582,1.988,0.992,3.125C20.017,60.235,19.208,60.692,18.369,60.694z"/>
                <g>
                    <path fill="#80DEEA" d="M26.023,60.956c2.077,0.463,4.231,0.727,6.449,0.727c2.969,0,5.832-0.443,8.535-1.256"/>
                    <path fill="#80DEEA" d="M32.472,64c-2.283,0-4.623-0.264-6.953-0.781c-1.25-0.277-2.039-1.516-1.76-2.768    c0.276-1.25,1.507-2.043,2.767-1.76c4.741,1.053,9.392,0.84,13.815-0.486c1.225-0.369,2.52,0.326,2.887,1.555    c0.369,1.227-0.328,2.52-1.555,2.887C38.685,63.545,35.587,64,32.472,64z"/>
                </g>
                <path fill="#80DEEA" d="M31.564,48.092"/>
                <path fill="#80DEEA" d="M47.738,59.489c-0.771,0-1.527-0.385-1.967-1.088c-0.68-1.084-0.352-2.516,0.734-3.195   C54.556,50.161,59.363,41.487,59.363,32c0-6.512-2.332-12.824-6.568-17.775c-0.832-0.973-0.719-2.436,0.254-3.268   c0.973-0.834,2.438-0.721,3.27,0.254C61.273,17,64,24.383,64,32c0,11.094-5.619,21.238-15.033,27.135   C48.585,59.375,48.16,59.489,47.738,59.489z"/>
            </g>
        </svg>
        <svg *ngIf="type=='question'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <g>
                <path fill="#B39DDB" d="M8.811,9.967"/>
                <path fill="#B39DDB" d="M17.428,3.519"/>
                <path fill="#B39DDB" d="M41.21,62.652"/>
                <path fill="#B39DDB" d="M34.251,63.917"/>
                <g>
                    <path fill="#B39DDB" d="M40.542,62.749c-0.998,0-1.92-0.648-2.221-1.652c-0.367-1.227,0.328-2.52,1.555-2.887    c11.473-3.443,19.486-14.22,19.486-26.206c0-15.087-12.273-27.362-27.361-27.362c-4.379,0-8.572,1.011-12.461,3.005    C18.4,8.23,17.006,7.781,16.42,6.641c-0.584-1.14-0.133-2.537,1.006-3.121c4.549-2.333,9.453-3.516,14.576-3.516    c17.644,0,31.998,14.355,31.998,32c0,14.019-9.371,26.621-22.791,30.647C40.986,62.717,40.763,62.749,40.542,62.749z"/>
                    <path fill="#B39DDB" d="M31.852,63.997c-0.531,0-1.014-0.012-1.479-0.036c-8.537-0.435-16.393-4.167-22.121-10.512    c-5.729-6.344-8.645-14.538-8.209-23.075c0.42-8.224,3.943-15.881,9.92-21.559c0.928-0.881,2.396-0.845,3.277,0.084    c0.883,0.928,0.846,2.396-0.084,3.278c-5.109,4.855-8.123,11.401-8.48,18.433c-0.373,7.299,2.119,14.307,7.018,19.73    c4.898,5.425,11.617,8.617,18.916,8.989c0.572,0.029,1.186,0.038,1.928,0.022c0.014,0,0.029,0,0.043,0    c1.261,0,2.294,1.01,2.318,2.275c0.021,1.281-0.996,2.338-2.277,2.361C32.352,63.994,32.096,63.997,31.852,63.997z"/>
                </g>
                <path fill="#B39DDB" d="M8.811,9.967"/>
                <path fill="#B39DDB" d="M41.21,62.652"/>
                <path fill="#B39DDB" d="M34.251,63.917"/>
                <path fill="#B39DDB" d="M20.162,23.974c0-1.5,0.482-3.02,1.443-4.558c0.963-1.539,2.369-2.814,4.215-3.824   c1.848-1.01,4.002-1.516,6.465-1.516c2.287,0,4.308,0.423,6.06,1.268c1.752,0.844,3.105,1.992,4.061,3.444s1.432,3.03,1.432,4.735   c0,1.342-0.271,2.518-0.816,3.527c-0.545,1.011-1.191,1.883-1.941,2.616c-0.75,0.734-2.096,1.97-4.037,3.706   c-0.537,0.488-0.967,0.92-1.289,1.29c-0.324,0.371-0.566,0.71-0.723,1.019c-0.158,0.307-0.281,0.615-0.367,0.923   s-0.219,0.849-0.391,1.622c-0.301,1.642-1.24,2.463-2.816,2.463c-0.822,0-1.514-0.27-2.072-0.806   c-0.561-0.536-0.842-1.334-0.842-2.392c0-1.326,0.205-2.474,0.615-3.445c0.412-0.971,0.957-1.822,1.635-2.557   c0.678-0.733,1.594-1.605,2.746-2.616c1.01-0.884,1.74-1.551,2.189-2c0.451-0.45,0.83-0.951,1.137-1.504   c0.309-0.552,0.463-1.151,0.463-1.8c0-1.262-0.471-2.327-1.41-3.196c-0.938-0.868-2.15-1.302-3.632-1.302   c-1.738,0-3.016,0.438-3.836,1.314c-0.822,0.875-1.516,2.166-2.084,3.871c-0.537,1.783-1.555,2.675-3.055,2.675   c-0.883,0-1.629-0.312-2.236-0.935C20.467,25.375,20.162,24.7,20.162,23.974z M31.717,49.923c-0.963,0-1.805-0.312-2.521-0.936   c-0.719-0.623-1.078-1.495-1.078-2.616c0-0.994,0.348-1.83,1.041-2.51c0.695-0.678,1.547-1.018,2.557-1.018   c0.996,0,1.832,0.34,2.511,1.018c0.678,0.68,1.018,1.516,1.018,2.51c0,1.105-0.355,1.973-1.066,2.604   C33.468,49.608,32.646,49.923,31.717,49.923z"/>
            </g>
        </svg>
        <svg *ngIf="type=='success'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
            <g>
                <g>
                    <g>
                        <path fill="#81C784" d="M60.972,8.147c-0.943-0.943-2.479-0.943-3.424,0L30.4,35.188l-6.159-6.135     c-0.947-0.941-2.48-0.941-3.426,0c-0.944,0.941-0.944,2.469,0,3.412l7.873,7.84c0.47,0.471,1.092,0.705,1.712,0.705     c0.618,0,1.236-0.234,1.712-0.705l28.859-28.75C61.919,10.614,61.919,9.086,60.972,8.147z"/>
                    </g>
                </g>
                <path fill="#81C784" d="M31.908,64c-0.495,0-0.991-0.012-1.491-0.035c-6.463-0.291-12.605-2.479-17.765-6.324   c-1.023-0.762-1.234-2.207-0.468-3.227c0.766-1.021,2.218-1.23,3.241-0.467c4.413,3.289,9.671,5.158,15.199,5.41   c7.335,0.332,14.365-2.203,19.789-7.135c5.422-4.934,8.594-11.674,8.926-18.98c0.098-2.107-0.049-4.219-0.432-6.273   c-0.234-1.254,0.596-2.459,1.852-2.691c1.256-0.234,2.467,0.594,2.701,1.848c0.449,2.4,0.617,4.867,0.508,7.326   c-0.391,8.539-4.098,16.416-10.432,22.178C47.568,61.059,39.939,64,31.908,64z"/>
                <path fill="#81C784" d="M7.902,51.622c-0.719,0-1.429-0.332-1.88-0.959c-4.025-5.58-6.106-12.17-6.02-19.059   c0.018-1.418,0.132-2.85,0.336-4.25c0.184-1.26,1.361-2.133,2.625-1.949c1.268,0.184,2.141,1.354,1.958,2.613   c-0.175,1.203-0.271,2.428-0.287,3.643C4.56,37.555,6.341,43.198,9.782,47.969c0.748,1.035,0.51,2.477-0.529,3.221   C8.843,51.483,8.37,51.622,7.902,51.622z"/>
                <path fill="#81C784" d="M4.69,22.096c-0.32,0-0.641-0.066-0.949-0.205C2.575,21.366,2.056,20,2.581,18.838   C5.196,13.065,9.44,8.231,14.849,4.859c5.54-3.453,11.932-5.121,18.483-4.826c3.623,0.163,7.152,0.923,10.492,2.253   c1.188,0.475,1.764,1.819,1.289,3.001c-0.477,1.184-1.826,1.757-3.014,1.283c-2.854-1.141-5.873-1.787-8.979-1.93   C21.8,4.13,11.468,10.446,6.802,20.737C6.416,21.59,5.573,22.096,4.69,22.096z"/>
            </g>
        </svg>
        <svg *ngIf="type=='warning'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="71.006px" height="64px" viewBox="0 0 71.006 64" enable-background="new 0 0 71.006 64" xml:space="preserve">
            <g>
                <g>
                    <circle fill="#FFD54F" cx="35.504" cy="48.705" r="3.021"/>
                    <path fill="#FFD54F" d="M35.504,19.705c-1.666,0-3.02,1.352-3.02,3.021V39.04c0,1.666,1.354,3.021,3.02,3.021    c1.668,0,3.02-1.355,3.02-3.021V22.726C38.523,21.057,37.172,19.705,35.504,19.705z"/>
                </g>
                <g>
                    <path fill="#FFD54F" d="M13.697,36.133c-0.436,0-0.879-0.111-1.283-0.346c-1.23-0.709-1.652-2.283-0.941-3.514L27.398,4.689    c1.725-2.984,4.982-4.824,8.418-4.681c3.176,0.089,6.178,1.883,7.793,4.681l2.18,3.775c0.711,1.23,0.291,2.804-0.941,3.514    c-1.229,0.708-2.803,0.291-3.514-0.941l-2.182-3.776C38.424,6,37.072,5.191,35.627,5.15l-0.123-0.003    c-1.498,0-2.896,0.811-3.65,2.116L15.928,34.846C15.451,35.672,14.588,36.133,13.697,36.133z"/>
                    <path fill="#FFD54F" d="M68.43,57.299c-1.422,0-2.572-1.152-2.572-2.572c0-0.037,0.002-0.088,0.004-0.137    c-0.01-0.717-0.203-1.422-0.561-2.039l-19.953-34.56c-0.711-1.231-0.289-2.804,0.941-3.515c1.229-0.709,2.805-0.291,3.514,0.941    l19.955,34.561c0.818,1.414,1.248,3.029,1.248,4.668L71,54.838C70.941,56.208,69.813,57.299,68.43,57.299z"/>
                    <path fill="#FFD54F" d="M58.951,64H9.355C4.197,64,0,59.805,0,54.647c0-1.631,0.432-3.244,1.246-4.664l5.963-10.326    c0.711-1.23,2.287-1.652,3.516-0.941c1.229,0.709,1.65,2.283,0.941,3.514L5.707,52.551c-0.365,0.635-0.561,1.361-0.561,2.096    c0,2.32,1.889,4.209,4.209,4.209h49.596c1.422,0,2.572,1.15,2.572,2.572C61.523,62.848,60.373,64,58.951,64z"/>
                    <circle fill="#FFD54F" cx="65.385" cy="60.135" r="2.381"/>
                </g>
            </g>
        </svg>
    </div>
    <h2 class="title">{{title}}</h2>
    <p class="subtitle">{{subtitle}}</p>
    <div class="alert-button-group">
        <button class="btn-ok" (click)="close()" [ngClass]="type" *ngIf="type == 'error' || type == 'success' || type == 'info'">{{okText}}</button>
        <button class="btn-confirm" (click)="onYesClick()" [ngClass]="type" *ngIf="type == 'warning' || type == 'question'">{{confirmText}}</button>
        <button class="btn-cancel" (click)="close()" *ngIf="type == 'warning' || type == 'question'">{{cancelText}}</button>
    </div>
</div>