<form #headerFrm="ngForm" fxLayout="row" fxLayoutAlign="none">
  <mat-form-field fxFlex="40" class="text-input-field">
    <input hlTextArea type="text" #propertyControl="ngModel" [(ngModel)]="header.property" name="property" matInput placeholder="Property"
      pattern="^\S+$" required [disabled]="disabled">
     
     
  </mat-form-field>
  <mat-form-field fxFlex="60" class="text-input-field">
    <input hlTextArea type="text" matInput placeholder="Value" [(ngModel)]="header.value" name="value" required [disabled]="disabled">
     
    <button class="button-remove" mat-icon-button matSuffix (click)="parent.removeHeader(header.id)" [disabled]="disabled">
      <mat-icon matTooltip="Xóa" matTooltipPosition="after">cancel</mat-icon>
    </button>
  </mat-form-field>
</form>