<div class="portal ai-portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
        <i class="fas fa-question"></i>
    </button> -->
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block has-footer" [ngClass]="portalId">
    <mat-list>
      <mat-list-item>
        <span class="header-spacer">Sử dung AI</span>
        <mat-slide-toggle [checked]="page?.aiState === 'active'" labelPosition="before" (change)="onSetAIState($event)">Bật</mat-slide-toggle>
      </mat-list-item>
    </mat-list>
    <app-ai-info *ngIf="ai" [portal]="_this" [aiId]="ai._id"></app-ai-info>
    <app-ai-intents *ngIf="ai" [portal]="_this"></app-ai-intents>
  </div>
  <div class="portal-footer portal-footer-display">
    <button mat-button class="test-button"  fxFlex="50%" (click)="changeAIToken()" [disabled]="!ai || ai.type === 'default'">
      <i class="fas fa-key"></i> Thay đổi Token
    </button>
    <button mat-raised-button class="test-button" color="primary" fxFlex="50%" (click)="changeAI()" [disabled]="!ai">
      <i class="fas fa-cogs"></i> Thay đổi AI
    </button>
  </div>
</div>
