@import "~customs.scss";

.portal {
    width: 350px;
}


.frm-table {
    width: 100%;
}
.text-input-field {
    width: 100%;
}
.ai-portal{
    ::ng-deep.mat-card-header-text{
        margin:0;
    }
    ::ng-deep.mat-card{
        padding:16px;
        .mat-card-title {
            font-weight: bold;
            text-transform: uppercase;
            background: transparent;
            color: $brand-dark;
            font-size: 16px;
        }
    }
    .mat-primary {
        color: white!important;
    }
    ::ng-deep.mat-button{
        min-width: unset;
        color:$grey;
    }
    .portal-footer {
        background-color: $grey-lighter;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform-origin: center bottom;
        transform: scaleY(0);
        opacity: 0;
        padding: 0px 4px;
        &.portal-footer-display {
            transform: scaleY(1);
            opacity: 1;
        }
        .test-button {
            min-width: 60px;
            width: 80px;
            margin-right: 5px;
            color: $brand-light;
            &[disabled] {
                color: lighten($brand-light, 15%);
            }
        } 
    }
}

