<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <div class="top-group-buttons">
      <button class="button-remove-overlay" mat-button [disabled]="!loadStoriesDone" (click)="export()">
          <i class="fas fa-download"></i>Xuất file
      </button>
      <button class="button-remove-overlay" mat-button [disabled]="!loadStoriesDone" (click)="refresh()">
        <i class="fas fa-sync-alt"></i>Cập nhật
      </button>
    </div>
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
      <div class="spinner-wrapper" *ngIf="!loadStoriesDone"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div [hidden]="!loadStoriesDone" class="diagram-box" #myDiagramDiv></div>
  </div>
</div>