@import "~customs.scss";

.portal {
  width: 900px;
}

.diagram-box {
  width:100%; 
  height:100%;
  background: white;
  // background: linear-gradient(to bottom, #f5fafe, #ffffff 100%);
}

.portal-content-block {
  &::-webkit-scrollbar {
		height: 9px;
		z-index:10;
  }
}