<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
        <i class="fas fa-question"></i>
    </button> -->
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="portal-section">
      <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
        <div class="portal-section-title">Thông tin app</div>
      </div>
      <mat-form-field class="text-input-field">
        <input type="text" matInput placeholder="Tên" [(ngModel)]="app.name" name="name" readonly>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input type="text" matInput placeholder="App ID" [(ngModel)]="app._id" name="_id" readonly>
        <button mat-button matSuffix mat-icon-button aria-label="Copy" ngxClipboard [cbContent]="app._id">
          <mat-icon>file_copy</mat-icon>
        </button>
      </mat-form-field>
      <button *ngIf="!app.appSecret" mat-raised-button color="primary" (click)="getSecret()"> Lấy App Secret </button>
      <mat-form-field *ngIf="app.appSecret" class="text-input-field">
        <input type="text" matInput placeholder="App Secret" [(ngModel)]="app.appSecret" name="appSecret" readonly>
        <button mat-button matSuffix mat-icon-button aria-label="Copy" ngxClipboard [cbContent]="app.appSecret">
          <mat-icon>file_copy</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="app.partners">
      <div class="portal-section" *ngFor="let partner of app.partners">
        <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
          <div class="portal-section-title" *ngIf="partner.partner == 'innoway'">Innoway CRM</div>
        </div>
        <mat-form-field class="text-input-field">
          <input type="text" matInput placeholder="Partner ID" [(ngModel)]="partner.partnerId" name="partnerId" readonly>
          <button mat-button matSuffix mat-icon-button aria-label="Copy" ngxClipboard [cbContent]="partner.partnerId">
            <mat-icon>file_copy</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="portal-section">
      <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
        <div class="portal-section-title">API Keys</div>
        <div>
          <button class="portal-section-button" (click)="addNewApiKey()" [matTooltip]="'Tạo API Key'">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <mat-form-field class="text-input-field" *ngFor="let key of apiKeys">
        <input type="text" matInput [value]="'AK|'+key._id+'|'+key.accessToken" readonly>
        <button mat-button matSuffix mat-icon-button ngxClipboard [cbContent]="'AK|'+key._id+'|'+key.accessToken" matTooltip="Sao chép">
          <mat-icon>file_copy</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button matTooltip="Làm mới" (click)="revoke(key)">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>