@import '~customs.scss';
$message-border-radius: 20px;
* {
    // transition:all .5s;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.message {
    display:block;
    width:98%;
    padding:0.5%;
    margin: 8px;
    p {
      margin:0;
      white-space: pre-wrap;
    }
    .myMessage, .fromThem {
      transition:all .5s;
      max-width: 80%;
      word-wrap: break-word;
      margin-bottom: 2px;
      position: relative;
      padding: 6px 12px;
      color: white;
      border-radius: $message-border-radius;
      clear: both;
      font-size:13px;
      &.last {
        margin-bottom: 8px;
      }
      .date {
        top: -20px;
        left:auto;
        right:0;
        font-size:12px;
        position:absolute;
        // top: 10px;
        // font-size:14px;
        white-space:nowrap;
        vertical-align:middle;
        color: #8b8b90;
        opacity: 0;
        z-index:4;
        transition:all .5s;
      }
      &.image-message, &.audio-message, &.video-message, &.generic-message, &.list-message {
        padding: 0;
        background: transparent;
        width: 60%;
        .media-container {
          width: 100%;
          float: right;
          border-radius: inherit;
          overflow: hidden;
          border: 1px solid $grey-light;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .image-container {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          audio, img, video {
            width: 100%;
          } 
          .generic-swiper {
            width: 100%;
            &.square {
              .swiper-button-next, .swiper-button-prev {
                top: 180px;
              }
              .element-image {
                height: 370px;
                object-fit: cover;
              }
            }
            .swiper-slide {
              height: auto;
            }
            .swiper-button-next {
              top: 70px;
              right: -4px;
              background-color: white;
              border-radius: 4px;
              width: 40px;
              background-size: 32px 32px !important;
              background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="14" viewBox="0 0 5 14"><path fill="#9E9E9E" d="M4.648 7.5q0 0.102-0.078 0.18l-3.641 3.641q-0.078 0.078-0.18 0.078t-0.18-0.078l-0.391-0.391q-0.078-0.078-0.078-0.18t0.078-0.18l3.070-3.070-3.070-3.070q-0.078-0.078-0.078-0.18t0.078-0.18l0.391-0.391q0.078-0.078 0.18-0.078t0.18 0.078l3.641 3.641q0.078 0.078 0.078 0.18z"></path></svg>');
              &.swiper-button-disabled {
                display: none;
              }
              &:hover {              
                background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="14" viewBox="0 0 5 14"><path fill="#03A9F4" d="M4.648 7.5q0 0.102-0.078 0.18l-3.641 3.641q-0.078 0.078-0.18 0.078t-0.18-0.078l-0.391-0.391q-0.078-0.078-0.078-0.18t0.078-0.18l3.070-3.070-3.070-3.070q-0.078-0.078-0.078-0.18t0.078-0.18l0.391-0.391q0.078-0.078 0.18-0.078t0.18 0.078l3.641 3.641q0.078 0.078 0.078 0.18z"></path></svg>');
              }
            }
            .swiper-button-prev {
              top: 70px;
              left: -4px;
              background-color: white;
              border-radius: 4px;
              width: 36px;
              height: 40px;
              background-size: 32px 32px !important;
              background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="14" viewBox="0 0 5 14"><path fill="#9E9E9E" d="M4.898 4.25q0 0.102-0.078 0.18l-3.070 3.070 3.070 3.070q0.078 0.078 0.078 0.18t-0.078 0.18l-0.391 0.391q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l3.641-3.641q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18z"></path></svg>');
              &.swiper-button-disabled {
                display: none;
              }
              &:hover {              
                background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="14" viewBox="0 0 5 14"><path fill="#03A9F4" d="M4.898 4.25q0 0.102-0.078 0.18l-3.070 3.070 3.070 3.070q0.078 0.078 0.078 0.18t-0.078 0.18l-0.391 0.391q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l3.641-3.641q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18z"></path></svg>');
                color: $brand-light;
              }
            }
            .element-content {
              height: 100%;
            }
            .element-image {
              height: 135px;
              object-fit: cover;
            }
            .element-title {
              color: black;
              padding: 8px 16px 8px 16px;
              margin: 0;
            }
            .element-subtitle {
              color: gray;
              padding: 0px 16px 8px 16px;
              margin: 0;
            }
            .element-buttons {
              width: 100%;
              align-items: flex-end;
              display: flex;
              justify-content: flex-end;
              flex-direction: column;
              flex: auto;
              .element-button {
                width: 100%;
                color: $brand-light;
                border-top: 1px solid $grey-light;
                box-shadow: none;
                background: white;
              }
            }
          }
          .top-element-image {
            position: relative;
            overflow: hidden;
            .top-element-backdrop {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0,0,0,0.3);
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-end;
              padding: 16px;
            }
            .top-element-title {
              margin: 0;
              padding-bottom: 8px;
            }
          }
          .list-elements {
            width: 100%;
            max-width: 100%;
          }
          .list-element {
            border-top: 1px solid $grey-lighter;
            position: relative;
            &:first-child {
              border-top: none;
            }
            .list-element-title {
              color: black;
              margin: 0;
              padding: 8px 16px 4px;
              margin-right: 80px;
            }
            .list-element-subtitle {
              color: gray;
              margin: 0;
              padding: 8px 16px 12px;
              margin-right: 80px;
            }
            .list-element-button {
              margin: 0px 16px 8px;
              padding: 8px;
              background: transparent;
              border: 1px solid $brand-dark;
              color: $brand-primary;
              border-radius: 4px;
            }
            img {
              position: absolute;
              top: 8px;
              right: 16px;
              width: 50px;
              height: 50px;
              object-fit: cover;
            }
          }
        }
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 0;
        }
      }
      &.list-message {
        width: 40%;
      }
    }
    .avatar {
      width: 28px;
      height: 28px;
      position: absolute;
      bottom: 2px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .myMessage {
      background: $brand-primary;
      color: $grey-white;
      float: right;
      clear: both;
      margin-right: 20px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      &.first {
        border-top-right-radius: $message-border-radius;
      }
      &.last {
        border-bottom-right-radius: $message-border-radius;
      }
      .avatar {
        right: -32px;
      }
      .date {
        left: auto;
      }
    }
    .fromThem {
      background: $grey-lighter;
      color: $grey-darkest;
      float: left;
      clear:both;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      &.first {
        border-top-left-radius: $message-border-radius;
      }
      &.last {
        border-bottom-left-radius: $message-border-radius;
      }
      margin-left: 20px;
      .avatar {
        left: -32px;
      }
      .date {
        right: auto;
      }
    }
    
  }