
<div class="message">
  <div [ngClass]="[messageClass, message.isFirst?'first':'', message.isLast?'last':'', type]"
  matTooltip="{{message.created_time | date: 'HH:mm dd-MM-yyyy'}}" matTooltipPosition="{{tooltipPos}}">
    <div class="media-container">
      <div *ngIf="message.isLast" class="avatar" lazy-load-images><img data-src="{{message.avatar}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
      <div class="image-container" *ngIf="messageType === 'image-message'" lazy-load-images><img data-src="{{messageImage}}"></div>
      <audio controls *ngIf="messageType === 'audio-message'">
        <source [src]="messageAudio">
      </audio>
      <video controls *ngIf="messageType === 'video-message'">
        <source [src]="messageVideo">
      </video>
      <swiper *ngIf="messageType === 'generic-message'" class="generic-swiper" [config]="swiperOptions" [ngClass]="messageGeneric.image_aspect_ratio">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let element of messageGeneric.elements">
            <div fxLayout="column" fxLayoutAlign="end stretch" class="element-content" lazy-load-images>
              <img data-src="{{element.image_url}}" onerror="this.src='/assets/img/no-image.svg'" class="element-image">
              <h3 class="element-title">{{element.title}}</h3>
              <p class="element-subtitle">{{element.subtitle}}</p>
              <div class="element-buttons" *ngIf="element.buttons">
                <button [disabled]="true" *ngFor="let button of element.buttons" mat-raised-button class="element-button">{{button.title}}</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination element-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next" [ngClass]="'element-button-next-'+id"></div>
        <div class="swiper-button-prev" [ngClass]="'element-button-prev-'+id"></div>
      </swiper>
      <div class="top-element-image" *ngIf="messageType === 'list-message' && messageList.top_element_style === 'large'" lazy-load-images>
        <img data-src="{{messageList.elements[0].image_url}}" onerror="this.src='/assets/img/no-image.svg'">
        <div class="top-element-backdrop">
          <h3 class="top-element-title">{{messageList.elements[0].title}}</h3>
          <p class="top-element-subtitle">{{messageList.elements[0].subtitle}}</p>
        </div>
      </div>
      <div class="list-elements" *ngIf="messageType === 'list-message'">
        <div class="list-element" *ngFor="let element of messageList.elements; let i=index" lazy-load-images [hidden]="messageList.top_element_style === 'large' && i === 0">
          <h3 class="list-element-title">{{element.title}}</h3>
          <p class="list-element-subtitle">{{element.subtitle}}</p>
          <button class="list-element-button" *ngIf="element.buttons">{{element.buttons[0].title}}</button>
          <img data-src="{{element.image_url}}" onerror="this.src='/assets/img/no-image.svg'">
        </div>
      </div>

    </div>
    <ng-container *ngIf="messageType === 'text-message'">
      <p *ngIf="message.message" [innerHTML]="message.message"></p>
      <p *ngIf="!message.message">[Không thể hiển thị]</p>
    </ng-container>
    
    <!-- <div class="date">
      {{message.created_time | date: 'dd/MM/yyyy HH:mm'}}</div>
  </div> -->
  </div>
</div>
