<div class="cssload-thecube initial-spinner" *ngIf="dashboardSrv.loadingBots$ | async; else appList">
  <div class="cssload-cube cssload-c1"></div>
  <div class="cssload-cube cssload-c2"></div>
  <div class="cssload-cube cssload-c4"></div>
  <div class="cssload-cube cssload-c3"></div>
</div>
<ng-template #appList>
  <div class="app-content row position-relative" id="app-list">
    <ng-container *ngIf="(dashboardSrv.apps$ | async)?.length">
      <div class="col-12">
        <app-list-toolbar></app-list-toolbar>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <app-app-block [mode]="'new'"></app-app-block>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let app of dashboardSrv.apps$ | async 
      | appFilter:(dashboardSrv.appFilter$ | async):(dashboardSrv.appType$ | async); trackBy: trackByFn">
        <app-app-block #appTile [mode]="'instance'" [app]="app" (change)="onAppChanged(app)"></app-app-block>
      </div>
    </ng-container>
    <ng-container *ngIf="!(dashboardSrv.apps$ | async)?.length">
      <a class="col-12 bot-intro-wrapper" [routerLink]="['/add']">
        <img src="assets/img/bot-intro.png">
        <button class="btn btn-add-intro"><i class="fas fa-plus"></i>Bắt đầu tạo app mới</button>
        <p class="desc">Thiết kế ra câu chuyện của riêng bạn.</p>
      </a>
    </ng-container>
  </div>
</ng-template>