@import "~customs.scss";

.app-content {
    padding: 8px;
    text-align: center;
    >* {
        animation: slide-up 0.3s ease-in-out;
    }
}

.bot-intro-wrapper {
    @include flex-center;
    flex-direction: column;
    height: calc(100vh - 130px);
    cursor: pointer;
    text-decoration: none;
    img {
        height: 65%;
    }
    .btn-add-intro {
        background: $brand-light;
        padding: 12px 40px;
        border-radius: 50px;
        font-weight: bold;
        font-size: 15px;
        color: white;
        transition: all 0.5s ease-in-out;
        margin-top: 36px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        i {
            margin-right: 8px;
        }
        &:hover {
            background: $brand-primary;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
            transform: translateY(-4px);
        }
    }
    .desc {
        color: $grey-mild;
        font-size: 14px;
        margin-top: 8px;
    }
}

.cssload-thecube {
	width: 43px;
	height: 43px;
	margin: 0 auto;
	margin-top: 29px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(43,160,199);
	animation: cssload-fold-thecube 2.28s infinite linear both;
		-o-animation: cssload-fold-thecube 2.28s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.28s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.28s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.28s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.285s;
		-o-animation-delay: 0.285s;
		-ms-animation-delay: 0.285s;
		-webkit-animation-delay: 0.285s;
		-moz-animation-delay: 0.285s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.57s;
		-o-animation-delay: 0.57s;
		-ms-animation-delay: 0.57s;
		-webkit-animation-delay: 0.57s;
		-moz-animation-delay: 0.57s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 0.855s;
		-o-animation-delay: 0.855s;
		-ms-animation-delay: 0.855s;
		-webkit-animation-delay: 0.855s;
		-moz-animation-delay: 0.855s;
}