<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Đồng giá (VNĐ)</div>
    <input class="form-input" min="0" name="price" type="number" [(ngModel)]="evoucher.option.price"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper p-0 pb-3" [ngClass]="evoucher.option.applyItemType=='all'?'col-6':'pt-2 col-12'">
    <div class="input-title">Món đồng giá</div>
    <product-picker [applyItemType]="evoucher.option.applyItemType" [applyItems]="evoucher.option.applyItems" [hasAllType]="true"
    [disabled]="disabled" (applyItemsChange)="applyItemsChanged($event)"></product-picker>
  </div>
</div>