<div (keydown.enter)="onYesClick()">
  <h2 class="dialog-title">{{data.title}}</h2>
  <div class="mid-content">
    <!-- <div class="other-option" *ngIf="data.otherOptions">
      <div class="radio-option" *ngIf="data.otherOptions.radio">
        <mat-radio-group [(ngModel)]="otherOptions.radio">
          <mat-radio-button *ngFor="let option of data.otherOptions.radio" [value]="option.code" 
          [disabled]="option.disabled">{{option.display}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="checkbox-option" *ngIf="data.otherOptions.checkbox">
        <mat-checkbox *ngFor="let option of data.otherOptions.checkbox" [value]="option.code"
        [(ngModel)]="otherOptions.checkbox[option.code]">{{option.display}}</mat-checkbox>
      </div>
      <div class="checkbox-option" *ngIf="data.otherOptions.date">
        <mat-checkbox [value]="data.otherOptions.date.hasSchedule"
        [(ngModel)]="otherOptions.date.hasSchedule">{{data.otherOptions.date.display}}</mat-checkbox>
      </div>
      <div class="date-option" *ngIf="data.otherOptions.date" [class.hide-date]="!otherOptions.date.hasSchedule">
          <mat-form-field class="date-input" >
              <input type="hidden" [matDatepicker]="i"  
                    [(ngModel)]="scheduleDate">
              <input matInput placeholder="Ngày gửi" 
              [ngModel]="scheduleDate | date: 'dd/MM/yyyy'" [readonly]="true" required>
              <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
              <mat-datepicker #i></mat-datepicker>
            </mat-form-field>
            <ngb-timepicker [(ngModel)]="scheduleTime" [meridian]="true"></ngb-timepicker>
        </div>
    </div> -->
    <div *ngFor="let category of data.categories; let i = index">
      <div class="category-name" (click)="onExpandClick(i)" *ngIf="data.categories.length > 1" [ngClass]="category.canToggle?'expand-bar':''">
        {{ category.name }} 
        <i class="fas fa-angle-down" [ngClass]="category.defaultToggle?'toggle-icon-spinner':'toggle-icon'" *ngIf="category.canToggle"></i>
      </div>
      <mat-grid-list gutterSize="4px" [cols]="colNum[i]" rowHeight="48px" class="expanding-item" [ngClass]="category.canToggle?category.defaultToggle?'item-expanded':'item-collapsed':''">
        <mat-grid-tile *ngFor="let option of category.options">
          <button class="btn-selection" matRipple (click)="selectionToggled(option.code)" 
          [ngClass]="option.code == selection?'button-selected':''" [disabled]="option.disabled">
              <span *ngIf="!option.image"><i [ngClass]="option.icon"></i>{{ option.display }}</span>
              <img *ngIf="option.image" [src]="option.image">
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <!-- <div class="bottom-btn-group">
    <button mat-raised-button color="primary" class="btn-confirm btn btn-md" (click)="onYesClick()" [ngClass]="data.confirmButtonClass">{{data.confirmButtonText}}</button>
  </div> -->
</div>