@import '~customs.scss';

.mat-dialog-container {
  padding: 24px;
}

.dialog-title {
  color: $brand-light;
  margin: -8px -24px 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $grey-lighter;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.header-text { 
  text-align:right;
  color: $grey-darker;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  @include flex-align-center;
  justify-content: flex-end;
  text-align: right;
}

.mid-content {
  padding: 4px;
  // max-height: 70vh;
  @include custom-scrollbar-grey;
}

.btn-selection {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  @include flex-center;
  background: $grey-lightest;
  color: $grey;
  font-size: 15px;
  font-weight: 500;
  i {
    font-size: 14px;
    margin-right: 8px;
  }
  &:hover {
    background: $grey-lighter;
    color: $brand-light;
  }
  &[disabled] {
    pointer-events: none;
    background: $grey-white;
    color: $grey-light;
  }
}

.mat-grid-list {
  margin: 8px 0px 20px;
  .mat-grid-tile {
    .mat-button {
      width: 100%;
      height: 100%;
      @include flex-center;
      background-color: $grey-lightest;
      color: $grey;
      font-size: 15px;
      p {
        margin: 0px !important;
      }
      i {
        font-size: 15px;
        margin-right: 8px;
        margin-bottom: 3px;
      }
      &:hover {
        color: $brand-light;
      }
      &.button-selected {
        background-color: lighten($brand-light, 20%);
        color: $brand-primary;
        &:hover {
          color: $brand-dark;
        }
      }
      img {
        height: 40px;
      }
      &[disabled] {
        pointer-events: none;
        background-color: $grey-white;
        color: $grey-lighter;
      }
    }
  }
}

.category-name {
  font-weight: bold;
  color: $grey;
  padding-left: 8px;
  font-size: 14px;
  
}
.expand-bar {
  cursor: pointer;
  &:hover {
    color: $grey-darker;
  }
}
.expanding-item {
  transform-origin: center top;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.item-expanded {
  opacity: 1;
  transform: scaleY(1) ; 
  max-height: 500px;
  margin: 8px 0px 20px;
}
.item-collapsed {
  opacity: 0;
  transform: scaleY(0);
  max-height: 0px;
  margin: 4px 0 12px;
}
.toggle-icon {
  font-size: 13px;
  margin-left: 4px;
  transition: transform 0.5s;
  transform: rotate(0deg);
}
.toggle-icon-spinner {
  font-size: 13px;
  margin-left: 4px;
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.hide-date{
  opacity: 0!important;
  height: 0!important;

}

// .date-option {
 
//   justify-content: center;
//   align-items: center;
//   display: flex;
//   color: $grey-dark;
//   margin: 0 8px 16px;
//   border-bottom: 0.5px solid $grey-lighter;
//   opacity: 1;
//   transition: all 0.5s ease-in;
//   height: 100%;
//   /deep/fieldset{
//     border: none;
//     .ngb-tp-spacer{
//       padding: 0 8px;
//     }
//   }
//   >*{
//     width: unset!important;
//     padding: 0 20px!important;
//   }
//   &.date {
//       width: 36%;
//       margin: 0px 8px 0px 20px;
//   }
//   &.time {
//       width: 36%;
//       margin: 0px 8px 0px 20px;
//   }
//   &.checkbox {
//       width: 40%;
//       margin: 4px 0px 4px 24px;
//       justify-content: left;
//   }
//   .mat-form-field {
//       width: 100%;
//   }
// }