<div class="dialog-wrapper">
  <div class="dialog-title">Quản lý người dùng trong luồng {{sequence.name}}</div>
  <div class="spinner-wrapper position-relative" *ngIf="!(loadDone$ | async)">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  <ng-container *ngIf="loadDone$ | async">
    <div class="title d-flex justify-content-between"><span>Câu chuyện trong luồng</span><span>SL chờ gửi</span></div>
    <div class="content mt-1 d-flex justify-content-between" *ngFor="let story of sequence.stories">
      <div><i class="far fa-file-alt"></i><span>{{story.name}}</span></div>
      <div>{{story.pendingSubscribersCount || 0}}</div>
    </div>
    <div class="title mt-2"><span>Danh sách người dùng đang trong luồng ({{sequence.subscribersCount}} người)</span>
    </div>

    <div class="subscriber-list-wrapper mt-2">
      <div class="subscriber-list">
        <input class="form-input" placeholder="Tìm khách hàng" [(ngModel)]="searchText" name="searchText"
          (keydown.enter)="search(); $event.stopPropagation();">
        <i class="fas fa-search search"></i>
        <i class="fas fa-times clear" *ngIf="searchText" (click)="searchText=''; $event.stopPropagation()"></i>
        <div class="subscriber-container">        
          <div class="subscriber-item" *ngFor="let sub of searchText?(subscribers | nameFilter:searchText):(subscribers | slice:0:(limit$ | async))" 
          (click)="toggleSubscriber(sub._id)" [class.active]="(selectedSubscribers$ | async)[sub._id]">
            <div class="avatar image-wrapper circle">
              <img src="{{sub.messengerProfile.profile_pic}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'">
              <i class="fas fa-check check"></i>
            </div>
            <div class="name">{{sub.messengerProfile.name}}</div>
          </div>
          <div class="subscriber-item extra" *ngIf="!searchText && ((limit$ | async) < subscriberCount)" (click)="loadMore()">
            Tải thêm (còn {{subscriberCount - (limit$ | async)}} khách hàng)
          </div>
        </div>
      </div>
    </div>
    
    <button class="btn btn-remove" (click)="removeSubscribers()" [disabled]="!(selectedSubscribersCount$ | async) || (removing$ | async)">
      <span [style.visibility]="(removing$ | async)?'hidden':'visible'">Xoá người dùng khỏi luồng</span>
      <mat-spinner [diameter]="20" *ngIf="transfering"></mat-spinner>
    </button>
  </ng-container>
</div>