@import '~customs.scss';

.dialog-title { 
  font-size: 18px;
  margin: 0 auto 12px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: $grey-dark;
}
.content {
  color: $grey-darker;
  i {
    margin-right: 6px;
    font-size: 14px;
  }
}

.btn-remove {
  margin-top: 4px;
  margin-left: auto;
  height: 40px;
  flex: 0 0 auto;
  font-size: 14px;
  padding: 0 16px;
  font-weight: 500;
  position: relative;
  background: $brand-danger;
  color: white;
  &[disabled] {
    background: $grey-lighter;
    color: $grey;
  }
  ::ng-deep.mat-spinner {
    position: absolute;
    svg circle {                 
      stroke: white;
    }
  }
}

.subscriber-list-wrapper {
  border: 1px solid $grey-light;
  margin-bottom: 12px;
  height: 250px;
  .subscriber-container {
    position: relative;
  }
  .subscriber-list {
    flex-grow: 1;
    border-right: 0;
  }
}

.subscriber-item {
  
  .check {
    visibility: hidden;
    @include flex-center;
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    background: $brand-success;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid $brand-success;
  }
  &.active {
    .check {
      visibility: visible;
    }
  }
}