@import "~customs.scss";

.portal {
  width: 400px;
}

.save-button {
  opacity: 0;
}

.portal-content-block {
  padding: 12px 16px;
  .spinner-wrapper { 
    position: relative;
  }
}

.not-found {
  height: 100px;
}

.portal-title {
  padding: 6px 0;
  font-weight: bold;
  text-transform: uppercase;
  background: transparent;
  color: $brand-light;
  position: relative;
  display: flex;
  align-items: center;
}

.btn-sync {
  background: $grey-white;
  background: $grey-lightest;
  border: 1px solid $grey-mild;
  color: $grey-darker;
  font-size: 13px;
  position: relative;
  &:hover {
    color: $brand-light;
  }
}

.product {
  display: flex;
  border-radius: 2px;
  margin-top: 8px;
  position: relative;
  .product-main {
    display: flex;
    border: 1px solid $grey-light;
    // cursor: pointer;
    flex: 1 1 auto;
    // &:hover {
    //   border-color: $brand-light;
    // }
  }
  // .product-actions {
  //   opacity: 0;
  //   flex: 0 0 32px;
  //   display: flex;
  //   flex-direction: column;
  //   border: 1px solid $grey-light;    
  //   margin-left: 6px;
  //   &.has-topping {
  //     opacity: 1;
  //   }
  //   .btn {
  //     padding: 0;
  //     color: $grey-darker;
  //     width: 32px;
  //     &:hover {
  //       color: $brand-light;
  //     }
  //   }
  //   .btn-toppings {
  //     border-radius: 0;
  //     height: 32px;
  //     border-bottom: 1px solid #E0E0E0;
  //     font-weight: bold;
  //   }
  //   .btn-duplicate {
  //     font-size: 12px;
  //     flex: 1 1 auto;
  //   }
  // }
  .image-container {
    flex: 0 0 68px;
    width: 68px;   
    border-right: 1px solid $grey-light;   
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
  }
  .product-info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 56px;
    justify-content: space-evenly;
    padding: 6px 12px;
    position: relative;
    height: 100%;
    .product-name {
      font-weight: 600;
      color: $grey-darker;
      font-size: 15px;
      line-height: 18px;
      padding-right: 10px;
      margin-top: auto;
    }
    .product-sub {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 13px;
      >* {
        align-self: flex-end;
      }
      .product-description {
        color: $grey;
        line-height: 13px;
        max-height: 25px;
        overflow: hidden;
        &.not-found {
          color: $grey-mild;
          font-style: italic;
          height: auto;
          margin: 0;
          font-size: 13px;
        }
      }
      .product-price {
        font-weight: bold;
        color: $brand-primary;
        text-align: right;
        font-size: 16px;
        line-height: 8px;
        padding-left: 4px;
      }
    }
    // .delete {
    //   color: $grey;
    //   opacity: 0;
    //   position: absolute;    
    //   top: 10px;
    //   right: 12px;
    //   font-size: 13px;
    //   cursor: pointer;
    //   &:hover {
    //     color: $brand-danger;
    //   }
    // }
  }
  // &:hover {
  //   .delete {
  //     opacity: 1 !important;
  //   }
  //   .product-actions {
  //     opacity: 1 !important;
  //   }
  // }
  // &.add {
  //   cursor: pointer;
  //   border: 1px solid $grey-light;   
  //   color: $grey;
  //   font-size: 18px;
  //   .image-container {
  //     @include flex-center;
  //   }
  //   .product-info {
  //     font-weight: 500;
  //     font-size: 15px;
  //   }
  //   &:hover {
  //     color: $brand-light;
  //   }
  // }
}


.btn-load-more {
  color: white;
  background: $brand-light;
  font-size: 13px;
  margin: 20px auto;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 28px;
  i {
    font-size: 12px;
  }
  span {
    margin-left: 4px;
  }
  &:hover {
    background: $brand-primary;
  }
  .spinner-wrapper {
    opacity: 0;
    position: absolute;
    height: 100%;
    ::ng-deep.mat-spinner svg circle {
      stroke: white;
    }
  }
  &.loading {
      pointer-events: none;
      .spinner-wrapper {
        opacity: 1;
      }
      .text {
        opacity: 0;
      }
  }
}