<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button type="button" *ngIf="hasShopChanged" mat-button 
    class="save-button" [class.fade-in]="showSave" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved"><mat-icon>check</mat-icon>Đã lưu</span>
    <div class="spinner-wrapper" *ngIf="loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId" [style.pointer-events]="isSaving?'none':'initial'">

    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>

    <div class="no-content" *ngIf="loadDone && !haravan">
      <div class="no-content-text">
        Chưa có cửa hàng
      </div>
      <button type="button" class="btn-create button-remove-overlay" mat-button color='primary' (click)="createHaravan($event)">
        Tạo cửa hàng
      </button>
    </div>

    <ng-container *ngIf="loadDone && haravan">
      <form>
        <div class="mt-2 d-flex justify-content-between">
          <span class="portal-title">Thông tin chung</span>
        </div>
        <div class="shop-wrapper">
          
          <div class="form-input-wrapper mt-3">
            <input class="form-input" [(ngModel)]="haravan.domain" name="domain" type="text" 
            required (ngModelChange)="shopChanged()">
            <label class="input-title">Tên miền Haravan</label>
          </div>
          <div class="form-input-wrapper mt-3">
            <input class="form-input" [(ngModel)]="haravan.username" name="username" type="text" 
            required (ngModelChange)="shopChanged()">
            <label class="input-title">Tên đăng nhập</label>
          </div>
          <div class="form-input-wrapper mt-3">
            <input class="form-input" [(ngModel)]="haravan.password" name="password" type="password" 
            required (ngModelChange)="shopChanged()">
            <label class="input-title">Mật khẩu</label>
          </div>
          <div class="form-input-wrapper mt-3">
            <input class="form-input" [ngModel]="(haravan.productLastUpdate | date: 'dd/MM/yyyy HH:mm') || '[Chưa có]'" name="productLastUpdate"
            required (ngModelChange)="shopChanged()" readonly>
            <label class="input-title floating">Lần đồng bộ cuối</label>
          </div>

        </div>

      </form>

      <ng-container>
        <div class="mt-2 d-flex justify-content-between">
          <span class="portal-title">Danh sách sản phẩm</span>
          <button class="btn btn-sync" matTooltip="Đồng bộ sản phẩm" (click)="syncProducts()" [disabled]="sycning$ | async">
            <i class="fas fa-sync" [class.fa-spin]="sycning$ | async"></i>
          </button>
        </div>

        <div class="form-input-wrapper mt-2 mb-1" *ngIf="loadDone">
          <input class="form-input" [(ngModel)]="searchText" name="searchText" type="text" 
          (ngModelChange)="searchChanged()" placeholder="Tìm kiếm sản phẩm">
        </div>

        <div class="spinner-wrapper" *ngIf="loadingProducts$ | async">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>

        <ng-container *ngIf="!(loadingProducts$ | async)">
          
          <div class="product-list mb-3" *ngIf="products$ | async as products">
            <div class="product" *ngFor="let product of products; let i = index; trackBy: trackByFn">
              <div class="product-main">
                <div class="image-container"><div class="image-wrapper cover">
                  <img src="{{product.image}}" onerror="this.src='/assets/img/no-image.svg'"></div></div>
                <div class="product-info">
                  <div class="product-name">{{product.name}}</div>
                  <div class="product-sub">
                    <div class="product-description">{{product.categoryName}}</div>
                    <div class="product-price">{{product.price | accounting}}</div>
                  </div>
                  <!-- <i class="fas fa-times delete"></i> -->
                </div>
              </div>
            </div>
            
            <button type="button" class="btn btn-load-more" [class.loading]="loadingMore$ | async" 
            (click)="loadMore()" *ngIf="(total$ | async) - (products$ | async).length">
              <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
              <span class="text">Tải thêm ({{(total$ | async) - (products$ | async).length}} sản phẩm)</span>
            </button>
          </div>
          
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>