<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>Messenger Chat plugin</span>
    <span class="header-spacer"></span>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <!-- <iframe *ngIf="source" [src]="source | safe" style="
          width: 100%;
          height: 100%;
          border: 0;
    "></iframe> -->

      <iframe name="f1c5036c303db4c" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:customerchat Facebook Social Plugin" [src]="source | safe" style="border: none; width:100%; height:100%;" class="" data-testid="dialog_iframe"></iframe>
  </div>
</div>