<div class="image-wrapper" [ngClass]="[imageRatio, isUploading?'uploading':'']" lazy-load-images>
  <div class="image-banner warning" *ngIf="state == 'warning'">
      <span>Link ảnh đang được lưu dưới dạng biến</span>
  </div>
  <!-- <div class="image-banner error" *ngIf="state == 'error'">
      <span>Link ảnh rỗng hoặc bị lỗi</span>
  </div> -->
  <img #image data-src="{{imageSrc}}" (click)="openImage()" onload="imageLoaded($event)" onerror="this.src='/assets/img/error-image.svg'">
  <div class="image-toolbar" (click)="$event.stopPropagation" *ngIf="!hidden">
      <i class="fas fa-link url-icon"></i>
      <input class="image-input" [(ngModel)]="imageSrc" (ngModelChange)="onSourceChanged($event)" 
      [disabled]="disabled || isUploading" [ngModelOptions]="{standalone: true}">
      <button class="upload-button" matTooltip="Tải ảnh từ máy" (click)="fileUploader.click()" 
      [disabled]="disabled || isUploading" type="button">
          <i class="fas fa-upload" *ngIf="!isUploading"></i>
          <i class="fas fa-circle-notch fa-spin" *ngIf="isUploading"></i>
      </button>
      <input [(ngModel)]="files" type="file" accept="image/*" #fileUploader (change)="onChangeImageFile($event)" [hidden]="true" [ngModelOptions]="{standalone: true}">
  </div>
</div>