@import "~customs.scss";

.image-wrapper {
    width: 100%;
    height: 0;
    box-sizing: border-box;
    position: relative;
    
    &:hover, &.uploading  {
        .image-toolbar {
            visibility: visible;
        }
    }
    &.standalone {
        padding-bottom: 40%;
        img {
            border-radius: 4px;
        }
    }
    &.horizontal, &.square {        
        img {
            border-radius: 2px;
        }
    }
    &.horizontal {
        padding-bottom: 56.25%;
    }
    &.square {
        padding-bottom: 100%;
    }
    .image-banner {
        position: absolute;
        top: 10px;
        width: 100%;
        color: white;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-weight: 300;
        pointer-events: none;
        &.warning {
            background: $amber-300;
        }
        &.error {
            background: $red-300;
        }
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .image-toolbar {   
        visibility: hidden; 
        position: absolute;
        bottom: 12px;
        width: 90%;
        left: 5%;
        height: 36px;
        display: flex;
        .url-icon {
            position: absolute;
            left: 8px;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $grey;
        }
        .image-input {
            flex: 1 1 auto;
            width: 100%;
            margin: 0;
            height: 100%;
            border: none;
            padding-left: 28px;
            padding-right: 4px;
            box-sizing: border-box;
            border: 1px solid $brand-light;
            border-right: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            color: $grey-dark;
            &[disabled] {
                background: $grey-lightest;
                color: $grey;
                border-color: $grey-light;
            }
            &:focus {
                outline: none;
            }
        }
        .upload-button {
            flex: 0 0 36px;
            margin: 0;
            float: right;
            background: $brand-light;
            border: none;
            height: 36px;
            cursor: pointer;
            color: white;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            transition: background 0.3s ease-in-out;
            &[disabled] {
                background: lighten($brand-light, 15%) !important;
                color: $grey-white;
                cursor: default;
            }
        }
    }
}