@import "~customs.scss";

.portal {
  width: 450px;
}

.save-button {
  opacity: 0;
}

.not-found {
  height: 100px;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin: 12px auto;
  position: relative;
}

.btn-live-chat {
  font-size: 18px;
  position: absolute;
  height: 100%;
  top: 0;
  right: 15px;
  @include flex-align-center;
  color: $grey-dark;
  text-decoration: none;
  &:hover {
    color: $brand-light;
  }
}

.tags {
  @include flex-center;
  flex-direction: column;
}

.tag {
  margin: 6px auto;
  text-align: center;
  padding: 6px 24px;
  color: white;
  opacity: 0.9;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  &:hover {
    opacity: 1;
    .delete {
      opacity: 1;
    }
  }
}
.delete {
  cursor: pointer;
  opacity: 0;
  font-size: 13px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  right: -6px;
  font-size: 15px;
  transform: translateY(-50%);
  color: $grey;
  background: white;
  &:hover {
    color: $grey-dark;
  }
}
.new {
  background: transparent;
  border: 1.5px solid $brand-light;
  color: $brand-light;
  padding: 0 32px;
  &:hover {
    color: $brand-primary;
    border-color: $brand-primary;
  }
  &.btn {
    margin: 24px auto;
    display: block;
  }
}
.cdk-drag-placeholder {
  opacity: 0;
}
.property {
  position: relative;
  &:hover {
    .delete {
      opacity: 1;
    }
  }
  .delete {
    top: 0;
    right: 8px;
    z-index: 10;
  }
}

.buttons {
  .btn-move {
    background: $grey-lightest;
    border: 1px solid $grey-mild;
    border-right: 0;
    height: 40px;
    font-size: 13px;
    @include flex-center;
    color: $grey;
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:hover {
      color: $brand-light;
    }
    &[disabled] {
      color: $grey-mild;
    }
  }
}

.form-select {
	min-width: 0;
	font-size: 14px;
	height: 40px;
	color: $grey;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
      border-top: 0;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}
.mat-chip {
  background-color: $grey-lighter;
  color: $grey-dark;
  min-height: 29px;
  font-size: 13px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 8px;
  padding-left: 9px;
  cursor: pointer;
}
.mat-chip-remove {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.4;
  margin-left: 4px;
}