<div class="portal position-relative" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <ng-container>
      <button type="button" mat-button 
      class="save-button" [class.fade-in]="showSave" [disabled]="!showSave || isSaving" (click)="saveContent()">
        <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
        <span [hidden]="isSaving">
          <i class="fas fa-save"></i>Lưu</span>
      </button>
      <span class="saved-label" *ngIf="saved"><mat-icon>check</mat-icon>Đã lưu</span>
    </ng-container>
    <div class="spinner-wrapper" *ngIf="loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId" [style.pointer-events]="isSaving?'none':'initial'">
    <div class="tab-buttons">      
      <a class="btn-live-chat" target="_blank" href="{{url}}" matTooltip="Mở Live Chat"><i class="far fa-comment-dots"></i></a>
      <button type="button" class="btn btn-tab" *ngFor="let tab of tabs"
      [class.active]="(currentTab | async) == tab.code" (click)="changeTab(tab.code)">{{tab.display}}</button>
    </div>

    <div class="spinner-wrapper" *ngIf="!(loadDone | async)">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <ng-container *ngIf="loadDone | async">

      <ng-container *ngIf="(currentTab | async) == 'tag'">
        <div class="tags" cdkDropList (cdkDropListDropped)="dropTag($event)">
          <div class="not-found" *ngIf="(subscriberTags | async).length == 0">Chưa có tag</div>
          <div class="tag" *ngFor="let tag of subscriberTags | async" (click)="openTag($event, tag)"
          [style.backgroundColor]="tag.color" cdkDrag [hidden]="tag.mode=='delete'">
            {{tag.name}}
            <i class="fas fa-times-circle delete" (click)="deleteTag(tag); $event.stopPropagation()"></i>
          </div>
          <button class="tag new" mat-button (click)="openTag($event)">
            <i class="fas fa-plus mr-1"></i><span>Thêm mới</span>
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="(currentTab | async) == 'property'">
        <div class="properties mt-4">
          <div class="not-found" *ngIf="(subscriberProperties | async).length == 0">Chưa có thuộc tính</div>
          <div class="property mb-3 d-flex pl-3 pr-3" *ngFor="let property of subscriberProperties | async; let i = index">
            <i class="fas fa-times-circle delete" (click)="deleteProperty(i)"></i>
            <div class="buttons">
              <button class="btn btn-move" (click)="moveUp(i)" [disabled]="i==0"><i class="fas fa-arrow-up"></i></button>
              <button class="btn btn-move" (click)="moveDown(i)" [disabled]="i==(subscriberProperties | async).length - 1"><i class="fas fa-arrow-down"></i></button>
            </div>
            <div class="row m-0">
              <div class="col-7 p-0">
                <div class="form-input-wrapper pb-0">
                  <input class="form-input" [(ngModel)]="property.display"
                  name="property-display-{{i}}" id="property-display-{{i}}" (ngModelChange)="inputChanged()">
                  <label [class.floating]="property.display">Tên hiển thị</label>
                </div>
              </div>
              <div class="col-5 p-0">
                <div class="form-input-wrapper pb-0">
                  <input class="form-input" [(ngModel)]="property.key" [readonly]="property.type=='tel'||property.type=='email'" 
                  name="property-key-{{i}}" id="property-key-{{i}}" (ngModelChange)="inputChanged()">
                  <label [class.floating]="property.key">Biến giá trị</label>
                </div>
              </div>
              <div class="col-12 p-0">
                <mat-form-field class="form-input-wrapper form-select w-100 pb-0 mb-2">
                    <mat-select class="form-input" [(ngModel)]="property.type" name="property-type-{{i}}" 
                    (ngModelChange)="inputChanged(property)">
                        <mat-option *ngFor="let option of propertyTypes" [value]="option.code">{{option.display}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="property.type=='options'">
                  <mat-chip-list class="mt-1">
                    <mat-chip *ngFor="let option of property.options; j as index"
                    (click)="openOption($event, property, option)" removable="true" (removed)="removeOption(property, j)">
                      {{option}}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <mat-chip (click)="openOption($event, property)"><i class="fas fa-plus mr-1"></i><span>Thêm mới</span></mat-chip>
                  </mat-chip-list>
                </ng-container>
              </div>
            </div>
          </div>
          <button class="btn new" mat-button (click)="addNewProperty()">
            <i class="fas fa-plus mr-1"></i><span>Thêm thuộc tính</span>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>