<button class="btn btn-notify" (click)="toggleShow()"><div class="wrapper"><i class="fas fa-bell"></i></div></button>
<div class="notification-container" *ngIf="show" (mousemove)="notificationHovered()">
  <div id="triangle-up"></div>
  <div class="notification-pending">
    <div class="notification-item not-found" *ngIf="!pendingTasks.length">Không có thông báo nào</div>
    <div class="notification-item" *ngFor="let task of pendingTasks; trackBy: trackByFn" [ngClass]="task.processState"
    (click)="task.action?task.action():false">
      <div class="notification-main">
        <div class="icon">
          <ng-container *ngIf="task.type=='test'"><i class="fab fa-facebook-messenger"></i></ng-container>
          <ng-container *ngIf="task.type=='send_story'">
            <i class="fas fa-paper-plane" *ngIf="!task.scheduleAt"></i>
            <i class="fas fa-calendar-alt" *ngIf="task.scheduleAt"></i>
          </ng-container>
          <ng-container *ngIf="task.type=='broadcast'"><i class="fas fa-broadcast-tower"></i></ng-container>
          <mat-progress-spinner
            class="progress"
            [strokeWidth]="3"
            [diameter]="40"
            [color]="'primary'"
            [mode]="(task.value > 0 && !task.scheduleAt)?'determinate':'indeterminate'"
            [value]="task.scheduleAt?100:(task.value?task.value:0)">
          </mat-progress-spinner>
        </div>
        <div class="info">
          <span class="title">{{task.title}}</span>
          <div class="date">{{task.createdAt | date:'HH:mm dd-MM-yyyy'}}</div>
        </div>
      </div>
      <div class="extra" [innerHTML]="task.subtitle | safe:true"></div>
      <div class="error" *ngIf="task.error">{{task.error}}</div>
    </div>
  </div>
</div>
<div class="no-connection" id="no-connection">
  <div class="icon">
    <i class="fas fa-wifi"></i>
  </div>
  <div class="no-connection-text">
    <div class="text"><span>Mạng gặp vấn đề</span><i class="fas fa-times" (click)="closeNoConnection()"></i></div>
    <div class="subtext">Hãy kiểm tra lại Internet và thử lại</div>
  </div>
</div>