@import '~customs.scss';

.btn-notify {
    width: 64px;
    height: 64px;
    color: lighten($brand-light, 30%);
    font-size: 20px;
    padding: 0 0 0 4px;
    .wrapper {
        width: 40px;
        height: 40px;
        border: 1.2px dashed lighten($brand-light, 30%);
        border-radius: 50%;
        @include flex-center;
    }
    &:hover {
        color: white;
        .wrapper {
            border-color: white;
        }
    }
}

.notification-container {
    border-radius: 6px;
    background: white;
    position: absolute;
    top: 72px;
    right: 8px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    animation: slide-up-slightly 0.3s ease-in-out;
}

.notification-pending {
    min-height: 84px;
    max-height: 280px;
    @include custom-scrollbar-grey;
}

@keyframes item-opened {
    0% {
        max-height: 0;
        min-height: 0;
        opacity: 0;
    }
    100% {
        max-height: 150px;
        min-height: 84px;
        opacity: 1;
    }
}

.notification-item {
    // @include flex-align-center;
    font-size: 14px;
    width: 280px;
    min-height: 84px;
    color: $grey;
    padding: 8px;
    border-bottom: 1px solid $grey-lighter;
    animation: item-opened 0.2s ease-in-out;cursor: pointer;
    &:last-child {
        border-bottom: none;
    }
    .notification-main {
        @include flex-align-center;
        height: 40px;
    }
    .icon {
        flex: 0 0 52px;
        width: 52px;
        height: 100%;
        @include flex-center;
        font-size: 16px;
        position: relative;
    }
    .info {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        padding-left: 4px;
        width: calc(100% - 64px);
        .title {
            font-size: 15px;
            font-weight: 500;
            line-height: 24px;
        }
    }
    .date {
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        color: $grey;
    }
    .extra {
        background: $grey-white;
        width: 100%;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        border-radius: 100px;
        // padding: 0 12px;
        margin-top: 4px;
        color: $grey-dark;
        display: flex;
        justify-content: space-evenly;
    }
    .error {
        width: 100%;
        font-weight: 400;
        font-size: 13px;
        color: tomato;
        padding: 0 4px;
        white-space: pre-wrap;
        line-height: 13px;
        font-size: 10px;
        margin-top: 4px;
    }
    .title, .date, .extra {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    ::ng-deep.progress {
        background: transparent;
        position: absolute;
    }   
    &.running, &.IN_PROGRESS {
        color: $amber-400;
        .title {
            color: $amber-400;
        }
        ::ng-deep.progress svg circle {
            stroke: $amber-400;
        }
    }
    &.complete, &.FINISHED {
        color: $green-400;
        .title {
            color: $green-400;
        }
        ::ng-deep.progress svg circle {
            stroke: $green-400;
        }
    }
    &.failed, &.ERROR {
        color: $red-400;
        .title {
            color: $red-400;
        }
        ::ng-deep.progress svg circle {
            stroke: $red-400;
        }
    }
}
#triangle-up {
    position: absolute;
    top: -12px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid white;
    border-radius: 4px;
}

.notification-item.running {
    .title:after {
        content: '.';
        animation: dots 1.5s steps(3, end) infinite;
    }
}

@keyframes dots {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
    100% {
        content: '...';
    }
}

.no-connection {
    position: absolute;
    right: 4px;
    bottom: 8px;
    padding: 12px 20px;
    @include flex-align-center;
    background: $brand-danger;
    color: white;
    z-index: 100;
    border-radius: 4px;
    display: none;
    animation: slide-up-slightly 0.3s ease-in-out;
    .icon {
        font-size: 28px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 8px;
            background: white;
            border: 2.5px solid $brand-danger;
            -webkit-transform: rotate(-48deg) translate(-8px, 6px);
            transform: rotate(-64deg) translate(-10px, 2px);
            border-radius: 8px;
        }
    }
    .no-connection-text {
        padding-left: 12px;
        .text {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            opacity: 0.95;
            @include flex-align-center;
            justify-content: space-between;
            i {
                font-size: 12px;
                opacity: 0.6;
            }
        }
        .subtext {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            opacity: 0.85;
        }
    }
}