  <div class="row-wrapper head-chart-line" >
  <div class="date-option">
      <mat-form-field class="selection-box">
        <mat-select  [ngModel]="dateSelect" (ngModelChange)="onDateOptionSelect($event)">
          <mat-option *ngFor="let date of dateOptions" [value]="date.code">
            <div class="selection-item">
              <div class="item-name">{{date.display}}</div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="pick-option" [class.disabled-date]="dateSelect !=  'custom'" [style.margin-right]="moreOptions[mode]?'34px':'0px'">
   
      <div class="date-name">từ</div>
      <mat-form-field class="date-input" >
        <input type="hidden" [matDatepicker]="i"  
              [ngModel]="startDate" (ngModelChange)="onStartDateChange.emit($event)" name="date-pick">
        <input matInput
        [ngModel]="startDate | date: 'dd/MM/yyyy'" [readonly]="true" >
        <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
        <mat-datepicker #i></mat-datepicker>
      </mat-form-field>

    <div class="date-name">đến</div>
    <mat-form-field class="date-input" >
      <input type="hidden" [matDatepicker]="i2"  
          [ngModel]="endDate" (ngModelChange)="onEndDateChange.emit($event)" name="date-pick">
      <input matInput
      [ngModel]="endDate | date: 'dd/MM/yyyy'" [readonly]="true" >
      <mat-datepicker-toggle matSuffix [for]="i2"></mat-datepicker-toggle>
      <mat-datepicker #i2></mat-datepicker>
    </mat-form-field>
    <button mat-button class="more-option" [matMenuTriggerFor]="menu" *ngIf="moreOptions[mode]">
        <i class="fas fa-bars"></i>
    </button>
    <mat-menu #menu="matMenu" class="triggle-menu" >
      <div class="menu-content-option" *ngIf="moreOptions[mode]?.type=='checkbox'">
          <mat-checkbox *ngFor="let option of moreOptions[mode].options" [ngModel]="option.value" (ngModelChange)="onOptionsChange($event,option.code)">{{option.display}}</mat-checkbox>
      </div>
      <div class="menu-content-option" *ngIf="moreOptions[mode]?.type=='radio'">
          <mat-radio-group [ngModel]="moreOptions[mode].value" (ngModelChange)="onOptionsChange($event,'')">
              <mat-radio-button  *ngFor="let option of moreOptions[mode].options" [value]="option.code">
                  {{option.display}}
              </mat-radio-button>
            </mat-radio-group>
        </div>
     
    </mat-menu>
  </div>
</div>