@import "~customs.scss";
.head-chart-line{
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  .date-option{
      display: flex;
      margin-left: 44px;
      width: 146px;
      button{
          cursor: pointer;
          position: relative;
          background: white;
          border:1px solid $grey-light;
          padding: 6px 8px;
          margin-right: 4px;
          border-radius: 3px;
          color:$grey-dark;
          font-size: 12px;
      }
      .active{
          border:none;
          background: $brand-light;
          color: white;
          &::after{
              content: '';
              position: absolute;
              width: 0;
              bottom: -6px;
              left: 40%;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 6px solid #64b5f6;
          }
      }
  }
  .pick-option{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: flex-end;
    .date-name{
      margin-right: 8px;
      color:$grey-dark;
    }
    .date-input{
      width: 100px;
      margin-right: 8px;
    }
    .more-option {
      cursor: pointer;
      font-size: 18px;
      margin-left: 6px;
      padding: 0;
      min-width: 34px;
      i{
        margin-bottom: 4px;
      }
  }
  }
  .disabled-date{
    mat-form-field {
      pointer-events: none;
      color: $grey;
    }
    svg{
      color: $grey;
    }
  }
}
.row-wrapper{
  width: 100%;
  display: flex;
  align-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}