@import '~customs.scss';

hr {
    width: 96%;
    border-top-color: $grey-white;
    margin: auto;
}
.subscriber-container {
    padding: 4px;
    cursor: pointer;
    &:hover {
        .subscriber-wrapper {
            background: $grey-white;
        }
    }
}
.subscriber-wrapper {
    padding: 0px;
    @include flex-align-center;
    height: 64px;
    width: 100%;
    border-radius: 4px;
    .sub-text {
        flex: 0 0 auto;
        color: $grey;
        font-size: 11.5px;
        display: flex;
        align-items: center;
        padding-right: 8px;
        font-weight: 400 !important;
    }
    .main {
        @include flex-align-center;
        justify-content: space-between;
        width: 100%;
    }
    .subscriber-name {
        flex: 1 1 auto;
        color: $grey-darker;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 400 !important;
        white-space: nowrap;
        @include text-ellipsis(1);
        text-align: left;
        font-size: 14px;
        line-height: 16px;
    }
    .avatar {
        flex: 0 0 54px;
        margin-left: 8px;
        width: 54px !important;
        height: 54px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50% !important;
        background: transparent;
        border: 1.8px solid transparent;
        transition: all 0.3s ease;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50% !important;
            &.default {
                position: absolute;
                z-index: 0;
                padding: 8px !important;
            }
            &.user {
                z-index: 10;
                padding: 4px !important;
            }
        }
    }
    .info {
        flex: 1 1 auto;
        @include flex-align-start;
        flex-direction: column;
        justify-content: center;
    }
    .snippet {
        font-size: 12px;
        color: $grey-dark;
        padding: 0 8px;
        width: 100%;
        line-height: 14px;
        margin-top: 2px;    
        margin-bottom: -4px;
        @include text-ellipsis(2);
        max-height: 28px;
    }
    &.subscriber-opened {
        .subscriber-name {
            color: $brand-primary;
        }
        .avatar {
            border: 1.8px solid $brand-primary;
        }
    }
}
.button-more {
    @include flex-center;
    .test-spinner {
        width: auto;
        margin: auto; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        div {
            width: 8px;
            height: 8px;
            margin: 0 2px;
            background-color: $grey;
        }
    }
}
.number {
    color: $brand-light;
    font-size: 13px;
}
cdk-virtual-scroll-viewport {
    height: 100%;
    animation: none !important;
    >* {
        animation: slide-up 0.2s ease-in-out;
    }
    *{
        box-sizing: border-box;
    }
    @include custom-scrollbar-grey;
}
.no-content {
    position: absolute;
}