<div class="portal" [style.width]="index==0?'300px':'400px'" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>Live chat</span>

    <span class="header-spacer"></span>
    <span class="number" *ngIf="total">Hiển thị {{subscribers.length}} / {{total}}</span>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <!-- <mat-progress-bar *ngIf="progressBar.show && loadDone" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar> -->
  </mat-toolbar>
  <div class="portal-content-block has-footer" >
    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div class="no-content" *ngIf="loadDone && (!subscribers || subscribers.length==0)">
      <div class="no-content-text">
        Chưa có khách hàng tương tác
      </div>
    </div> 
    <cdk-virtual-scroll-viewport itemSize="64">
      <ng-container *cdkVirtualFor="let row of rows">
        <div class="subscriber-container" (click)="showInfo(row)">
          <div class="subscriber-wrapper" [ngClass]="(selectedSubscriber == row._id)?'subscriber-opened':''">
            <div class="avatar" lazy-load-images>
              <img class="user" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"
                data-src="{{row?.messengerProfile?.profile_pic}}">
            </div>
            <div class="info">
              <div class="main">
                <div class="subscriber-name">
                  {{row?.messengerProfile?.name?row?.messengerProfile?.name:(row?.messengerProfile?.first_name + ' ' + row?.messengerProfile?.last_name)}}
                </div>
                <div class="sub-text">{{row?.fromNow}}</div>
              </div>
              <div class="snippet" *ngIf="row.snippet">{{row?.snippet}}</div>
            </div>
          </div>
        </div>

        <hr>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="portal-footer" [ngClass]="firstLoadDone?'portal-footer-display':''">
    <input class="form-input" [(ngModel)]="searchString" placeholder="Tìm kiếm" (ngModelChange)="!searchString?reload():false" (keydown.enter)="reload()">
    <button mat-button class="btn-grey" (click)="refresh()" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button mat-button class="btn-grey" (click)="scrollToTop()"><i class="fas fa-long-arrow-alt-up"></i></button>
    <button mat-button class="btn-grey" matTooltip="Mở Live Chat" (click)="openLiveChat()"><i class="far fa-comment-dots"></i></button>
    <button class="button-more btn-blue" mat-raised-button color="primary" (click)="loadMore()" [disabled]="!loadDone || loadingMore || isMaximum">
      <div class="spinner test-spinner" [style.visibility]="loadingMore?'visible':'hidden'">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <span [style.opacity]="loadingMore?'0':'1'">
        <i class="fas fa-redo-alt"></i><span>Tải thêm</span></span>
    </button>
  
  </div>
</div>