@import "~customs.scss";

.story-section {
    margin: 16px;
    .story-section-title {
        text-transform: uppercase;
        font-weight: bold;
        color: $brand-primary;
        position: relative;
    }
    .story-section-title-wrapper {
        margin-bottom: 24px;
        .story-section-button {
            color: $grey;
            border: none;
            outline: none !important;
            background: none;
            padding: none;
            cursor: pointer;
            &:hover {
                color: $brand-light;
            }
        }
    }
}

.mat-divider {
    margin: 4px auto;
    width: 92%;
    border-top-color: $grey-lighter;
}

.portal-content-block {
    padding: 0 4px;
}