<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <mat-icon class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="!story"><mat-spinner [diameter]="30"></mat-spinner></div>
    <ng-container *ngIf="story">
      <story-info-card [storyId]="storyId" [portal]="_this"></story-info-card>
      <story-keys-card [storyId]="storyId" [portal]="_this"></story-keys-card>
      <story-referral-card [storyId]="storyId" [portal]="_this"></story-referral-card>
    </ng-container>
  </div>
</div>