@import "~customs.scss";
.story-list {    
    margin: 16px;
    border: 1px solid $grey-light;
    border-radius: 4px;
    padding: 8px 0px;
    cursor: pointer;
    &:hover {
        color: $brand-primary;
        border-color: $brand-primary;
    }
    .story-item {        
        padding: 8px 16px;
    }
    .no-story {
        text-align: center;
        padding: 12px;
        color: $grey;
    }
    .loading {
        text-align: center;
        padding: 12px;
        color: $brand-light;
    }
}
.mat-card-header {
    padding: 8px 16px !important;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    color: $brand-dark;
    position: relative;
    display: flex;
    align-items: center;
    ::ng-deep.mat-card-header-text {
        margin: 0px;
    }
    span {        
        font-size: 12px;
        color: $grey-dark;
        position: absolute;
        right: 12px;
        text-transform: none;
        font-weight: 500;
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
            background-color: lighten($brand-light, 30%);
            color: $brand-light;
        }
    }
}