<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
  <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
  (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-book'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
          (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)"></app-card-advanced>
        <mat-card-header>Chuyển tới câu chuyện
          <span (click)="openGetStory()">
            {{selectedStories.length == 0?'Chọn câu chuyện':'Thay đổi'}}
          </span>
        </mat-card-header>
        <div class="story-list" (click)="openGetStory()">
          <ng-container *ngIf="loadingStories">
            <div class="loading"><i class="fas fa-circle-notch fa-spin"></i></div>
          </ng-container>
          <ng-container *ngIf="!loadingStories">
            <div class="no-story" *ngIf="selectedStories.length == 0">Chưa có câu chuyện nào được chọn</div>
            <div class="story-item" *ngFor="let story of selectedStories" [hidden]="selectedStories.length == 0">
              {{story.name}}
            </div>
          </ng-container>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>