@import "~customs.scss";
/deep/.mat-autocomplete-panel{
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $bluegrey-lightest;
    border-radius: 2px;
  }
  &::-webkit-scrollbar {
      margin-right: 2px;
  }
  &::-webkit-scrollbar-track {
      background: white;
      border: none;
  }
  &::-webkit-scrollbar-thumb {
      background: $bluegrey-lightest;
      transition: all 0.3s ease;
  }
  &::-webkit-scrollbar-thumb:hover {
      background: $bluegrey-lighter;
  }
}
