<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Hình thức giảm giá</div>
    <mat-form-field class="form-select">
      <mat-select [(ngModel)]="evoucher.option.unit" name="unit" (ngModelChange)="dataChanged()" [disabled]="disabled">
        <mat-option value="percent">Phần trăm đơn hàng</mat-option>
        <mat-option value="amount">Giảm giá cố định</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">{{evoucher.option.unit == 'percent'?'Phần trăm':'Giá trị'}} giảm giá ({{evoucher.option.unit == 'percent'?'%':'VNĐ'}})</div>
    <input class="form-input" name="discount" type="number" [(ngModel)]="evoucher.option.discount"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>
<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Số hàng tối thiểu</div>
    <input class="form-input" min="0" name="minQty" type="number" [(ngModel)]="evoucher.option.minQty"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Tiền hàng tối thiểu</div>
    <input class="form-input" min="0" name="minAmountOfBill" type="number" [(ngModel)]="evoucher.option.minAmountOfBill"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Giảm giá tối đa</div>
    <input class="form-input" min="0" name="maxDiscount" type="number" [(ngModel)]="evoucher.option.maxDiscount"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>