<div
  [style.width.px]="perLine * (emojiSize + 12) + 12 + 2 + measureScrollbar"
  [ngStyle]="style"
  class="emoji-mart">
  <div class="emoji-mart-bar">
    <emoji-mart-anchors
      [categories]="categories"
      (anchorClick)="handleAnchorClick($event)"
      [color]="color"
      [selected]="selected"
    >
    </emoji-mart-anchors>
  </div>
  <emoji-search
    [i18n]="i18n"
    (search)="handleSearch($event)"
    [include]="include"
    [exclude]="exclude"
    [custom]="custom"
    [autoFocus]="autoFocus"
    [emojisToShowFilter]="emojisToShowFilter"
  >
  </emoji-search>
  <div
    #scrollRef
    class="emoji-mart-scroll"
    (scroll)="handleScroll()"
  >
    <div emoji-category
      *ngFor="let category of categoriesObserver | async; let idx = index; trackBy: categoryTrack"
      #categoryRef
      [id]="category.id"
      [name]="category.name"
      [emojis]="category.emojis"
      [perLine]="perLine"
      [native]="native"
      [hasStickyPosition]="native"
      [i18n]="i18n"
      [hideObsolete]="hideObsolete"
      [custom]="category.id == RECENT_CATEGORY.id ? CUSTOM_CATEGORY.emojis : undefined"
      [recent]="category.id == RECENT_CATEGORY.id ? recent : undefined"

      [emojiNative]="native"
      [emojiSkin]="skin"
      [emojiSize]="emojiSize"
      [emojiSet]="set"
      [emojiSheetSize]="sheetSize"
      [emojiForceSize]="native"
      [emojiTooltip]="emojiTooltip"
      (emojiOver)="handleEmojiOver($event)"
      (emojiLeave)="handleEmojiLeave($event)"
      (emojiClick)="handleEmojiClick($event)"
    >
    </div>

</div>
<!-- <div class="emoji-mart-bar" *ngIf="showPreview">
  <emoji-preview
    #previewRef
    [title]="title"
    [emoji]="previewEmoji"
    [idleEmoji]="emoji"

    [emojiNative]="native"
    [emojiSize]="38"
    [emojiSkin]="skin"
    [emojiSet]="set"
    [emojiSheetSize]="sheetSize"
    [emojiBackgroundImageFn]="backgroundImageFn"
    (skinChange)="handleSkinChange($event)"
  ></emoji-preview>
</div> -->
