<form #myFrm="ngForm">
  <div>
    <button fxFlex="100%" mat-raised-button color="primary" *ngIf="!case.isResponseComment" (click)="enableCommentResponse(true)">Bật trả lời bằng Commnet</button>
    <button fxFlex="100%" mat-raised-button *ngIf="case.isResponseComment" (click)="enableCommentResponse(false)">Tắt trả lời bằng Commnet</button>
  </div>
  <div *ngIf="case.isResponseComment && case.responseComment" class="case-comment" lazy-load-images>
    <mat-form-field class="text-input-field">
      <mat-select placeholder="Trả lời dạng" [(ngModel)]="responseType" name="responseType" (selectionChange)="changeResponseType($event)">
        <mat-option value="message"> Văn bản </mat-option>
        <mat-option value="attachment"> Hình ảnh </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="text-input-field" *ngIf="responseType == 'message'">
      <textarea hlTextArea typeHlText="post-case" #messageControl="ngModel" [(ngModel)]="case.responseComment.message" name="message" matInput placeholder="Tin nhắn" cdkTextareaAutosize></textarea>
      <mat-hint align="end">{{case.responseComment.message?.length}} / 256</mat-hint>
    </mat-form-field>
    <mat-form-field class="text-input-field" *ngIf="responseType == 'attachment'">
      <input #attachmentControl="ngModel" [(ngModel)]="case.responseComment.attachment_url" name="attachmentUrl" matInput placeholder="Hình ảnh đính kèm"
        url>
      <mat-error *ngIf="attachmentControl.hasError('url')"> Vui lòng nhập đúng định dạng </mat-error>
    </mat-form-field>
    <img *ngIf="responseType == 'attachment'" class="case-comment-img" data-src="{{case.responseComment.attachment_url}}" onerror="this.src='/assets/img/no-image.svg'">
  </div>
</form>