@import '~customs.scss';

.mat-dialog-container {
    padding: 24px;
}

.send-dialog-wrapper {
    padding: 0 8px;
}

.preset-section, .select-section, .send-section {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-top: 1px solid $grey-lightest;
    }
}

.title {
    font-weight: 500;
    font-size: 14px;
    color: $grey-dark;
}

.content {
    .text {
        color: $grey-darker;
        font-size: 14px;
        padding-left: 8px;
        display: flex;
        margin-bottom: 2px;
        @include flex-align-center;
        .avatar {
            width: 20px;
            padding-bottom: 20px;
            margin-right: 8px;
            img {
                object-fit: cover;
            }
        }
    }
    .subtext {
        color: $grey;
        font-weight: 300;
        font-size: 12px;
        padding-left: 8px;
    }
}

.select-target-category, .select-content-category {
    margin-top: 12px;
    .category {
        height: 40px;
        padding: 8px;
        border-radius: 1px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        background: $grey-white;
        color: $grey;
        cursor: pointer;
        border: 1px solid $grey-light;
        border-right: 0;
        @include flex-center;
        &:not(:last-child) {
            border-bottom: 0;
        }
        &:hover:not(.active) {
            background: lighten($brand-light, 25%);
            color: $brand-light;
        }
        &.active {
            background: $brand-light;
            color: white;
            border-color: $brand-light;
        }
    }
}

.select-target-list, .select-content-list {
    margin-top: 12px;
    .list-wrapper {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border: 1px solid $grey-light;
        min-height: 220px;
        height: calc(70vh - 200px);
        @include custom-scrollbar-grey;
        >* {
            animation: emerge 0.3s ease-in-out;
        }
    }
}

.content-list {
    height: 100%;
    position: relative;
    input {
        padding: 0 40px;
        height: 40px;
        border: none;
        border-bottom: 1px solid $grey-light;
        &:focus {
            border-color: $grey-light !important;
        }
    }
    i {
        color: $grey;
    }
    .search {
        position: absolute;
        left: 12px;
        top: 12px;
    }
    .clear {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
        &:hover {
            color: $brand-light;
        }
    }
    .content-container {
        height: calc(100% - 40px);
        @include custom-scrollbar-grey;
        .story-item {            
            padding: 6px 10px 4px;
        }
        .story-group-title {
            color: $grey-dark;
            padding: 4px 8px;
            font-size: 13px;
            font-weight: 500;
            animation: emerge 0.3s ease-in-out;
            i {
                margin-right: 8px;
            }
        }
    }
}


.not-found {
    color: $grey;
    width: 100%;
    padding: 24px;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.all-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    white-space: pre;
    color: $grey-dark;
    cursor: pointer;
    i:not(.check) {
        margin-right: 12px;
        display: inline;
        color: $grey;
    }
    i.check {
        margin-right: 12px;
        display: none;
        color: $brand-accent;
    }
    &:hover {
        color: $brand-light;
        i:not(.check) {
            color: $brand-light;
        }
    }
    &.active {
        color: $brand-light;
        i:not(.check) {
            display: none;
        }
        i.check {
            display: inline;
        }
        &:hover {
            color: $brand-primary;
        }
    }
}

.group-item, .label-item, .subscriber-item, .story-item {
    color: $grey-dark;
    cursor: pointer;
    @include flex-align-center;
    font-size: 14px;
    animation: emerge 0.3s ease-in-out;
    &:first-child {
        padding-top: 12px;
    }
    &:last-child {
        padding-bottom: 12px;
    }
    i {
        margin-right: 8px;
        display: inline;
        color: $grey;
        &.check {
            display: none;
        }
    }
    &.active {
        i {
            display: none;
            color: $brand-accent;
            &.check {
                display: inline;
            }
        }
    }
    &.extra {
        color: $grey-dark;
        font-size: 12px;
        font-weight: bold;
    }
    &:hover {
        color: $brand-light;
    }
    .spinner-wrapper { 
        width: 100%;
        height: 20px;
        position: relative;
    }
}

.bottom-button {
    display: flex;
    .success {
        white-space: pre;
        word-break: keep-all;
        margin-left: auto;
        width: 150px;
        padding: 10px 8px;
        color: $green-400;
        font-weight: 500;
        font-size: 15px;
        text-align: right;        
        @include flex-align-center;
        justify-content: flex-end;
        animation: slide-up-slightly 0.3s ease-in-out;
        i {
            margin-right: 8px;
        }
    }
    .btn-send {
        margin-left: auto;
        width: 150px;
        padding: 10px 20px;
        @include flex-center;
        background-color: $green-400;
        color: white;
        font-weight: 500;
        font-size: 15px;
        i {
            margin-right: 8px;
        }
        &:disabled {
            pointer-events: none;
            opacity: 0.6;
        }
        &:hover {
            background-color: $green-500;
        }
        .spinner-wrapper {
            display: none;
            position: relative;
            height: 100%;
            ::ng-deep.mat-spinner svg circle {
                stroke: white;
            }
        }
        &.active {
            pointer-events: none;
            .spinner-wrapper {
                display: inherit;
            }
            .send-text {
                display: none;
            }
        }
        &.schedule {
            background-color: $amber-400;
            &:hover {
                background-color: $amber-500;
            }
        }
    }
    .btn-except {
        margin-right: 8px;
    }
}
.btn-schedule, .btn-except {
    padding: 10px 16px;
    color: $grey;
    font-weight: 500;
    font-size: 14px;
    background: $grey-white;
    i {
        margin-right: 6px;
        &.check {
            color: $brand-accent;
        }
    }
    &:hover {
        color: $brand-light;
    }
}
.btn-random {
    background: 0;
}

.hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}

.schedule-wrapper {
    position: relative;
    display: flex;
    flex: 0 0 0;
}

.input-wrapper {
    &.date {
        flex: 0 0 120px;
        position: relative;
        cursor: pointer;
        i {
            color: $grey;
            position: absolute;
            right: 10px;
            top: 14px;
            font-size: 12px;
        }
        &:hover {
            i {
                color: $brand-light;
            }
        }
    }
    &.time {
        flex: 0 0 64px;
    }
}

.group-item, .label-item, .story-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    padding: 0 12px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-3, .col-9 {
    padding-left: 0;
    padding-right: 0;
}

.spinner-wrapper {
    height: 80%;
}