<div class="send-dialog-wrapper">
    <div class="preset-section row">
        <div class="title col-3">
            <ng-container>Nội dung gửi</ng-container>
        </div>
        <div class="content col-9">
            <div class="text">
                <ng-container *ngIf="selectedStory">{{selectedStory.name}}</ng-container>
                <ng-container *ngIf="!selectedStory">Chưa chọn</ng-container>                
            </div>
            <div class="subtext">{{contentCategory.display}}</div>
        </div>
        <ng-container *ngIf="target">
            <div class="select-content-category col-3" [style.pointer-events]="(sending || success)?'none':''">
                <div class="category" *ngFor="let cat of contentCategories" [class.active]="contentCategory == cat" 
                (click)="setContentCategory(cat)">{{cat.display}}</div>
            </div>
            <div class="select-content-list col-9" [style.pointer-events]="(sending || success)?'none':''">
                <div class="list-wrapper">
                    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="25"></mat-spinner></div>
                    <ng-container *ngIf="loadDone">
                        <div class="content-list">
                            <input class="form-input" placeholder="Tìm kiếm" [(ngModel)]="searchText">
                            <i class="fas fa-search search"></i>
                            <i class="fas fa-times clear" *ngIf="searchText" (click)="searchText=''"></i>
                            <div class="content-container">
                                <div class="not-found" *ngIf="!stories?.length && storyGroups?.length <= 1">Chưa có câu chuyện</div>
                                <div class="story-group-item" *ngFor="let group of storyGroups">
                                    <div class="story-group-title" *ngIf="!group.isDefault && !searchText"><i class="fas fa-folder"></i>{{group.name}}</div>
                                    <div class="story-item" *ngFor="let story of group.stories | nameFilter:searchText" [class.active]="selectedStory==story" (click)="selectedStory=story">
                                        <i class="far fa-circle"></i><i class="fas fa-check-circle check"></i>{{story.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="select-section row">
        <div class="title col-3">
            <ng-container>Đối tượng gửi</ng-container>
        </div>
        <div class="content col-9">
            <div class="text">
                <ng-container *ngIf="targetCategory.code=='all'">
                    Tất cả khách hàng <span *ngIf="loadDone"> ({{totalSubscribers}} khách hàng)</span>
                </ng-container>
                <ng-container *ngIf="targetCategory.code=='group'">
                    <ng-container *ngIf="selectedGroup">{{selectedGroup.name}}</ng-container>
                    <ng-container *ngIf="!selectedGroup">Chưa chọn</ng-container>
                </ng-container>
                <ng-container *ngIf="targetCategory.code=='label'">
                    <ng-container *ngIf="selectedLabel">{{selectedLabel.name}}</ng-container>
                    <ng-container *ngIf="!selectedLabel">Chưa chọn</ng-container>
                </ng-container>
                <ng-container *ngIf="targetCategory.code=='subscriber'">
                    <ng-container *ngIf="selectedSubscribers?.length >= 2">{{selectedSubscribers.length}} khách hàng được chọn</ng-container>
                    <ng-container *ngIf="selectedSubscribers?.length == 1">
                        <div class="avatar image-wrapper circle"><img src="{{selectedSubscribers[0].messengerProfile.profile_pic}}"
                            onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                        {{selectedSubscribers[0].messengerProfile.name}}</ng-container>
                    <ng-container *ngIf="!selectedSubscribers?.length">Chưa chọn</ng-container>
                </ng-container>
                <ng-container *ngIf="targetCategory.code=='psid'">
                    <ng-container *ngIf="psidList && psidList.length">{{psidList.length}} khách hàng</ng-container>
                    <ng-container *ngIf="!psidList || !psidList.length">Chưa có Psid</ng-container>
                </ng-container>
                <ng-container *ngIf="targetCategory.code=='file'">
                    <ng-container *ngIf="psidList && psidList.length">{{file?file.name:(psidList.length + ' khách hàng')}}</ng-container>
                    <ng-container *ngIf="!psidList || !psidList.length">Chưa có dữ liệu CSV</ng-container>
                </ng-container>
            </div>
            <div class="subtext">{{targetCategory.display}}
                <ng-container *ngIf="contentCategory.code=='broadcast'&&(targetCategory.code=='subscriber'||targetCategory.code=='psid')">
                    (Không gửi chế độ broadcast, gửi như câu chuyện thường)
                </ng-container>
            </div>
        </div>
        <ng-container *ngIf="content">
            <div class="select-target-category col-3" [style.pointer-events]="(sending || success)?'none':''">
                <div class="category" *ngFor="let cat of targetCategories" [class.active]="targetCategory == cat" 
                (click)="setTargetCategory(cat)">{{cat.display}}</div>
            </div>
            <div class="select-target-list col-9" [style.pointer-events]="(sending || success)?'none':''">
                <div class="list-wrapper">
                    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="25"></mat-spinner></div>
                    <ng-container *ngIf="loadDone">
                        <ng-container *ngIf="targetCategory.code=='all'">
                            <div class="all-item" [class.active]="allChecked" (click)="allChecked = !allChecked">
                                <i class="far fa-square"></i><i class="fas fa-check-square check"></i>Tất cả khách hàng
                            </div>
                        </ng-container>
                        <ng-container *ngIf="targetCategory.code=='group'">
                            <div class="group-item" *ngFor="let group of groups" [class.active]="selectedGroup==group" (click)="selectedGroup=group">
                                <i class="far fa-circle"></i><i class="fas fa-check-circle check"></i>{{group.name}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="targetCategory.code=='label'">
                            <div class="not-found" *ngIf="!labels?.length">Chưa có nhãn</div>
                            <div class="label-item" *ngFor="let label of labels" [class.active]="selectedLabel==label" (click)="selectedLabel=label">
                                <i class="far fa-circle"></i><i class="fas fa-check-circle check"></i>{{label.name}}
                            </div>
                        </ng-container>
                        <ng-container *ngIf="targetCategory.code=='subscriber'">
                            <div class="subscriber-list-wrapper">
                                <div class="subscriber-list">
                                    <input class="form-input" placeholder="Tìm khách hàng" [(ngModel)]="searchText" (keydown.enter)="search()">
                                    <i class="fas fa-search search"></i>
                                    <i class="fas fa-times clear" *ngIf="searchText" (click)="searchText=''"></i>
                                    <div class="subscriber-container">
                                        <ng-container *ngIf="!searchText">
                                            <div class="subscriber-item" *ngFor="let sub of subscribers" (click)="addSubscriber(sub)">
                                                <div class="avatar image-wrapper circle"><img src="{{sub.messengerProfile.profile_pic}}"
                                                    onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                                                <div class="name">{{sub.messengerProfile.name}}</div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="searchText">
                                            <div class="subscriber-item" *ngFor="let sub of searchedSubscribers" (click)="addSubscriber(sub)">
                                                <div class="avatar image-wrapper circle"><img src="{{sub.messengerProfile.profile_pic}}"
                                                    onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                                                <div class="name">{{sub.messengerProfile.name}}</div>
                                            </div>
                                        </ng-container>
                                        <div class="subscriber-item extra" *ngIf="(!searchText && subscribers.length < totalSubscribers)
                                        || (searchText && (searching || searchedSubscribers.length < totalSearchSubscribers))" (click)="searchText?searchMore():loadMore()">
                                            <div class="name" *ngIf="!loadingMore && !searching">Tải thêm (còn {{searchText?(totalSearchSubscribers - searchedSubscribers.length):(totalSubscribers - subscribers.length)}} khách hàng)</div>
                                            <div class="spinner-wrapper" *ngIf="loadingMore || searching"><mat-spinner [diameter]="15"></mat-spinner></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="selected-subscriber-list">
                                    <div class="title">Danh sách đã chọn</div>
                                    <div>
                                        <div class="subscriber-item" *ngFor="let sub of selectedSubscribers" (click)="removeSubscriber(sub)">
                                            <div class="avatar image-wrapper circle"><img src="{{sub.messengerProfile.profile_pic}}"
                                                onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                                            <div class="name">{{sub.messengerProfile.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="targetCategory.code=='psid'">
                            <div class="subscriber-list-wrapper">
                                <div class="subscriber-psid-list">
                                    <textarea class="psid-text" id="psid-text" placeholder="Nhập dữ liệu PSID ở đây" cdkTextareaAutosize
                                    [(ngModel)]="psidText" cdkAutosizeMinRows="3" (input)="onPsidTextChanged()"></textarea>
                                </div>
                                <div class="selected-subscriber-list">
                                    <div class="title">Danh sách đã chọn</div>
                                    <div class="spinner-wrapper" *ngIf="loadingSubscribers"><mat-spinner [diameter]="25"></mat-spinner></div>                                            
                                    <ng-container *ngIf="!loadingSubscribers">
                                        <div class="subscriber-item" *ngFor="let sub of selectedSubscribers" (click)="removeSubscriber(sub)">
                                            <div class="avatar image-wrapper circle"><img src="{{sub.messengerProfile.profile_pic}}"
                                                onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                                            <div class="name">{{sub.messengerProfile.name}}</div>
                                        </div>
                                        <div class="subscriber-item extra" *ngIf="selectedSubscribers.length && (selectedSubscribers.length < totalSubscribers)" (click)="loadMorePSID()">
                                            <div class="name" *ngIf="!loadingMore">Tải thêm (còn {{totalSubscribers - selectedSubscribers.length}} khách hàng)</div>
                                            <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="15"></mat-spinner></div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="targetCategory.code=='file'">
                            <div class="subscriber-list-wrapper" id="file-wrapper" (paste)="onCSVTextChanged($event)">
                                <div class="file-upload">
                                    <input hidden type="file" #fileInput id="file-input" (change)="fileChanged($event)" name="file"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                    <ng-container *ngIf="file || csvText">                                        
                                        <div class="title">{{file?'Tên file':'Dữ liệu CSV'}}</div>
                                        <div class="file-name">
                                            <span>{{file?file.name:csvText}}</span>
                                            <i class="fas fa-times" (click)="resetCSV()"></i>
                                        </div>
                                        <div class="title">Danh sách Context</div>
                                        <div class="context" *ngFor="let col of columnList" [class.active]="col.check" (click)="col.check=!col.check">
                                            <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                                            <span>{{col.name}}</span>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="!file && !csvText">                          
                                        <input class="csv-input" id="csv-input" value="Paste dữ liệu CSV tại đây" readonly>
                                        <div class="subtext">hoặc</div>
                                        <button class="btn btn-upload-file" (click)="fileInput.click()">
                                            <i class="fas fa-file-upload"></i>Upload file CSV
                                        </button>
                                    </ng-container>
                                </div>
                                <div class="selected-subscriber-list">
                                    <div class="title">Danh sách đã chọn</div>
                                    <div class="spinner-wrapper" *ngIf="loadingSubscribers"><mat-spinner [diameter]="25"></mat-spinner></div>                                            
                                    <ng-container *ngIf="!loadingSubscribers">
                                        <div class="subscriber-item" *ngFor="let sub of selectedSubscribers">
                                            <div class="avatar image-wrapper circle" lazy-load-images><img data-src="{{sub.messengerProfile.profile_pic}}"
                                                onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                                            <div class="name">{{sub.messengerProfile.name}}</div>
                                        </div>
                                        <div class="subscriber-item extra" *ngIf="selectedSubscribers.length && (selectedSubscribers.length < totalSubscribers)" (click)="loadMorePSID()">
                                            <div class="name" *ngIf="!loadingMore">Tải thêm (còn {{totalSubscribers - selectedSubscribers.length}} khách hàng)</div>
                                            <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="15"></mat-spinner></div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <div class="row col-12 p-0">
            <div class="col-3"></div>
            <form class="col-9 d-flex pt-3">
                <div class="form-input-wrapper">
                    <input type="number" class="form-input" tabIndex="-1" [(ngModel)]="maxSubscriber" name="maxSubscriber" required>
                    <label class="input-title">Số lượng người gửi tối đa</label>
                </div>
                <button type="button" class="btn btn-schedule btn-random" *ngIf="maxSubscriber" (click)="random = !random">
                    <i [ngClass]="random?'fas fa-check-square check':'far fa-square'"></i><span>Gửi ngẫu nhiên</span>
                </button>
            </form>
        </div>
    </div>
    <div class="bottom-button" [style.pointer-events]="(sending || success)?'none':''">
        <button class="btn btn-except" [matTooltip]="'Không gửi cho khách hàng đã nhận câu chuyện'" matTooltipPosition="above" 
        (click)="exceptReceived=!exceptReceived" [hidden]="contentCategory && contentCategory.code=='broadcast'">
            <i [ngClass]="exceptReceived?'fas fa-check-square check':'far fa-square'"></i>Không gửi lặp
        </button>
        <button class="btn btn-schedule" (click)="hasSchedule=!hasSchedule">
            <i [ngClass]="hasSchedule?'fas fa-check-square check':'far fa-square'"></i>Lên lịch gửi
        </button>
        <div class="schedule-wrapper">
            <mat-form-field class="hidden">
                <input matInput [min]="minDate" [matDatepicker]="datePicker" name="datePicker" [(ngModel)]="scheduledDate">
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
            <div class="input-wrapper date" *ngIf="hasSchedule" (click)="datePicker.open()">
                <input class="form-input" [ngModel]="scheduledDate | date: 'dd/MM/yyyy'" readonly>
                <i class="fas fa-calendar-day"></i>
            </div>
            <div class="input-wrapper time" *ngIf="hasSchedule">
                <input class="form-input" [(ngModel)]="scheduledTime" (ngModelChange)="scheduledTimeChanged()" placeholder="HH:mm">
            </div>
        </div>
        <!-- <button class="btn btn-time">Chọn giờ gửi</button> -->
        <button class="btn btn-send" [disabled]="loadingMore || !loadDone || 
        ((targetCategory.code=='subscriber' || targetCategory.code=='psid' || targetCategory.code=='file') 
        && !selectedSubscribers.length) || (targetCategory.code=='all'&&!allChecked)
        || (target && !selectedStory) || loadingSubscribers" [class.schedule]="hasSchedule"
        [class.active]="sending" (click)="send()" [hidden]="success">
            <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
            <span class="send-text">                
                <ng-container *ngIf="!hasSchedule"><i class="far fa-paper-plane"></i>Gửi ngay</ng-container>
                <ng-container *ngIf="hasSchedule"><i class="far fa-calendar-alt"></i>Lên lịch</ng-container>
            </span>
        </button>
        <div class="success" *ngIf="success">
            <ng-container *ngIf="!hasSchedule"><i class="fas fa-check"></i>Gửi thành công</ng-container>
            <ng-container *ngIf="hasSchedule"><i class="far fa-calendar-check"></i>Lên lịch thành công</ng-container>
        </div>
    </div>
</div>