@import '~customs.scss';
@import './../app-template.component.scss';
@import './../../app-creation/app-creation.component.scss';

.fanpages-wrapper {  
  height: auto;
}

.template-content {
  margin-top: 16px;
  padding: 20px 0 0 12px;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    left: -5px;
    right: -5px;
    top: 0;
    border: 0.5px solid $grey-lightest;
  }
}

.form-input-wrapper {
  height: auto;
  .form-error {
    right: 20px;
  }
}

.form-wrapper {
  align-content: flex-start;
  height: calc(100vh - 264px);
  @include custom-scrollbar-grey;
  padding: 0 4px;
  .image-wrapper {
    border-radius: 2px;
  }
}

hr {
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  border-color: $grey-light;
}

.button-wrapper {
  margin-top: auto;
  width: 100%;
  height: 64px;
  @include flex-center;
  .btn-create {
    margin-top: 0;
  }
}

.app-wrapper {
  align-content: flex-start;
  height: calc(100vh - 236px);
  border-radius: 3px;
  @include custom-scrollbar-grey;
  .app-column {
    padding: 4px;
    align-self: stretch;
    max-height: 160px;
  }
  .btn-app {
    @include flex-align-center;
    justify-content: flex-start;
    flex-direction: column;
    color: $grey-dark;
    padding: 12px;
    height: 100%;
    width: 100%;
    position: relative;
    background: white;
    border: 1px solid $grey-light;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    .image-wrapper {
      width: 56px;
      padding-bottom: 56px;
      border-radius: 50%;
      overflow: hidden;
      img {
        transition: all 0.3s ease-in-out;
      }
    }
    .app-name {
      margin-top: 8px;
      font-size: 14px;
      font-weight: 500;
      @include text-ellipsis(3)
    }
    .check {
        color: $brand-success;
        margin-left: auto;
        margin-right: 0;
        font-size: 24px;
        background: white;
        border-radius: 50%;
        padding-bottom: 2px;
        padding-right: 0.2px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
        display: none;
        position: absolute;
        right: 25%;
        top: 48px;
    }
    &:hover {
      color: $brand-light;
      border-color: $brand-light;
      img {
        transform: scale(1.1)
      }
    }
    &.active {
      color: $brand-light;
      .check {
        display: inline-block;
        animation: slide-up 0.3s ease-in-out;
      }
    }
    &[disabled] {
      pointer-events: none;
      color: $grey-mild;
      img {
        filter: grayscale(100%);
      }
    }
  }
}

.selected-app {
  @include flex-align-center;
  cursor: pointer;
  margin: 0 4px;
  text-align: left;
  .image-wrapper {
    flex: 0 0 40px;    
    width: 40px;
    padding-bottom: 40px;
  }
  span {
    flex: 1 1 auto;
    padding-left: 12px;
    padding-right: 12px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $grey-dark;
    font-weight: 500;
  }
  i {
    color: $grey-mild;
  }
  &:hover {
    color: $brand-light;
    i {
      color: $brand-light;
    }
  }
}

.environment-wrapper {
  height: calc(100% - 300px);
  @include custom-scrollbar-grey;
  padding-right: 4px;
  &.add {
    height: calc(100vh - 384px);
  }
}

.form-input-wrapper {
  animation: slide-up-slightly 0.3s ease-in-out;
}