<div class="template-header">
  <h2 class="title">
    <a [routerLink]="['/template']"><i class="fas fa-th-large"></i>Quản lý mẫu</a><span> / </span> 
    <a *ngIf="add"><i class="fas fa-plus"></i>Tạo mẫu mới</a>
    <a *ngIf="details && template"><i class="fas fa-square"></i>{{template?.name}}</a>
  </h2>
</div>
<div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
<div class="template-content row" [hidden]="!loadDone" [style.pointer-events]="submitting?'none':'initial'">
  <div class="col-12" *ngIf="!selectedApp && !details">
    <div class="form-input-wrapper">
      <div class="input-title">Chọn app dùng để tạo mẫu</div>
      <div class="app-wrapper row m-0">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 app-column" *ngFor="let app of apps" [hidden]="!app.activePage">
          <button class="btn btn-app" [class.active]="selectedApp == app" (click)="selectApp(app)" [disabled]="app.disabled">
            <div class="image-wrapper circle">
              <img src="{{app?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'">
            </div>
            <div class="app-name">{{app?.activePage?.name}}</div>
            <i class="fas fa-check-circle check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4" *ngIf="selectedApp || details">

    <div class="form-input-wrapper" *ngIf="add || (details && template?.metadata)">
      <div class="input-title">App tạo mẫu</div>
      <div class="selected-app" (click)="selectApp(null)" [matTooltip]="'Nhấp để chọn app khác'">
        <div class="image-wrapper circle">
          <img src="{{selectedApp?.activePage.meta.picture.data.url}}">
        </div>
        <span>{{selectedApp?.activePage.name}}</span>
        <i class="fas fa-times"></i>
      </div>
    </div>

    <div class="form-input-wrapper">
      <div class="input-title">Biến môi trường</div>
      <div class="spinner-wrapper" *ngIf="!loadEnvironmentDone"><mat-spinner [diameter]="25"></mat-spinner></div>
      <div class="environment-wrapper" [class.add]="add" *ngIf="loadEnvironmentDone">
        <div class="not-found" *ngIf="!environmentConfig?.length">Không có biến môi trường</div>
        <div class="key-value" *ngFor="let env of environmentConfig; let i = index">
          <input class="form-input key" [(ngModel)]="env.key" name="{{'key'+i}}" readonly>
          <input class="form-input value" [(ngModel)]="env.value" name="{{'value'+i}}" [readonly]="readonly">
        </div>
      </div>
    </div>

  </div>
  <form class="col-8 row m-0 form-wrapper" *ngIf="selectedApp || details">
    <div class="form-input-wrapper col-4">
      <div class="input-title">Tên mẫu<span class="input-info">*</span></div>
      <input class="form-input" name="name" [(ngModel)]="name" (ngModelChange)="nameError = false" [readonly]="readonly">
      <div class="form-error" *ngIf="nameError">Bắt buộc</div>
    </div>
    <div class="form-input-wrapper col-8">
      <div class="input-title">Mô tả ngắn<span class="input-info">*</span></div>
      <input class="form-input" name="description" maxlength="255" [(ngModel)]="description" (ngModelChange)="descError = false" [readonly]="readonly">
      <div class="form-error" *ngIf="descError">Bắt buộc</div>
    </div>
    <div class="form-input-wrapper col-4">
      <div class="input-title">Ảnh đại diện</div>
      <input class="form-input" name="image" [(ngModel)]="image" [readonly]="readonly">
      <div class="image-wrapper cover mt-2">      
        <img src="{{image}}" onerror="this.src='assets/img/default-template.png'">
      </div>
    </div>
    <div class="form-input-wrapper col-8">
      <div class="input-title">Ảnh preview</div>
      <input class="form-input" name="preview" [(ngModel)]="preview" [readonly]="readonly">
      <div class="image-wrapper cover half mt-2">      
        <img src="{{preview}}" onerror="this.src='assets/img/no-image.svg'">
      </div>
    </div>
  </form>
  <div class="button-wrapper" *ngIf="(details && !readonly) || (add && selectedApp)">
    <button class="btn-create" (click)="createTemplate()" [disabled]="!loadDone || submitting">
      <mat-spinner [diameter]="20" *ngIf="submitting"></mat-spinner>
    <span *ngIf="!submitting"><i class="fas fa-plus"></i><span *ngIf="add">Tạo mẫu</span><span *ngIf="details">Lưu thay đổi</span></span></button>
  </div>
</div>