<div class="story-section" *ngIf="story">
  <div class="story-section-title">Trường hợp gửi</div>
  <mat-radio-group class="row" [(ngModel)]="story.type" (change)="onChangeType($event)">
    <mat-radio-button value="custom" class="story-key-checkbox col-6">Theo từ khoá</mat-radio-button>
    <mat-radio-button value="intent" class="col-6" [disabled]="page?.aiState !== 'active'" 
    [matTooltip]="page?.aiState !== 'active'?'Yêu cầu kích hoạt chức năng AI trong mục cài đặt':''">Theo AI</mat-radio-button>
  </mat-radio-group>

  <div *ngIf="story.type === 'custom'">
    <mat-chip-list [selectable]="selectable">
      <mat-chip *ngFor="let dic of keys" color="primary" [removable]="true" [disableRipple]="true"
      [selectable]="selectable" (removed)="removeKey(dic)">
        {{ dic.key }}
        <mat-icon matChipRemove *ngIf="dic._id">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <input class="trigger-input" [(ngModel)]="new_key" type="text" 
    (keydown.enter)="addKey(new_key)" maxlength="255">
  </div>
  
  <div class="intent-wrapper" *ngIf="story.type === 'intent' && page?.aiState === 'active'">
    <mat-form-field class="text-input-field" [floatLabel]="'always'">
      <mat-select placeholder="Intent" [(value)]="story.intent" (selectionChange)="changeIntent()">
        <mat-option value="">
          <span class="no-intent">Không chọn</span>
        </mat-option>
        <mat-option *ngFor="let intent of intents" [value]="intent.id">
          {{ intent.name }}
        </mat-option>
      </mat-select>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>