@import "../story-info-portal.component.scss";

.mat-radio-group {
    margin-top: 12px;
}
.trigger-input {
    width: 100%;
    border: 1px solid $grey-light;
    padding: 8px 12px;
    border-radius: 3px;
    margin-top: 8px;
}
.mat-chip-list {
    ::ng-deep.mat-chip-list-wrapper {
        margin-top: 8px;
    }
    &:focus { outline: 0; }
    .mat-chip {
        margin: 0 8px 8px 0 !important;
        border-radius: 6px;
        background: lighten($brand-light, 30%);
        color: $brand-light;
        box-shadow: none;
        .mat-icon {
            color: $brand-primary;
            opacity: 0.4;
        }
    }
    .mat-chip-remove {
        font-size: 17px;
        cursor: pointer;
        &:hover {
            color: $brand-dark;
        }
    }
}
.mat-chip::after {
    display: none;
}
.no-intent {
    color: $grey-mild;
}
