<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
  <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
  (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-stream'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
        [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
        (conditionChange)="onConditionChanged($event)"></app-card-advanced>
        <div class="sequence-options">
          <mat-button-toggle-group name="mode" [(ngModel)]="card.option.mode">
            <mat-button-toggle [disableRipple]="true" value="tag">Gắn tag</mat-button-toggle>
            <mat-button-toggle [disableRipple]="true" value="untag">Gỡ tag</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-form-field class="sequence-select">
          <mat-select placeholder="Chọn tag" name="tag" [(ngModel)]="card.option.tag" panelClass="popover-form-select">
            <mat-option *ngFor="let tag of tags" [value]="tag.name">
              <span class="color" [style.background]="tag.color"></span>
              {{tag.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
        
    </mat-card-content>
  </mat-card>
</div>