// @import "../../../shared/cards/card-container/card-container.component.scss"
@import "~customs.scss";

.number-input-form{
  position: relative;
  padding-left: 0;
  .form-input{
    padding: 6px 12px!important;
  }
  .input-title{
    position: absolute;
    top: -10px;
    left: 4px;
    background: #fff;
    color: grey;
    height: 16px;
    font-size: 13px;
    padding: 0 4px;
  }
  /deep/.hwt-highlights{
    padding: 10px 16px !important;
  }
}