
  <section class="top-section">
    <button mat-button class="btn-grey-icon" matTooltip="Thêm thẻ phía trên thẻ này" matTooltipPosition="left" (click)="insertBeforeButtonClicked()"><i class="fas fa-plus"></i></button>
    <!-- <button mat-button class="btn-grey-icon"><i class="fas fa-arrows-alt"></i></button> -->
    <button mat-button class="btn-grey-icon" matTooltip="Di chuyển lên" [disabled]="first" matTooltipPosition="left" (click)="moveUpButtonClicked()"><i class="fas fa-arrow-up"></i></button>
    <button mat-button class="btn-grey-icon" matTooltip="Di chuyển xuống" [disabled]="last" matTooltipPosition="left" (click)="moveDownButtonClicked()"><i class="fas fa-arrow-down"></i></button>
    <button mat-button class="btn-grey-icon" matTooltip="Sao chép thẻ" matTooltipPosition="left" [matMenuTriggerFor]="menu"><i class="far fa-copy"></i></button>
    <mat-menu #menu="matMenu" [xPosition]="'after'" [yPosition]="'below'">
      <button mat-menu-item (click)="duplicateButtonClicked(true)">Sao chép cùng câu chuyện</button>
      <button mat-menu-item (click)="duplicateButtonClicked(false)">Sao chép đến câu chuyện khác</button>
    </mat-menu>
    <button mat-button class="btn-grey-icon" matTooltip="Nâng cao" matTooltipPosition="left" (click)="configButtonClicked()"><i class="fas fa-code"></i></button>
    <hr>
    <button mat-button class="btn-grey-icon delete" matTooltip="Xóa thẻ" matTooltipPosition="left" (click)="removeButtonClicked()"><i class="far fa-trash-alt"></i></button>
  </section>
  <!-- <section class="bottom-section">
  </section> -->