@import "~customs.scss";

:host {
    flex: 0 0 36px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mat-button {
    min-width: 0;
    width: 32px;
    height: 32px;
    padding: 0;
    @include flex-center;
    font-size: 14px;
}
.bottom-section {
    margin-top: auto;
}
.sidebar-icon {
    width: 32px;
    height: 32px;
    background-color: $brand-light;
    color: white;
    @include flex-center;
    font-size: 14px;
    margin-bottom: 4px;
}
hr {
    border-color: $grey-lighter;    
    margin: 4px auto;
    width: 60%;
}