<div class="d-flex picker-wrapper" [class.disabled]="disabled">
  <div class="search position-relative" *ngIf="applyItemType != 'all'">
    <input class="form-input" name="search-evoucher-products" [(ngModel)]="searchText" (ngModelChange)="searchChanged()"
    placeholder="Tìm kiếm {{applyItemType=='category'?'loại sản phẩm':'sản phẩm'}}" [readonly]="applyItemType == 'all'">
    <i class="fas fa-times" *ngIf="searchText" (click)="searchText = ''; searchChanged()"></i>
  </div>
  <mat-form-field class="form-select">
    <mat-select [(ngModel)]="applyItemType" name="applyItemType"
    (ngModelChange)="dataChanged()" [disabled]="disabled || disableChangeItemType">
      <mat-option value="all" *ngIf="hasAllType">Tất cả</mat-option>
      <mat-option value="category">Loại sản phẩm</mat-option>
      <mat-option value="product">Sản phẩm</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="d-flex picker-wrapper position-relative" [class.disabled]="disabled" *ngIf="applyItemType != 'all'">
  <div class="items list">
    <div class="spinner-wrapper" *ngIf="!(loadProductsDone$ | async)"><mat-spinner [diameter]="25"></mat-spinner></div>
    <ng-container *ngIf="applyItemType=='category'">      
      <div class="item category form-checkbox" *ngFor="let cat of categories$ | async" [class.hidden]="cat.hidden"
      [class.checked]="cat.checked" (click)="toggleCategory(cat._id)">
        <i class="fas fa-check-square check"></i><i class="far fa-square"></i><span>{{cat.name}}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="applyItemType=='product'">
      <div class="item product d-flex align-items-center" *ngFor="let product of products$ | async" [class.hidden]="product.hidden"
      [class.checked]="product.checked" (click)="toggleProduct(product._id, $event)">
        <div class="image-container">
          <div class="image-wrapper cover">
            <img src="{{product.image}}" onerror="this.src='/assets/img/no-image.svg'">
            <i class="fas fa-check check"></i>
          </div>
        </div><span class="ml-2">{{product.name}}</span>
      </div>
    </ng-container>
  </div>

  <div class="items selection">
    <ng-container *ngIf="applyItemType=='category'">
      <div class="not-found mt-4" *ngIf="!(selectedCategories$ | async).length">Chọn các loại sản phẩm từ danh sách</div>
      <ng-container *ngIf="(selectedCategories$ | async).length">
        <div class="align-items-center selection-toolbar">
          <span>Món đã chọn</span>
          <button class="btn-clear" (click)="clear()"><i class="fas fa-trash-alt"></i>Xoá hết</button>
        </div>
        <div class="item category" *ngFor="let cat of selectedCategories$ | async" (click)="toggleCategory(cat._id)">
          <i class="fas fa-square"></i><span>{{cat.name}}</span>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="applyItemType=='product'">
      <div class="not-found mt-4" *ngIf="!(selectedProducts$ | async).length">Chọn các sản phẩm từ danh sách</div> 
      <ng-container *ngIf="(selectedProducts$ | async).length">        
        <div class="align-items-center selection-toolbar">
          <span>Món đã chọn</span>
          <button class="btn-clear"><i class="fas fa-trash-alt"></i>Xoá hết</button>
        </div>
        <div class="item product d-flex align-items-center" *ngFor="let product of selectedProducts$ | async" (click)="toggleProduct(product._id, $event)">
          <div class="image-container">
            <div class="image-wrapper cover">
              <img src="{{product.image}}" onerror="this.src='/assets/img/no-image.svg'">
            </div>
          </div><div class="ml-2">
            <div>{{product.name}}</div>
            <div class="subname" *ngIf="allowSelectQuantity">Số lượng: {{product.qty}}</div>
          </div>
        </div>
      </ng-container>   
    </ng-container>
  </div>
</div>