@import "~customs.scss";
@import "./../evoucher-portal.component.scss";

.picker-wrapper > * {
    flex: 1 1 50%;
    position: relative;
}

.spinner-wrapper {
    height: 150px;
}

.items {
    height: 250px;
    border: 1px solid $grey-light;
    border-top: 0;
    position: relative;
    @include custom-scrollbar-grey;
    &.list {
        padding: 8px 0;
    }
}
.subname {
    font-size: 12px;
    color: $grey-dark;
}
.item {
    padding: 4px 12px;
    cursor: pointer;
    position: relative;
    .image-container {
        flex: 0 0 32px;
        margin-right: 4px;
        img {
            border-radius: 3px;
        }
    }
    &:hover {
        color: $brand-light;
    }
    &.hidden {
        display: none !important;
    }
}
.product {
    .check {
        @include flex-center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        color: white;
    }
    &.checked {
        img {
            filter: brightness(0.7) grayscale(0.7) blur(0.5px);
        }
        .check {
            opacity: 1;
        }
    }
}
.selection {
    .category {
        i {
            font-size: 6px;
            margin-right: 6px;
            transform: translateY(-4px);
        }
    }
}
.selection-toolbar {
    font-size: 12px;
    padding: 6px 12px 2px;
    justify-content: space-between;
    span {
        color: $grey-dark;
        font-weight: bold;
    }
    .btn-clear {
        color: $grey;
        background: none;
        i {
            margin-right: 6px;
        }
        &:hover {
            color: $brand-danger;
        }
    }
}
.search {
    input {
        padding-right: 32px;
    }
    i {
        @include flex-align-center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        width: 32px;
        height: 40px;
        top: 0;
        right: 0;
        color: $grey;
        &:hover {
            color: $grey-dark;
        }
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.8;
}