<form #fieldFrm="ngForm" fxLayout="row" fxLayoutAlign="none">
  <mat-form-field fxFlex="40" class="text-input-field">
    <input hlTextArea type="text" #propertyControl="ngModel" [(ngModel)]="field.property" name="property" matInput placeholder="Thuộc tính"
      pattern="^\S+$" required>
  </mat-form-field>
  <mat-form-field fxFlex="60" class="text-input-field">
    <input hlTextArea type="text" matInput placeholder="Giá trị" [(ngModel)]="field.value" name="value" required>
    <button color="warn" mat-icon-button matSuffix (click)="parent.removeField(field.id)">
      <i class="far fa-trash-alt" matTooltip="Xóa" matTooltipPosition="after"></i>
    </button>
  </mat-form-field>
</form>