@import '../../../../../customs.scss';


.check-all {
    margin-right: 16px;
    ::ng-deep.mat-checkbox-frame {
        border-color: $brand-dark;
    }
}

.subscriber-item {
    @include flex-align-center;
    a {
        margin-left: 8px;
    }
}

.avatar {
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    background: transparent;
    border: 2.5px solid transparent;
    transition: all 0.3s ease;
    img {
        object-fit: cover;
        width: inherit;
        height: inherit;
        padding: 0px !important;
        border-radius: 50% !important;
    }
}
.avatar-filter {
    position: absolute;
    background-color: rgba(92, 224, 102, 0.75);
    color: white;
    transition: opacity 0.4s ease-out;
}
.mat-list-item {
    ::ng-deep.mat-list-text {
        padding-left: 12px;
    }
}
mat-list-option {
    background: transparent;
    ::ng-deep.mat-list-text {
        padding: 0px !important;
    }
    ::ng-deep.mat-line {
        color: $grey-dark;
        margin-left: 8px;
    }
    ::ng-deep.mat-list-item-disabled {
        background-color: white !important;
        .fanpage-name {
            color: $grey-mild;
        }
        ::ng-deep.mat-pseudo-checkbox-disabled {
            color: $grey-mild;
        }
    }
    ::ng-deep.mat-pseudo-checkbox {
        display: none;
    }
    ::ng-deep.mat-list-item-content {
        padding-left: 4px !important;
    }
}

.subscriber-opened {
    .mat-line {
        color: $brand-primary !important;
    }
    .avatar {
        border: 2.5px solid $brand-primary;
    }
}

.mat-divider {
    width: 92%;
    margin: auto;
    border-top-color: $grey-lighter;
    &.dashed-divider {
        border-top-color: $grey-lightest;
    }
}

.subscriber-input {
    width: calc(100% - 24px);
    border: 1px solid #ddd;
    padding: 12px;
}

.mat-list-item {
    height: 64px;
    ::ng-deep.mat-list-item-content {
        //padding-right: 0px;    
        padding: 0 8px;
        transition: all 0.3s ease;
        .numbering {
            font-weight: bold;
            font-size: 18px;
            color: $grey-dark;
            position: absolute;
            left: 5px;
            bottom: 8px;
            text-align: center;
        }
        ::ng-deep.mat-list-text {
            padding: 0px !important;
        }
        ::ng-deep.mat-line {
            padding-left: 12px;
        }
    }
    .sub-text {
        color: $grey-mild;
        font-size: 11.5px;
        position: absolute;
        top: 0; 
        bottom: 0;
        height: 100%;
        display: flex;
        align-items: center;
        right: 8px;
    }
    .mat-item-menu-icon {
        visibility: hidden;
        color: $bluegrey-lighter;
        transition: color 0.3s;
        margin-right: 8px;
        &.item-send-button {
            font-size: 22px;
            &:hover {
                color: $green-400;
            }
        }
        &.open-story-icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
            font-size: 25px !important;
            &:hover {
                color: $brand-light;
            }
        }
    }
    &:hover .mat-item-menu-icon {
        visibility: visible;
    }
}

.item-delete-button {
    &:hover {
        color: $red-300 !important;
    }
}
.mat-nav-list {    
    margin-right: -20px;
    margin-left: -20px;
    .mat-list-item {        
        padding: 0 12px;
    }
}

.subscriber-input-wrapper {
    position: relative;
    margin-top: 12px;
    .loading-indicator {
        position: absolute;
        top: 16px;
        right: 4px;
        color: $brand-light;
    }
}