<div *ngIf="topic" class="portal-section">
  <div class="portal-section-title-wrapper" fxLayout="row">
    <div class="portal-section-title">Khách hàng</div>
    <!-- <div>
      <button class="portal-section-button" (click)="openSubscriberAdd()" [matTooltip]="'Thêm người dùng'">
        <i class="fas fa-plus"></i>
      </button>
    </div> -->
  </div>
  <mat-nav-list>
    <p class="not-found" *ngIf="!subscribers || subscribers.length == 0">Không có khách hàng</p>
    <div *ngFor="let subscriber of subscribers">
      <mat-list-item *ngIf="!!subscriber && !!subscriber._id" (click)="showInfo(subscriber)" [ngClass]="(selectedSubscriber == subscriber._id)?'subscriber-opened':''">
        <div class="avatar" mat-list-icon lazy-load-images>
          <img onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'" data-src="{{subscriber?.messengerProfile?.profile_pic}}">
        </div>
        <a matLine href="javascript:;">{{subscriber.messengerProfile.first_name}} {{subscriber.messengerProfile.last_name}}</a>
        <span class="sub-text">{{subscriber.fromNow}}</span>
        <i class="far fa-trash-alt mat-item-menu-icon item-delete-button" (click)="removeSubscriber(subscriber, $event)" matTooltip="Xóa"
          matTooltipPosition="after"></i>
      </mat-list-item>
      <mat-divider class="dashed-divider"></mat-divider>

    </div>
  </mat-nav-list>
  <div class="subscriber-input-wrapper">
    <input class="subscriber-input" [(ngModel)]="new_subscriber" type="text" 
    maxlength="100" [matAutocomplete]="auto" placeholder="Thêm khách hàng" (ngModelChange)="newSubscriberChanged($event)">
    <i class="fas fa-circle-notch fa-spin loading-indicator" [hidden]="!loadSubscribersAutocomplete"></i>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="subscriberSelected($event)">
      <mat-option *ngFor="let sub of subscribersAutocomplete" [value]="sub">
          <div class="subscriber-item">
            <div class="avatar" lazy-load-images>
              <img onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'" data-src="{{sub?.messengerProfile?.profile_pic}}">
            </div>
            <a>{{sub.messengerProfile.first_name + ' ' + sub.messengerProfile.last_name}}</a>
          </div>
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
<mat-divider></mat-divider>