
<div mat-dialog-content class="w-timepicker-dialog">
    <w-time 
        [color]="color" 
        [userTime]="userTime" 
        (onRevert)="revert()" 
        (onSubmit)="submit()"
        (onCancel)="cancel()"
        [cancelLabel]="data.cancelLabel"
        [revertLabel]="data.revertLabel" 
        [submitLabel]="data.submitLabel"
        [showCancelButton]="true">
        
    </w-time>
</div>

