// .w-timepicker-dialog {
//   // padding: 0 !important;
//   // margin: -24px !important;
//   // width: calc(100% + 48px) !important;
// }
.mat-dialog-container {
  position: relative;
  overflow: hidden;
  padding: 24px;
}