<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Tiền hàng tối thiểu (VNĐ)</div>
    <input class="form-input" min="0" name="minAmountOfBill" type="number" [(ngModel)]="evoucher.option.minAmountOfBill"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>
<div class="form-input-wrapper pb-3">
  <div class="input-title">Món được tặng</div>
  <product-picker [applyItemType]="'product'" [applyItems]="evoucher.option.offerItems" 
  [disableChangeItemType]="true" [allowSelectQuantity]="true"
  [disabled]="disabled" (applyItemsChange)="offerItemsChanged($event)"></product-picker>
</div>