<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button *ngIf="chatbotApi.chatbotAuth.user.rule != 'read'" mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="no-content" *ngIf="loadDone && !interactPost">
      <div class="no-content-text">
        Bài đăng này chưa kết nối
      </div>
      <button class="button-remove-overlay" mat-button color='primary' (click)="connectPost()">
        Tạo kết nối mới
      </button>
      <div class="no-content-text">
        hoặc
      </div>
      <button class="button-remove-overlay" mat-button color='primary' (click)="openSelectionPost()">
        Tạo mới từ kết nối có sẵn
      </button>
    </div>
    <div *ngIf="loadDone && interactPost">
      <div class="portal-section">
        <div class="portal-section-title-wrapper" fxLayout="row">
          <div class="portal-section-title">Thông tin chung</div>
          <div>
            <button class="portal-section-button" (click)="openStatistics()" [matTooltip]="'Thống kê'">
              <i class="fas fa-chart-area"></i>
            </button>
            <button class="portal-section-button" (click)="openLink()" [matTooltip]="'Link Facebook'" *ngIf="interactPost.type != 'hash_tag' ">
              <i class="fab fa-facebook"></i>
            </button>
          </div>
        </div>
        <app-post-info [interactPost]="interactPost" (change)="showSaveButton()"></app-post-info>
        <mat-divider></mat-divider>
      </div>
      <div class="portal-section">
        <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
          <div class="portal-section-title">Các trường hợp bắt Comment</div>
          <div>
            <button class="portal-section-button" (click)="copyCases()" [matTooltip]="'Sao chép từ kết nối có sẵn'">
              <i class="fas fa-external-link-alt"></i>
            </button>
            <button class="portal-section-button" (click)="addNewCase()" [matTooltip]="'Tạo trường hợp mới'">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="no-data" *ngIf="interactPost.cases.length == 0">Không có</div>
        <app-post-case *ngFor="let case of interactPost.cases; let i = index" [case]="case" [index]="i"></app-post-case>
        <mat-divider></mat-divider>
      </div>
      <div class="portal-section">
        <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
          <div class="portal-section-title">Danh sách người tương tác</div>
          <div>
            <button class="portal-section-button" (click)="getCommentReplies(false)" [matTooltip]="'Tải lại'">
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>


        <div class="subscriber-list" *ngIf="commentReplies">
          <div class="no-data" *ngIf="subscribers.length == 0">Không có</div>
          <div class="subscriber-info" *ngFor="let sub of subscribers">
            <div class="subscriber-name">{{sub.name}}</div>
            <div class="subscriber-data">{{sub.amount}} lần</div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>