@import "~customs.scss";
.subscriber-list {
    margin-top: 8px;
    .subscriber-info {
        width: 100%;
        padding: 12px 0px;
        margin: auto;
        color: $grey-darker;
        //cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        // &:hover {
        //     color: $brand-light;
        //     .subscriber-data {
        //         color: $brand-primary;
        //     }
        // }
        .subscriber-name {
            width: 70%;
            padding-left: 8px;
        }
        .subscriber-data {
            width: 30%;
            text-align: right;
            padding-right: 20px;
            font-size: 14px;
            font-weight: bold;
            color: $grey;
        }
    }

    .mat-divider {
        width: 94%;
        border-top-color: $grey-lighter;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.mat-divider {
    margin: 4px auto;
    width: 100%;
    border-top-color: $grey-lighter;
}

.no-data {    
    height: 64px;
}

.cases-wrapper {
    padding-bottom: 8px;
}