<div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
<div class="user-content-wrapper row m-0" *ngIf="loadDone">
  <div class="not-found col-12" *ngIf="!dailyCosts.length">
    Hiện tại chưa có chi phí
  </div>
  <div class="selected-app-wrapper col" *ngIf="selectedApp">
    <div class="user-content-title">Chi tiết chi phí</div>
    <div class="selected-app">
      <div class="main">
        <div class="avatar">
          <div class="image-wrapper circle"><img src="{{selectedApp?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"></div>
        </div>
        <div class="info">
          <div class="app-name">{{selectedApp?.name}}</div>
          <div class="page-name">{{selectedApp?.activePage?.name}}</div>
        </div>
      </div>
      <div class="sub">
        Từ ngày {{selectedApp?.fromDate | date: 'dd/MM/yyyy'}} - đến ngày {{selectedApp?.toDate | date: 'dd/MM/yyyy'}}
      </div>
      <!-- <hr> -->
      <table class="table">
        <thead>
          <tr>
            <th class="text-left" scope="col">Gói</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Số ngày</th>
            <th class="text-right" scope="col">Giá tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cost of selectedApp.costs">
            <td class="text-left" scope="row">{{cost.package}}</td>
            <td>{{cost.desc?cost.desc:'Số lượng khách hàng'}}</td>
            <td>{{cost.qty}} ngày</td>
            <td class="text-right">{{cost.amount | accounting}}</td>
          </tr>
        </tbody>
      </table>
      <div class="bottom">
        <hr>
        <div class="cost">
          <div class="left"> <div class="package">Mã khuyến mãi</div> </div>
          <div class="right">
            <div class="code-input-wrapper" *ngIf="!selectedApp.license?.licenseCode">
              <div class="form-input-wrapper code-input">
                <input class="form-input" [(ngModel)]="codeInput" (ngModelChange)="codeInputError=''" [readonly]="assigning">
                <span class="form-error" *ngIf="codeInputError">{{codeInputError}}</span>
              </div>
              <button class="btn btn-add-code" (click)="assigningCode()">
                <mat-spinner [diameter]="20" *ngIf="assigning"></mat-spinner>
                <span [style.opacity]="assigning?'0':'1'">Thêm</span>
              </button>
            </div>
            <ng-container *ngIf="selectedApp.license.licenseCode">            
              <div class="amount"><mat-spinner [diameter]="16" *ngIf="assigning"></mat-spinner>
                <span *ngIf="!assigning" class="edit" [matTooltip]="'Thay đổi mã'" (click)="editCode()">
                  <i class="fas fa-pencil-alt"></i>
                  {{selectedApp.license?.licenseCode}} {{'(' + selectedApp.licenseCodeInfo?.saleOf + '%)'}}</span></div> 
            </ng-container>
          </div>
        </div>
        <div class="cost total">
          <div class="left"> <div class="package">Tổng tiền</div> </div>
          <div class="right">
            <ng-container *ngIf="selectedApp.license.licenseCode && !assigning">
                <div class="amount"><span class="strike-out">{{selectedApp.amount | accounting}}</span>{{selectedApp.finalAmount | accounting}}</div>
            </ng-container>
            <ng-container *ngIf="!selectedApp.license.licenseCode || (selectedApp.license.licenseCode && assigning)">
                <div class="amount">{{selectedApp.amount | accounting}}</div>
            </ng-container>
          </div>
        </div>
        <button class="btn btn-checkout" (click)="checkout(selectedApp._id)" [disabled]="checkingOut">            
          <mat-spinner [diameter]="20" *ngIf="checkingOut"></mat-spinner>
          <span [style.opacity]="checkingOut?'0':'1'"><i class="fas fa-credit-card"></i>Thanh toán</span>
        </button>
      </div>
    </div>
  </div>

  <div class="cost-list-wrapper col-6" *ngIf="dailyCosts.length">
    <div class="user-content-title">Danh sách chi phí</div>
    <div class="cost-filter">
      <button class="btn btn-check" [matTooltip]="'Các app đang theo dõi'" *ngIf="chatbotApi.chatbotAuth.systemUser.rule=='system_admin'"
      [class.checked]="followApp" (click)="toggleCosts()">
        <i class="fas fa-check-square check" ></i><i class="far fa-square"></i>
        <span>App theo dõi</span>
      </button>
      <input class="form-input" [(ngModel)]="searchText" placeholder="Tìm kiếm app" name="search">      
      <mat-select name="orderBy" [(ngModel)]="orderBy" (ngModelChange)="sortApps()">
        <mat-option *ngFor="let order of orderByList" [value]="order.code">Sắp xếp theo {{order.display}}</mat-option>
      </mat-select>
    </div>
    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div class="cost-list" *ngIf="loadDone">
      <div class="daily-cost" *ngFor="let app of dailyCosts | appFilter:searchText" (click)="selectDailyCost(app)" [class.active]="app._id == selectedApp?._id">
        <div class="main">
          <div class="avatar">
            <div class="image-wrapper circle"><img src="{{app?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"></div>
          </div>
          <div class="info">
            <div class="app-name">{{app?.name}}</div>
            <div class="page-name">{{app?.activePage?.name}}</div>
          </div>
          <div class="right">
            <span class="amount">{{app?.amount | accounting}}</span>
            <span class="label" [ngClass]="app?.expiredClass" [matTooltip]="'Ngày hết hạn: ' + app.expiredDate">{{app?.expiredDuration}}</span>
          </div>
        </div>
        <div class="extra">
          <!-- <div class="date">{{app?.totalDays}}</div> -->
        </div>
      </div>
    </div>
  </div>
  
</div>