@import '~customs.scss';

.user-content-wrapper {
  height: 100%;
}
.cost-list-wrapper {
  padding: 16px 8px;
}
.cost-filter {
  @include flex-align-center;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  overflow: hidden;
  background: white;
  margin-right: 10px;
  margin-bottom: 12px;
  .form-input {
    flex: 1 1 300px;
    min-width: 0;
    border: none;
  }
	::ng-deep.mat-select {
    flex: 1 1 auto;
    height: 100%;
    padding: 0 8px;
    background: white;
    border-left: 1px solid $grey-lightest;
    ::ng-deep.mat-select-trigger {
      height: 100%;
    }
    ::ng-deep.mat-select-value {
      vertical-align: middle;
      color: $grey-dark;
    }
    ::ng-deep.mat-select-arrow {
      color: $grey;
      margin: 0 4px 0 2px;
    }
  }
  .btn {
    flex: 0 0 auto;
    color: $grey;
    height: 40px;
    padding: 0;
    margin-right: 4px;
    @include flex-center;
    border-right: 1px solid $grey-lightest;
    &:hover {
      color: $brand-light;
    }
    &.btn-check {
      width: auto;
      padding: 0 12px;
      font-size: 14px;
      margin-right: 8px;    
      background: white;
      i:not(.check) {
          display: inline;
      }
      i.check {
          color: $brand-accent;
          display: none;
      }
      &.checked {
          i:not(.check) {
              display: none;
          }
          i.check {
              display: inline;
          }
      }
      span {
          padding-left: 6px;
      }
      &:hover {
          color: $brand-light;
      }
    }
  }
}
.cost-list {
  // @include custom-scrollbar-grey;
  height: 100%;
  padding-right: 8px;
  .daily-cost {
    margin-bottom: 12px;
    background: white;
    border: 1px solid white;
    border-left: 4px solid transparent;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    padding: 10px 16px;
    color: $grey-dark;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    animation: slide-up-slightly 0.3s ease-in-out;
    &:last-child {
      margin-bottom: 4px;
    }
    .main {
      @include flex-align-center;
    }
    .extra {
      @include flex-align-center;
      justify-content: space-between;
    }
    .avatar {
      width: 40px;
      flex: 0 0 40px;
    }
    .info {
      flex: 0 1 auto;
      text-align: left;
      padding-left: 12px;
      .app-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
      .page-name {
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
      }
    }
    .right {
      flex: 1 0 auto;    
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      >* {
        align-self: flex-end;
      }
      .amount {
        padding-right: 4px;
        text-align: right;
        font-weight: 500;
        font-size: 14px;
      }
      .app-name, .page-name, .amount {
        transition: inherit;
      }
    }
    &:hover {
      border-color: $brand-light;
    }
    &.active {
      border-color: $brand-light;
      .app-name, .page-name, .amount {
        color: $brand-light;
      }
    }
  }
}

.selected-app-wrapper {
  padding: 16px;  
  padding-right: 8px;
  position: relative;
}

.selected-app {
  position: sticky;
  top: 0;
  border-radius: 5px;
  background: white;
  padding: 16px;
  height: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  animation: slide-up-slightly 0.3s ease-in-out;
  max-height: calc(100vh - 200px);
  @include custom-scrollbar-grey;
  .sub {
    padding-bottom: 16px;
    color: $grey;
    font-size: 13px;
    text-align: center;
    padding-top: 4px;
    padding-left: 8px;
  }
  .main {
    @include flex-align-center;
    color: $grey-dark;
    justify-content: center;
    padding-top: 4px;
    .avatar {
      width: 56px;
      flex: 0 0 56px;
    }
    .info {
      flex: 0 1 auto;
      text-align: left;
      padding-left: 12px;
      .app-name {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
      }
      .page-name {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }
    }
  }
  hr {
    border-color: $grey-light;
    width: 100%;
  }
  .table {
    th {
      color: $grey;
      padding: 8px 6px;
      font-size: 14px;
      font-weight: 500px;
      border-bottom: none;
    }
    td {
      color: $grey-dark;
      font-size: 14px;
      padding: 6px;
      font-weight: 400px;
      border-top: none;
    }
  }
  .cost {
    @include flex-align-center;
    justify-content: space-between;
    margin-bottom: 12px;
    .left {
      text-align: left;
      .package {
        color: $grey;
        font-weight: 400;
        font-size: 14px;
      }
      .desc {
        color: $grey;
        font-weight: 400;
        font-size: 13px;
        font-style: italic;
      }
    }
    .right {
      text-align: right;
      .amount {
        color: $grey-dark;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        ::ng-deep.mat-spinner {
          margin-right: 8px;
        }
        .strike-out {
          text-decoration: line-through;    
          margin-right: 8px;
          line-height: 22px;
          color: $grey;
          font-size: 13px;
          font-weight: 400;
        }
        .edit {
          cursor: pointer;
          i {
            margin-right: 1px;
            color: $grey;
            font-size: 12px;
          }
          &:hover {
            color: $grey-darker;
            i {
              color: $grey-dark;
            }
          }
        }
      }
      .days {
        color: $grey;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
      }
    }
    &.total {
      padding-top: 4px;
      .package, .amount {
        font-weight: bold !important;
        font-size: 16px !important;
        line-height: initial !important;
      }
      .amount {
        color: $brand-light !important;;
        font-weight: bold !important;
      }
    }
  }
  .btn-checkout {
    @include btn-primary-background;
    background: $green-400;
    color: white;
    cursor: pointer;
    padding: 8px 32px;
    font-weight: bold;
    margin-left: auto;
    &:hover {
      background: $green-500;
    }
    ::ng-deep.mat-spinner {      
      position: absolute;
      svg circle {            
        stroke: white;
      }
    }
  }
  .bottom {
    margin-top: auto;
  }
}

.code-input-wrapper {
  @include flex-align-center;
  .form-input-wrapper {
    padding-bottom: 0;
    width: 150px;
    input {
      height: 36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .form-error {
      bottom: -6px;
    }
  }
  .btn-add-code {
    height: 36px;
    @include flex-center;
    @include btn-grey-background;
    border: 1px solid $grey-light;
    border-left: none;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 14px;
    ::ng-deep.mat-spinner {      
      position: absolute;
      svg circle {            
        stroke: $brand-light;
      }
    }
  }
}