<mat-card class="ai-intents">
  <mat-card-header>
    <mat-card-title >Ngữ cảnh</mat-card-title>
    <span class="header-spacer"></span>
    <button class="button-remove-overlay" mat-button matTooltip="Reset thông tin" matTooltipPosition="right"
        (click)="reload(false)">
          <i class="fas fa-undo"></i>
      </button>
  </mat-card-header>
  <mat-card-content>
    <h3 *ngIf="!progressBar.show  && intents.length == 0" class="text-mute">Chưa có ngữ cảnh nào</h3>
    <mat-nav-list *ngIf="intents.length > 0">
      <mat-list-item class="event-item" color="primary" *ngFor="let intent of intents" (click)="openIntent(intent)">
        <a matLine href="javascript:;">{{intent.name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
