@import "~customs.scss";
.ai-intents{
    padding:0!important;
    .mat-card-header{
        margin: 0 16px;
    }
    .mat-nav-list {
        padding-top: 0px;
        ::ng-deep.mat-list-item-content{
            padding: 0 32px;
        }
    }
    .mat-card-title{
        margin-top: 16px;
    }
}