<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Hình thức giảm giá</div>
    <mat-form-field class="form-select">
      <mat-select [(ngModel)]="evoucher.option.unit" name="unit" (ngModelChange)="dataChanged()" [disabled]="disabled">
        <mat-option value="percent">Phần trăm đơn hàng</mat-option>
        <mat-option value="amount">Giảm giá cố định</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">{{evoucher.option.unit == 'percent'?'Phần trăm':'Giá trị'}} giảm giá ({{evoucher.option.unit == 'percent'?'%':'VNĐ'}})</div>
    <input class="form-input" name="discount" type="number" [(ngModel)]="evoucher.option.discount"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>
<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Số hàng tối thiểu</div>
    <input class="form-input" min="0" name="minQty" type="number" [(ngModel)]="evoucher.option.minQty"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Tiền hàng tối thiểu</div>
    <input class="form-input" min="0" name="minAmountOfBill" type="number" [(ngModel)]="evoucher.option.minAmountOfBill"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Giảm giá tối đa</div>
    <input class="form-input" min="0" name="maxDiscount" type="number" [(ngModel)]="evoucher.option.maxDiscount"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>
<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-6 pl-0 pr-2 pb-1">    
    <div class="input-title">Giảm giá theo món</div>
    <div class="height-40 d-flex align-items-center">
      <span class="text-nowrap pl-2">Giảm giá</span>
      <input class="form-input ml-2 mr-2" name="inputDiscountForItem" type="number" [(ngModel)]="evoucher.option.inputDiscountForItem"
        [disabled]="disabled || (mode$ | async)=='from'" (ngModelChange)="dataChanged()">
      <span class="text-nowrap">Món</span>
    </div>
  </div>
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title"></div>
    <mat-form-field class="form-select">
      <mat-select [(ngModel)]="evoucher.option.discountOneItemForItem" name="discountOneItemForItem" 
      (ngModelChange)="dataChanged()" [disabled]="disabled || (mode$ | async)=='from'">
        <mat-option value="min">Giá thấp nhât</mat-option>
        <mat-option value="max">Giá cao nhất</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row m-0 pb-2">
    <div class="col-6 height-40 d-flex align-items-center pl-0 pr-2">    
        <span class="text-nowrap pl-2">Giảm giá từ món thứ</span>
        <input class="form-input ml-2" name="inputDiscountFromItem" type="number" [(ngModel)]="evoucher.option.inputDiscountFromItem"
        [disabled]="disabled || (mode$ | async)=='for'" (ngModelChange)="dataChanged()">
    </div>
    <div class="form-input-wrapper col-6 p-0">
      <mat-form-field class="form-select">
        <mat-select [(ngModel)]="evoucher.option.discountOneItemFromItem" name="discountOneItemFromItem" 
        (ngModelChange)="dataChanged()" [disabled]="disabled || (mode$ | async)=='for'">
          <mat-option value="min">Giá thấp nhât</mat-option>
          <mat-option value="max">Giá cao nhất</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="form-input-wrapper pb-3">
  <div class="input-title">Món được áp dụng</div>
  <product-picker [applyItemType]="evoucher.option.applyItemType" [applyItems]="evoucher.option.applyItems" 
  [disabled]="disabled" (applyItemsChange)="applyItemsChanged($event)"></product-picker>
</div>
