<div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
<div class="user-content-wrapper row m-0" *ngIf="loadDone">
  <div class="not-found col-12" *ngIf="!bills.length">
    Không tìm thấy lịch sử
  </div>
  <div class="selected-bill-wrapper col" *ngIf="selectedBill">
    <div class="user-content-title">Chi tiết hóa đơn</div>
    <div class="selected-bill">
      <div class="code">{{selectedBill.code}}
        <div class="paid">Đã thanh toán</div>
      </div>
      <div class="main">
        <div class="left">
          <!-- App -->
          <div class="title">App được thanh toán</div>
          <div class="content">
            <div class="avatar">
              <div class="image-wrapper circle"><img src="{{selectedBill?.app?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"></div>
            </div>
            <div><div class="name">{{selectedBill?.app?.name}}</div><div class="sub-name">{{selectedBill?.app?.activePage?.name}}</div></div>
          </div>
          <!-- Payer -->
          <div class="title">Người thanh toán</div>
          <div class="content">
            <div class="avatar">
              <div class="image-wrapper circle"><img src="{{selectedBill?.payer?.picture}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
            </div>
            <span class="sub-name">{{selectedBill?.payer?.name}}</span>
          </div>
          <div class="title">Phương thức thanh toán</div>
          <div class="content">{{selectedBill.paymentMethod | uppercase}}</div>
        </div>
        <div class="right">
          <div class="title">Ngày thanh toán</div>
          <div class="content">{{selectedBill.paidAt | date:'dd/MM/yyyy'}}</div>
          <div class="title">Ngày tính phí</div>
          <div class="content">{{selectedBill.costFromDate | date:'dd/MM/yyyy'}} - {{selectedBill.costToDate | date:'dd/MM/yyyy'}}</div>
          <div class="title">Tổng ngày tính phí</div>
          <div class="content">{{selectedBill.totalDays}}</div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th class="text-left" scope="col">Gói</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Số ngày</th>
            <th class="text-right" scope="col">Giá tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cost of selectedBill.detail">
            <td class="text-left" scope="row">{{cost.package}}</td>
            <td>{{cost.desc?cost.desc:'Số lượng khách hàng'}}</td>
            <td>{{cost.qty}} ngày</td>
            <td class="text-right">{{cost.amount | accounting}}</td>
          </tr>
        </tbody>
      </table>
      <div class="bottom">
        <hr>
        <ng-container *ngIf="selectedBill.licenseCode">
          <div class="cost">
            <div class="left">
              <div class="package">Mã khuyến mãi</div>
            </div>
            <div class="right">
              <div class="amount">{{selectedBill.licenseCode}} {{'(' + selectedBill.saleOff + '%)'}}</div> 
            </div>
          </div>
        </ng-container> 
        <div class="cost total">
          <div class="left">
            <div class="package">Tổng tiền</div>
          </div>
          <div class="right">
            <ng-container *ngIf="selectedBill.licenseCode">
                <div class="amount"><span class="strike-out">{{selectedBill.amountWithoutSaleOff | accounting}}</span>{{selectedBill.amount | accounting}}</div>
            </ng-container>
            <ng-container *ngIf="!selectedBill.licenseCode">
                <div class="amount">{{selectedBill.amount | accounting}}</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="history-list-wrapper col-6" *ngIf="bills.length">
    <div class="user-content-title">Danh sách hóa đơn</div>
    <div class="history-list">
      <div class="bill" *ngFor="let bill of bills" (click)="selectBill(bill)" [class.active]="bill._id == selectedBill?._id">
        <div class="title">
          <div class="code">{{bill.code}}</div>
          <div class="date">{{bill.costFromDate | date:'dd/MM/yyyy'}} - {{bill.costToDate | date:'dd/MM/yyyy'}}</div>
        </div>
        <div class="main">
          <div class="avatar">
            <div class="image-wrapper circle"><img src="{{bill.app?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"></div>
          </div>
          <div class="info">
            <div class="app-name">{{bill.app?.name?bill.app?.name:'App không còn tồn tại'}}</div>
            <div class="page-name">{{bill.app?.activePage?.name}}</div>
          </div>
          <div class="right">
            <span class="payer">
              <div class="payer-avatar">
                <div class="image-wrapper circle"><img src="{{bill.payer?.picture}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
              </div>
              <div class="payer-name">{{bill.payer?.name}}</div>
            </span>
            <span class="amount">{{bill.amount | accounting}}</span>
          </div>
        </div>
        <div class="extra">
          <!-- <div class="date">{{app?.totalDays}}</div> -->
        </div>
      </div>
      <button class="btn btn-load-more" *ngIf="bills.length && bills.length < total" 
      (click)="loadMore()" [disabled]="loadingMore">
        <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="20"></mat-spinner></div>
        <span class="text" [style.opacity]="loadingMore?'0':'1'">Tải thêm...</span>
      </button>
    </div>
  </div>
  
</div>