@import '~customs.scss';

.user-content-wrapper {
  height: 100%;
}
.history-list-wrapper {
  padding: 16px 8px;
}
.history-list {
  // @include custom-scrollbar-grey;
  height: 100%;
  padding-right: 8px;
  .bill {
    margin-bottom: 12px;
    background: white;
    border: 1px solid white;
    border-top: 4px solid $grey-white;
    border-radius: 3px;
    // transition: all 0.15s ease-in-out;
    color: $grey-dark;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    animation: slide-up-slightly 0.3s ease-in-out;
    &:last-child {
      margin-bottom: 4px;
    }
    .title {
      padding: 6px 16px 10px;
      @include flex-align-center;
      justify-content: space-between;
      border-bottom: 1px solid $grey-lighter;
      font-size: 14px;
      background: mix(white, $grey-white);
      .code {
        font-weight: 500;
        color: $grey;
      }
      .date {
        font-weight: 400;
        color: $grey;
      }
    }
    .main {
      padding: 10px 16px;
      @include flex-align-center;
    }
    .extra {
      @include flex-align-center;
      justify-content: space-between;
    }
    .avatar {
      width: 40px;
      flex: 0 0 40px;
    }
    .info {
      flex: 0 1 auto;
      text-align: left;
      padding-left: 12px;
      .app-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
      .page-name {
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
      }
    }
    .right {
      flex: 1 0 auto;    
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      >* {
        align-self: flex-end;
      }
      .amount {
        padding-right: 4px;
        text-align: right;
        font-weight: 500;
        font-size: 14px;
      }
      .app-name, .page-name, .amount {
        transition: inherit;
      }
    }
    .payer {      
      @include flex-align-center;
      margin-bottom: 2px;
      .payer-avatar {
        width: 20px;
        flex: 0 0 20px;
      }
      .payer-name {
        flex: 0 1 auto;
        text-align: left;
        padding-left: 4px;
        font-weight: 400;
        font-size: 14px;
        padding-right: 4px;
      }
    }
    &:hover {
      border-color: $brand-light;
    }
    &.active {
      border-color: $brand-light;
      .app-name, .page-name, .amount, .payer-name {
        color: $brand-light;
      }
      .title {
        // background: $brand-light;
        .code, .date {
          color: $brand-light;
        }
      }
    }
  }
}

.selected-bill-wrapper {
  padding: 16px;  
  padding-right: 8px;
  position: relative;
}

.selected-bill {
  position: sticky;
  top: 0;
  border-radius: 5px;
  background: white;
  padding: 16px;
  height: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  animation: slide-up-slightly 0.3s ease-in-out;
  max-height: calc(100vh - 200px);
  @include custom-scrollbar-grey;
  .code {
    font-weight: bold;
    color: $grey-dark;
    text-align: left;
    padding-left: 8px;
    position: relative;
    .paid {
      position: absolute;
      z-index: 100;
      right: -4px;
      top: 12px;
      padding: 6px 20px;
      border: 3px solid $green-300;
      color: $green-300;
      opacity: 0.85;
      background: transparent;
      transform: rotate(18deg);
      font-size: 14px;
      font-weight: 500;
    }
  }
  .main {
    @include flex-align-start;
    color: $grey-dark;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 16px;
    .left {
      flex: 0 0 60%;
    }
    .right {
      flex: 1 1 auto;
    }    .title {
      color: $grey;
      font-weight: 500;
      font-size: 13px;
      margin: 12px 4px 0;
      text-align: left;
      &:first-child {
        margin-top: 4px;
      }
    }
    .content {
      @include flex-align-center;
      padding-left: 4px;
      font-size: 14px;
      color: $grey-dark;
      font-size: 13px;
      line-height: 13px;
      height: 28px;
      .avatar {
        width: 24px;
        flex: 0 0 24px;
        margin-right: 6px;
      }
      .name {
        color: $grey-dark;
        font-weight: 500;
        text-align: left;
      }
      .sub-name {
        color: $grey-dark;
        font-weight: 400;
        text-align: left;
      }
    }
    // .info {
    //   flex: 0 1 auto;
    //   text-align: left;
    //   padding-left: 12px;
    //   .app-name {
    //     font-size: 18px;
    //     font-weight: 500;
    //     line-height: 26px;
    //   }
    //   .page-name {
    //     font-size: 14px;
    //     font-weight: 400;
    //     line-height: 14px;
    //   }
    // }
  }
  hr {
    border-color: $grey-light;
    width: 100%;
  }
  .table {
    th {
      color: $grey;
      padding: 8px 6px;
      font-size: 14px;
      font-weight: 500px;
      border-bottom: none;
    }
    td {
      color: $grey-dark;
      font-size: 14px;
      padding: 6px;
      font-weight: 400px;
      border-top: none;
    }
  }
  .cost {
    @include flex-align-start;
    justify-content: space-between;
    margin-bottom: 8px;
    .left {
      text-align: left;
      .package {
        color: $grey;
        font-weight: 400;
        font-size: 14px;
      }
      .desc {
        color: $grey;
        font-weight: 400;
        font-size: 13px;
        font-style: italic;
      }
    }
    .right {
      text-align: right;
      .amount {
        color: $grey-dark;
        font-weight: 400;
        font-size: 14px;
        .strike-out {
          text-decoration: line-through;    
          margin-right: 8px;
          line-height: 22px;
          color: $grey;
          font-size: 13px;
          font-weight: 400;
        }
      }
      .days {
        color: $grey;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
      }
    }
    &.total {
      .package, .amount {
        font-weight: bold !important;
        font-size: 16px !important;;
        line-height: initial !important;
      }
      .amount {
        color: $brand-light !important;;
        font-weight: bold !important;
      }
    }
  }
  .bottom {
    margin-top: auto;
  }
}