@import "./../topic-portal.component.scss";

form {
    margin-top: 12px;
    margin-bottom: 24px;
}

.no-data {    
    height: 64px;
}

.title-text {
    font-size: 12px;
    color: $grey-dark;
    padding-bottom: 8px;
}