<div *ngIf="topic" class="portal-section"> 
  <div class="portal-section-title-wrapper" fxLayout="row">
    <div class="portal-section-title">Thông tin chung</div>
    <button class="portal-section-button" (click)="openStatistics()" fxFlex="10" [matTooltip]="'Thống kê'"><i class="fas fa-chart-area"></i></button>
  </div>

  <form #cardFrm="ngForm">
  <mat-form-field class="text-input-field" [floatLabel]="'always'">
      <input type="text" matInput placeholder="Tên" [(ngModel)]="topic.name" name="name" required>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>
    <mat-form-field class="text-input-field" [floatLabel]="'always'">
      <textarea [(ngModel)]="topic.intro" name="intro" matInput   placeholder="Giới thiệu" cdkTextareaAutosize required></textarea>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>
    <div class="title-text">Hình ảnh</div>
    <app-card-image [imageSrc]="topic.image" (sourceChanged)="onImageSourceChanged($event)"
    [disabled]="!cardFrm.enabled" (uploadingChanged)="onUploading($event)"></app-card-image>
  </form>
  
</div>
<mat-divider></mat-divider>
