<div class="d-flex align-items-center mb-3">
  <div class="app-label primary ml-1" [class.active]="!(dashboardSrv.appType$ | async)"
  (click)="setFilterType('')" *ngIf="appNum$ | async as appNum">{{appNum}} app tổng cộng</div>
  <div class="app-label danger ml-3 d-none d-md-block" [class.active]="(dashboardSrv.appType$ | async)=='expired'"
  (click)="setFilterType('expired')" *ngIf="expiredAppNum$ | async as expired">{{expired}} app hết hạn</div>
  <div class="app-label warning ml-3 d-none d-md-block" [class.active]="(dashboardSrv.appType$ | async)=='disconnected'" 
  (click)="setFilterType('disconnected')" *ngIf="disconnectedAppNum$ | async as disconnected">{{disconnected}} app mất quyền</div>
  <mat-select class="form-input form-select" name="sortModes" [ngModel]="sortMode$ | async" (ngModelChange)="sortMode$.next($event)">
    <mat-option *ngFor="let mode of sortModes" [value]="mode.code">{{mode.display}}</mat-option>
  </mat-select>
  <button class="btn btn-action" (click)="reload()">
    <i class="fas fa-sync-alt"></i>
    <span class="d-none d-md-block">Refresh</span>
  </button>
</div>

