@import "~customs.scss";
.app-search {
	border-radius: 20px;
	border: 1px solid $grey-mild;
	&:focus-within {
		border-color: $brand-light;
	}
}

.mat-select {
    flex: 0 0 240px;
    margin-left: auto;
    background: white;
    border-bottom: 2px solid $grey-light;
}

.app-label {
	@include flex-center;
	border-radius: 4px;
	padding: 6px 16px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	&.primary {
		color: $brand-primary;
		background: lighten($brand-primary, 47%);
		&.active {
			background: $brand-primary;
		}
	}
	&.danger {
		color: $brand-danger;
		background: lighten($brand-danger, 37%);
		&.active {
			background: $brand-danger;
		}
	}
	&.warning {
		color: $brand-accent-dark;
		background: lighten($brand-accent-dark, 37%);
		&.active {
			background: $brand-accent-dark;
		}
	}
	&.active {
		color: white;
		box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.06);
	}
}

.btn-action {
	@include flex-align-center;
	padding: 8px 16px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 500;
	background: transparent;
	color: $grey-dark;
	i {
		font-size: 13px;
		margin-right: 8px;
	}
	&:hover {
		background: $grey-light;
	}
}