@import '../../../../../customs.scss';

::ng-deep.mat-expansion-panel-header-title {
    align-items: center; 
}

.story-panel {
    .mat-expansion-panel-header {
        padding: 0 16px;
        .mat-panel-title {
            margin-right: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        button {
            color: $grey;
            &:hover {
                &.select {
                    color: $brand-light;
                }
                &.delete {
                    color: $brand-danger;
                }
            }
        }
    }
}