<mat-expansion-panel class="story-panel" [hideToggle]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>{{selectedStory?selectedStory.name:'Chưa chọn câu chuyện'}}</mat-panel-title>
    <mat-panel-description></mat-panel-description>
    <button class="select" (click)="selectStory()" mat-icon-button matTooltip="Chọn câu chuyện" matTooltipPosition="below">
      <i class="fas fa-external-link-alt"></i>
    </button>
    <button class="delete" (click)="removeConfig()" mat-icon-button matTooltip="Xóa" matTooltipPosition="below">
      <i class="far fa-trash-alt"></i>
    </button>
  </mat-expansion-panel-header>
  <form #myFrm="ngForm">
    <input type="text" matInput [(ngModel)]="config.value" name="value" required hidden>
    <mat-form-field class="text-input-field">
      <mat-select placeholder="Điều kiện" [(ngModel)]="config.type" name="type">
        <mat-option *ngFor="let type of configTypes" [value]="type.value">
          {{type.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="text-input-field" *ngIf="config.type === 'regex'">
      <input type="text" #regexControl="ngModel" [(ngModel)]="config.key.regex" name="regex" matInput placeholder="Khớp chuỗi"
        required>
       
    </mat-form-field>
    <mat-form-field class="text-input-field" *ngIf="config.type === 'number'">
      <input type="number" #numberControl="ngModel" [(ngModel)]="config.key.text" name="number" matInput placeholder="Khớp số"
        required>
       
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="none" *ngIf="config.type === 'range'">
      <mat-form-field class="text-input-field" fxFlex="50">
        <input type="number" #fromControl="ngModel" matInput placeholder="Từ" [(ngModel)]="config.key.from" name="from" required>
         
      </mat-form-field>
      <mat-form-field class="text-input-field padding-left" fxFlex="50">
        <input type="number" #toControl="ngModel" matInput placeholder="Đến" [(ngModel)]="config.key.to" name="to" required>
         
      </mat-form-field>
    </div>
    <!-- <mat-form-field class="text-input-field" *ngIf="config.type === 'intent'">
      <input type="text" matInput placeholder="Ngữ cảnh" required readonly [value]="selectedIntent?selectedIntent.name:'Chưa chọn ngữ cảnh nào'">
      <input type="text" matInput [(ngModel)]="config.key.intent" name="intent" required hidden>
      <mat-hint align="end"></mat-hint>
      <button mat-icon-button matSuffix (click)="selectIntent()">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-form-field> -->
  </form>
</mat-expansion-panel>