<div [ngClass]="data.className" (keydown.enter)="onYesClick()">
  <h2 class="dialog-title">{{data.title}}</h2>
  <div class="input-fields">
    <div class="dialog-row" *ngFor="let item of data.inputs; let i = index">
      <mat-form-field *ngIf="(item.type=='text'||item.type=='number') && (!item.autocomplete || !item.src)" [ngClass]="item.className">
        <input hlTextArea matInput placeholder="{{item.title}}" type="{{item.type}}" (input)="inputChanged(item)" [errorStateMatcher]="item.errorState"
          [(ngModel)]="info[item.property]" [disabled]="item.disabled">
        <mat-error>{{item.error}}</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="item.type=='textarea'" [ngClass]="item.className">
        <textarea matInput placeholder="{{item.title}}" type="{{item.type}}" (input)="inputChanged(item)" [errorStateMatcher]="item.errorState"
          [(ngModel)]="info[item.property]" rows="5" [disabled]="item.disabled"></textarea>
        <mat-error>{{item.error}}</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="item.type=='text' && (item.autocomplete && item.src)" [ngClass]="item.className">
        <input hlTextArea matInput placeholder="{{item.title}}" type="{{item.type}}" (input)="inputChanged(item)" [errorStateMatcher]="item.errorState"
          [(ngModel)]="info[item.property]" [matAutocomplete]="auto" [disabled]="item.disabled">
        <mat-error>{{item.error}}</mat-error>
        <mat-autocomplete #auto="matAutocomplete">
          <div *ngIf="item.autocompleteFilter">
            <mat-option *ngFor="let option of item.autocompleteFilter | async" [value]="option.value">
              {{ option.display }}
            </mat-option>
          </div>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field *ngIf="item.type=='select'">
        <mat-select placeholder="{{item.title}}" [(ngModel)]="info[item.property]" (selectionChange)="inputChanged(item)" [errorStateMatcher]="item.errorState"  [disabled]="item.disabled">
          <mat-option *ngFor="let e of item.options" [value]="e.code">
            {{ e.display }}
          </mat-option>
        </mat-select>
        <mat-error>{{item.error}}</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="item.type=='multi-select'">
        <!-- <mat-select placeholder="{{item.title}}" [(ngModel)]="info[item.property]" (selectionChange)="inputChanged(item)" [errorStateMatcher]="item.errorState">
          <mat-option *ngFor="let e of item.options" [value]="e.code">
            {{ e.display }}
          </mat-option>
        </mat-select> -->

        <mat-select placeholder="{{item.title}}" [(ngModel)]="info[item.property]" (selectionChange)="inputChanged(item)" [formControl]="multiSelect" [errorStateMatcher]="item.errorState" multiple>
          <mat-select-trigger>
            <!-- {{multiSelect.value ? multiSelect.value[0] : ''}} -->
            {{multiSelect.value ? getDisplayByCode(multiSelect.value[0],i) : ''}}
            <span *ngIf="multiSelect.value?.length > 1">
              (+{{multiSelect.value.length - 1}} {{multiSelect.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let e of item.options" [value]="e.code">
            {{ e.display }}
          </mat-option>
        </mat-select>
        <mat-error>{{item.error}}</mat-error>
      </mat-form-field>
      <mat-form-field class="text-input-field" *ngIf="item.type=='date'">
        <input type="text" [readonly]="true" matInput [matDatepicker]="i" [placeholder]="item.title" [(ngModel)]="info[item.property]"
          (dateChange)="inputChanged(item)">
        <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
        <mat-datepicker #i></mat-datepicker>
        <mat-error>{{item.error}}</mat-error>
      </mat-form-field>
      <img src="{{info[item.property]}}" *ngIf="item.isImage" onerror="this.src='/assets/img/no-image.svg'">
    </div>
  </div>
  <div class="bottom-btn-group">
    <!-- <button mat-button color="primary" class="btn-cancel btn btn-md" (click)="onNoClick()" [ngClass]="data.cancelButtonClass">{{data.cancelButtonText}}</button> -->
    <button mat-button color="primary" [disabled]="isError" class="btn-confirm btn btn-md" (click)="onYesClick()" [ngClass]="data.confirmButtonClass">{{data.confirmButtonText}}</button>
  </div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" tabindex="2">Ok</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">No Thanks</button>
</div> -->