<div class="popover-form" id="popover-form">
    <form class="row m-0" (keydown.enter)="onYesClick()">
        <ng-container *ngFor="let field of formOptions.fields; let i = index">
            <div [ngClass]="field.col?field.col:'col-12'">
                <ng-container *ngIf="field.type=='textarea'">
                    <div class="form-input-wrapper">
                        <textarea class="form-input" rows="3" [(ngModel)]="data[field.property]" 
                        tabindex="{{i + 1}}" name="{{field.property}}" (ngModelChange)="inputChanged()" required></textarea>
                        <label>{{field.placeholder}}</label>
                        <span class="form-error" *ngIf="errors[field.property]">{{errors[field.property]}}</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="field.type=='text'">
                    <div class="form-input-wrapper">
                        <input class="form-input" type="{{field.inputType?field.inputType:'text'}}" [(ngModel)]="data[field.property]" tabindex="{{i + 1}}" 
                        name="{{field.property}}" (ngModelChange)="inputChanged()" required>
                        <label>{{field.placeholder}}</label>
                        <span class="form-error" *ngIf="errors[field.property]">{{errors[field.property]}}</span>
                    </div>
                </ng-container>                
                <ng-container *ngIf="field.type=='select'">
                    <mat-form-field class="form-input-wrapper form-select w-100 pb-0 mb-2">
                        <mat-select class="form-input" [(ngModel)]="data[field.property]" tabindex="{{i + 1}}" 
                        name="{{field.property}}" (ngModelChange)="inputChanged()" panelClass="popover-form-select">
                            <mat-option *ngFor="let option of field.options" [value]="option.code">
                                <span *ngIf="field.extra=='color'" class="color" [style.background]="option.code"></span>
                                <span class="text"></span>{{option.display}}
                            </mat-option>
                        </mat-select>
                        <label [class.floating]="data[field.property]">{{field.placeholder}}</label>
                        <span class="form-error" *ngIf="errors[field.property]">{{errors[field.property]}}</span>
                    </mat-form-field>
                </ng-container>                
                <ng-container *ngIf="field.type=='checkbox'">
                    <div class="form-input-wrapper">
                        <div class="checkbox-wrapper" [class.active]="data[field.property]" (click)="onChanged(!data[field.property], field.property)">
                            <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                            <span>{{field.placeholder}}</span>
                        </div>
                    </div>
                </ng-container>  
                <ng-container *ngIf="field.type=='story'||field.type=='topic'">
                    <div class="form-input-wrapper">
                        <app-story-selection [ids]="data[field.property]" (change)="onChanged($event, field.property)" [title]="field.placeholder"
                        [multiple]="false" [mode]="field.type" (active)="active = $event" [error]="errors[field.property]" [removable]="true"></app-story-selection>
                    </div>
                </ng-container>
                <ng-container *ngIf="field.type=='filter' || field.type=='condition'">
                    <div class="other-filter-wrapper" [class.condition]="field.type=='condition'">
                        <div class="form-input-wrapper key">
                            <input class="form-input other-filter-key" [(ngModel)]="data[field.property].key" (ngModelChange)="inputChanged()"
                            name="{{field.property}}-key" required>
                            <label class="input-title">Trường</label>
                            <span class="form-error" *ngIf="errors[field.property]?.key">{{errors[field.property].key}}</span>
                        </div>
                        <mat-form-field class="form-select" [floatLabel]="'never'">
                            <mat-select [(ngModel)]="data[field.property].type" name="{{field.property}}-type"
                            (ngModelChange)="selectionChanged(field)">
                                <mat-option *ngFor="let type of typeArray[field.type]" [value]="type.code">
                                    {{type.display}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="form-input-wrapper value">
                            <input class="form-input other-filter-value" [(ngModel)]="data[field.property].value" (ngModelChange)="inputChanged()" 
                            name="{{field.property}}-value" required [disabled]="data[field.property].type=='#exists'||data[field.property].type=='#non_exists'
                            ||data[field.property].type=='!'||data[field.property].type=='!!'">
                            <label class="input-title">Giá trị</label>
                            <span class="form-error" *ngIf="errors[field.property]?.value">{{errors[field.property].value}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="field.type=='sequence_event'">
                    <div class="sequence-event-wrapper">
                        <div class="form-input-wrapper">
                            <input class="form-input" [(ngModel)]="data[field.property].value" (ngModelChange)="inputChanged()"
                            name="{{field.property}}-value" required>
                            <label class="input-title">gửi sau</label>
                            <span class="form-error" *ngIf="errors[field.property]">{{errors[field.property]}}</span>
                        </div>
                        <mat-button-toggle-group name="{{field.property}}-period" [(ngModel)]="data[field.property].period" (ngModelChange)="inputChanged()">
                            <mat-button-toggle [disableRipple]="true" value="minutes">phút</mat-button-toggle>
                            <mat-button-toggle [disableRipple]="true" value="hours">giờ</mat-button-toggle>
                            <mat-button-toggle [disableRipple]="true" value="days">ngày</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </ng-container>
                <ng-container *ngIf="field.type == 'json'">
                    <div class="input-title">{{field.placeholder}}</div>
                    <json-editor [options]="jsonEditorConfig" [(data)]="data[field.property]"></json-editor>
                </ng-container>
                <ng-container *ngIf="field.type == 'product'">
                    <div class="product-wrapper">
                        <div class="product-image">
                            <app-card-image  [imageSrc]="data[field.property].image" (sourceChanged)="onImageSourceChanged($event, field.property)"
                            [imageRatio]="'square'"></app-card-image>
                        </div>
                        <div class="product-info">
                            <div class="form-input-wrapper">
                                <input class="form-input" [(ngModel)]="data[field.property].name" name="name" (ngModelChange)="inputChanged()">
                                <label class="input-title">Tên sản phẩm</label>
                                <span class="form-error" *ngIf="errors[field.property]?.name">{{errors[field.property].name}}</span>
                            </div>
                            <div class="form-input-wrapper">
                                <input class="form-input" [(ngModel)]="data[field.property].price" type="number" name="price">
                                <label class="input-title">Giá</label>
                                <!-- <span class="form-error" *ngIf="errors[field.property]?.price">{{errors[field.property].price}}</span> -->
                            </div>
                            <div class="form-input-wrapper">
                                <input class="form-input" [(ngModel)]="data[field.property].description" name="desc">
                                <label class="input-title">Mô tả</label>
                                <span class="form-error" *ngIf="errors[field.property]?.description">{{errors[field.property].description}}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="field.type == 'subscribers'">
                    <div class="subscriber-list-wrapper">
                        <div class="subscriber-list">
                            <input class="form-input" placeholder="Tìm khách hàng" [(ngModel)]="searchText" name="searchText"
                            (keydown.enter)="search(); $event.stopPropagation();">
                            <i class="fas fa-search search"></i>
                            <i class="fas fa-times clear" *ngIf="searchText" (click)="searchText=''; $event.stopPropagation()"></i>
                            <div class="subscriber-container">
                                <div class="spinner-wrapper" *ngIf="!loadSubscribersDone"><mat-spinner [diameter]="15"></mat-spinner></div>
                                <ng-container *ngIf="loadSubscribersDone">
                                    <ng-container *ngIf="!searchText">
                                        <div class="subscriber-item" *ngFor="let sub of subscribers" (click)="addSubscriber(field, sub)">
                                            <div class="avatar image-wrapper circle"><img src="{{sub.messengerProfile.profile_pic}}"
                                                onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                                            <div class="name">{{sub.messengerProfile.name}}</div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="searchText">
                                        <div class="subscriber-item" *ngFor="let sub of searchedSubscribers" (click)="addSubscriber(field, sub)">
                                            <div class="avatar image-wrapper circle"><img src="{{sub.messengerProfile.profile_pic}}"
                                                onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                                            <div class="name">{{sub.messengerProfile.name}}</div>
                                        </div>
                                    </ng-container>
                                    <div class="subscriber-item extra" *ngIf="(!searchText && subscribers.length < totalSubscribers)
                                    || (searchText && (searching || searchedSubscribers.length < totalSearchSubscribers))" (click)="searchText?searchMore():loadMore(); $event.stopPropagation();">
                                        <div class="name" *ngIf="!loadingMore && !searching">
                                            Tải thêm (còn {{searchText?(totalSearchSubscribers - searchedSubscribers.length):(totalSubscribers - subscribers.length)}} khách hàng)
                                        </div>
                                        <div class="spinner-wrapper" *ngIf="loadingMore || searching"><mat-spinner [diameter]="15"></mat-spinner></div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="selected-subscriber-list">
                            <div class="form-title">{{field.placeholder}}</div>
                            <div>
                                <div class="subscriber-item" *ngFor="let sub of data[field.property]" (click)="removeSubscriber(field, sub)">
                                    <div class="avatar image-wrapper circle"><img src="{{sub.messengerProfile.profile_pic}}"
                                        onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                                    <div class="name">{{sub.messengerProfile.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <div class="form-buttons col-12">
            <button class="btn-cancel" type="button" (click)="onNoClick()">{{formOptions.cancel}}</button>
            <button class="btn-confirm" type="button" (click)="onYesClick()" [disabled]="hasError">{{formOptions.confirm}}</button>
        </div>
    </form>
</div>

