@import "~customs.scss";

#popover-container {
    opacity: 0;
}

.popover-form {
    padding: 16px 12px 12px;
    background: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    z-index: 900;
    position: absolute;
    animation: emerge 0.2s cubic-bezier(.25,.8,.25,1) !important;
    >.row {
        >* {            
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}

.form-input-wrapper {
    position: relative;
}

.form-select {
	min-width: 0;
	width: 100px;
	flex: 0 0 100px;
	font-size: 14px;
	height: 40px;
	color: $grey;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.sequence-event-wrapper {
    display: flex;
    .form-input-wrapper {
        width: 100px;
        position: relative;
        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    ::ng-deep.mat-button-toggle-group {
        height: 40.4px;
        border-radius: 0px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border: 1px solid $grey-light;
        border-left: none;
        ::ng-deep.mat-button-toggle {
            @include flex-center;
            color: $grey-dark;
            ::ng-deep.mat-button-toggle-button {
                ::ng-deep.mat-button-toggle-label-content {
                    line-height: initial;
                    padding: 0 8px;
                    font-size: 13px;
                }
            }
            &.mat-button-toggle-checked {
                background-color: $brand-light;
                color: white;
                ::ng-deep.mat-button-toggle-focus-overlay {
                    display: none;
                }
            }
        }
    }
}

.other-filter-wrapper {
    display: flex;
    flex: 0 0 50%;
    height: 40px;
    margin-bottom: 16px;
    .form-input-wrapper {
        position: relative;
        .form-input ~ label {
            color: $grey;
            position: absolute;
            background: white;
            pointer-events: none;
            font-size: 14px;
            font-weight: 400;
            left: 8px !important;
            top: 10px;
            padding: 0 4px;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
        .form-input:focus ~ label,
        .form-input:valid ~ label,
        label.floating {
            left: 8px !important;
            top: -8px;
            font-size: 12px;
        }
        .form-input:focus ~ label {
            color: $brand-light;
        }
        .form-input[disabled], .form-input[readonly] {
            border-style: dashed !important;
            color: $grey;
        }
        .form-input[disabled] ~ label, .form-input[readonly] ~ label {
            color: $grey-mild;
        }
        &.key {
            flex: 0 0 150px;
        }
        &.value {
            flex: 1 0 auto;
        }
    }
    .form-select {
        width: 150px;
        flex: 0 0 150px;
    }
    &.condition {
        .form-select {
            width: 100px;
            flex: 0 0 100px;
        }
        .form-input-wrapper.value {
            flex: 1 1 auto;
        }
    }
}

.ref-wrapper {
    @include flex-align-center;
}

.product-wrapper {
    @include flex-align-start;
    .product-image {
        flex: 0 0 145px;
        width: 145px;
        border: 1px solid $grey-light;
        border-radius: 2px;
    }
    .product-info {
        flex: 1 1 auto;
        padding-left: 12px;
    }
}

.subscriber-list-wrapper {
    border: 1px solid $grey-light;
    margin-bottom: 12px;
    height: 250px;
    .subscriber-container {
        position: relative;
    }
    .spinner-wrapper {
        height: 100%;
    }
}

.form-title {
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

::ng-deep.popover-form-select {
    .mat-option-text {
        display: flex;
        align-items: center;
    }
    .text {
        color: $grey-darkest;
    }
    .color {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 8px;
    }
}