@import '~customs.scss';

i.on {
  cursor: pointer;
  font-size: 20px;
  color: $green-400;
}

i.off {
  cursor: pointer;
  font-size: 20px;
  color: $grey-mild;
}

.owner {
  .name {
    color: $grey-darker;
    font-size: 14px;
    line-height: 20px;
    i {
      margin-left: 2px;
      transform: translateY(-2px);
      font-size: 13px;
      &.admin {
          color: $brand-accent
      }
      &.agency {
          color: $brand-light
      }
    }
  }
  .extra {
    color: $grey-dark;
    font-size: 12px;
    line-height: 14px;
    i {
      margin-right: 4px;
      font-size: 10px;
    }
  }
}

.app-item {
  @include flex-center;
  display: inline-flex;
  padding: 8px 12px;
  background: $grey-lightest;
  border-radius: 6px;
  color: $grey-dark;
  margin-bottom: 8px;
  margin-right: 8px;
  .app-info, .app-owner {
    @include flex-center;
  }
  .app-owner {
    padding-left: 8px;
    margin-left: 8px;
    border-left: 1px solid $grey-lighter;
  }
  .avatar {   
    width: 28px;
    flex: 0 0 28px;
    margin-right: 8px;
  }
  .name {
    color: $grey-dark;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
  }
  .sub-name {
    color: $grey-dark;
    font-weight: 400;
    text-align: left;
    font-size: 13px;
    line-height: 15px;
  }
}