
<div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
<ng-container *ngIf="loadDone && codes">
  <form class="user-section-toolbar">
    <button class="btn btn-add" type="button" (click)="createCode()" [disabled]="inviting">
      <mat-spinner [diameter]="20" *ngIf="inviting"></mat-spinner>
      <span [style.opacity]="inviting?'0':'1'"><i class="fas fa-user-plus"></i>Tạo mã code</span>
    </button>
    <div class="toolbar-buttons">
        <span class="total">Hiển thị {{codes.length}}/{{total}}</span>
      <button class="btn" (click)="reload(false)" [matTooltip]="'Refresh'"><i class="fas fa-sync-alt" [class.fa-spin]="loading"></i></button>
      <div class="form-input-wrapper search">
        <input class="form-input" name="search" (keydown.enter)="reload()" (blur)="reload()" 
        (change)="!searchText?reload():false" placeholder="Tìm kiếm" [(ngModel)]="searchText">
      </div>
    </div>
  </form>
  <div class="not-found col-12" *ngIf="!codes.length">
    Không có mã code
  </div>
  <div class="table-container" *ngIf="codes.length">
    <table mat-table [dataSource]="codes" multiTemplateDataRows>
    
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell *matCellDef="let index = dataIndex"> {{index + 1}} </td>
      </ng-container>
    
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let el"> {{el.code}} </td>
      </ng-container>
    
      <ng-container matColumnDef="saleOf">
        <th mat-header-cell *matHeaderCellDef>Sale Off</th>
        <td mat-cell *matCellDef="let el"> {{el.saleOf}}% </td>
      </ng-container>
    
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef>Người sở hữu</th>
        <td mat-cell *matCellDef="let el"> 
          <div class="owner">
            <div class="name">{{el.owner.name}}
              <ng-container *ngIf="el.owner.rule=='system_admin'"><i class="fas fa-crown admin" [matTooltip]="'Admin'"></i></ng-container>
              <ng-container *ngIf="el.owner.rule=='system_agency'"><i class="fas fa-briefcase agency" [matTooltip]="'Agency'"></i></ng-container>
            </div>
            <div class="extra">
              <span *ngIf="el.owner.email">{{el.owner.email}}</span>
              <span *ngIf="el.owner.phone"> - {{el.owner.phone}}</span>
            </div>
          </div>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
        <td mat-cell *matCellDef="let el">
          <i class="fas fa-toggle-off off" [matTooltip]="'Bật hoạt động code'"
          *ngIf="el.status=='deactive'" (click)="setStatus('active', el)"></i>
          <i class="fas fa-toggle-on on" [matTooltip]="'Tắt hoạt động code'" 
          *ngIf="el.status=='active'" (click)="setStatus('deactive', el)"></i>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let el">
          <button class="btn btn-details" (click)="setExpandedElement(el)">
            <i class="fas fa-th-list"></i><span class="text">Danh sách app</span></button>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let el" [attr.colspan]="displayedColumns.length">
          <div class="detail-row-wrapper" [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">
              <div class="spinner-wrapper" *ngIf="loadingApps"><mat-spinner [diameter]="20"></mat-spinner></div>
              <ng-container *ngIf="!loadingApps && apps">
                <span class="not-found" *ngIf="!apps.length">Không có app</span>
                <span class="app-item" *ngFor="let app of apps">
                  <div class="app-info">
                    <div class="avatar">
                      <div class="image-wrapper circle"><img src="{{app?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"></div>
                    </div>
                    <div><div class="name">{{app?.name}}</div><div class="sub-name">{{app?.activePage?.name}}</div></div>
                  </div>
                  <div class="app-owner" *ngIf="app.ownerObj">
                    <div class="avatar">
                      <div class="image-wrapper circle"><img src="{{app.ownerObj.picture}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                    </div>
                    <span class="sub-name">{{app.ownerObj.name}}</span>
                  </div>
                </span>
              </ng-container>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded]="row == expandedElement"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
  </div>
  <button class="btn btn-load-more" *ngIf="!searchText && codes.length && codes.length < total" 
  (click)="loadMore()" [disabled]="loadingMore">
    <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="20"></mat-spinner></div>
    <span class="text" [style.opacity]="loadingMore?'0':'1'">Tải thêm...</span>
  </button>
</ng-container>