@import '~customs.scss';

.mat-dialog-container {
    padding: 24px;
}

.copy-dialog-wrapper {
    padding: 0 8px;
}

.copy-section {
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-top: 1px solid $grey-lightest;
    }
}

.title {
    font-weight: 500;
    font-size: 14px;
    color: $grey-dark;
}

.content {
    .text {
        color: $grey-darker;
        font-size: 14px;
        padding-left: 8px;
        display: flex;
        margin-bottom: 2px;
        @include flex-align-center;
        .avatar {
            width: 20px;
            padding-bottom: 20px;
            margin-right: 8px;
            img {
                object-fit: cover;
            }
        }
    }
    .subtext {
        color: $grey;
        font-weight: 300;
        font-size: 12px;
        padding-left: 8px;
    }
}

.select-destination-list {
    margin-top: 12px;    
    width: 100%;
    .list-wrapper {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border: 1px solid $grey-light;
        min-height: 220px;
        height: calc(70vh - 200px);
        @include custom-scrollbar-grey;
        >* {
            animation: emerge 0.3s ease-in-out;
        }
    }
}

.content-list {
    height: 100%;
    position: relative;
    input {
        padding: 0 40px;
        height: 40px;
        border: none;
        border-bottom: 1px solid $grey-light;
        &:focus {
            border-color: $grey-light !important;
        }
    }
    i {
        color: $grey;
    }
    .search {
        position: absolute;
        left: 12px;
        top: 12px;
    }
    .clear {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
        &:hover {
            color: $brand-light;
        }
    }
    .content-container {
        height: calc(100% - 40px);
        @include custom-scrollbar-grey;
        .story-item {            
            padding: 6px 10px 4px;
        }
        .story-group-title {
            color: $grey-dark;
            padding: 4px 8px;
            font-size: 13px;
            font-weight: 500;
            animation: emerge 0.3s ease-in-out;
            i {
                margin-right: 8px;
            }
        }
    }
}

.story-item {
    color: $grey-dark;
    cursor: pointer;
    @include flex-align-center;
    font-size: 14px;
    animation: emerge 0.3s ease-in-out;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-flex;
    padding: 0 12px;
    &:first-child {
        padding-top: 12px;
    }
    &:last-child {
        padding-bottom: 12px;
    }
    i {
        margin-right: 8px;
        display: inline;
        color: $grey;
        &.check {
            display: none;
        }
    }
    &.active {
        i {
            display: none;
            color: $brand-accent;
            &.check {
                display: inline;
            }
        }
    }
    &:hover {
        color: $brand-light;
    }
}


.app-wrapper {
    align-content: flex-start;
    height: calc(70vh - 200px);
    border-radius: 3px;
    @include custom-scrollbar-grey;
    .app-column {
        padding: 4px;
        align-self: stretch;
        max-height: 160px;
        }
    .btn-app {
        @include flex-align-center;
        justify-content: flex-start;
        flex-direction: column;
        color: $grey-dark;
        padding: 8px;
        height: 100%;
        width: 100%;
        position: relative;
        background: white;
        border: 1px solid $grey-light;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
        .image-wrapper {
            width: 40px;
            padding-bottom: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
            transition: all 0.3s ease-in-out;
            }
        }
        .app-name {
            margin-top: 8px;
            font-size: 13px;
            font-weight: 500;
            @include text-ellipsis(3)
        }
        .check {
            color: $brand-success;
            margin-left: auto;
            margin-right: 0;
            font-size: 18px;
            background: white;
            border-radius: 50%;
            padding-bottom: 2px;
            padding-right: 0.2px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
            display: none;
            position: absolute;
            right: 20%;
            top: 36px;
        }
        &:hover {
            color: $brand-light;
            border-color: $brand-light;
            img {
            transform: scale(1.1)
            }
        }
        &.active {
            border-color: $brand-light;
            color: $brand-light;
            .check {
            display: inline-block;
            animation: slide-up 0.3s ease-in-out;
            }
        }
        &[disabled] {
            pointer-events: none;
            color: $grey-mild;
            img {
            filter: grayscale(100%);
            }
        }
    }
}

.bottom-button {
    display: flex;
    .form-input-wrapper {
        padding-bottom: 0;
        input {
            padding: 0 40px;
            height: 40px;
            &:focus {
                border-color: $grey-light !important;
            }
        }
        i {
            color: $grey;
        }
        .search {
            position: absolute;
            left: 12px;
            top: 12px;
        }
        .clear {
            position: absolute;
            right: 12px;
            top: 12px;
            cursor: pointer;
            &:hover {
                color: $brand-light;
            }
        }
    }
    .success {
        white-space: pre;
        word-break: keep-all;
        margin-left: auto;
        width: auto;
        padding: 10px 8px;
        color: $green-400;
        font-weight: 500;
        font-size: 15px;
        text-align: right;        
        @include flex-align-center;
        justify-content: flex-end;
        animation: slide-up-slightly 0.3s ease-in-out;
        i {
            margin-right: 8px;
        }
    }
    .btn-copy {
        margin-left: auto;
        width: auto;
        padding: 10px 28px;
        min-width: 150px;
        transition: width 0.3s ease-in-out;
        @include flex-center;
        background-color: $brand-light;
        color: white;
        font-weight: 500;
        font-size: 15px;
        i {
            margin-right: 8px;
        }
        &:disabled {
            pointer-events: none;
            opacity: 0.6;
        }
        &:hover {
            background-color: $brand-primary;
        }
        .spinner-wrapper {
            display: none;
            position: relative;
            height: 100%;
            ::ng-deep.mat-spinner svg circle {
                stroke: white;
            }
        }
        &.active {
            pointer-events: none;
            background-color: $brand-primary;
            .spinner-wrapper {
                display: inherit;
            }
            .text {
                display: none;
            }
        }
    }
    .btn-open {
        border: 1.2px solid $green-400;
        border-radius: 3px;
        color: $green-400;
        font-weight: 400;
        font-size: 14px;
        width: auto;
        margin-left: 12px;
        animation: slide-up-slightly 0.3s ease-in-out;
        &:hover {
            background: $green-400;
            color: white;
        }
    }
}

.not-found {
    color: $grey;
    width: 100%;
    padding: 24px;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col-3, .col-9 {
    padding-left: 0;
    padding-right: 0;
}

.spinner-wrapper {
    height: 80%;
}