<div class="copy-dialog-wrapper">
  <div class="copy-section row">
    <div class="title col-3">Nội dung sao chép</div>
    <div class="content col-9">
        <div class="text">{{data.name}}</div>
        <div class="subtext">{{data.type}}</div>
    </div>
  </div>
  <div class="copy-section row">
    <div class="title col-3">
      Sao chép đến
    </div>
    <div class="content col-9">
      <ng-container *ngIf="data.mode=='card'">
        <div class="text">{{selectedStory?.name}}</div>
        <div class="subtext">Câu chuyện</div>
      </ng-container>
      <ng-container *ngIf="data.mode=='story' || data.mode=='storyGroup' || data.mode=='hashtag' || data.mode=='wheel'">
        <div class="text">{{selectedApp?.activePage?.name}}</div>
        <div class="subtext">App</div>
        <select *ngIf="data.mode=='story'" class="form-input form-select mt-1"
        [(ngModel)]="targetStoryGroupId" [disabled]="!(targetStoryGroups$ | async)?.length">
          <option value="">Không chọn nhóm câu chuyện</option>
          <option *ngFor="let storyGroup of targetStoryGroups$ | async" [ngValue]="storyGroup._id">{{storyGroup.name}}</option>
        </select>
      </ng-container>
    </div>
    <div class="select-destination-list" [style.pointer-events]="(copying || success)?'none':''">
      <div class="list-wrapper" *ngIf="data.mode=='card'">
          <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="25"></mat-spinner></div>
          <ng-container *ngIf="loadDone">
              <div class="content-list">
                  <input class="form-input" id="story-filter" placeholder="Tìm kiếm" [(ngModel)]="searchText">
                  <i class="fas fa-search search"></i>
                  <i class="fas fa-times clear" *ngIf="searchText" (click)="searchText=''"></i>
                  <div class="content-container">
                      <div class="not-found" *ngIf="!stories?.length && storyGroups?.length <= 1">Chưa có câu chuyện</div>
                      <div class="story-group-item" *ngFor="let group of storyGroups">
                          <div class="story-group-title" *ngIf="!group.isDefault && !searchText"><i class="fas fa-folder"></i>{{group.name}}</div>
                          <div class="story-item" *ngFor="let story of group.stories | nameFilter:searchText" [class.active]="selectedStory._id==story._id" (click)="selectedStory=story">
                              <i class="far fa-circle"></i><i class="fas fa-check-circle check"></i>{{story.name}}
                          </div>
                      </div>
                  </div>
              </div>
          </ng-container>
      </div>
      <ng-container *ngIf="data.mode=='story' || data.mode=='storyGroup' || data.mode=='hashtag' || data.mode=='wheel'">
        <div class="app-wrapper row m-0">
          <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="25"></mat-spinner></div>
          <ng-container *ngIf="loadDone">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 app-column" *ngFor="let app of apps | appFilter:appSearchText" [hidden]="!app.activePage">
              <button class="btn btn-app" [class.active]="selectedApp._id == app._id" (click)="this.selectedApp = app; getStoryGroupsList()" [disabled]="app.disabled">
                <div class="image-wrapper circle">
                  <img src="{{app?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'">
                </div>
                <div class="app-name">{{app?.activePage?.name}}</div>
                <i class="fas fa-check-circle check"></i>
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="bottom-button" [style.pointer-events]="copying?'none':''">
    <div class="form-input-wrapper" *ngIf="data.mode != 'card'">
      <input class="form-input" id="app-filter" placeholder="Tìm kiếm" [(ngModel)]="appSearchText">
      <i class="fas fa-search search"></i>
      <i class="fas fa-times clear" *ngIf="appSearchText" (click)="appSearchText=''"></i>
    </div>
    <button class="btn btn-copy" [class.active]="copying" (click)="copy()" [hidden]="success" [disabled]="(data.mode=='card' && !selectedStory)">
        <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
        <span class="text"><i class="far fa-paper-plane"></i>Sao chép {{modeDisplay[data.mode]}}</span>
    </button>
    <div class="success" *ngIf="success"><i class="fas fa-check"></i>Sao chép thành công</div>
    <button class="btn btn-open" *ngIf="success" (click)="openStory()" [hidden]="data.mode=='storyGroup' && selectedApp._id==chatbotApi.chatbotAuth.app._id">Mở 
      <ng-container *ngIf="data.mode=='card' || data.mode=='story'"> câu chuyện</ng-container>
      <ng-container *ngIf="data.mode=='storyGroup'"> nhóm câu chuyện</ng-container>
      <ng-container *ngIf="data.mode=='hashtag'"> hashtag</ng-container>
      <ng-container *ngIf="data.mode=='wheel'"> vòng quay</ng-container>
    </button>
  </div>
</div>