<div fxFlex fxLayout="row" class="w-mat-timepicker">

    <button (click)="showPicker($event)" class="time-picker-button" [disabled]="disabled">
        <i class="far fa-clock"></i>
    </button>
    
    <mat-form-field fxFlex class="timeContainer">
        <input matInput #timeInput
            class="timeInput"
            [placeholder]="placeholder" 
            id="time_Control" 
            name="time_Control"
            [disabled]="disabled"
        >
    </mat-form-field>

</div>
