
.w-mat-timepicker {
    position: relative;
    width: 100%;
    height: 100%;
    .time-picker-button {    
        padding: 4px;
        margin: 0;
        position: absolute;
        right: 0;
        top: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 100;
        &:focus {
            outline: none;
        }
    }
    .timeContainer {
        width: 100%;
        height: 100%;
    }
    
}