<div class="portal" [style.width]="index == 0?'300px':'350px'" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button *ngIf="select" mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner><span [hidden]="isSaving"><i class="fas fa-check-square"></i>Chọn</span>
    </button>
    <span class="saved-label" *ngIf="saved && select"><mat-icon>check</mat-icon>Đã lưu</span>
    <div class="spinner-wrapper" *ngIf="loadStoriesDone && loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon class="icon-btn" style="cursor: pointer" (click)="close()" [hidden]="index == 0">close</mat-icon>
    <i [hidden]="index != 0 || loading" matTooltip="Mở sơ đồ câu chuyện" matTooltipPosition="right" class="fas fa-project-diagram icon-btn diagram-icon ml-2" 
    style="cursor: pointer" (click)="openDiagramPortal()"></i>
  </mat-toolbar>

  <div class="portal-content-block" [class.has-footer]="(loadStoriesDone && (hasSelectionSet || !select)) && (stories?.length || storyGroups?.length > 1)" id="{{portalId}}">
    <div class="spinner-wrapper" *ngIf="!loadStoriesDone || (!hasSelectionSet && select)"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div class="no-content" *ngIf="(loadStoriesDone && (hasSelectionSet || !select)) && !stories?.length && storyGroups?.length <= 1">
      <div class="no-content-text">
        Chưa có {{sequence?groupName:itemName}} nào
      </div>
      <button class="button-remove-overlay btn-create-story" mat-button color='primary' (click)="sequence?createGroup($event, '.btn-create-story'):createStory($event)">
        Tạo {{sequence?groupName:itemName}} mới
      </button>
    </div>
    <div *ngIf="(loadStoriesDone && (hasSelectionSet || !select)) && (stories?.length || storyGroups?.length > 1)">
  
      <div class="story-groups-wrapper" cdkDropListGroup>
        <div class="story-group-item" *ngFor="let group of storyGroups | storyFilter:story_filter; let i = index" [class.expanded]="(story_filter || select)?true:group.expanded" 
        [class.active]="group?.active" [class.default]="group?.isDefault" [class.select]="group.select" [ngClass]="group.type">
          <div class="story-group-header" (click)="select?selectGroup(group):expandGroup(group, i)">
            <div class="group-title">
              <ng-container *ngIf="!select">
                <ng-container *ngIf="sequence">
                  <i class="far fa-list-alt" *ngIf="!group.active"></i>
                  <i class="fas fa-list-alt" *ngIf="group.active"></i>
                </ng-container>
                <ng-container *ngIf="!sequence">
                  <i class="far fa-folder" *ngIf="!group.expanded && !group.active"></i>
                  <i class="far fa-folder-open" *ngIf="group.expanded && !group.active"></i>
                  <i class="fas fa-folder" *ngIf="!group.expanded && group.active"></i>
                  <i class="fas fa-folder-open" *ngIf="group.expanded && group.active"></i>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="select && multi">
                <i class="far fa-square" *ngIf="!group.select"></i>
                <i class="fas fa-check-square" *ngIf="group.select"></i>
              </ng-container>
              <ng-container *ngIf="select && !multi">
                <i class="far fa-dot-circle"></i>
              </ng-container>
            <span>{{group.name}}</span></div>
            <div class="story-buttons" [hidden]="group.isDefault">
              <button class="btn-story" [matTooltip]="story_filter?'':'Đổi tên'" (click)="editGroup($event, group); $event.stopPropagation()"><i class="far fa-edit"></i></button>
              <button class="btn-story" [matTooltip]="story_filter?'':'Danh sách người dùng'" (click)="openSequenSubscriberDialog(group); $event.stopPropagation()" *ngIf="sequence"><i class="far fa-user"></i></button>
              <button class="btn-story" [matTooltip]="story_filter?'':'Sao chép nhóm'" (click)="duplicateStoryGroup(group); $event.stopPropagation()"><i class="far fa-copy"></i></button>
              <button class="btn-story" [matTooltip]="story_filter?'':'Xóa nhóm'" [matMenuTriggerFor]="deleteGroupMenu" (click)="$event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
              <mat-menu #deleteGroupMenu="matMenu" [xPosition]="'after'" [yPosition]="'below'">
                <button mat-menu-item (click)="removeGroup(group)">Chỉ xóa nhóm</button>
                <button mat-menu-item (click)="removeGroup(group, true)">Xóa nhóm + câu chuyện thuộc nhóm</button>
              </mat-menu>
            </div>
          </div>

          <div class="stories-wrapper">
            <div [class.empty]="!group.stories.length" cdkDropList [cdkDropListDisabled]="!!story_filter" [cdkDropListData]="group" (cdkDropListDropped)="dropStory($event)">
              <div class="story-item-container" *ngFor="let story of group.stories; let i = index; trackBy: trackByFn" 
              [class.active]="story?.active" cdkDragLockAxis="y" cdkDrag>
                <div class="story-event" *ngIf="sequence && !group.isDefault && group?.sequenceEvents[i]" (click)="editSequenceEvent($event, group, i)">
                  sau {{group.sequenceEvents[i].value}} {{sequenceEventPeriods[group.sequenceEvents[i].period]}}
                </div>
                <button class="story-item" [ngClass]="group.type"
                (click)="select?selectStory(story, group):openStory(story)" [class.select]="story.select" [class.active]="story?.active">
                  <div class="story-name">
                    <ng-container *ngIf="!select" [ngSwitch]="mode">
                      <ng-container *ngSwitchCase="'broadcast'">
                        <i class="fas fa-file-audio" *ngIf="story?.active"></i>
                        <i class="far fa-file-audio" *ngIf="!story?.active"></i>
                      </ng-container>
                      <ng-container *ngSwitchCase="'sequence'">
                        <i class="fas fa-file-archive" *ngIf="story?.active"></i>
                        <i class="far fa-file-archive" *ngIf="!story?.active"></i>
                      </ng-container>
                      <ng-container *ngSwitchCase="'normal'">
                        <i class="fas fa-file-alt" *ngIf="story?.active"></i>
                        <i class="far fa-file-alt" *ngIf="!story?.active"></i>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="select && multi">
                      <i class="far fa-square" *ngIf="!story.select"></i>
                      <i class="fas fa-check-square" *ngIf="story.select"></i>
                    </ng-container>
                    <ng-container *ngIf="select && !multi">
                      <i class="far fa-circle" *ngIf="!story.select"></i>
                      <i class="fas fa-check-circle" *ngIf="story.select"></i>
                    </ng-container>
                    <span>{{story.name}}</span>
                  </div>
                  <div class="story-buttons">
                    <button class="btn-story" [matTooltip]="story_filter?'':'Sao chép câu chuyện'" 
                    (click)="duplicateStory(story); $event.stopPropagation()"><i class="far fa-copy"></i></button>
                    <button class="btn-story" [matTooltip]="story_filter?'':'Xoá câu chuyện'" 
                    (click)="removeStory(story); $event.stopPropagation()" *ngIf="!select"><i class="far fa-trash-alt"></i></button>
                    <button class="btn-story" [matTooltip]="story_filter?'':'Mở câu chuyện'" 
                    (click)="openStory(story); $event.stopPropagation()" *ngIf="select"><i class="fas fa-angle-right"></i></button>
                  </div>
                </button>
              </div>
            </div>
            <button class="story-item add" (click)="createStory($event, group)" [hidden]="group?.isDefault">
              <div class="story-name"><i class="far fa-plus-square"></i>Thêm {{itemName}}</div>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="portal-footer" [ngClass]="(loadStoriesDone && (hasSelectionSet || !select) && (stories?.length || storyGroups?.length > 1))?'portal-footer-display':''">
    <input class="form-input" [(ngModel)]="story_filter" placeholder="Tìm kiếm">
    <button mat-button class="btn-grey" (click)="refresh()" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button mat-button class="btn-grey" (click)="createGroup($event, '.btn-grey')" [matTooltip]="'Tạo ' + groupName" matTooltipPosition="above" [hidden]="sequence">
      <i class="fas fa-folder-plus"></i></button>
    <button class="btn-blue btn-create-story" mat-raised-button color="primary"
    matTooltipPosition="above" (click)="sequence?createGroup($event, '.btn-blue'):createStory($event, null)">
      <i class="fas" [ngClass]="sequence?'fa-folder-plus':'fa-plus-circle'"></i><span>{{sequence?'Thêm luồng':('Tạo ' + itemName)}}</span>
    </button>
  </div>
</div>