<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button *ngIf="selectedEvoucher" mat-button class="save-button" [class.fade-in]="showSave" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="selectedEvoucher && saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <div class="spinner-wrapper" *ngIf="loadDone && loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="ml-2 icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId" [class.has-footer]="loadDone && !selectedEvoucher && evouchers?.length">
    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div class="no-content" *ngIf="loadDone && !evouchers?.length && !selectedEvoucher">
      <div class="no-content-text">
        Chưa có khuyến mãi nào 
      </div>
      <button class="btn-create button-remove-overlay" mat-button color='primary' (click)="addEvoucher($event, true)">
        Tạo khuyến mãi mới
      </button>
    </div>
    <ng-container *ngIf="!selectedEvoucher">
      <button class="portal-list-item" *ngFor="let evoucher of evouchers | nameFilter:filter:'title'; let i = index; trackBy: trackByFn" (click)="openEvoucher(evoucher)">
        <div class="name">
          <i class="numbering">{{i + 1}}</i>
          <span>{{evoucher.title}}</span>
        </div>
        <div class="action-buttons">
          <button class="btn-action" [matTooltip]="'Đổi tên'" 
          (click)="editName($event, evoucher); $event.stopPropagation()"><i class="far fa-edit"></i></button>
          <!-- <button class="btn-action" [matTooltip]="'Sao chép'" 
          (click)="copy(wheel); $event.stopPropagation()"><i class="far fa-copy"></i></button> -->
          <button class="btn-action" [matTooltip]="'Xóa'" 
          (click)="remove(evoucher); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
        </div>
      </button>
    </ng-container>
    <ng-container *ngIf="selectedEvoucher">
      <button class="portal-list-item selected" (click)="openEvoucher()">
        <div class="name">
          <i class="fas fa-arrow-left"></i>
          <span>{{selectedEvoucher.title}}</span>
        </div>
        <div class="action-buttons show">
          <button class="btn-action" [matTooltip]="'Đổi tên'" 
          (click)="editName($event, selectedEvoucher); $event.stopPropagation()"><i class="far fa-edit"></i></button>
          <!-- <button class="btn-action" [matTooltip]="'Sao chép'" 
          (click)="copy(selectedWheel); $event.stopPropagation()"><i class="far fa-copy"></i></button> -->
          <button class="btn-action" [matTooltip]="'Xóa'" 
          (click)="remove(selectedEvoucher); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
        </div>
      </button>

      <div class="tab-buttons">
        <button class="btn btn-tab" [class.active]="tabIndex == 0"
        (click)="changeTab(0)">Chung</button>
        <button class="btn btn-tab" [class.active]="tabIndex == 1"
        (click)="changeTab(1)">Chi tiết</button>
        <button class="btn btn-tab" [class.active]="tabIndex == 2"
        (click)="changeTab(2)">Kết quả</button>
        <button class="btn btn-tab" [class.active]="tabIndex == 3"
        (click)="changeTab(3)">Nhắc nhở</button>
      </div>

      <form>
        <div class="spinner-wrapper relative" *ngIf="loadingItem"><mat-spinner [diameter]="30"></mat-spinner></div>
        <mat-tab-group [selectedIndex]="tabIndex" [style.pointer-events]="submitting?'none':''" *ngIf="!loadingItem && evoucher">
          <mat-tab>

              <div class="row m-0 justify-content-center">
                <div class="form-input-wrapper col-8 p-0">                
                  <div class="input-title justify-content-center">Loại khuyến mãi</div>
                  <mat-form-field class="form-select">
                    <mat-select [(ngModel)]="evoucher.targetType" name="targetType"
                    (ngModelChange)="targetTypeChanged()" [disabled]="isSaving">
                        <mat-option *ngFor="let option of targetTypes" [value]="option.code">{{option.display}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <ng-container *ngIf="evoucher.targetType!='manually'">
                <div class="form-input-wrapper">
                  <div class="input-title">Mã khuyến mãi</div>
                  <input class="form-input" name="format" [(ngModel)]="evoucher.format" (ngModelChange)="dataChanged()">
                </div>
              </ng-container>
              <ng-container *ngIf="evoucher.targetType == 'manually'">
                <div class="form-input-wrapper row m-0">
                  <div class="input-title col-12">Mã khuyến mãi</div>
                  <mat-form-field class="form-select bg-grey col-2 p-0 border-right-0">
                    <mat-select [(ngModel)]="formatNumber" name="formatNumber"
                    (ngModelChange)="formatChanged('number')" [disabled]="isSaving">
                      <mat-option *ngFor="let option of formatNumbers" [value]="option">{{option?option:'*'}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="form-select bg-grey col-5 p-0 border-right-0">
                    <mat-select [(ngModel)]="formatType" name="formatType"
                    (ngModelChange)="formatChanged('type')" [disabled]="isSaving">
                        <mat-option *ngFor="let option of formatTypes" [value]="option.code">{{option.display}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <input class="form-input col-5" name="format" [(ngModel)]="evoucher.format" (ngModelChange)="formatChanged('input')">
                </div>
              </ng-container>

              <div class="form-input-wrapper p-2">
                <div class="form-checkbox" [class.checked]="evoucher.onlyCoupon" (click)="evoucher.onlyCoupon=!evoucher.onlyCoupon; dataChanged()">
                  <i class="fas fa-check-square check"></i><i class="far fa-square"></i><span>Không áp dụng chung ưu đãi khác</span>
                </div>
              </div>

              <div class="form-input-wrapper row m-0">
                <div class="input-title col-12">Giới hạn theo ngày, người dùng & tổng</div>    
                <input class="form-input col-4" name="qtyPerDay" [(ngModel)]="evoucher.qtyPerDay" 
                (ngModelChange)="dataChanged()">               
                <input class="form-input col-4" name="qtyPerMember" [(ngModel)]="evoucher.qtyPerMember" 
                (ngModelChange)="dataChanged()">       
                <input class="form-input col-4" name="qty" [(ngModel)]="evoucher.qty" 
                (ngModelChange)="dataChanged()">
              </div>

              <div class="row m-0">
                <div class="form-input-wrapper col-6 p-0">
                  <div class="input-title">Điều kiện thời gian</div>                  
                  <input class="form-input pr-4" name="startDate" [ngModel]="evoucher.startDate | date: 'dd/MM/yyyy'" 
                  (ngModelChange)="dataChanged()" readonly>
                  <button class="btn btn-date" (click)="startDatePicker.open()"><i class="far fa-calendar-alt"></i></button>
                  <mat-form-field class="hidden">
                    <input matInput [matDatepicker]="startDatePicker" name="startDateInput" [(ngModel)]="evoucher.startDate">
                    <mat-datepicker #startDatePicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-input-wrapper col-6 row-m0 p-0">       
                  <div class="input-title col-12 pr-0 justify-content-between"><span></span>
                    <span class="form-checkbox sub" [class.checked]="evoucher.expireType=='dynamic'" 
                    (click)="expireTypeChanged()">
                      Ngày hết hạn động<i class="fas fa-check-square check"></i><i class="far fa-square uncheck"></i>
                    </span>
                  </div>   
                  <ng-container *ngIf="evoucher.expireType=='static'">
                    <input class="form-input col-12 pr-4" name="endDate" [ngModel]="evoucher.endDate | date: 'dd/MM/yyyy'" 
                    (ngModelChange)="dataChanged()" readonly>
                    <button class="btn btn-date" (click)="endDatePicker.open()"><i class="far fa-calendar-alt"></i></button>
                  </ng-container>            
                  <ng-container *ngIf="evoucher.expireType=='dynamic'">
                    <input class="form-input col-7" type="number" name="expireAmount" [(ngModel)]="evoucher.expireAmount" 
                    (ngModelChange)="dataChanged()" placeholder="Khoảng thời gian">
                    <mat-form-field class="form-select bg-grey col-5 p-0 border-left-0">
                      <mat-select [(ngModel)]="evoucher.expireUnit" name="expireUnit"
                      (ngModelChange)="dataChanged()" [disabled]="isSaving">
                          <mat-option *ngFor="let option of durationUnits" [value]="option.code">{{option.display}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ng-container>          
                  <mat-form-field class="hidden">
                    <input matInput [matDatepicker]="endDatePicker" name="endDateInput" [(ngModel)]="evoucher.endDate">
                    <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-input-wrapper">
                <div class="input-title justify-content-between cursor-pointer" (click)="advancedExpireOpened=!advancedExpireOpened">
                  <span>Điều kiện thời gian nâng cao</span><i class="fas fa-chevron-down" [class.flip]="advancedExpireOpened"></i>
                </div>
                <div class="vertiz" [ngClass]="advancedExpireOpened?'expanded-vertiz':'collapsed-vertiz'">
                  <div class="row m-0 pb-2 justify-content-evenly">
                    <div class="toggle-container" *ngFor="let item of weekDays">
                      <div class="toggle-item" (click)="inputTimeChanged(item.code, 'week')" [class.active]="item.active">{{item.display}}</div>
                    </div>
                  </div>
                  <div class="row m-0 justify-content-evenly">
                    <div class="toggle-container" *ngFor="let item of dayHours">
                      <div class="toggle-item" (click)="inputTimeChanged(item.code, 'hour')" [class.active]="item.active">{{item.display}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-input-wrapper" *ngIf="shop?.places?.length">
                <div class="input-title justify-content-between cursor-pointer">
                  Chi nhánh áp dụng
                </div>                
                <div class="form-checkbox ml-2" *ngFor="let place of shop.places" [class.checked]="(applyPlaces$ | async)[place._id]"
                (click)="togglePlace(place._id)">
                  <i class="fas fa-check-square check"></i><i class="far fa-square uncheck"></i>
                  <span>{{place.name}}</span>
                </div>
              </div>


          </mat-tab>        
          <mat-tab>

            <div class="row m-0 justify-content-center">
              <div class="form-input-wrapper col-9">                
                <div class="input-title justify-content-center">Hình thức khuyến mãi</div>
                <mat-form-field class="form-select">
                  <mat-select [(ngModel)]="evoucher.type" name="evoucherType"
                  (ngModelChange)="typeChanged()" [disabled]="isSaving">
                      <mat-option *ngFor="let option of evoucherTypes" [value]="option.code">{{option.display}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <ng-container [ngSwitch]="evoucher.type">

              <ng-container *ngSwitchCase="'manually'">
                <app-manually-evoucher [disabled]="isSaving" [evoucher]="evoucher" (dataChange)="dataChanged()"></app-manually-evoucher>
              </ng-container>

              <ng-container *ngSwitchCase="'discount_bill'">
                <app-discount-bill-evoucher [disabled]="isSaving" [evoucher]="evoucher" (dataChange)="dataChanged()"></app-discount-bill-evoucher>
              </ng-container>

              <ng-container *ngSwitchCase="'discount_item'">
                <app-discount-item-evoucher [disabled]="isSaving" [evoucher]="evoucher" (dataChange)="dataChanged()"></app-discount-item-evoucher>
              </ng-container>

              <ng-container *ngSwitchCase="'buy_a_discount_b'">
                <app-buy-a-discount-b-evoucher [disabled]="isSaving" [evoucher]="evoucher" (dataChange)="dataChanged()"></app-buy-a-discount-b-evoucher>
              </ng-container>

              <ng-container *ngSwitchCase="'buy_a_offer_b'">
                <app-buy-a-offer-b-evoucher [disabled]="isSaving" [evoucher]="evoucher" (dataChange)="dataChanged()"></app-buy-a-offer-b-evoucher>
              </ng-container>

              <ng-container *ngSwitchCase="'offer_item'">
                <app-offer-item-evoucher [disabled]="isSaving" [evoucher]="evoucher" (dataChange)="dataChanged()"></app-offer-item-evoucher>
              </ng-container>

              <ng-container *ngSwitchCase="'same_price'">
                <app-same-price-evoucher [disabled]="isSaving" [evoucher]="evoucher" (dataChange)="dataChanged()"></app-same-price-evoucher>
              </ng-container>

              <ng-container *ngSwitchCase="'acc_decrease'">
                <app-acc-decrease-evoucher [disabled]="isSaving" [evoucher]="evoucher" (dataChange)="dataChanged()"></app-acc-decrease-evoucher>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <div class="not-found">
                  Hình thức khuyến mãi này chưa được hỗ trợ
                </div>
              </ng-container>
            </ng-container>
          </mat-tab>
          <mat-tab>
            <div class="spinner-wrapper relative" *ngIf="loadingResult"><mat-spinner [diameter]="30"></mat-spinner></div>
            <ng-container *ngIf="!loadingResult && evoucherCodes">
              <div class="no-content" *ngIf="!evoucherCodes?.length">
                <div class="no-content-text">
                  Chưa có kết quả nào
                </div>
                <button class="btn btn-refresh" (click)="refreshResult()">
                  <i class="fas fa-sync-alt"></i>Refresh
                </button>
              </div>
              <ng-container *ngIf="evoucherCodes?.length">
                <div class="result-toolbar">
                  <div><button class="btn btn-result" (click)="exportCSV()"><i class="fas fa-file-csv"></i>Xuất CSV ({{total}} mã)</button></div>
                  <div>
                    <button class="btn btn-result" (click)="refreshResult()" [matTooltip]="'Refresh'"><i class="fas fa-sync-alt"></i></button>
                    <!-- <button class="btn btn-result" (click)="removeAllResults()" [matTooltip]="'Xóa hết kết quả'"><i class="fas fa-trash-alt"></i></button> -->
                  </div>
                </div>
                <div class="result-item" *ngFor="let res of evoucherCodes">
                  <div class="result-subscriber" *ngIf="res.subscriber">
                    <div class="image-wrapper circle"><img src="{{res.subscriber.messengerProfile.profile_pic}}"  onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                    <div class="name">
                      <div class="text">{{res.subscriber.messengerProfile.name}}</div>
                      <div class="subtext">{{res.code}}
                        <span class="status" [matTooltip]="res.status=='used'?'Đã sử dụng':'Chưa sử dụng'" [ngClass]="res.status">
                          <i class="fas fa-check used"></i>
                          <i class="fas fa-minus unused"></i>
                        </span>
                      </div>
                    </div>
                    <button class="btn btn-remove" (click)="removeResult(res)"><i class="fas fa-times"></i></button>
                  </div>
                </div>

                <div class="result-loadmore" *ngIf="(evoucherCodes.length < total)" (click)="loadMoreResult()">
                  <div class="name" *ngIf="!loadingMore">Tải thêm (còn {{total - evoucherCodes.length}} mã khuyến mãi)</div>
                  <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="20"></mat-spinner></div>
                </div>
              </ng-container>
            </ng-container>
          </mat-tab>    
          <mat-tab>
            <div class="spinner-wrapper relative" *ngIf="loadingReminds$ | async"><mat-spinner [diameter]="30"></mat-spinner></div>
            <ng-container *ngIf="evoucherReminds$ | async as evoucherReminds">
              <div class="no-content" *ngIf="!(loadingReminds$ | async) && !evoucherReminds?.length">
                <div class="no-content-text">
                  Chưa có nhắc nhở nào
                </div>
                <button class="btn btn-add" (click)="addRemind()">
                  <i class="fas fa-plus"></i>Tạo nhắc nhở
                </button>
              </div>
              <ng-container *ngIf="evoucherReminds?.length">
                <div class="evoucher-remind" *ngFor="let evoucherRemind of evoucherReminds; index as i" [hidden]="evoucherRemind.isDeleted">
                  <div class="d-flex evoucher-time mb-3">
                    <span>Nhắc nhở trước</span>
                    <mat-form-field class="form-select bg-grey col-5 p-0">
                      <mat-select [(ngModel)]="evoucherRemind.beforeDay" name="beforeDay-{{evoucherRemind.index}}"
                      (ngModelChange)="remindDataChanged(evoucherRemind)" [disabled]="isSaving">
                          <mat-option *ngFor="let option of evoucherDayOptions" [value]="option.code">{{option.display}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <span>vào lúc </span>
                    <mat-form-field class="form-select bg-grey col-5 p-0">
                      <mat-select [(ngModel)]="evoucherRemind.hour" name="hour-{{evoucherRemind.index}}"
                      (ngModelChange)="remindDataChanged(evoucherRemind)" [disabled]="isSaving">
                          <mat-option *ngFor="let option of evoucherTimeOptions" [value]="option.code">{{option.display}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button class="ml-auto btn-grey btn-delete" matTooltip="Xoá nhắc nhở" (click)="removeRemind(evoucherRemind, i)">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>                  
                  <app-story-selection [ids]="evoucherRemind.story" (change)="storyChanged(evoucherRemind, $event)" [title]="'Câu chuyện nhắc nhở'"
                  [multiple]="false" [mode]="'story'"></app-story-selection>
                  <div class="form-input-wrapper p-0 m-0">
                    <div class="checkbox-wrapper" [class.active]="evoucherRemind.ignoreUsed" (click)="toggleIgnoreUsed(evoucherRemind)">
                      <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                      <span>Bỏ qua những người đã dùng eVoucher</span>
                    </div>
                  </div>
                </div>
                <button class="btn-add mt-4 mx-auto" (click)="addRemind()"><i class="fas fa-calendar-plus"></i>Thêm nhắc nhở</button>
              </ng-container>
            </ng-container>
          </mat-tab>    
        </mat-tab-group>
      </form>
    </ng-container>
  </div>
  <div class="portal-footer" [class.portal-footer-display]="loadDone && !selectedEvoucher && evouchers.length">
    <input class="form-input" [(ngModel)]="filter" placeholder="Lọc khuyến mãi">
    <button mat-button class="btn-grey" (click)="reload(false)" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button class="btn-blue" mat-raised-button color="primary" matTooltipPosition="above"
      (click)="addEvoucher($event)">
      <i class="fas fa-plus-circle"></i><span>Thêm khuyến mãi</span>
    </button>
  </div> 
</div>