@import "~customs.scss";

.portal {
    width: 500px;
}

.height-40 {
    height: 40px;
}
.save-button {
    opacity: 0;
}

.tab-buttons {
    margin: 12px 0;
    justify-content: center;
}

.portal-content-block {
    ::ng-deep.mat-tab-group {
        ::ng-deep.mat-tab-header {                
            display: none;
        }
        ::ng-deep.mat-tab-body {
            padding: 0 12px;
            ::ng-deep.mat-tab-body-content {
                overflow-y: hidden;
                position: relative;
            }
        }
    }
}

.title-text {
    margin-bottom: 4px;
    .title {
        color: $grey;
        font-size: 14px;
        padding-left: 6px;
        padding-bottom: 6px;
        font-weight: 500;
    }
}

.no-item {
    text-align: center;
    color: $grey;
    font-weight: 300;
    font-size: 14px;
    padding: 100px 0;
}

.result-toolbar {
    @include flex-align-center;
    justify-content: space-between;
    .btn-result {
        border: none;
        background: transparent;
        color: $grey;
        font-size: 14px;
        padding: 4px 6px;
        margin-bottom: 4px;
        display: inline-block;
        i {
            margin-right: 6px;
            font-size: 12px;
        }
        &:hover {
            color: $brand-light;
        }
    }
}
.result-item {
    padding: 8px 4px;
    .result-subscriber {
        @include flex-align-center;
        .image-wrapper {
            flex: 0 0 32px;
            width: 32px;
            padding-bottom: 32px;
            border-radius: 50%;
        }
        .name {
            flex: 1 1 auto;
            padding-left: 12px;
            color: $grey-dark;
            font-size: 14px;
            .text {                
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .subtext {
                color: $grey;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .btn-remove {
            width: 32px;
            height: 32px;
            padding: 0;
            cursor: pointer;
            @include flex-center;
            opacity: 0;
            color: $grey;
            &:hover {
                color: $grey-dark;
            }
        }
        &:hover {
            .btn-remove {
                opacity: 1;
            }
        }
    }
}

.status {
    margin-left: 4px;
    &.used {
        .used {
            display: inline;
            color: $brand-success;
        }
        .unused {
            display: none;
        }
    }
    &.unused {
        .used {
            display: none;
        }
        .unused {
            display: inline;
            color: $brand-accent;
        }
    }
}

.no-content {
    min-height: 300px;
    font-size: 14px;
    .btn-refresh {
        font-size: 15px;
        margin-top: 12px;
        padding: 8px 16px;
        color: $grey;
        cursor: pointer;
        i {
            margin-right: 8px;
        }
        &:hover {
            color: $brand-light;
        }
    }
    .btn-add {
        font-size: 15px;
        margin-top: 12px;
        padding: 8px 16px;
        color: $brand-primary;
        background: none;
        border: 1.5px solid $brand-primary;
        cursor: pointer;
        i {
            margin-right: 8px;
        }
        &:hover {
            color: $brand-dark;
            border-color: $brand-dark;
        }
    }
}
.result-loadmore {
    color: $grey;
    cursor: pointer;
    @include flex-align-center;
    font-size: 13px;
    font-weight: 500;
    animation: emerge 0.3s ease-in-out;    
    padding: 8px 8px 20px;
    &:hover {
        color: $brand-light;
    }
    .spinner-wrapper {        
        width: 100%;
        height: 20px;
        position: relative;
    }
}

.form-select {
	min-width: 0;
	width: 100%;
	flex: 0 0 100%;
	font-size: 14px;
	height: 40px;
	color: $grey;
    border: 1px solid $grey-light;
    border-radius: 2px;
    &.bg-grey {
        background: $grey-white;
    }
    &[disabled] {
        ::ng-deep.mat-select {
            border: none;
            opacity: 0.6;
        }
    }
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.form-input-wrapper {
    margin-bottom: 4px;
}
.input-title {
    font-size: 13px;
    font-weight: 600;
    min-height: 24px;
}
.form-input[disabled], .form-select.mat-form-field-disabled {
    background: $grey-lightest;
}
.form-checkbox {
    color: $grey-dark;
    font-size: 16px;
    cursor: pointer;
    span {
        margin-left: 8px;
    }
    i:not(.check) {
        color: $grey;
        display: inline;
    }
    i.check {
        color: $brand-accent;
        display: none;
    }
    &:hover:not(.checked) {
        color: $brand-light;
        i:not(.check) {
            color: $brand-light;
        }
    }
    &.checked {
        i:not(.check) {
            display: none;
        }
        i.check {
            display: inline;
        }
        &:hover {
            color: $brand-light;
            i {
                color: $brand-accent-dark;
            }
        }
    }
    &.sub {
        font-size: 13px;
        color: $grey;
        i {
            margin-left: 4px;
        }
    }
}

.hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 0;
    bottom: 0;
}

.btn-date {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    color: $grey;
    &:hover {
        color: $brand-light;
    }
}

.toggle-container {
    padding: 2px;
    flex: 0 0 20%;
}
.toggle-item {
    padding: 4px;
    color: $grey-dark;
    border: 1px solid $grey-mild;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    &.active {
        background: $brand-light;
        border-color: $brand-light;
        color: white;
    }
}
.flip {
    transform: rotate(180deg);
}
.evoucher-remind {
    padding: 16px 0 8px;
    margin: 0 12px;
    border-bottom: 1px solid $grey-lighter;
}
.evoucher-time {
    @include flex-align-center;
    .form-select {
        flex: 0 0 100px;
        margin: 0 12px;
    }
    .btn-delete {
        background: none;
        color: $grey;
        &:hover {
            color: $brand-danger;
        }
    }
}
.btn-add {
    @include btn-primary-background;
    display: block;
    padding: 8px 20px;
    border-radius: 3px;
}