<div class="portal">
  <mat-toolbar class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <div class="spinner-wrapper" *ngIf="(loadDone$ | async) && (loading$ | async)"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block pb-5 has-footer" [ngClass]="portalId" [id]="portalId">
    <div class="spinner-wrapper" *ngIf="!(loadDone$ | async)"><mat-spinner [diameter]="30"></mat-spinner></div>
    <ng-container *ngIf="referralGroups$ | async as referralGroups">
      <div class="no-content" *ngIf="!referralGroups.length">
        <div class="no-content-text">
          Chưa có mã QR nào 
        </div>
        <button class="btn-create-qrcode button-remove-overlay" mat-button color='primary' 
        (click)="addQRCode($event, true)">
          Tạo mã QR mới
        </button>
      </div>
      <ng-container *ngIf="referralGroups.length">
        <div class="portal-list-group" *ngFor="let referralGroup of referralGroups | storyFilter:filter:'referrals'; index as i">
          <div class="portal-list-item" *ngFor="let referral of referralGroup.referrals; index as j"
          [class.active]="(openedReferral$ | async)==referral._id" (click)="openQRCode(referral)">
            <div class="name">
              <i class="fas fa-qrcode"></i>
              <span>{{referral.name}}</span>
            </div>
            <div class="action-buttons ml-auto">
              <button class="btn-action" [matTooltip]="'Chỉnh sửa mã QR'" 
              (click)="addQRCode($event, true, referral); $event.stopPropagation()"><i class="far fa-edit"></i></button>
              <button class="btn-action" [matTooltip]="'Xóa mã QR'" 
              (click)="removeQRCode(referral); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
            </div>
          </div>
          <div class="portal-list-item portal-list-final" [class.active]="referralGroup.story && (openedStory$ | async) == referralGroup.story._id" 
          (click)="openStory(referralGroup.story)">
            <i class="fas fa-chevron-right arrow"></i>
            <div class="name">
              <i class="fas fa-file-alt opened"></i><i class="far fa-file-alt closed"></i>
              <span>{{referralGroup.story?referralGroup.story.name:'[Không có câu chuyện]'}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="portal-footer" [ngClass]="((referrals$ | async)?.length)?'portal-footer-display':''">
    <input class="form-input" [(ngModel)]="filter" placeholder="Lọc mã QR">
    <button mat-button class="btn-grey" (click)="reload(false)" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button class="btn-blue" mat-raised-button color="primary" matTooltipPosition="above"
      (click)="addQRCode($event, false)">
      <i class="fas fa-plus-circle"></i><span>Tạo mã QR</span>
    </button>
  </div> 
</div>