
@import "~customs.scss";

form {
    margin-top: 12px;
    margin-bottom: 24px;
}

.portal {
    width: 400px!important
}
w-mat-timepicker {
    ::ng-deep .mat-form-field-infix {
        width: auto
    }
}
mat-card-actions {
    margin-left: 0px;
    margin-right: 0px;
}

.event-toggle-button {    
    width: 92%;
    margin-left: 4%;
    box-shadow: none;
    color: white;
    transition: all 0.3s ease-in-out;
    i {
        margin-bottom: 3px;
    }
    &.off {
        border-radius: 4px;
        background: $amber-300;
        &:hover {
            background: $amber-400;
        }
    }
    &.on {
        border-radius: 50px;
        background: $brand-light;
        &:hover {
            background: $brand-primary;
        }
    }
}
