<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    
    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>

    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
      <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
          <i class="fas fa-question"></i>
      </button> -->
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div [hidden]="!loadDone" class="portal-section">
      <div class="portal-section-title-wrapper" fxLayout="row">
        <div class="portal-section-title">Thông tin chung</div>
        <!-- <button class="portal-section-button" (click)="addEvent()" fxFlex="10" [matTooltip]="'Tạo mới'"><i class="fas fa-plus"></i></button> -->
      </div>

      <form #cardFrm="ngForm">
        <mat-form-field class="text-input-field" [floatLabel]="'always'">
          <input type="text" matInput placeholder="Tên" [(ngModel)]="event.name" name="name" required>
        </mat-form-field>
        <mat-form-field class="text-input-field" [floatLabel]="'always'">
          <textarea [(ngModel)]="event.description" name="description" matInput placeholder="Mô tả" cdkTextareaAutosize></textarea>
        </mat-form-field>
        <mat-form-field class="text-input-field" [floatLabel]="'always'">
          <input type="text" [disabled]="cardFrm.disabled" matInput placeholder="Câu chuyện" required readonly [value]="selectedStory?selectedStory.name:'Chưa chọn câu chuyện'">
          <input type="text" matInput [(ngModel)]="event.eventData.story" name="story" required hidden>
          <button [disabled]="cardFrm.disabled" mat-icon-button matSuffix (click)="selectStory()">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="none">
          <mat-form-field fxFlex="50" class="text-input-field">
            <input type="hidden" [matDatepicker]="scheduledDatePicker"  [(ngModel)]="eventScheduleData.scheduledDate"
                name="hidden-scheduledDate">
            <input matInput  placeholder="Ngày bắt đầu" [ngModel]="eventScheduleData.scheduledDate | date: 'dd/MM/yyyy'"
              name="scheduledDate" [readonly]="true" required>
            <mat-datepicker-toggle matSuffix [for]="scheduledDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #scheduledDatePicker></mat-datepicker>
          </mat-form-field>
          <w-mat-timepicker [disabled]="!eventScheduleData.scheduledDate || cardFrm.disabled" fxFlex="50" color="primary" [(userTime)]="eventScheduleData.scheduledTime"
            (userTimeChange)="eventChanged()" revertLabel="Lúc này" submitLabel="Đồng ý" cancelLabel="Huỷ" placeholder="Giờ bắt đầu">
          </w-mat-timepicker>
        </div>
        <div fxLayout="row" fxLayoutAlign="none">
          <mat-form-field fxFlex="50" class="text-input-field">
            <input type="hidden" [matDatepicker]="endDatePicker" [(ngModel)]="eventScheduleData.endDate" name="hidden-endDate">
            <input matInput placeholder="Ngày kết thúc" [ngModel]="eventScheduleData.endDate | date: 'dd/MM/yyyy'" name="endDate"
              [readonly]="true">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <w-mat-timepicker [disabled]="!eventScheduleData.endDate || cardFrm.disabled" fxFlex="50" color="primary" [(userTime)]="eventScheduleData.endTime"
            (userTimeChange)="eventChanged()" revertLabel="Lúc này" submitLabel="Đồng ý" cancelLabel="Huỷ" placeholder="Giờ kết thúc">
          </w-mat-timepicker>
        </div>
        <mat-form-field class="text-input-field">
          <mat-select [placeholder]="(event.weeks && event.weeks.length > 0)?'Các ngày gửi':'Chỉ gửi một lần'" multiple [(ngModel)]="event.weeks"
            name="weeks">
            <mat-option *ngFor="let week of weekOptions" [value]="week.value">{{week.display}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <button class="event-toggle-button off" *ngIf="eventStatus && event.jobId" mat-raised-button (click)="stopEvent()">
        <span *ngIf="!toggling">Tắt sự kiện</span>
        <i *ngIf="toggling" class="fas fa-circle-notch fa-spin"></i>
      </button>
      <button class="event-toggle-button on" *ngIf="eventStatus && !event.jobId" mat-raised-button color="primary" (click)="enableEvent()">
        <span *ngIf="!toggling">Bật sự kiện</span>
        <i *ngIf="toggling" class="fas fa-circle-notch fa-spin"></i>
      </button>
    </div>
    <!-- <mat-card>
      <form #cardFrm="ngForm">
        <mat-card-header>
          <mat-card-title>Thông tin sự kiện</mat-card-title>
          <span class="header-spacer"></span>
        </mat-card-header>
        <mat-card-content *ngIf="event">
          <mat-form-field class="text-input-field">
            <input type="text" matInput placeholder="Tên" [(ngModel)]="event.name" name="name" required>
            <mat-hint align="end"></mat-hint>
          </mat-form-field>
          <mat-form-field class="text-input-field">
            <textarea [(ngModel)]="event.description" name="description" matInput   placeholder="Mô tả" cdkTextareaAutosize required></textarea>
            <mat-hint align="end"></mat-hint>
          </mat-form-field>
          <mat-form-field class="text-input-field">
            <input type="text" matInput placeholder="Câu chuyện" required readonly [value]="selectedStory?selectedStory.name:'Chưa chọn câu chuyện'">
            <input type="text" matInput [(ngModel)]="event.eventData.story" name="story" required hidden>
            <mat-hint align="end"></mat-hint>
            <button mat-icon-button matSuffix (click)="selectStory()">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="none">
            <mat-form-field fxFlex="50" class="text-input-field">
              <input matInput [matDatepicker]="scheduledDatePicker" placeholder="Ngày bắt đầu" [(ngModel)]="eventScheduleData.scheduledDate"
                name="scheduledDate" [readonly]="true" required>
              <mat-datepicker-toggle matSuffix [for]="scheduledDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #scheduledDatePicker></mat-datepicker>
            </mat-form-field>
            <w-mat-timepicker [disabled]="!eventScheduleData.scheduledDate" fxFlex="50" color="primary" [(userTime)]="eventScheduleData.scheduledTime"
              revertLabel="Lúc này" submitLabel="Đồng ý" cancelLabel="Huỷ" placeholder="Giờ bắt đầu">
            </w-mat-timepicker>
          </div>
          <div fxLayout="row" fxLayoutAlign="none">
            <mat-form-field fxFlex="50" class="text-input-field">
              <input matInput [matDatepicker]="endDatePicker" placeholder="Ngày kết thúc" [(ngModel)]="eventScheduleData.endDate"
                name="endDate" [readonly]="true">
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <w-mat-timepicker [disabled]="!eventScheduleData.endDate" fxFlex="50" color="primary" [(userTime)]="eventScheduleData.endTime"
              revertLabel="Lúc này" submitLabel="Đồng ý" cancelLabel="Huỷ" placeholder="Giờ két thúc">
            </w-mat-timepicker>
          </div>
          <mat-form-field class="text-input-field">
            <mat-select [placeholder]="(event.weeks && event.weeks.length > 0)?'Các ngày gửi':'Chỉ gửi một lần'" multiple [(ngModel)]="event.weeks" name="weeks">
              <mat-option *ngFor="let week of weekOptions" [value]="week.value">{{week.display}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="mode === 'add'" mat-raised-button [disabled]="!cardFrm.valid" color="primary" (click)="addEvent(cardFrm)">THÊM</button>
          <button *ngIf="mode === 'detail'" mat-raised-button [disabled]="!cardFrm.valid" color="primary" (click)="updateEvent(cardFrm)">LƯU</button>
          <button *ngIf="eventStatus && event.jobId" mat-raised-button [disabled]="!cardFrm.valid" (click)="stopEvent()">TẮT SỰ KIỆN</button>
          <button *ngIf="eventStatus && !event.jobId" mat-raised-button [disabled]="!cardFrm.valid" color="primary" (click)="enableEvent()">BẬT SỰ KIỆN</button>
        </mat-card-actions>
      </form>
    </mat-card>
    <mat-divider></mat-divider> -->
  </div>
</div>