@import "~customs.scss";

.post-wrapper {
    padding: 20px;
    position: relative;
    &.opened {
        .post-date, .post-creator {
            color: $brand-light !important;
        }
        .post-title {
            color: $brand-primary !important;
            &:hover {
                color: $brand-dark !important;
            }
        }
        img {            
            border: 1.5px solid $brand-light !important;
        }
        .mat-button.open.ng-star-inserted {
            background: $brand-light;
            color: white;
            &:hover {
                background: $brand-primary;
                color: white;
            }
        }
    }
    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .facebook-button {
            border: none;
            outline: none !important;
            background: transparent;
            color: $brand-light;
            cursor: pointer;
            &:hover {
                color: $brand-primary;
            }
        }
        .post-link {
            color: $brand-primary;
            font-style: italic;
            font-size: 12px;
            i {
                margin-right: 6px;
            }
            &:hover {
                text-decoration: underline;
                color: $brand-dark;
            }
        }
        .post-creator {
            color: $grey-dark;
            font-size: 12px;
            i {
                margin-right: 6px;
            }
        }
        a {
            font-weight: bold;
            text-decoration: none;
            text-align: right;
            color: $grey-mild;
            font-size: 12px;
            &:hover {
                color: $brand-light;
            }
            &:visited {
                color: $brand-dark;
            }
        }
    }
    .post-title {
        color: $brand-light;
        font-weight: bold;
        margin: 8px auto;
        cursor: pointer;
        color: $grey-dark;
        &:hover {
            color: $grey-darker;
        }
        
    }
    .post-message {
        margin: 8px auto;
        font-size: 13px;
        color: $grey-dark;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-height: 18px;        /* fallback */
        max-height: 72px;       /* fallback */
    }
    .image-wrapper {
        box-sizing: border-box;
        height: 0;
        position: relative;
        cursor: pointer;
        padding-bottom: 56.25%;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 1.5px solid $grey-lighter;
        }
    }
    .mat-button {
        width: 100%;
        border-radius: 50px;
        overflow: hidden;
        margin-top: 12px;
        &.open {
            color: $brand-light;
            background: white;
            border: 1px solid $brand-light;
            border-color: $brand-light;
            &:hover {
                border-color: $brand-primary;
                color: $brand-primary;
            }
        }
        i {
            margin-right: 8px;
            margin-bottom: 3px;
        }
        &.no-interact {
            background-color: lighten($brand-light, 25%);
            color: $brand-light;
            border-radius: 4px;
            &:hover {
                background-color: lighten($brand-light, 20%);
                color: $brand-primary;
            }
        }
        &.select {
            background-color: $green-300;
            color: white;
            &:hover {
                background-color: $green-400;
                color: white;
            }
        }
    }
    .mat-divider {
        position: absolute;
        bottom: 0;
        border-top-color: $grey-lighter;
        margin: auto;
        left: 0;
        right: 0;
        width: 90%;
    
    }
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .select {
        flex-basis: 90%;
    }
    .open-alternate {
        flex-basis: 10%;
        height: 100%;
        background: none;
        border: none;
        height: 40px;
        color: $brand-light;
        margin-top: 12px;
        font-size: 20px;
        padding-left: 12px;
        cursor: pointer;
        &:hover {
            color: $brand-primary
        }
    }
}