<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
        <i class="fas fa-question"></i>
    </button> -->
    <mat-icon class="icon-btn" *ngIf="index != 0" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId"  #postsContainer>
    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div *ngIf="loadDone">
      <div class="post-wrapper" *ngFor="let post of posts" [ngClass]="openedPost == post.id?'opened':''" 
      [hidden]="(post.hiddenPostId == post.id || !post.isInteracted || 
      (hideCaselessPost && post.interactPost && post.interactPost.cases.length == 0)) && mode=='select'">
        <div class="post-header">
          <a class="post-link" [href]="'https://facebook.com/' + post.id" target="_blank" rel="noopener">
            <i class="fab fa-facebook"></i>
            <span class="post-date">{{post.created_time | date: 'dd-MM-yyyy HH:mm'}}</span>
          </a>
          <span class="post-creator" *ngIf="post.admin_creator">
            <i class="fas fa-user-circle"></i>{{post.admin_creator?.name}}
          </span>
        </div>
        <!-- <div class="post-title" (click)="connectPost(post)">{{post.name || post.story || post.description || post.caption}}
            
          </div> -->
        <p class="post-message" style="-webkit-box-orient: vertical" *ngIf="post.message" [innerHTML]="post.message"></p>
        <div *ngIf="post.picture" class="image-wrapper" (click)="openImage(post.full_picture)" lazy-load-images>
          <img data-src="{{post.full_picture}}" onerror="this.style.display='none'">
        </div>
        <div class="button-wrapper" *ngIf="mode != 'select'">
          <button class="no-interact button-remove-overlay p-0" color="primary" mat-button 
          (click)="connectPost(post)" *ngIf="!post.isInteracted"><i class="fas fa-plug"></i>Tạo kết nối</button>
          <button class="open button-remove-overlay p-0" color="primary" mat-button 
          (click)="connectPost(post)" *ngIf="post.isInteracted"><i class="fas fa-external-link-square-alt"></i>Mở kết nối</button>
          <button class="open button-remove-overlay ml-2" color="primary" mat-button 
          (click)="openStatisticPostal(post.id)">Thống kê tương tác</button>
        </div>
        <div class="button-wrapper" *ngIf="mode == 'select'">
            <button class="select button-remove-overlay p-0" color="primary" 
            mat-button (click)="selectPost(post)"><i class="fas fa-check-square"></i>Chọn kết nối</button>
            <button class="open-alternate" (click)="connectPost(post)"><i class="fas fa-chevron-right"></i></button>
        </div>

        <mat-divider></mat-divider>
      </div>
      <div class="not-found" *ngIf="!paging">Không còn bài đăng nào của Trang</div>
      <div class="spinner-wrapper" *ngIf="progressBar.show"><mat-spinner [diameter]="30"></mat-spinner></div>

    </div>
  </div>
</div>