@import "~customs.scss";

.element {
    .mat-card {
        margin: 16px 40px;
        padding: 0;
        .content-wrapper {
            width: 100%;
            height: 0px;
            padding-bottom: 56.25%;
            box-sizing: border-box;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
            .button-wrapper {    
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 50px;
                overflow: hidden;
                .mat-button {
                    margin-top: 8px;
                }
            }
        }
        &:hover {
            .edit-button-group {
                opacity: 1;
            }
        }
        .edit-button-group {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top, rgba(30, 30, 30, 1), rgba(50, 50, 50, 0.5), rgba(80, 80, 80, 0));
            display: flex;
            justify-content: center;
            align-items: center;
            .mat-icon-button {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                &:hover {
                    color: $brand-light;
                }
            }
        }
        ::ng-deep mat-nav-list {
            padding-top: 0;
        }
        .mat-card-content {
            padding: 16px 16px 0px 16px;
            margin-top: 0
        }
        .element-buttons {
            position: absolute;
            width: 100%;
            text-align: right;
            .mat-icon-button {
                margin: 5px;
                background-color: white;
                &.danger {
                    background-color: red;
                    color: white;
                }

            }
        }
    }
}