<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button type="button" *ngIf="hasShopChanged" mat-button 
    class="save-button" [class.fade-in]="showSave" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved"><mat-icon>check</mat-icon>Đã lưu</span>
    <div class="spinner-wrapper" *ngIf="loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId" [style.pointer-events]="isSaving?'none':'initial'">

    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>

    <div class="no-content" *ngIf="loadDone && !shop">
      <div class="no-content-text">
        Chưa có cửa hàng
      </div>
      <button type="button" class="btn-create button-remove-overlay" mat-button color='primary' (click)="editShopName($event)">
        Tạo cửa hàng
      </button>
    </div>

    <ng-container *ngIf="loadDone && shop">
      <form>
        <div class="shop-wrapper">
          <h3 class="shop-name" (click)="editShopName($event, true)">{{shop.name}}<i class="fas fa-pencil-alt"></i></h3>
          
          <div class="d-flex duration">
            <div class="form-input-wrapper mt-3">            
              <mat-form-field class="form-select">
                <mat-select name="bkDurations" [(ngModel)]="duration" (ngModelChange)="durationChanged($event)">
                  <mat-option *ngFor="let d of durations" [value]="d">{{d}} phút</mat-option>
                </mat-select>
                <label class="floating">Thời lượng mỗi khung giờ</label>
              </mat-form-field>
            </div>
            <div class="form-input-wrapper mt-3">
              <input class="form-input" [(ngModel)]="shop.bkAmount" name="bkAmount" type="number" 
              required (ngModelChange)="shopChanged()">
              <label class="input-title">Số lượng đặt 1 khung giờ</label>
            </div>
          </div>
          <div class="form-input-wrapper">
            <app-story-selection [ids]="shop.forwardBookingStory" (change)="storyChanged($event)" [title]="'Câu chuyện sau đặt lịch'"
            [multiple]="false" [mode]="'story'"></app-story-selection>
          </div>
          <div class="form-input-wrapper">
            <div class="checkbox-wrapper" [class.active]="hasCustomWorkDates" (click)="toggleCustomWorkDates()">
              <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
              <span>Tùy chỉnh giờ làm việc các ngày trong tuần</span>
            </div>
          </div>
          <div class="form-input-wrapper" *ngIf="hasCustomWorkDates && shop.bkDateOfWeek">
            <div class="d-flex">
              <div class="input-title week-day">Ngày trong tuần</div>
              <div class="input-title time">Giờ bắt đầu</div>
              <div class="input-title time">Giờ kết thúc</div>
            </div>
            <div class="week-wrapper">
              <div class="d-flex week-day-wrapper" *ngFor="let weekDay of weekDays; let i = index">              
                <div class="checkbox-wrapper week-day" [class.active]="!shop.bkDateOfWeek[i].off" (click)="toggleWeekDay(i)">
                  <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                  <span>{{weekDay}}</span>
                </div>
                <input class="form-input time" [(ngModel)]="shop.bkDateOfWeek[i].start" name="start-{{i}}" type="time" 
                (ngModelChange)="shopChanged()" [disabled]="shop.bkDateOfWeek[i].off">
                <input class="form-input time" [(ngModel)]="shop.bkDateOfWeek[i].end" name="end-{{i}}" type="time" 
                (ngModelChange)="shopChanged()" [disabled]="shop.bkDateOfWeek[i].off">
              </div>
            </div>
          </div>
        </div>

      </form>
    </ng-container>
  </div>
</div>