@import "~customs.scss";

.portal {
  width: 400px;
}

.save-button {
  opacity: 0;
}

.portal-content-block {
  padding: 12px 16px;
  .spinner-wrapper { 
    position: relative;
  }
}

.not-found {
  height: 100px;
}

.shop-wrapper {
  .shop-name {
    font-size: 20px;
    font-weight: bold;
    color: $grey-dark;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 12px;
    position: relative;
    i {
      margin-left: 6px;
      font-size: 14px;
      opacity: 0;
    }
    &:hover {
      color: $brand-light;
      i {
        opacity: 1;
      }
    }
  }
}

::ng-deep.mat-form-field.form-select {
  min-width: 0;
  background: white;
  flex: 1 1 auto;
	font-size: 14px;
	height: 40px;
  color: $grey;
  border-radius: 2px;
  border: 1px solid $grey-light;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
      background: white;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.duration {
  .form-input-wrapper:first-child {
    flex: 0 0 55%;
    width: 55%;
    padding-right: 8px;
    .form-select {
      width: 100%;
    }
  }
  .form-input-wrapper:last-child {
    flex: 0 0 45%;
    width: 45%;
  }
}

.week-day-wrapper {
  > * { 
    border-radius: 0
  }
  .form-input-wrapper {
    border: 0.5px solid $grey-light;
  }
  &:first-child {
    .week-day {
      border-top-left-radius: 0;
    }
    .form-input-wrapper:last-child {
      border-top-right-radius: 0;
    }
  }
  &:last-child {
    .week-day {
      border-bottom-left-radius: 0;
    }
    .form-input-wrapper:last-child {
      border-bottom-right-radius: 0;
    }
  }
}

.week-day {
  flex: 1 1 auto;
  white-space: pre;
  &.checkbox-wrapper {
    background: $grey-white;
    border: 0.5px solid $grey-light;
  }
}
.time {
  flex: 0 0 100px;
  height: 40px;
}

.week-wrapper {
  border: 0.5px solid $grey-light;
  border-radius: 2px;
}