/* line 6, ../sass/_content.sass */
.offline-ui .offline-ui-retry:before {
    content: "Reconnect";
  }
  /* line 11, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Máy tính đã kết nối internet.";
  }
  @media (max-width: 1024px) {
    /* line 11, ../sass/_content.sass */
    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Thiết bị đã kết nối internet.";
    }
  }
  @media (max-width: 568px) {
    /* line 11, ../sass/_content.sass */
    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Thiết bị đã được kết nối";
    }
  }
  /* line 22, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Máy tính của bạn đã mất kết nối internet.";
  }
  @media (max-width: 1024px) {
    /* line 22, ../sass/_content.sass */
    .offline-ui.offline-ui-down .offline-ui-content:before {
      content: "Thiết bị của bạn đã mất kết nối internet.";
    }
  }
  @media (max-width: 568px) {
    /* line 22, ../sass/_content.sass */
    .offline-ui.offline-ui-down .offline-ui-content:before {
      content: "Thiết bị mất kết nối.";
    }
  }
  /* line 33, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
    content: "Đang kết nối lại...";
  }
  /* line 42, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Mất kết nối. Kết nối lại sau " attr(data-retry-in-value) " giây...";
  }
  @media (max-width: 568px) {
    /* line 42, ../sass/_content.sass */
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
      content: "Kết nối lại trong " attr(data-retry-in-value) "s...";
    }
  }
  /* line 50, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Mát kết nối. Kết nối lại sau " attr(data-retry-in-value) " giây...";
  }
  @media (max-width: 568px) {
    /* line 50, ../sass/_content.sass */
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
      content: "Kết nối lại trong " attr(data-retry-in-value) "s...";
    }
  }
  /* line 58, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Mát kết nối. Kết nối lại sau " attr(data-retry-in-value) " phút...";
  }
  @media (max-width: 568px) {
    /* line 58, ../sass/_content.sass */
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
      content: "Kết nối lại trong " attr(data-retry-in-value) "p...";
    }
  }
  /* line 66, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Mát kết nối. Kết nối lại sau " attr(data-retry-in-value) " phút...";
  }
  @media (max-width: 568px) {
    /* line 66, ../sass/_content.sass */
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
        content: "Kết nối lại trong " attr(data-retry-in-value) "p...";
    }
  }
  /* line 74, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Mát kết nối. Kết nối lại sau " attr(data-retry-in-value) " giờ...";
  }
  @media (max-width: 568px) {
    /* line 74, ../sass/_content.sass */
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
        content: "Kết nối lại trong " attr(data-retry-in-value) "h...";
    }
  }
  /* line 82, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Mát kết nối. Kết nối lại sau " attr(data-retry-in-value) " giờ...";
  }
  @media (max-width: 568px) {
    /* line 82, ../sass/_content.sass */
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
        content: "Kết nối lại trong " attr(data-retry-in-value) "h...";
    }
  }
  /* line 90, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
    display: none;
  }
  /* line 93, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
    content: "Kết nối không thanh công.";
  }