@import "~customs.scss";

::ng-deep.mat-form-field.form-select {
	min-width: 0;
	width: 80px;
	flex: 0 0 80px;
	font-size: 14px;
	height: 40px;
	color: $grey;
	border-top: 1px solid $grey-light;
	border-bottom: 1px solid $grey-light;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.data-list{
  .data-list-title{
    font-size: 11px;
    color: $grey;
    margin-bottom: 12px;
  }
  .data-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    position: relative;
    .line-break{
      width: 100%;
    }
    .icon-delete {
        cursor: pointer;
        color: $grey;
        visibility: hidden;
        position: absolute;
        right: -6px;
        top: 12px;
        font-size: 16px;
        background: white;
        border-radius: 50%;
        &:hover {
            color: $grey-dark;
        }
    }
    &:hover {
      .icon-delete {
        visibility: visible;
      }
    }
    // .icon-select{
    //   position: absolute;
    //   top: 6px;
    //   left: 109px;
    //   color:$grey;
    //   padding: 4px;
    //   cursor: pointer;
    //   opacity: 0;
    //   transition: 0.5s all;
    //   pointer-events: none;
    // }
    // .show-icon{
    //   opacity: 1;
    //   pointer-events: unset;
    // }
    // .close-select{
    //   cursor: pointer;
    //   display: table;
    //   color: $grey;
    // }
    .select-box{
      margin-top: -4px;
      width: 100%;
      .select-content{
        display: flex;
          .field-container {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;
            position: relative;
            .add-option-select{
              i{
                font-size: 12px;
                margin-right: 4px;
              }
            }
            .field-wrapper, .cdk-drag-preview {
                .mat-chip {
                    background-color: $grey-lighter;
                    color: $grey-dark;
                    min-height: 29px;
                    font-size: 13px;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-right: 8px;
                    padding-left: 9px;
                    cursor: pointer;
                }
                .mat-chip-remove {
                    color: rgba(0, 0, 0, 0.5);
                    opacity: 0.4;
                }
            }
        }
      }
    }
    .form-input-wrapper {
      .form-error {
        bottom: 4px!important;
      }
    }
    .key {
      flex: 0 0 92px;
    }
    .value {
      flex: 0 0 145px;
    }
    .form-select {
      width: 100px;
      flex: 0 0 100px;
    }
    .required {
      height: 41px;
      flex: 0 0 60px;
      padding-bottom: 0;
      border: 1px solid $grey-light;
      border-left: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .btn-action {
    @include btn-primary-background;
    width: 100%;
    margin-bottom: 3px;
  }
}
.mat-chip-remove {
  margin-left: 4px;
}
.required .input-title {
  position: absolute;
  font-weight: 400;
  white-space: pre;
  margin-bottom: 0;
  padding: 2px;
  top: -12px;
}
.other-filter-value {
  border-radius: 0;
}