<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-clipboard'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
          (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)">
          <mat-checkbox [(ngModel)]="card.option.allowSkip" name="allowSkip" labelPosition="end" (change)="canBeSaved.next(true)">
            Cho phép bỏ qua
          </mat-checkbox>
          <mat-form-field class="text-input-field">
            <input hlTextArea type="text" [(ngModel)]="card.option.button" name="button" matInput placeholder="Tiêu đè nút" required>
          </mat-form-field>
          <mat-form-field class="text-input-field">
            <input hlTextArea type="text" [(ngModel)]="card.option.title" name="title" matInput placeholder="Tiêu đè biểu mẫu" required>
          </mat-form-field>
          <mat-form-field class="text-input-field">
            <input hlTextArea type="text" [(ngModel)]="card.option.submitButton" name="submitButton" matInput placeholder="Tiểu để nút gửi" required>
          </mat-form-field>
        </app-card-advanced>
        <mat-form-field class="text-input-field">
          <input hlTextArea type="text" [(ngModel)]="card.option.key" name="key" matInput maxlength="30" placeholder="Tên thuộc tính" required>
          <mat-hint align="end">{{card.option.key.length}} / 30</mat-hint>
        </mat-form-field>
        <mat-form-field class="text-input-field">
          <textarea hlTextArea [(ngModel)]="card.option.message" name="message" matInput placeholder="Tin nhắn"
            cdkTextareaAutosize></textarea>
        </mat-form-field>
        <button *ngIf="!card.option.schema.simple" mat-raised-button (click)="example()" style="width: 100%;">Xem Thêm Các Mẫu Có Sẵn</button>
        
        <json-editor *ngIf="!card.option.schema.simple" [options]="jsonEditorConfig" [(data)]="data"></json-editor>
        <div *ngIf="card.option.schema.simple" class="data-list">
            <label class="data-list-title">Thuộc tính của mẫu</label>
            <div *ngFor="let data of simpleData; let i = index" class="data-list-wrapper">
                <div class="form-input-wrapper key">
                    <input class="form-input other-filter-key" [(ngModel)]="data.property" (ngModelChange)="inputChanged()"
                    name="{{data.property}}-{{i}}" required>
                    <label class="input-title floating">Trường</label>
                    <span class="form-error" *ngIf="!data.property && canBeSaved">Bắt buộc</span>
                </div>
                <mat-form-field class="form-select" [floatLabel]="'never'">
                    <mat-select [(ngModel)]="data.type" name="{{data.property}}-type-{{i}}"
                    (ngModelChange)="selectChanged(i)">
                        <mat-option *ngFor="let type of simpleDataTypeArray" [value]="type.code">
                            {{type.display}}
                        </mat-option> 
                    </mat-select>
                </mat-form-field>
                <div class="form-input-wrapper value">
                  <input class="form-input other-filter-value" [(ngModel)]="data.display" (ngModelChange)="inputChanged()"
                  name="{{data.property}}-display-{{i}}" required>
                  <label class="input-title floating">Hiển thị</label>
                  <span class="form-error" *ngIf="!data.display && canBeSaved">Bắt buộc</span>
                </div>
                <div class="form-input-wrapper required">
                  <div class="checkbox-wrapper" [class.active]="data.required" (click)="toggleRequired(i)">
                    <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                  </div>
                  <label class="input-title floating">Bắt buộc</label>
                </div>
                <i class="fas fa-times-circle icon-delete" [matTooltip]="'Xóa'" matTooltipPosition="after" (click)="removeField(data.id)"></i>
                
                <!-- <i *ngIf="data.type == '$select'" (click)="openEditOptionSelect(i)" [class.show-icon]="!data.openSelect" class="fas fa-pencil-alt icon-select" matTooltip="Xem và chỉnh sửa" matTooltipPosition="above"></i>
                <i *ngIf="data.type == '$select'"  (click)="data.openSelect = false" [class.show-icon]="data.openSelect" class="fas fa-times icon-select" matTooltip="Đóng" matTooltipPosition="above"></i> -->
                <div *ngIf="data.type=='$select'" class="select-box">
                  <!-- <mat-checkbox>Chỉnh sửa danh sách lựa chọn</mat-checkbox> -->
                  <div class="select-content">
                    <mat-chip-list>
                      <div class="field-container" cdkDropListGroup>
                        <div class="field-wrapper" cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop(i)" #placeholder></div>
                        <div class="field-wrapper" #chipList cdkDropListOrientation="horizontal" cdkDropList [cdkDropListEnterPredicate]="enter" 
                        (cdkDropListDropped)="drop(i)" *ngFor="let option of data.options; let j = index; trackBy: trackByFn">
                          <mat-chip cdkDrag [selectable]=true removable=true (removed)="removeFieldSelect(j,i)"
                            (click)="openPopover($event, i, j, option)">
                            {{option}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                        </div>
                        <div class="field-wrapper add-option-select">
                          <mat-chip (click)="openPopover($event, i)">
                              <i class="fas fa-plus"></i>Thêm     
                          </mat-chip>
                        </div>   
                      </div>
                    </mat-chip-list>
                    <!-- <span (click)="data.openSelect = false" class="close-select">Đóng</span> -->
                    <!-- <button mat-button class="btn-action" (click)="addFieldSelect(i)">
                      <i matListIcon class="fas fa-plus"></i>
                  </button> -->
                  </div>
                </div> 
            </div>
            <button mat-button class="btn-action" (click)="addField()">
                <i matListIcon class="fas fa-plus"></i> Thêm thuộc tính
            </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>