@import '~customs.scss';


.confirm-section {
  .title {
    font-weight: 500;
    color: $grey;
    font-size: 13px;
    margin-top: 4px;
  }
  .content {
    height: 32px;
    margin-bottom: 12px;
    color: $grey-dark;
    @include flex-align-center;
    justify-content: space-between;
    font-size: 14px;
    i {
      font-size: 15px;
      color: $grey;
      cursor: pointer;
      &:hover {
        color: $grey-dark;
      }
    }
  }
  .form-input-wrapper {
    margin-top: 8px;
  }
  ::ng-deep.mat-form-field {
    width: 100%;
    margin-bottom: 12px;
    ::ng-deep.mat-form-field-wrapper {
      padding-bottom: 0;
      height: 56px;
      display: flex;
      align-items: center;
      >* {
        align-self: center;
      }
      ::ng-deep.mat-form-field-underline {
        bottom: 0;
      }
      ::ng-deep.mat-form-field-infix {
        border: none;
      }
    }
  }
  &.disabled {
    .content {
      pointer-events: none;
      color: $grey-mild;
      i {
        color: $grey-light;
      }
    }
    .form-input-wrapper {
      pointer-events: none;
      color: $grey-mild;
      input {
        border-color: $grey-lighter;
      }
    }
  }
}

.btn-transfer {
  margin-top: 4px;
  margin-left: auto;
  height: 40px;
  flex: 0 0 auto;
  @include btn-primary-background;
  font-size: 14px;
  padding: 0 16px;
  font-weight: 500;
  position: relative;
  ::ng-deep.mat-spinner {
    position: absolute;
    svg circle {                 
      stroke: white;
    }
  }
}