

<div class="confirm-section" [class.disabled]="!transferedUser">
  <div class="title">Người dùng được chuyển quyền Owner</div>
  <mat-form-field [floatLabel]="'never'">
    <mat-label>Chưa chọn người dùng</mat-label>
    <mat-select [(ngModel)]="transferedUser" panelClass="mat-select-user-panel">
      <mat-select-trigger>
        <div class="mat-select-user-panel">
          <div class="user-info">
            <div class="image-container">
              <div class="image-wrapper circle">
                <img onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'" src="{{transferedUser?.photoURL || transferedUser?.picture}}">
              </div>
            </div>
            <div class="name">
              <div>{{transferedUser?.displayName || transferedUser?.name}}</div>
            </div>
          </div>
        </div>
      </mat-select-trigger>
      <mat-option *ngFor="let user of users" [value]="user" [hidden]="owner.uid == user.uid">
        <div class="user-info">
          <div class="image-container">
            <div class="image-wrapper circle">
              <img onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'" src="{{user.photoURL || user?.picture}}">
            </div>
          </div>
          <div class="name">
            <div>{{user.displayName || user.name}}</div>
          </div>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="title">Mã UID của người dùng này</div>
  <div class="content" id="uid-content" (click)="copyUID()">
    <span>{{transferedUser?transferedUser.uid:'Chưa chọn người dùng'}}</span>
    <i class="far fa-copy"></i>
  </div>

  <div class="title">Nhập lại UID của người dùng trên để xác nhận chuyển quyền</div>
  <div class="form-input-wrapper">
    <input placeholder="UID Owner mới" class="form-input" [(ngModel)]="confirmedUID" (ngModelChange)="inputChanged()" required>
    <span class="form-error" *ngIf="error">Mã nhập sai</span>
  </div>
</div>

<button class="btn btn-transfer" (click)="transferOwnerPermission()" [disabled]="transfering">
  <span [style.visibility]="transfering?'hidden':'visible'">Chuyển quyền sở hữu cho người dùng này</span>
  <mat-spinner [diameter]="20" *ngIf="transfering"></mat-spinner>
</button>