@import '~customs.scss';

.subscribers-wrapper {
  margin-top: 8px;
  position: relative;
  border: 1px solid $grey-light;
  cursor: pointer;
  @include flex-align-center;
  padding: 0 12px;
  height: 40px;
  border-radius: 2px;
  color: $grey-dark;
  justify-content: space-between;
  &:hover {
    border-color: $brand-light;
    color: $brand-light;
    .title {
      color: $brand-light;
    }
  }
  i {
    margin-left: auto;
  }
  .image-wrapper {    
    width: 24px;
    padding-bottom: 24px;
    margin-right: 4px;
    img {
      object-fit: cover;
    }
  }
  &.disabled {
    pointer-events: none;
    border-color: $grey-lighter;
    color: $grey-mild;
    .title {
      color: $grey-mild;
    }
    img {
      filter: grayscale(100%);
    }
    .more {
      background-color: $grey-light;
    }
  }
}

.title {
  color: $grey;
  position: absolute;
  background: white;
  pointer-events: none;
  font-size: 13px;
  font-weight: 400;
  left: 8px;
  top: -12px;
  padding: 0 4px;
}

.spinner-wrapper {
  height: 100%;
}

.plus {    
  line-height: 12px;
}

.more {
  background-color: $grey-mild;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  font-size: 12px;
  @include flex-center;
}
