<div class="subscribers-wrapper" (click)="addSubscribers($event)" [class.disabled]="disabled">
  <span class="title">{{name}}</span>
  <ng-container *ngIf="!subscribers">
    <div class="spinner-wrapper"><mat-spinner [diameter]="15"></mat-spinner></div>
  </ng-container>
  <ng-container *ngIf="subscribers">
    <ng-container *ngIf="!subscribers.length">
      <span>Chưa có ai được thông báo</span>
      <i class="fas fa-plus"></i>
    </ng-container>
    <ng-container *ngIf="subscribers.length">
      <div class="image-wrapper circle" [matTooltip]="sub.messengerProfile.name" *ngFor="let sub of subscribers | slice:0:10">
        <img src="{{sub.messengerProfile.profile_pic}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'">
      </div>
      <div class="more" *ngIf="subscribers.length > 10">
        <span class="plus">+</span><span>{{subscribers.length - 10}}</span>
      </div>
      <i class="fas fa-pencil-alt"></i>
    </ng-container>
  </ng-container>
</div>