<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-newspaper'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <form #cardFrm="ngForm">
    <mat-card-content>
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
        (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <div class="top-toolbar">
        <button mat-icon-button class="toggle-button" [ngClass]="card.option.attachment.payload.sharable?'active':''" [disabled]="!cardFrm.enabled"
          (click)="toggleSharable()" matTooltip="Hiện nút chia sẻ">
          <i class="fas fa-share-alt"></i>
        </button>
        <button mat-icon-button class="toggle-button" [ngClass]="card.option.attachment.payload.image_aspect_ratio == 'square'?'active':''"
          [disabled]="!cardFrm.enabled" (click)="toggleAspectRatio()" matTooltip="Tỉ lệ ảnh">
          <i class="far fa-square"></i>
        </button>
        <button mat-icon-button class="toggle-button" matTooltip="Sắp xếp" (click)="toggleSort()" [disabled]="!cardFrm.enabled">
          <i class="fas fa-exchange-alt"></i>
        </button>
        <button mat-icon-button class="add-button" matTooltip="Thêm" (click)="addElement()" [disabled]="!cardFrm.enabled">
          <i class="fas fa-plus"></i>
        </button>
        <button mat-icon-button class="copy-button" matTooltip="Copy" (click)="copyElement()" [disabled]="!cardFrm.enabled">
          <i class="fas fa-copy"></i>
        </button>
        <button mat-icon-button class="delete-button" matTooltip="Xóa" (click)="removeElement()" [disabled]="!cardFrm.enabled || card.option.attachment.payload.elements.length <= 1 || sortMode">
          <i class="fas fa-trash"></i>
        </button>
      </div>

      <div [hidden]="!sortMode" class="sort-panel">
        <mat-grid-list [cols]="card.option.attachment.payload.image_aspect_ratio == 'square'?'3':'2'" [rowHeight]="card.option.attachment.payload.image_aspect_ratio == 'square'?'1:1':'16:9'"
          gutterSize="8px">
          <mat-grid-tile *ngFor="let element of card.option.attachment.payload.elements; let ei = index" lazy-load-images>
            <img data-src="{{element.image_url}}">
            <button class="move-button move-left" (click)="moveLeft(ei)" [disabled]="ei == 0">
              <i class="fas fa-arrow-left"></i>
            </button>
            <button class="move-button move-right" (click)="moveRight(ei)" [disabled]="ei == card.option.attachment.payload.elements.length - 1">
              <i class="fas fa-arrow-right"></i>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <swiper *ngIf="card.option.attachment.payload.elements" class="element-container" [config]="swiperOptions" #swiper [hidden]="sortMode">
        <div class="swiper-wrapper">
          <div class="swiper-slide element" *ngFor="let element of card.option.attachment.payload.elements; let ei = index">
            <mat-card #elementCard (mouseenter)="elementCard.onHover = true" (mouseleave)="elementCard.onHover = false">
              <div class="image-container">
                <app-card-image [imageSrc]="element.image_url" (sourceChanged)="onImageSourceChanged($event, ei)" (uploadingChanged)="onUploading($event)"
                  [disabled]="!cardFrm.enabled" [imageRatio]="card.option.attachment.payload.image_aspect_ratio"></app-card-image>
              </div>
              <mat-card-content>
                <mat-form-field class="text-input-field">
                  <textarea hlTextArea #titleControl="ngModel" [(ngModel)]="element.title" name="title-{{ei}}" placeholder="Title" matInput cdkTextareaAutosize required></textarea>
                </mat-form-field>
                <mat-form-field class="text-input-field">
                  <textarea hlTextArea matInput #subTitleControl="ngModel" [(ngModel)]="element.subtitle" name="subtitle-{{ei}}" placeholder="Sub Title" cdkTextareaAutosize></textarea>
                </mat-form-field>
              </mat-card-content>
              <app-button-container #btnContainer [validButtons]="validButtons" [container]="container" [buttons]="element.buttons" (change)="onButtonsChange(ei,$event)"
                [disabled]="!cardFrm.enabled"></app-button-container>
            </mat-card>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination element-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next element-button-next"></div>
        <div class="swiper-button-prev element-button-prev"></div>
      </swiper>

    </mat-card-content>
  </form>
</mat-card>
</div>