// @import "../../../shared/cards/card-container/card-container.component.scss";
@import "~customs.scss";
.element-container {
    width: 84%;
    margin: auto;
}
.element {
    margin: 0;
    .mat-card {
        margin: 16px 40px;
        padding: 0;
        border: 1px solid $grey-mild;
        box-shadow: none;
        img {
            object-fit: cover;
            cursor: pointer;
            height: 134px;
            width: 100%;
            &.horizontal {
                height: 134px;
                width: 100%;
            }
            &.square {
                height: 267px;
                width: 100%;
            }
        }
        ::ng-deep mat-nav-list {
            padding-top: 0;
        }
        .mat-card-content {
            padding: 16px 16px 0px 16px;
            margin-top: 0
        }
        .element-buttons {
            position: absolute;
            width: 100%;
            text-align: right;
            .mat-icon-button {
                margin: 5px;
                background-color: white;
                &.danger {
                    background-color: red;
                    color: white;
                }

            }
        }
    }
}
.image-container {
    width: 100%;
    height: auto;
    padding: 8px;
    box-sizing: border-box;
}
.top-toolbar {
    border: 1px solid $grey-mild;
    border-radius: 20px;
    width: 68%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .toggle-button {
        color: $grey;
        &:hover {
            color: $grey-dark;
        }
        &.active {
            color: $brand-light;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    .add-button, .copy-button {
        color: $grey;
        &:hover {
            color: $brand-primary;
        }
        &[disabled] {
            color: $grey-light !important;
        }
    }
    .delete-button {
        color: $grey;
        &:hover {
            color: $brand-danger;
        }
        &[disabled] {
            color: $grey-light !important;
        }
    }
}
.sort-panel {
    margin-top: 12px;
    .mat-grid-list {
        // transition: all 0.3s ease-in-out;
        .mat-grid-tile {
            // transition: all 0.3s ease-in-out;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s ease-in-out;
                border-radius: 4px;
            }
            .move-button {
                opacity: 0;
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                border: none;
                outline: none;
                background: rgba(0, 0, 0, 0.6);
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                i {
                    color: $grey-white;
                    transition: all 0.3s ease-in-out;
                }
                &.move-left {
                    left: 0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                &.move-right {
                    left: 50%;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                &:hover {
                    i {
                        color: $brand-light;
                    }
                }
                &:focus {
                    outline: none;
                }
                &[disabled] {
                    i {
                        color: $grey-darker !important;
                    }
                }
            }
            &:hover {
                .move-button {
                    opacity: 1;
                }
            }
        }
    }
}