
@import "~customs.scss";
@import "../stories-portal/stories-portal.component.scss";

.topic-line{
  .group-title{
    display: flex;
    font-weight: 400;
    font-size: 15px;
    color: $grey-dark;
    align-items: center;
    margin-left: 8px;
    i{
      margin-right: 12px;
      font-size: 14px;
    } 
  }
  .item-delete-button{
    font-size: 13px;
    color:$grey-mild;
    margin-left: auto;
    opacity: 0;
    &:hover{
      color:$grey;
    }
  }
  &:hover{
    .item-delete-button{
      opacity: 1;
    }
  }
}
