<!-- <div class="portal" [style.width]="index == 0?'300px':'350px'" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner><span [hidden]="isSaving"><i class="fas fa-check-square"></i>Chọn</span>
    </button>
    <span class="saved-label" *ngIf="saved"><mat-icon>check</mat-icon>Đã lưu</span>
    <mat-icon class="icon-btn" style="cursor: pointer" (click)="close()" [hidden]="index == 0">close</mat-icon>
  </mat-toolbar>
  
  <div class="portal-content-block" [ngClass]="(topics?.length)?portalId + ' has-footer':portalId" >
    <div class="spinner-wrapper" *ngIf="progressBar.show"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div class="no-content" *ngIf="!progressBar.show && !topics?.length">
      <div class="no-content-text">
        Chưa có chủ đề nào
      </div>
      <button class="button-remove-overlay" mat-button color='primary' (click)="addTopic()">
        Tạo chủ đề mới
      </button>
    </div>
    <div [hidden]="topics?.length == 0 || progressBar.show">
      <mat-nav-list *ngIf="mode == 'list'"> 
        <div *ngFor="let topic of topics | nameFilter:topic_filter; let i = index">
          <mat-list-item class="topic-line" [ngClass]="openedTopic == topic._id?'story-opened':''" (click)="openTopic(topic)">
            <div class="group-title">
              <i class="far fa-calendar "></i>
              <span >{{topic.name}}</span>
            </div>
            <i class="far fa-trash-alt mat-item-menu-icon item-delete-button" (click)="removeTopic(topic, $event)" 
            matTooltip="Xóa câu chuyện"></i>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
      <mat-selection-list #topicSelection *ngIf="mode == 'select'" [hidden]="!hasSelectionSet">
        <mat-list-option *ngFor="let topic of topics | nameFilter:topic_filter" [ngClass]="openedTopic == topic._id ?'story-opened':''" checkboxPosition="before" #option (click)="selectTopic(option)" [value]="topic">
          <a matLine class="story-name"> {{topic.name}} </a>
          <mat-icon class="mat-item-menu-icon open-story-icon" (click)="openTopic(topic); $event.stopPropagation();" matTooltip="Mở chủ đề" 
          matTooltipPosition="after">chevron_right</mat-icon>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
  <div class="portal-footer" [ngClass]="(topics?.length)?'portal-footer-display':''">
    <input class="form-input" [(ngModel)]="topic_filter" placeholder="Lọc chủ đề">
    <button mat-button class="btn-grey" (click)="refresh()" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button class="btn-blue btn-create-story" mat-raised-button color="primary"
    matTooltipPosition="above" (click)="addTopic()">
      <i class="fas fa-plus-circle" ></i><span>Thêm chủ để</span>
    </button>
  </div>
</div> -->
<div class="portal">
  <mat-toolbar class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button *ngIf="select" mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner><span [hidden]="isSaving"><i class="fas fa-check-square"></i>Chọn</span>
    </button>
    <span class="saved-label" *ngIf="saved && select"><mat-icon>check</mat-icon>Đã lưu</span>
    <div class="spinner-wrapper" *ngIf="loadTopicsDone && loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn ml-2" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block has-footer" [ngClass]="portalId">
      <div class="spinner-wrapper" *ngIf="!loadTopicsDone || (!hasSelectionSet && select)"><mat-spinner [diameter]="30"></mat-spinner></div>
      <div class="no-content" *ngIf="loadTopicsDone && (hasSelectionSet || !select) && !topics?.length">
        <div class="no-content-text">
          Chưa có chủ đề nào 
        </div>
        <button class="btn-create-topic button-remove-overlay" mat-button color='primary' (click)="addTopic($event, true)">
          Tạo chủ đề mới
        </button>
      </div>
      <ng-container *ngIf="loadTopicsDone && (hasSelectionSet || !select) && topics?.length">
          <button class="portal-list-item" *ngFor="let topic of topics | nameFilter:topic_filter; let i = index; trackBy: trackByFn"
          [class.active]="openedTopic==topic._id" (click)="select?selectTopic(topic):openTopic(topic)" [class.select]="topic.select">
            <div class="name">
              <ng-container *ngIf="!select">
                <i class="fas fa-calendar active"></i>
                <i class="far fa-calendar inactive"></i>
              </ng-container>
              <ng-container *ngIf="select && multi">
                <i class="far fa-square" *ngIf="!topic.select"></i>
                <i class="fas fa-check-square checked" *ngIf="topic.select"></i>
              </ng-container>
              <ng-container *ngIf="select && !multi">
                <i class="far fa-circle" *ngIf="!topic.select"></i>
                <i class="fas fa-check-circle checked" *ngIf="topic.select"></i>
              </ng-container>
              <span>{{topic.name}}</span>
            </div>
            <div class="action-buttons">
              <!-- <button class="btn-action" [matTooltip]="'Sao chép chủ đề'" 
              (click)="copyTopic(topic); $event.stopPropagation()"><i class="far fa-copy"></i></button> -->
              <button class="btn-action" [matTooltip]="'Xóa chủ đề'" 
              (click)="removeTopic(topic); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
            </div>
          </button>
        </ng-container>
  </div>
  <div class="portal-footer" [ngClass]="(loadTopicsDone && (hasSelectionSet || !select) && topics?.length)?'portal-footer-display':''">
    <input class="form-input" [(ngModel)]="topic_filter" placeholder="Lọc chủ đề">
    <button mat-button class="btn-grey" (click)="reload(false)" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button class="btn-blue" mat-raised-button color="primary" matTooltipPosition="above"
      (click)="addTopic($event)">
      <i class="fas fa-plus-circle"></i><span>Thêm chủ đề</span>
    </button>
  </div> 
</div>