<form #myFrm="ngForm">
  <mat-form-field class="text-input-field">
    <mat-select placeholder="Loại trường hợp" [(ngModel)]="case.type" name="type">
      <mat-option *ngFor="let type of caseTypes" [value]="type.value">
        {{ type.display }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="text-input-field" *ngIf="case.type === 'regex'">
    <input
      type="text"
      #regexControl="ngModel"
      [(ngModel)]="case.value.regex"
      name="regex"
      matInput
      placeholder="Khớp chuỗi"
      required
    />
  </mat-form-field>
  <mat-form-field class="text-input-field" *ngIf="case.type === 'number'">
    <input
      type="number"
      #numberControl="ngModel"
      [(ngModel)]="case.value.text"
      name="number"
      matInput
      placeholder="Khớp số"
      required
    />
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="none" *ngIf="case.type === 'range'">
    <mat-form-field class="text-input-field" fxFlex="50">
      <input
        type="number"
        #fromControl="ngModel"
        matInput
        placeholder="Từ"
        [(ngModel)]="case.value.from"
        name="from"
        required
      />
    </mat-form-field>
    <mat-form-field class="text-input-field padding-left" fxFlex="50">
      <input
        type="number"
        #toControl="ngModel"
        matInput
        placeholder="Đến"
        [(ngModel)]="case.value.to"
        name="to"
        required
      />
    </mat-form-field>
  </div>
  <mat-form-field class="text-input-field" *ngIf="case.type === 'intent'">
    <input
      type="text"
      matInput
      placeholder="Ngữ cảnh"
      required
      readonly
      [value]="selectedIntent ? selectedIntent.name : 'Chưa chọn ngữ cảnh nào'"
    />
    <input type="text" matInput [(ngModel)]="case.value.intent" name="intent" required hidden />
    <mat-hint align="end"></mat-hint>
    <button mat-icon-button matSuffix (click)="selectIntent()">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field
    class="text-input-field"
    *ngIf="case.type === 'overLimit' || case.type === 'overAmount' || case.type === 'tagLimit'"
  >
    <mat-select
      placeholder="Trường hợp được chỉ định"
      [(ngModel)]="case.responseForCases"
      name="responseForCases"
      multiple
    >
      <mat-option *ngFor="let case of postCasePortal.interactPost.cases; let i = index" [value]="case._id">
        {{ i + 1 }} - {{ caseName(case.type) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
