
<form #myFrm="ngForm">
  <!-- <mat-form-field class="text-input-field">
    <input type="text" #nameControl="ngModel" [(ngModel)]="interactPost.name" name="name" matInput placeholder="Tên liên kết"
      required>
  </mat-form-field> -->
  <mat-form-field class="text-input-field" *ngIf="interactPost.type === 'hash_tag' "> 
      <input type="text"  #nameControl="ngModel" [(ngModel)]="interactPost.hashTag" name="hashTag" matInput placeholder="HashTag"
        required>
    </mat-form-field>
    <!-- <mat-checkbox [(ngModel)]="editDate"  labelPosition="end" [ngModelOptions]="{standalone: true}">
        Tùy chỉnh ngày, giờ
    </mat-checkbox> -->
    <mat-checkbox [(ngModel)]="interactPost.isCheckDate"  labelPosition="end" name="isCheckDate">
      Tùy chỉnh ngày, giờ
  </mat-checkbox>
  <div fxLayout="row" fxLayoutAlign="none" [hidden]="!interactPost.isCheckDate">
    <mat-form-field fxFlex="50" class="text-input-field" [floatLabel]="'always'">
     <input type="hidden" [matDatepicker]="startDatePicker" name="hidden-startDate" [(ngModel)]="interactDateRange.startDate" (dateChange)="formChange()">
      <input matInput  placeholder="Ngày bắt đầu" [ngModel]="interactDateRange.startDate | date: 'dd/MM/yyyy'"  name="startDate"
       [readonly]="true"   required  > 
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <w-mat-timepicker [disabled]="!interactDateRange.startDate" fxFlex="50" color="primary" [(userTime)]="interactDateRange.startTime" revertLabel="Lúc này"
      submitLabel="Đồng ý" cancelLabel="Huỷ" placeholder="Giờ bắt đàu" (userTimeChange)="formChange()">
    </w-mat-timepicker>
  </div>
  <div fxLayout="row" fxLayoutAlign="none" [hidden]="!interactPost.isCheckDate">
    <mat-form-field fxFlex="50" class="text-input-field" [floatLabel]="'always'">
     <input type="hidden" [matDatepicker]="endDatePicker" name="hidden-endDate" [(ngModel)]="interactDateRange.endDate" (dateChange)="formChange()">
      <input matInput  placeholder="Ngày hết hạn" [ngModel]="interactDateRange.endDate | date: 'dd/MM/yyyy'"   name="endDate"
        [readonly]="true" required >
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <w-mat-timepicker [disabled]="!interactDateRange.endDate" fxFlex="50" color="primary" [(userTime)]="interactDateRange.endTime" revertLabel="Lúc này"
      submitLabel="Đồng ý" cancelLabel="Huỷ" placeholder="Giờ hết hạn" (userTimeChange)="formChange()">
    </w-mat-timepicker>
  </div>
  <!-- <div fxLayout="row" fxLayoutAlign="none">
    <mat-form-field class="text-input-field" fxFlex="50" [floatLabel]="'always'">
      <input type="number" matInput placeholder="Số lượng" [(ngModel)]="interactPost.amount" name="amount" required min="0">
      <mat-hint align="end">Nhập 0 để không giới hạn</mat-hint>
    </mat-form-field>
    <mat-form-field class="text-input-field padding-left" fxFlex="50" [floatLabel]="'always'">
      <input type="number" matInput placeholder="Số lần sử dụng" [(ngModel)]="interactPost.limit" name="limit" required min="0">
      <mat-hint align="end">Nhập 0 để không giới hạn</mat-hint>
    </mat-form-field>
  </div> -->

</form>