<div class="app-user-container mt-2">
  <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectTab($event)" [disableRipple]="true">
    <ng-container *ngFor="let tab of tabs">
      <mat-tab *ngIf="!tab.rule || systemUser?.rule=='system_admin'
      || (systemUser?.rule=='system_agency' && tab.rule==systemUser?.rule)">
        <ng-template mat-tab-label>
          <a [routerLink]="['/user', tab.code]"><i [ngClass]="tab.icon"></i>{{tab.display}}</a>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
  <div class="app-user-section">
    <router-outlet></router-outlet>
  </div>
</div>