@import "~customs.scss";

.app-user-container {
    position: relative;
    // background: white;
    background: transparent;
    // height: calc(100vh - 112px);
    width: 100%;
    max-width: 1160px;
    margin: -8px auto 0;
    border-radius: 2px;
    // box-shadow: 0 0 16px rgba(0, 0, 0, 0.08) !important;
    animation: slide-up 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    ::ng-deep.mat-tab-group {
        padding: 0 40px;
        ::ng-deep.mat-tab-header {
            border-bottom-color: $grey-lighter;
        }
        ::ng-deep.mat-tab-labels {
            justify-content: center;
            ::ng-deep.mat-tab-label {
                padding: 0;
                min-width: 0;    
                height: 40px;
                opacity: 1;
                background-color: transparent !important;
                ::ng-deep.mat-tab-label-content {
                    width: 100%;
                    height: 100%;
                    a {
                        width: 100%;
                        height: 100%;
                        padding: 0 20px 8px;                    
                        text-decoration: none;
                        color: $grey;
                        @include flex-center;
                        i {
                            margin-right: 8px;
                        }
                    }
                }
                &:hover, &.mat-tab-label-active {
                    a {
                        color: $brand-light;
                    }
                }
            }
        }
        ::ng-deep.mat-ink-bar {
            height: 3px;
            background-color: $brand-light !important;
        }
    }
}

.app-user-toolbar {
    @include flex-align-center;
    justify-content: center;
    flex: 0 0 40px;
    padding: 12px 0 10px;
    box-sizing: content-box;
    border-bottom: 1px solid $grey-lighter;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
    .app-user-tab {
        border-radius: 3px;
        padding: 8px 24px;
        margin: 0 8px;
        font-size: 14px;
        font-weight: 500;
        color: $grey;
        text-decoration: none;
        background: transparent;
        border: 1px solid $grey-mild;
        i {
            margin-right: 6px;
            color: $grey;
        }
        &:hover {
            border-color: $brand-light;
            color: $brand-light;
            i {
                color: $brand-light;
            }
        }
        &.active {
            color: white;
            border-color: $brand-light;
            background: $brand-light;
            i {
                color: white;
            }
        }
    }
}

.user-content-wrapper {
    >* {
        animation: slide-up-slightly 0.3s ease-in-out;
    }
}

.app-user-section {
    flex: 1 1 auto;    
    height: calc(100% - 63px);
    box-sizing: content-box;
    padding: 0 40px 24px;
    ::ng-deep.user-content-title {
        text-align: left;
        color: $grey;
        font-weight: 500;
        padding: 4px;
        font-size: 14px;
    }
    ::ng-deep.not-found {
        height: 200px;
        color: $grey;
    }
    ::ng-deep.mat-table {
        width: 100%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        .mat-cell, .mat-footer-cell {
            color: $grey-darker;
            padding-left: 4px;
            padding-right: 4px;
            &:first-child {
                padding-left: 12px;
            }
            &:last-child {
                padding-right: 12px;
            }
        }
        .cdk-column-index {
            width: 64px;
            padding-right: 8px;
            text-align: center;
            &.mat-footer-cell {
                width: auto;
                text-align: left;
                padding-left: 24px;
            }
        }
        .cdk-column-saleOf, .cdk-column-expirationDate, .cdk-column-status {
            text-align: center;
        }
        .cdk-column-name, .cdk-column-email, .cdk-column-code, .cdk-column-owner, .cdk-column-page, .cdk-column-date {
            text-align: left;
        }
        .cdk-column-action, .cdk-column-amount, .cdk-column-amountOfSaleOff, .cdk-column-amountWithoutSaleOff {
            text-align: right;
        }
        .cdk-column-date.mat-footer-cell {
            display: none;
        }
        td {
            border-bottom-color: $grey-lightest;
        }
        .btn {
            background: $grey-lightest;
            color: $grey;
            font-size: 13px;
            padding: 8px 12px;
            min-width: 36px;
            width: auto;
            margin-left: 4px;
            border-radius: 2px;
            position: relative;
            display: inline-flex;
            justify-content: center;
            height: 36px;
            white-space: pre;
            cursor: pointer;
            ::ng-deep.mat-spinner {
                position: absolute;
                height: auto;
                svg circle {
                    stroke: $brand-light;
                }
            }
            .text {
                padding-left: 6px;
            }
            // i {
            //     font-size: 12px;
            // }
            &:hover {
                color: $brand-light;
            }
            // &.btn-details {
            //     background: $brand-light;
            //     color: white;
            //     &:hover {
            //         background: $brand-primary;
            //     }
            // }
        }
        tr.detail-row {
            height: 0;
            td {
                border-bottom: 0;
                padding: 0 !important;
            }
        }
        tr.expanded {
            td {
                border-bottom-style: dashed;
                border-bottom-color: $grey-white;
            }
        }
        .detail-row-wrapper {
            @include flex-align-start;
            justify-content: flex-start;
            min-height: 40px;
            flex-wrap: wrap;
            padding: 8px 12px;
            position: relative;
            border-bottom: 1px solid $grey-lightest;
            .spinner-wrapper {
                justify-self: center;
                align-self: center;
                height: auto;
            }
            .not-found {
                justify-self: center;
                height: auto;
                text-align: left;
                margin-left: 12px;
            }
        }
    }
    ::ng-deep.user-section-toolbar {
        @include flex-align-center;
        padding: 16px 0;
        ::ng-deep.total {
            display: inline-block;
            color: $grey-dark;
            padding: 0 12px;
            margin-right: 8px;
            border-right: 1px solid $grey-light;
            font-size: 14px;
            line-height: 18px;
        }
        .btn-add {
            @include btn-primary-background;
            height: 40px;
            font-size: 14px;
            font-weight: 500;
            padding: 0 24px;
            border-radius: 2px;
            ::ng-deep.mat-spinner {
                position: absolute;
                svg circle {
                    stroke: white;
                }
            }
        }
        .form-input-wrapper {
            padding-bottom: 0;
            height: 40px;
        }
        .toolbar-buttons {
            @include flex-align-center;
            margin-left: auto;
            .btn {
                color: $grey;
                width: 40px;
                height: 40px;
                padding: 0;
                margin-right: 4px;
                @include flex-center;
                &:hover {
                    color: $brand-light;
                }
                &.btn-check {
                    width: auto;
                    border-radius: 2px;
                    padding: 0 12px;
                    font-size: 14px;
                    margin-right: 8px;    
                    background: white;
                    transition: box-shadow 0.3s ease-in-out;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
                    &.checked {
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
                    }
                    i:not(.check) {
                        display: inline;
                    }
                    i.check {
                        color: $brand-accent;
                        display: none;
                    }
                    &.checked {
                        i:not(.check) {
                            display: none;
                        }
                        i.check {
                            display: inline;
                        }
                    }
                    span {
                        padding-left: 6px;
                    }
                    &:hover {
                        color: $brand-light;
                    }
                }
            }
        }
        .search {
            margin-left: auto;
        }
    }
    ::ng-deep.btn-load-more {
        margin: 20px auto 0;
        border-radius: 100px;
        padding: 12px 40px 10px;
        background: $brand-light;
        color: white;
        font-weight: 500;
        font-size: 14px;
        border-bottom: 3px solid $brand-primary;
        ::ng-deep.mat-spinner {
            position: absolute;
            height: auto;
            svg circle {
                stroke: white;
            }
        }
        &[disabled] {
            pointer-events: none;
            border-color: $brand-light;
        }
        &:hover {
            background: $brand-primary;
            border-color: $brand-dark;
        }
    }
}