<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button *ngIf="chatbotApi.chatbotAuth.user.rule != 'read'" mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="portal-section">
      <div class="portal-section-title">Loại trường hợp</div>
      <app-post-case-type [case]="case" (change)="showSaveButton()"></app-post-case-type>
      <mat-divider></mat-divider>
    </div>
    <div class="portal-section">
      <div class="portal-section-title">Phương thức trả lời</div>
      <div class="accordion-wrapper">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Trả lời bằng Comment
              </mat-panel-title>
              <mat-panel-description style="flex: 0;">{{case.isResponseComment?"Bật":"Tắt"}}</mat-panel-description>
            </mat-expansion-panel-header>
            <app-post-case-comment [case]="case" (change)="showSaveButton()"></app-post-case-comment>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Trả lời bằng tin nhắn
              </mat-panel-title>
              <mat-panel-description style="flex: 0;">{{case.isResponsePrivateReplies?"Bật":"Tắt"}}</mat-panel-description>
            </mat-expansion-panel-header>
            <app-post-case-private-reply [case]="case" (change)="showSaveButton()"></app-post-case-private-reply>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Trả lời bằng câu chuyện
              </mat-panel-title>
              <mat-panel-description style="flex: 0;">{{case.isResponseStory?"Bật":"Tắt"}}</mat-panel-description>
            </mat-expansion-panel-header>
            <app-post-case-story [case]="case" (change)="showSaveButton()"></app-post-case-story>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tuỳ chọn khác
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <app-post-case-optional [case]="case" (change)="showSaveButton()"></app-post-case-optional>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="portal-section">
      <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
        <div class="portal-section-title">Danh sách người tương tác</div>
        <div>
          <button class="portal-section-button" (click)="getCommentReplies(false)" [matTooltip]="'Tải lại'">
            <i class="fas fa-sync-alt"></i>
          </button>
        </div>
      </div>
      <div class="subscriber-list">
        <div class="no-data" *ngIf="subscribers.length == 0">Không có</div>
        <div class="subscriber-info" *ngFor="let sub of subscribers">
          <div class="subscriber-name">{{sub.name}}</div>
          <div class="subscriber-data">{{sub.amount}} lần</div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </div>

</div>