<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'far fa-list-alt'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <form #cardFrm="ngForm">
    <mat-card-content>
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
      [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
      (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      
      <div class="top-toolbar">
        <button mat-icon-button class="toggle-button" [ngClass]="card.option.attachment.payload.top_element_style == 'large'?'active':''" [disabled]="!cardFrm.enabled"
        (click)="toggleTopElement()" matTooltip="Phóng to item đầu tiên"><i class="fas fa-window-maximize"></i></button>
        <button mat-icon-button class="toggle-button" matTooltip="Sắp xếp" (click)="toggleSort()" [disabled]="!cardFrm.enabled"><i class="fas fa-exchange-alt"></i></button>
        <button mat-icon-button class="add-button button-remove-overlay" matTooltip="Thêm" (click)="addElement()" [disabled]="!cardFrm.enabled"><i class="fas fa-plus"></i></button>
        <button mat-icon-button class="delete-button" matTooltip="Xóa" (click)="removeElement()" 
        [disabled]="!cardFrm.enabled || card.option.attachment.payload.elements.length <= 1 || sortMode"><i class="fas fa-trash"></i></button>
      </div>

      <div [hidden]="!sortMode" class="sort-panel">
          <div class="list-wrapper">
            <div class="item-content" *ngFor="let element of card.option.attachment.payload.elements; let ei = index">
              <div class="item-text">
                <div class="item-title">{{element?.title}}</div>
                <div class="item-subtitle">{{element?.subtitle}}</div>
                <button class="item-button" *ngIf="element?.buttons?.length > 0">{{element?.buttons[0]?.title}}</button>
              </div>
              <div class="item-avatar" lazy-load-images>
                <img data-src="{{element.image_url}}">
                <button class="move-button move-up" (click)="moveLeft(ei)" [disabled]="ei == 0"><i class="fas fa-arrow-up"></i></button>
                <button class="move-button move-down" (click)="moveRight(ei)" [disabled]="ei == card.option.attachment.payload.elements.length - 1"><i class="fas fa-arrow-down"></i></button>
              </div>
            </div>
          </div>
      </div>
      <swiper *ngIf="card.option.attachment.payload.elements" class="element-container" [config]="swiperOptions" #swiper [hidden]="sortMode">
        <div class="swiper-wrapper">
          <div class="swiper-slide element" *ngFor="let element of card.option.attachment.payload.elements; let ei = index">
            <mat-card #elementCard>
              <div class="image-container">
                <app-card-image [imageSrc]="element.image_url" (sourceChanged)="onImageSourceChanged($event, ei)" [imageRatio]="'horizontal'"
                [disabled]="!cardFrm.enabled" (uploadingChanged)="onUploading($event)"></app-card-image>
              </div>
              <!-- <img [src]="element.image_url" alt="" (click)="cardFrm.enabled?editImage(ei):false" onerror="this.src='https://developers.google.com/maps/documentation/static-maps/images/error-image-generic.png'"> -->
              <mat-card-content>
                <mat-form-field class="text-input-field">
                  <input hlTextArea matInput #titleControl="ngModel" [(ngModel)]="element.title" name="title-{{ei}}" placeholder="Title"  >
                  <mat-hint align="end">{{element?.title?.length}} / 256</mat-hint>
                </mat-form-field>
                <mat-form-field class="text-input-field">
                  <input hlTextArea matInput #subTitleControl="ngModel" [(ngModel)]="element.subtitle" name="subtitle-{{ei}}" placeholder="Sub Title">
                  <mat-hint align="end">{{element?.subtitle?.length}} / 256</mat-hint>
                </mat-form-field>
              </mat-card-content>
              <app-button-container #btnContainer [validButtons]="validButtons" [container]="container" [buttons]="element.buttons" (change)="onButtonsChange(ei,$event)"
                [limit]="1" [disabled]="!cardFrm.enabled"></app-button-container>
            </mat-card>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination element-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next element-button-next"></div>
        <div class="swiper-button-prev element-button-prev"></div>
      </swiper>
      <app-button-container #btnContainer [validButtons]="validButtons" [container]="container" [buttons]="card.option.attachment.payload.buttons"
        [limit]="1" (change)="onCardButtonChange($event)" [disabled]="!cardFrm.enabled" [fullWidth]="true"></app-button-container>
    </mat-card-content>
  </form>
</mat-card>
</div>