@import "~customs.scss";

.element-container {
    width: 84%;
    margin: auto;
}
.element {
    margin: 0;
    .mat-card {
        margin: 16px 40px;
        padding: 0;
        border: 1px solid $grey-mild;
        box-shadow: none;
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
        }
        ::ng-deep mat-nav-list {
            padding-top: 0;
        }
        .mat-card-content {
            padding: 16px 16px 0px 16px;
            margin-top: 0
        }
        .element-buttons {
            position: absolute;
            width: 100%;
            text-align: right;
            .mat-icon-button {
                margin: 5px;
                background-color: white;
                &.danger {
                    background-color: red;
                    color: white;
                }

            }
        }
    }
}
.image-container {
    width: 100%;
    height: auto;
    padding: 8px;
    box-sizing: border-box;
}
.top-toolbar {
    border: 1px solid $grey-mild;
    border-radius: 20px;
    width: 68%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .toggle-button {
        color: $grey;
        &:hover {
            color: $grey-dark;
        }
        &.active {
            color: $brand-light;
            &:hover {
                color: $brand-primary;
            }
        }
    }
    .add-button {
        color: $grey;
        &:hover {
            color: $brand-primary;
        }
        &[disabled] {
            color: $grey-light !important;
        }
    }
    .delete-button {
        color: $grey;
        &:hover {
            color: $brand-danger;
        }
        &[disabled] {
            color: $grey-light !important;
        }
    }
}

.list-wrapper {
    margin-top: 16px;
}

.item-content {
    margin: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid $grey-light;
    border-top: none;
    padding: 8px;
    &:first-child {
        border-top: 1px solid $grey-light;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &:last-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &.large {
        border: none;
        position: relative;
        .item-avatar {
            width: 100%;
            height: 0px;
            padding-bottom: 56.25%;
        }
        .item-text {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 12px;
            .item-title {
                color: white;
            }
            .item-subtitle {
                color: $grey-lightest;
            }
        }
    }
    .item-text {
        width: 70%;
        padding-left: 8px;
        padding-right: 12px;
        margin-top: 4px;
        .item-title {
            color: $grey-darker;
            font-weight: bold;
        }
        .item-subtitle {
            margin-top: 6px;
            color: $grey;
        }
        .item-button {
            background: none;
            border: 1px solid $brand-light;
            border-radius: 4px;
            color: $brand-light;
            padding: 6px 12px;
            margin-top: 12px;
            &:focus {
                outline: none;
            }
        }
    }
    .item-avatar {
        width: 30%;
        height: 0px;
        padding-bottom: 30%;
        box-sizing: border-box;
        position: relative;
        &:hover {
            .move-button {
                opacity: 1;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            box-sizing: content-box;
            border-radius: 4px;
        }
        .move-button {
            opacity: 0;
            position: absolute;
            left: 0;
            width: 100%;
            height: 50%;
            border: none;
            outline: none;
            background: rgba(0, 0, 0, 0.6);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            i {
                color: $grey-white;
                transition: all 0.3s ease-in-out;
            }
            &.move-up {
                top: 0;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
            &.move-down {
                top: 50%;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            &:hover {
                i {
                    color: $brand-light;
                }
            }
            &:focus {
                outline: none;
            }
            &[disabled] {
                i {
                    color: $grey-darker !important;
                }
            }
        }
    }
}