@import "~customs.scss";

.add-template-title {
    color: $grey-darker;
}

.spreadsheet-email {
    font-size: 14px;
    color: $grey-dark;
    font-weight: 400;
    float: right;
}

hr {
    margin: 0 -20px 16px;
    border-color: $grey-lightest;
}

.btn-create {
    border-radius: 5px;
    padding: 0px 60px 2px;
    height: 48px;
    font-weight: 600;
    background: $brand-light;
    border-bottom: 6px solid $brand-primary;
    color: white;
    @include flex-center;
    margin: 16px auto 0;
    animation: slide-up 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    i {
        margin-right: 6px;
    }
    .numbering {
        background: white;
        color: $brand-light;
    }
    ::ng-deep.mat-spinner svg circle {            
        stroke: white;
    }
    &:hover {
        background: $brand-primary;
        border-color: $brand-dark;
    }
    &[disabled] {
        background: lighten($brand-light, 15%);
        color: $grey-white;
        pointer-events: none;
        border-color: lighten($brand-light, 15%);
        padding-top: 6px;
        .numbering {
            background: $grey-white;
            color: lighten($brand-light, 15%);
        }
    }
}

.category-section {
    @include flex-align-center;
    padding: 0 8px;
    font-size: 13px;
    color: $grey-dark;
    font-weight: 300;
    height: 32px;
    .category-item {
        padding: 0 12px;
        border-right: 1px solid $grey-lightest;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:last-child {
            border-right: none;
        }
        &:hover {
            color: $brand-light;
        }
        &.active {
            font-weight: 500;
            text-decoration: underline;
            color: $brand-primary !important;
        }
    }
}

.btn-refresh {
    color: $grey-dark;
    margin-left: auto;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 500;
    i {
        margin-right: 4px;
    }
    &:hover {
        background: $grey-white;
        color: $brand-light;
    }
}

.add-container {
    height: calc(100vh - 168px);
    padding: 0;
    border-radius: 2px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08) !important;
    width: auto;
    display: inline-block;
    animation: slide-up 0.3s ease-in-out;
    .add-title {
        width: 100%;
        height: 56px;
        background: white;
        color: $grey-dark;
        padding: 0 8px 0 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-weight: 500;
        border-bottom: 1px solid $grey-lightest;
    }
    .add-content {
        display: flex;
        height: 100%;
        position: relative;
    }
    .form-input-wrapper {
        height: auto;
        padding: 8px 0 12px;
        margin-bottom: 8px;
    }
    .add-info {
        border-right: 1px solid $grey-lighter;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 350px;
        max-width: 400px;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        .mat-error {            
            text-align: right;
        }
    }
    .add-template {
        width: 60vw;
        height: 100%;
        padding: 16px;
        padding-left: 4px;
        padding-bottom: 12px;
        box-sizing: border-box;
        ::ng-deep.mat-tab-group {
            height: calc(100% - 64px);
            ::ng-deep.mat-tab-header {                
                display: none;
            }
            ::ng-deep.mat-tab-body {
                padding: 12px 0;
                ::ng-deep.mat-tab-body-content {
                    @include custom-scrollbar-grey;
                }
            }
        }
        .add-header {
            padding-left: 20px;
        }
    }
    .add-header {
        color: $brand-primary;
        font-weight: 500;
        font-size: 16px;
        @include flex-align-center;
    }
    .expand-collapse {
        transform-origin: right center;
        transition: all 0.5s ease-in-out, opacity 0.7s ease-in-out;
        >* {
            transition: all 0.3s ease-in-out 0.6s;
        }
    }
    .expanded {
        opacity: 1;
        transform: scaleX(1);
        max-width: 800px;
        >* {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .collapsed {
        opacity: 0;
        max-width: 0;
        transform: scaleX(0.5);
        padding: 0;
        margin: 0;
        >* {
            opacity: 0;
            transform: translateY(8px);
        }
    }
}

.fanpages-wrapper {
    height: calc(100% - 40px);
    margin-top: 16px;
    @include custom-scrollbar-grey;
    .fanpage {
        border-radius: 0px;
        height: 50px;
        width: 100%;
        padding: 0 8px;
        cursor: pointer;
        background: transparent;
        border: none;
        @include flex-align-center;
        color: $grey-dark;
        font-weight: 500;
        .fanpage-image-wrapper {
            border-radius: 50%;
            overflow: hidden;
            width: 40px;
            height: 40px;
            margin-right: 12px;
            flex-shrink: 0;
            border: 1px solid $grey-light;
            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.2s ease-in-out;
            }
        }
        .fanpage-title {
            word-break: break-word;
            white-space: pre-line;
            line-height: 18px;
            text-align: left;
            @include text-ellipsis(2)
        }
        .check {
            color: $brand-success;
            margin-left: auto;
            margin-right: 0;
            font-size: 24px;
            background: white;
            border-radius: 50%;
            padding-bottom: 2px;
            padding-right: 0.2px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
            display: none;
        }
        &:hover:not(.active):not([disabled]) {
            color: $brand-light;
            img {
                transform: scale(1.1);
            }
        }
        &[disabled] {
            color: $grey-light;
            pointer-events: none;
            font-weight: 400;
            img {
                filter: grayscale(100%);
            }
        }
        &.active {
            color: $brand-light;
            background: lighten($brand-light, 30%);
            border-radius: 5px;
            .check {
                display: inline-block;
                animation: slide-up 0.3s ease-in-out;
            }
        }
    }
}

.tab-buttons {
    margin-left: auto;
}
.template-col {
    padding: 0;
}
.template-container {
    text-align: center;
    padding: 12px;
    cursor: pointer;
    height: 100%;
    .image-wrapper {
        border-radius: 3px;
        overflow: hidden;
        border: 1px solid;
        border-color: $grey-light;
        img {            
            object-fit: cover;
        }
        .check {
            position: absolute;
            color: $brand-success;
            top: 8px;
            right: 8px;
            font-size: 28px;
            background: white;
            border-radius: 50%;
            padding-bottom: 2px;
            padding-right: 0.2px;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
            display: none;
        }
    }
    .template-name {
        color: $grey-dark;
        font-weight: 500;
        font-size: 16px;
        margin-top: 12px;
        line-height: 22px;
    }
    .template-desc {
        color: $grey;
        font-weight: 300;
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 8px;
        margin-top: 4px;
    }
    &.blank {
        .image-wrapper {
            border: 2px dashed;
            border-color: $grey-mild;
            .plus {
                position: absolute;
                font-size: 32px;
                color: $grey-mild;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &:hover {
        .image-wrapper {
            border-color: $brand-light;
        }
        .template-name {                    
            color: $brand-light;
        }
        .template-desc {
            color: $grey-dark;
        }                
        .image-wrapper {
            background: lighten($brand-light, 30%);
        }
        .plus {
            color: $brand-light !important;
        }
    }
    &.active {
        .image-wrapper {
            border-color: $brand-light; 
            .check {
                display: inline-block;
                animation: slide-up 0.3s ease-in-out;
            }
            .plus {
                color: $brand-light;
            }
        }
        .template-name {                    
            color: $brand-light;
        }          
        .image-wrapper {
            background: lighten($brand-light, 30%);
        }
        .template-desc {
            color: $grey-dark;
        }
    }
}

.no-item {
    width: 100% !important;
    flex-basis: 100% !important;
    max-width: 100% !important;
    .not-found {
        color: $grey-mild;
        text-align: center;
        font-style: italic;
        font-size: 14px;
        min-height: 200px;
    }
}

.numbering {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 14px;
    color: white;
    background: $brand-light;
    margin-right: 8px;
    @include flex-center;
    display:inline-flex;
}

@media not all and (min-width: 992px) {
    .add-container {
        width: 100%;
        height: auto;
    }
    .add-info {
        min-width: 200px !important;
        height: auto !important;
        width: 100% !important;
        max-width: none !important;
        .fanpages-wrapper {
            height: auto;
        }
    }
    .add-template {
        width: 100% !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
        .add-header {
            flex-direction: column;
            padding-left: 0 !important;
        }
        .tab-buttons {
            margin-left: initial;
            padding: 8px 10px;
            font-size: 12px;
            margin-top: 8px;
        }
        &.expanded {
            border-top: 1px solid $grey-lighter;
        }
    }
    .expand-collapse {
        max-width: initial !important;
        transform-origin: center top !important;
        transition: all 0.3s ease-in-out, opacity 0.5s ease-in-out !important; 
    }
    .expanded {
        opacity: 1;
        transform: scaleY(1) !important;
        max-height: 10000px !important;
    }
    .collapsed {
        opacity: 0;
        transform: scaleY(0) !important;
        max-height: 0 !important;
    }
    .add-content {
        flex-direction: column;
        min-height: calc(100vh - 150px);
    }
    .btn-create {
        height: 50px !important;
    }
    .category-section {
        display: none !important;
    }
}