<div class="d-flex justify-content-center">
  <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
  <mat-card class="add-container" *ngIf="loadDone">
    <!-- <div class="add-title">Tạo app mới
      <button mat-button class="btn-create button-remove-overlay d-none d-md-flex" (click)="connectPage()" [disabled]="submitting">
        <mat-spinner [diameter]="20" *ngIf="submitting"></mat-spinner>
      <span *ngIf="!submitting"><i class="fas fa-plus"></i>Tạo app</span></button>
    </div> -->
    <div class="add-content">
      <form class="add-info" [hidden]="!loadDone">
        <!-- <div class="add-header"><div class="numbering">1</div> Đặt tên app</div>
        <div class="form-input-wrapper">
          <input class="form-input" placeholder="Nhập tên" [(ngModel)]="appName" name="name" [disabled]="submitting" required #appNameInput>
          <span class="form-error" *ngIf="!appName && appChecked">Bắt buộc</span>
        </div>
        <hr> -->
        <div class="add-header">
          <div>
            <div class="numbering">1</div> Chọn trang kết nối
          </div>
          <button class="btn btn-refresh" matTooltip="Kết nối lại quyền fanpage"
          (click)="reconnectFanpage()"><i class="fas fa-sync-alt"></i>Refresh</button>
        </div>
        <div class="fanpages-wrapper">
          <button class="fanpage" *ngFor="let fanpage of fanpages, let i = index" 
          (click)="selectFanpage(fanpage)" [style.pointer-events]="submitting?'none':''"
          [disabled]="fanpage.is_webhooks_subscribed" [class.active]="selectedFanpage == fanpage">
            <div class="fanpage-image-wrapper">
              <img src="{{fanpage.picture.data.url}}">
            </div>          
            <div class="fanpage-title">{{fanpage.name_with_location_descriptor}}</div>
            <i class="fas fa-check-circle check"></i>
          </button>
        </div>
      </form>
      <div class="add-template expand-collapse" [ngClass]="currentStep>=2?'expanded':'collapsed'" [hidden]="!loadDone">
        <div class="add-header"><div><span class="numbering">2</span> Chọn mẫu chatbot</div>
          <!-- <span class="spreadsheet-email" *ngIf="email && selectedTemplate && selectedTemplate.option 
          && selectedTemplate.option.isUsedSpreadsheetPlugin">Email Spreadsheet: {{this.email}}</span> -->
          <div class="tab-buttons">
            <button class="btn btn-tab" *ngFor="let type of types; let i = index" [class.active]="currentTypeIndex == i"
            (click)="currentTypeIndex = i; toStep(2)">{{type.display}}</button>
          </div>
        </div>
        <mat-tab-group [selectedIndex]="currentTypeIndex" [style.pointer-events]="submitting?'none':''" (selectedIndexChange)="toStep(2)">
            <mat-tab *ngFor="let type of types" label="{{type.display}}">
  
              <div class="row m-0 pl-2 pr-1">
                <div class="col-6 col-sm-4 col-md-3 template-col" *ngIf="type.code == 'public'">
                  <div class="template-container blank" [class.active]="templateSelected && selectedTemplate == null" 
                  (click)="selectTemplate(null)">
                    <div class="image-wrapper">
                      <i class="fas fa-file plus"></i>
                      <i class="fas fa-check-circle check"></i>
                    </div>
                    <div class="template-info">
                        <div class="template-name">Mẫu trống</div>
                        <div class="template-desc">Tự viết lên câu chuyện cho bạn!</div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 template-col" [class.no-item]="!template"
                *ngFor="let template of templates | templateFilter:type.code:selectedCategories">
                  <div class="not-found" *ngIf="!template && type.code != 'public'">Không có mẫu nào thuộc mục này</div>
                  <div class="template-container" [class.active]="selectedTemplate == template" 
                  (click)="selectTemplate(template)" *ngIf="template">
                    <div class="image-wrapper">
                      <img src="{{template.image}}" onerror="this.src='assets/img/default-template.png'">
                      <i class="fas fa-check-circle check"></i>
                    </div>
                    <div class="template-info">
                      <div class="template-name">{{template.name}}</div>
                      <div class="template-desc">{{template.categoryName?template.categoryName:(template.description?template.description:'Mẫu chatbot')}}</div>
                    </div>
                  </div>
                </div>
              </div>
  
            </mat-tab>        
          </mat-tab-group>
          <div class="category-section">
            Loại mẫu: <div class="category-item" *ngFor="let cat of categories" [class.active]="cat.active" (click)="selectCategory(cat)">{{cat.name}}</div>
          </div>
      </div>
    </div>
  </mat-card>
</div>
<button class="btn-create" id="btn-create" (click)="connectPage()" *ngIf="loadDone && currentStep>=3" [disabled]="!loadDone || submitting">
  <mat-spinner [diameter]="20" *ngIf="submitting"></mat-spinner>
  <span *ngIf="!submitting"><div class="numbering">3</div>
    <ng-container *ngIf="!hasAppPrior">Tạo app</ng-container>
    <ng-container *ngIf="hasAppPrior">Kết nối Trang vào App</ng-container>
  </span>
</button>