@import "~customs.scss";

::ng-deep.form-select {
	min-width: 0;
	width: 100px;
	flex: 0 0 100px;
	font-size: 14px;
	height: 40px;
	color: $grey;
	border-top: 1px solid $grey-light;
	border-bottom: 1px solid $grey-light;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.portal-title {
  color: $brand-primary;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  padding: 12px 16px 4px;
  @include flex-align-center;
  justify-content: space-between;
  .btn-transfer, .btn-refresh {
    color: $grey;
    font-size: 13px;
    background: $grey-white;
    font-weight: 500;
    padding: 8px 28px;
    border-radius: 2px;
    i {
      margin-right: 4px;
    }
    &:hover {
      color: $brand-primary;
    }
  }
  .btn-refresh {
    background: none;
    padding: 8px;
  }
}

.invite-user-wrapper {
  padding: 4px 20px;
  .title {
    color: $grey-dark;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 6px;
  }
}

.invite-user-link, .invite-user-email {
  @include flex-align-center;
  height: 40px;
  .form-select {
    height: 40px;
    flex: 0 0 auto;
    border-left: 1px solid $grey-light;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .form-input-wrapper {
    height: 40px;
    flex: 1 1 auto;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0;
    @include flex-center;
  }
  .btn-invite {
    height: 40px;
    flex: 0 0 auto;
    @include btn-primary-background;
    font-size: 14px;
    padding: 0 16px;
    font-weight: 500;
    position: relative;
  }
}

.btn-invite-customer {
  background: $grey-white;
  border: 1px solid $grey-light;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 500;
  color: $grey-darker;
  &:hover {
    color: $brand-light;
    border-color: $brand-light;
  }
}

.invite-user-email {    
  margin-bottom: 0;
  .form-input {
    border-radius: 0;
  }
  .btn-invite {
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  ::ng-deep.mat-spinner {
    position: absolute;
    svg circle {                 
      stroke: white;
    }
  }
}

.invite-user-link {
  margin-bottom: 12px;
  .form-input-wrapper {
    position: relative;
    ::ng-deep.mat-spinner {
      position: absolute;
      svg circle {      
        stroke: $brand-primary;   
      }
    }
  }
}

.user-list-wrapper {
  .mat-spinner {
    margin: 40px auto;
  }
}
.user {
  @include flex-align-center;
  justify-content: space-between;
  padding: 8px 16px 8px 20px;
  .user-info {
    flex: 1 1 auto;
    @include flex-align-center;
    .image-container {
      width: 40px;
      flex: 0 0 40px;
    }
    .name {
      flex: 1 1 auto;
      font-size: 14px;
      padding: 0 12px;
      line-height: 18px;
      color: $grey-darker;
      .subtext {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: $brand-accent;
        i {
          margin-right: 4px;
          font-size: 11px;
        }
      }
    }
  }
  .user-action {
    flex: 0 0 auto;
    @include flex-align-center;
    .btn-remove {
      color: $grey;
      cursor: pointer;
      &:hover {
        color: $brand-danger;
      }
      &[disabled] {
        pointer-events: none;
      }
    }
  }
}