<div class="portal" style="width:600px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
    <!-- <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar> -->
  </mat-toolbar>
  <div class="portal-content-block user-access-portal" [ngClass]="portalId">

    <ng-container *ngIf="chatbotApi.chatbotAuth.user.rule == 'admin'">

      <div class="portal-title">Thêm người dùng vào app</div>

      <div class="invite-user-wrapper" [class.no-invite]="chatbotApi.chatbotAuth.user.rule == 'read' || chatbotApi.chatbotAuth.user.rule == 'write'">
        <div class="title">Mời bằng đường link</div>
        <div class="invite-user-link">
          <mat-form-field class="form-select" [floatLabel]="'never'">
            <mat-select [(ngModel)]="inviteLinkRole" name="invite-link-select" [disabled]="generatingLink"
            (ngModelChange)="inviteLinkRoleChanged()">
              <mat-option *ngFor="let role of userRoles" [value]="role.code">
                {{role.display}}
              </mat-option> 
            </mat-select>
          </mat-form-field>
          <div class="form-input-wrapper">
            <input class="form-input" [(ngModel)]="inviteLink" id="link-url" readonly name="invite-link" (click)="copyId()">          
            <mat-spinner [diameter]="20" *ngIf="generatingLink"></mat-spinner>
          </div>
        </div>

        <div class="title">Mời qua email</div>
        <form class="invite-user-email mb-2">
          <mat-form-field class="form-select" [floatLabel]="'never'">
            <mat-select [(ngModel)]="inviteEmailRole" name="invite-email-select" [disabled]="sendingEmail">
              <mat-option *ngFor="let role of userRoles" [value]="role.code">
                {{role.display}}
              </mat-option> 
            </mat-select>
          </mat-form-field>
          <div class="form-input-wrapper">
            <input class="form-input" placeholder="Nhập email" [(ngModel)]="inviteEmail" id="link-email" 
            name="invite-email" [readonly]="sendingEmail">
          </div>
          <button class="btn btn-invite" (click)="sendEmail()" [disabled]="sendingEmail">
            <span [style.visibility]="sendingEmail?'hidden':'visible'">Gửi email</span>
            <mat-spinner [diameter]="20" *ngIf="sendingEmail"></mat-spinner>
          </button>
        </form>

        <ng-container *ngIf="chatbotApi.chatbotAuth.systemUser?.rule == 'system_admin'">
          <div class="title">Mời theo khách hàng</div>
          <button class="btn btn-invite-customer" (click)="openInviteCustomerToApp()">Tìm kiếm khách hàng</button>
        </ng-container>
      </div>
      
    </ng-container>

    <div class="portal-title">
      <span>Danh sách người dùng</span>
      <div class="d-flex align-items-center">
        <button class="btn btn-refresh" matTooltip="Refresh" (click)="reload(false)"><i class="fas fa-sync-alt"></i></button>
        <button class="btn btn-transfer ml-2" (click)="transfer()"
        *ngIf="(owner && currentUser && owner.uid == currentUser.uid) || (chatbotApi.chatbotAuth.user.rule == 'admin')">
          <i class="fas fa-handshake"></i>Chuyển quyền sở hữu</button>
      </div>
    </div>

    <div class="user-list-wrapper">
      <mat-spinner [diameter]="25" *ngIf="!loadDone"></mat-spinner>
      <ng-container *ngIf="loadDone">
        <div class="user" *ngFor="let user of users">

          <div class="user-info">
            <div class="image-container">
              <div class="image-wrapper circle">
                <img onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'" src="{{user.photoURL}}">
              </div>
            </div>
            <div class="name">
              <div>{{user.displayName || user.name}}</div>
              <div class="subtext" [hidden]="user.uid != owner.uid"><i class="fas fa-crown"></i>Owner</div>
            </div>
          </div>

          <div class="user-action">
            <div class="tab-buttons">
              <button type="button" class="btn btn-tab" [class.active]="user.rule == role.code" (click)="changePermission(user, user.rule, role.code)"
              [disabled]="currentUser.rule != 'admin' || user.uid == currentUser.uid || user.uid == owner.uid" *ngFor="let role of userRoles">{{role.display}}</button>
            </div>
            <button type="button" [disabled]="currentUser.rule != 'admin' || user.uid == currentUser.uid || user.uid == owner.uid"
            class="btn btn-remove" (click)="remove(user)" [matTooltip]="'Xóa'"><i class="fas fa-times"></i></button>
          </div>

        </div>
      </ng-container>
    </div>
  </div>
</div>