@import "~customs.scss";
@import '../../../../assets/css/flags.min.css';

.portal {
    width: 1096px;
}

.portal-header {
    overflow: visible !important;
    .portal-name {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 10px 16px;
        border-radius: 50px;
        background-color: lighten($brand-light, 25%);
        cursor: pointer;
        span {            
            display: inline-block;
            height: 100%;
            cursor: pointer;
        }
        i {
            width: 32px;
            height: 32px;
            font-size: 16px;
            @include flex-center;
            display: inline-flex;
            cursor: pointer;
        }
    }
}

.dropdown-customer-groups {
    &.show {
        display: flex;
        margin-top:0;
    }
    padding: 12px;
    width: 500px;
    box-sizing: content-box;
    .group-options {
        flex: 0 0 30%;
        width: 30%;
        border-right: 1px solid $grey-lighter;
        padding-right: 12px;
        box-sizing: content-box;
    }
    .group-list {
        flex: 1 0 calc(70% - 24px);
        width: calc(70% - 24px);
        padding-left: 12px;
        box-sizing: content-box;
        max-height: 50vh;
        overflow-y: auto;
        @include custom-scrollbar-grey;
        .btn-group {
            color: $grey-dark;
            border-radius: 3px;
            width: 100%;
            justify-content: flex-start;
            text-align: left;
            &:hover {
                background-color: $grey-white;
                color: $brand-light;
            }
        }
    }
    .menu-button {
        padding: 6px 12px;
        background-color: transparent;
        color: $grey;
        width: 100%;
        display: block;
        justify-content: flex-start;
        text-align: left;
        i {
            color: $grey;
            margin-right: 12px;
        }
        &:hover {
            background-color: lighten($brand-light, 30%);
            color: $brand-light;
            i {
                color: $brand-light;
            }
            &.delete {
                background-color: lighten($brand-danger, 35%);
                color: $brand-danger;
                i {
                    color: $brand-danger;
                }
            }
        }
    }
}

.portal-content-block {    
    padding: 12px 16px;
}

.customer-menu-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    .customer-menu-left, .customer-menu-right {
        @include flex-align-center;
    }
    .btn-grey-background {
        padding: 0 10px;
        margin-right: 8px;
        height: 40px;
        font-weight: 500;
        color: $grey;
        background-color: $grey-white;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        span {
            align-self: flex-start;
        }
        .title {
            font-size: 13px;
            i {
                font-size: 12px;
                margin-right: 4px;
            }
        }
        .subtitle {
            font-weight: 300;
            font-size: 10px;
            font-style: italic;
            max-width: 200px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &:hover:not([disabled]) {
            color: $brand-light;
        }
        &[disabled] {
            color: $grey-lighter;
            pointer-events: none;
        }
    }
    .customer-menu-left {
        margin-left: 0;
        margin-right: 12px;
    }
    .customer-menu-right {
        .btn-icon {
            margin: 0;
            background: transparent;
            width: 32px;
            height: 100%;
            font-size: 13px;
            color: $grey;
            &:hover:not(:disabled) {
                color: $brand-light;
            }
        }
        input {
            font-size: 14px;
            width: 180px;
            height: 100%;
        }
    }
    .form-input-wrapper {
        padding: 0;
    }
}

.other-filter-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
    .col {
        padding: 0 6px;
        flex-grow: 0;
    }
    .other-filter-block {
        border: 1px solid $grey-light;
        border-radius: 50px;
        height: 40px;
        padding: 0 16px;
        margin-bottom: 12px;
        padding-bottom: 3px;
        @include flex-center;
        cursor: pointer;
        span {
            position: relative;
            pointer-events: none;
            font-size: 14px;
            margin-right: 8px;
            white-space: nowrap;
            color: $grey-dark;
            &:first-child {
                margin-left: 8px;
            }
        }
        .type::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            border-top: 1.2px solid $brand-light;
        }
        .btn {
            font-size: 12px;
            display: inline-block;
            padding: 4px;
            color: $grey;
            transition: none;
            @include flex-center;
            .mat-icon {
                width: auto;
                height: auto;
                font-size: 16px;
            }
        }
        .icon-delete {
            cursor: pointer;
            color: $grey;
            visibility: hidden;
            position: absolute;
            right: 0;
            top: calc(50% - 6px);
            transform: translateY(-50%);
            font-size: 16px;
            background: white;
            border-radius: 50%;
            &:hover {
                color: $grey-dark;
            }
        }
        &:hover {
            border-color: $brand-light;
            .icon-delete {
                visibility: visible;
            }
            span, .btn {
                color: $brand-light;
            }
        }
    }
}

.save-button {
    &.fade-out {
        animation: none;
    }
    &.green {
        width: 110px !important;
    }
}

#filterDropdown::after {
    display: none;
}

#customers-portal-name::after {
    font-family: 'Font Awesome\ 5 Free';
    content: '\f078';
    font-weight: 900;
    font-size: 15px;
    border: none;
    vertical-align: bottom;
}

.datatable-wrapper {
    position: relative;
    .spinner-wrapper {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        z-index: 100;
    }
}
.avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .table-avatar {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        object-fit: cover;
        &.waiting {
            filter: grayscale(50%)
        }
        &.block {
            filter: grayscale(100%)
        }
    }
    .status-dot {        
        position: absolute;
        bottom: -2px;
        right: -2px;
        border: 2px solid white;
        box-sizing: content-box;
    }
}

.table-name {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.table-phone {
    font-size: 12px;
    font-style: italic;
    color: $grey;
    margin-bottom: -8px;
}

.flag-wrapper {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .table-flag {    
        width: 32px;
        height: 32px;
    }
    img {
        border-radius: 12px;
    }
}

.add-label-button {
    color: $brand-light;
    border: 1px solid $brand-light;
    border-radius: 50%;
}
.no-content {
    color: $grey;
    font-style: italic;
    justify-content: flex-start;
    align-items: flex-start;
}

.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    &.subscribe {
        background: $brand-primary;
    }
    &.waiting {
        background: $amber-400;
    }
    &.block {
        background: $red-400
    }
    &.live_chat {
        background: $green-400
    }
}

.ngx-datatable {
    box-shadow: none;
    border: 1px solid $grey-light;
    border-radius: 3px;
    ::ng-deep.visible {
        ::ng-deep.datatable-header {
            height: 45px !important;
            ::ng-deep.datatable-header-cell {
                padding-left: 8px;
                padding-right: 8px;
                line-height: 16px;
                .resize-handle {
                    display: none;
                }
                &:last-child {                    
                    padding-right: 16px !important;
                }
            }
        }
        ::ng-deep.datatable-body {
            min-height: 532px;
            overflow-x: hidden;
            overflow-y: hidden;
            padding-top: 8px;
            ::ng-deep.datatable-scroll {
                height: 100% !important;
                ::ng-deep.datatable-row-wrapper {
                    animation: emerge 0.2s ease-in-out;
                }
            }
            ::ng-deep.empty-row {                
                text-align: center;
                padding: 48px;
            }
            ::ng-deep.datatable-row-wrapper {
                background-color: white !important;
                cursor: pointer;
            }
            ::ng-deep.datatable-body-row {     
                background-color: white !important;
                ::ng-deep.datatable-row-group {
                    transition: none;
                    background-color: white !important;
                }
                ::ng-deep.datatable-body-cell {
                    @include flex-align-center;
                    white-space: pre-line;
                    padding-left: 8px;
                    padding-right: 8px;
                    line-height: 16px;
                    font-size: 13px;
                    &:last-child {
                        padding-right: 16px !important;
                    }
                    ::ng-deep.datatable-body-cell-label {
                        width: 100%;
                    }
                }
            }
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: $bluegrey-lightest;
                border-radius: 2px;
            }
        }
        ::ng-deep.datatable-footer {
            .page-count {    
                max-width: 180px;
                flex-basis: auto;
                padding-right: 0px;
            }
            .divider {    
                padding-right: 20px;
                border-left: 1px solid $grey-light;
                width: 1px;
                height: 45%;
            }
            .limit {
                select {
                    height: 32px;
                    padding: 0px 28px 0px 8px;
                    margin-left: 8px;
                    text-align: center;
                    color: $grey-darker;
                    border-color: $grey-light;
                    border-radius: 2px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: transparent;
                    background-image: url('assets/img/chevron-down.svg');
                    background-repeat: no-repeat;
                    background-position-x: calc(100% - 8px);
                    background-position-y: 8px;
                    background-size: 12px;
                }
            }
            ::ng-deep.datatable-pager {
                flex-basis: 50%;
            }
        }
    }
    .image-wrapper {
        width: 44px;
        padding-bottom: 44px;
        img {
            border-radius: 2px;
            padding: 4px;
            &.inactive {
                filter: grayscale(100%);
            }
        }
        .stripes {
            position: absolute;
            width: 100%;
            height: 100%;
            background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 10px,
            rgba(0, 0, 0, 0.3) 10px,rgba(0, 0, 0, 0.3) 20px);
        }
    }
    .name {
        &.inactive {
            text-decoration: line-through
        }
    }
    .true-icon {
        font-size: 14px;
        color: $brand-success;
    }
    .false-icon {
        color: $grey-mild;
        font-size: 14px;
    }
    .cell-text {
        @include text-ellipsis(3);
    }
    ::ng-deep.datatable-checkbox {
        input {
            &:before {            
                border: none;
                background: $grey-light;
                width: 18px;
                height: 18px;
                top: -1px;
                transition: all 0.1s ease-in-out;
            }
            &:after {
                opacity: 0;
                top: -1px;
                left: 5px;
                width: 8px;
                height: 14px;
                transition: all 0.1s ease-in-out;
            }
            &:checked {
                &:before {
                    transform: none;
                    height: 18px;
                    background: $amber-300;
                }
                &:after {        
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                    z-index: 20;
                    background: transparent;
                    border-radius: 2px;
                    opacity: 1;
                }
            }
        }
    }
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    .filter {
        flex: 0 0 25%;
        padding: 0 10px;
        .mat-form-field {
            width: 100%;
            font-size: 12px;
        }
    }
    .filter-add-button {
        background: none;
        outline: none;
        box-shadow: none;
        border-radius: 2px;
        border: 1.5px dashed $grey-mild;
        color: $grey;
        font-weight: 500;
        padding: 10px 32px;
        margin-bottom: 16px;
        margin-right: 12px;
        font-size: 13px;
        height: 40px;
        box-sizing: border-box;
        width: calc(33% - 12px);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            margin-right: 8px;
            margin-bottom: 3px;
            align-self: center;
        }
        &:hover {
            color: $brand-light;
            border-color: $brand-light; 
        }
    }
    .search-button {
        border-radius: 2px;
        border: 1.5px solid $grey-mild;
        color: $grey;
        font-weight: 500;
        padding: 0;
        margin-bottom: 16px;
        font-size: 13px;
        height: 40px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        * {
            align-self: center;
            height: 100%;
        }
        .btn-search {            
            background: none;
            outline: none;
            box-shadow: none;
            border: none;
            color: $grey;
            cursor: pointer;
            padding: 0 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: width, max-width 0.3s ease-in-out;
        }
        i {
            margin-right: 8px;
            margin-bottom: 2px;
            align-self: center;
        }
        span {
            display: inline-block;
            text-overflow: clip;
            white-space: nowrap;
            transition: all 0.3s ease-in-out;
        }
        .mat-form-field {
            max-width: 0px;
            width: 0px;
            opacity: 0;
            transition: all 0.1s ease-in-out;
        }
        &.active {
            .btn-search {
                padding: 0 12px;
                border-right: 1px solid $grey-mild;
                span {
                    width: 0;
                    max-width: 0;
                    opacity: 0;
                }
            }
            .mat-form-field {
                width: 180px;
                max-width: 180px;
                opacity: 1;
                display: inline-flex;
                align-items: center;
                margin: 0 8px;
                overflow: hidden;
                box-sizing: content-box
            }
            i {
                margin-right: 0px;
                margin-bottom: 0px;
            }
        }
    }
}

::ng-deep.dropdown {
    ::ng-deep.dropdown-filter {
        padding: 20px 12px;
        width: 700px;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15) !important;
        ::ng-deep.filter-item {
            margin-bottom: 12px;
            position: relative;
            ng-multiselect-dropdown {
                width: 100%;
            }
            &.double-input {
                .form-input {
                    width: 50%;
                    padding-right: 32px;
                    height: 44px;
                    &:first-child {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-right-width: 0.5px;
                    }
                    &:nth-child(2) {
                        border-radius: 0;
                        border-left-width: 0.5px;
                    }
                }
                .form-input-button {
                    position: absolute;
                    font-size: 14px;
                    &.left {
                        right: 50%;
                    }
                    &.right {
                        right: 0;
                    }
                }
            }
            label {
                left: 4px !important;
            }
        }
        .row {
            width: 100%;
            align-items: flex-start;
        }
        .form-buttons {
            display: flex;
            padding: 0 6px;
        }
        .filter-column {
            padding: 0 6px;
        }
        ::ng-deep.btn-filter-clear {
            background: $grey-lighter;
            color: $grey-mild;
            font-size: 14px;
            padding: 10px;
            width: 20%;
            flex: 0 1 auto;
            &:hover {
                background: $grey-light;
                color: $grey;
            }
        }
        ::ng-deep.btn-filter-item {
            background: $brand-primary;
            color: white;
            font-size: 14px;
            padding: 10px;
            width: 80%;
            flex: 1 1 auto;
            margin-left: 8px;
            &:hover {
                background: $brand-dark;
            }
        }
        ::ng-deep.multiselect-dropdown {
            transition: all 0.3s ease-in-out;
            .disabled > span {
                background-color: transparent !important;
                opacity: 0.5;
                pointer-events: none;
            }
        }
        ::ng-deep.dropdown-list {
            padding-top: 0px;
            margin-top: 0px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1) !important;
            animation: slide-down 0.15s ease-in-out;
        }
        ::ng-deep.dropdown-btn {
            border-color: $grey-light !important;
            border-radius: 2px !important;
            min-height: 40px !important;
            padding: 6px !important;
            overflow: hidden !important;
            background-image: url('assets/img/chevron-down.svg') !important;
            background-repeat: no-repeat !important;
            background-position-x: calc(100% - 8px) !important;
            background-position-y: 12px !important;
            background-size: 12px !important;
            display: flex !important;
            align-items: center !important;
            flex-wrap: wrap;
            >*{
                align-self: center !important;
            }
            ::ng-deep.selected-item {
                border: none !important;
                background: $brand-primary !important;
                border-radius: 50px !important;
                margin-top: 8px !important;
                padding: 2px 10px !important;
                font-size: 14px !important;
                box-shadow: none !important;
                a {
                    display: none;
                }
            }
            span.selected-item:first-child {
                margin-top: 6px;
            }
            span:first-child:not(.selected-item) {
                margin-top: 3px;
                margin-bottom: 3px;
                margin-left: 4px;
                color: $grey-light;
            }
            span:last-child {
                position: absolute;
                right: 8px;
                bottom: -8px;
                text-align: right;
                padding: 0 1px;
                background: white;
                font-size: 13px;
                span {
                    color: $brand-primary !important;
                }
            }
        }
        ::ng-deep.item2 {
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: $bluegrey-lightest;
                border-radius: 2px;
            }
        }
        ::ng-deep.dropdown-up, ::ng-deep.dropdown-down  {    
            border: none !important;     
            display: none !important;   
        }
        ::ng-deep.multiselect-item-checkbox {
            position: relative;
            margin-bottom: 0px;
            padding: 8px 12px 8px 32px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.1s ease-in-out;
            input {
                display: none;
            }
            input:checked + div::before {
                animation: none !important;
                background: $brand-primary !important;
            }
            input:checked + div::after {
                visibility: visible;
            } 
            div {           
                font-weight: 500 !important;
                color: $grey-dark !important;
                font-size: 15px !important;
                &::before {
                    animation: none !important;
                    position: absolute;
                    top: 10px;
                    left: 4px;
                    height: 20px !important;
                    width: 20px !important;
                    border: none !important;
                    border-radius: 2px !important;
                    background: $grey-light;
                    transition: none !important;
                }     
                &::after {    
                    top: 7px !important;
                    left: 6px !important;
                    width: 6px !important;
                    height: 12px !important;
                    border-width: 0 3px 3px 0 !important; 
                    transform: rotate(45deg) !important;
                    visibility: hidden;
                    transition: none !important;
                }
            }
        }
        ::ng-deep.price-range {
            @include flex-align-center;
            i {
                color: $grey-mild;
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        &.show {
            animation: slide-down 0.15s ease-in-out;
        }
    }
}
