<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <div ngbDropdown #groupDropdown="ngbDropdown" [autoClose]="'outside'" (mouseleave)="groupDropdown.close()">
        <span id="customers-portal-name" class="portal-name" (click)="filterDropdown.close(); groupDropdown.open()" ngbDropdownToggle
        (mouseenter)="groupDropdown.open()">
          {{portalName}}
        </span>
        <div ngbDropdownMenu aria-labelledby="groupDropdown" class="dropdown-customer-groups">
          <div class="group-options" *ngIf="userRule != 'read'">
            <button class="menu-button" (click)="editName(true); groupDropdown.close()"><i class="far fa-plus-square"></i>Tạo nhóm mới</button>
            <button class="menu-button" (click)="editName(); groupDropdown.close()" *ngIf="!group?.isAll"><i class="far fa-edit"></i>Đổi tên nhóm</button>
            <button class="menu-button delete" (click)="deleteGroup(); groupDropdown.close()" *ngIf="!group?.isAll"><i class="far fa-trash-alt"></i>Xóa nhóm</button>
          </div>
          <div class="group-list">
            <button class="btn btn-group" *ngFor="let item of groups" (click)="group?._id!=item._id?setGroup(item):false; groupDropdown.close()">{{item.name}}</button>
          </div>
        </div>
    </div>
    <span class="header-spacer"></span>
    <button mat-button class="save-button green" [ngClass]="showSave?'fade-in':'fade-out'" *ngIf="userRule != 'read'"
    [disabled]="!showSave || isSaving" (click)="editName(true, true)" [hidden]="!group?.isAll">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-plus-circle"></i>Tạo nhóm</span>
    </button>
    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'"  *ngIf="userRule != 'read'"
    [disabled]="!showSave || isSaving" (click)="updateGroup()" [hidden]="group?.isAll">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved" [hidden]="group.isAll">
    <mat-icon>check</mat-icon>Đã lưu</span>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <section class="customer-menu-section">
      <div class="customer-menu-left">
        <!-- <button class="btn btn-grey-background"><i class="fas fa-filter"></i>Bộ lọc cơ bản</button> -->
        <div ngbDropdown #filterDropdown="ngbDropdown" [autoClose]="false" (openChange)="filterDropdownChanged($event)">
          <button class="btn btn-grey-background" id="filterDropdown" ngbDropdownToggle>
            <span class="title"><i class="fas fa-filter"></i>Lọc cơ bản</span>
            <span *ngIf="filterSubtitle.basic" class="subtitle">{{filterSubtitle.basic}}</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="filterDropdown" class="dropdown-filter">

            <div class="row m-0" *ngIf="tempBasicFilters">
              <div class="filter-column col-6">
                <ng-container *ngFor="let item of tempBasicFilters | keyvalue">
                  <div class="filter-item form-input-wrapper" 
                  *ngIf="item.key=='status'||item.key=='localies'||item.key=='gender'||item.key=='phone'">
                    <ng-multiselect-dropdown [data]="item.value.selections" [placeholder]="'Không chọn'" 
                    [(ngModel)]="item.value.data" [settings]="dropdownSettings"></ng-multiselect-dropdown>
                    <label class="floating">{{item.value.display}}</label>
                  </div>
                </ng-container>
              </div>
              <div class="filter-column col-6">
                <ng-container *ngFor="let item of tempBasicFilters | keyvalue">
                  <div class="filter-item form-input-wrapper" *ngIf="item.key=='tags'||item.key=='referral'">
                    <ng-multiselect-dropdown [data]="item.value.selections" [placeholder]="'Không chọn'" [disabled]="!item.value.selections"
                    [(ngModel)]="item.value.data" [settings]="dropdownSettings"></ng-multiselect-dropdown>
                    <label class="floating">{{item.value.display}}</label>
                  </div>
                </ng-container>
                <div class="filter-item form-input-wrapper double-input">
                  <input class="form-input" placeholder="Bắt đầu" [(ngModel)]="tempBasicFilters.subscribe_date.data.start" [matDatepicker]="subscribeStartDate">
                  <input class="form-input" placeholder="Kết thúc" [(ngModel)]="tempBasicFilters.subscribe_date.data.end" [matDatepicker]="subscribeEndDate">
                  <button class="form-input-button left" (click)="subscribeStartDate.open()"><i class="fas fa-calendar-alt"></i></button>
                  <button class="form-input-button right" (click)="subscribeEndDate.open()"><i class="fas fa-calendar-alt"></i></button>
                  <mat-datepicker #subscribeStartDate></mat-datepicker>
                  <mat-datepicker #subscribeEndDate></mat-datepicker>
                  <label class="floating">{{tempBasicFilters.subscribe_date.display}}</label>
                </div>
                <div class="filter-item form-input-wrapper double-input">
                  <input class="form-input" placeholder="Bắt đầu" [(ngModel)]="tempBasicFilters.last_interaction.data.start" [matDatepicker]="interactionStartDate">
                  <input class="form-input" placeholder="Kết thúc" [(ngModel)]="tempBasicFilters.last_interaction.data.end" [matDatepicker]="interactionEndDate">
                  <button class="form-input-button left" (click)="interactionStartDate.open()"><i class="fas fa-calendar-alt"></i></button>
                  <button class="form-input-button right" (click)="interactionEndDate.open()"><i class="fas fa-calendar-alt"></i></button>
                  <mat-datepicker #interactionStartDate></mat-datepicker>
                  <mat-datepicker #interactionEndDate></mat-datepicker>
                  <label class="floating">{{tempBasicFilters.last_interaction.display}}</label>
                </div>
              </div>
            </div>
            <div class="form-buttons col-12">
              <!-- <button class="btn-action" type="button" (click)="syncLabels()" [disabled]="labelsSynchronizing">
                <i class="fas" [ngClass]="labelsSynchronizing?'fa-circle-notch fa-spin':'fa-tags'"></i>Đồng bộ nhãn</button> -->
              <button class="btn-cancel" type="button" (click)="filterDropdown.close(); paramQueryToFilterData();">Hủy</button>
              <button class="btn-confirm" type="button" (click)="filterDropdown.close(); basicFilterItems()">Lọc khách hàng</button>
            </div>

          </div>
        </div>
        <button class="btn btn-grey-background" (click)="filterDropdown.close(); openJsonDialog()">
          <span class="title"><i class="fas fa-code"></i>Lọc nâng cao</span>
          <span *ngIf="filterSubtitle.advanced" class="subtitle">{{filterSubtitle.advanced}}</span>
        </button>
        <button class="btn btn-grey-background" (click)="filterDropdown.close(); addOtherFilter($event)">
          <span class="title"><i class="fas fa-plus"></i>Lọc thuộc tính</span>
          <span *ngIf="filterSubtitle.other" class="subtitle">{{filterSubtitle.other}}</span>
        </button>
      </div>
      <div class="customer-menu-right">
        <button class="btn btn-icon" [matTooltip]="'Reset bộ lọc nhóm'" (click)="setGroup(group)" 
        [disabled]="!(showSave || isSaving)" [hidden]="group?.isAll"><i class="fas fa-undo-alt"></i></button>
        <button class="btn btn-icon" [matTooltip]="'Refresh'" (click)="refresh()"><i class="fas fa-sync-alt"></i></button>
        <button class="btn btn-icon" (click)="openGroupStatictis()" [matTooltip]="'Mở thống kê'" *ngIf="group">
          <i class="fas fa-chart-line"></i>
        </button>
        <button class="btn btn-icon" [matTooltip]="'Gửi tin'" (click)="send()" *ngIf="userRule != 'read'"><i class="fas fa-paper-plane"></i></button>
        <button class="btn btn-icon" [matTooltip]="'Dán nhãn'" [disabled]="!selected || selected.length == 0" (click)="addLabels()" *ngIf="userRule != 'read'"><i class="fas fa-tags"></i></button>
        <button class="btn btn-icon" [matTooltip]="'Xuất file'" (click)="export()"><i class="fas fa-file-export"></i></button>
        <!-- <button class="btn btn-icon" [matTooltip]="'Danh sách khách hàng được chọn'"><i class="fas fa-users"></i></button> -->
        <div class="form-input-wrapper ml-1">
          <input class="form-input" placeholder="Tìm theo tên hoặc SĐT" [(ngModel)]="searchString" 
          (ngModelChange)="searchString?false:searchChanged()" (blur)="searchChanged()" (keyup.enter)="searchChanged()">
        </div>
      </div>
    </section>

    <section class="other-filter-section row" (keydown.enter)="false">
      <div class="col" *ngFor="let other of otherFilters; let i = index">
        <div class="other-filter-block" (click)="editFilter(i, $event)">
          <span class="key">{{other.key}}</span>
          <span class="type">{{otherFilterTypeObj[other.type]}}</span>
          <span class="value" *ngIf="other.value">{{other.value}}</span>
          <i (click)="deleteFilter(i); $event.stopPropagation()" class="fas fa-times-circle icon-delete" [matTooltip]="'Xóa'"></i>
        </div>
      </div>
    </section>

    <div class="datatable-wrapper">
      <div class="spinner-wrapper" *ngIf="loadingSubscribers"><mat-spinner [diameter]="30"></mat-spinner></div>
      <ngx-datatable
        id="groupDetailsTable"
        #groupDetailsTable
        class="material"
        [rows]="rows"
        columnMode="standard"
        [scrollbarV]="true"
        [headerHeight]="50"
        [footerHeight]="50"
        [externalPaging]="true"      
        [rowHeight]="50"
        [limit]="pagination.limit"
        [count]="pagination.totalItems"
        [offset]="offset"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectAllRowsOnPage]="false"
        (sort)="onSort($event)"
        (page)="setPage($event)"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
        <ngx-datatable-column
          [width]="30"
          [name]="'Checkbox'"
          [sortable]="true"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true"
          (click)="$event.stopPropagation()">
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Avatar'" [prop]="'avatar'" [width]="55" [sortable]="false"
        [headerClass]="'cell-center'" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="avatar-wrapper">
              <img class="table-avatar" src="{{value}}" [ngClass]="row.status" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'">
              <div class="status-dot" [ngClass]="row.status" [matTooltip]="allStatusObj[row.status]" matTooltipPosition="after"></div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Tên khách hàng'" [prop]="'full_name'" [width]="150" [sortable]="true">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="table-name">{{value}}</div>
            <div class="table-phone" *ngIf="row.phone">{{row.phone}}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'G.tính'" [prop]="'gender'" [width]="45" [headerClass]="'cell-center'" 
        [sortable]="true" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column [name]="'SĐT'" [prop]="'phone'" [width]="150">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div *ngIf="value">{{value}}</div>
            <div *ngIf="!value" class="no-content">-</div>
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column [name]="'Quốc gia'" [prop]="'locale'"  [width]="60" [headerClass]="'cell-center'" 
        [sortable]="true" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="flag-wrapper" *ngIf="row.locale">
              <img class="table-flag" src="/assets/img/blank.gif" onerror="this.style.display='none'"
              [ngClass]="row.localeFlag" [hidden]="!value" [matTooltip]="row.localeDisplay"
              matTooltipPosition="after">
            </div>
            <div *ngIf="!row.locale">-</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Tin nhắn cuối'" [prop]="'snippetUpdatedAt'"  [width]="100" 
        [sortable]="true" [headerClass]="'cell-center'" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span [matTooltip]="value | date:'HH:mm dd/MM/yyyy'">{{row.snippetUpdatedAtText}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'KH nhắn tin cuối'" [prop]="'lastInteraction'"  [width]="100" 
        [sortable]="true" [headerClass]="'cell-center'" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span [matTooltip]="value | date:'HH:mm dd/MM/yyyy'">{{row.lastInteractionText}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Đăng kí'" [prop]="'createdAt'"  [width]="100" 
        [sortable]="true" [headerClass]="'cell-center'" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{row.createdAtFromNow}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Tin nhắn'" [prop]="'messageCount'" [sortable]="true" [width]="60" 
        [headerClass]="'cell-center'" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Biểu cảm'" [prop]="'reactionCount'" [sortable]="true" [width]="60"  
        [headerClass]="'cell-center'" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Bình luận'" [prop]="'commentCount'" [sortable]="true" [width]="60" 
        [headerClass]="'cell-center'" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Bài viết BL'" [prop]="'commentPost'" [sortable]="true" [width]="65" 
        [headerClass]="'cell-center'" [cellClass]="'cell-center'">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'Trường mở rộng'" [prop]="'otherInfoText'" [sortable]="false" [width]="180">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="cell-text" style="-webkit-box-orient: vertical" [matTooltip]="value!='-'?value:''">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column [name]="'Nhãn'" [prop]="'labelText'" [sortable]="false" [width]="140">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="cell-text" [matTooltip]="value!='-'?value:''">{{value}}</span>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-footer>
          <ng-template 
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible">
              <div class="page-count">
                <span>
                  {{selectedCount}} đã chọn / 
                </span>
                <span>{{rowCount}} tổng khách hàng</span>
              </div>
              <span class="divider"></span>
              <div class="limit">
                  <span>Số lượng</span>
                  <select [(ngModel)]="pagination.limit" (ngModelChange)="limitChanged()" [disabled]="loadingSubscribers">
                    <option *ngFor="let option of limitOptions" [value]="option">{{option}}</option>
                  </select>
              </div>
              <datatable-pager
                  [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'"
                  [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'"
                  [page]="curPage"
                  [size]="pageSize"
                  [count]="rowCount"
                  (change)="datatable.onFooterPage($event)">
              </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>
</div>
