<div class="text-input-wrapper mt-3">
  <div class="text-title">Tin nhắn</div>
  <textarea class="text-input" hlTextArea cdkTextareaAutosize #autoSize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
  [disabled]="disabled" name="message" [(ngModel)]="evoucher.option.message" (ngModelChange)="dataChanged()"></textarea>
</div>