@import '~customs.scss';

.story-selection-wrapper {
  min-height: 40px;
  height: auto;
  position: relative;
  .title {
    color: $grey;
    position: absolute;
    background: white;
    pointer-events: none;
    font-size: 14px;
    font-weight: 400;
    left: 8px;
    top: 10px;
    padding: 0 4px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &.active {
      left: 8px;
      top: -8px;
      font-size: 12px;
    }
  }
  .story-selection {
    min-height: 40px;
    height: 100%;
    outline: none !important;
    border: 1px solid $grey-light;
    background: transparent;
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 15px;
    width: 100%;
    color: $grey-darker;
    font-weight: 400;
    background: white;
    cursor: pointer;
    .story {
      display: flex;
      align-items: center;
      color: $grey-dark;
      font-size: 14px;
      padding-top: 4px;
      span {
        margin-left: 8px;
      }
      i {
        align-self: center;
        color: $grey;
      }
      i.hover {
        display: none;
      }
      .delete {
        display: none;
        &:hover {
          color: $grey-dark;
        }
      }
    }
  }
  &:hover, &.active {
    .title {
      color: $brand-light;
    }
    .story-selection {
      border-color: $brand-light;
      .story {
        color: $brand-light;
        i.hover {
          color: $brand-light;
          display: inline;
        }
        i:not(.hover) {
          display: none;
        }
        .delete {
          display: inline !important;
        }
      }
    }
  }
}

.form-error {    
  bottom: -6px;
}