<div class="story-selection-wrapper" #selectionWrapper [class.active]="isNextOpened">
  <div class="title" [class.active]="selected && selected.length">{{title}}</div>
  <div class="story-selection" (click)="select()">
    <div class="story" *ngFor="let item of selected; index as i">
      <i class="fas fa-file-alt hover"></i>
      <i class="far fa-file-alt"></i>
      <span>{{item.name}}</span>
      <i class="fas fa-times delete ml-auto" *ngIf="removable" (click)="removeItem(i); $event.stopPropagation();"></i>
    </div>
  </div>
  <span class="form-error" *ngIf="error">{{error}}</span>
</div>