
<div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
<form class="user-section-toolbar" *ngIf="loadDone">
  <div class="toolbar-buttons">
    <span class="total">Hiển thị {{customers.length}}/{{total}}</span>
    <button class="btn" (click)="reload(false)" [matTooltip]="'Refresh'"><i class="fas fa-sync-alt" [class.fa-spin]="loading"></i></button>
    <mat-select class="order-select" name="orderBy" [(ngModel)]="orderBy" (ngModelChange)="reload()">
      <mat-option *ngFor="let order of orderByList" [value]="order.code">Sắp xếp theo {{order.display}}</mat-option>
    </mat-select>
    <div class="d-flex position-relative mr-2">
      <div class="date">
        <input class="form-input pr-3" [value]="fromDate$ | async" [matDatepicker]="fromPicker" 
        (click)="fromPicker.open()" placeholder="Đăng ký từ ngày" (dateChange)="fromDate$.next($event.value)">
        <mat-datepicker #fromPicker></mat-datepicker>
        <i class="fas fa-times" *ngIf="fromDate$ | async" (click)="fromDate$.next(null)"></i>
      </div>
      <div class="date">
        <input class="form-input pr-3" [value]="toDate$ | async" [matDatepicker]="toPicker" 
        (click)="toPicker.open()" placeholder="Đăng ký đến ngày" (dateChange)="toDate$.next($event.value)">
        <mat-datepicker #toPicker></mat-datepicker>
        <i class="fas fa-times" *ngIf="toDate$ | async" (click)="toDate$.next(null)"></i>
      </div>
    </div>    
    <div class="form-input-wrapper search">
      <input class="form-input" name="search" (keydown.enter)="reload()" (blur)="reload()" 
      (change)="!searchText?reload():false" placeholder="Tìm kiếm" [(ngModel)]="searchText">
    </div>
  </div>
</form>
<div class="table-container" *ngIf="loadDone">
  <table mat-table [dataSource]="customers" multiTemplateDataRows>
  
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> STT. </th>
      <td mat-cell *matCellDef="let index = dataIndex"> {{index + 1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Tên </th>
      <td mat-cell *matCellDef="let el"> {{el.fullName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Ngày đăng ký </th>
      <td mat-cell *matCellDef="let el"> {{el.createdAt | date: 'dd-MM-yyyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let el"> {{el.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="qtyApp">
      <th mat-header-cell *matHeaderCellDef> Số App </th>
      <td mat-cell *matCellDef="let el"> {{el.qtyApp}} </td>
    </ng-container>
  
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> SĐT </th>
      <td mat-cell *matCellDef="let el"> {{el.phone}} </td>
    </ng-container>
    
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
      <td mat-cell *matCellDef="let el">
        <i class="fas fa-toggle-off off" [matTooltip]="'Bật quyền agency'"
        *ngIf="el.status=='deactive'" (click)="setStatus('active', el)"></i>
        <i class="fas fa-toggle-on on" [matTooltip]="'Hủy quyền agency'" 
        *ngIf="el.status=='active'" (click)="setStatus('deactive', el)"></i>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let el">
        <button class="btn btn-details" (click)="setExpandedElement(el)">
          <i class="fas fa-th-list"></i><span class="text">Danh sách app</span></button>
      </td>
    </ng-container>
    
    
    
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let el" [attr.colspan]="displayedColumns.length">
        <div class="detail-row-wrapper" [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">
            <div class="spinner-wrapper" *ngIf="loadingApps"><mat-spinner [diameter]="20"></mat-spinner></div>
            <ng-container *ngIf="!loadingApps && apps">
              <span class="not-found" *ngIf="!apps.length">Không có app</span>
              
              <table class="app-table" *ngIf="apps.length">
                <thead>
                  <tr>
                    <th class="text-center">STT</th>
                    <th>App</th>
                    <th class="text-center">Số người dùng</th>
                    <th class="text-center">Ngày hết hạn</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let app of apps; index as i">
                    <td class="text-center">{{i + 1}}</td>
                    <td>
                      <div class="app-info">
                        <div class="avatar">
                          <div class="image-wrapper circle"><img src="{{app?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"></div>
                        </div>
                        <div><div class="name">{{app?.name}}</div><div class="sub-name">{{app?.activePage?.name}}</div></div>
                      </div>
                    </td>
                    <td class="text-center">{{app.totalOfSubscribers}}</td>
                    <td class="text-center">
                      <span class="label" [ngClass]="app?.expiredClass" [matTooltip]="'Ngày hết hạn: ' + app.expiredDate">{{app?.expiredDuration}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              
            </ng-container>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded]="row == expandedElement"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>
  <button class="btn btn-load-more" *ngIf="!searchText && customers.length && customers.length < total" 
  (click)="loadMore()" [disabled]="loadingMore">
    <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="20"></mat-spinner></div>
    <span class="text" [style.opacity]="loadingMore?'0':'1'">Tải thêm...</span>
  </button>
</div>
