@import '~customs.scss';

.btn-add {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;    
}

.invite-link {
  input {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;   
    transform-origin: left center;
    transition: all 0.3s ease-in-out;
    &:not([readonly]) {
      max-width: 0;
      width: 0;
      opacity: 0;
      transform: scaleX(0);
    }
    &[readonly] {
      max-width: 250px;
      width: 250px;
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

i.on {
  cursor: pointer;
  font-size: 20px;
  color: $green-400;
}

i.off {
  cursor: pointer;
  font-size: 20px;
  color: $grey-mild;
}

.code {
  display: inline-block;
  padding: 6px 10px;
  background: $grey-lightest;
  border-radius: 6px;
  color: $grey-dark;
  margin-bottom: 8px;
  margin-right: 8px;
}

.app-info {
  @include flex-center;
  display: inline-flex;
  margin: 8px 12px;
}
.avatar {   
  width: 28px;
  flex: 0 0 28px;
  margin-right: 8px;
}
.name {
  color: $grey-dark;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.sub-name {
  color: $grey-dark;
  font-weight: 400;
  text-align: left;
  font-size: 13px;
  line-height: 15px;
}

::ng-deep.order-select {
  width: 260px !important;
  margin: 0 6px;
  height: 40px;
  padding: 0 8px;
  background: white;
  border-radius: 2px;
  border: 1px solid $grey-light;
  ::ng-deep.mat-select-trigger {
    height: 100%;
  }
  ::ng-deep.mat-select-value {
    vertical-align: middle;
    color: $grey-dark;
  }
  ::ng-deep.mat-select-arrow {
    color: $grey;
    margin: 0 4px 0 2px;
  }
}

.total { 
  white-space: pre;
}
.mat-datepicker-toggle {
  position: absolute;
  left: 0;
}
.date {
  position: relative;
  .form-input {
    width: 150px;
  }
  i {
    position: absolute;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    color: $grey;
    cursor: pointer;
    @include flex-center;
    &:hover {
      color: $grey-dark;
    }
  }
}

.not-found {
  text-align: center;
  width: 100%;
}

.app-table {
  border: 0.5px solid $grey-light;
  width: 100%;
  margin: 0 20px;
  th, td {
    padding: 6px;
    border: 0.5px solid $grey-light;
  }
}