<div class="code-dialog-wrapper">
  <h2 class="dialog-sidetitle">Tạo code mới</h2>
  <p class="dialog-subtitle">Code dài 6-32 kí tự bao gồm chữ và số, không có khoảng cách hay kí tự đặc biệt. Code không được phép trùng. Ví dụ: BANANHUYSALE20</p>
  <form class="dialog-content">
    <div class="form-input-wrapper">
      <input class="form-input" id="code-input" [(ngModel)]="code" (ngModelChange)="inputChanged()" name="code" 
      required [readonly]="creating || success">
      <label class="input-title floating">Code</label>
      <span class="form-error" *ngIf="codeError">{{codeError}}</span>
    </div>
    <mat-form-field class="form-select" [floatLabel]="'never'">
      <mat-select [(ngModel)]="saleoff" name="saleoff" [disabled]="creating || success">
          <mat-option *ngFor="let item of saleOffArray" [value]="item">
            Giảm giá {{item}}%
          </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="bottom-button" [style.pointer-events]="creating?'none':''">
      <button class="btn btn-create" [class.active]="creating" (click)="createCode()" [hidden]="success" 
      [disabled]="codeError">
          <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
          <span class="text"><i class="far fa-keyboard"></i>Tạo code mới</span>
      </button>
      <div class="success" *ngIf="success"><i class="fas fa-check"></i>Tạo code {{code}} thành công!</div>
  </div>
</div>