@import '~customs.scss';

.mat-dialog-container {
  padding: 24px;
}

.code-dialog-wrapper {
  padding: 0 8px;
}

.dialog-sidetitle {    
  text-align: left;
  margin: 4px;
  font-size: 16px;
  font-weight: 500;
  font-size: 14px;
  color: $grey-dark;
}

.dialog-subtitle {
  text-align: left;
  margin: 0 4px 8px;
  font-size: 13px;
  font-weight: 400;
  font-size: 12px;
  color: $grey-mild;
}

.dialog-content {
  display: flex;
  padding: 8px 0;
  position: relative;
  margin-bottom: 12px;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid $grey-lightest;
  }
}

.form-input-wrapper {
  flex: 1 1 200px;
}

.form-select {
	min-width: 0;
	width: 150px;
	font-size: 14px;
	height: 40px;
	color: $grey;
	border-top: 1px solid $grey-light;
	border-bottom: 1px solid $grey-light;
  flex: 0 0 150px;
  border-right: 1px solid $grey-light;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.bottom-button {
    display: flex;
    .success {
        white-space: pre;
        word-break: keep-all;
        margin-left: auto;
        width: auto;
        padding: 10px 8px;
        color: $green-400;
        font-weight: 500;
        font-size: 15px;
        text-align: right;        
        @include flex-align-center;
        justify-content: flex-end;
        animation: slide-up-slightly 0.3s ease-in-out;
        i {
            margin-right: 8px;
        }
    }
    .btn-create {
        margin-left: auto;
        width: auto;
        padding: 10px 28px;
        min-width: 150px;
        transition: width 0.3s ease-in-out;
        @include flex-center;
        background-color: $brand-light;
        color: white;
        font-weight: 500;
        font-size: 15px;
        i {
            margin-right: 8px;
        }
        &:disabled {
            pointer-events: none;
            opacity: 0.6;
        }
        &:hover {
            background-color: $brand-primary;
        }
        .spinner-wrapper {
            display: none;
            position: relative;
            height: 100%;
            ::ng-deep.mat-spinner svg circle {
                stroke: white;
            }
        }
        &.active {
            pointer-events: none;
            background-color: $brand-primary;
            .spinner-wrapper {
                display: inherit;
            }
            .text {
                display: none;
            }
        }
    }
}

