// @import "../../../shared/cards/card-container/card-container.component.scss"
@import "~customs.scss";

.btn-action {
    @include btn-primary-background;
    width: 100%;
    margin-bottom: 3px;
}
.basic-form{
  padding: 10px 0;
  h2{
    font-size: 15px;
    color: $grey-darker;
    margin-top: 12px;
    margin-bottom: 14px;
  }
  .info-row{
    padding: 4px 0;
    .display{
      align-items: center;
      display: flex;
      justify-content: flex-end;
      color: $grey-darker;
      padding-right: 24px;
    }
    .value{
      padding-left: 0;
      input{
        width: 220px;
        border: 1px solid #d8d8d8;
        border-radius: 4px;
        height: 32px;
        padding: 8px 0px!important;
        padding-left: 10px!important;
      }
      .hwt-content{
        padding: 8px 0px!important;
        padding-left: 12px!important;
      }
    }
  }
}
.spinner-box{
  width: 50%;
  height: 40px;
  mat-spinner{
    margin-left:36px;
  }
}
.flex-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .text-input-field{
    width: 50%!important;
  }
  .select-user{
    margin-top: 12px;
  }
}