<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
  <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)"
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()">
  </app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-save'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled"
      (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition"
          [hidden]="!configOpened" [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)"
          (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)"></app-card-advanced>
        <!-- <mat-tab-group>
        <mat-tab label="Thông tin chung">
          
        </mat-tab>
        <mat-tab label="Địa chỉ">
          
        </mat-tab>
      </mat-tab-group> -->

        <div class="flex-box">
          <mat-form-field *ngIf="type == 'add' && users.length > 0" class="text-input-field">
            <input hlTextArea type="text" [(ngModel)]="card.option.key" name="key" matInput maxlength="30"
              placeholder="Tên thuộc tính">
            <mat-hint align="end">{{card.option?.key?.length}} / 30</mat-hint>
          </mat-form-field>
          <mat-form-field *ngIf="type == 'update' && users.length > 0" class="text-input-field">
            <input hlTextArea type="text" [(ngModel)]="card.option.contactId" name="contactId" matInput maxlength="30"
              placeholder="Contact ID" required>
            <mat-hint align="end">{{card.option?.contactId?.length}} / 30</mat-hint>
          </mat-form-field>
          <div class="spinner-box" *ngIf="!loadDone">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>
          <mat-form-field class="select-user" *ngIf="loadDone">
            <mat-select #user="ngModel" name="infusion" [(ngModel)]="card.option.infusionId" placeholder="Người dùng">
              <mat-option value="" *ngIf="!users || users.length == 0">Không có</mat-option>
              <mat-option *ngFor="let user of users" value="{{user._id}}">{{user?.metadata?.name || "Không rõ"}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <mat-error *ngIf="!users || users.length == 0">
          Thẻ này chưa kết nối với Infusion. <a href="javascrpt:;" (click)="connectInfusion()">Bấm
            vào
            đây</a> để kết nối ngay
        </mat-error>
        <div class="basic-form" [hidden] = "!users || users.length == 0">
          <h2><span> Thông tin Contact</span></h2>
          <div class="row info-row" *ngFor="let info of data">
            <div class="col-4 display">
              {{info.display}}
            </div>
            <div class="col-8 value">
              <input hlTextArea type="text" [(ngModel)]="info.value" name="{{info.code}}" [required]="info.required">
            </div>
          </div>

        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>