<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span class="portal-name">{{portalName}}</span>
    <span class="header-spacer"></span>
    <span class="toolbar-button-wrapper" *ngIf="subscriber">
        <!-- <button class="button-remove-overlay tag-group" mat-button (click)="openSubscriber()">
            <i class="fas fa-tags"></i>Gắn nhãn
        </button> -->
        <!-- <span (click)="addLabel()"><i class="fas fa-tags"></i>Gắn nhãn</span>
        <span (click)="openSubscriber()"><i class="fas fa-user"></i>Người dùng</span>
        <span (click)="sendStory()"><i class="fas fa-book"></i>Gửi câu chuyện</span>   -->
        <!-- <span><i class="fab fa-facebook-f" (click)="openProfile()" matTooltip="Mở trang cá nhân"></i></span> -->
    </span>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="chat">
      <div #messagesContainer class="messages initing">
          <app-chatbox-message *ngFor="let message of threadMessages" [type]="'thread'" [message]="message" [sender]="threadInfo.senders.data[1]"></app-chatbox-message>
          <app-chatbox-message *ngFor="let message of sentMessages" [type]="'sent'" [message]="message" [sender]="threadInfo.senders.data[1]"></app-chatbox-message>
          <app-chatbox-message *ngFor="let message of tempMessages | async" [type]="'temp'" [message]="message" [sender]="threadInfo.senders.data[1]"></app-chatbox-message>
      </div>
      <div class="text-input" *ngIf="threadInfo">
        <textarea #messageInputRef class="input-area" rows="3" [(ngModel)]="messageInput" type="text" placeholder="Tin nhắn"
        (keydown)="onKeyDownTextMessage($event)"></textarea>
        <div class="bottom-bar">
          <emoji-mart *ngIf="displayEmoji != undefined" [ngClass]="displayEmoji?'visible':''" (click)="$event.stopPropagation()" color="#64B5F6" set="messenger" emoji="point_up"
          showPreview=false emojiTooltip=false sheetSize=32 (emojiClick)="emojiClicked($event)"></emoji-mart>

          <button class="btn btn-bottom emoji-button" (click)="displayEmoji = true"><i class="far fa-smile"></i></button>
          <button class="btn btn-bottom" [matTooltip]="'Gắn nhãn'" (click)="addLabel()"><i class="fas fa-tag"></i></button>
          <a class="btn btn-bottom" [matTooltip]="'Mở hộp thư'" target="_blank"
          href="{{'https://facebook.com' + threadInfo.link}}"><i class="fas fa-inbox"></i></a>
          <button class="btn btn-bottom" [matTooltip]="'Người dùng'" (click)="openSubscriber()"><i class="fas fa-user"></i></button>
          <button class="btn btn-bottom" [matTooltip]="'Gửi câu chuyện'" (click)="sendStory()"><i class="fas fa-book"></i></button>
        
          <button class="send-button" (click)="pushToWaitingStack()" [disabled]="messageInput.trim().length === 0" >
            <i class="far fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="portal-footer">
    <input #messageInputRef [(ngModel)]="messageInput" type="text" placeholder="Tin nhắn" (keyup)="onKeyUpTextMessage($event)" [disabled]="showSendingSpinner">
    <button (click)="sendTextMessage()" color="primary" mat-raised-button [disabled]="messageInput.trim().length === 0" >
      <i *ngIf="!showSendingSpinner" class="fas fa-paper-plane"></i>
      <i *ngIf="showSendingSpinner" class="fas fa-spinner fa-spin"></i>
    </button>
  </div> -->
</div>
