@import '~customs.scss';
.portal {
  width: 600px !important
}
.toolbar-button-wrapper {
  margin-left: auto;
  padding: 2px 12px;
  span {
    margin: 0px 4px;
    padding: 0px 4px;
    font-size: 14px;
    cursor: pointer;
    color: $brand-light;
    i {
      margin-right: 6px;
      vertical-align: middle;
      margin-bottom: 5px;
      transition: color 0.3s ease-in-out;
    }
    &:hover {
      color:$brand-primary;
    }
  }
}
.portal-content-block {
  overflow-y: hidden !important;
  .chat {
    margin:0;
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    * {
      transition:all .5s;
      box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
    }
    .chat-spinner.spinner {
      -moz-animation: loading-bar 1s 1;
      -webkit-animation: loading-bar 1s 1;
      animation: loading-bar 1s 1;
      display: block;
      height: 2px;
      background-color: $brand-light;
      transition: width 0.2s;
      position:absolute;
      top:0; left:0; right:0;
      z-index:4
    }
    .text-input {
      width: 100%;
      //height: 14%;
      flex: 2 1 auto;
      .input-area {
        width: 100%;
        height: 80px;
        border: none;
        resize: none;
        font-family: inherit;    
        padding: 12px;
        font-size: 15px;
        border-top: 1px solid $grey-light;
        color: $grey-dark;
        @include custom-scrollbar-grey;          
      }
      .bottom-bar {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 8px;
        emoji-mart {
          position: absolute;
          left: 20px;
          bottom: 48px;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.3s ease-in-out;
          z-index: 1000;
          &.visible {
            pointer-events: all;
            opacity: 1;
          }
          ::ng-deep.emoji-mart-emoji::before {
            background: lighten($brand-light, 25%);
          }
          ::ng-deep.emoji-mart-bar:last-child {
              display: none;
          }
          ::ng-deep.emoji-mart-scroll {
              padding: 6px;
              margin: 4px;
              &::-webkit-scrollbar {
                  width: 4px;
                  height:1px;
                  transition:all .5s;
                  z-index:10;
                  visibility: none;
              }
              &::-webkit-scrollbar-track {
                  background-color: white;
              }
              &::-webkit-scrollbar-thumb {
                  background-color: lighten($brand-light, 10%); 
                  border-radius:3px;
              }
              &::-webkit-scrollbar-thumb:hover, &::-webkit-scrollbar-thumb:active {
                  background-color: $brand-light; 
              }
          }
        }
        .btn-bottom {
          color: $grey;
          background: none;
          border: none;
          margin-left: 8px;
          height: 24px;
          cursor: pointer;
          &:hover {
            color: $grey-darker;
          }
          &:focus {
            outline: none;
            border: none;
          }
        }
        .send-story-button {
          margin-left: auto;
          border: none;
          margin-right: 20px;
          font-size: 14px;
          color: $grey-mild;
          background: none;
          padding: 0px;
          cursor: pointer;
          transition: none;
          &:hover {
            color: $brand-light;
          }
        }
        .send-button {
          border: none;
          margin-right: 14px;
          font-size: 14px;
          color: white;
          margin-left: auto;
          background: $brand-light;
          padding: 6px 28px;
          border-radius: 18px;
          cursor: pointer;
          overflow: hidden;
          &:hover {
            background: $brand-primary;
          }
          &[disabled] {
            background: lighten($brand-light, 15%);
          }
        }
      }
    }
    .messages {
      display:block;
      overflow-x: hidden;
      overflow-y: scroll;
      position:relative;
      width:100%;
      //height: 86%;
      flex: 1 1 86%;
      padding: 8px;
      &:hover {
        ::-webkit-scrollbar {
          visibility: visible;
        }
      }
      &:not(:hover) {
        ::-webkit-scrollbar {
          visibility: none;
        }
      }
      &.initing {
        opacity: 0;
      }
      @include custom-scrollbar-grey;
    }
  }
}
.portal-footer {
  height: 120px;
    input{
        font: 400 13px 'Open Sans', sans-serif;
        border:0;
        padding:0 15px;
        outline:0;
    }
    
    input[type='text']{
        width:73%;
        float:left;
    }
    
    button {
        font-weight: 700;
    }
}
.mat-divider {
  border-color: $grey-dark;
}