@import '~customs.scss';

.btn-add {
  -webkit-appearance: none;
}
.app, .owner {
  @include flex-align-center;
  .avatar {
    width: 28px;
    flex: 0 0 28px;
    margin-right: 8px;
  }
  .name {
    color: $grey-darker;
    font-size: 14px;
    line-height: 17px;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    i {
      margin-left: 2px;
      transform: translateY(-2px);
      font-size: 13px;
      &.admin {
          color: $brand-accent
      }
      &.agency {
          color: $brand-light
      }
    }
  }
  .sub-name {
    color: $grey-dark;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.none {
  color: $grey;
  font-size: 13px;
}

.btn-follow {
  i:not(.follow) {
    display: inline;
  }
  i.follow {
    display: none;
  }
  &.active {
    i:not(.follow) {
      display: none;
    }
    i.follow {
      display: inline;
    }
  }
}

.menu-item {
  font-size: 13px;
  color: $grey-dark;
  &:hover {
    color: $brand-light;
  }
  i {
    margin-right: 8px;
  }
}