
<div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
<form class="user-section-toolbar" *ngIf="loadDone">
  <a class="btn btn-add" type="button" [routerLink]="['/add']">
    <span><i class="fas fa-plus"></i>Tạo app</span>
  </a>
  <div class="toolbar-buttons">
    <span class="total">Hiển thị {{apps.length}}/{{total}}</span>
    <button class="btn" type="button" (click)="exportApps()" [matTooltip]="'Export'"><i class="fas fa-file-export"></i></button>
    <button class="btn" type="button" (click)="reload(false)" [matTooltip]="'Refresh'"><i class="fas fa-sync-alt" [class.fa-spin]="loading"></i></button>
    <button class="btn btn-check" type="button" [class.checked]="followApp" (click)="toggleFollowApp()">
      <i class="fas fa-check-square check"></i><i class="far fa-square"></i>
      <span>App theo dõi</span>
    </button>
    <button class="btn btn-check" [matTooltip]="'Whitelist là danh sách những app không cần gia hạn'" 
    [class.checked]="whiteListed" type="button" (click)="toggleWhitelist()">
      <i class="fas fa-check-square check"></i><i class="far fa-square"></i>
      <span>Whitelist</span>
    </button>
    <div class="form-input-wrapper search">
      <input class="form-input" name="search" 
      (input)="searchChanged()" placeholder="Tìm kiếm" [(ngModel)]="searchText">
    </div>
  </div>
</form>
<div class="table-container" *ngIf="loadDone">
  <table mat-table [dataSource]="apps">
  
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> STT. </th>
      <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="page">
      <th mat-header-cell *matHeaderCellDef> App </th>
      <td mat-cell *matCellDef="let el">
        <div class="app">
          <div class="avatar">
            <div class="image-wrapper circle"><img src="{{el.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"></div>
          </div>
          <div><div class="name">{{el.name}}</div><div class="sub-name">{{el.activePage?.name}}</div></div>
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef> Người sở hữu </th>
      <td mat-cell *matCellDef="let el">
        <div class="owner" *ngIf="el.ownerObj">
          <div class="avatar">
            <div class="image-wrapper circle"><img src="{{el.ownerObj?.picture}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
          </div>
          <div>
            <div class="name">{{el.ownerObj?.name}}
              <ng-container *ngIf="el.ownerObj.rule=='system_admin'"><i class="fas fa-crown admin" [matTooltip]="'Admin'"></i></ng-container>
              <ng-container *ngIf="el.ownerObj.rule=='system_agency'"><i class="fas fa-briefcase agency" [matTooltip]="'Agency'"></i></ng-container>
            </div>
            <div class="sub-name" *ngIf="el.ownerObj.email">{{el.ownerObj?.email}}</div>
          </div>
        </div>
        <ng-container *ngIf="!el.ownerObj"><span class="none">Không có</span></ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalOfSubscribers">
      <th mat-header-cell *matHeaderCellDef> Lượng người dùng </th>
      <td mat-cell *matCellDef="let el">
        <span>{{formatNumber(el?.totalOfSubscribers)}}</span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
      <td mat-cell *matCellDef="let el">
        <span class="label" [ngClass]="el?.expiredClass" [matTooltip]="'Ngày hết hạn: ' + el.expiredDate">{{el?.expiredDuration}}</span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let el">
        <button class="btn btn-details" (click)="upgradeApp(el._id)" [disabled]="upgrading[el._id]" 
        *ngIf="!el.whiteListed" [matTooltip]="'Gia hạn'" >
          <mat-spinner *ngIf="upgrading[el._id]" [diameter]="20"></mat-spinner>
          <span [style.opacity]="upgrading[el._id]?'0':'1'">
            <i class="fas fa-calendar-plus"></i></span>
        </button>
        <button class="btn btn-details" (click)="whitelistApp(el._id)" [disabled]="whitelisting[el._id]" 
        [matTooltip]="'Đưa vào whitelist'" *ngIf="!el.whiteListed">
          <mat-spinner *ngIf="whitelisting[el._id]" [diameter]="20"></mat-spinner>
          <span [style.opacity]="whitelisting[el._id]?'0':'1'">
            <i class="far fa-calendar-check"></i></span>
        </button>
        <button class="btn btn-details" (click)="unwhitelistApp(el._id)" [disabled]="whitelisting[el._id]" 
        *ngIf="el.whiteListed" [matTooltip]="'Gỡ bỏ whitelist'">
          <mat-spinner *ngIf="whitelisting[el._id]" [diameter]="20"></mat-spinner>
          <span [style.opacity]="whitelisting[el._id]?'0':'1'">
            <i class="far fa-calendar-times"></i></span>
        </button>
        <!-- <button class="btn btn-details" (click)="openInviteCustomer(el)" matTooltip="Mời khách hàng vào App">
          <span><i class="fas fa-user-plus"></i></span>
        </button> -->
        <button class="btn btn-details btn-follow" (click)="toggleFollow(el)" [class.active]="el.follow" 
        [matTooltip]="el.follow?'Bỏ theo dõi':'Theo dõi'">
          <span><i class="fas fa-eye"></i><i class="fas fa-eye-slash follow"></i></span>
        </button>
        <button class="btn btn-details" [matMenuTriggerFor]="menu" matTooltip="Thêm...">
          <span><i class="fas fa-ellipsis-v"></i></span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="menu-item" (click)="openInviteCustomer(el)">
            <i class="fas fa-user-plus"></i><span>Thêm quyền truy cập</span>
          </button>
          <button mat-menu-item class="menu-item" (click)="transfer(el)">
            <i class="fas fa-handshake"></i><span>Chuyển quyền sở hữu</span>
          </button>
          <button mat-menu-item class="menu-item" (click)="exportCSVCustomer(el)">
            <i class="fas fa-file-export"></i><span>Xuất CSV khách hàng của App</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button class="btn btn-load-more" *ngIf="apps.length && apps.length < total" 
  (click)="loadMore()" [disabled]="loadingMore">
    <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="20"></mat-spinner></div>
    <span class="text" [style.opacity]="loadingMore?'0':'1'">Tải thêm...</span>
  </button>
</div>
