<mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
  [value]="progressBar.value" [bufferValue]="progressBar.buffer">
</mat-progress-bar>
<mat-card *ngIf="referral">
  <mat-card-header>
    <mat-card-title>QR Code</mat-card-title>
    <span class="header-spacer"></span>
    <a [href]="qrCode.src" download="referral-code.png">
      <mat-icon class="icon-btn">file_download</mat-icon>
    </a>
    <mat-icon [matMenuTriggerFor]="qrMenu" class="icon-btn">more_vert</mat-icon>
    <mat-menu #qrMenu="matMenu">
      <button mat-menu-item (click)="onCreateMSCode()">Messenger Code</button>
      <button mat-menu-item (click)="onCreateMSCodeWithLogo()">Messenger Code Và Logo</button>
      <button mat-menu-item (click)="onCreateSimpleCode()">Simple Code</button>
      <button mat-menu-item (click)="onCreateLogoCode()">Logo Code</button>
      <button mat-menu-item (click)="onCreateBackgroudCode()">Backgroud Code</button>
      <button mat-menu-item (click)="onCreateGifCode()">Gif Code</button>
    </mat-menu>
  </mat-card-header>
  <img mat-card-image [src]="qrCode.src" [attr.id]="qrCode.id">
  <mat-card-content>
    <form #qrFrm="ngForm">
      <mat-form-field class="text-input-field">
        <input [(ngModel)]="referral.link" name="link" matInput placeholder="referral link" readonly>
        <button mat-icon-button matSuffix ngxClipboard [cbContent]="referral.link" (cbOnSuccess)="openSnackBar('Đã copy')">
          <mat-icon>content_copy</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="text-input-field" *ngIf="qrCode.mode == 'mscodewithlogo' || qrCode.mode == 'logo'">
        <input [(ngModel)]="qrCode.option.logoUrl" name="logo" matInput placeholder="Logo">
      </mat-form-field>
      <mat-form-field class="text-input-field" *ngIf="qrCode.mode == 'backgroud'">
        <input [(ngModel)]="qrCode.option.backgroudUrl" name="backgroud" matInput placeholder="Backgroud">
      </mat-form-field>
      <mat-form-field class="text-input-field" *ngIf="qrCode.mode == 'gif'">
        <input [(ngModel)]="qrCode.option.gifUrl" name="gif" matInput placeholder="Gif">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="none" *ngIf="['logo','backgroud','gif','simple'].indexOf(qrCode.mode) != -1">
        <mat-form-field fxFlex="50" class="text-input-field">
          <input matInput placeholder="Kích thước" [(ngModel)]="qrCode.option.size" name="size" type="number" min="100" max="5000">
        </mat-form-field>
        <mat-form-field fxFlex="50" class="text-input-field">
          <input matInput placeholder="Mật độ" [(ngModel)]="qrCode.option.dotScale" name="dotScale" type="number" min="0.1" max="1"
            step="0.1">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="none" *ngIf="['logo'].indexOf(qrCode.mode) != -1">
        <mat-form-field fxFlex="33.3" class="text-input-field">
          <input matInput min="0.1" max="0.5" step="0.1" [(ngModel)]="qrCode.option.logoScale" name="logoScale" type="number" placeholder="Logo Size">
        </mat-form-field>
        <mat-form-field fxFlex="33.3" class="text-input-field padding-left">
          <mat-select placeholder="Loại" [(ngModel)]="qrCode.option.logoType" name="logoType">
            <mat-option value="circle">Tròn</mat-option>
            <mat-option value="custom">Tuỳ chỉnh</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="33.3" class="text-input-field padding-left">
          <input [disabled]="qrCode.option.logoType === 'circle'" matInput placeholder="Góc logo" [(ngModel)]="qrCode.option.logoCornerRadius"
            name="logoCornerRadius" type="number" min="0" [max]="qrCode.option.size * qrCode.option.logoScale / 2">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="applyQRCode(qrFrm)">CẬP NHẬT</button>
  </mat-card-actions>
</mat-card>