<div class="portal" [style.width]="index==0?'300px':'350px'" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>

    <span class="header-spacer"></span>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show && loadDone" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [class.has-footer]="loadDone && fullRows && fullRows.length">
    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div class="no-content" *ngIf="loadDone && (!users || users.length==0)">
      <div class="no-content-text">
        Không có người dùng kết nối 
      </div>
      <button class="button-remove-overlay" mat-button color='primary' (click)="addUser()" [disabled]="isSaving">
        Thêm người dùng
    </button>
    </div> 
    <cdk-virtual-scroll-viewport itemSize="64">

      <li *cdkVirtualFor="let row of rows "  [class.deactive]="row.status == 'deactive'">
        <button mat-button class="subscriber-wrapper button-remove-overlay"
        [ngClass]="(selectedSubscriber == row._id)?'subscriber-opened':''">
          <div class="avatar" mat-list-icon lazy-load-images>
            <img class="user" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'" data-src="{{row?.profile?.picture}}">
          </div>
          <div class="subscriber-name">{{row?.profile?.email || row.metadata?.name || "Không rõ"}}</div>
          <div class="sub-text">
            <i *ngIf="row.status != 'deactive'" class="far fa-trash-alt"  (click)="revokeUser(row);stopPropagation($event);"
            matTooltip="Xóa người dùng" matTooltipPosition="after" ></i>
            <i *ngIf="row.status == 'deactive'" class="fas fa-redo"  (click)="reconnectUser(row);stopPropagation($event);"
            matTooltip="Kết nối lại" matTooltipPosition="after" ></i>
          </div>
        </button>
   
        <mat-divider></mat-divider>
      </li>
    
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="portal-footer" [ngClass]="(loadDone && users && users.length>0)?'portal-footer-display':''">
    <button mat-button class="navigate-button" *ngIf="loadDone" (click)="scrollToTop()"><i class="fas fa-long-arrow-alt-up"></i></button>
    <button mat-button class="navigate-button" *ngIf="loadDone" (click)="scrollToBottom()"><i class="fas fa-long-arrow-alt-down"></i></button>
    <button class="add-button" mat-raised-button color="primary" (click)="addUser()">
      <i class="fas fa-plus-circle"></i> Thêm người dùng
    </button>
    
  </div>
</div>
