@import '../../../../customs.scss';

.deactive{
  button{
    background: #f3f3f3!important;
    span{
      color: $grey-mild!important;
    }
    i{
      color: $grey-mild;
    }
  }
}
.check-all {
    margin-right: 16px;
    /deep/.mat-checkbox-frame {
        border-color: $brand-dark;
    }
}

.avatar {
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    background: transparent;
    border: 2.5px solid transparent;
    transition: all 0.3s ease;
    flex-shrink: 0;
    img {
        object-fit: cover;
        width: inherit;
        height: inherit;
        padding: 0px !important;
        border-radius: 50% !important;
    }
}
.avatar-filter {
    position: absolute;
    background-color: rgba(92, 224, 102, 0.75);
    color: white;
    transition: opacity 0.4s ease-out;
}
.mat-list-item {
    /deep/.mat-list-text {
        padding-left: 12px;
    }
}


.subscriber-opened {
    .mat-line {
        color: $brand-primary !important;
    }
    .avatar {
        border: 2.5px solid $brand-primary;
    }
}

.mat-divider {
    width: 92%;
    border-top-color: $grey-white;
    margin: auto;
}

.item-divider {
    width: 92% !important;
    border-top-color: $grey-white;
    left: 4% !important;
}

.portal-footer {
    background-color: $grey-lighter;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    button {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
        i {
            margin-right: 5px;    
            margin-bottom: 3px;
        }
    }
    .navigate-button {
        min-width: 32px;
        width: 42px;
        color: $brand-light;
        padding: 0px 8px;
        i {
            margin: 0px !important;
        }
        &:first-child{
          margin-right: 4px;
        }
    }
    .button-more {
        min-width: 60px;
        width: auto;
        flex-grow: 1;
        margin-right: 4px;
        .test-spinner {
            width: auto;
            margin: auto; 
            div {
                width: 8px;
                height: 8px;
                background-color: $grey;
            }
        }
    }
   .add-button{
    margin-left: auto;
   }
}

.portal-header {
    .mat-checkbox {
        margin: 0px 16px 2px 6px;
    }
    .send-button {
        min-width: 60px;
        width: 100px;
        margin-right: 5px;
        background-color: $green-400;
        color: white;
        padding-left: 4px;
        padding-right: 8px;
        i {
            margin-right: 5px;
            margin-bottom: 3px;
        }
    }
}



.subscriber-wrapper {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    height: 63px;
    cursor: pointer;
    /deep/.mat-button-wrapper {
        width: 100%;
        display: flex;
    }
    .sub-text {
        flex-shrink: 0;
        color: $grey-mild;
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-left: 2px;
        justify-content: center;
        i{
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover{
            color:$grey!important;
          }
        }
    }
    .subscriber-name {
        display: flex;
        align-items: center;
        color: $grey-darker;
        padding-left: 8px;
        font-weight: 400 !important;
        width: 250px;
        text-align: left;
        line-height: 16px;
        word-break: break-all;
        white-space: normal;
    }
    .avatar {
        flex: 0 0 54px;
        margin-left: 8px;
        width: 54px !important;
        height: 54px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50% !important;
        background: transparent;
        border: 1.8px solid transparent;
        transition: all 0.3s ease;
        img {
            object-fit: cover;
            width: inherit;
            height: inherit;
            border-radius: 50% !important;
            width: 100%;
            height: 100%;
            &.default {
                position: absolute;
                z-index: 0;
                padding: 8px !important;
            }
            &.user {
                z-index: 10;
                padding: 6px !important;
            }
        }
    }
    &.subscriber-opened {
        .subscriber-name {
            color: $brand-primary;
        }
        .avatar {
            border: 1.8px solid $brand-primary;
        }
    }
    &:hover {
        background: $grey-lightest;
    }
}
cdk-virtual-scroll-viewport {
  height: 100%;
  list-style: none;
  *{
    box-sizing: border-box;
  }
  // Bonus points
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
      background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
      background: $bluegrey-lightest;
      border-radius: 2px;
  }
}
