<div class="story-section">
  <div class="story-section-title">Thông tin chung</div>
  <div class="info-row row">
    <div class="info-wrapper action col-12" (click)="copyId()" [matTooltip]="'Sao chép ID'" matTooltipPosition="before">
      <div class="info-title">ID câu chuyện</div>
      <div class="info-content"><span id="story-id">{{story?._id}}</span><i class="fas fa-copy icon"></i></div>
    </div>
  </div>
  <div class="info-row row">
    <div class="info-wrapper action col-7" (click)="editName($event)" [matTooltip]="'Chỉnh sửa tên'" matTooltipPosition="before">
      <div class="info-title">Tên câu chuyện</div>
      <div class="info-content">{{story?.name}}<i class="fas fa-pencil-alt icon"></i></div>
    </div>
    <div class="info-wrapper col-5">
      <div class="info-title">Số thẻ</div>
      <div class="info-content">{{story?.cards.length}}</div>
    </div>
  </div>
  <div class="info-row row">
    <div class="info-wrapper col-7">
      <div class="info-title">Ngày tạo</div>
      <div class="info-content">{{story?.createdAt | date: 'HH:mm dd-MM-yyyy'}}</div>
    </div>
    <div class="info-wrapper col-5">
      <div class="info-title">Cập nhật gần nhất</div>
      <div class="info-content">{{story?.updatedAt | date: 'HH:mm dd-MM-yyyy'}}</div>
    </div>
  </div>
  
</div>
<mat-divider></mat-divider>
<div class="story-section" *ngIf="story">
  <div class="story-section-title">Ref câu chuyện
      <mat-slide-toggle [(ngModel)]="story.isUseRef" (change)="useRefChanged()"></mat-slide-toggle>
  </div>
  <p class="ref-description">
    Đặt tên ref cho câu chuyện để tạo một đường link ref. Đường link này dẫn đến Messenger của Fanpage và sẽ bắt đầu câu chuyện ngay lập tức.
  </p>
  <div class="info-row vertiz" [ngClass]="story.isUseRef?'expanded-vertiz':'collapsed-vertiz'">
    <!-- <mat-checkbox class="use-ref-checkbox col-5" [(ngModel)]="story.isUseRef" (ngModelChange)="useRefChanged()">Sử dụng ref</mat-checkbox> -->
    <div class="info-wrapper action">
      <div class="info-title">Ref</div>
      <div class="info-content" (click)="editRef($event)" [matTooltip]="story?.ref?'':'Thay đổi ref'" matTooltipPosition="before">
        <ng-container *ngIf="story?.ref">
          <span class="story-ref">{{story?.ref}}</span><i class="fas fa-pencil-alt icon"></i>
        </ng-container>
        <ng-container *ngIf="!story?.ref">
          <button class="btn btn-ref slide-up-slightly-anim">
            <i class="fas fa-plus"></i><span>Tạo ref</span>
          </button>
        </ng-container>
      </div>
    </div>
    <div class="info-wrapper mt-2 slide-up-slightly-anim" *ngIf="story.ref">
      <div class="info-title">Link ref</div>
      <div class="info-content">
        <a target="_blank" rel="noopener" href="{{'https://m.me/' + pageId + '?ref=story.' + story.ref }}">{{'https://m.me/' + pageId + '?ref=story.' + story.ref }}</a>
        <i class="fas fa-copy icon" (click)="copyLink()" [matTooltip]="'Sao chép link'" matTooltipPosition="before"></i>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="story-section" *ngIf="story">
    <div class="story-section-title">Dữ liệu Facebook Ads</div>
    <p class="ref-description">
      Lấy dữ liệu payload sử dụng cho Facebook Ads
    </p>
    <div class="info-row vertiz expanded-vertiz">
      <div class="info-wrapper action">
        <div class="info-title">Additional</div>
        <div class="info-content" (click)="editAdditional($event)" matTooltip="Thay đổi additional" matTooltipPosition="before">
          <ng-container *ngIf="additionalStory">
            <span class="story-ref">{{additionalStory}}</span><i class="fas fa-pencil-alt icon"></i>
          </ng-container>
          <ng-container *ngIf="!additionalStory">
            <button class="btn btn-ref slide-up-slightly-anim">
              <i class="fas fa-plus"></i><span>Thêm additional</span>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="info-wrapper mt-2 slide-up-slightly-anim">
        <div class="info-title">Payload</div>
        <div class="info-content">
          <a>{{payloadStory}}</a>
          <i class="fas fa-copy icon" (click)="copyPayload()" [matTooltip]="'Sao chép payload'" matTooltipPosition="before"></i>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>