@import "../story-info-portal.component.scss";
@import "~customs.scss";
.mat-slide-toggle {
  float: right;
}
.ref-description {
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: $grey;
}
.info-row {
    margin-top: 8px;
    padding-left: 4px;
    .story-id {
        line-height: 0px;
    }
    ::ng-deep.mat-checkbox {
        @include flex-align-start;
        label {
            margin-bottom: 0;
        }  
    }
    .info-wrapper {
        position: relative;
        .info-title {
            color: $grey;
            font-size: 12px;
            font-weight: bold;
        }
        .info-content {
            margin-left: 1px;
            color: $grey-dark;
            font-size: 14px;
            display: flex;
            a {              
              white-space: pre;
              text-overflow: ellipsis;
              overflow: hidden;
            }
        }
        &.action {
            cursor: pointer;
            position: relative;
            &:hover {
                .info-content {
                    color: $brand-light;
                }
            }
        }
        .icon {
          cursor: pointer;
          margin-left: 8px;
          font-size: 13px;
          @include flex-align-center;
          &:hover {
            color: $brand-light;
          }
        }
        .btn-ref {
            background: $brand-light;
            color: white;
            font-weight: 400;
            padding: 3px 6px;
            margin-top: 3px;
            border-radius: 2px;
            font-size: 12px;
            i {
                margin-right: 4px;
            }
            &:hover {
                background: $brand-primary;
            }
        }
        .story-ref {            
            white-space: pre-wrap;
            word-break: break-all;
        }
    }
}