<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-keyboard'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
        (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)">
        <mat-form-field class="text-input-field">
          <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.fallback" name="fallback" matInput placeholder="Tin nhắn nhập sai" cdkTextareaAutosize></textarea>
        </mat-form-field>
      </app-card-advanced>
      <mat-form-field class="text-input-field">
        <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.text" name="text" matInput placeholder="Tin nhắn" cdkTextareaAutosize required></textarea>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input hlTextArea #keyControl="ngModel" type="text" [(ngModel)]="card.option.key" name="key" matInput maxlength="30" placeholder="Tên thuộc tính"
          required>
        <mat-hint align="end">{{card.option.key.length}} / 30</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
</div>