
<div id="fundo" class="page-wrapper">
    <div class="circle-outline"></div>
    <div class="circle-outline"></div>
    <div class="circle-outline"></div>
    <form #loginForm="ngForm" class="login-wrapper" (keyup)="keyDownFunction($event,loginForm)">
        <img class="logo" src="/assets/img/logo-mcom-white.svg" />
        <div class="divider"></div>
        <div class="login-platform" *ngIf="(chatbotApi.chatbotAuth.onAuthStateChange | async) == false">
            <button class="btn btn-facebook" (click)="loginFacebook()">
                <i class="fab fa-facebook-square"></i>Đăng nhập bằng Facebook</button>
            <button class="btn btn-google" (click)="loginGoogle()">
                <img src="assets/img/google.svg">Đăng nhập bằng Google</button>
        </div>
        <div class="authenticating-text" *ngIf="(chatbotApi.chatbotAuth.onAuthStateChange | async) == undefined">
            Đang kiểm tra xác thực tài khoản
            <div class="spinner-wrapper"><i class="fas fa-circle-notch fa-spin"></i></div>
        </div>
        <div class="authenticating-text" *ngIf="(chatbotApi.chatbotAuth.onAuthStateChange | async) == true">
            Đăng nhập tài khoản thành công
            <div class="spinner-wrapper"><i class="fas fa-circle-notch fa-spin"></i></div>
        </div>
    </form>
    <div class="footer">
        Copyright © {{year}} | MCOM Business | All rights reserved
    </div>
</div>