@import "~customs.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    @include flex-center;
    .login-wrapper {
        /* For Mobile */
        @media screen and (max-width: 776px) {
            width: 100%;
            height: 100%;
            flex-direction: column;
        }
        @include flex-center;
        z-index: 100;
        padding-bottom: 15vh;
    }
}

.logo {    
    display: block;
    padding: 20px 40px;
    animation: slide-in-left 1s ease-in-out;
    position: relative;
}
.divider {
    width: 1px;
    border-left: 1px solid $brand-light;
    height: 100px;
    @media screen and (max-width: 776px) {
        display: none;
    }
}

.login-platform {   
    width: 380px;
    padding: 20px 40px;
    .btn {
        width: 100%;
        border-radius: 3px;
        height: 50px;
        text-align: center;
        margin-bottom: 12px;
        font-weight: 500;
        transition: all 0.5s ease-in-out;
        &:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            transform: translateY(-3px);
        }
        i {
            font-size: 24px;
            margin-right: 8px;
        }
        img {
            margin-right: 8px;
            width: 24px;
        }
    }
    .btn-facebook {
        background-color: #3b5998;
        color: white;
        animation: slide-in-right 1s ease-in-out;
    }
    .btn-google {
        background-color: white;
        color: $grey-dark;
        animation: slide-in-right 1s ease-in-out;
    }
}


.authenticating-text {
    color: $grey-lighter;
    text-align: center;
    padding: 0 32px;
    .spinner-wrapper {
        margin: 8px auto 0;
        height: auto;
        position: relative;
        i {
            color: white;
        }
    }
}

.footer {
    position: absolute;
    bottom: 24px;
    color: white;
    font-weight: 300;
    font-size: 12px;
}

#fundo {
    background-color: $brand-primary;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 720px;

    .circle-outline {
        position: fixed;
        color: transparent;
        background-color:transparent;
        opacity: 0.25;
        border-width: 6em;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.5);
        width: 100em;
        height: 100em;
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        overflow: hidden;

        animation-name: moving-circly;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &:nth-child(1)
        {
            top: -80%;
            left: -20%;
            // top: -50em;
            // left: -20em;
            animation-duration: 12s;
        }
        &:nth-child(2)
        {
            top: 5%;
            left: -20%;
            // top: 10em;
            // left: -10em;
            animation-duration: 24s;
        }
        &:nth-child(3)
        {
            top: -20%;
            left: 30%;
            // top: -20em;
            // left: 40em;
            animation-duration: 18s;
        }
    }
}

// ANIMATION
@keyframes moving-circly {
    from {
		transform: rotate(0deg)
            translate(-30px)
            rotate(0deg);
	}
	to {
		transform: rotate(360deg)
            translate(-30px)
            rotate(-360deg);
	}
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus
// input:-webkit-autofill,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//     border:none !important;
//     -webkit-text-fill-color: white !important;
//     -webkit-box-shadow: 0 0 0px 1000px transparent inset;
//     box-shadow: 0 0 0px 1000px transparent inset;
//     transition: background-color 5000s ease-in-out 0s;
// }

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }
}