<form #myFrm="ngForm">
  <div>
    <button fxFlex="100%" mat-raised-button color="primary" *ngIf="!case.isResponsePrivateReplies" (click)="enablePrivateRepliesResponse(true)">Bật trả lời bằng Tin nhắn</button>
    <button fxFlex="100%" mat-raised-button *ngIf="case.isResponsePrivateReplies" (click)="enablePrivateRepliesResponse(false)">Tắt trả lời bằng Tin nhắn</button>
  </div>
  <div *ngIf="case.isResponsePrivateReplies" class="case-private-replies">
    <mat-form-field class="text-input-field">
      <textarea hlTextArea typeHlText="post-case" required #messageControl="ngModel" [(ngModel)]="case.responsePrivateReplies" name="responsePrivateReplies" matInput  
        placeholder="Tin nhắn" cdkTextareaAutosize></textarea>
      <mat-hint align="end">{{case.responsePrivateReplies?.length}} / 256</mat-hint>
       
    </mat-form-field>
  </div>
  <mat-accordion *ngIf="case.isResponsePrivateReplies && case.privateRepliesConfig" class="case-private-replies" >
     <app-post-case-reply-config *ngFor="let config of case.privateRepliesConfig" [config]="config" (change)="formChange()"></app-post-case-reply-config>
  </mat-accordion>
  <mat-list  *ngIf="case.isResponsePrivateReplies" >
    <button class="add-button-quick-reply" (click)="addConfig()">
      <i matListIcon class="fas fa-plus"></i> Trả về câu chuyện
    </button>
  </mat-list>
</form>