<div class="portal" [style.width]="'300px'" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
        <i class="fas fa-question"></i>
    </button> -->
    <!-- <mat-icon class="icon-btn"  matTooltip="Xem trang cá nhân" matTooltipPosition="above" (click)="viewProfile()" style="cursor: pointer">
      <i class="fas fa-eye"></i>
    </mat-icon> -->
    <button *ngIf="chatbotApi.chatbotAuth.user.rule != 'read'" mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
          <i class="fas fa-question"></i>
      </button> -->
    <mat-icon class="icon-btn" (click)="close()" style="cursor: pointer">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div [hidden]="!subscriber_loaded">
      <div class="basic-info" *ngIf="subscriber">
        <div class="avatar-wrapper" lazy-load-images>
          <img data-src="{{avatar}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'">
          <!-- <div class="avatar-filter" (click)="openProfile()"><i class="fab fa-facebook-f"></i></div> -->
        </div>
        <div class="info-wrapper">
          <div class="info-gender">
            <i *ngIf="subscriber?.messengerProfile?.gender == 'male'" class="fas fa-mars"></i>
            <i *ngIf="subscriber?.messengerProfile?.gender == 'female'" class="fas fa-venus"></i>
            <i *ngIf="subscriber?.messengerProfile?.gender == 'other'" class="fas fa-genderless"></i>
            {{gender}}</div>
          <div class="info-country">
            <i class="fas fa-globe"></i> {{country}}</div>
          <div class="info-timezone" *ngIf="timezone">
            <i class="fas fa-clock"></i> {{timezone}}</div>
          <div class="info-chat" (click)="openLiveChat()">
            <i class="fas fa-comments"></i>Xem tin nhắn
          </div>
          <!-- <div class="info-phone"><i class="fab fa-facebook"></i> <a target="_blank" href="{{'https://www.facebook.com/' + subscriber.uid}}">Trang cá nhân</a></div> -->
        </div>
      </div>
      <div class="info-extra">
        <div class="info-extra-title">Thời gian tương tác</div>
        <div class="info-line">
          <span class="info-title">Bắt đầu</span>
          <span class="info-text">{{created_at | date: 'HH:mm, dd-MM-yyyy'}}</span>
        </div>
        <div class="info-line">
          <span class="info-title">Gần nhất</span>
          <span class="info-text">{{updated_at | date: 'HH:mm, dd-MM-yyyy'}}</span>
        </div>
      </div>
      <div class="info-extra">
        <div class="info-extra-title" style="cursor: pointer">
          Nội dung mở rộng
          <i (click)="reload(false)" matTooltip="Refresh"  class="fas fa-sync-alt"></i>
          <!-- <span class="label-button" (click)="switchEditOtherInfo()">Sửa</span> -->
          <!-- <i class="chevron-icon fas fa-chevron-down" [ngClass]="otherInfoOpened?'up':''" (click)="switchEditOtherInfo()"></i> -->
        </div>
        <json-editor [options]="jsonEditorConfig" [(data)]="data"></json-editor>
        <!-- <json-editor  [options]="jsonEditorConfig" [(data)]="data" [ngClass]="otherInfoOpened?'open':''"></json-editor> -->
      </div>
      <mat-divider></mat-divider>
    </div>
    <div [hidden]="!allLabels_loaded || !labels_loaded || !notes_loaded">
      <div class="label-wrapper">
        <p class="label-title">Nhãn</p>
        <mat-chip-list [selectable]="selectable">
          <mat-chip *ngFor="let label of labels" color="primary" [disabled]="true" [removable]="true" [selectable]="selectable" (removed)="removeLabel(label.id, label.name)">
            {{ label.name }}
            <mat-icon matChipRemove *ngIf="label.id != '0'">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input class="label-input" [(ngModel)]="new_label" type="text" (keydown.enter)="addLabel(new_label)" maxlength="25" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let label of allLabels" [value]="label.name">
            <span>{{ label.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </div>
      <mat-divider></mat-divider>
      <div class="label-wrapper">
        <p class="label-title">
          Ghi chú
          <span class="label-button" (click)="openNoteTextArea()">+ Thêm</span>
        </p>
        <div class="new-note-field" [hidden]="!display_new_note">
          <textarea #textarea class="note-textarea" [(ngModel)]="new_note" name="text"></textarea>
          <div class="button-group">
            <button mat-button (click)="display_new_note = false">Đóng</button>
            <button mat-raised-button color="primary" (click)="addNote(new_note)">Thêm</button>
          </div>
        </div>
        <div class="note-list">
          <div *ngFor="let note of notes" class="note-content" fxLayout="row">
            <pre class="note-text" fxFlex="85">{{note.body}}</pre>
            <div class="note-delete" fxFlex="15" *ngIf="note.id != '0'">
              <button mat-icon-button class="button-remove-overlay" matTooltip="Xóa" (click)="removeNote(note)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spinner-wrapper" *ngIf="!subscriber_loaded"><mat-spinner [diameter]="30"></mat-spinner></div>
  <div class="not-found" *ngIf="subscriber_loaded && !notes_loaded && !labels_loaded && subscriber?.status != 'active'">Người dùng chưa tương tác nên không thể xem nhãn và ghi chú</div>
</div>
    <!-- <div class="spinner-wrapper" *ngIf="(!subscriber_loaded || !allLabels_loaded || !labels_loaded || !notes_loaded) && subscriber?.status == 'active'">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="not-found" *ngIf="subscriber?.status == 'active'">Người dùng chưa tương tác nên không thể xem nhãn và ghi chú</div>
  </div> -->
