

@import "~customs.scss";
.basic-info {
    padding: 16px;
    display: flex;
    justify-content: space-around;
    .avatar-wrapper {
        flex: 1 1 40%;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        .avatar-filter {
            cursor: pointer;
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: linear-gradient(135deg, rgba(100, 181, 246, 0.7) 40%, rgba(165, 214, 167, 0.7));
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: white;
                font-size: 32px;
                opacity: 0;
                transform: translateY(12px);
                transition: all 1s ease-in-out;
            }
            &:hover {
                opacity: 1;
                i {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    .info-wrapper {
        font-size: 14px;
        color: $grey-dark;
        flex: 1 1 60%;
        div {
            padding: 2px 4px;
            i {
                color: $brand-light;
                font-size: 12px;
                margin-right: 4px;
            }
        }
        .info-chat {
            font-weight: 500;
            cursor: pointer;
            i {
                margin-right: 6px;
            }
            &:hover {
                color: $brand-light;
            }
        }
        .info-gender {
            i {
                font-size: 14px;
                margin-right: 6px;
            }
        }
        .info-phone {
            span {
                i {
                    color: $grey;
                    margin-left: 4px;
                }
            }
        }
        a {
            font-weight: bold;
            color: $brand-primary;
            text-decoration: none;
            &:visited {
                color: $brand-dark;
            }
        }
    }
}
.info-extra {
    padding: 6px 16px;
    .info-extra-title {
        color: $brand-dark;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 8px;
        position: relative;
        i {
            position: absolute;
            right: 0;
            transition: all 0.3s ease-in-out;
            color: $brand-dark;
            &.up {
                transform: rotateZ(180deg);
            }
        }
    }
    .info-line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5px;
        .info-title {
            float: left;
            flex-grow: 1;
            font-size: 13.5px;
            color: $grey;
        }
        .info-text {
            float: right;
            flex-grow: 2;
            text-align: right;
            font-size: 13.5px;
            color: $grey-dark;
        }
    }
}

.label-wrapper {
    padding: 16px;
    .label-title {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        color: $brand-dark;
        margin: 0px;
    }
    .label-button {
        position: absolute;
        right: 16px;
        text-transform: capitalize;
        color: $grey-darker;
        font-size: 14px;
        font-weight: normal;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        i {
            margin-right: 4px;
        }
        &:hover {
            color: $brand-light;
        }
    }
}

.not-found {
    margin: 20px;
    font-size: 14px;
}

.note-list {
    .note-content {
        position: relative;
        .note-text {
            //margin: 12px 0px;
            font-family: inherit;
            font-size: 14px;
            color: $grey-dark;
            white-space: pre-line;
        }
        .note-delete {
            position: absolute;
            right: 0;
            height: 100%;
            color: $grey-mild;
            visibility: hidden;
            display: flex;
            align-items: center;
        }
        border-bottom: 0.5px solid $grey-light;
        &:hover {
            .note-delete {
                visibility: visible;
            }
        }
    }

}
.new-note-field {
    .note-textarea {
        width: calc(100% - 24px);
        border: 1px solid $grey-lighter;
        margin: 12px 0px;
        font-size: 14px;
        padding: 8px 12px;
        border-radius: 3px;
        resize: none;
        overflow: hidden;
        min-height: 50px;
        max-height: 100px;
        font-family: inherit;
    }
    .button-group {
        width: 100%;
        .mat-button {
            width: 48%;
            color: #555;
            background: #ddd;
        }
        .mat-raised-button {
            width: 50%;
        }
    }
}
.label-input {
    width: calc(100% - 24px);
    border: 1px solid #ddd;
    padding: 12px;
}
.mat-chip-list {
    ::ng-deep.mat-chip-list-wrapper {
        margin-top: 8px;
    }
    &:focus { outline: 0; }
    .mat-chip {
        margin: 0 8px 8px 0 !important;
        border-radius: 6px;
        background: lighten($brand-light, 30%);
        color: $brand-light;
        box-shadow: none;
        .mat-icon {
            color: $brand-primary;
            opacity: 0.4;
        }
    }
}

.mat-divider {
    margin: 0px 16px;
    border-top: 1px solid lighten($brand-light, 25%);
}

.subscriber-json {
    ::ng-deep.jsoneditor-menu, ::ng-deep.jsoneditor-navigation-bar, ::ng-deep.jsoneditor-expandable:first-child {
        display: none;
    }
    ::ng-deep div.jsoneditor-tree {
        margin-left: -48px;
        width: initial !important;
    }
    ::ng-deep.jsoneditor {
        border: none;
        transition: all 0.3s ease-in-out;
        max-height: 0px;
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: center top;
    }
    ::ng-deep.jsoneditor-expanded, ::ng-deep.jsoneditor-collapsed {
        margin-left: 20px;
    }
    ::ng-deep.jsoneditor-field, ::ng-deep.jsoneditor-value {
        font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    }
    &.open {
        ::ng-deep.jsoneditor {
            max-height: 10000px;
            transform: scaleY(1)
        }
    }
}