<div class="row m-0 pb-2">
  <!-- <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Hình thức tặng</div>
    <mat-form-field class="form-select">
      <mat-select [(ngModel)]="evoucher.option.offerType" name="offerType" (ngModelChange)="dataChanged()" [disabled]="disabled">
        <mat-option value="same_item">Nhóm tặng giống nhóm cần mua</mat-option>
        <mat-option value="max_item">Tặng món giá cao nhất</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Số lượng món cần mua</div>
    <input class="form-input" min="0" name="numberItemBuy" type="number" [(ngModel)]="evoucher.option.numberItemBuy"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Tiền hàng tối thiểu (VNĐ)</div>
    <input class="form-input" min="0" name="minAmountOfBill" type="number" [(ngModel)]="evoucher.option.minAmountOfBill"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>
<!-- <div class="row m-0 pb-2">
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Số lượng món được tặng</div>
    <input class="form-input" min="0" name="numberItemFree" type="number" [(ngModel)]="evoucher.option.numberItemFree"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div> -->
<div class="form-input-wrapper pb-3">
  <div class="input-title">Món cần mua</div>
  <product-picker [applyItemType]="evoucher.option.applyItemType" [applyItems]="evoucher.option.requireItems" 
  [disabled]="disabled" (applyItemsChange)="requireItemsChanged($event)"></product-picker>
</div>
<div class="form-input-wrapper pb-2">
  <div class="form-checkbox ml-2" [class.checked]="sameItem$ | async"
  (click)="toggleSameItem()">
    <i class="fas fa-check-square check"></i><i class="far fa-square uncheck"></i>
    <span>Tặng cùng món yêu cầu</span>
  </div>
</div>
<div class="row m-0 pb-3" *ngIf="sameItem$ | async">
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Số lượng tối đa món được tặng</div>
    <input class="form-input" min="0" name="numberItemFree" type="number" [(ngModel)]="evoucher.option.numberItemFree"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>
<div class="form-input-wrapper pb-3" *ngIf="!(sameItem$ | async)">
  <div class="input-title">Món được tặng</div>
  <product-picker [applyItemType]="'product'" [applyItems]="evoucher.option.offerItems" 
  [disableChangeItemType]="true" [allowSelectQuantity]="true"
  [disabled]="disabled" (applyItemsChange)="offerItemsChanged($event)"></product-picker>
</div>
<!-- <div class="form-input-wrapper pb-3" *ngIf="showApplyItems$ | async">
  <div class="input-title">Món được tặng</div>
  <product-picker [applyItemType]="evoucher.option.applyItemType" [applyItems]="evoucher.option.applyItems" 
  [disabled]="disabled" (applyItemsChange)="applyItemsChanged($event)"></product-picker>
</div> -->
