<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'far fa-file-video'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <form #cardFrm="ngForm">
    <mat-card-content>
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
      [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
      (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <div class="element" *ngFor="let element of card.option.attachment.payload.elements; let ei = index">
        <mat-card #elementCard (mouseenter)="elementCard.onHover = true" (mouseleave)="elementCard.onHover = false">
          <div class="content-wrapper" lazy-load-images>
            <div class="no-content button-wrapper" *ngIf="!element.url">
              <div class="no-content-text">
                Chưa có video
              </div>
              <button class="button-remove-overlay" mat-button color='primary' (click)="openMediaVideos()" [disabled]="isSaving">
                  Chọn video từ Trang
              </button>
            </div>
            <img data-src="{{card.option.preview.picture}}" *ngIf="card.option.preview.picture" (click)="openVideo()">
            <div class="edit-button-group" *ngIf="element.url">
              <button class="button-remove-overlay" [disableRipple]="'true'" mat-icon-button (click)="openLink()">
                <i class="fas fa-link"></i>
              </button>
              <button class="button-remove-overlay" [disableRipple]="'true'" mat-icon-button (click)="openMediaVideos(card.option.preview.id)">
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
          <app-button-container #btnContainer [validButtons]="validButtons" [container]="container" [buttons]="element.buttons" (change)="onButtonsChange(ei,$event)"
            [limit]="1" [disabled]="!cardFrm.enabled"></app-button-container>
        </mat-card>
      </div>
    </mat-card-content>
  </form>
</mat-card>
</div>