@import "~customs.scss";

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    50% {
        opacity: 0.5;
        transform: scaleX(1);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: scaleX(1);
    }
    to {
        opacity: 0;
        transform: scaleX(0);
    }
}

.slide-out {
    animation: slideOut 0.3s ease;
}

.portal-container {
    width: 100%;
    height: 100%;
    ::ng-deep.swiper-slide:last-child {
        box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1);
        margin-right: 60px !important;
        border-right: none !important;
    }
    ::ng-deep .main-swiper {
        background: white;
        width: auto;
        margin: 0 !important;
        border-right: 1px solid $grey-light !important;
        transform-origin:left center;
        animation: slideIn 0.3s ease-in-out;
        &:first-child {
            .portal {
                min-width: 336px;
            }
        }
        .portal {
            height: 100%;
            min-width: 320px;
            .portal-header {
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: lighten($brand-light, 30%);
                color: $brand-dark;
            }
            .portal-content-block {
                background: white;
                position: absolute;
                width: 100%;
                height: auto;
                top: 64px;
                left: 0;
                right: 0;
                bottom: 0px;
                overflow-x: hidden;
                overflow-y: auto;
                transition: all 0.3s ease-in-out;
                @include custom-scrollbar-grey;
                >*:not([hidden]) {
                    animation: slide-up 0.2s ease-in-out;
                }
                .mat-line {
                    color: $grey-dark;
                }
                .tail-div {
                    width: 50%;
                    height: 1000px;
                }
                &.has-footer {
                    bottom: 48px !important;
                }
            }
            .frm-table {
                width: 100%;
            }
            .text-input-field {
                width: 100%;
                &.padding-left {
                    padding-left: 16px;
                }
            }
            .portal-footer{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 48px;
                display: flex;
                display: -webkit-flex;
                .portal-footer-action {
                    flex: 1;
                }
                transition: all 0.3s ease-in-out;
            }
        }
    }

    ::ng-deep .swiper-pagination-bullets {
        bottom: 0px;
    }

    ::ng-deep .portal-progress-bar {
        z-index: 1
    }
}
