<swiper class="portal-container" [config]="swiperOptions" #swiper>
  <div class="swiper-pagination portal-pagination"></div>
  <div class="swiper-wrapper" cdkDropListGroup>
    <ng-template #swiperWrapper></ng-template>
  </div>
  <div class="swiper-scrollbar portal-scrollbar"></div>
</swiper>