<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button type="button" *ngIf="tabIndex==0 && hasShopChanged" mat-button 
    class="save-button" [class.fade-in]="showSave" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="tabIndex == 0 && saved"><mat-icon>check</mat-icon>Đã lưu</span>
    <div class="spinner-wrapper" *ngIf="loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId" [style.pointer-events]="isSaving?'none':'initial'">

    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>

    <div class="no-content" *ngIf="loadDone && !shop">
      <div class="no-content-text">
        Chưa có cửa hàng
      </div>
      <button type="button" class="btn-create button-remove-overlay" mat-button color='primary' (click)="editShopName($event)">
        Tạo cửa hàng
      </button>
    </div>

    <ng-container *ngIf="loadDone && shop">

        <div class="tab-buttons">
          <button type="button" class="btn btn-tab" [class.active]="tabIndex == 0" (click)="changeTab(0)">Cửa hàng</button>
          <button type="button" class="btn btn-tab" [class.active]="tabIndex == 1" (click)="changeTab(1)">Sản phẩm</button>
          <button type="button" class="btn btn-tab" [class.active]="tabIndex == 2" (click)="changeTab(2)">Đơn hàng</button>
        </div>
        <form>
          <mat-tab-group [selectedIndex]="tabIndex">

            <!-- SHOP -->
            <mat-tab>
              <div class="shop-wrapper">
                <h3 class="shop-name" (click)="editShopName($event, true)">{{shop.name}}<i class="fas fa-pencil-alt"></i></h3>
                <app-card-image [imageSrc]="shop.image" (sourceChanged)="onShopImageChanged($event)"
                [imageRatio]="'horizontal'"></app-card-image>
                <div class="row m-0 mt-3">
                  <div class="form-input-wrapper col-6 pl-0">
                    <input class="form-input" [(ngModel)]="shop.shipFeePerKilometer" name="shipFee" type="number" 
                    (ngModelChange)="shopChanged()">
                    <label class="input-title">Phí ship theo km (VND)</label>
                  </div>
                  <div class="form-input-wrapper col-6 pl-0 pr-0">
                    <input class="form-input" [(ngModel)]="shop.kilometerFreeShip" name="kilometerFreeShip" type="number" 
                    (ngModelChange)="shopChanged()">
                    <label class="input-title">Tính phí từ quãng đường (km)</label>
                  </div>
                </div>
                <div class="form-input-wrapper">
                  <input class="form-input" [(ngModel)]="shop.shipNote" name="shipNote" type="text"
                  (ngModelChange)="shopChanged()">
                  <label class="input-title">Ghi chú phí ship (nếu có)</label>
                </div>
                <div class="form-input-wrapper">
                  <app-story-selection [ids]="shop.forwardStory" (change)="storyChanged($event)" [title]="'Câu chuyện sau đặt hàng'"
                  [multiple]="false" [mode]="'story'"></app-story-selection>
                </div>
                <div class="form-input-wrapper">
                  <div class="checkbox-wrapper" [class.active]="shop.sendReceipt" (click)="toggleSendReceipt()">
                    <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                    <span>Gửi hoá đơn đến Messenger khi đặt hàng</span>
                  </div>
                </div>
                <div class="form-input-wrapper">
                  <div class="checkbox-wrapper" [class.active]="shop.enableOTP" (click)="toggleEnableOTP()">
                    <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                    <span>Kiểm tra OTP qua số điện thoại</span>
                  </div>
                </div>
                <div class="form-input-wrapper">
                  <div class="checkbox-wrapper" [class.active]="shop.forwardGSheet" (click)="toggleGSheet()">
                    <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                    <span>Ghi dữ liệu qua Google Sheet</span>
                  </div>
                </div>
                <ng-container *ngIf="shop.forwardGSheet">
                  <div class="form-input-wrapper d-flex">
                    <mat-form-field class="form-select user-select">
                      <mat-select #userGooglesheet="ngModel" name="gsheetUser" [(ngModel)]="shop.gSheetUser" 
                      [disabled]="loadingGSheet$ | async" (ngModelChange)="shopChanged()">
                        <mat-option value="" *ngIf="!gsheetUsers || gsheetUsers.length == 0">Không có</mat-option>
                        <mat-option *ngFor="let user of gsheetUsers" value="{{user._id}}">{{user?.profile?.email || "Không có email"}}
                        </mat-option>
                      </mat-select>
                      <i class="fas fa-circle-notch fa-spin" *ngIf="loadingGSheet$ | async"></i>
                      <label [class.floating]="shop.gSheetUser">Người dùng Google Sheet</label>
                    </mat-form-field>
                    <button type="button" class="btn btn-add-user" (click)="connectGooogleSpreadsheet()">
                      <i class="fas fa-user-plus"></i>
                      <span>Thêm người dùng</span>
                    </button>
                  </div>
                  <div class="form-input-wrapper d-flex">
                    <input class="form-input" [(ngModel)]="shop.gSheetId" name="gSheetId" 
                    required (ngModelChange)="shopChanged()">
                    <label class="input-title">ID spreadsheet lưu dữ liệu</label>
                    <button type="button" class="btn btn-view-sheet" (click)="openSpreadsheet()" matTooltip="Xem sheet">
                      <i class="fas fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-add-sheet" (click)="createSpreadsheet($event)" matTooltip="Tạo sheet">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="form-input-wrapper">
                    <input class="form-input" [(ngModel)]="shop.orderSheetName" name="orderSheetName" 
                    required (ngModelChange)="shopChanged()">
                    <label class="input-title">Tên sheet lưu dữ liệu đơn hàng</label>
                  </div>
                  <div class="form-input-wrapper">
                    <input class="form-input" [(ngModel)]="shop.bookingSheetName" name="bookingSheetName" 
                    required (ngModelChange)="shopChanged()">
                    <label class="input-title">Tên sheet lưu dữ liệu booking</label>
                  </div>
                </ng-container>
                <div class="places-wrapper">
                  <div class="title">Chi nhánh</div>
                  <div class="not-found" *ngIf="!shop.places || !shop.places.length">Không có chi nhánh</div>
                  <ng-container *ngIf="shop.places">
                    <div class="place" *ngFor="let place of shop.places; let i = index">
                      <div class="form-input-wrapper name">
                        <div class="prefix">{{i + 1}}</div>
                        <input class="form-input" placeholder="Tên chi nhánh" [(ngModel)]="place.name" 
                        name="place-name-{{i}}" id="place-name-{{i}}" (ngModelChange)="shopChanged()">
                        <button type="button" class="btn-close" (click)="removePlace(i)"><i class="fas fa-times"></i></button>
                      </div>
                      <div class="form-input-wrapper map">
                        <input class="form-input" placeholder="Địa chỉ" [(ngModel)]="place.fullAddress" 
                        name="place-address-{{i}}" id="place-address-{{i}}">
                        <div class="map-wrapper">
                          <agm-map [zoomControl]="false" [streetViewControl]="false" [zoom]="17"
                          [latitude]="place.lat" [longitude]="place.long" [scrollwheel]="false">
                            <agm-marker [latitude]="place.lat" [longitude]="place.long" 
                            [iconUrl]="'assets/img/marker.svg'"></agm-marker>
                          </agm-map>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <button type="button" class="btn btn-add" (click)="addPlace()"><i class="fas fa-plus"></i>Thêm chi nhánh</button>
                </div>
              </div>

            </mat-tab>
            
            <!-- CATEGORY -->
            <mat-tab>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-export" [class.loading]="exportingProducts$ | async" (click)="exportProducts()">
                  <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
                  <span class="text">Xuất mẫu sản phẩm</span>
                </button>
                <input hidden type="file" #fileInput id="file-input" (change)="importFileChanged($event)" name="file"
                accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <button type="button" class="btn btn-export" [class.loading]="importingProducts$ | async" (click)="fileInput.click()">
                  <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
                  <span class="text">Import sản phẩm</span>
                </button>
              </div>
              <div class="spinner-wrapper" *ngIf="!loadProductsDone">
                <mat-spinner [diameter]="30"></mat-spinner>
              </div>
              <ng-container *ngIf="loadProductsDone">
                <!-- <h4 class="category-header">Loại sản phẩm</h4> -->
                <div class="not-found" *ngIf="!categories.length">Chưa có loại sản phẩm nào</div>
                <div class="category-wrapper" *ngIf="categories.length">
                  <div class="category" *ngFor="let category of categories; trackBy: trackByFn; index as i">
                    <div class="name" (click)="editCategoryName($event, category._id)">
                      <i class="far fa-folder-open"></i><span>{{category.name}}</span>
                      <i class="fas fa-arrow-up action ml-auto" [class.disabled]="i == 0" [matTooltip]="'Di chuyển lên'" 
                      (click)="move(i, -1); $event.stopPropagation()"></i>
                      <i class="fas fa-arrow-down action" [class.disabled]="i == categories.length" [matTooltip]="'Di chuyển xuống'" 
                      (click)="move(i, 1); $event.stopPropagation()"></i>
                      <i class="far fa-trash-alt action delete" [matTooltip]="'Xóa loại sản phẩm'" 
                      (click)="removeCategory(category); $event.stopPropagation()"></i>
                    </div>
                    <div class="product-list" cdkDropList (cdkDropListDropped)="drop($event, category)">
                        <div class="product" cdkDrag *ngFor="let product of category.products; let i = index; trackBy: trackByFn">
                          <div class="product-main" (click)="editProduct($event, category, product._id)">
                            <div class="image-container"><div class="image-wrapper cover">
                              <img src="{{product.image}}" onerror="this.src='/assets/img/no-image.svg'"></div></div>
                            <div class="product-info">
                              <div class="product-name">{{product.name}}</div>
                              <div class="product-sub">
                                <div class="product-description" [class.not-found]="!product.description">{{product.description?product.description:'Không có mô tả'}}</div>
                                <div class="product-price">{{product.price | accounting}}</div>
                              </div>
                              <i class="fas fa-times delete" (click)="removeProduct(category, i); $event.stopPropagation()"></i>
                            </div>
                          </div>
                          <div class="product-actions" [class.has-topping]="product.toppings && product.toppings.length">
                            <button class="btn btn-toppings" (click)="openToppings(product)" [matTooltip]="product.toppings.length?
                            'Sản phẩm có ' + product.toppings.length + ' topping':'Tạo topping cho sản phẩm'">
                              <i class="fas fa-plus-circle" *ngIf="!product.toppings.length"></i>
                              <span *ngIf="product.toppings.length">{{product.toppings.length}}</span>
                            </button>
                            <button class="btn btn-duplicate" matTooltip="Nhân bản sản phẩm này" 
                            (click)="duplicateProduct(category, product)">
                              <i class="far fa-copy"></i>
                            </button>
                          </div>
                        </div>
                        <div class="product add" (click)="editProduct($event, category)">
                          <div class="image-container"><i class="fas fa-plus"></i></div>
                          <div class="product-info">Thêm sản phẩm mới</div>
                        </div>
                        <!-- <div class="fas " -->
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-add" (click)="editCategoryName($event)"><i
                  class="fas fa-plus"></i>Thêm loại sản phẩm</button>
              </ng-container>
            </mat-tab>
    
            <!-- ORDER -->
            <mat-tab>
              <div class="order-filter" [style.pointer-events]="loadOrdersDone?'initial':'none'">  
                <!-- <mat-form-field>
                  <mat-label>Từ ngày</mat-label>
                  <input matInput [matDatepicker]="startPicker" (click)="startPicker.open()">
                  <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field> -->
                <mat-form-field>
                  <input matInput [matDatepicker]="startPicker" name="startPicker" (dateChange)="startDateChanged($event)" [(ngModel)]="startDate">
                  <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="endPicker" name="endPicker" (dateChange)="endDateChanged($event)" [(ngModel)]="endDate">
                  <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
                <div class="form-input-wrapper p-0">
                  <input class="form-input pr-5" #startInput [(ngModel)]="startDateText" (focus)="startPicker.open(); startInput.blur()"
                  name="startDate" required>
                  <label class="input-title">Từ ngày</label>
                  <i class="fas fa-times form-input-button" *ngIf="startDateText" (click)="startDate = null; startDateText = ''; loadOrders()"></i>
                </div>
                <div class="form-input-wrapper p-0">
                  <input class="form-input" #endInput [(ngModel)]="endDateText" (focus)="endPicker.open(); endInput.blur()"
                  name="endDate" required>
                  <label class="input-title">Đến ngày</label>
                  <i class="fas fa-times form-input-button" *ngIf="endDateText" (click)="endDate = null; endDateText = ''; loadOrders()"></i>
                </div>
                <button class="btn btn-next" type="button" (click)="isToday?loadOrders(false):toNextDate()">
                  <i class="fas fa-angle-right" *ngIf="!isToday"></i><i class="fas fa-sync-alt" *ngIf="isToday"></i></button>
              </div>

              <div class="spinner-wrapper" *ngIf="!loadOrdersDone">
                <mat-spinner [diameter]="30"></mat-spinner>
              </div>
              <ng-container *ngIf="loadOrdersDone">
                <div class="order-wrapper" (scroll)="onScroll($event)">
                  <div class="not-found" *ngIf="!orders.length">Không có đơn hàng trong ngày đang chọn</div>
                  <div class="order" *ngFor="let order of orders; let i = index; trackBy: trackByFn" (click)="gotoDetailOrder(order)">
                    <div class="order-date">
                      <span class="index"><i class="fas fa-hashtag"></i>{{order.numbering}}</span>
                      <span class="date"><i class="far fa-clock"></i>{{order.createdAt | date:'HH:mm dd/MM/yyyy'}} ({{order.fromNow}})</span>
                    </div>
                    <div class="order-info">
                      <div class="info"><span class="title">Khách hàng: </span><span class="content">{{order.customerInfo.name}} - {{order.customerInfo.phone}}</span></div>                
                      <div class="info"><span class="title">Địa chỉ: </span><span class="content">{{order.address}}</span></div>
                      <div class="info" *ngIf="order.evoucherDiscount?.length">
                        <span class="title">Mã khuyến mãi: </span>
                        <span class="content">{{order.evoucherDiscount[0].code}} - {{EVoucherTypes[order.evoucherDiscount[0].eVoucherType]}}</span>
                      </div>
                      <button class="see-more" (click)="toggleOrderDetails(order)" type="button"><i class="fas fa-angle-down"></i>Xem chi tiết</button>
                    </div>
                    <div class="order-items vertiz" [ngClass]="order.detailsOpened?'expanded-vertiz':'collapsed-vertiz'">
                      <table>
                        <tr>
                          <th>#</th>
                          <th>Tên sản phẩm</th>
                          <th class="text-center">S.lượng</th>
                          <th class="text-right">T.tiền</th>
                        </tr>
                        <tr class="product-row" *ngFor="let product of order.items; let j = index">
                          <td valign="top">{{j + 1}}</td>
                          <td valign="top" class="pl-1">
                            <div>{{product.name}}</div>
                            <div *ngIf="product.toppings && product.toppings.length">{{product.toppingDesc}}</div>
                          </td>
                          <td valign="top" class="text-center">{{product.qty}}</td>
                          <td valign="top" class="text-right">{{product.amount | accounting}}</td>
                        </tr>
                      </table>
                        <!-- <div class="product-list">
                            <div class="image-product">
                              <img src="{{product.image}}" alt="">
                            </div>
                            <div class="product-info">
                              <div class="name">{{product.name}}</div>
                              <div class="sub-info">
                                <div class="qty">x{{product.qty}}</div>
                                <div class="amount">{{product.amount}} đồng</div>
                              </div>
                              </div>
                        </div> -->
                    </div>
                    <div class="order-price">
                      <button type="button" class="btn btn-confirm" type="button" *ngIf="!order.isConfirm" 
                      [class.loading]="confirmingOrders[order._id]" (click)="confirmOrder(i)">
                        <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
                        <span class="text">Xác nhận đơn hàng</span>
                      </button>
                      <div class="confirmed" *ngIf="order.isConfirm"><i class="fas fa-check"></i>Đã xác nhận</div>
                      <div class="total">
                        <div class="subtotal" *ngIf="order.amountOfSaleOff != order.amount">{{order.amountOfSaleOff | accounting}}</div>
                        {{order.amount | accounting}}
                      </div>
                    </div>

                    <!-- <div class="header-card">
                      <div class="avatar">
                        <img src="{{order.subscriber.avatar}}" alt="">
                      </div>
                      <div class="user-info">
                        <div class="name">{{order.customerInfo.name}}</div>
                        <div class="sub-info">
                          <div class="phone">{{order.customerInfo.phone}}</div>
                          <div class="date">2 ngày trước</div>
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="card-body">
                      <div class="address">Địa chỉ: {{order.address || 'Không rõ'}}</div> </div>
                    <div class="card-footer">
                      <div class="qty">
                        x{{order.qty}} sản phẩm
                      </div>
                      <div class="price">
                        {{order.amount}} đồng
                      </div>
                    </div> -->
                  </div>
                  <div class="not-found" style="height: 80px;" *ngIf="orders.length && orders.length >= totalOrders">
                    Không còn đơn hàng nào</div>
                  <div class="spinner-wrapper" *ngIf="progressBar.show"><mat-spinner [diameter]="30"></mat-spinner></div>
                </div>
              </ng-container>
              <!-- <ng-container *ngIf="selectedOrder && !loading">
                  <button class="portal-list-item selected" (click)="gotoOrder()">
                    <div class="name">
                      <i class="fas fa-arrow-left"></i>
                      <span>{{selectedOrder.code}}</span>
                    </div>
                  </button>
                  <div class="order-detail">
                    <div class="card user-info">
                      <div class="col-12">
                        <h4 class="name">
                          {{selectedOrder.customerInfo.name}}
                        </h4>
                      </div>
                      <div class="col-12 sub-info">
                          <i class="fas fa-phone"></i>
                          {{selectedOrder.customerInfo.phone}}
                      </div>
                      <div class="col-12 sub-info">
                          <i class="fas fa-map-marker-alt"></i>
                          {{selectedOrder.address}}
                      </div>
                    </div>
                  </div>
                  <div class="order-detail order-info">
                    <div class="card ">
                      <div class="card-title">
                        Chi tiết đơn hàng
                      </div>
                      <div class="list-product" *ngFor="let product of selectedOrder.items">
                          <div class="image-product">
                              <img src="{{product.image}}" alt="">
                          </div>
                          <div class="product-info">
                              <div class="name">{{product.name}}</div>
                              <div class="sub-info">
                                <div class="qty">x{{product.qty}}</div>
                                <div class="amount">{{product.amount}} đồng</div>
                              </div>
                            </div>
                      </div>
                      <div class="total-amount">
                        Tổng cộng:
                        <span>{{selectedOrder.amount}} đồng</span>
                      </div>
                      <button class="btn btn-add btn-verify-order" (click)="verifyOrder()"><i class="fas fa-check"></i> Xác nhận đơn hàng</button>
                    </div>
                  </div>
              </ng-container> -->
            </mat-tab>
    
            <mat-tab>
    
            </mat-tab>
          </mat-tab-group>
        </form>
    </ng-container>
  </div>
</div>