@import "~customs.scss";

.portal {
  width: 400px;
}

.save-button {
  opacity: 0;
}

.portal-content-block {
  ::ng-deep .mat-tab-group {    
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, 
    "Lucida Grande", sans-serif;
    .mat-tab-header {
      display: none;
    }
    .mat-tab-body {
      padding: 12px 16px;
      overflow: hidden;
      .mat-tab-body-content {
        overflow: hidden
      }
    }
  }
  .btn-add {
    @include btn-primary-background;
    margin: 20px auto 48px;
    padding: 8px 32px;
    font-weight: 500;
  }
  .spinner-wrapper { 
    position: relative;
  }
  .tab-buttons {
    justify-content: center;
    margin-top: 16px;
  }  
}

.not-found {
  height: 100px;
}

.shop-wrapper {
  .shop-name {
    font-size: 20px;
    font-weight: bold;
    color: $grey-dark;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 12px;
    position: relative;
    i {
      margin-left: 6px;
      font-size: 14px;
      opacity: 0;
    }
    &:hover {
      color: $brand-light;
      i {
        opacity: 1;
      }
    }
  }
}

.places-wrapper {
  .title {
    font-weight: 500;
    font-size: 14px;
    color: $grey-dark;
  }
  .place {
    margin-top: 8px;
  }
  .form-input-wrapper {
    .prefix, .btn-close {
      @include flex-center;
      font-size: 14px;
      font-weight: 600;
      background: $grey-white;
      color: $grey;
      width: 40px;
      height: 40px;
      border: 1px solid $grey-light;
    }
    .prefix {
      border-right: 0;
      border-top-left-radius: 2px;
    }
    .btn-close {
      border-left: 0;
      border-top-right-radius: 2px;
      &:hover {
        color: $brand-danger;
      }
    }
    &.name {
      padding-bottom: 0;
      @include flex-align-center;
      > * {
        border-bottom-width: 0.5px;
      }
      input {
        border-radius: 0;
      }
    }
    &.map {
      input {
        border-radius: 0;
        border-top-width: 0.5px;
      }
      .map-wrapper {
        width: 100%;
        height: 0;
        box-sizing: border-box;
        padding-bottom: 40%;
        overflow: hidden;
        position: relative;
        border: 1px solid $grey-light;
        border-top: 0;
        agm-map {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.category-wrapper {
  min-height: 100px;
  padding: 4px 0;
  .category {
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
    .name {
      color: $grey-dark;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      @include flex-align-center;
      position: relative;
      &:hover {
        color: mix($grey-dark, $grey-darker);
      }
      span {
        cursor: pointer;
      }
      i {
        font-size: 13px;
        margin-right: 8px;
        &.action {
          opacity: 0;
          font-size: 12px;
          transition: opacity 0.3s ease-in-out;
          color: $grey-dark;
          cursor: pointer;
          &:hover {
            color: $grey-darker;
            &.delete {
              color: $brand-danger;
            }
          }
        }
        &.disabled {
          color: $grey-mild !important;
          pointer-events: initial;
        }
      }
    }
    &:hover {
      .action {
        opacity: 1 !important;
      }
    }
  }
}

.product-list {
  padding: 0 6px;
}
.product {
  display: flex;
  border-radius: 2px;
  margin-top: 8px;
  position: relative;
  .product-main {
    display: flex;
    border: 1px solid $grey-light;
    cursor: pointer;
    flex: 1 1 auto;
    &:hover {
      border-color: $brand-light;
    }
  }
  .product-actions {
    background: white;
    opacity: 0;
    flex: 0 0 32px;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey-light;    
    margin-left: 6px;
    &.has-topping {
      opacity: 1;
    }
    .btn {
      padding: 0;
      color: $grey-darker;
      width: 32px;
      &:hover {
        color: $brand-light;
      }
    }
    .btn-toppings {
      border-radius: 0;
      height: 32px;
      border-bottom: 1px solid #E0E0E0;
      font-weight: bold;
    }
    .btn-duplicate {
      font-size: 12px;
      flex: 1 1 auto;
    }
  }
  .image-container {
    flex: 0 0 56px;
    width: 56px;   
    border-right: 1px solid $grey-light;   
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
  }
  .product-info {
    background: white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 56px;
    justify-content: space-evenly;
    padding: 8px 12px;
    position: relative;
    .product-name {
      font-weight: 600;
      color: $grey-darker;
      font-size: 15px;
      line-height: 16px;
      padding-right: 10px;
      max-height: 25px;
    }
    .product-sub {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 13px;
      >* {
        align-self: flex-end;
      }
      .product-description {
        color: $grey;
        line-height: 13px;
        max-height: 25px;
        overflow: hidden;
        &.not-found {
          color: $grey-mild;
          font-style: italic;
          height: auto;
          margin: 0;
          font-size: 13px;
        }
      }
      .product-price {
        font-weight: bold;
        color: $brand-primary;
        text-align: right;
        font-size: 16px;
        line-height: 8px;
        padding-left: 4px;
      }
    }
    .delete {
      color: $grey;
      opacity: 0;
      position: absolute;    
      top: 10px;
      right: 12px;
      font-size: 13px;
      cursor: pointer;
      &:hover {
        color: $brand-danger;
      }
    }
  }
  &:hover {
    .delete {
      opacity: 1 !important;
    }
    .product-actions {
      opacity: 1 !important;
    }
  }
  &.add {
    cursor: pointer;
    border: 1px solid $grey-light;   
    color: $grey;
    font-size: 18px;
    .image-container {
      @include flex-center;
    }
    .product-info {
      font-weight: 500;
      font-size: 15px;
    }
    &:hover {
      color: $brand-light;
    }
  }
}

.order-filter {
  @include flex-align-center;
  margin-top: 8px;
  margin-bottom: 16px;
  .btn {
    height: 40px;
    width: 40px;
    @include flex-center;
    background: $grey-white;
    color: $grey;
    border: 1px solid $grey-light;
    border-radius: 0;
    &[disabled] {
      pointer-events: none;
      color: $grey-light;
    }
    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    &:hover {
      color: $brand-light;
    }
  }
  .date {
    color: $grey-darker;
    font-size: 14px;
    height: 40px;
    @include flex-center;
    flex: 1 1 auto;
    border: 1px solid $grey-light;
    border-left: 0;
    border-right: 0;
    position: relative;
    cursor: pointer;
    b {
      font-size: 15px;
      padding-bottom: 2px;
      font-weight: 600;
      margin-right: 6px;
    }
    &:hover {
      color: $brand-light;
    }
  }
  .mat-form-field {
    position: absolute;
    opacity: 0;
    top: 16px;
    left: 0;
    &:nth-child(2) {
      left: 180px;
    }
  }
  .form-input-button {
    @include flex-center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}

.order-wrapper {
  height: calc(100vh - 274px);
  padding-right: 8px;
  @include custom-scrollbar-grey;
  .not-found {
    height: 200px;
  }
  .order {
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.08) !important;
    border: 1px solid #cfcfcf;
    border-bottom-width: 4px;
    margin-bottom: 12px;
    > * {    
      padding: 8px 12px;
    }
    .collapsed-vertiz {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .order-date {
      color: $grey-dark;
      border-bottom: 1px solid $grey-lighter;
      font-size: 14px;
      @include flex-align-center;
      justify-content: space-between;
      i {    
        font-size: 12px;
        margin-right: 3px;
        transform: translateY(-1px);
      }
    }
    .order-info {
      font-size: 14px;
      color: $grey-darker;
      display: flex;
      flex-direction: column;
      .info {
        margin-bottom: 2px;
        .title {
          font-weight: 500;
        }
        .content {
          color: $grey-darkest;
        }
      }
      .see-more {
        text-align: center;
        color: $grey-dark;
        font-size: 13px;
        margin: 2px auto 0;
        background: transparent;
        width: 100%;
        i {
          color: $grey;
          margin-right: 4px;
        }
        &:hover {
          color: $brand-light;
          i {
            color: $brand-light;
          }
        }
      }
    }
    .order-items {
      border-top: 1px solid $grey-lighter;
      table {
        width: 100%;
        font-size: 13px;
        color: $grey-dark;
      }
    }
    .order-price {
      @include flex-align-center;
      justify-content: space-between;
      border-top: 1px solid $grey-lighter;
      .btn-confirm {
        @include btn-primary-background;
        font-size: 14px;
        padding: 8px 24px;
        font-weight: 500;
        border-radius: 2px;
        .spinner-wrapper {
          position: absolute !important;
          height: auto;
          display: none;
        }
        ::ng-deep.mat-spinner {
          svg circle {
            stroke: white;
          }
        }
        &.loading {
          pointer-events: none;
          .text {
            opacity: 0;
          }
          .spinner-wrapper {
            display: inherit;
          }
        }
      }
      .confirmed {
          color: $brand-success;
          font-weight: 500;
        i {
          margin-right: 8px;
          font-size: 14px;
        }
      }
      .total {
        font-size: 16px;
        color: $brand-primary;
        font-weight: bold;
        .subtotal {
          font-size: 14px;
          text-align: right;
          font-weight: 400;
          text-decoration: line-through;
          color: $grey;
        }
      }
    }
  }
}
.user-select {
  flex: 1 1 auto !important;
}
::ng-deep.mat-form-field.form-select {
  min-width: 0;
  background: white;
  flex: 1 1 auto;
	font-size: 14px;
	height: 40px;
  color: $grey;
  border-radius: 2px;
  border: 1px solid $grey-light;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
      background: white;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}
.form-select i {
  position: absolute;
  left: 12px;
  top: 12px;
  color: $brand-light;
}
.btn-view-sheet {
  border-radius: 0;
}
.btn-add-user, .btn-view-sheet, .btn-add-sheet {
  position: relative;
  @include flex-center;
  border: 1px solid $grey-mild;
  background: $grey-lightest;
  color: $grey-darker;
  height: 40px;
  padding: 8px 12px;
  font-size: 13px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
  font-weight: 500;
  i {
    font-size: 12px;
  }
  span {
    margin-left: 4px;
  }
  &:hover {
    color: $brand-light;
  }
}
.product-row {
  border-top: 1px solid $grey-lightest;
}
.btn-export {
  background: $grey-lightest;
  border: 1px solid $grey-mild;
  color: $grey-darker;
  font-size: 13px;
  margin: 4px;
  position: relative;
  i {
    font-size: 12px;
  }
  span {
    margin-left: 4px;
  }
  &:hover {
    color: $brand-light;
  }
  .spinner-wrapper {
    opacity: 0;
    position: absolute;
    height: 100%;
    ::ng-deep.mat-spinner svg circle {
      stroke: $grey;
    }
  }
  &.loading {
      pointer-events: none;
      .spinner-wrapper {
        opacity: 1;
      }
      .text {
        opacity: 0;
      }
  }
}