@import '../../../../../customs.scss';

.case-wrapper {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    &:hover {
        .case-name {
            color: $brand-light;
        }
    }
    .case-name {
        width: 70%;
        color: $grey-dark;
    }
    .case-buttons {
        width: 30%;
        justify-content: flex-end;
        display: flex;
        .case-button {
            color: $grey;
            &.copy:hover {
                color: $amber-300;
            }
            &.delete:hover {
                color: $red-300;
            }
        }
    }
}