<!-- <mat-list-item *ngIf="!readOnly" (click)="postDetail.openCase(case)">
  <a matLine href="javascript:;">{{caseName}}</a>
  <button (click)="postDetail.duplicate(case.id)" class="card-title-btn card-delete-btn" mat-icon-button matTooltip="Sao chép"
    matTooltipPosition="right">
    <i class="fas fa-copy"></i>
  </button>
  <button (click)="postDetail.removeCase(case.id)" class="card-title-btn card-delete-btn" mat-icon-button matTooltip="Xóa"
    matTooltipPosition="right">
    <i class="far fa-trash-alt"></i>
  </button>
</mat-list-item>
<mat-list-item *ngIf="readOnly">
  <span matLine>{{caseName}}</span>
</mat-list-item> -->
<div class="case-wrapper" (click)="readOnly?false:postDetail.openCase(case)">
  <div class="case-name">{{index + 1}} - {{caseName}}</div>
  <div class="case-buttons"> 
    <button (click)="postDetail.duplicate(case.id); $event.stopPropagation()" class="case-button copy button-remove-overlay" 
    mat-icon-button matTooltip="Sao chép" matTooltipPosition="above">
      <i class="fas fa-copy"></i>
    </button>
    <button (click)="postDetail.removeCase(case.id); $event.stopPropagation()" class="case-button delete button-remove-overlay" 
    mat-icon-button matTooltip="Xóa" matTooltipPosition="above">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>
</div>