@import "./../topic-portal.component.scss";

.no-event {
    font-weight: 300;
    color: $grey-mild;
    text-align: center;
    margin: 4px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-wrapper {
    margin-top: 12px;
}

.event-item {    
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    &:hover {
        .event-name {
            color: $brand-light;
        }
    }
    .event-name {
        color: $grey-darker;

    }
    .event-time {
        font-style: italic;
        color: $brand-light;
        font-size: 13px;
    }
    &.open {
        .event-name {
            font-weight: bold;
            color: $brand-primary;
        }
        .event-time {
            color: $brand-primary;
        }
    }
}