<div *ngIf="topicEvents" class="portal-section"> 
  <div class="portal-section-title-wrapper" fxLayout="row">
    <div class="portal-section-title">Sự kiện</div>
    <button class="portal-section-button" (click)="addEvent()" fxFlex="10" [matTooltip]="'Tạo mới'"><i class="fas fa-plus"></i></button>
  </div>
  <p class="not-found" *ngIf="topicEvents.length == 0">Không có sự kiện</p>
  
  <div class="event-wrapper" *ngIf="topicEvents.length > 0">
    <div class="event-item" color="primary" *ngFor="let event of topicEvents" (click)="openEvent(event)">
      <div class="event-name"> {{event.name}}</div>
      <span class="event-time">{{event.eventSchedule | date: 'dd/MM/yyyy HH:mm'}}</span>
    </div>
  </div>
</div>
<mat-divider></mat-divider>