<h2 class="dialog-title">Thay đổi JSON</h2>
<json-editor [options]="jsonEditorConfig" [(data)]="data"></json-editor>
<div class="bottom-btn-group">
<button mat-raised-button color="primary" class="btn-confirm btn btn-md" (click)="onYesClick()" 
[ngClass]="data.confirmButtonClass" [disabled]="hasError">Xác nhận</button>
</div>