::ng-deep json-editor {
    ::ng-deep >* {
        padding: 0 24px 24px;
    }
}

.mat-dialog-container {
    padding: 24px;
}

.dialog-title {
    margin: 0 0 12px;
}


.bottom-btn-group {
    margin: 0 -24px -24px;
}