<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button *ngIf="selectedWheel" mat-button class="save-button" [class.fade-in]="showSave" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="selectedWheel && saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <div class="spinner-wrapper" *ngIf="loadDone && loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="ml-2 icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId" [class.has-footer]="loadDone && !selectedWheel && wheels?.length">
    <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
    <div class="no-content" *ngIf="loadDone && !wheels?.length && !selectedWheel">
      <div class="no-content-text">
        Chưa có vòng quay nào 
      </div>
      <button class="btn-create button-remove-overlay" mat-button color='primary' (click)="addWheel($event, true)">
        Tạo vòng quay mới
      </button>
      <button class="btn-create button-remove-overlay mt-0" mat-button color='primary' (click)="file.click()">
        Import mẫu vòng quay
      </button>
      <button class="btn-download mt-0" (click)="downloadTemplate()">
        Tải mẫu import vòng quay
      </button>
    </div>
    <ng-container *ngIf="!selectedWheel">
      <button class="portal-list-item" *ngFor="let wheel of wheels | nameFilter:filter; let i = index; trackBy: trackByFn" (click)="openWheel(wheel)">
        <div class="name">
          <i class="numbering">{{i + 1}}</i>
          <span>{{wheel.name}}</span>
        </div>
        <div class="action-buttons">
          <button class="btn-action" [matTooltip]="'Đổi tên'" 
          (click)="editName($event, wheel); $event.stopPropagation()"><i class="far fa-edit"></i></button>
          <button class="btn-action" [matTooltip]="'Sao chép'" 
          (click)="copy(wheel); $event.stopPropagation()"><i class="far fa-copy"></i></button>
          <button class="btn-action" [matTooltip]="'Xóa'" 
          (click)="remove(wheel); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
        </div>
      </button>
    </ng-container>
    <ng-container *ngIf="selectedWheel">
      <button class="portal-list-item selected" (click)="openWheel()">
        <div class="name">
          <i class="fas fa-arrow-left"></i>
          <span>{{selectedWheel.name}}</span>
        </div>
        <div class="action-buttons show">
          <button class="btn-action" [matTooltip]="'Đổi tên'" 
          (click)="editName($event, selectedWheel); $event.stopPropagation()"><i class="far fa-edit"></i></button>
          <button class="btn-action" [matTooltip]="'Sao chép'" 
          (click)="copy(selectedWheel); $event.stopPropagation()"><i class="far fa-copy"></i></button>
          <button class="btn-action" [matTooltip]="'Xóa'" 
          (click)="remove(selectedWheel); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
        </div>
      </button>

      <div class="tab-buttons">
        <button class="btn btn-tab" [class.active]="tabIndex == 0"
        (click)="changeTab(0)">Giao diện</button>
        <button class="btn btn-tab" [class.active]="tabIndex == 1"
        (click)="changeTab(1)">Phần thưởng</button>
        <button class="btn btn-tab" [class.active]="tabIndex == 2"
        (click)="changeTab(2)">Kết quả</button>
      </div>

      <form>
        <mat-tab-group [selectedIndex]="tabIndex" [style.pointer-events]="submitting?'none':''">
          <mat-tab>
            <ng-container *ngFor="let config of configs">
              <ng-container *ngIf="config.type == 'image'">
                <div class="title-text d-flex justify-content-between">
                  <span class="title">{{config.display}}</span>
                  <button class="btn" *ngIf="config.property=='wheelImage'" (click)="openWheelGenerator()">Tự tạo thiết kế vòng quay</button>
                </div>
                <app-card-image [imageSrc]="selectedWheel.config[config.property]" (sourceChanged)="onImageSourceChanged($event, config.property)" [imageRatio]="config.ratio"
                (uploadingChanged)="onUploading($event, config.property)"></app-card-image>
              </ng-container>
              <ng-container *ngIf="config.type=='color' || config.type=='input' || config.type=='number'">
                <div class="form-input-wrapper">
                  <div class="input-title">
                    <span>{{config.display}}</span>
                  </div>
                  <input class="form-input" [(ngModel)]="selectedWheel.config[config.property]" type="{{config.type=='number'?'number':'text'}}"
                  name="{{config.type}}" (ngModelChange)="dataChanged()">
                </div>
              </ng-container>
            </ng-container>
          </mat-tab>        
          <mat-tab>
            <div class="form-input-wrapper gift-rate">
              <input class="form-input" type="number" [(ngModel)]="selectedWheel.successRatio" name="ratio" (ngModelChange)="dataChanged()" required>
              <label class="input-title">Tỉ lệ thắng quà (%)</label>
            </div>
            <div cdkDropList [cdkDropListData]="selectedWheel.gifts" (cdkDropListDropped)="drop($event)" *ngIf="selectedWheel.gifts.length">
              <div class="gift-wrapper" *ngFor="let gift of selectedWheel.gifts; let i = index" cdkDragLockAxis="y" cdkDrag>
                <div class="gift-toolbar" cdkDragHandle>
                  <span class="numbering">{{i + 1}}</span>
                  <span class="subtext"> - Đã sử dụng: {{gift.used}}</span>
                  <i class="fas fa-undo-alt" [matTooltip]="'Reset sử dụng'" (click)="resetGiftUsage(gift)" [hidden]="!gift.used"></i>
                  <i class="fas fa-edit" [matTooltip]="'Ghi chú'" (click)="editDesc($event, gift)"></i>
                  <i class="fas fa-arrow-up" *ngIf="i!=0" (click)="moveGift(i, i - 1)"></i>
                  <i class="fas fa-arrow-down" *ngIf="i!=selectedWheel.gifts.length-1" (click)="moveGift(i, i + 1)"></i>
                  <i class="fas fa-times" (click)="removeGift(i)"></i>
                </div>
                <div class="gift-main">
                  <div class="gift-image">
                    <app-card-image [imageSrc]="gift.image" (sourceChanged)="onImageSourceChanged($event, 'image', i)" [imageRatio]="'square'"
                    (uploadingChanged)="onUploading($event, config.property, i)"></app-card-image>
                  </div>
                  <div class="gift-info">
                    <div class="form-input-wrapper">
                      <input class="form-input" [(ngModel)]="gift.name" name="name-{{i}}" (ngModelChange)="dataChanged()" required>
                      <label class="input-title">Tên phần thưởng</label>
                    </div>
                    <div class="gift-code">
                      <div class="form-input-wrapper">
                        <input class="form-input" [(ngModel)]="gift.code" name="code-{{i}}" (ngModelChange)="dataChanged()" required>
                        <label class="input-title">Mã thưởng</label>
                      </div>            
                      <mat-form-field class="form-select" [floatLabel]="'never'">
                        <mat-select [(ngModel)]="gift.type" name="type-{{i}}" (ngModelChange)="dataChanged()">
                          <mat-option [value]="'gift'">Quà</mat-option> 
                          <mat-option [value]="'miss'">Thua</mat-option> 
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="gift-amount">        
                      <div class="form-input-wrapper">
                        <input class="form-input" [(ngModel)]="gift.amount" name="amount-{{i}}" [disabled]="gift.type=='miss'" (ngModelChange)="dataChanged()" required>
                        <label class="input-title">Số lượng</label>
                      </div>
                      <div class="form-input-wrapper">
                        <input class="form-input" [(ngModel)]="gift.limit" name="limit-{{i}}" [disabled]="gift.type=='miss'" (ngModelChange)="dataChanged()" required>
                        <label class="input-title">Giới hạn</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-add-gift" (click)="addGift()"><i class="fas fa-plus"></i>Thêm phần thưởng</button>
          </mat-tab>
          <mat-tab>
            <div class="spinner-wrapper relative" *ngIf="loadingResult"><mat-spinner [diameter]="30"></mat-spinner></div>
            <ng-container *ngIf="!loadingResult && wheelResults">
              <div class="no-content" *ngIf="!wheelResults?.length">
                <div class="no-content-text">
                  Chưa có kết quả nào
                </div>
                <button class="btn btn-refresh" (click)="refreshResult()">
                  <i class="fas fa-sync-alt"></i>Refresh
                </button>
              </div>
              <ng-container *ngIf="wheelResults?.length">
                <div class="wheel-result-toolbar">
                  <div><button class="btn btn-result" (click)="exportCSV()"><i class="fas fa-file-csv"></i>Xuất CSV ({{totalWheelResult}} người)</button></div>
                  <div>
                    <button class="btn btn-result" (click)="refreshResult()" [matTooltip]="'Refresh'"><i class="fas fa-sync-alt"></i></button>
                    <button class="btn btn-result" (click)="removeAllResults()" [matTooltip]="'Xóa hết kết quả'"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </div>
                <div class="wheel-result-item" *ngFor="let res of wheelResults">
                  <div class="wheel-result-subscriber" *ngIf="res.subscriber">
                    <div class="image-wrapper circle"><img src="{{res.subscriber.messengerProfile.profile_pic}}"  onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
                    <div class="name">
                      <div class="text">{{res.subscriber.messengerProfile.name}} - {{res.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}</div>
                      <div class="subtext">{{selectedWheel.gifts[res.giftIndex]?(selectedWheel.gifts[res.giftIndex].name + 
                        (selectedWheel.gifts[res.giftIndex].code?(' - ' + selectedWheel.gifts[res.giftIndex].code):'')):''}}</div>
                    </div>
                    <button class="btn btn-remove" (click)="removeResult(res)"><i class="fas fa-times"></i></button>
                  </div>
                </div>

                <div class="wheel-result-loadmore" *ngIf="(wheelResults.length < totalWheelResult)" (click)="loadMoreWheelResult()">
                  <div class="name" *ngIf="!loadingMore">Tải thêm (còn {{totalWheelResult - wheelResults.length}} khách hàng)</div>
                  <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="20"></mat-spinner></div>
                </div>
              </ng-container>
            </ng-container>
          </mat-tab>    
        </mat-tab-group>
      </form>
    </ng-container>
  </div>
  <div class="portal-footer" [class.portal-footer-display]="loadDone && !selectedWheel && wheels?.length">
    <input class="form-input" [(ngModel)]="filter" placeholder="Lọc vòng quay">    
    <input type="file" hidden accept=".xlsx" #file (change)="fileChanged($event)">
    <button mat-button class="btn-grey" (click)="file.click()" matTooltip="Import mẫu vòng quay" matTooltipPosition="above">
      <i class="fas fa-file-import"></i></button>
    <button mat-button class="btn-grey" (click)="downloadTemplate()" matTooltip="Tải mẫu import vòng quay" matTooltipPosition="above">
      <i class="fas fa-file-export"></i></button>
    <button mat-button class="btn-grey" (click)="reload(false)" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button class="btn-blue" mat-raised-button color="primary" matTooltipPosition="above"
      (click)="addWheel($event)">
      <i class="fas fa-plus-circle"></i><span>Tạo vòng quay</span>
    </button>
  </div>
</div>