@import "~customs.scss";

.portal {
    width: 350px;
}

.save-button {
    opacity: 0;
}

.tab-buttons {
    margin: 12px 0;
    justify-content: center;
}

::ng-deep.mat-form-field.form-select {
	min-width: 0;
	width: 100px;
	flex: 0 0 100px;
	font-size: 14px;
	height: 40px;
	color: $grey;
	border-top: 1px solid $grey-light;
	border-bottom: 1px solid $grey-light;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.portal-content-block {
    ::ng-deep.mat-tab-group {
        ::ng-deep.mat-tab-header {                
            display: none;
        }
        ::ng-deep.mat-tab-body {
            padding: 0 12px;
            ::ng-deep.mat-tab-body-content {
                overflow-y: hidden;
                position: relative;
            }
        }
    }
    ::ng-deep app-card-image {
        .image-wrapper {
            border: 1px solid $grey-lighter;
            border-radius: 2px;
            margin-bottom: 12px;
        }
    }
}

.title-text {
    margin-bottom: 4px;
    .btn {
        padding: 0;
        font-weight: bold;
        font-size: 12px;
        text-decoration: underline;
        margin-left: auto;
        margin-bottom: 3px;
        color: $grey-dark;
        &:hover {
            color: $brand-light;
        }
    }
    .title {
        color: $grey;
        font-size: 14px;
        padding-left: 6px;
        padding-bottom: 6px;
        font-weight: 500;
    }
}

.no-item {
    text-align: center;
    color: $grey;
    font-weight: 300;
    font-size: 14px;
    padding: 100px 0;
}

.btn-download {
    padding: 0;
    color: $grey-darker;
    text-decoration: underline;
    border: 0;
    padding: 0;
    background: 0;
    &:hover {
        color: $brand-primary;
    }
}

.btn-add-gift {
    @include btn-primary-background;
    margin: 12px auto;
    padding: 8px 32px;
    font-weight: 500;
}

.gift-rate {
    width: 50%;
    margin: 8px auto;
}

.gift-wrapper {
    margin-bottom: 12px;
    // animation: slide-up-slightly 0.3s ease-in-out;
    background: white;
    position: relative;
    .gift-toolbar {
        @include flex-align-center;
        margin-bottom: 4px;
        color: $grey;
        font-size: 15px;
        .numbering {
            color: $grey-dark;
            font-weight: 500;
            cursor: move;
        }
        .subtext {
            flex: 1 1 auto;
            font-weight: 400;
            padding-left: 4px;
            cursor: move;
        }
        i {
            margin-left: auto;
            cursor: pointer;
            margin-right: 12px;
            font-size: 12px;
            margin-bottom: 2px;
            &:hover {
                color: $grey-dark;
            }
            &:last-child {
                padding-left: 8px;
                border-left: 1px solid $grey-lighter;
            }
        }
    }
    .gift-main {
        display: flex;
        .gift-image {
            flex: 0 0 50%;
            padding-right: 12px;
        }
        .gift-info {
            flex: 0 0 50%;
            .gift-code {
                display: flex;
                ::ng-deep.form-select {
                    flex: 0 0 68px;
                    width: 68px;
                    border-right: 1px solid $grey-light;
                }
            }
            .gift-amount {
                display: flex;
                .form-input-wrapper {
                    flex: 0 0 50%;
                    width: 50%;
                }
            }
        }
    }
}

.wheel-result-toolbar {
    @include flex-align-center;
    justify-content: space-between;
    .btn-result {
        border: none;
        background: transparent;
        color: $grey;
        font-size: 14px;
        padding: 4px 6px;
        margin-bottom: 4px;
        display: inline-block;
        i {
            margin-right: 6px;
            font-size: 12px;
        }
        &:hover {
            color: $brand-light;
        }
    }
}
.wheel-result-item {
    padding: 8px 4px;
    .wheel-result-subscriber {
        @include flex-align-center;
        .image-wrapper {
            flex: 0 0 32px;
            width: 32px;
            padding-bottom: 32px;
            border-radius: 50%;
        }
        .name {
            flex: 1 1 auto;
            padding-left: 12px;
            color: $grey-darker;
            font-size: 14px;
            .text {                
                white-space: pre-wrap;
                font-size: 12px;
                font-weight: 500;
            }
            .subtext {
                color: $grey-dark;
                font-size: 13px;
                font-weight: 600;
            }
        }
        .btn-remove {
            width: 32px;
            height: 32px;
            padding: 0;
            cursor: pointer;
            @include flex-center;
            opacity: 0;
            color: $grey;
            &:hover {
                color: $grey-dark;
            }
        }
        &:hover {
            .btn-remove {
                opacity: 1;
            }
        }
    }
}

.no-content {
    min-height: 300px;
    font-size: 14px;
    .btn-refresh {
        font-size: 15px;
        padding: 12px;
        color: $grey;
        cursor: pointer;
        i {
            margin-right: 8px;
        }
        &:hover {
            color: $brand-light;
        }
    }
}
 .wheel-result-loadmore {
  color: $grey;
  cursor: pointer;
  @include flex-align-center;
  font-size: 13px;
  font-weight: 500;
  animation: emerge 0.3s ease-in-out;    
  padding: 8px 8px 20px;
  &:hover {
      color: $brand-light;
  }
  .spinner-wrapper {        
      width: 100%;
      height: 20px;
      position: relative;
  }
}