@import "~customs.scss";

.toolbar {
    padding: 0px !important;
    background: $brand-primary !important;
    z-index: 100;
}

.logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    background-color: transparent;
    transition: all 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    img {
        width: 40px;
        height: 40px;
    }
    i {
        color: white;
        font-size: 24px;
    }
    &:hover {
        background-color: $brand-dark;
    }
}

.app-avatar {
    padding: 4px;
    box-sizing: content-box;
    width: 44px;
    height: auto;
    flex-shrink: 0;
    .image-wrapper {
        display: block;
        width: 100%;
        padding-bottom: 40px;
        border: 2px solid white;
        border-top-width: 2.5px;
        border-right-width: 2.5px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.app-title {
    height: 48px;
    width: 285px;
    padding: 0px 8px;
    .app-name {
        font-size: 18px;
        height: auto;
        line-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .app-page {
        display: block;
        height: auto;
        line-height: 16px;
        font-size: 11px;
        color: lighten($brand-light, 25%);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        i {
            margin-right: 4px;
        }
    }
}

.menu-expanded {
    width: 250px;
    .btn-selection {
        justify-content: flex-start;
        padding-left: 20px;
        i {            
            margin-right: 12px;
        }
    }
}
.menu-collapsed {
    width: 64px;
    .btn-selection {
        justify-content: center;
    }
}

.left-selection-list {
    box-sizing: border-box;
    padding-top: 8px;
    height: calc(100% - 48px);
    overflow: hidden;
    outline: none;
    @include custom-scrollbar-grey;
    .btn-selection {
        width: 100%;
        height: 48px;
        border-left: 4px solid transparent;
        border-radius: 2px;
        i {
            font-size: 18px;
            color: $bluegrey-light;
        }
        span {
            color: $bluegrey-light;
            font-size: 15px;
            position: absolute;
            left: 64px;
        }
        &.active {
            border-color: $brand-light;
            i, span {
                color: $brand-light;
            }
        }
        &:hover:not(.active) {
            i, span {
                color: $bluegrey-mild;
            }
        }
    }
}

.btn-expand {
    width: 100%;
    justify-content: flex-end;
    padding-right: 24px;
    height: 48px;
    margin-top: auto;
    border-top: 1px solid $grey-light;
    i {
        color: $grey;
        font-size: 18px;
        transition: all 0.5s ease-in-out;
        &.spin-around {
            transform: rotate(180deg);
        }
    }
}

.sidenav-container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease;
    .pos-left-side {
        border-right: 1px solid $grey-light;
        overflow: hidden;
        transition: width 0.4s ease;
    }
    .pos-right-side {
        border-left: 1px solid $grey-lighter;
        transition: width 0.4s ease;
        width: 250px;
        
    }
}
.pos-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    transition: all 0.3s ease;
    .pos-right-side {
        width: 64px;
        .mat-nav-list {
            padding: 0px;
        }
        .mat-divider {
            margin: auto;
            width: 75%;
            border-top-color: $grey-lighter;
        }
        .mat-list-item {
            height: 50px !important;
            width: 100%;
            ::ng-deep.mat-list-item-ripple {
                display: none;
            }
            ::ng-deep.mat-list-item-content {
                padding: 0px;
                @include flex-center;
            }        
            .mat-progress-spinner {
                position: absolute;
                bottom: 4px;
            }
            .mat-spinner {
                z-index: 0;
            }
            &:first-child {
                margin-top: 8px;
            }
            &:last-child {
                margin-top: 8px;
            }
            i {
                font-size: 20px; 
                color:$grey-dark;
                transition: color 0.3s ease-in-out;
            }
            img {
                width: 30px;
                transition: color 0.3s ease-in-out;
            }
            &:hover {
                background: transparent;
                i {
                    color: $brand-primary;
                }
                img {
                    filter: brightness(90%);
                }
            }
        }
    }
    #chat-frame {
        width: 100%;
        height: 100%;
    }
    
}

.app-tools {
    position: fixed;
    right: -210px;
    top: 350px;
    z-index: 100;
    display: flex;
    transition: all 0.3s ease-in-out;
    &.active {
        right: 0;
        .btn-tools {
            opacity: 0;
            transform: scaleX(0);
            box-shadow: none;
        }
        .tools-wrapper {
            box-shadow: -1px 0 4px rgba(0, 0, 0, 0.15);
        }
    }
    .btn-tools {
        transform-origin: right center;
        background: white;
        color: $grey;
        width: 40px;
        height: 40px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: -1px 0 4px rgba(0, 0, 0, 0.15);
        transition: inherit;
        &:hover {
            color: $brand-light;
        }
    }
    .tools-wrapper {
        transition: inherit;
        background: white;
        width: 200px;
        box-sizing: content-box;
        padding: 5px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        .tool-title {
            color: $grey;
            padding: 4px 8px;
            width: 100%;
            font-weight: 500;
            font-size: 15px;
            cursor: pointer;
            i {
                margin-right: 8px;
            }
            .mat-icon {                
                position: absolute;
                right: 8px;
                &:hover {
                    color: $grey-dark;
                }
            }
        }
        .tool-item-container {
            padding: 5px;
            box-sizing: content-box;
            width: 90px;
            height: 90px;
            &.full {
                width: 100%;
                .tool-item {
                    flex-direction: row;
                    text-align: left;
                    img {
                        width: 32px;
                        margin-right: 8px;
                        opacity: 0.9;
                    }
                }
            }
        }
        .tool-item {
            padding: 12px;
            width: 100%;
            height: 100%;
            flex-direction: column;
            background: $grey-lighter;
            color: $grey;
            font-weight: bold;
            @include flex-center;
            transition: none;
            i {
                font-size: 20px;
                margin-bottom: 4px;
            }
            span, div {                
                font-size: 12px;
            }
            .subtext {
                color: $grey;
                font-weight: 400;
                font-size: 11px;
            }
            &:hover {
                color: $brand-light !important;
                img {
                    opacity: 1 !important;
                }
                .subtext {
                    color: $brand-light !important;
                }
            }
        }
    }
}

.float-button {
    #main-float{
        position:fixed;
        width:36px;
        height:36px;
        bottom: 12px;
        right: 4px;
        background-color:#fff;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
        z-index:1000;   
        @include flex-center;
        &:hover {
            i {
                color: $brand-primary;
            }
        }
    }
    ul{
        position:fixed;
        right: 4px;
        bottom: 48px;
        z-index: 100;
        padding: 2px;
        margin: 0;
    }
    
    ul li{
        list-style:none;
        margin-bottom:8px;
    }
    
    ul li a{
        @include flex-center;
        background-color: #fff;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
        width:32px;
        height:32px;
        margin-bottom: 12px;
        &:hover {
            i {
                color: $brand-primary;
            }
        }
    }
    
    ul:hover{
        visibility:visible!important;
        opacity:1!important;
    }
    .my-float{
        font-size: 14px;
        color: $grey;
    }
    a#main-float + ul{
        visibility: hidden;
    }
    
    a#main-float:hover + ul{
        visibility: visible;
        animation: slide-up 0.5s;
    }
}

.portal-tab-group {
    height: 100%;
    width: 50%;
    flex: 50%;
    ::ng-deep .mat-tab-header {
        height: 100%;
        background: transparent;
        ::ng-deep.mat-ink-bar {
            height: 3px !important;
            background-color: $amber-A100;
        }
        .mat-tab-labels {
            height: 100%;
            .mat-tab-label {
                height: 64px;
                width: 180px !important;
            }
        }
        .mat-tab-label-active {    
            background-color: rgba(144, 202, 249, 0.3);
            opacity: 1;
        }
        .mat-tab-header-pagination {
            background-color: #2ba8d6 !important;
        }
    }
    .tab-label {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        -webkit-flex-direction: column;
        .tab-name {
            font-weight: bold;
        }
        .tab-subtitle {
            font-weight: normal;
            color: lighten($brand-light,20%);
            font-size: 11px;
            text-align: center;
            margin-top: -15px;
        }
    }
}

.notification-menu {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 280px;
    height: 320px;
    background: white;
    transition: opacity 0.3s ease-in-out;
    z-index: 100;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    &.open {
        opacity: 1;
        pointer-events: all;
    }
    .notification-wrapper {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .task-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 8px;
        border-bottom: 1px solid $grey-lighter;
        padding: 16px 0px;
        .task-state {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 32px;
                height: 100%;
                color: $amber-300;
                display: flex;
                justify-content: center;
                align-items: center;
                &.failed {
                    color: $brand-danger;
                }
                &.complete {
                    color: $brand-success;
                }
            }
            .mat-progress-spinner { 
                ::ng-deep circle {
                    transition: stroke-dashoffset 225ms linear, stroke 0.3s ease-in-out !important;
                }
            }
        }
        .task-info {
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
            .task-title {
                margin: 0px;
                width: 100%;
                font-weight: bold;
                font-size: 14px;
                color: $amber-300;
                &.failed {
                    color: $brand-danger;
                }
                &.complete {
                    color: $brand-success;
                }
            }
            .task-date {
                margin: 0px;
                width: 100%;
                color: $grey;
                font-size: 13px;
                margin-top: 4px;
            }
        }
    }
    .mat-button {
        width: 100%;
        margin: 0px;
        color: $brand-primary;
        position: relative;
        cursor: pointer;
        i {
            margin-left: 8px;
        }
        .mat-progress-bar {
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
        }
    }
}
