<mat-toolbar class="toolbar" color="primary">
  <a class="logo" [routerLink]="['/apps']">
    <!-- <img src='assets/img/logo-white.svg'> -->
    <i class="fas fa-home"></i>
  </a>
  <div class="app-avatar">
    <a href="{{'https://m.me/' + page?.pageId}}" rel="noopener" target="_blank" class="image-wrapper circle">
      <img src="{{page?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"></a>
  </div>
  <div class="app-title">
    <div class="app-name">{{app.name}}</div>
    <a class="app-page" href="{{'https://m.me/' + page?.pageId}}" rel="noopener" target="_blank">
      <i class="fab fa-facebook-messenger"></i>{{page?.name}}</a>
    <a class="app-page" href="{{liveChatUrl}}" rel="noopener" target="_blank">
      <i class="fas fa-comment-alt"></i>Mở LiveChat</a>
  </div>

  <mat-tab-group [selectedIndex]="activePortalIndex" class="portal-tab-group" *ngIf="portalContainer" backgroundColor="primary"
    (focusChange)="selectPortal($event)">
    <mat-tab *ngFor="let p of portalContainer.portals">
      <ng-template mat-tab-label>
        <div class="tab-label">
          <div class="tab-name">{{p.portalName | slice:0:20}}</div>
          <div class="tab-subtitle" *ngIf="p.portalName && p.subName">{{p.subName}}</div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <app-notification></app-notification>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #leftSidebar class="pos-left-side menu-expanded" mode="side" opened="false" position="start">
    <div class="left-selection-list">
      <button class="btn btn-selection" *ngFor="let menu of menuList" [class.active]="mode==menu.code" (click)="selectMenu(menu.code)">
        <i class="left-menu-icon" [ngClass]="menu.icon"></i>
        <span class="menu-text">{{ menu.display }}</span>
      </button>
    </div>
    <button class="btn btn-expand" (click)="openDrawer()">
      <i [ngClass]="leftSidebarExpanded?'spin-around':''" class="fas fa-chevron-right"></i>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
  <mat-sidenav-container class="pos-container">
    <mat-sidenav class="pos-left-side menu-collapsed" mode="side" *ngIf="!leftSidebarExpanded" opened="true" position="start">
      <div class="left-selection-list">
        <button class="btn btn-selection" *ngFor="let menu of menuList" [class.active]="mode==menu.code" (click)="selectMenu(menu.code)"
          [matTooltip]="menu.display" matTooltipPosition="right" [hidden]="chatbotApi.chatbotAuth.user.rule == 'read' && !menu.readPermission">
          <i class="left-menu-icon" [ngClass]="menu.icon"></i>
        </button>
      </div>
      <button class="btn btn-expand" (click)="openDrawer()">
        <i [ngClass]="leftSidebarExpanded?'spin-around':''" class="fas fa-chevron-right"></i>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>

        <div class="app-tools" [class.active]="toolsExpanded">
          <button class="btn btn-tools" matTooltip="Công cụ" matTooltipPosition="left" (click)="toolsExpanded = true"><i class="fas fa-sliders-h"></i></button>
          <div class="tools-wrapper row m-0">
            <div class="tool-title" (click)="toolsExpanded=false">
              <i class="fas fa-sliders-h"></i>Công cụ
              <mat-icon>close</mat-icon>
            </div>
            <div class="tool-item-container" *ngIf="chatbotApi.chatbotAuth.user.rule != 'read'">
              <button class="btn tool-item" (click)="resetTestData()">
                <i class="fas fa-redo-alt"></i><span>Reset dữ liệu tester</span>
              </button>
            </div>
            <div class="tool-item-container">
              <button class="btn tool-item" (click)="openChatpluginPortal()">
                <i class="fab fa-facebook-messenger"></i><span>Messenger Chat</span>
              </button>
            </div>
            <div class="tool-item-container full" *ngIf="!appStatus && chatbotApi.chatbotAuth.isOwner">
              <button class="btn tool-item" (click)="publishToggled()">
                <img src="/assets/img/bot-off.png"/>
                <div> <div>Bật chatbot</div> <div class="subtext">Mở lại các hoạt động của chatbot trên fanpage</div></div>
              </button>
            </div>
            <div class="tool-item-container full" *ngIf="appStatus && chatbotApi.chatbotAuth.isOwner">
              <button class="btn tool-item" (click)="publishToggled()">
                <img src="/assets/img/bot-on.png"/>
                <div> <div>Tắt chatbot</div> <div class="subtext">Ngưng mọi hoạt động của chatbot trên fanpage</div></div>
              </button>
            </div>
          </div>
        </div>

        <div class="float-button">
          <a id="main-float" matTooltip="Trợ giúp" matTooltipPosition="left">
            <i class="fas fa-info my-float"></i>
          </a>
          <ul>
            <li>
              <a href="https://www.facebook.com/MCOM-Solutions-939433369560280/" target="_blank" matTooltip="Fanpage MCOM" matTooltipPosition="left">
                <i class="fab fa-facebook-f my-float"></i>
              </a>
            </li>
            <li>
              <a href="mailto:mcommerce.ecosystem@gmail.com" target="_blank" matTooltip="Gửi email" matTooltipPosition="left">
                <i class="fas fa-envelope my-float"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/groups/532990733752458/" target="_blank" matTooltip="Cộng đồng MCOM" matTooltipPosition="left">
                <i class="fas fa-users my-float"></i>
              </a>
            </li>
          </ul>
        </div>
      <!-- </mat-sidenav> -->

      <app-portal-container #portalContainer></app-portal-container>

      <div class="notification-menu mat-elevation-z2" [ngClass]="openNotificationMenu?'open':''">
        <div class="notification-wrapper notify custom-scrollbar">
          <div class="notify task-wrapper" *ngFor="let t of tasks; let i = index" [matTooltip]="t.content"
            matTooltipPosition="before">
            <div class="notify task-state alternate-theme">
              <mat-progress-spinner class="notify" [mode]="'determinate'" [value]="taskProgress[i]" [color]="taskProgress[i] > 80?'primary':'accent'"
                [diameter]="32" *ngIf="t.processState === 'running'"></mat-progress-spinner>
              <i class="notify failed fas fa-times-circle" *ngIf="t.processState === 'failed'"></i>
              <i class="notify complete fas fa-check-circle" *ngIf="t.processState === 'complete'"></i>
            </div>
            <div class="notify task-info">
              <p class="notify task-title" [ngClass]="t.processState">{{t.title}}</p>
              <!-- <p class="notify task-content">{{ t.content }}</p> -->
              <p class="notify task-date">{{ t.updatedAt | date: 'dd/MM/yyyy hh:mm aa' }}</p>
            </div>
          </div>
          <button mat-button class="notify" (click)="loadTask(); $event.stopPropagation()">
            Tải thêm
            <i class="fas fa-chevron-down">
              <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingTasks"></mat-progress-bar>
            </i>
          </button>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>