<form #myFrm="ngForm">
  <div fxLayout="row" fxLayoutAlign="none" style="margin: 4px 0">
    <mat-checkbox
      [(ngModel)]="case.isSendOnlyParentComment"
      name="isSendOnlyParentComment"
      labelPosition="end"
      fxFlex="100%"
    >
      Chỉ bắt Comment trên cùng
    </mat-checkbox>
  </div>
  <div fxLayout="row" fxLayoutAlign="none" style="margin: 4px 0">
    <mat-checkbox [(ngModel)]="case.isCheckReaction" name="isCheckReaction" labelPosition="end" fxFlex="100%">
      Yêu cầu biểu tượng cảm xúc
    </mat-checkbox>
  </div>
  <div fxLayout="row" fxLayoutAlign="none" style="margin: 4px 0">
    <mat-checkbox [(ngModel)]="case.isHideUserComment" name="isHideUserComment" align="end" fxFlex="100%">
      Ẩn bình luận của người dùng
    </mat-checkbox>
  </div>
  <div fxLayout="row" fxLayoutAlign="none" style="margin: 4px 0">
    <mat-checkbox [(ngModel)]="case.isCheckCount" name="isCheckCount" align="end" fxFlex="100%">
      Tùy chỉnh số lượng
    </mat-checkbox>
  </div>
  <mat-form-field class="text-input-field" [hidden]="!case.isCheckReaction">
    <mat-select placeholder="Cảm xúc" multiple [(ngModel)]="case.reactionRequires" name="reactionRequires">
      <mat-option *ngFor="let reaction of reactions" [value]="reaction">{{ reaction }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="text-input-field">
    <input
      type="number"
      #priorityControl="ngModel"
      [(ngModel)]="case.priority"
      name="priority"
      matInput
      placeholder="Độ ưu tiên"
      required
    />
    <mat-hint align="end">0 là ưu tiên nhất và giảm dần khi số này cáng lớn</mat-hint>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="none" [hidden]="!case.isCheckCount">
    <mat-form-field class="text-input-field" fxFlex="50" [floatLabel]="'always'">
      <input type="number" matInput placeholder="Số lượng" [(ngModel)]="case.amount" name="amount" required min="0" />
      <mat-hint align="end">Nhập 0 để không giới hạn</mat-hint>
    </mat-form-field>
    <mat-form-field class="text-input-field padding-left" fxFlex="50" [floatLabel]="'always'">
      <input
        type="number"
        matInput
        placeholder="Số lần sử dụng"
        [(ngModel)]="case.limit"
        name="limit"
        required
        min="0"
      />
      <mat-hint align="end">Nhập 0 để không giới hạn</mat-hint>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="none" style="margin: 4px 0">
    <mat-checkbox [(ngModel)]="case.isCheckTag" name="isCheckTag" align="end" fxFlex="100%">
      Yêu cầu Tag Bạn bè
    </mat-checkbox>
  </div>
  <div fxLayout="row" fxLayoutAlign="none" [hidden]="!case.isCheckTag">
    <mat-form-field class="text-input-field" fxFlex="100%" [floatLabel]="'always'">
      <input
        type="number"
        matInput
        placeholder="Số bạn cần tag"
        [(ngModel)]="case.minTagCount"
        name="minTagCount"
        required
        min="0"
      />
    </mat-form-field>
  </div>
</form>
