@import "~customs.scss";

.new-mid-section {
    cursor: pointer;
    text-align: center;
    height: 100%;
    padding: 16px;
    @include flex-center;
    flex-direction: column;
    min-height: 200px;
    button {
        display: block;
        margin: auto;
    }
    i {
        width: auto;
        font-size: 48px;
        color: $brand-primary;
        @include flex-center;
    }
    button {
        background-color: $brand-primary;
        color: white;
        box-shadow: none;
        margin: 24px 0 0;
        padding: 4px 32px; 
    }
    &:hover {
        mat-icon {
            color: $brand-dark;
        }
        button {
            background-color: $brand-dark;
        }
    }
}

.app-block {
    height: calc(100% - 30px);
    margin-bottom: 30px;
    background: white;
    padding: 0px;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    .app-progress-bar {
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .btn-header {
        position: absolute;
        right: 8px;
        bottom: 8px;
        color: $grey-mild;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        opacity: 0;
        width: 32px;
        height: 32px;
        @include flex-center;
        background: none;
        &:hover {
            color: $brand-light;
        }
        &.remove {
            &:hover {
                color: $brand-danger;
            }
        }
    }
    &:hover {
        .btn-header {
            opacity: 1;
        }
    }
    .app-block-header {
        flex: 0 0 30%;
        background-color: $grey-white;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 12px 16px;
        position: relative;
        border-bottom: 1px solid $grey-lightest;
        .header-extend-expire {
            i {
                color: #9e9e9e;
            }
        }
        .header-content {
            height: 100%;
            width: 100%;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .app-name {
                text-align: left;
                width: 100%;
                margin: 0;
                color: $grey-dark;
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 14px;
                padding-left: 3px;
                text-transform: uppercase;
                &.danger {
                    color: $brand-danger;
                }
                &.warning {
                    color: $brand-accent-dark;
                }
            }
            .app-expiration {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .header-menu-button {
                position: absolute;
                right: 0px;
                top: 16%;
                color: $brand-dark;
            }
        }
    }

    .app-block-content {
        padding: 0;
        position: relative;
        flex: 0 0 70%;
        // .platform-tab {
        //     width: 100%;
        //     height: 100%;
        //     padding: 12px;
            // &:nth-child(1) {
            //     border-right: 1px solid $grey-lightest;
            // }
            // &:nth-child(2) {
            //     border-right: 1px solid $grey-lightest;
            // }
        .platform-wrapper {
            width: 100%;
            height: 100%;
            padding: 16px;
            text-decoration: none;
            @include flex-align-center;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;
            &:hover {
                .button-unsubscribe {
                    opacity: 1;
                }
            }
            &.inactive {
                cursor: initial;
            }
            &.active {
                cursor: pointer;
                &:hover {
                    .button-manage:not(.disabled) {
                        background: $brand-primary !important;
                    }
                    .tab-avatar {                    
                        transform: scale(1.15);
                    }
                    .platform-name {
                        color: $brand-primary;
                    }
                }
            }
        }
        .platform-icon {
            width: 40px;
            height: 40px;
            margin-top: 4px;
            -webkit-filter: grayscale(100%) brightness(1.3);
            filter: grayscale(100%) brightness(1.3);
        }
        .button-manage {
            border-radius: 50px;
            box-shadow: none;
            background: $brand-light !important;
            transition: all 0.3s ease-in-out;
            &.disabled {
                pointer-events: none;
                background: $grey-light !important;
                color: $grey;
            }
        }
        .button-chat {
            white-space: nowrap;
            height: 32px;
            padding: 0 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 13px;
            border-radius: 50px;
            box-shadow: none;
            background: transparent;
            border: 1.5px solid $brand-light;
            color: $brand-light;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $brand-primary;
                border-color: $brand-primary;
                background: lighten($brand-light, 30%) !important;
            }
            &.disabled {
                pointer-events: none;
                border-color: $grey-light !important;
                color: $grey-mild;
            }
        }
        .button-unsubscribe {
            background: none;
            position: absolute;
            top: 8px;
            right: 4px;
            width: 32px;
            height: 32px;
            @include flex-align-center;
            color: $grey-mild;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            &:hover {
                color: $brand-danger;
            }
        }
        .connect-button {
            border: 2px solid $brand-light;
        }
        .refresh-button {
            color: $brand-light !important;
            background-color: lighten($brand-light, 30%);
            border-radius: 50px;
            ::ng-deep.mat-button-ripple {
                border-radius: 50px;
            }
            &.disabled {
                pointer-events: none;
                background: $grey-light !important;
                color: $grey !important;
            }
            &:hover {
                color: $brand-primary !important;
                background-color: lighten($brand-light, 25%);
            }
        }
        .platform-avatar-wrapper {
            position: relative;
            width: 48px;
            height: 48px;
            .image-wrapper {
                border-radius: 50%;
                width: 100%;
                overflow: hidden;
                img {
                    border-radius: 50%;
                }
            }
            .tab-avatar {
                transition: transform 0.5s ease-in-out;
            }
            i {
                position: absolute;
                width: 22px;
                height: 22px;
                @include flex-center;
                border: 2px solid white;
                border-radius: 50%;
                bottom: -4px;
                right: -4px;
                font-size: 12px;
                background-color: $grey; 
                color: white;
            }
            &.platform-avatar-wrapper-token-expired {
                img {
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
                i {
                    visibility: visible;
                }
            }
        }
        .platform-name {
            padding: 6px 8px 10px;
            margin: 0;
            font-size: 14px;
            line-height: 19px;
            height: 56px;
            font-weight: bold;
            color: $grey-darker;
            text-align: center;
            @include text-ellipsis(2);
            transition: color 0.3s ease-in-out;
            &.grey-text {
                color: $grey !important;
            }
        }
        // }        
    }
    .avatar-expired {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

.card-title-btn {
    color: $grey-mild;
}

@media not all and (min-width: 992px) {
    .btn-header {
        opacity: 1 !important;
    }
    .button-unsubscribe { 
        opacity: 1 !important;
    }
    .mat-card {    
        height: calc(100% - 12px);
        margin-bottom: 12px;
    }
}
.request-button {
    font-weight: 500;
    margin-left: 8px;
    background: $grey-lighter;
    color: $grey;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 2px;
    padding: 0 12px;
    border: 1px solid $grey-light;
    &:hover{
        border-color: $brand-light;
        color: $brand-light;
    }
}
.button-group {
    @include flex-align-center;
    justify-content: center;
}