<div *ngIf="mode == 'instance'" class="app-block">
  <mat-progress-bar color="primary" mode="indeterminate" class="app-progress-bar" *ngIf="showLoading$ | async"></mat-progress-bar>
  
  <div class="app-block-header">
    <button class="btn-header remove" (click)="removeApp()" matTooltip="Xóa app" matTooltipPosition="above" *ngIf="app.isOwner ">
      <i class="far fa-trash-alt"></i>
    </button>
    <button class="btn-header remove" (click)="leaveApp()" matTooltip="Rời khỏi app" matTooltipPosition="above" *ngIf="!app.isOwner ">
    <i class="fas fa-sign-out-alt"></i>
    </button>
    <div class="header-content">
        <h3 class="app-name" [ngClass]="app.isExpired?'danger':(app.pageTokenExpired?'warning':'')" (click)="editAppName($event)"
        [matTooltip]="app.isExpired?'App hết hạn':(app.pageTokenExpired?'App bị mất quyền':'')">{{app?.name}}</h3>
        <div class="app-expiration">
          <span class="label" [ngClass]="app.expiredClass" [matTooltip]="'Ngày hết hạn: ' + app.expiredDate">{{ app.expiredDuration }}</span>
          <button *ngIf="app.isExpired || app.isExpiredSoon || app.isLocked" class="request-button" (click)="requestExpandExpire()">
            Gia hạn
          </button>
          <button *ngIf="app.isOwner" class="request-button" (click)="refeshPageToken()" [matTooltip]="'Cập nhật lại quyền Owner khi App bị mất kết nối với Trang của Facebook'">
            Cập nhật quyền
          </button>
      </div>
    </div>
  </div>

  <div class="app-block-content">

    <div class="platform-wrapper" *ngIf="!app.activePage">
      <img class="platform-icon" src="assets/img/facebook.png">
      <p class="platform-text">Chưa kết nối với Facebook</p>
      <button class="connect-button" mat-button color="primary" (click)="subscribePage()">Kết nối</button>
    </div>

    <a class="platform-wrapper" *ngIf="app.activePage" [ngClass]="(app.isExpired)?'inactive':'active'"
    [routerLink]="(app.isExpired || app.isLocked)?['/apps']:(simpleApp?['/simple', app._id]:['/apps', app._id])">
      <div class="platform-avatar-wrapper" [ngClass]="(app?.pageTokenExpired)?'platform-avatar-wrapper-token-expired':''" lazy-load-images>
        <div class="image-wrapper">
          <img class="tab-avatar" src="{{app?.activePage?.meta?.picture?.data?.url}}" onerror="this.src='https://i.imgur.com/rRsjehj.png'"
          [ngClass]="isExpired?'avatar-expired':''">
        </div>
        <i class="fas fa-plug" matTooltip="Mất kết nối với Trang" [style.visibility]="app?.pageTokenExpired?'visible':'hidden'"></i>
      </div>
      <p class="platform-name" [ngClass]="(app.isExpired || app.isLocked)?'grey-text':''">
        {{app.activePage.name}}
      </p>
        <div class="d-flex">
          <ng-container *ngIf="!app?.pageTokenExpired">
            <!-- <button class="button-manage" mat-raised-button color="primary" [class.disabled]="app.isExpired || app.isLocked"
            *ngIf="app.rule != 'chatter'">Quản lý</button> -->
            <a class="button-chat mx-1" [class.disabled]="app.isExpired || app.isLocked" target="_blank" href="{{url}}"
            (click)="$event.stopPropagation()">Live Chat</a>
            <a class="button-chat mx-1" [class.disabled]="app.isExpired || app.isLocked" [routerLink]="['/apps', app._id]"
            (click)="$event.stopPropagation()" [queryParams]="{ mode: 'shop' }">Cửa hàng</a>
            <a class="button-chat mx-1" [class.disabled]="app.isExpired || app.isLocked" [routerLink]="['/apps', app._id]"
            (click)="$event.stopPropagation()" [queryParams]="{ mode: 'wheel' }">Vòng quay</a>
          </ng-container>
          <button class="refresh-button" [class.disabled]="app.isExpired || app.isLocked" mat-button color="primary" 
          *ngIf="app?.pageTokenExpired" (click)="refeshPageToken(); $event.preventDefault(); $event.stopPropagation()">
          Cập nhật quyền</button>
        </div>

      <button *ngIf="app.isOwner" class="button-unsubscribe" [matTooltip]="'Ngắt kết nối Trang'"
      (click)="unsubscribePage();$event.preventDefault(); $event.stopPropagation()"><i class="fas fa-times"></i></button>
    </a>

  </div>

</div>

<a class="app-block" *ngIf="mode == 'new'" [routerLink]="['/add']">
  <div class="new-mid-section">
    <i class="fas fa-plus"></i>
    <button mat-raised-button id="new-app-button">
      Tạo app mới
    </button>
  </div>
</a>