<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner><span [hidden]="isSaving"><i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved"><mat-icon>check</mat-icon>Đã lưu</span>
    <mat-icon class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId" id="{{portalId}}">  
    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div [hidden]="!loadDone">
    
    
  <mat-card-header>
      Menu
      <mat-slide-toggle [(ngModel)]="isMenuActive" (change)="menuStatusChanged()"
      [disabled]="!cardFrm.enabled || toggling"></mat-slide-toggle>
    </mat-card-header>
    <p class="menu-description">Menu là một nhóm nút cố định giúp người dùng dễ dàng truy cập 
          các chức năng chủ chốt trong cuộc trò chuyện</p>
    <div class="other-cards">
        <div class="cards-option">
            <mat-form-field class="form-select" [floatLabel]="'never'">
                <mat-select [(ngModel)]="selectedMenu" name="multi-language-menu"
                (ngModelChange)="changeCardLocate()">
                    <mat-option *ngFor="let menu of menuSetting?.option" [value]="menu.locale">
                        {{getLanguageDisplay(menu.locale)}}
                    </mat-option> 
                </mat-select>
            </mat-form-field>
            <button  class="add-icon" (click)="addLanguageButton()" matTooltip="Thêm quốc gia khác" matTooltipPosition="above"><i class="fas fa-plus"></i></button>
            <button  class="delete-icon" [disabled]="selectedMenu == 'default'" (click)="deleteLanguage()" matTooltip="Xóa" matTooltipPosition="above"><i class="far fa-trash-alt"></i></button>
        </div>
        <app-card-container   #cardContainer [parentViewRef]="viewRef" (change)="cardChanged()"></app-card-container>
    </div>
   
    <ng-container *ngIf="iceBreakerSettings">
      <mat-card-header id="triggle-hlTextArea">Câu hỏi mẫu
        <mat-slide-toggle [(ngModel)]="isIceBreakerActive" (ngModelChange)="iceBreakerStatusChanged($event)"
        [disabled]="!cardFrm.enabled || toggling"></mat-slide-toggle>
      </mat-card-header>
      <div class="ice-breakers" *ngIf="iceBreakerSettings">
        <div class="ice-breakers-option" *ngFor="let option of iceBreakerSettings.option; index as i" (click)="openIceBreakerOption($event, i)">
          <div><i class="fas fa-question"></i>{{option.question}}</div>
          <div *ngIf="option.storyName"><i class="fas fa-arrow-right arrow"></i><i class="fas fa-book"></i>{{option.storyName}}</div>
          <i class="fas fa-times-circle delete" (click)="deleteIceBreakerOption(i); $event.stopPropagation()"></i>
        </div>
        <div class="ice-breakers-option add" (click)="openIceBreakerOption($event)">
          <i class="fas fa-plus"></i><span>Thêm câu hỏi</span>
        </div>
      </div>  
    </ng-container>

      <mat-card-header id="triggle-hlTextArea">Lời chào</mat-card-header>
      <div class="other-cards">
          <div class="cards-option">
              <mat-form-field class="form-select" [floatLabel]="'never'">
                  <mat-select [(ngModel)]="selectedGreeting" name="multi-language-menu"
                  (ngModelChange)="changeGreeting()">
                      <mat-option *ngFor="let greeting of greetingSetting?.option " [value]="greeting.locale">
                          {{getLanguageDisplay(greeting.locale)}}
                      </mat-option> 
                  </mat-select>
              </mat-form-field>
              <button  class="add-icon" (click)="addLanguageButtonGreeting()" matTooltip="Thêm quốc gia khác" matTooltipPosition="above"><i class="fas fa-plus"></i></button>
              <button  class="delete-icon" [disabled]="selectedGreeting == 'default'" (click)="deleteLanguageGreeting()" matTooltip="Xóa" matTooltipPosition="above"><i class="far fa-trash-alt"></i></button>
          </div>
            <mat-card class="card-item mat-elevation-z0">
                <mat-card-content>
                  <form #cardFrm="ngForm">
                    <mat-form-field class="text-input-field" *ngIf="greetingSetting?.option[selectedGreetingIndex]" floatLabel="always" focused="true">
                        <textarea id="greeting-text" hlTextArea #textControl="ngModel" [(ngModel)]="greetingSetting.option[selectedGreetingIndex].text" (ngModelChange)="textChanged()" name="text" matInput placeholder="Nội dung"
                        cdkTextareaAutosize cdkAutosizeMinRows="3" maxlength="160" ></textarea>
                      <mat-hint align="end">{{greetingSetting.option[selectedGreetingIndex]?.text?.length}} / 160</mat-hint>
                    </mat-form-field> 
                  </form>
                </mat-card-content>
              </mat-card>
      </div>

      <mat-card-header>Câu chuyện đầu tiên <span (click)="openGetStarted()">
        {{selectedStories.length == 0?'Chọn câu chuyện':'Thay đổi'}}
      </span></mat-card-header>
      <div class="story-list" (click)="openGetStarted()">
        <div class="no-story" *ngIf="selectedStories.length == 0">Chưa có câu chuyện nào được chọn</div>
        <div class="story-item" *ngFor="let story of selectedStories" [hidden]="selectedStories.length == 0">
          {{story.name}}
        </div>
      </div>
    </div>
  </div>
</div>