@import "~customs.scss";

.portal {
    width: 400px;
}

.mat-divider {
    width: 96%;
    border-top-color: $grey-light;
    margin: auto;
}

.mat-card-header {
    padding: 8px 16px !important;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    color: $brand-dark;
    position: relative;
    display: flex;
    align-items: center;
    ::ng-deep.mat-card-header-text {
        margin: 0px;
    }
    span {        
        font-size: 12px;
        color: $grey-dark;
        position: absolute;
        right: 12px;
        text-transform: none;
        font-weight: 500;
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
            background-color: lighten($brand-light, 30%);
            color: $brand-light;
        }
    }
}

::ng-deep.mat-form-field.form-select {
	min-width: 0;
	width: 100px;
	flex: 0 0 100px;
	font-size: 14px;
	height: 40px;
	color: $grey;
	border-top: 1px solid $grey-light;
	border-bottom: 1px solid $grey-light;
	::ng-deep.mat-form-field-wrapper {
			padding-bottom: 0;
			height: 100%;
			::ng-deep.mat-form-field-flex {
					height: 100%;
					::ng-deep.mat-form-field-infix {
							height: 100%;
							padding: 0;
							margin: 0;
							border: none;
							background: $grey-white;
					}
			}
			::ng-deep.mat-form-field-underline {
					display: none
			}
	}
	::ng-deep.mat-select {
			height: 100%;
			padding: 0 4px;
			::ng-deep.mat-select-trigger {
					height: 100%;
					::ng-deep.mat-select-value {
							vertical-align: middle;
							text-align: center;
							::ng-deep.mat-select-value-text {
									color: $grey-dark;
									font-weight: 500;
							}
					}
			}
	}
}

.mat-card {    
    padding: 8px 20px;
}

.story-list {    
    margin: 16px;
    border: 1px solid $grey-light;
    border-radius: 4px;
    padding: 8px 0px;
    cursor: pointer;
    &:hover {
        color: $brand-primary;
        border-color: $brand-primary;
    }
    .story-item {        
        padding: 8px 16px;
    }
    .no-story {
        text-align: center;
        padding: 12px;
        color: $grey;
    }
}
.language-option{
  display: flex;
  padding: 0 16px;
  .selection-box{
    width: 0;
    opacity: 0;
    transition: all 0.5s;
  }
  .add-menu{
    margin-left: auto;
    display: flex;
    align-items: center;
    button{
      width: 266px;
      display: flex;
      padding: 8px 12px;
      border-radius: 4px;
      background: #ffffff;
      color: $brand-light;
      border: 1px solid $brand-light;
      transition: all 0.5s; 
      /deep/.mat-button-wrapper{
        display: flex;
        justify-content: center;
      }
    }
    .add-title{
      transition: all 0.5s;
      width: 240px;
    }
    .add-icon{
      opacity: 0;
      width: 0;
      transition: all 0.5s;
      i{
        transform: rotate(45deg);
      }
    }
  }
  
}
.open-select-language{
  
  .selection-box{
    width: 180px!important;
    opacity: 1!important;
  }
  .add-menu{
    button{
      width: 36px;
      height: 36px;
      min-width: 36px;
      padding: 0;
    }
    .add-title{
      opacity: 0;
      width: 0;
      color: white;
      font-size: 0px;
    }
    .add-icon{
      width: 36px!important;
      opacity: 1!important;
    }
  }
}
.other-card.open-card-language{
  margin-bottom: 28px;
}
.other-cards{
  margin-bottom: 12px;
  padding: 0 16px;
  /deep/mat-card-header{
      display: none;
  }
  /deep/.mat-expansion-panel-body {
    padding: 0 0px 16px;
  }
}
.open-card-language{
  /deep/.card-container{
    opacity: 1;
    height: 100%;
  }
}
.delete-icon{
  font-size: 16px;
  color:$grey;
  &:hover{
    color:tomato;
  }
}
.multi-language-input{
  padding: 0 4px;
  margin-top: 12px;
}
.custom-header{
  font-size: 14px;
  color: $grey-darker;
  font-weight: 400;
}
.cards-option{
  width: 100%;
  display: flex;
  margin-top: 4px;
  .form-select{
    flex: 0 0 80%;
    height: 36px;
    border: 1px solid #E0E0E0;
    background-color: white!important;
    /deep/.mat-select{
      background-color: white!important;
    }
  }
  .add-icon{
    font-size: 14px;
    color: $grey;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
    &:hover{
      color:$brand-light;
    }
  }
  .delete-icon, .add-icon{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;  
  }
  .delete-icon{
    border: 1px solid $grey-light;
    border-left: none;
    font-size: 14px;
    &:hover:enabled{
      color:$grey-darker;
    }
    &:hover:disabled{
      color:$grey;
      pointer-events: none;
    }
  }
}
.add-button-quick-reply{
  width: 83%;
  height: 36px;
  margin: auto;
  margin-top: 12px;
}
/deep/app-card-container .cdk-drop-list.no-card{
  min-height: 8px!important;
}
.card-item{
  padding: 16px 4px 0 !important;
}
.menu-description{
  font-size: 13px;
  padding: 0 16px;
  margin-bottom: 8px;
  color: $grey-mild;
  margin-bottom: 8px;
}
.mat-slide-toggle {
  position: absolute;
  right: 16px;
  text-transform: none;
  color: $grey-darker;
}
/deep/.mat-card-header-text{
  margin:0;
}
.ice-breakers {
  position: relative;
  padding: 2px 16px;
}
.ice-breakers-option {
  display: flex;
  position: relative;
  padding: 6px 2px;
  padding-right: 20px;
  color: $grey-dark;
  cursor: pointer;
  overflow: hidden;
  .delete {
    opacity: 0;
    position: absolute;
    top: 12px;
    right: 0;
    font-size: 12px;
    color: $grey;
    &:hover {
      color: $brand-danger;
    }
  }
  &:not(.add) {
    border-bottom: 1px solid $grey-lighter;
  }
  i:not(.delete) {
    color: $grey;
    margin-right: 6px;
    &.arrow {
      margin: 0 8px;
    }
  }
  &:hover {
    color: $brand-light;
    i:not(.delete) {
      color: $brand-light;
    }
    .delete {
      opacity: 1;
    }
  }
}