<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
  <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
  (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-image'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
          (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)"></app-card-advanced>
        <app-card-image [imageSrc]="card.option.attachment.payload.url" (sourceChanged)="onImageSourceChanged($event)" [disabled]="!cardFrm.enabled"
          [hidden]="isQRImage" (uploadingChanged)="onUploading($event)" *ngIf="!isQRImage"></app-card-image>
        <app-card-image [imageSrc]="qrParams.preview" (sourceChanged)="onImageSourceChanged($event)" [disabled]="!cardFrm.enabled"
          [hidden]="true" (uploadingChanged)="onUploading($event)" *ngIf="isQRImage"></app-card-image>
        <div class="image-options" fxLayout="row wrap" fxLayoutAlign="none" *ngIf="isQRImage">
          <mat-form-field class="text-input-field" fxFlex="50">
            <input hlTextArea type="number" matInput placeholder="Size" [(ngModel)]="qrParams.size" name="size" min="100" max="1000" required>
          </mat-form-field>
          <mat-form-field class="text-input-field padding-left custom-field" fxFlex="50">
            <mat-select placeholder="Loại mã" [(ngModel)]="qrParams.symbology" name="symbology" required>
              <mat-option *ngFor="let symbology of symbologies" [value]="symbology">
                {{ symbology }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="text-input-field"  fxFlex="100">
            <input hlTextArea type="text" matInput placeholder="Giá trị của mã" [(ngModel)]="qrParams.content" name="content" required>
          </mat-form-field>
        </div>
        <button *ngIf="isQRImage" class="btn-g-code" mat-raised-button color="primary" (click)="preview()">Tạo mã</button>
      </form>
    </mat-card-content>
  </mat-card>
</div> 