<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-clipboard'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
          (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)">
          <mat-checkbox [(ngModel)]="card.option.allowSkip" name="allowSkip" labelPosition="end" (change)="canBeSaved.next(true)">
            Cho phép bỏ qua
          </mat-checkbox>
          <mat-form-field class="text-input-field">
            <input hlTextArea type="text" [(ngModel)]="card.option.button" name="button" matInput placeholder="Tiêu đè nút" required>
          </mat-form-field>
          <mat-form-field class="text-input-field">
            <input hlTextArea type="text" [(ngModel)]="card.option.title" name="title" matInput placeholder="Tiêu đè biểu mẫu" required>
          </mat-form-field>
          <mat-form-field class="text-input-field">
            <input hlTextArea type="text" [(ngModel)]="card.option.submitButton" name="submitButton" matInput placeholder="Tiểu để nút gửi" required>
          </mat-form-field>
        </app-card-advanced>
        <mat-form-field class="text-input-field w-50 pr-3">
          <input hlTextArea type="text" [(ngModel)]="card.option.key" name="key" matInput maxlength="30" placeholder="Tên thuộc tính" required>
          <mat-hint align="end">{{card.option.key.length}} / 30</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-50">
          <mat-label>Định dạng</mat-label>
          <mat-select [(ngModel)]="card.option.format" name="date-picker">
            <mat-option *ngFor="let format of formatDate" [value]="format.code">
              {{format.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="text-input-field">
          <textarea hlTextArea [(ngModel)]="card.option.message" name="message" matInput placeholder="Tin nhắn"
            cdkTextareaAutosize></textarea>
        </mat-form-field>
         
      </form>
    </mat-card-content>
  </mat-card>
</div>