@import "~customs.scss";

.story-buttons {
    opacity: 0;
    margin-right: -6px;
    transition: opacity 0.15s ease-in-out;
    flex-shrink: 0;
    .btn-story {
        background: transparent;
        color: $grey-mild;
        font-size: 13px;
        position: relative;
        &:hover {
            color: $grey;
        }
    }
}

.story-groups-wrapper {
    .story-group-item {
        .story-group-header {
            font-size: 13px;
            color: $grey-dark;
            padding: 4px 12px 0 10px;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            position: relative;
            i {
                transition: color 0.3s ease-in-out;
                font-size: 13px;
            }
            &:hover {
                color: $grey-darker;
                .story-buttons {
                    opacity: 1;
                }
            }
            .group-title {
                display: flex;
                position: relative;
                i {
                    padding-right: 8px;
                    padding-top: 2px;
                }
            }
            &:last-child {
                border-bottom: none;
                padding-bottom: 12px;
                padding-left: 20px;
            }
        }
        &.expanded {
            .group-title::before {
                content: '';
                position: absolute;
                left: 4px;
                top: 14px;
                height: calc(100% - 9px);
                border-left: 1px dashed $grey;
            }
            .stories-wrapper {           
                max-height: calc(100%);
                transform: scaleY(1);
                opacity: 1;
            }
        }
        .stories-wrapper {
            padding: 4px 8px 4px 14px;
            max-height: calc(0px);
            transform: scaleY(0);
            opacity: 0;
            transform-origin: top center;
            transition: max-height, transform, opacity 0.3s ease-in-out;
            .cdk-drop-list {
                min-height: 14px;
                &.empty {
                    border-left: 1px dashed $grey;
                    .cdk-drag-placeholder.story-item {
                        &::before, &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        &.active {
            .story-group-header {
                .group-title {
                    i {
                        color: $brand-light !important;
                    }
                    &::before {
                        border-left: 2px solid $brand-light !important;
                    }
                }
            }
            .story-item:not(.add) {
                &::before, &::after {
                    border-left: 2px solid $brand-light !important;
                }
            }
            .story-item-container.active {
                .story-event {
                    border: 1.5px solid $brand-light !important;
                    color: $brand-light;
                }
                .story-event::before {
                    border-top: 1.8px solid $brand-light !important;
                }
            }
            .story-item.active {
                &::after {
                    border-left: 1px dashed $grey !important;
                }
                .story-name {
                    color: $brand-light;
                    &::before {
                        border-top: 1.8px solid $brand-light !important;
                    }
                }
                .story-buttons {
                    opacity: 1 !important;
                }
            }
            .story-item-container.active ~ .story-item-container {
                .story-event::before, .story-item::before, .story-item::after {
                    border-left: 1px dashed $grey-mild !important;
                }
            }
            // .story-item.active ~ .story-item {
            //     &::before, &::after {
            //         border-left: 1px dashed $grey-mild !important;
            //     }
            // }
        }
        &.default {
            .empty {
                border-left: none !important;
                margin-top: -12px;
                margin-bottom: -12px;
            }
            .story-group-header, .story-item::before, .story-item::after, .story-name::before {
                visibility: hidden !important;
                opacity: 0 !important;
            }
            .story-group-header {
                display: none !important;
            }
            .stories-wrapper {
                padding-left: 12px !important;
                padding-top: 12px !important;
            }
        }
        &.select {
            .group-title {
                i {
                    color: $brand-accent;
                    &:hover {
                        color: $brand-accent-dark;
                    }
                }
            }
        }
    }
}

.story-item-container {                
    position: relative;
    @include flex-align-start;
}
.story-item {
    width: 100%;
    line-height: initial;
    font-size: 15px;
    padding: 8px 4px 8px 12px;
    font-weight: 400;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: static;
    .story-name {
        color: $grey-dark;
        text-align: left;
        position: relative;
        display: flex;
        word-break: break-word;
        i {                        
            margin-right: 12px;
            font-size: 14px;
            margin-top: 3px;
        }
        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 1px;
            border-top: 1px dashed $grey;
            top: 10px;
            left: -12px;
        }
    }
    &.select {
        .story-name {
            i {
                color: $brand-accent;
                &:hover {
                    color: $brand-accent-dark;
                }
            }
        }
    }
    &:hover {
        .story-name {
            color: $brand-light;
            &::after {
                background: $brand-light;
            }
        }
        .story-buttons {
            opacity: 1;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        border-left: 1px dashed $grey;
    }
    &::after {
        content: '';
        position: absolute;
        top: 18px;
        left: 0;
        height: calc(100% - 16px);
        border-left: 1px dashed $grey;
    }
    &.add {
        position: relative;
        &::after {
            display: none;
        }
    }
}

.no-content {
    .mat-button {
        border-radius: 50px;
        &::ng-deep.mat-button-ripple {
            border-radius: 50px;
        }
    }
}