<div class="portal" (click)="focus()">
  <mat-toolbar class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <div class="spinner-wrapper" *ngIf="loading$ | async"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block has-footer" [ngClass]="portalId">
      <div class="spinner-wrapper" *ngIf="!(loadDone$ | async)"><mat-spinner [diameter]="30"></mat-spinner></div>
      <ng-container *ngIf="loadDone$ | async">
        <div class="no-content" *ngIf="!quickMessages?.length && !topicQuickMessages?.length">
          <div class="no-content-text">
            Chưa có tin nhắn nhanh nào
          </div>
          <button class="button-remove-overlay" mat-button color='primary' (click)="openTopic($event, null, true)">
            Tạo nhóm tin nhắn nhanh
          </button>
        </div>

        <div class="story-groups-wrapper" *ngIf="quickMessages?.length || topicQuickMessages?.length">
          <div class="story-group-item" *ngFor="let topic of topicQuickMessages$ | async; let i = index" 
          [class.expanded]="topic.expanded" [ngClass]="topic.type"
          [class.active]="topic?.active" [class.default]="topic?.isDefault" [class.select]="topic.select">
            <div class="story-group-header" (click)="openTopic($event, topic)">
              <div class="group-title" [style.color]="topic.color">                
                <i class="far fa-folder" *ngIf="!topic.active"></i>
                <i class="fas fa-folder" *ngIf="topic.active"></i>
                <!-- <i class="far fa-folder" *ngIf="!topic.expanded && !topic.active"></i>
                <i class="far fa-folder-open" *ngIf="topic.expanded && !topic.active"></i>
                <i class="fas fa-folder" *ngIf="!topic.expanded && topic.active"></i>
                <i class="fas fa-folder-open" *ngIf="topic.expanded && topic.active"></i> -->
                <span>{{topic.name}}</span>
              </div>
              <div class="story-buttons" [hidden]="topic.isDefault">
                <!-- <button class="btn-story" [matTooltip]="'Chỉnh sửa'" (click)="openTopic($event, topic); $event.stopPropagation()"><i class="far fa-edit"></i></button> -->
                <button class="btn-story" [matTooltip]="'Xóa nhóm'" (click)="removeTopic(topic, i); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
  
            <div class="stories-wrapper">
              <div [class.empty]="!topic.quickMessages.length">
                <div class="story-item-container" *ngFor="let message of topic.quickMessages; let j = index; trackBy: trackByFn" 
                [class.active]="message?.active">
                  <button class="story-item" [ngClass]="message.type"
                  (click)="message.type=='story'?selectStory(message, topic):openQuickMessageText(message)" [class.active]="message?.active">
                    <div class="story-name">
                      <i class="fas fa-file-alt" *ngIf="message?.active && message?.type=='story'"></i>
                      <i class="far fa-file-alt" *ngIf="!message?.active && message?.type=='story'"></i>
                      <i class="fas fa-comment-dots" *ngIf="message?.active && message?.type=='text'"></i>
                      <i class="far fa-comment-dots" *ngIf="!message?.active && message?.type=='text'"></i>
                      <span>{{message.message}}</span>
                    </div>
                    <div class="story-buttons">
                      <button class="btn-story" [matTooltip]="'Đổi tên'" 
                      (click)="openMessage($event, topic, message); $event.stopPropagation()"><i class="far fa-edit"></i></button>
                      <button class="btn-story" [matTooltip]="'Xoá câu chuyện'" 
                      (click)="removeMessage(message, topic, j); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
                    </div>
                  </button>
                </div>
              </div>
              <button class="story-item add" (click)="openMessage($event, topic)" [hidden]="topic?.isDefault">
                <div class="story-name"><i class="far fa-plus-square"></i>Thêm tin nhắn nhanh</div>
              </button>
            </div>
  
          </div>
        </div>
        <!-- <div *ngIf="quickMessages.length != 0">
          <mat-nav-list>
            <div *ngFor="let quickMessage of quickMessages | nameFilter:quickMessage_filter; let i = index">
              <mat-list-item [ngClass]="openedQuickMessage == quickMessage._id?'quickMessage-opened':''" (click)="openQuickMessage(quickMessage, $event)">
                <span class="numbering" mat-list-icon>{{i + 1}}</span><a matLine>{{quickMessage.message}}</a>
                
                <i class="far fa-trash-alt mat-item-menu-icon item-delete-button" (click)="removeQuickMessage(quickMessage, $event)" 
                matTooltip="Xóa tin nhắn nhanh" matTooltipPosition="after"></i>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-nav-list>
        </div> -->
      </ng-container>
  </div>
  <div class="portal-footer" [ngClass]="(quickMessages?.length || topicQuickMessages?.length)?'portal-footer-display':''">
    <button mat-button class="btn-grey" (click)="reload(false)" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
      <input type="file" #file hidden (change)="fileChanged($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      <button mat-button class="btn-grey position-relative" (click)="file.click()" [matTooltip]="'Import mẫu tin nhắn nhanh'" 
      matTooltipPosition="above">
        <i class="fas fa-file-import"></i></button>
    <button class="btn-blue" mat-raised-button color="primary" (click)="openTopic($event)">
      <i class="fas fa-plus-circle"></i><span>Tạo nhóm tin nhắn nhanh</span>
    </button>
  </div>
</div>