@import "~customs.scss";

.portal {
    width: 450px;
}

.story-wrapper {
    padding: 8px 20px 4px;
    &:last-child {
        padding-bottom: 40px;
    }
}
.story {
    color: $grey-darker;
    cursor: pointer;
    margin-bottom: 4px;
    font-size: 15px;
    padding: 0 4px;
    i {
        font-size: 13px;
        color: $grey-dark;
        margin-right: 8px;
        transform: translateY(-2px);
    }
    &:hover {
        color: $brand-light;
        i {
            color: $brand-light;
        }
    }
}

.subscriber-selection-parent {
    margin-bottom: 20px;
}