<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
   
      <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
        <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
        <span [hidden]="isSaving">
          <i class="fas fa-save"></i>Lưu</span>
      </button>
      <span class="saved-label" *ngIf="saved">
        <mat-icon>check</mat-icon>Đã lưu</span>
        <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
          <i class="fas fa-question"></i>
      </button> -->
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <ng-container *ngIf="loadDone">
      <div class="no-content" *ngIf="!stories.length">
        <div class="no-content-text">
          Chưa có thẻ thông báo nào
        </div>
      </div>
      <div class="stories" *ngIf="stories.length">
        <div class="story-wrapper" *ngFor="let story of stories">
          <div class="story" (click)="openStory(story)"><i class="far fa-file-alt"></i>{{story.name}}</div>
          <div class="subscriber-selection-parent" *ngFor="let card of storyCards[story._id]">
            <div class="text-input-wrapper readonly">
              <textarea class="text-input" hlTextArea cdkTextareaAutosize readonly>{{card?.option?.text}}</textarea>
            </div>
            <app-subscriber-selection [subscribers]="cardSubscribers[card._id]" (change)="onSubscriberChanged($event, card)"
            [disabled]="isSaving" name="Danh sách thông báo"></app-subscriber-selection>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- <div class="no-content" *ngIf="!progressBar.show && allowNotify != undefined && !allowNotify" >
      <div class="no-content-text">
        Bạn chưa đăng ký nhận tin
      </div>
      <button class="button-remove-overlay" mat-button color='primary' (click)="regisNotify()">
        Đăng ký ngay
      </button>
    </div> -->
    <!-- <div class="portal-section" *ngIf="allowNotify">
      <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
        <div class="portal-section-title">Cài đặt Thông báo</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="none" class="notify-checkbox">
        <mat-checkbox [(ngModel)]="setting.isReceiveOrderFromUser" name="isReceiveOrderFromUser" labelPosition="end" fxFlex="100%" (change)="showSaveButton()">
          Thông báo khi người dùng mua hàng
        </mat-checkbox>
      </div>
      <div fxLayout="row" fxLayoutAlign="none" class="notify-checkbox">
        <mat-checkbox [(ngModel)]="setting.isReceiveByNotifyCard" name="isReceiveByNotifyCard" labelPosition="end" fxFlex="100%" (change)="showSaveButton()">
          Thông báo từ câu truyện
        </mat-checkbox>
      </div>

      <div fxLayout="row" fxLayoutAlign="none" class="notify-checkbox">
        <mat-checkbox [(ngModel)]="setting.isReceiveMcomPromotion" name="isReceiveMcomPromotion" labelPosition="end" fxFlex="100%" (change)="showSaveButton()">
          Thông báo khuyến mãi từ Mcommerce
        </mat-checkbox>
      </div>
      
      <div fxLayout="row" fxLayoutAlign="none" class="notify-checkbox">
        <mat-checkbox [(ngModel)]="setting.isReceiveMcomNotify" name="isReceiveMcomNotify" labelPosition="end" fxFlex="100%" (change)="showSaveButton()">
          Thông báo từ Mcommerce
        </mat-checkbox>
      </div>
      
      <div fxLayout="row" fxLayoutAlign="none" class="notify-checkbox">
        <mat-checkbox [(ngModel)]="setting.isReceiveUserTurnLivechat" name="isReceiveUserTurnLivechat" labelPosition="end" fxFlex="100%" (change)="showSaveButton()">
          Thông báo khi khách hàng yêu cầu chat trược tiếp
        </mat-checkbox>
      </div>
    </div> -->
  </div>
</div>