@import "~customs.scss";

.portal {
    width: 350px;
}


.frm-table {
    width: 100%;
}
.text-input-field {
    width: 100%;
}
.portal-section .portal-section-title-wrapper{
    margin-bottom: 16px;
}
