<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <mat-icon class="icon-btn" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="progressBar.show">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="no-content" *ngIf="!progressBar.show && !setting">
      <div class="no-content-text">
        Bạn chưa cài đặt tiện ích
      </div>
      <button class="button-remove-overlay" mat-button color='primary' (click)="addExtension()">
        Tạo tiện ích
      </button>
    </div>
    <div class="portal-section" *ngIf="!progressBar.show && setting">
      <div class="portal-section-title-wrapper" fxLayout="row">
        <div class="portal-section-title">Chọn loại tiện ích</div>
      </div>
      <mat-form-field class="text-input-field" >
        <input type="text" matInput placeholder="Tiện ích" required readonly [value]="extensions[extensionType].display">
        <button mat-icon-button matSuffix (click)="addExtension(true)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-form-field>
      <mat-divider></mat-divider>
    </div>
  </div>
</div>