@import "~customs.scss";

.portal {
    width: 300px!important;
}

.setting-opened {
    ::ng-deep.mat-line {
        color: $brand-primary !important;
    }
    i {
        color: $brand-light !important;
    }
}

.mat-divider {
    width: 92%;
    border-top-color: $grey-white;
    margin: auto;
}

.mat-list-item {
    ::ng-deep.mat-list-item-content {
        padding-right: 0px;
        transition: all 0.3s ease;
    }
    i {
        margin-right: 12px;
        color: $grey;
    }
    &:hover {
        background: white !important;
        color: $brand-dark;
        .chevron-icon {
            opacity: 1;
        }
    }
    ::ng-deep.mat-list-item-ripple {
        display: none;
    }
    .chevron-icon {
        opacity: 0;
        transform: rotateZ(0);
        transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
        &.down {
            transform: rotateZ(180deg);
            opacity: 1;
        }
    }
}

.input-wrapper {
    background: $grey-white;
    .input-item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &.date {
            width: 36%;
            margin: 0px 8px 0px 20px;
        }
        &.time {
            width: 36%;
            margin: 0px 8px 0px 20px;
        }
        &.checkbox {
            width: 40%;
            margin: 4px 0px 4px 24px;
            justify-content: left;
        }
        .mat-form-field {
            width: 100%;
        }
    }
    .mat-button {
        display: block;
        width: 84%;
        margin: 12px auto 0px;
        color: white;
        background: $brand-light;
        border-radius: 50px;
        ::ng-deep.mat-button-ripple {
            border-radius: 50px;
        }
        ::ng-deep.mat-button-focus-overlay {
            border-radius: 50px;
        }
    }
}
.expading-item {
    opacity: 0;
    transform: scaleY(0);
    padding: 0;
    transform-origin: center top;
    transition: max-height 0.3s linear, transform 0.3s linear, opacity 0.3s ease-in-out;
}
.item-expanded {
    opacity: 1;
    transform: scaleY(1);
    max-height: 1000px;
    padding-bottom: 12px;
    //padding-top: 12px;
    background: white;
}
.item-collapsed {
    opacity: 0;
    transform: scaleY(0);
    max-height: 0px;
    padding: 0;
    background: white;
}