<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
      <i class="fas fa-question"></i>
    </button> -->
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <mat-nav-list *ngIf="loadDone">
      <div *ngFor="let setting of settingsMenu">
        <!-- <mat-list-item (click)="openSettings(setting.code)" [ngClass]="this.mode == setting.code?'setting-opened':''"> -->
          <mat-list-item (click)="openSettings(setting.code);openStatistics(setting.code, setting.display);" [ngClass]="this.mode == setting.code?'setting-opened':''">
          <a matLine href="javascript:;"><i [ngClass]="setting.icon"></i>{{setting.display}}</a>
          <!-- <i class="chevron-icon fas fa-chevron-down" [ngClass]="mode == setting.code?'down':''"></i> -->
         </mat-list-item> 
        <!-- <div class="input-wrapper expading-item" [ngClass]="mode == setting.code?'item-expanded':'item-collapsed'">
          <div class="input-item" [ngClass]="input.type" *ngFor="let input of setting.inputs; let i = index">
            <mat-form-field class="date-input" *ngIf="input.type == 'date'">
              <input type="hidden" [matDatepicker]="i"  
                    [(ngModel)]="statistics_filter[setting.code][input.property]">
              <input matInput [placeholder]="input.display" 
              [ngModel]="statistics_filter[setting.code][input.property] | date: 'dd/MM/yyyy'" [readonly]="true" required>
              <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
              <mat-datepicker #i></mat-datepicker>
            </mat-form-field>
            <w-mat-timepicker class="time-input" *ngIf="input.type == 'time'" [(userTime)]="statistics_filter[setting.code][input.property]" 
            revertLabel="Lúc này" submitLabel="Đồng ý" cancelLabel="Huỷ" [placeholder]="input.display" color="primary">
            </w-mat-timepicker>
            <mat-checkbox class="checkbox-input" *ngIf="input.type == 'checkbox'" [(ngModel)]="statistics_filter[setting.code][input.property]">{{input.display}}</mat-checkbox>
          </div>
          <button mat-button (click)="openStatistics(setting.code, setting.display)">Thống kê</button>
        </div> -->
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </div>
</div>
