<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-cube'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
        [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
        (conditionChange)="onConditionChanged($event)"></app-card-advanced>
        <div fxLayout="row" fxLayoutAlign="none">
          <mat-form-field class="text-input-field" fxFlex="50">
            <input hlTextArea type="number" matInput placeholder="Limit" #limitControl="ngModel" [(ngModel)]="card.option.query.limit" name="limit"
              min="1" max="10">
            <mat-hint align="end"></mat-hint>
          </mat-form-field>
          <mat-form-field class="text-input-field padding-left" fxFlex="50">
            <input hlTextArea type="number" matInput placeholder="Page" #pageControl="ngModel" [(ngModel)]="card.option.query.page" name="page">
            <mat-hint align="end"></mat-hint>
          </mat-form-field>
        </div>
        <mat-form-field class="text-input-field">
          <input hlTextArea type="text" matInput placeholder="Filter" #filterControl="ngModel" [(ngModel)]="card.option.query.filter.name" name="filter">
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
        <button mat-raised-button class="preview-button" color="primary" [disabled]="!card._id || (preview && !previewPayload) || !cardFrm.enabled"
          (click)="onPreview()">
          <div *ngIf="preview && !previewPayload" class="spinner preview-spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <span *ngIf="!preview">Xem trước {{!card._id?('(Dùng được sau khi lưu)'):''}}</span>
          <span *ngIf="preview && previewPayload">Đóng</span>
        </button>
      </form>
      <swiper *ngIf="preview && previewPayload" class="element-container" [config]="swiperOptions" #swiper>
        <div class="swiper-wrapper">
          <div class="swiper-slide element" *ngFor="let element of previewPayload.elements">
            <mat-card #elementCard (mouseenter)="elementCard.onHover = true" (mouseleave)="elementCard.onHover = false">
              <img data-src="{{element.image_url}}" alt="" onerror="this.src='https://developers.google.com/maps/documentation/static-maps/images/error-image-generic.png'">
              <mat-card-content>
                <mat-form-field class="text-input-field">
                  <input hlTextArea matInput placeholder="Title" [value]="element.title" readonly>
                </mat-form-field>
                <mat-form-field class="text-input-field" *ngIf="element.subtitle">
                  <input hlTextArea matInput placeholder="Sub Title" [value]="element.subtitle" readonly>
                </mat-form-field>
              </mat-card-content>
              <app-button-container #btnContainer [validButtons]="validButtons" [container]="container" [buttons]="element.buttons" readOnly="true" [disabled]="!cardFrm.enabled"></app-button-container>
            </mat-card>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination element-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next element-button-next"></div>
        <div class="swiper-button-prev element-button-prev"></div>
      </swiper>

    </mat-card-content>
  </mat-card>
</div>