.frm-table {
    width: 100%
}
.element {
    .mat-card {
        margin: 16px 40px;
        padding: 0;
        img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
        ::ng-deep mat-nav-list {
            padding-top: 0;
        }
        .mat-card-content {
            padding: 16px 16px 0px 16px;
            margin-top: 0
        }
        .element-buttons {
            position: absolute;
            width: 100%;
            text-align: right;
            .mat-icon-button {
                margin: 5px;
                background-color: white;
                &.danger {
                    background-color: red;
                    color: white;
                }

            }
        }
    }
}