<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-dice'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
      [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
      (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <div class="sequence-options mb-4">
        <mat-button-toggle-group name="mode" [(ngModel)]="card.option.mode">
          <mat-button-toggle [disableRipple]="true" value="inc">Tăng điểm</mat-button-toggle>
          <mat-button-toggle [disableRipple]="true" value="desc">Giảm điểm</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="row">
        <div class="col-6 pr-0">
          <div class="form-input-wrapper">
            <input [(ngModel)]="card.option.key" name="key" class="form-input">
            <label>Tên thuộc tính lưu điểm</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-input-wrapper">
            <input [(ngModel)]="card.option.point" name="point" hlTextArea class="form-input">
            <label class="floating">Số điểm {{card.option.mode=='inc'?'tăng':'giảm'}}</label>
          </div>
        </div>
      </div>
    </form>
      
  </mat-card-content>
</mat-card>
</div>