@import "~customs.scss";

.portal {
    width: 400px!important;
}
.clarifai-image-upload {
    padding: 20px;
    margin: 10px;
    button {
        margin-top: 12px;
        width: 100%;
    }
    .form-label {
        margin-bottom: 8px;
    }
}
.upload-image-button {
    margin-top: 12px;
    width: 100%;
    margin-bottom: 12px;
}
.clarifai-image-item-wrapper {
    margin: 12px;
    width: 100%;
    height: 100%;
    // margin-left: auto;
    // margin-right: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain
    }
}
.top-toolbar {
    border: 1px solid $grey-light;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .add-button {
        color: $grey;
        &:hover {
            color: $brand-primary;
        }
        &[disabled] {
            color: $grey-light !important;
        }
    }
    .delete-button {
        color: $grey;
        &:hover {
            color: $brand-danger;
        }
        &[disabled] {
            color: $grey-light !important;
        }
    }
}
.clarifai-image-photos-next {
    right: 0px;
}
.clarifai-image-photos-prev {
    left: 0px;
}
.mat-card-header {
    padding: 8px 16px !important;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    color: $brand-dark;
    position: relative;
    display: flex;
    align-items: center;
    ::ng-deep.mat-card-header-text {
        margin: 0px;
    }
    span {        
        font-size: 12px;
        color: $grey-dark;
        position: absolute;
        right: 12px;
        text-transform: none;
        font-weight: 500;
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
            background-color: lighten($brand-light, 30%);
            color: $brand-light;
        }
    }
}
.story-list {    
    margin: 16px;
    border: 1px solid $grey-light;
    border-radius: 4px;
    padding: 8px 0px;
    cursor: pointer;
    &:hover {
        color: $brand-primary;
        border-color: $brand-primary;
    }
    .story-item {        
        padding: 8px 16px;
    }
    .no-story {
        text-align: center;
        padding: 12px;
        color: $grey;
    }
}