<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{clarifaiImage.name?clarifaiImage.name:portalName}}</span>
    <span class="header-spacer"></span>
    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="portal-section">
      <div class="top-toolbar">
        <button mat-icon-button class="add-button" matTooltip="Chọn câu chuyện" (click)="selectStory()" [disabled]="progressBar.show">
          <i class="fas fa-book"></i>
        </button>
        <button mat-icon-button class="delete-button" matTooltip="Xóa" (click)="deleteClarifaiImage()" [disabled]="progressBar.show">
          <i class="fas fa-trash"></i>
        </button>
      </div>
      <!-- <mat-card-header>Chọn câu chuyện
        <span (click)="selectStory()">
          {{!selectedStory?'Chọn câu chuyện':'Thay đổi'}}
        </span>
      </mat-card-header>
       <div class="story-list" (click)="selectStory()">
        <div class="no-story" *ngIf="!selectedStory">Chưa có câu chuyện nào được chọn</div>
        <div class="story-item" [hidden]="!selectedStory">
          {{selectedStory.name}}
        </div>
      </div> -->

      <mat-divider></mat-divider>
    </div>
    <div class="portal-section">
      <div class="portal-section-title-wrapper" fxLayout="row">
        <div class="portal-section-title">Dữ liệu album</div>
      </div>
      <div class="clarifai-image-upload">
        <form>
          <json-editor [options]="jsonEditorConfig" [data]="data"></json-editor>
        </form>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="portal-section">
      <div class="portal-section-title-wrapper" fxLayout="row">
        <div class="portal-section-title">Hình ảnh</div>
        <button class="portal-section-button" (click)="uploadImage($event)" fxFlex="10" [matTooltip]="'Thêm ảnh mới'">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <br>
      <mat-grid-list gutterSize="4px" [cols]="2" rowHeight="1:1">
        <mat-grid-tile *ngFor="let image of images" (click)="openImage(image)">
          <!-- <button class="button-remove-overlay" mat-button (click)="" 
                    [ngClass]="image.url == selection?'button-selected':''"> -->
          <div class="clarifai-image-item-wrapper">
            <img src="{{image.url}}">
          </div>
          <!-- </button> -->
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- <div class="portal-section-title">Hình ảnh</div>
     
        <button class="portal-section-button" (click)="uploadImage($event)" fxFlex="10" [matTooltip]="'Thêm ảnh mới'">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <swiper class="clarifai-image-photos" [config]="swiperOptions" #swiper>
        <div class="swiper-wrapper">
          <div class="swiper-slide clarifai-image-photo" *ngFor="let image of clarifaiImage.images; let i = index">
            
            <div class="clarifai-image-item-wrapper" (click)="openImage(image)">
              <img src="{{image.url}}">
            </div>
         
          </div>
        </div>
      
        <div class="swiper-pagination clarifai-image-photos-pagination"></div>
      
        <div class="swiper-button-next clarifai-image-photos-next"></div>
        <div class="swiper-button-prev clarifai-image-photos-prev"></div>
      </swiper>

    </div> -->

  </div>

</div>