@import '../../../../../customs.scss';

.mat-divider {
    width: 92%;
    border-top-color: $grey-lightest;
    margin: auto;
}

.mat-list-item {
    height: 52px;
    ::ng-deep.mat-list-item-content { 
        padding-left: 16px;
        transition: all 0.3s ease;
        .numbering {
            font-weight: bold;
            font-size: 18px;
            color: $grey-dark;
            position: absolute;
            left: 5px;
            bottom: 8px;
            text-align: center;
        }
        ::ng-deep.mat-list-text {
            padding: 0px !important;
        }
        ::ng-deep.mat-line {
            padding-left: 12px;
        }
    }
    .sub-text {
        color: $grey-mild;
        font-size: 11.5px;
        position: absolute;
        top: 0; 
        bottom: 0;
        height: 100%;
        display: flex;
        align-items: center;
        right: 8px;
    }
    .mat-item-menu-icon {
        visibility: hidden;
        color: $bluegrey-lighter;
        transition: color 0.3s;
        margin-right: 8px;
        &.item-send-button {
            font-size: 22px;
            &:hover {
                color: $green-400;
            }
        }
        &.open-story-icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
            font-size: 25px !important;
            &:hover {
                color: $brand-light;
            }
        }
    }
    &:hover .mat-item-menu-icon {
        visibility: visible;
    }
}

.item-delete-button {
    &:hover {
        color: $red-300 !important;
    }
}
.mat-nav-list {    
    margin-right: -20px;
    margin-left: -20px;
}