<div *ngIf="topic" class="portal-section">
  <div class="portal-section-title-wrapper" fxLayout="row">
    <div class="portal-section-title">Nhóm</div>
    <!-- <div>
      <button class="portal-section-button" (click)="addGroup()" [matTooltip]="'Thêm nhóm'">
        <i class="fas fa-plus"></i>
      </button>
    </div> -->
  </div>
  <p class="not-found" *ngIf="!groups || groups.length == 0">Không có nhóm</p>
  <div class="portal-list-item" (click)="selectGroup(group)" *ngFor="let group of groups">
    <div class="name">
      <i class="far fa-square" *ngIf="!group.select"></i>
      <i class="fas fa-check-square checked" *ngIf="group.select"></i>
      <span>{{group.name}}</span>
    </div>
  </div>
</div>
<mat-divider></mat-divider>