<div class="portal">
  <mat-toolbar class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <div class="spinner-wrapper" *ngIf="loadHashtagDone && loading"><mat-spinner [diameter]="16"></mat-spinner></div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block has-footer" [ngClass]="portalId" [id]="portalId">
      <div class="spinner-wrapper" *ngIf="!loadHashtagDone"><mat-spinner [diameter]="30"></mat-spinner></div>
      <div class="no-content" *ngIf="loadHashtagDone && !interactPosts?.length">
        <div class="no-content-text">
          Chưa có hashtag nào 
        </div>
        <button class="btn-create-hashtag button-remove-overlay" mat-button color='primary' (click)="addHashtag($event, true)">
          Tạo hashtag mới
        </button>
      </div>
      <ng-container *ngIf="interactPosts.length != 0">
          <button class="portal-list-item" *ngFor="let interactPost of interactPosts | nameFilter:interactPost_filter; let i = index; trackBy: trackByFn"
          [class.active]="openedInteractPost==interactPost._id" (click)="openInteractPost(interactPost)">
            <div class="name">
              <i class="fas fa-hashtag"></i>
              <span>{{interactPost.hashTag}}</span>
            </div>
            <div class="action-buttons">
              <button class="btn-action" [matTooltip]="'Sao chép hashtag'" 
              (click)="copyHashtag(interactPost); $event.stopPropagation()"><i class="far fa-copy"></i></button>
              <button class="btn-action" [matTooltip]="'Xóa hashtag'" 
              (click)="removeHashtag(interactPost); $event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
            </div>
          </button>
        </ng-container>
  </div>
  <div class="portal-footer" [ngClass]="(interactPosts?.length)?'portal-footer-display':''">
    <input class="form-input" [(ngModel)]="interactPost_filter" placeholder="Lọc hashtag">
    <button mat-button class="btn-grey" (click)="reload(false)" matTooltip="Refresh" matTooltipPosition="above">
      <i class="fas fa-sync-alt"></i></button>
    <button class="btn-blue" mat-raised-button color="primary" matTooltipPosition="above"
      (click)="addHashtag($event)">
      <i class="fas fa-plus-circle"></i><span>Thêm hashtag</span>
    </button>
  </div> 
</div>