<form #fieldFrm="ngForm" fxLayout="row" fxLayoutAlign="none" [hidden]="mode != 'field'">
  <mat-form-field fxFlex="40" class="text-input-field">
    <input type="text" #propertyControl="ngModel" [(ngModel)]="field.property" name="property" matInput placeholder="Thuộc tính"
      pattern="^\S+$" required>
  </mat-form-field>
  <mat-form-field fxFlex="60" class="text-input-field">
    <input type="text" matInput placeholder="Giá trị" [(ngModel)]="field.value" name="value" required>
    <button color="warn" mat-icon-button matSuffix (click)="parent.removeField(field.id)">
      <i class="far fa-trash-alt" matTooltip="Xóa" matTooltipPosition="after"></i>
    </button>
  </mat-form-field>
</form>
<form #psidFrm="ngForm" fxLayout="row" fxLayoutAlign="none" [hidden]="mode == 'field'">
    <mat-form-field fxFlex="100" class="text-input-field">
      <input type="text" matInput placeholder="Giá trị" [(ngModel)]="field.value" name="value" required>
      <button color="warn" mat-icon-button matSuffix (click)="parent.removePSID(field.id)">
        <i class="far fa-trash-alt" matTooltip="Xóa" matTooltipPosition="after"></i>
      </button>
    </mat-form-field>
  </form>