<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-font'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
      [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
      (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <mat-form-field class="text-input-field">
        <textarea hlTextArea #textControl="ngModel" [(ngModel)]="card.option.text" name="text" matInput placeholder="Tin nhắn" cdkTextareaAutosize cdkAutosizeMinRows="6"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
</div>