<div *ngIf="clarifai" class="portal-section">
  <div class="portal-section-title-wrapper" fxLayout="row">
    <div class="portal-section-title">Thông tin chung</div>
    <mat-slide-toggle class="portal-section-button" fxFlex="10" [matTooltip]="'Bật tắt tính năng'" [checked]="clarifaiStatus" (change)="toogleClarifai($event)"></mat-slide-toggle>
  </div>
  <form #myFrm="ngForm">
    <mat-form-field class="text-input-field">
      <input matInput placeholder="Tên" [(ngModel)]="clarifai.name" (value)="clarifai.name" name="name" (ngModelChange)="onChanged()">
    </mat-form-field>
    <mat-form-field class="text-input-field">
      <input matInput placeholder="Api key" [(ngModel)]="clarifai.apiKey" (value)="clarifai.apiKey" name="apiKey" (ngModelChange)="onChanged()">
    </mat-form-field>
  </form>

</div>
<mat-divider></mat-divider>