<div class="card-list" #cardListRef cdkDropList [cdkDropListData]="cardComps" (cdkDropListDropped)="drop($event)" [class.no-card]="cardComps.length == 0" >
  <div class="card-container" *ngFor="let cardComp of cardComps; let i = index; trackBy: trackByFn" 
  cdkDrag id="{{id + '-' + cardComp.cardRefId}}" [cdkDragDisabled]="!cardComp.draggable">
    <div class="dummy-handle" cdkDragHandle *ngIf="cardComp.draggable"></div>
  </div>
  <ng-template #cardViewContainer></ng-template>
</div>
