<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>

    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above">
      <i class="fas fa-question"></i>
    </button> -->
    <mat-icon class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div *ngIf="loadDone">
      <app-topic-info *ngIf="mode === 'detail' && topic" [topic]="topic" [portal]="_this"></app-topic-info>
      <app-topic-event *ngIf="mode === 'detail'" [topicId]="topicId" [portal]="_this"></app-topic-event>
      <app-topic-subscriber *ngIf="mode === 'detail' && topic" [topic]="topic" [subscribers]="subscribers" 
      [portal]="_this" [index]="index"></app-topic-subscriber>
      <app-topic-group *ngIf="mode === 'detail' && topic" [topic]="topic" [groups]="groups"
      [portal]="_this" [index]="index"></app-topic-group>
    </div>
  </div>
</div>