@import "~customs.scss";

.app-template-container {
    position: relative;
    background: white;
    height: calc(100vh - 112px);
    width: 86%;
    max-width: 1080px;
    margin: auto;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08) !important;
    animation: slide-up 0.3s ease-in-out;
}

.template-header {
    @include flex-align-start;
    .title {
        margin: 0;
        padding-left: 8px;
        padding-top: 6px;
        color: $grey-dark;
        font-size: 16px;
        i {
        margin-right: 8px;
        }
        a {
            cursor: pointer;
            color: inherit;
            text-decoration: none;
            &:hover {
                color: $brand-light;
            }
        }
        span {
            margin: 0 8px;
        }
    }
    .tab-buttons {
        margin-left: auto;
    }
}

.template-content {    
    height: calc(100% - 36px);
    animation: slide-up-slightly 0.3s ease-in-out;
    ::ng-deep.mat-tab-group {
        height: 100%;
        ::ng-deep.mat-tab-header {                
            display: none;
        }
        ::ng-deep.mat-tab-body {
            padding: 12px 0 0;
            ::ng-deep.mat-tab-body-content {
                @include custom-scrollbar-grey;
            }
        }
    }
}

.app-wrapper {
    .btn-app {
        
    }
}