<div class="spinner-wrapper" *ngIf="!loadDone || loading"><mat-spinner [diameter]="30"></mat-spinner></div>
<div class="user-content-wrapper" *ngIf="loadDone">  
  <form class="user-section-toolbar">
    <button class="btn btn-add" type="button">
      <span><i class="fas fa-print"></i>In báo cáo</span>
    </button>
    <div class="toolbar-buttons">
      <span class="total">Hiển thị {{dates?.length}} ngày</span>
      <button class="btn" (click)="reload(false)" [matTooltip]="'Refresh'"><i class="fas fa-sync-alt" [class.fa-spin]="loading"></i></button>
      <div class="date-picker">
        <mat-select name="month" [(ngModel)]="currentMonth" (ngModelChange)="reload()">
          <mat-option *ngFor="let month of monthList" [value]="month">Tháng {{month + 1}}</mat-option>
        </mat-select>
        <mat-select name="year" [(ngModel)]="currentYear" (ngModelChange)="reload()">
          <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
        </mat-select>
      </div>
    </div>
  </form>

  <div class="not-found col-12" *ngIf="!stats && !loading">
    Không có doanh thu nào cho tháng này
  </div>
  <div class="table-container" *ngIf="stats && !loading">
    <table mat-table [dataSource]="dates">
    
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> STT. </th>
        <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="2"><span class="total-title">Tổng tiền</span></td>
      </ng-container>
    
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày </th>
        <td mat-cell *matCellDef="let el"> {{el.date | date:'dd/MM/yyyy'}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
    
      <ng-container matColumnDef="amountWithoutSaleOff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiền chưa khấu trừ </th>
        <td mat-cell *matCellDef="let el"> {{el.amountWithoutSaleOff | accounting}} </td>
        <td mat-footer-cell *matFooterCellDef><span class="total-amount">{{stats?.amountWithoutSaleOff | accounting}}</span></td>
      </ng-container>
    
      <ng-container matColumnDef="amountOfSaleOff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiền khấu trừ </th>
        <td mat-cell *matCellDef="let el"> {{el.amountOfSaleOff | accounting}} </td>
        <td mat-footer-cell *matFooterCellDef><span class="total-amount">{{stats?.amountOfSaleOff | accounting}}</span></td>
      </ng-container>
    
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Thực thu </th>
        <td mat-cell *matCellDef="let el"> {{el.amount | accounting}} </td>
        <td mat-footer-cell *matFooterCellDef><span class="total-amount">{{stats?.amount | accounting}}</span></td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
  
</div>