@import '~customs.scss';

.user-content-wrapper {
  height: 100%;
}

.date-picker {
  height: 40px;
  min-width: 180px;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  overflow: hidden;
	::ng-deep.mat-select {
    height: 100%;
    padding: 0 4px;
    background: white;
    &:first-child {
      width: 55%;
      border-right: 1px solid $grey-lightest;
    }
    &:last-child {
      width: 45%;
    }
    ::ng-deep.mat-select-trigger {
      height: 100%;
    }
    ::ng-deep.mat-select-value {
      vertical-align: middle;
      color: $grey-dark;
    }
    ::ng-deep.mat-select-arrow {
      color: $grey;
      margin: 0 4px 0 2px;
    }
  }
}

.total-title {
  font-size: 16px;
  font-weight: 500;
  color: $grey-dark;
}

.total-amount {
  font-size: 16px;
  font-weight: 500;
  color: $brand-light;
}