<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Giảm giá (%)</div>
    <input class="form-input" min="0" max="100" name="discount" type="number" [(ngModel)]="evoucher.option.discount"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Tiền giảm tối đa (VNĐ)</div>
    <input class="form-input" min="0" name="maxDiscount" type="number" [(ngModel)]="evoucher.option.maxDiscount"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper col-4 p-0">
    <div class="input-title">Tiền hàng tối thiểu (VNĐ)</div>
    <input class="form-input" min="0" name="minAmountOfBill" type="number" [(ngModel)]="evoucher.option.minAmountOfBill"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>
<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Số lượng món cần mua</div>
    <input class="form-input" min="0" name="numberItemBuy" type="number" [(ngModel)]="evoucher.option.numberItemBuy"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title">Số lượng món được giảm</div>
    <input class="form-input" min="0" name="numberItemFree" type="number" [(ngModel)]="evoucher.option.numberItemFree"
    [disabled]="disabled" (ngModelChange)="dataChanged()">
  </div>
</div>
<div class="form-input-wrapper pb-3">
  <div class="input-title">Món cần mua</div>
  <product-picker [applyItemType]="evoucher.option.applyItemType" [applyItems]="evoucher.option.requireItems" 
  [disabled]="disabled" (applyItemsChange)="requireItemsChanged($event)"></product-picker>
</div>
<div class="form-input-wrapper pb-3">
  <div class="input-title">Món được giảm</div>
  <product-picker [applyItemType]="evoucher.option.applyItemType" [applyItems]="evoucher.option.applyItems" 
  [disabled]="disabled" (applyItemsChange)="applyItemsChanged($event)"></product-picker>
</div>
