@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$mcom-primary: mat-palette($mat-blue, 500, 200, 700);
$mcom-accent:  mat-palette($mat-amber, A400, A200, A700);


$mcom-success: mat-palette($mat-green);
// The warn palette is optional (defaults to red).
$mcom-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mcom-theme: mat-light-theme($mcom-primary, $mcom-accent, $mcom-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mcom-theme);

.alternate-theme {
    $alternate-primary: mat-palette($mat-green, 300, 500, 700);
    $alternate-accent:  mat-palette($mat-amber, A400, A200, A700);

    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

    @include angular-material-theme($alternate-theme);
}