<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
  <app-card-header [icon]="'fas fa-video'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
  <mat-card-content>
    <form #cardFrm="ngForm">
      <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" [disabled]="!cardFrm.enabled"
        (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false" (conditionChange)="onConditionChanged($event)"></app-card-advanced>
      <app-card-image [imageSrc]="card.option.image" (sourceChanged)="onImageSourceChanged($event)" [disabled]="!cardFrm.enabled"
        (uploadingChanged)="onUploading($event)"></app-card-image>
      <mat-form-field class="text-input-field">
        <input hlTextArea matInput placeholder="Tiêu đề" [(ngModel)]="card.option.title" name="title" required>
      </mat-form-field>
      <mat-form-field class="text-input-field">
        <input hlTextArea matInput placeholder="Mô tả" [(ngModel)]="card.option.description" name="description" required>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
</div>