<div class="row m-0 pb-2">
  <div class="form-input-wrapper col-6 pl-0 pr-2 pb-1">    
    <div class="input-title">Áp dụng giá giảm</div>
    <div class="height-40 d-flex align-items-center">
      <span class="text-nowrap pl-2">Mỗi</span>
      <input class="form-input ml-2 mr-2" name="discountAcc" type="number" [(ngModel)]="evoucher.option.discountAcc"
        (ngModelChange)="dataChanged()">
      <span class="text-nowrap">VNĐ</span>
    </div>
  </div>
  <div class="form-input-wrapper col-6 p-0">
    <div class="input-title"></div>
    <div class="height-40 d-flex align-items-center">
      <span class="text-nowrap pl-2">thì giảm</span>
      <input class="form-input ml-2 mr-2" name="discountAmountAcc" type="number" [(ngModel)]="evoucher.option.discountAmountAcc"
        (ngModelChange)="dataChanged()">
      <span class="text-nowrap">VNĐ</span>
    </div>
  </div>
</div><div class="row m-0 pb-2">
  <div class="form-input-wrapper col-12 pl-0 pr-2 pb-1">
    <div class="height-40 d-flex align-items-center">
      <span class="text-nowrap pl-2">Giảm giá không quá</span>
      <input class="form-input ml-2 mr-2" name="maxDiscount" type="number" [(ngModel)]="evoucher.option.maxDiscount"
        (ngModelChange)="dataChanged()">
      <span class="text-nowrap">VNĐ</span>
    </div>
  </div>
</div>
<div class="form-input-wrapper pb-3">
  <div class="input-title">Món KHÔNG được áp dụng</div>
  <product-picker [applyItemType]="evoucher.option.optAccItemType" [applyItems]="evoucher.option.optAccItems" 
  [disabled]="disabled" (applyItemsChange)="applyItemsChanged($event)"></product-picker>
</div>
