@import "~customs.scss";

.portal {
    width: 400px!important
}
/deep/.mat-checkbox{
  display: flex;
}
// w-mat-timepicker {
//     ::ng-deep .mat-form-field-infix {
//         width: auto
//     }
// }
// mat-card-actions {
//     margin-left: 0px;
//     margin-right: 0px;
// }

// ::ng-deep .edit-form .mat-card-header-text{
//     width: 100%;
// }
form {
    margin: 12px 4px 24px;
}
.mat-divider {
    margin: 4px auto;
    width: 100%;
    border-top-color: $grey-lighter;
}
.accordion-wrapper {
    margin-top: 16px;
    .code-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 90%;
            margin-bottom: 12px;
        }
    }
}
.code-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 12px auto;
    .mat-form-field {
        width: 100%;
    }
    .code-input {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .image-code {
        margin-top: 16px;
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        height: 0px;
        box-sizing: border-box;
        position: relative;
        &:hover {
            .image-button {
                opacity: 1;
            }
        }
        img {
            cursor: pointer;
            position: absolute;
            top: 3%;
            left: 3%;
            width: 94%;
            height: 94%;
            object-fit: cover;
        }
        .image-button {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            color: white !important;
            background: $amber-300;
            width: 32px;
            height: 32px;
            position: absolute;
            border: none;
            bottom: 24px;
            right: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &:hover {
                background: $amber-400;
            }
        }
    }
    .create-button{
        overflow: hidden;
        border-radius: 50px;
        background: $brand-light;
        color: white;
        height: 40px;
        width: 100%;
        &[disabled] {
            background: lighten($brand-light, 15%)
        }
    }
    .input-row {
        width: 100%;
        animation: slide-up-expanded 0.3s ease-in-out;
    }
}
.link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    position: relative;
    padding-top: 8px;
    padding-bottom: 16px;
    .link-placeholder {
        color: $grey-dark;
        position: absolute;
        top: -10px;
        left: 4px;
        font-size: 12px;
    }
    .link-text {
        height: 40px;
        flex: 1 1 auto;
        padding: 4px 12px;
        border: 1px solid lightgray;
        box-sizing: border-box;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: none;
    }
    .link-button {
        height: 40px;
        flex: 0 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $amber-300;
        color: white;
        border: none;
        cursor: pointer;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        &:focus {
            outline: none;
        }
        &:hover {
            background: $amber-400;
        }
    }
}
.image-toolbar {   
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    animation: slide-up-expanded 0.3s ease-in-out;
    .image-placeholder {
        color: $grey-dark;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
    }
    .url-icon {
        position: absolute;
        left: 12px;
        top: 22px;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $grey;
    }
    .image-input {
        height: 100%;
        flex: 1 1 auto;
        width: 84%;
        margin: 0;
        height: 40px;
        border: none;
        padding-left: 36px;
        padding-right: 4px;
        box-sizing: border-box;
        border: 1px solid $brand-light;
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: $grey-dark;
        &[disabled] {
            background: $grey-lightest;
            color: $grey;
            border-color: $grey-light;
        }
        &:focus {
            outline: none;
        }
    }
    .upload-button {
        height: 40px;
        flex: 0 0 40px;
        margin: 0;
        float: right;
        background: $brand-light;
        border: none;
        cursor: pointer;
        color: white;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: background 0.3s ease-in-out;
        &[disabled] {
            background: lighten($brand-light, 15%) !important;
            color: $grey-white;
            cursor: default;
        }
    }
}
@keyframes slide-up-expanded {
	from {transform: translateY(8px), scaleY(0); opacity:0; max-height: 0px;}
	to {transform: translateY(0px), scaleY(1); opacity:1; max-height: 1000px;}
}

.photo-image {
    padding: 0 40px;
}

.top-toolbar {
    border: 1px solid $grey-light;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .add-button {
        color: $grey;
        &:hover {
            color: $brand-primary;
        }
        &[disabled] {
            color: $grey-light !important;
        }
    }
    .delete-button {
        color: $grey;
        &:hover {
            color: $brand-danger;
        }
        &[disabled] {
            color: $grey-light !important;
        }
    }
}
