<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
        <i class="fas fa-question"></i>
    </button> -->
    <button *ngIf="chatbotApi.chatbotAuth.user.rule != 'read'" mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved"> 
      <mat-icon>check</mat-icon>Đã lưu</span>
    <mat-icon class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="!referral">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div [hidden]="!referral">
      <div class="portal-section">
        <div class="portal-section-title">Mã code</div>

        <form #codeFrm="ngForm" class="code-wrapper">
          <div class="code-input">
            <mat-form-field>
              <mat-select [(value)]="selectedType" placeholder="Loại mã code" (selectionChange)="onSelectionChanged($event)">
                <mat-option *ngFor="let type of codeTypes" [value]="type.code">
                  {{ type.display }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="input-row" fxLayout="row" fxLayoutAlign="none" *ngIf="['logo','background','gif','simple'].indexOf(code.mode) != -1">
              <mat-form-field fxFlex="50" class="text-input-field">
                <input matInput placeholder="Kích thước" [(ngModel)]="code.option.size" name="size" type="number" min="100" max="5000">
              </mat-form-field>
              <mat-form-field fxFlex="50" class="text-input-field">
                <input matInput placeholder="Mật độ" [(ngModel)]="code.option.dotScale" name="dotScale" type="number" min="0.1" max="1" step="0.1">
              </mat-form-field>
            </div>
            <div class="input-row" fxLayout="row" fxLayoutAlign="none" *ngIf="['logo'].indexOf(code.mode) != -1">
              <mat-form-field fxFlex="33.3" class="text-input-field">
                <input matInput min="0.1" max="0.5" step="0.1" [(ngModel)]="code.option.logoScale" name="logoScale" type="number" placeholder="Logo Size">
              </mat-form-field>
              <mat-form-field fxFlex="33.3" class="text-input-field padding-left">
                <mat-select placeholder="Loại" [(ngModel)]="code.option.logoType" name="logoType">
                  <mat-option value="circle">Tròn</mat-option>
                  <mat-option value="custom">Tuỳ chỉnh</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="33.3" class="text-input-field padding-left">
                <input [disabled]="code.option.logoType === 'circle'" matInput placeholder="Góc logo" [(ngModel)]="code.option.logoCornerRadius"
                  name="logoCornerRadius" type="number" min="0" [max]="code.option.size * code.option.logoScale / 2">
              </mat-form-field>
            </div>
          </div>
          <div class="image-toolbar" (click)="$event.stopPropagation" *ngIf="['mscodewithlogo','logo','background','gif'].indexOf(code.mode) != -1">
            <div class="image-placeholder">Link hình ảnh</div>
            <i class="fas fa-link url-icon"></i>
            <input class="image-input" [(ngModel)]="code.imageSrc" [disabled]="isUploading || creatingCode" [ngModelOptions]="{standalone: true}">
            <button class="upload-button" matTooltip="Tải ảnh từ máy" (click)="fileUploader.click()" [disabled]="isUploading || creatingCode">
              <i class="fas fa-upload" *ngIf="!isUploading"></i>
              <i class="fas fa-circle-notch fa-spin" *ngIf="isUploading"></i>
            </button>
            <input [(ngModel)]="code.files" type="file" accept="image/*" #fileUploader (change)="onChangeImageFile($event)" [hidden]="true"
              [ngModelOptions]="{standalone: true}">
          </div>
          <button *ngIf="['simple','logo','background','gif'].indexOf(code.mode) != -1 && chatbotApi.chatbotAuth.user.rule != 'read'" mat-button class="create-button"
            (click)="createQRCode()" [disabled]="creatingCode">
            <span *ngIf="!creatingCode">Tạo mã code</span>
            <i class="fas fa-circle-notch fa-spin" *ngIf="creatingCode"></i>
          </button>
          <div class="image-code" lazy-load-images>
            <img data-src="{{codeImg}}" onerror="this.src='assets/img/no-image.svg'" (click)="openImage()">
            <a href="{{codeImg}}" target="_blank" download="referral-code.png" class="image-button" [matTooltip]="'Download'">
              <i class="fas fa-download"></i>
            </a>
          </div>
        </form>
        <div class="link-wrapper">
          <div class="link-placeholder">Link referral</div>
          <input class="link-text" [ngModel]="referral.link" [readonly]="'true'">
          <button class="link-button" ngxClipboard [cbContent]="referral.link" (cbOnSuccess)="openSnackBar('Đã copy')">
            <i class="fas fa-copy"></i>
          </button>
        </div>
      </div>
      
      <div class="portal-section">
        <div class="portal-section-title-wrapper" fxLayout="row">
          <div class="portal-section-title">Thông tin chung</div>
          <button class="portal-section-button" (click)="openStatistics()" fxFlex="10" [matTooltip]="'Thống kê'">
            <i class="fas fa-chart-area"></i>
          </button>
        </div>
        <form #cardFrm="ngForm">
          <mat-form-field class="text-input-field">
            <input type="text" matInput placeholder="Tên" [(ngModel)]="referral.name" name="name" required>
            <mat-hint align="end"></mat-hint>
          </mat-form-field>
          <mat-checkbox [(ngModel)]="referral.isCheckDate"  labelPosition="end" name="isCheckDate">
              Tùy chỉnh ngày, giờ
          </mat-checkbox>
          <div fxLayout="row" fxLayoutAlign="none" [hidden]="!referral.isCheckDate">
            <mat-form-field fxFlex="50" class="text-input-field">
            <input type="hidden" [matDatepicker]="startDatePicker" [(ngModel)]="refRange.startDate" name="hidden-startDate">
              <input matInput  placeholder="Ngày phát hành" [ngModel]="refRange.startDate | date: 'dd/MM/yyyy'" name="startDate"
                [readonly]="true" required>
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <w-mat-timepicker [disabled]="!refRange.startDate || cardFrm.disabled" fxFlex="50" color="primary" [(userTime)]="refRange.startTime"
              revertLabel="Lúc này" submitLabel="Đồng ý" cancelLabel="Huỷ" placeholder="Giờ phát hành" (userTimeChange)="onSetTime('startTime',$event)">
            </w-mat-timepicker>
          </div>
          <div fxLayout="row" fxLayoutAlign="none" [hidden]="!referral.isCheckDate"> 
            <mat-form-field fxFlex="50" class="text-input-field">
                <input type="hidden"  [matDatepicker]="endDatePicker" [(ngModel)]="refRange.endDate" name="hidden-endDate">
              <input matInput placeholder="Ngày hết hạn" [ngModel]="refRange.endDate | date: 'dd/MM/yyyy'" name="endDate"
                [readonly]="true" required>
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <w-mat-timepicker [disabled]="!refRange.endDate || cardFrm.disabled" fxFlex="50" color="primary" [(userTime)]="refRange.endTime"
              revertLabel="Lúc này" submitLabel="Đồng ý" cancelLabel="Huỷ" placeholder="Giờ hết hạn" (userTimeChange)="onSetTime('endTime',$event)">
            </w-mat-timepicker>
          </div>
          <mat-checkbox [(ngModel)]="referral.isCheckCount"  labelPosition="end" name="isCheckCount">
              Tùy chỉnh số lượng
          </mat-checkbox>
          <div fxLayout="row" fxLayoutAlign="none" [hidden]="!referral.isCheckCount">
            <mat-form-field class="text-input-field" fxFlex="50">
              <input type="number" matInput placeholder="Số lượng" [(ngModel)]="referral.amount" name="amount" required min="0">
              <mat-hint align="end">Nhập 0 để không giới hạn</mat-hint>
            </mat-form-field>
            <mat-form-field class="text-input-field padding-left" fxFlex="50">
              <input type="number" matInput placeholder="Số lần sử dụng" [(ngModel)]="referral.limit" name="limit" required min="0">
              <mat-hint align="end">Nhập 0 để không giới hạn</mat-hint>
            </mat-form-field>
          </div>
          <mat-error *ngIf="error.date">Ngày phát hành phải trước ngày hết hạn.</mat-error>
          <mat-error *ngIf="error.amount">Số lượng không đươc phép nhỏ hơn 0.</mat-error>
          <mat-error *ngIf="error.limit">Giới hạn không đươc phép nhỏ hơn 0.</mat-error>
        </form>
        <mat-divider></mat-divider>
      </div>

      <!-- <div class="portal-section">
        <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
          <div class="portal-section-title">Wifi Marketing</div>
        </div>
        <div style="padding: 8px 0;">
          <button fxFlex="100%" mat-raised-button color="primary" *ngIf="!referral.enableWifiMK" (click)="enableWifiMK(true)">Bật</button>
          <button fxFlex="100%" mat-raised-button *ngIf="referral.enableWifiMK" (click)="enableWifiMK(false)">Tắt</button>
        </div>
        <div class="top-toolbar">
          <button mat-icon-button class="add-button" matTooltip="Thêm Hình Quảng Cáo" (click)="addPhoto()" [disabled]="progressBar.show">
            <i class="fas fa-plus"></i>
          </button>
          <button mat-icon-button class="delete-button" matTooltip="Xóa" (click)="removePhoto()" [disabled]="progressBar.show || referral.wifiMKPhotos?.length <= 1">
            <i class="fas fa-trash"></i>
          </button>
        </div>
        <swiper class="wifi-marketing-photos" [config]="swiperOptions" #swiper>
          <div class="swiper-wrapper">
            <div class="swiper-slide wifi-marketing-photo" *ngFor="let photo of referral.wifiMKPhotos; let i = index">
              <mat-card class="photo-image">
                <p class="desktop-photo-title">Hình dành cho Desktop</p>
                <app-card-image class="desktop-photo" [imageSrc]="photo.desktop" (sourceChanged)="onImageSourceChanged('desktop',$event, i)"></app-card-image>
                <p class="mobile-photo-title">Hình dành cho Mobile</p>
                <app-card-image class="mobile-photo" [imageSrc]="photo.mobile" (sourceChanged)="onImageSourceChanged('mobile',$event, i)"></app-card-image>
              </mat-card>
            </div>
          </div>
          <div class="swiper-pagination wifi-marketing-photos-pagination"></div>
          <div class="swiper-button-next wifi-marketing-photos-next"></div>
          <div class="swiper-button-prev wifi-marketing-photos-prev"></div>
        </swiper>
        <mat-divider></mat-divider>
      </div> -->

      <div class="portal-section">
        <div class="portal-section-title-wrapper cases-wrapper" fxLayout="row">
          <div class="portal-section-title">Cài Đặt Thêm</div>
        </div>
        <story-referral-optional [referral]="referral" (change)="showSaveButton()"></story-referral-optional>
      </div>

    </div>
  </div>
</div>