
<div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
<form class="user-section-toolbar" *ngIf="loadDone">
  <button class="btn btn-add" type="button" (click)="inviteAgency()" [disabled]="inviting">
    <mat-spinner [diameter]="20" *ngIf="inviting"></mat-spinner>
    <span [style.opacity]="inviting?'0':'1'"><i class="fas fa-user-plus"></i>Mời agency</span>
  </button>
  <div class="form-input-wrapper invite-link">
    <input id="invite-link" class="form-input" name="inviteLink" [(ngModel)]="inviteLink" [readonly]="inviteLink" (click)="inviteLink?copyLink():false"
    [matTooltip]="inviteLink?'Nhấp vào để sao chép':'Tạo URL để chia sẻ'">
  </div>
  <div class="toolbar-buttons">
      <span class="total">Hiển thị {{agencies.length}}/{{total}}</span>
    <button class="btn" (click)="reload(false)" [matTooltip]="'Refresh'"><i class="fas fa-sync-alt" [class.fa-spin]="loading"></i></button>
    <div class="form-input-wrapper search">
      <input class="form-input" name="search" (keydown.enter)="reload()" (blur)="reload()" 
      (change)="!searchText?reload():false" placeholder="Tìm kiếm" [(ngModel)]="searchText">
    </div>
  </div>
</form>
<div class="table-container" *ngIf="loadDone">
  <table mat-table [dataSource]="agencies" multiTemplateDataRows>
  
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> STT. </th>
      <td mat-cell *matCellDef="let index = dataIndex"> {{index + 1}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Tên </th>
      <td mat-cell *matCellDef="let el"> {{el.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let el"> {{el.email}} </td>
    </ng-container>
    
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
      <td mat-cell *matCellDef="let el">
        <i class="fas fa-toggle-off off" [matTooltip]="'Bật quyền agency'"
        *ngIf="el.status=='deactive'" (click)="setStatus('active', el)"></i>
        <i class="fas fa-toggle-on on" [matTooltip]="'Hủy quyền agency'" 
        *ngIf="el.status=='active'" (click)="setStatus('deactive', el)"></i>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let el">
        <button class="btn btn-details" (click)="setExpandedElement(el)">
          <i class="fas fa-keyboard"></i><span class="text">Danh sách code</span></button>
        <!-- <button class="btn btn-remove" [matTooltip]="'Hủy quyền agency'"><i class="fas fa-user-minus"></i></button> -->
      </td>
    </ng-container>
    
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let el" [attr.colspan]="displayedColumns.length">
        <div class="detail-row-wrapper" [@detailExpand]="el == expandedElement ? 'expanded' : 'collapsed'">
            <div class="spinner-wrapper" *ngIf="loadingCodes"><mat-spinner [diameter]="20"></mat-spinner></div>
            <ng-container *ngIf="!loadingCodes && codes">
              <span class="not-found" *ngIf="!codes.length">Không có code</span>
              <span class="code" *ngFor="let code of codes">{{code.code}}</span>
            </ng-container>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded]="row == expandedElement"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>
  <button class="btn btn-load-more" *ngIf="!searchText && agencies.length && agencies.length < total" 
  (click)="loadMore()" [disabled]="loadingMore">
    <div class="spinner-wrapper" *ngIf="loadingMore"><mat-spinner [diameter]="20"></mat-spinner></div>
    <span class="text" [style.opacity]="loadingMore?'0':'1'">Tải thêm...</span>
  </button>
</div>
