@import '~customs.scss';

.btn-add {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;    
}

.invite-link {
  input {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;   
    transform-origin: left center;
    transition: all 0.3s ease-in-out;
    &:not([readonly]) {
      max-width: 0;
      width: 0;
      opacity: 0;
      transform: scaleX(0);
    }
    &[readonly] {
      max-width: 250px;
      width: 250px;
      opacity: 1;
      transform: scaleX(1);
    }
  }
}

i.on {
  cursor: pointer;
  font-size: 20px;
  color: $green-400;
}

i.off {
  cursor: pointer;
  font-size: 20px;
  color: $grey-mild;
}

.code {
  display: inline-block;
  padding: 6px 10px;
  background: $grey-lightest;
  border-radius: 6px;
  color: $grey-dark;
  margin-bottom: 8px;
  margin-right: 8px;
}