@import "~customs.scss";

.portal {
  min-width: 280px !important;
  width: 280px;
}
.portal-name {
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.no-content {
    position: absolute;
}

.task-wrapper > .title {
  color: $brand-light;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  @include flex-align-center;
  justify-content: space-between;
  border-bottom: 1px solid $grey-lighter;
  i {
    color: $grey;
    cursor: pointer;
    &:hover {
      color: $brand-light;
    }
  }
}

.notification-item {
  // @include flex-align-center;
  font-size: 14px;
  width: 280px;
  min-height: 84px;
  color: $grey;
  padding: 8px;
  border-bottom: 1px solid $grey-lighter;
  animation: item-opened 0.2s ease-in-out;
  .notification-main {
      @include flex-align-center;
      height: 40px;
  }
  .icon {
      flex: 0 0 52px;
      width: 52px;
      height: 100%;
      @include flex-center;
      font-size: 16px;
      position: relative;
  }
  .info {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      height: 100%;
      padding-left: 4px;
      width: calc(100% - 64px);
      .title {
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        justify-content: space-between;
        display: flex;
        padding-right: 8px;
        i {
          color: $grey;
          cursor: pointer;
          &:hover {
            color: $brand-danger;
          }
        }
      }
  }
  .date {
      font-size: 12px;
      font-weight: 400;
      line-height: 13px;
      color: $grey;
  }
  .extra {
      background: $grey-white;
      width: 100%;
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      border-radius: 100px;
      // padding: 0 12px;
      margin-top: 4px;
      color: $grey-dark;
      display: flex;
      justify-content: space-evenly;
  }
  .error {
      width: 100%;
      font-weight: 400;
      font-size: 13px;
      color: tomato;
      padding: 0 4px;
      white-space: pre-wrap;
      line-height: 13px;
      font-size: 10px;
      margin-top: 4px;
  }
  .title, .date, .extra {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
  }
  ::ng-deep.progress {
      background: transparent;
      position: absolute;
  }   
  &.running, &.IN_PROGRESS, &.scheduled {
      color: $amber-400;
      .title {
          color: $amber-400;
      }
      ::ng-deep.progress svg circle {
          stroke: $amber-400;
      }
  }
  &.complete, &.FINISHED {
      color: $green-400;
      .title {
          color: $green-400;
      }
      ::ng-deep.progress svg circle {
          stroke: $green-400;
      }
  }
  &.failed, &.ERROR, &.canceled {
      color: $red-400;
      .title {
          color: $red-400;
      }
      ::ng-deep.progress svg circle {
          stroke: $red-400;
      }
  }
}

.notification-item.running {
  .title:after {
      content: '.';
      animation: dots 1.5s steps(3, end) infinite;
  }
}

@keyframes dots {
  0% {
      content: '.';
  }
  33% {
      content: '..';
  }
  66% {
      content: '...';
  }
  100% {
      content: '...';
  }
}