<form>
  <div class="portal" (click)="focus()">
    <mat-toolbar color="success" class="portal-header">
      <span class="portal-name">{{portalName}}</span>
    
      <!-- <i class="fas fa-pencil-alt button-edit-name" (click)="editStoryName()"></i> -->
      <span class="header-spacer"></span>
      
      <!-- <button *ngIf="chatbotApi.chatbotAuth.user.rule != 'read'" mat-button class="save-button" [class.fade-in]="showSave" [disabled]="!showSave || isSaving" (click)="saveContent()">
        <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
        <span [hidden]="isSaving">
          <i class="fas fa-save"></i>Lưu</span>
      </button>
      <span class="saved-label" *ngIf="saved">
        <mat-icon>check</mat-icon>Đã lưu</span> -->
        <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above" >
            <i class="fas fa-question"></i>
        </button> -->
      <mat-icon style="cursor: pointer" class="icon-btn" (click)="close()">close</mat-icon>
    </mat-toolbar>
    <div class="portal-content-block">
      <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
      <div class="no-content" *ngIf="loadDone && !tasks.length">
        <div class="no-content-text">
          Chưa có tác vụ nào
        </div> 
      </div>
      <div class="task-wrapper" *ngIf="loadDone && tasks.length">
        <div class="title">Danh sách tác vụ<i class="fas fa-sync-alt" (click)="reload(false)" [class.fa-spin]="loading"></i></div>
        
        <div class="notification-item" *ngFor="let task of tasks" [ngClass]="task.processState">
          <div class="notification-main">
            <div class="icon">
              <ng-container>
                <i class="fas fa-paper-plane" *ngIf="task.processState=='running'"></i>
                <i class="fas fa-paper-plane" *ngIf="task.processState=='complete'&&!broadcast"></i>
                <i class="fas fa-broadcast-tower" *ngIf="task.processState=='complete'&&broadcast"></i>
                <i class="fas fa-calendar-alt" *ngIf="task.processState=='scheduled' "></i>
                <i class="fas fa-times" *ngIf="task.processState=='canceled' || task.processState=='failed'"></i>
              </ng-container>
              <mat-progress-spinner
                class="progress"
                [strokeWidth]="3"
                [diameter]="40"
                [color]="'primary'"
                [mode]="task.value > 0?'determinate':'indeterminate'"
                [value]="task.value?task.value:0">
              </mat-progress-spinner>
            </div>
            <div class="info">
              <span class="title">{{task.title}}<i *ngIf="task.processState=='scheduled'||task.processState=='running'" 
                class="fas fa-times" (click)="cancelTask(task)"></i></span>
              <div class="date">Gửi vào: {{(task.scheduleAt?task.scheduleAt:task.createdAt) | date:'HH:mm dd-MM-yyyy'}}</div>
            </div>
          </div>
          <div class="extra" [innerHTML]="task.subtitle | safe:true"></div>
          <div class="error" *ngIf="task.error">{{task.error}}</div>
        </div>
      </div>
    </div>
    <!-- <div class="popular-card" [hidden]="!popularCards || popularCards.length == 0" [class.show-popular]="showPopular">
      <div class="point-icon" (click)="showPopular=!showPopular">
        <i class="fas fa-chevron-left"></i>
      </div>
      <div class="populcar-card-box"  cdkDropList >
          <button (click)="addCard(card.code)" [cdkDragData]="card" cdkDrag *ngFor="let card of popularCards; let i = index"  mat-button class="btn-grey" [matTooltip]="card.display" matTooltipPosition="above">
            <div class="card-info">
              <i class="{{card.icon}}"></i>
            </div>
            <mat-card class="story-card popular-preview" mat-list-item *cdkDragPreview>
                <app-card-header [icon]="card.icon" [title]="card.display" [note]="card.note" ></app-card-header>
                <mat-card-content>
                    <div class="empty-content"></div>
                </mat-card-content>
            </mat-card>
          </button>
      </div> -->
      <!-- <div class="popular-card-content">
        <app-card-container #cardPopular [parentViewRef]="viewRef" (OnClick)="addCard($event)" [haveTooltip]="true"
        [parentPortal]="this"></app-card-container>
      </div> -->
    <!-- </div> -->
    <!-- <div class="portal-footer" [ngClass]="(cardContainer.cardComps.length)?'portal-footer-display':''">
      <button mat-button class="btn-grey has-text" (click)="openStoryStatistics()">
        <i class="fas fa-chart-pie"></i><span class="text">Thống kê</span>
      </button>
      <button mat-button class="btn-grey has-text" (click)="showStoryInfo()">
        <i class="fas fa-cog"></i><span class="text">Cài đặt</span>
      </button>
      <button mat-button class="btn-grey has-text" (click)="testStory()" [class.sending]="sendingTest">
        <div class="spinner test-spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <i class="fab fa-facebook-messenger"></i><span class="text">Test</span>
      </button>
      <button mat-button class="btn-grey has-text" (click)="sendStory()">
        <i class="fas fa-paper-plane"></i><span class="text">Gửi</span>
      </button>
      
      <button class="btn-blue btn-create-story" mat-raised-button color="primary" [disabled]="isSaving"
      matTooltipPosition="above" (click)="openCreateCardDialog()">
        <i class="fas fa-plus-square"></i><span>Thêm thẻ</span>
      </button>
    </div> -->
  </div>
</form>