@import "~customs.scss";

.button-form {
    background: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid mix($grey-mild, $grey-light);
    border-bottom-width: 6px;
    border-radius: 6px;
    z-index: 900;
    position: absolute;
    transform-origin: center 20px; 
    animation: open-up 0.2s cubic-bezier(.25,.8,.25,1) !important;
    overflow: hidden;
}

@keyframes open-up {
    from { transform: scale(0); opacity: 0 }
    to { transform: scale(1); opacity: 1 }
}

@keyframes close-down {
    from { transform: scale(1); opacity: 1 }
    to { transform: scale(0); opacity: 0 }
}

.close-down {
    transform: scale(0); 
    opacity: 0;
    animation: close-down 0.35s cubic-bezier(.25,.8,.25,1) !important;
}

.form-input-wrapper {
    position: relative;
}
.ref-wrapper {
    @include flex-align-center;
}

.form-header {
    @include flex-align-center;
    justify-content: space-between;
    border-bottom: 1px solid $grey-lighter;
    height: 32px;
    padding: 4px 16px;
    margin-bottom: 0;
    box-sizing: content-box;
    .title {
        font-weight: 500;
        color: $grey-dark;
        font-size: 14px;
        i {
            margin-right: 8px;
            color: $grey;
        }
    }
    
}

.form-content {
    padding: 20px 12px 8px;
    >* {
        padding-left: 4px;
        padding-right: 4px;
    }
    .form-input-wrapper {
        .form-input {
            height: 40px;
        }
        label {
            left: 12px !important;
        }
        .image-wrapper {
            width: 36px;
            padding-bottom: 36px;
            position: absolute;
            right: 6px;
            top: 2px;
            background: white;
            border: 0;        
            border-left: 1px solid $grey-light;
            img {
                background-color: $grey-white;
            }
        }
        &.icon {
            .form-input {
                padding: 8px 48px 8px 12px;
            }
            img {
                width: 84%;
                height: 84%;
                margin-top: 8%;
                margin-left: 8%;
                border-radius: 50%;
            }
        }
        &.image {
            .form-input {
                padding: 8px 48px 8px 12px;
            }
            img {
                width: 100%;
                height: 100%;
                margin-top: 0;
                margin-left: 0;
                border-radius: 2px;
            }
        }
        .btn-open {
            width: 100%;
            height: 40px;
            font-weight: 500;
            border: 1px solid $grey-light;
            color: $grey-dark;
            background: $grey-white;
            border-radius: 2px;
            text-align: center;
            cursor: pointer;
            &:hover {
                border-color: $brand-light;
                color: $brand-light;
            }
        }
        &.select {
            ::ng-deep.mat-select[disabled], ::ng-deep.mat-select[aria-disabled="true"] {
                border-style: dashed;
                pointer-events: none;
            }
            ::ng-deep.mat-form-field-wrapper, ::ng-deep.mat-form-field-flex, ::ng-deep.mat-form-field-infix {
                padding: 0;
                position: unset;
            }
            ::ng-deep.mat-form-field-infix {
                height: 40px;
                border: 0;
                padding: 0;
            }
            ::ng-deep.mat-select-arrow-wrapper {
                display: block;
            }
            ::ng-deep.mat-form-field-underline, ::ng-deep.mat-form-field-subscript-wrapper,
            ::ng-deep.mat-form-field-label-wrapper {
                display: none;
            }
        }
    }
}

.form-buttons {
    @include flex-align-center;
    justify-content: space-between;
    padding: 0px 14px 12px;
    .btn-cancel {
        padding: 8px 16px;
    }
    .btn-confirm {
        padding: 8px 28px;
        margin: 0;
    }
    .btn-paste, .btn-copy {
        font-size: 13px;
        margin-right: 4px;
        margin-left: 0;
        padding: 8px;
        margin: 0;
        i {
            margin-right: 4px;
        }
    }
}