<form class="button-form" id="button-form">
    <div class="form-header">
        <span class="title"><i [ngClass]="formOptions.icon"></i>{{formOptions.title}}</span>
    </div>
    <div class="form-content row m-0">
        <ng-container *ngFor="let field of formOptions.fields; let i = index">
            <ng-container *ngIf="field.type=='text'">
                <div class="form-input-wrapper" [ngClass]="['col-' + field.col, field.type]">
                    <input hlTextArea class="form-input" [(ngModel)]="data[field.property]" tabindex="{{i + 1}}" 
                    name="{{field.property}}" (ngModelChange)="inputChanged(field)" required [disabled]="field.disabled">
                    <label [class.floating]="data[field.property]">{{field.placeholder}}</label>
                    <span class="form-error" *ngIf="errors[field.property]">{{errors[field.property]}}</span>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type=='textarea'">
                <div class="form-input-wrapper" [ngClass]="['col-' + field.col, field.type]">
                    <textarea hlTextArea class="form-input" [(ngModel)]="data[field.property]" tabindex="{{i + 1}}"
                    cdkTextareaAutosize cdkAutosizeMinRows="2" rows="2" 
                    name="{{field.property}}" (ngModelChange)="inputChanged(field)" required [disabled]="field.disabled"></textarea>
                    <label [class.floating]="data[field.property]">{{field.placeholder}}</label>
                    <span class="form-error" *ngIf="errors[field.property]">{{errors[field.property]}}</span>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type=='select'">
                <mat-form-field class="form-input-wrapper" [ngClass]="['col-' + field.col, field.type]">
                    <mat-select class="form-input" [(ngModel)]="data[field.property]" tabindex="{{i + 1}}" 
                    name="{{field.property}}" (ngModelChange)="inputChanged(field)" [disabled]="field.disabled">
                        <mat-option *ngFor="let option of field.options" [value]="option.code">{{option.display}}</mat-option>
                    </mat-select>
                    <label [class.floating]="data[field.property]">{{field.placeholder}}</label>
                    <span class="form-error" *ngIf="errors[field.property]">{{errors[field.property]}}</span>
                </mat-form-field>
            </ng-container>
            <ng-container *ngIf="field.type=='icon'||field.type=='image'">
                <div class="form-input-wrapper" [ngClass]="['col-' + field.col, field.type]">
                    <input class="form-input" [(ngModel)]="data[field.property]" tabindex="{{i + 1}}" 
                    name="{{field.property}}" (ngModelChange)="inputChanged(field)" required>
                    <div class="image-wrapper" *ngIf="data[field.property]">
                        <img src="{{data[field.property]}}" onerror="this.src='assets/img/blank.gif'">
                    </div>
                    <label>{{field.placeholder}}</label>
                    <span class="form-error" *ngIf="errors[field.property]">{{errors[field.property]}}</span>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type=='checkbox'">
                <div class="form-input-wrapper" [ngClass]="['col-' + field.col, field.type]">
                    <!-- <label class="floating">{{field.placeholder}}</label> -->
                    <div class="checkbox-wrapper" [class.active]="data[field.property]" (click)="onChanged(!data[field.property], field.property)">
                        <i class="far fa-square"></i><i class="fas fa-check-square check"></i>
                        <span>{{field.placeholder}}</span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type=='story'||field.type=='topic'">
                <div class="form-input-wrapper" [ngClass]="['col-' + field.col, field.type]">
                    <app-story-selection [ids]="data[field.property]" (change)="onChanged($event, field.property)" [title]="field.placeholder"
                    [multiple]="false" [mode]="field.type" (active)="active = $event" [error]="errors[field.property]"></app-story-selection>
                </div>
            </ng-container>
            <ng-container *ngIf="field.type=='open'">
                <div class="form-input-wrapper" [ngClass]="['col-' + field.col, field.type]">
                    <button class="btn btn-open" (click)="openPortal(field)">{{field.placeholder}}</button>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="form-buttons">
        <button class="btn-paste btn-cancel" type="button" (click)="onPasteClick()" *ngIf="formOptions.pasteData"><i class="fas fa-paste"></i>Paste</button>
        <button class="btn-copy btn-cancel" type="button" (click)="onCopyClick()" *ngIf="formOptions.onCopy"><i class="far fa-copy"></i>Copy</button>
        <!-- <button class="btn-cancel" type="button" (click)="onNoClick()">Hủy</button> -->
        <!-- <button class="btn-confirm" type="submit" (click)="onYesClick()" [disabled]="hasError" *ngIf="formOptions.fields.length">{{formOptions.confirm}}</button> -->
        <button class="btn-cancel" type="submit" (click)="onNoClick()" *ngIf="formOptions.mode == 'edit'">Đóng</button>
        <ng-container *ngIf="formOptions.mode == 'add'">
            <button class="btn-cancel" type="button" (click)="onNoClick()">Hủy</button>
            <button class="btn-confirm" type="button" (click)="onYesClick()" 
            [disabled]="hasError" *ngIf="formOptions.fields.length">Tạo nút</button>
        </ng-container>
    </div>
</form>

