
$bluegrey-white:            #ECEFF1; //50
$bluegrey-lightest:         #CFD8DC; //100
$bluegrey-lighter:          #B0BEC5; //200
$bluegrey-light:            #90A4AE; //300
$bluegrey-mild:             #78909C; //400
$bluegrey:                  #607D8B; //500
$bluegrey-dark:             #546E7A;
$bluegrey-darker:           #455A64;
$bluegrey-darkest:          #37474F;
$bluegrey-black:            #263238;

$grey-white:                #FAFAFA; //50
$grey-lightest:             #F5F5F5; //100
$grey-lighter:              #EEEEEE; //200
$grey-light:                #E0E0E0; //400
$grey-mild:                 #BDBDBD; //400
$grey:                      #9E9E9E; //500
$grey-dark:                 #757575;
$grey-darker:               #616161;
$grey-darkest:              #424242;
$grey-black:                #212121;

$gray-dark:                 #384042;
$gray:                      #9faecb; //#5d76a8;
$gray-light:                #c0cadd; //#9faecb;
$gray-lighter:              #e1e6ef; //#c0cadd
$gray-lightest:             #f9f9fa; //#e1e6ef

$brand-primary:             #2ba8d6;
$brand-accent:              #FFD54F;
$brand-success:             #79c447;
$brand-info:                #67c2ef;
$brand-warning:             #FF6F00;
$brand-danger:              #e95350;

$brand-light:               #64b5f6; 
$brand-dark:                #2590ce;
$brand-danger-light:        #ff6482;
$brand-accent-dark:         #FFCA28;

$color-red:                 #FF1744;
$color-pink:                #F50057;
$color-purple:              #D500F9;
$color-deep-purple:         #651FFF;
$color-indigo:              #3D5AFE;
$color-blue:                #2979FF;
$color-light-blue:          #00B0FF;
$color-cyan:                #00E5FF;
$color-teal:                #1DE9B6;
$color-green:               #00E676;
$color-yellow:              #FFEA00;
$color-amber:               #FFC107;
$color-orange:              #FF9100;
$color-deep-orange:         #FF3D00;
$color-brown:               #795548;/*COLORS MATERIAL DESING
Paleta de colores
https://codepen.io/ztvMark/pen/ZGagWz
*/

// Pink
$pink-50:  #FCE4EC;
$pink-100: #F8BBD0;
$pink-200: #F48FB1;
$pink-300: #F06292;
$pink-400: #EC407A;
$pink-500: #E91E63;
$pink-600: #D81B60;
$pink-700: #C2185B;
$pink-800: #AD1457;
$pink-900: #880E4F;

$pink-A100: #FF80AB;
$pink-A200: #FF4081;
$pink-A400: #F50057;
$pink-A700: #C51162;


// Purple
$purple-50:  #F3E5F5;
$purple-100: #E1BEE7;
$purple-200: #CE93D8;
$purple-300: #BA68C8;
$purple-400: #AB47BC;
$purple-500: #9C27B0;
$purple-600: #8E24AA;
$purple-700: #7B1FA2;
$purple-800: #6A1B9A;
$purple-900: #4A148C;

$purple-A100: #EA80FC;
$purple-A200: #E040FB;
$purple-A400: #D500F9;
$purple-A700: #AA00FF;



// Deep Purple
$deep-purple-50:  #EDE7F6;
$deep-purple-100: #D1C4E9;
$deep-purple-200: #B39DDB;
$deep-purple-300: #9575CD;
$deep-purple-400: #7E57C2;
$deep-purple-500: #673AB7;
$deep-purple-600: #5E35B1;
$deep-purple-700: #512DA8;
$deep-purple-800: #4527A0;
$deep-purple-900: #311B92;

$deep-purple-A100: #B388FF;
$deep-purple-A200: #7C4DFF;
$deep-purple-A400: #651FFF;
$deep-purple-A700: #6200EA;



// Indigo
$indigo-50:  #E8EAF6;
$indigo-100: #C5CAE9;
$indigo-200: #9FA8DA;
$indigo-300: #7986CB;
$indigo-400: #5C6BC0;
$indigo-500: #3F51B5;
$indigo-600: #3949AB;
$indigo-700: #303F9F;
$indigo-800: #283593;
$indigo-900: #1A237E;

$indigo-A100: #8C9EFF;
$indigo-A200: #536DFE;
$indigo-A400: #3D5AFE;
$indigo-A700: #304FFE;



// Blue
$blue-50:  #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;

$blue-A100: #82B1FF;
$blue-A200: #448AFF;
$blue-A400: #2979FF;
$blue-A700: #2962FF;



// Light blue
$light-blue-50:  #E1F5FE;
$light-blue-100: #B3E5FC;
$light-blue-200: #81D4FA;
$light-blue-300: #4FC3F7;
$light-blue-400: #29B6F6;
$light-blue-500: #03A9F4;
$light-blue-600: #039BE5;
$light-blue-700: #0288D1;
$light-blue-800: #0277BD;
$light-blue-900: #01579B;

$light-blue-A100: #80D8FF;
$light-blue-A200: #40C4FF;
$light-blue-A400: #00B0FF;
$light-blue-A700: #0091EA;



// Cyan
$cyan-50:  #E0F7FA;
$cyan-100: #B2EBF2;
$cyan-200: #80DEEA;
$cyan-300: #4DD0E1;
$cyan-400: #26C6DA;
$cyan-500: #00BCD4;
$cyan-600: #00ACC1;
$cyan-700: #0097A7;
$cyan-800: #00838F;
$cyan-900: #006064;
 
$cyan-A100: #84FFFF;
$cyan-A200: #18FFFF;
$cyan-A400: #00E5FF;
$cyan-A700: #00B8D4;



// Teal
$teal-50:  #E0F2F1;
$teal-100: #B2DFDB;
$teal-200: #80CBC4;
$teal-300: #4DB6AC;
$teal-400: #26A69A;
$teal-500: #009688;
$teal-600: #00897B;
$teal-700: #00796B;
$teal-800: #00695C;
$teal-900: #004D40;

$teal-A100: #A7FFEB;
$teal-A200: #64FFDA;
$teal-A400: #1DE9B6;
$teal-A700: #00BFA5;



// Green
$green-50:  #E8F5E9;
$green-100: #C8E6C9;
$green-200: #A5D6A7;
$green-300: #81C784;
$green-400: #66BB6A;
$green-500: #4CAF50;
$green-600: #43A047;
$green-700: #388E3C;
$green-800: #2E7D32;
$green-900: #1B5E20;

$green-A100: #B9F6CA;
$green-A200: #69F0AE;
$green-A400: #00E676;
$green-A700: #00C853;



// Light green
$light-green-50:  #F1F8E9;
$light-green-100: #DCEDC8;
$light-green-200: #C5E1A5;
$light-green-300: #AED581;
$light-green-400: #9CCC65;
$light-green-500: #8BC34A;
$light-green-600: #7CB342;
$light-green-700: #689F38;
$light-green-800: #558B2F;
$light-green-900: #33691E;

$light-green-A100: #CCFF90;
$light-green-A200: #B2FF59;
$light-green-A400: #76FF03;
$light-green-A700: #64DD17;



// Lime
$lime-50:  #F9FBE7;
$lime-100: #F0F4C3;
$lime-200: #E6EE9C;
$lime-300: #DCE775;
$lime-400: #D4E157;
$lime-500: #CDDC39;
$lime-600: #C0CA33;
$lime-700: #AFB42B;
$lime-800: #9E9D24;
$lime-900: #827717;

$lime-A100: #F4FF81;
$lime-A200: #EEFF41;
$lime-A400: #C6FF00;
$lime-A700: #AEEA00;



// Yellow
$yellow-50:  #FFFDE7;
$yellow-100: #FFF9C4;
$yellow-200: #FFF59D;
$yellow-300: #FFF176;
$yellow-400: #FFEE58;
$yellow-500: #FFEB3B;
$yellow-600: #FDD835;
$yellow-700: #FBC02D;
$yellow-800: #F9A825;
$yellow-900: #F57F17;

$yellow-A100: #FFFF8D;
$yellow-A200: #FFFF00;
$yellow-A400: #FFEA00;
$yellow-A700: #FFD600;



// Amber
$amber-50:  #FFF8E1;
$amber-100: #FFECB3;
$amber-200: #FFE082;
$amber-300: #FFD54F;
$amber-400: #FFCA28;
$amber-500: #FFC107;
$amber-600: #FFB300;
$amber-700: #FFA000;
$amber-800: #FF8F00;
$amber-900: #FF6F00;

$amber-A100: #FFE57F;
$amber-A200: #FFD740;
$amber-A400: #FFC400;
$amber-A700: #FFAB00;



// Orange
$orange-50:  #FFF3E0;
$orange-100: #FFE0B2;
$orange-200: #FFCC80;
$orange-300: #FFB74D;
$orange-400: #FFA726;
$orange-500: #FF9800;
$orange-600: #FB8C00;
$orange-700: #F57C00;
$orange-800: #EF6C00;
$orange-900: #E65100;

$orange-A100: #FFD180;
$orange-A200: #FFAB40;
$orange-A400: #FF9100;
$orange-A700: #FF6D00;



// Deep orange
$deep-orange-50:  #FBE9E7;
$deep-orange-100: #FFCCBC;
$deep-orange-200: #FFAB91;
$deep-orange-300: #FF8A65;
$deep-orange-400: #FF7043;
$deep-orange-500: #FF5722;
$deep-orange-600: #F4511E;
$deep-orange-700: #E64A19;
$deep-orange-800: #D84315;
$deep-orange-900: #BF360C;

$deep-orange-A100: #FF9E80;
$deep-orange-A200: #FF6E40;
$deep-orange-A400: #FF3D00;
$deep-orange-A700: #DD2C00;



// Brown
$brown-50:  #EFEBE9;
$brown-100: #D7CCC8;
$brown-200: #BCAAA4;
$brown-300: #A1887F;
$brown-400: #8D6E63;
$brown-500: #795548;
$brown-600: #6D4C41;
$brown-700: #5D4037;
$brown-800: #4E342E;
$brown-900: #3E2723;



// Grey
$grey-50:  #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;



// Blue grey
$blue-grey-50:   #ECEFF1;
$blue-grey-100:  #CFD8DC;
$blue-grey-200:  #B0BEC5;
$blue-grey-300:  #90A4AE;
$blue-grey-400:  #78909C;
$blue-grey-500:  #607D8B;
$blue-grey-600:  #546E7A;
$blue-grey-700:  #455A64;
$blue-grey-800:  #37474F;
$blue-grey-900:  #263238;



// Black
$black:  #000000;
$black-1: rgba(0, 0, 0, 0.87);
$black-2: rgba(0, 0, 0, 0.54);
$black-3: rgba(0, 0, 0, 0.26);
$black-4: rgba(0, 0, 0, 0.12);



// White
$white:   #FFFFFF;
$white-1: #FFFFFF;
$white-2: rgba(255, 255, 255, 0.70);
$white-3: rgba(255, 255, 255, 0.30);
$white-4: rgba(255, 255, 255, 0.12);
$white-5: rgba(255, 255, 255, 0.05);
// Red
$red-50:  #FFEBEE;
$red-100: #FFCDD2;
$red-200: #EF9A9A;
$red-300: #E57373;
$red-400: #EF5350;
$red-500: #F44336;
$red-600: #E53935;
$red-700: #D32F2F;
$red-800: #C62828;
$red-900: #B71C1C;

$red-A100: #FF8A80;
$red-A200: #FF5252;
$red-A400: #FF1744;
$red-A700: #D50000;

@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(80px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(80px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(80px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(80px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(80px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(80px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(80px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(80px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(80px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(80px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(80px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(80px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(80px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(80px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(80px) rotateY(180deg);
		opacity: 0;
	}
}

.dots-loader,
.dots-loader:before,
.dots-loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.dots-loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.dots-loader:before,
.dots-loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.dots-loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.dots-loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
	-webkit-transform: scale(0);
	transform: scale(0);
	} 40% { 
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
	}
}

@mixin flex-align-start {
	display: flex;
	align-items: flex-start;
	> * {
		align-self: flex-start;
	}
}
@mixin flex-box-space {
	display: flex;
	justify-content: space-between;
	align-items: center;
	> * {
		align-self: center;
	}
}
@mixin flex-align-center {
	display: flex;
	align-items: center;
	> * {
		align-self: center;
	}
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    >* {
        align-self: center;
    }
}

@mixin custom-scrollbar-grey {	
    overflow-y: auto;
	// &:hover {
	// 	&::-webkit-scrollbar-thumb {
	// 		background-color: mix($grey-light, $grey-mild); 
	// 		transition: background-color 0.3s ease-in-out;
	// 	}
	// }
    &::-webkit-scrollbar {
		width: 9px;
		z-index:10;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
		background-color: mix($grey-light, $grey-mild); 
		// background-color: rgba(255, 255, 255,0);
		// transition: background-color 0.3s ease-in-out;
		border-radius: 3px;
		border: 3px solid transparent;
		border-left: none;
		background-clip: padding-box;
		// background-color: rgba(0, 0, 0, 0.15);
		// -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
    &::-webkit-scrollbar-thumb:hover, &::-webkit-scrollbar-thumb:active {
        background-color: $grey-mild; 
	}
}
@mixin custom-scrollbar-blue {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
        z-index:10;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten($brand-light, 25%); 
    }
    &::-webkit-scrollbar-thumb:hover, &::-webkit-scrollbar-thumb:active {
        background-color: lighten($brand-light, 20%); 
    }
}


@mixin mid-content-wrapper {
	width: 86%;
	max-width: 960px;
	margin: auto;
}

@mixin btn-primary-background {
	cursor: pointer;
	background-color: $brand-light;
	color: white;
	i {
		margin-right: 8px;
	}
	&:hover {
		background-color: $brand-primary;
	}
	&[disabled] {
		pointer-events: none;
		opacity: 0.6;
	}
}

@mixin btn-grey-background {
	cursor: pointer;
	background-color: $grey-lightest;
	color: $grey-dark;
	i {
		margin-right: 8px;
	}
	&:hover {
		background-color: $grey-lighter;
		color: $brand-light;
	}
	&.delete {
		i {
			margin: 0;
		}
		&:hover {
			color: $brand-danger;
		}
	}
}

@mixin btn-grey-border {
	padding: 0 20px;
	font-size: 14px;
	height: 40px;
	border-radius: 2px;
	background-color: $grey-white;
	color: $grey;
	border: 1px solid $grey-light;
	display: flex;
	justify-content: center;
	align-items: center;
	i {
		margin-right: 8px;
		align-self: center;
	}
	&:hover {
		border-color: $brand-light;
		color: $brand-light;
	}
}

@mixin btn-icon-transparent {
	cursor: pointer;
	background-color: none;
	color: $grey;
	width: 40px;
	height: 40px;
	&:hover {
		color: $brand-light;
	}
}

@mixin card {
	background: white;
	border: 1px solid $grey-lighter;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
}

@mixin gift-background($size: 500px) {
	background-image: url(https://i.imgur.com/Fta1cL2.png);
	background-repeat: repeat;
	background-color: $brand-light;
	background-size: $size;
	background-attachment: fixed;
	background-position: center;
}

@mixin icon-margin($distance: 4px, $direction: "right") {
	@if $direction == "right" {
		margin-right: $distance;
	}
	else {
		margin-left: $distance;
	}
}

@mixin text-ellipsis($line: 2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	/* autoprefixer: off */
	-webkit-box-orient: vertical;
	/* autoprefixer: on */
}
