/* You can add global styles to this file, and also import other style files */
@import "./assets/theme.scss";
@import "./customs.scss";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~jsoneditor/dist/jsoneditor.min.css";
//@import "../src//app/components/ngx-emoji-mart/picker/picker.css";
@import "./assets/css/jquery.highlight-within-textarea.scss";
@import "./assets/picker.scss";
@import "./assets/css/at.scss";

$breakpoint-mobile: 414px;

* {
    &:focus {
        outline: none
    }
}

body {
    margin: 0;
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.header-spacer {
    flex: 1 1 auto;
}

[hidden] {
    display: none;
}
/* Draggable*/

.drag-border {
    border: #ff525b dashed 2px;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
    border: #3c763d dashed 2px;
}

.drag-over-border {
    border: #fbbc05 dashed 2px;
}

.drag-transit {
    border: #3500FF dashed 2px;
}

textarea.cdk-textarea-autosize {
    overflow: hidden !important;
}

.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fade-out {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    right: 0;
    padding: 0px !important;
    width: 0px !important;
    min-width: 0px !important;
    margin: 0px !important;
}

input {
    min-width: 20px;
}
input[type=time]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=time]::-webkit-clear-button {
    display: none;
}
button {
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}
::ng-deep .button-remove-overlay .mat-button-focus-overlay {
    background-color:transparent !important;
    opacity: 0 !important;
}


.mat-toolbar {
    .spinner-wrapper {
        padding: 0;
        width: auto;
        position: relative;
    }
}

.form-control {
    width: 100%;
    border-radius: 3px !important;
    border: 1px solid $grey;
    padding: 8px;
}

.input-control {
    color: $grey-dark;
    font-size: 0.85rem;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $grey-mild;
        font-size: 0.85rem;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $grey-mild;
        font-size: 0.85rem;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $grey-mild;
        font-size: 0.85rem;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $grey-mild;
        font-size: 0.85rem;
    }
    &:focus {
        color: $grey-dark;
    }
}

.select-control {
    color: $grey-dark;
    font-size: 0.85rem;
    transition: all 0.3s ease;
    &:focus {
        color: $grey-dark;
        border: 1px solid $brand-primary !important;
    }
    option {
        margin: 5px;
        padding: 5px;
        font-size: 0.85rem;
    }
}
.text-mute {
    color: lightgray;
}

.btn {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    @include flex-center;
    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

.save-button {
    background-color: $amber-400 !important;
    color: white !important;
    margin-right: 8px !important;
    margin-left: 8px !important;
    min-width: 50px !important;
    width: 80px !important;
    height: 36px !important;
    border-radius: 25px !important;
    font-size: 14.5px !important;
    line-height: 30px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: all 0.3s ease !important; 
    >* {
        align-self: center !important;
    }
    i {
        margin-right: 5px;
    }
    ::ng-deep.mat-button-ripple {
        border-radius: 25px;
    }
    ::ng-deep.mat-button-focus-overlay {
        border-radius: 25px;
    }
    &.green {
        background-color: $green-400 !important;
    }
}

.save-button[disabled] {
    width: 64px;
    background-color: $amber-A200;
    span {
        color: white;
    }
}

.saved-label {
    color: #5ee055;
    font-size: 14px;
    // margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    position: absolute;
    right: 48px;
    .mat-icon {
        color: #5ee055;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
    }
}

.no-content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    .no-content-text {
        color: $grey;
    }
    .mat-button {
        margin: 16px;
        background: transparent;
        border: 2px solid $brand-primary;
        color: $brand-primary;
        &[disabled] {
            border-color: $grey-light;
            color: $grey-light;
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.fade-in {
    animation:fade-in-anim 0.5s 1;
    animation-timing-function: cubic-bezier(0, 0.59, 0.24, 1.33);
    animation-fill-mode: forwards;
}
.fade-out {
    animation:fade-out-anim 0.5s 1;
    animation-timing-function: cubic-bezier(0, 0.59, 0.24, 1.33);
    animation-fill-mode: backwards;
}

@keyframes fade-in-anim {
	from {bottom:-8px; transform: scale(0.8); opacity:0;}
	to {bottom:0px; transform: scale(1); opacity:1;}
}
@keyframes fade-out-anim {
	from {bottom:0px; transform: scale(1); opacity:1;}
	to {bottom:-8px; transform: scale(0.8); opacity:0;}
}
@keyframes slide-up {
	from {transform: translateY(8px); opacity:0;}
	to {transform: translateY(0px); opacity:1;}
}
@keyframes slide-up-slightly {
	from {transform: translateY(3px); opacity:0;}
	to {transform: translateY(0px); opacity:1;}
}
@keyframes emerge {
	from { opacity:0;}
	to { opacity:1;}
}
@keyframes open-down {
    from { max-height: 0; transform: scaleY(0); opacity:0; }
    to { max-height: 10000px; transform: scaleY(1); opacity:1; }
}

.button-spinner {
    width: 20px !important;
    height: 20px !important;
    svg {    
        width: 20px !important;
        height: 20px !important;
        * {
            stroke: rgba(255, 255, 255, 0.4);
        }
    }
}


.dialog-title {
    text-align: center;
    color: $brand-dark;
    margin: 20px auto;
    font-size: 1.5rem;
}

.bottom-btn-group {
    text-align: center;

    .mat-form-field {
        padding-bottom: 10px;
    }

    .btn-confirm {
        padding: 10px 20px;
        margin: 0px;
        width: 100%;
        border-bottom: 4px solid $brand-primary;
        transition: all 0.3s ease;
        font-weight: bold;
        color: white;
        background: $brand-light;
        text-transform: uppercase;
        ::ng-deep.mat-button-focus-overlay {
            display: none;
        }
        &:hover {
            background: $brand-primary;
            border-bottom: 4px solid $brand-dark;
        }
        &[disabled] {
            color: $grey-lightest;
            background: $grey-mild;
            border-bottom: 4px solid $grey;
        }
    }

    .btn-cancel {
        padding: 6px 20px;
        margin: 4px;
        color: $grey;
        font-weight: bold;
        background-color: transparent;
        text-transform: uppercase !important;
        transition: all 0.3s ease;
        ::ng-deep.mat-button-focus-overlay {
            display: none;
        }
    }
}

.enjoyhint {
    z-index: 3000;
}

// .i-next-button, .i-skip-button { 
//     width: auto;
//     padding: 0 16px;
// }

.portal-header {
    position: relative;
    .portal-progress-bar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    & > span {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.mat-nav-list {
    padding-top: 0px;
}
.fb-customerchat {
    iframe {
        right: 54pt !important; 
    }
}
.fb_dialog.fb_dialog_advanced.fb_shrink_active {
    right: 54pt !important;
}

.icon-btn {
    cursor: pointer;
    margin-top: 2px;
    //width: 14px;
}

.jsoneditor-poweredBy {
    display: none
}

[hidden] { display: none !important;}

w-mat-timepicker {
    width: 100%;
    height: 100%;
}

// panel class

.card-menu {
    .menu-button {
        color: $grey;
        i {
            color: $grey;
            margin-right: 12px;
        }
        &:hover {
            background-color: lighten($brand-light, 30%);
            color: $brand-light;
            i {
                color: $brand-light;
            }
            &:last-child {
                color: $brand-danger;
                i {
                    color: $brand-danger;
                }
            }
        }
    }
}

.story-menu {
    button {
        color: $grey;
        i {
            color: $grey;
            margin-right: 8px;
        }
        &:hover {
            background-color: lighten($brand-light, 30%);
            color: $brand-light;
            i {
                color: $brand-light;
            }
        }
    }
}

.image-popup {
    max-width: 86vw !important;
    max-height: 86vh !important;
    .mat-dialog-container {
        width: auto;
        height: auto;
        max-width: inherit;
        max-height: inherit;
        background: transparent;
        padding: 0px;
        box-shadow: none;
        overflow: hidden;
        image-popup {
            display: flex;
            width: auto;
            height: auto;
            max-width: inherit;
            max-height: inherit;
            box-shadow: 0 11px 15px -7px rgba(179, 104, 104, 0.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
            img {
                object-fit: contain;
                width: 100%;
                // height: 100%;
            }
            .video-wrapper {
                width: 640px !important;
                height: 360px !important;
                overflow: hidden;
                iframe {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
    }
}

.no-data {
    font-style: italic;
    color: $grey-mild;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 32px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollbar-on-hover {
    &::-webkit-scrollbar-thumb {
        background-color: white !important; 
        opacity: 0 !important;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: lighten($brand-light, 10%) !important; 
            opacity: 1 !important;
        }
    }
}

.custom-scrollbar {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
        height:1px;
        z-index:10;
    }
    &::-webkit-scrollbar-track {
        background-color: white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten($brand-light, 10%); 
        border-radius:3px;
    }
    &::-webkit-scrollbar-thumb:hover, &::-webkit-scrollbar-thumb:active {
        background-color: $brand-light; 
    }
}

.spinner-wrapper {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    z-index: 100;
    &.relative {
        position: relative;
    }
}

.portal-section {
    margin: 24px 16px;
    .portal-section-title {
        text-transform: uppercase;
        font-weight: bold;
        color: $brand-primary;
        position: relative;
    }
    .portal-section-title-wrapper {
        display: flex;
        justify-content: space-between;
        .portal-section-button {
            color: $grey;
            border: none;
            outline: none !important;
            background: none;
            padding: none;
            cursor: pointer;
            &:hover {
                color: $brand-light;
            }
        }
    }
}
@media only screen and (max-width: $breakpoint-mobile) {
    .logo { margin-left: 8px !important; }
    .portal-header, .toolbar { height: 64px !important; }
    .portal { min-width: calc(100vw - 64px) !important; position: absolute; }
    .portal-container > .swiper-container > .swiper-wrapper > .main-swiper {
        width: calc(100vw - 64px);
        overflow-y: auto;
    }
    .app-number { margin-right: 8px; }
    .user-avatar { display: none; } 

    .cdk-overlay-pane { max-width: 100vw !important; }
    .dialog-row { width: 100% !important; padding: 0 8px; box-sizing: border-box;}
}
// Card Container
.cdk-drag-preview {
    app-card-sidebar {
        visibility: visible !important;
    }
}
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating, .cdk-drop-list.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

app-card-container .cdk-drop-list.no-card {    
    min-height: calc(100vh - 200px);
}


app-card-container, .cdk-drag-preview {
    .mat-divider {
        width: 100% !important;
        border-top-color: $grey-lightest;
    }
    .card-container {
        position: relative;
        transition: margin-top 0.2s ease-in-out;
        // animation: emerge 0.2s ease-in-out;
        .dummy-handle {
            position: absolute;
            width: 45%;        
            top: 0;
            height: 40px;
            left: 48px;
            z-index: 100;
            cursor: move;
        }
    }
    .card-wrapper {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        margin: 12px 12px 12px 8px;
        app-card-sidebar {
            visibility: hidden;
        }
        &.active {
            app-card-sidebar {
                visibility: visible;
            }
        }
    }
    .story-card {    
        background: white;
        flex: 1 1 auto;
        max-width: calc(100% - 40px);
        border-radius: 6px;
        overflow: visible;
        margin: 0;
        padding: 0px;
        // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;    
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.08) !important;
        border: 1px solid mix($grey-light, $grey-mild);
        border-bottom-width: 4px;
        // animation: emerge 0.2s ease-in-out;
        .mat-card-header {
            padding: 0px 8px;
            height: 40px;
            .pre-title-icon {
                margin-right: 5px;
                margin-bottom: 3px;
            }
            .mat-card-title {    
                height: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                display: -webkit-flex;
                -webkit-justify-content: center;
                -webkit-align-items: center;
                font-weight: bold;
                text-transform: uppercase;
                color: $brand-primary;
                cursor: move;
            }
            .header-spacer {
                cursor: move;
            } 
            .card-title-btn {
                color: $grey;
                &:hover:not([disabled]) {
                    color: $brand-light;
                }
                &[disabled] {
                    color: $grey-light;
                }
            }
            .card-save-btn {
                color: $amber-A200;
                &:hover:not([disabled]) {
                    color: $amber-A400;
                }
                &[disabled] {
                    color: $grey-light;
                }
            }
            .card-delete-btn {
                &:hover:not([disabled]) {
                    color: $red-A400;
                }
            }
            .card-state-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                display: -webkit-flex;
                -webkit-justify-content: center;
                -webkit-align-items: center;
                font-size: 12px;
                margin: 8px;
            }
        }
    
        .mat-card-content {
            padding: 16px;
            margin-bottom: 0;
        }
    
        .mat-card-image {
            width: 100%;
            margin: 0px;
        }
        .swiper-slide {
            padding-bottom: 10px;
        }
        .swiper-wrapper {
            @include flex-align-start;
        }
        .swiper-pagination {
            display: flex;
        }
        .swiper-button-next {
            right: 0;
            transform: scaleX(-1);
            background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLWxlZnQiIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaGV2cm9uLWxlZnQgZmEtdy0xMCIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48cGF0aCBmaWxsPSIjNjRiNWY2IiBkPSJNMzQuNTIgMjM5LjAzTDIyOC44NyA0NC42OWM5LjM3LTkuMzcgMjQuNTctOS4zNyAzMy45NCAwbDIyLjY3IDIyLjY3YzkuMzYgOS4zNiA5LjM3IDI0LjUyLjA0IDMzLjlMMTMxLjQ5IDI1NmwxNTQuMDIgMTU0Ljc1YzkuMzQgOS4zOCA5LjMyIDI0LjU0LS4wNCAzMy45bC0yMi42NyAyMi42N2MtOS4zNyA5LjM3LTI0LjU3IDkuMzctMzMuOTQgMEwzNC41MiAyNzIuOTdjLTkuMzctOS4zNy05LjM3LTI0LjU3IDAtMzMuOTR6Ij48L3BhdGg+PC9zdmc+);
            background-size: 16px 18px;
        }
        .swiper-button-prev {
            left: 0;  
            background-image: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJjaGV2cm9uLWxlZnQiIGNsYXNzPSJzdmctaW5saW5lLS1mYSBmYS1jaGV2cm9uLWxlZnQgZmEtdy0xMCIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48cGF0aCBmaWxsPSIjNjRiNWY2IiBkPSJNMzQuNTIgMjM5LjAzTDIyOC44NyA0NC42OWM5LjM3LTkuMzcgMjQuNTctOS4zNyAzMy45NCAwbDIyLjY3IDIyLjY3YzkuMzYgOS4zNiA5LjM3IDI0LjUyLjA0IDMzLjlMMTMxLjQ5IDI1NmwxNTQuMDIgMTU0Ljc1YzkuMzQgOS4zOCA5LjMyIDI0LjU0LS4wNCAzMy45bC0yMi42NyAyMi42N2MtOS4zNyA5LjM3LTI0LjU3IDkuMzctMzMuOTQgMEwzNC41MiAyNzIuOTdjLTkuMzctOS4zNy05LjM3LTI0LjU3IDAtMzMuOTR6Ij48L3BhdGg+PC9zdmc+);
            background-size: 16px 18px;
        }
    }
    
    .card-item {
        padding: 0px !important;
        border: none;
        box-shadow: none;
        ::ng-deep.mat-card-content {
            border: none !important;
            padding: 0px 16px 16px !important;
        }
        .mat-card-header {
            padding: 8px 16px !important;
            font-weight: bold;
            text-transform: uppercase;
            background: transparent;
            color: $brand-dark;
            ::ng-deep.mat-card-header-text {
                margin: 0px !important;
            }
        }
        .swiper-slide {
            border: none !important;
        }
        .swiper-container {
            padding-bottom: 10px;
        }
        .swiper-wrapper {    
            display: flex;
            align-items: center;
            display: -webkit-flex;
            -webkit-align-items: center;
        }
        .swiper-pagination {
            display: flex;
            display: -webkit-flex;
        }
        .swiper-button-next {
            right: 0;
            height: 24px;
            width: 40px;
            background-size: 20px 20px;
            // background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="14" viewBox="0 0 5 14"><path fill="#03A9F4" d="M4.648 7.5q0 0.102-0.078 0.18l-3.641 3.641q-0.078 0.078-0.18 0.078t-0.18-0.078l-0.391-0.391q-0.078-0.078-0.078-0.18t0.078-0.18l3.070-3.070-3.070-3.070q-0.078-0.078-0.078-0.18t0.078-0.18l0.391-0.391q0.078-0.078 0.18-0.078t0.18 0.078l3.641 3.641q0.078 0.078 0.078 0.18z"></path></svg>');
        }
        .swiper-button-prev {
            left: 0;
            height: 24px;
            width: 40px;
            background-size: 20px 20px;
            // background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5" height="14" viewBox="0 0 5 14"><path fill="#03A9F4" d="M4.898 4.25q0 0.102-0.078 0.18l-3.070 3.070 3.070 3.070q0.078 0.078 0.078 0.18t-0.078 0.18l-0.391 0.391q-0.078 0.078-0.18 0.078t-0.18-0.078l-3.641-3.641q-0.078-0.078-0.078-0.18t0.078-0.18l3.641-3.641q0.078-0.078 0.18-0.078t0.18 0.078l0.391 0.391q0.078 0.078 0.078 0.18z"></path></svg>');
        }
    }
    
    .preview-button {
        min-width: 60px;
        width: 100%;
        margin-right: 5px;
        &[disabled] {
            color: $grey-mild;
            background-color: $grey-lightest;
        }
        .preview-spinner {
            width: auto;
            margin: auto; 
            div {
                width: 8px;
                height: 8px;
                background-color: $grey;
            }
        }
    }        
}

.cdk-drag-preview {
    .mat-icon, .mat-divider {
        display: none;
    }
    .card-button {
        border: 1px solid $grey-lighter;
    }
}


.add-button-quick-reply {
    position: relative;
    width: 92%;
    border-radius: 100px;
    border: 2px dashed $brand-light;
    background: transparent;
    margin: 8px 4%;
    height: 40px;
    @include flex-center;
    font-weight: bold;
    color: $brand-light;    
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    i {
        @include flex-center;
        margin-right: 6px;
        color: $brand-light;
        font-size: 14px;
    }
    &[disabled] {
        border-color: $grey-lighter;
        color: $grey-light !important;
        pointer-events: none;
        i:not(.warning-icon) {
            color: $grey-light;   
        }
    }
    &:hover {        
        background: lighten($brand-light, 30%);
        color: $brand-primary;
        .warning-icon {
            visibility: visible;
        }
    }

    .warning-icon {
        position: absolute;
        font-size: 14px;
        bottom: 10px;
        right: 8px;
        color: $amber-A200;
        visibility: hidden;
    }
}

// Button Container
app-button-container, .cdk-drag-preview {
    
    .add-button {
        position: relative;
        width:100%;
        height: 40px;
        border: none;
        border-top: 1px solid $grey-lighter;
        @include flex-center;
        flex-direction: row;
        font-weight: bold;
        color: $brand-primary;
        background: white;
        cursor: pointer;
        outline: none;
        box-shadow: none;
        i {
            font-size: 20px !important;
            @include flex-center;
            margin-right: 6px;
        }
        &[disabled] {
            color: $grey-light !important;
            i {
                color: $grey-light !important;
            }
        }
        &:hover {
            .warning-icon {
                visibility: visible !important;
            }
        }
    
        .warning-icon {
            position: absolute !important;
            font-size: 18px !important;
            bottom: 10px !important;
            right: 4px !important;
            color: $amber-A200 !important;
            visibility: hidden !important;
        }
    }
    
    .card-button {
        position: relative;
        @include flex-align-center;
        justify-content: space-between;
        border-top: 1px solid $grey-lighter;
        height: 40px;
        padding: 0 16px;
        cursor: pointer;
        .card-button-title {
            @include flex-align-center;
            flex: 1 1 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $grey-dark;
        }
        .title {
            color: $grey-darker;
            font-size: 15px;
            font-weight: 400;
        }
        .subtitle {
            color: $grey-dark;
            font-size: 13px;
            font-weight: 300;
            padding-left: 8px;
            i {
                font-size: 12px;
                color: $grey;
            }
        }
        i {
            color: $grey-dark;
            margin-right: 8px;
        }
        .card-button-more {
            flex: 0 0 auto;
            border-left: 1px solid $grey-light;
            .btn-icon {
                padding: 8px 4px 8px 12px;
                font-size: 14px;
                i {
                    margin: 0;
                    color: $grey;
                }
                &:hover {
                    i {
                        color: $grey-dark;
                    }
                }
            }
        }
        .icon-delete {
            cursor: pointer;
            color: $grey;
            visibility: hidden;
            position: absolute;
            right: -16px;
            top: calc(50%);
            transform: translateY(-50%);
            font-size: 16px;
            background: white;
            border-radius: 50%;
            &:hover {
                color: $grey-dark;
            }
        }
        &:hover {
            background-color: $grey-white;
            .icon-delete {
                visibility: visible;
            }
        }
        &[disabled] {
            color: $grey-lighter;
        }
        &.active {
            .title, .subtitle, .card-button-title i {
                color: $brand-light;
            }
            .card-button-more {
                border-color: $brand-light;
                i {
                    color: $brand-light !important;
                }
            }
        }
    }
    
    .mat-list-item {
        .mat-icon {
            visibility: hidden;
        }
        &:hover {
            .mat-icon {
                visibility: visible;
            }
        }
    }
    
    .quick-reply-button {
        @include flex-align-center;
        justify-content: space-between;
        border: 1.5px solid $brand-light !important;
        border-radius: 100px;
        height: 40px;
        padding: 0 16px;
        width: 92% !important;
        margin: 8px auto !important;
        position: relative;
        cursor: pointer;
        .quick-reply-img {
            border-radius: 50%;
            width: 28px;
            flex: 0 0 28px;
            padding-bottom: 28px;
            overflow: hidden;
            margin-left: -8px;
            margin-right: 8px;
        }
        .quick-reply-title {
            @include flex-align-center;
            flex: 1 1 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $grey-dark;
            i {
                margin-right: 8px;
            }
            .title {
                color: $brand-primary;
                font-size: 15px;
                font-weight: 400;
            }
            .subtitle {
                color: $brand-light;
                font-size: 13px;
                font-weight: 300;
                padding-left: 8px;
                i {
                    color: lighten($brand-light, 10%);
                    font-size: 12px;
                }
            }
        }
        .card-button-more {
            flex: 0 0 auto;
            border-left: 1px solid lighten($brand-light, 20%);
            .btn-icon {
                padding: 8px 4px 8px 12px;
                font-size: 14px;
                i {
                    margin: 0;
                    color: lighten($brand-light, 10%)
                }
                &:hover {
                    i {
                        color: $brand-light;
                    }
                }
            }
        }
        .icon-delete {
            cursor: pointer;
            color: $brand-light;
            visibility: hidden;
            position: absolute;
            right: -8px;
            top: calc(50%);
            transform: translateY(-50%);
            font-size: 16px;
            background: white;
            border-radius: 50%;
            &:hover {
                color: $brand-primary;
            }
        }
        &:hover {
            background-color: lighten($brand-light, 30%);
            .icon-delete {
                visibility: visible;
            }
        }
        &.active {
            background-color: $brand-light !important;
            .title, .subtitle, .quick-reply-title i {
                color: white !important;
            }
            .card-button-more {
                border-color: white !important;
                i {
                    color: white !important;
                }
            }
        }
    }

    .button-disabled {
        // background-color: $grey-white;
        color: $grey-light !important;
        pointer-events: none;
        .card-button-title, i, .mat-icon, .title, .subtitle {
            color: $grey-lighter !important;
        }
        .card-button-more {
            border-color: $grey-lighter !important;
        }
        &.quick-reply-button {
            background-color: transparent;
            border-color: $grey-light !important;
            .title, .subtitle, i, .mat-icon, .subtitle i {
                color: $grey-light !important;    
            }
            img {
                filter: grayscale(100%);
            }
        }
    }
    
    .full-width {
        margin: 16px -16px -16px -16px !important;
        width: calc(100% + 32px);
    }
}

.image-wrapper {
    box-sizing: border-box;
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        vertical-align:bottom;
    }
    &.circle {
        img {
            border-radius: 50%;
            overflow: hidden;
        }
    }
    &.cover {
        img {
            object-fit: cover;
        }
    }
    &.half {    
        padding-bottom: calc(50% - 15px);
    }
}
.top-group-buttons {
    margin-right: 12px;
    i {
        font-size: 14px;
        margin-right: 6px;
        margin-bottom: 3px;
    }
    button {
        color: $brand-light;
        min-width: 0px;
        padding: 0 8px;
        margin-right: 8px;
        background: none;
        border: none;
        cursor: pointer;
        &[disabled] {
            color: lighten($brand-light, 20%)
        }
        &:hover:not([disabled]) {
            color: $brand-primary;
        }
    }
}

.mat-divider {
    .dashed-divider {
        border-style: dashed;
    }
}

.not-found {
    font-weight: 300;
    color: $grey-mild;
    text-align: center;
    margin: 4px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-grey-icon {
    color: $grey;
    line-height: initial !important;
    &:hover {
        color: $brand-light;
    }
    ::ng-deep.mat-button-focus-overlay, ::ng-deep.mat-button-ripple {
        border-radius: 1px !important;
    }
    &.delete {
        &:hover {
            color: $brand-danger;
        }
    }
    &[disabled] {
        pointer-events: none;
        color: $grey-light;
    }
}


.form-buttons {
    text-align: right;
    button {    
        padding: 6px 18px;
        border-radius: 3px;
        font-weight: 500;
        font-size: 14px;
        i {
            margin-right: 4px;
        }
        &.btn-confirm {
            @include btn-primary-background;
            margin-left: auto;
            margin-left: 8px;
        }
        &.btn-cancel {
            background: transparent;
            color: $grey;
            margin-left: auto;
            &:hover {
                color: $grey-dark;
            }
        }
        &.btn-action {
            background: $grey-lightest;
            color: $grey;
            margin-right: auto;
            &:hover:not([disabled]) {
                color: $brand-light;
            }
            &[disabled] {
                background: $grey-white;
                color: $grey-mild;
                pointer-events: none;
            }
        }
    }
}

.form-title {
    color: $grey-darker;
    font-size: 14px;
    padding-left: 6px;
    padding-bottom: 6px;
    font-weight: 500;
    position: relative;
    @include flex-align-start;
}

.form-input-wrapper {
    height: auto;
    padding-bottom: 12px;
    position: relative;
    .input-title {
        @extend .form-title;
        .input-info {
            margin-left: 4px;
            color: $brand-light;
        }
        .input-error {
            margin-left: auto;
            padding-left: 0px;
            padding-right: 4px;
            margin-top: 2px;
            height: auto;
            animation: slide-up 0.3s ease-in-out;
        }
        i {                
            margin-top: 3px;
            margin-right: 8px;
        }
    }
    .form-input-button {
        width: 40px;
        height: 40px;
        color: $grey-mild;
        background: transparent;
        &:hover {
            color: $grey;
        }
    }
    //floating label only if input is required
    .form-input ~ label, label {
        color: $grey;
        position: absolute;
        background: white;
        pointer-events: none;
        font-size: 14px;
        font-weight: 400;
        left: 4px;
        top: 10px;
        padding: 0 4px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .form-input:focus ~ label,
    .form-input:valid ~ label,
    .hwt-container:focus-within ~ label,
    label.floating {
        left: 4px;
        top: -8px;
        font-size: 12px;
    }
    .hwt-container .form-input, .hwt-container .hwt-backdrop {
        padding: 8px 12px !important;
    }
    .form-input:focus ~ label, .hwt-container:focus-within ~ label {
        color: $brand-light;
    }
    .form-error {        
        position: absolute;
        right: 8px;
        bottom: 4px;
        font-size: 11px;
        background: white;
        color: tomato;
        font-weight: 500;
        padding: 0 4px;
        animation: slide-up-slightly 0.2s ease-in-out;
    }
    &.key, &.value {
        .form-error {
            bottom: -8px;
        }
    }
    .form-input[disabled], .form-input[readonly] {
        border-style: dashed !important;
        color: $grey;
    }
    .form-input[disabled] ~ label, .form-input[readonly] ~ label {
        color: $grey-mild;
    }
    textarea {
        height: 120px;
    }
    select {                
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url('assets/img/chevron-down.svg');
        background-repeat: no-repeat;
        background-position-x: calc(100% - 12px);
        background-position-y: 10px;
        background-size: 14px;
    }
    .subinfo {
        color: $grey;
        position: absolute;
        right: 16px;
        bottom: -6px;
        font-size: 12px;            
    }
    .input-html {
        height: 125px;
        overflow: hidden !important;
        cursor: pointer !important;
        border: 1px solid $grey-light;
        border-radius: 2px;
        position: relative;
        &:hover {
            border-color: $brand-primary;
            &.empty {
                &::after {
                    color: $brand-light;
                }
            }
        }
        * {
            width: 100%;
            cursor: pointer;
        }
        img {
            object-fit: contain;
            height: auto;
            max-width: 100%;
            margin: 12px 0px;
            max-height: 80vh;
        }
        iframe{
            height: 50vw;
            max-height: 400px;
            @media screen and (max-width: 767px) {
                height: 50vw;
            }
            @media screen and (min-width: 768px) {
                height: 35vw;
            }
        }
        &.empty {
            &::after {
                position: absolute;
                // content: 'Bấm vào để chỉnh sửa nội dung';
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $grey;
                font-weight: 400;
            }
        }
    }
    .key-value {
        display: flex;
        margin-bottom: 8px;
        .key {
            flex-basis: 30%;
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .value {
            flex-basis: 70%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .key:not([readonly]):focus + .value {
            border-left-color: $brand-light;
        }
    }
}

.form-input {
    outline: none !important;
    border: 1px solid $grey-light;
    background: transparent;
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 15px;
    width: 100%;
    color: $grey-darker;
    font-weight: 400;
    transition: all 0.1s ease-in-out;
    background: white;
    &:focus {
        border-color: $brand-light !important;
    }
    &::-webkit-input-placeholder {
        color: $grey-light;
        font-size: inherit;
    }
    &:-moz-placeholder {
        color: $grey-light;
        opacity: 1;
        font-size: inherit;
    }
    &::-moz-placeholder {
        color: $grey-light;
        opacity: 1;
        font-size: inherit;
    }
    &:-ms-input-placeholder {
        color: $grey-light;
        font-size: inherit;
    }
    &::-ms-input-placeholder {
        color: $grey-light;
        font-size: inherit;
    }
}


.portal-list-group {
    margin-bottom: 4px;
    padding-left: 16px;
    .portal-list-item {
        position: relative;
        .name .quoted {
            quotes: "“" "”" "‘" "’";
            &::before {
                content: open-quote;
            }
            &::after {
                content: close-quote;
            }
        }
        &::before {
            content: '';
            border-left: 1.5px solid $grey-mild;
            position: absolute;
            left: 0;
            top: 0px;
            height: 36px;
        }
        &::after {
            content: '';
            border-top: 1.5px solid $grey-mild;
            position: absolute;
            left: 0px;
            top: 16px;
            width: 16px;
        }
        &:first-child {
            &::before {    
                top: 16px;
                height: 20px;
            }
        }
        &:last-child {
            &::before {    
                top: -4px;
                height: 20px;
            }
        }
    }
}
.portal-list-final {
    .arrow {
        position: absolute;
        font-size: 9px;
        top: 12px;
        left: 10px;
        color: $grey;
    }
    &:not(.active) {
        i.opened { display: none }
        i.closed { display: inline }
    }
    &.active {
        color: $brand-light;
        i.opened { display: inline !important }
        i.closed { display: none !important }
    }
}

.portal-list-item {
    width: 100%;
    line-height: initial;
    font-size: 15px;
    padding: 8px 16px;
    font-weight: 400;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    .name {
        color: $grey-dark;
        text-align: left;
        position: relative;
        display: flex;
        word-break: break-word;
        i {                        
            margin-right: 12px;
            font-size: 14px;
            margin-top: 3px;
            &.numbering {
                font-weight: bold;
                font-style: normal;
                margin-top: 0;
                font-size: 15px;
                text-align: right;
            }
            &.checked {
                color: $brand-accent;
            }
        }
    }
    .action-buttons {
        opacity: 0;
        margin-right: -6px;
        transition: opacity 0.15s ease-in-out;
        flex-shrink: 0;
        .btn-action {
            position: relative;
            background: transparent;
            color: $grey-mild;
            font-size: 13px;
            &:hover {
                color: $grey;
            }
        }
        &.show {
            opacity: 1;
        }
    }
    &:first-child {
        margin-top: 12px;
    }
    &:hover {
        .name {
            color: $brand-light;
        }
        .action-buttons {
            opacity: 1;
        }
    }
    .active {
        display: none;
    }
    .inactive {
        display: inline;
    }
    &.active {
        .name {
            color: $brand-primary !important;
        }
        .action-buttons {
            opacity: 1;
        }
        .active {
            display: inline;
        }
        .inactive {
            display: none;
        }
    }
}

.portal-footer {
    @include flex-center;
    transform-origin: center bottom;
    padding-left: 6px;
    padding-right: 6px;
    transform: scaleY(0);
    opacity: 0;
    background-color: $grey-lightest;
    border-top: 1px solid $grey-light;
    &.portal-footer-display {
        transform: scaleY(1);
        opacity: 1;
    }
    .form-input {
        margin-right: 4px;
        flex: 1 1 auto;
        height: 36px;
        font-size: 13px;   
    }
    .btn-blue {
        width: auto;
        margin-left: 4px;
        flex: 1 0 auto;
        ::ng-deep.mat-button-wrapper {
            @include flex-center;
        }
        span:not(.mat-button-wrapper) {
            font-size: 14px;
            margin-left: 6px;
        }
    }
    .btn-grey {
        @include flex-center;
        color: $grey;
        width: 36px;
        flex: 0 0 36px;
        padding: 0;
        min-width: unset;
        &:hover {
            background-color: $grey-light;
            color: $brand-light;
        }
        &.has-text {
            width: auto;
            flex: 0 0 auto;
            padding: 0 16px;
            .text {
                padding-left: 6px;
            }
        }
    }
}

.cell-center {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    ::ng-deep.datatable-header-cell-template-wrap {
        display: flex !important;
        justify-content: center !important;
        text-align: center !important;
    }
    ::ng-deep.datatable-header-cell-label {
        display: flex !important;
        justify-content: center !important;
        text-align: center !important;
    }
    ::ng-deep.datatable-body-cell-label {
        display: flex !important;
        justify-content: center !important;
        text-align: center !important;
    }
}
.cell-right {
    display: flex !important;
    justify-content: flex-end !important;
    text-align: right !important;
    ::ng-deep.datatable-header-cell-template-wrap {
        display: flex !important;
        justify-content: flex-end !important;
        text-align: right !important;
    }
    ::ng-deep.datatable-header-cell-label {
        display: flex !important;
        justify-content: flex-end !important;
        text-align: right !important;
    }
    ::ng-deep.datatable-body-cell-label {
        display: flex !important;
        justify-content: flex-end !important;
        text-align: right !important;
    }
}

.horiz {
    transform-origin: right center;
    transition: all 0.3s ease-in-out;
}

.collapsed-horiz {
    transform: scaleX(0);
    max-width: 0px;
}

.expanded-horiz {
    transform: scaleX(1);
    max-width: 250px;
}

.vertiz {
    transform-origin: center top;
    transition: all 0.3s ease-in-out;
}

.collapsed-vertiz {
    transform: scaleY(0);
    max-height: 0px;
    opacity: 0;
}

.expanded-vertiz {
    transform: scaleY(1);
    max-height: 500px;
    opacity: 1;
}

.slide-up-slightly-anim {
    animation: slide-up-slightly 0.2s ease-in-out;
}

.tab-buttons {
    display: flex;
    .btn-tab {
        color: $grey-dark;
        border: 1px solid $grey-light;
        font-size: 14px;
        padding: 6px 20px;
        border-radius: 0;
        font-weight: 500;
        border-right: none;
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-right: 1px solid $grey-light;
        }
        &:hover:not(.active) {
            color: $brand-light;
        }
        &.active {
            border-color: $brand-light;
            color: white;
            background: $brand-light;
        }
        &[disabled] {
            pointer-events: none;
        }
    }
}

.custom-scroll-bar {
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $bluegrey-lightest;
        border-radius: 2px;
    }
    &::-webkit-scrollbar {
        margin-right: 2px;
    }
    &::-webkit-scrollbar-track {
        background: white;
        border: none;
    }
    &::-webkit-scrollbar-thumb {
        background: $bluegrey-lightest;
        transition: all 0.3s ease;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $bluegrey-lighter;
    }
}

.label {
    padding: 4px 10px;
    color: white;
    font-size: 11px;
    border-radius: 12px;
    font-weight: normal;
    cursor: default;
    margin-top: 2px;
    white-space: pre;
    &.label-whitelist {
        background-color: white;
        box-shadow: 0 1px 0 2px $brand-light;
        color: $brand-light;
        padding: 3px 10px;
    }
    &.label-positive {
        background-color: $green-300;
    }
    &.label-neutral {
        background-color: $amber-300;
    }
    &.label-danger {
        background-color: $red-200;
    }
    &.label-negative {
        background-color: $grey-mild;
    }
}

.mat-select-user-panel {
    .user-info {
        flex: 1 1 auto;
        @include flex-align-center;
        .image-container {
            width: 40px;
            flex: 0 0 40px;
        }
        .name {
            flex: 1 1 auto;
            font-size: 14px;
            padding: 0 12px;
            line-height: 18px;
            color: $grey-darker;
        }
    }
}

.cdk-global-overlay-wrapper.overflow {
    overflow-y: scroll;
    padding-bottom: 32px;
    pointer-events: all;
    &::-webkit-scrollbar {
        display: none;
    }
    .cdk-overlay-pane {
        transform: translateY(32px);
    }
    .mat-dialog-container {
        margin-bottom: 32px;
    }
}

.subscriber-list-wrapper {
    display: flex;
    height: 100%;
    .subscriber-list {
        width: 55%;
        flex: 0 0 55%;
        height: 100%;
        border-right: 0.8px solid $grey-light;
        position: relative;
        input {
            padding: 0 40px;
            height: 40px;
            border: none;
            border-bottom: 1px solid $grey-light;
            &:focus {
                border-color: $grey-light !important;
            }
        }
        i {
            color: $grey;
        }
        .search {
            position: absolute;
            left: 12px;
            top: 12px;
        }
        .clear {
            position: absolute;
            right: 12px;
            top: 12px;
            cursor: pointer;
            &:hover {
                color: $brand-light;
            }
        }
        .subscriber-container {
            height: calc(100% - 40px);
            @include custom-scrollbar-grey;
        }
    }
    .subscriber-psid-list {
        width: 55%;
        flex: 0 0 55%;
        height: 100%;
        border-right: 0.8px solid $grey-light;
        position: relative;
        @include custom-scrollbar-grey;
        .psid-text {
            width: 100%;
            border: none;
            resize: none;
            padding: 12px;
            min-height: 96% !important;
        }
    }
    .selected-subscriber-list {
        width: 45%;
        flex: 0 0 45%;
        height: 100%;
        position: relative;
        @include custom-scrollbar-grey;
        .title {
            height: 40px;
            padding: 0 12px;
            @include flex-align-center;
        }
    }
    .file-upload {
        width: 55%;
        flex: 0 0 55%;
        height: 100%;
        border-right: 0.8px solid $grey-light;
        position: relative;
        @include custom-scrollbar-grey;
        .title {
            height: 40px;
            padding: 0 12px;
            @include flex-align-center;
        }
        .file-name {
            width: 100%;
            padding: 0px 20px 4px 12px;
            font-size: 14px;
            color: $grey-dark;
            @include flex-align-center;
            justify-content: space-between;
            span {
                @include text-ellipsis(3); 
            }
            i {
                cursor: pointer;
                color: $grey;
                &:hover {
                    color: $grey-dark;
                }
            }
        }
        .context {
            font-size: 14px;
            color: $grey-dark;
            cursor: pointer;
            padding: 0 12px 6px;
            i:not(.check) {
                margin-right: 8px;
                display: inline;
                color: $grey;
            }
            i.check {
                margin-right: 8px;
                display: none;
                color: $brand-accent;
            }
            &:hover {
                color: $brand-light;
                i:not(.check) {
                    color: $brand-light;
                }
            }
            &.active {
                color: $grey-darker;
                i:not(.check) {
                    display: none;
                }
                i.check {
                    display: inline;
                }
                &:hover {
                    color: $brand-light;
                }
            }
        }
        .btn-upload-file {
            margin: 12px auto;
            padding: 12px 40px;
            border-radius: 4px;
            @include btn-grey-background;
            &:hover {
                background-color: $grey-lightest;
            }
        }
        .csv-input {
            padding: 12px;
            text-align: center;
            border: none;
            width: 100%;
        }
        .subtext {
            text-align: center;
            color: $grey-mild;
            font-style: italic;
            font-size: 13px;
        }
    }
}

.subscriber-item {
    @include flex-align-center;
    padding: 4px 12px;
    cursor: pointer;
    .avatar {
        flex-shrink: 0;
        margin-right: 12px;
        width: 28px;
        padding-bottom: 28px;
        img {
            object-fit: cover;
        }
    }
    .name {        
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        flex-grow: 0;
        flex-shrink: 1;
    }
    color: $grey-dark;
    cursor: pointer;
    @include flex-align-center;
    font-size: 14px;
    animation: emerge 0.3s ease-in-out;
    &:first-child {
        padding-top: 12px;
    }
    &:last-child {
        padding-bottom: 12px;
    }
    i {
        margin-right: 8px;
        display: inline;
        color: $grey;
        &.check {
            display: none;
        }
    }
    &.active {
        i {
            display: none;
            color: $brand-accent;
            &.check {
                display: inline;
            }
        }
    }
    &.extra {
        color: $grey-dark;
        font-size: 12px;
        font-weight: bold;
    }
    &:hover {
        color: $brand-light;
    }
    .spinner-wrapper { 
        width: 100%;
        height: 20px;
        position: relative;
    }
}

.subscriber-selection-parent {
    position: relative;
}

.save-button {
    opacity: 0;
}

.text-input-wrapper {
    width: 100%;
    background: $grey-white;
    border-radius: 6px;
    padding: 8px 12px;
    border: 1px solid mix($grey-light, $grey-mild);
    margin-bottom: 16px;
    font-size: 15px;
    &:focus-within {
        border-color: $brand-light;
        .text-tile {
            color: $brand-light;
        }
    }
    .text-title {
        color: $grey;
        font-size: 12px;
        padding-left: 4px;
        font-weight: 300;
    }
    textarea {
        width: 100%;
        border: none;
        color: $grey-darker;
        resize: none;
        min-height: 24px;
        background: transparent;
    }
    &.readonly {
        border-style: dashed;
    }
}
.cursor-pointer{
    cursor: pointer;
}
.checkbox-wrapper {
    @include flex-align-center;
    height: 40px;
    padding: 8px;
    cursor: pointer;
    i {
        font-size: 18px;
    }
    i:not(.check) {
        display: inline;
        color: $grey;
    }
    i.check {
        display: none;
        color: $brand-accent;
    }
    span {
        margin-left: 8px;
        color: $grey-dark;
        font-size: 14px;
    }
    &.active {
        i:not(.check) {
            display: none;
        }
        i.check {
            display: inline; 
        }
        span {
            color: $grey-darker;
        }
    }
    &:hover {
        i:not(.check) {
            color: $brand-light;
        }
        i.check {
            color: $brand-accent-dark;
        }
        span {
            color: $brand-light;
        }
    }
}
.align-items-center {
    @include flex-align-center;
}