@import "../story-info-portal.component.scss";
.spinner-wrapper{
  height: 80px!important;
  position: unset!important;
}
.ref-item {
    color: $brand-dark;
    font-size: 13px;
    height: unset!important;
    margin-bottom: 4px;
    .remove-icon {
        display: flex;
        align-items: center;
        color: $grey-mild;
        margin-left: 6px;
        visibility: hidden;
        .mat-icon {
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover{
          color: $grey;
        }
    }
    /deep/.mat-list-item-content{
      padding: 0!important;
    }
    &:hover {
        .remove-icon {
            visibility: visible;
        }
    }
    .number-of-ref-used {
      min-width: 105px;
      text-align: right;
      font-size: 13px;
      color: $brand-light;  
      font-weight: 300;
  }
  .ref-item-content{
    width: 100%;
    padding-right: 4px;
    /deep/.mat-button-wrapper{
      display: flex;
    }
    .ref-item-name{
      width: 190px;
      text-align: left;
      color: grey;
      font-weight: 400;
    }
  }
}

.deactive{
  background: #fbfbfb;
  pointer-events: none;
  .remove-icon{
    display: none!important;
  }
  .ref-item-name{
    color:$grey-mild;
  }
  .number-of-ref-used{
    color:$grey-mild;
  }
}


