
<div class="story-section" *ngIf="referrals">
  <div class="story-section-title-wrapper row m-0 mb-3 justify-content-between">
    <div class="story-section-title">
      Mã QR
    </div>
    <div>
      <button class="story-section-button" (click)="addRef()" fxFlex="10" [matTooltip]="'Tạo thêm'"><i class="fas fa-plus"></i></button>
      <button class="story-section-button" (click)="reload(false)" fxFlex="10" [matTooltip]="'Tải lại'"><i class="fas fa-sync-alt"></i></button>
    </div>
  </div>
  <div class="spinner-wrapper" *ngIf="!loadDone"><mat-spinner [diameter]="30"></mat-spinner></div>
  <div class="no-content" *ngIf="Refs.length == 0 && loadDone">
        <div class="no-content-text">
            Chưa có mã QR nào
        </div>
        <button class="button-remove-overlay btn-create-story" mat-button color='primary' (click)="addRef()">
          Tạo mã QR mới
        </button>
      </div>
    <div *ngIf="loadDone">
        <mat-list-item class="ref-item" color="primary" *ngFor="let ref of Refs">
            <button mat-button class="ref-item-content" [ngClass]="ref.status == 'active'?'active':'deactive'" (click)="openRef(ref)">
                <div class="ref-item-name">{{ref.name}}</div>
                <span class="number-of-ref-used">{{ref.startDate | date: 'dd-MM-yyyy HH:mm'}}</span>
                <span class="remove-icon" (click)="removeRef(ref, Refs); $event.stopPropagation()" [matTooltip]="'Xóa'"><mat-icon>close</mat-icon></span>
            </button> 
        </mat-list-item>
        <mat-divider></mat-divider>
    </div> 
</div>