<!-- <div class="quick-card-overlay"></div> -->
<div class="quick-card-wrapper" [class.disabled]="disabled">
  <div class="quick-card" *ngFor="let card of cards; let i = index" (click)="card.action(index)">
    <!-- <div class="btn-edit" (click)="editQuickCard($event,i)" matTooltip="Thay đổi" matTooltipPosition="above">
        <i class="far fa-edit"></i>
    </div> -->
    <div class="card-display">
        <i [ngClass]="card?.icon"></i>
        <div class="name" [class.long]="card?.display?.length > 15">{{card.display}}</div>
    </div>
    
  </div>
  <div class="quick-card add" (click)="action(index)">
    <i class="fas fa-plus-square"></i>
  </div>
</div>