@import '~customs.scss';

:host {
    width: 100%;
}
.quick-card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.quick-card-wrapper {
    z-index: 200;
    width: 95%;
    margin: 12px auto;
    display: flex;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
    border: 1px solid mix($grey-light, $grey-mild);
    border-bottom-width: 5px;
    .quick-card {
        @include flex-align-center;
        justify-content: start;
        flex: 0 0 17%;
        width: 17%;
        height: 72px;
        flex-direction: column;
        padding: 12px 2px 8px;
        background: white;
        border-right: 1px solid mix($grey-light, $grey-mild);
        position: relative;
        cursor: pointer;
        &:hover{
          .card-display .name, i {
            color: $brand-light;
          }
        }
        &:last-child {
            border-right: none;
        }
        i {
            color: $grey-dark;
        }
        .card-display{
          text-align: center;
          .name {
            color: $grey-darker;
            text-align: center;
            font-size: 11px;
            font-weight: 400;
            line-height: 12px;
            margin-top: 4px;
            &.long {
                font-size: 10px;
            }
          }
        }
        
        .btn-edit{
          position: absolute;
          top: 4px;
          right: 4px;
          font-size: 13px;
          opacity: 0;
          pointer-events: none;
          color: grey;
          &:hover{
            i{
              color: $brand-light;
            }
            
          }
        }
        &.add {
          flex: 0 0 15%;
          width: 15%;
          padding: 0;
          @include flex-center;
        }
        
        &:hover {
          .btn-edit{
            opacity: 1;
            pointer-events: unset;
          }
        }
    }
    &.disabled {
        pointer-events: none;
        border-color: $grey-white;
        .quick-card {
            border-color: $grey-white;
            i, .name {
                color: $grey-lighter !important;
            }
        }
    }
}