@import "~customs.scss";
.clarifai-image-wrapper {
    margin-top: 12px;
}
.clarifai-image-item {
    cursor: pointer;
}
.clarifai-image-item:hover {
    color: $brand-light
}
.portal-section-title {
    margin-bottom: 10px;
}