<div class="portal-section">
  <div class="portal-section-title-wrapper" fxLayout="row">
    <div class="portal-section-title">Album ảnh</div>
    <button class="portal-section-button" (click)="addClarifaiImage()" fxFlex="10" [matTooltip]="'Tạo mới'">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <p class="no-event" *ngIf="clarifaiImages.length == 0">Không có ablum</p>

  <div class="clarifai-image-wrapper" *ngIf="clarifaiImages.length > 0">
    <div class="clarifai-image-item" color="primary" *ngFor="let clarifaiImage of clarifaiImages" (click)="openClarifaiImagePortal(clarifaiImage)">
      <div class="clarifai-image-name"> {{clarifaiImage.name}}</div>
    </div>
  </div>
</div>