<div class="quick-message-text-dialog-wrapper">
  <h2 class="dialog-title m-0 mb-2">Tin nhắn nhanh {{message}}</h2>
  <div class="dialog-content d-flex flex-column">
    <label class="mt-2">Nội dung</label>
    <textarea class="form-input" [(ngModel)]="text" placeholder="Nhập nội dung tin nhắn" 
    cdkTextareaAutosize  cdkAutosizeMinRows="4" [readonly]="submitting$ | async" ></textarea>
    <label class="mt-2">Hình ảnh</label>
    <div class="images row">
      <div class="image-container col-6 mb-3" *ngFor="let image of images$ | async; index as i">
        <div class="image">
          <app-card-image [imageSrc]="image.src" (sourceChanged)="onImageSourceChanged($event, i)" (uploadingChanged)="uploading$.next($event)"
          [disabled]="submitting$ | async" [imageRatio]="'horizontal'"></app-card-image>          
          <button type="button" tabindex="-1" class="btn-outline left" *ngIf="i > 0"
          (click)="moveImage(i, -1)"><i class="fas fa-arrow-left"></i></button>
          <button type="button" tabindex="-1" class="btn-outline mid danger" 
          (click)="removeImage(i)"><i class="fas fa-times"></i></button>
          <button type="button" tabindex="-1" class="btn-outline right" *ngIf="i < (images$ | async).length - 1" 
          (click)="moveImage(i, 1)"><i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <button class="btn btn-add-image" (click)="addImage()">Thêm ảnh</button>
    <!-- <div class="images row">
      <div class="image-container col-3" *ngFor="let image of images$ | async">
        <div class="image-wrapper">
          <img src="{{image}}" onerror="this.src='/assets/img/no-image.svg'">
          <button type="button" tabindex="-1" class="btn-outline" 
          (click)="removeImage(i)"><i class="fas fa-arrow-left"></i></button>
          <button type="button" tabindex="-1" class="btn-outline btn-remove danger" 
          (click)="removeImage(i)"><i class="fas fa-times"></i></button>
          <button type="button" tabindex="-1" class="btn-outline" 
          (click)="removeImage(i)"><i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="d-flex">                
      <input type="file" #file hidden multiple (change)="fileChanged($event)" accept="image/gif, image/jpg, image/jpeg, image/png">
      <button class="btn-outline btn-loading mr-2" (click)="file.click()" [class.loading]="uploading$ | async">
          <span class="text">Tải ảnh lên</span>
      </button>
      <span class="pt-2">hoặc</span>
      <button class="ml-2 btn-outline" (click)="addLinks()">Thêm đường dẫn ảnh</button>
    </div> -->
  </div>
  <div class="d-flex justify-content-center" [style.pointer-events]="(submitting$ | async)?'none':''">
    <button class="btn btn-confirm" [class.active]="submitting$ | async" (click)="submit()" [disabled]="uploading$ | async">
        <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
        <span class="text">Chỉnh sửa tin nhắn nhanh</span>
    </button>
  </div>
</div>