@import '~customs.scss';

.mat-dialog-container {
    padding: 24px;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: $grey;
}

.image {
    border: 1px solid $grey-light;
    border-radius: 3px;
    position: relative;
    .btn-outline {
        position: absolute;
        top: -12px;
        width: 28px;
        height: 28px;
        background: white;
        color: $grey-dark;
        border: 1px solid $grey-light;
        border-radius: 50%;
        opacity: 0;
        &:hover {
            border-color: $brand-primary;
            color: $brand-primary;
        }
        &.left {
            left: -8px;
        }
        &.right {
            right: -8px;
        }
        &.mid {
            left: 50%;
            transform: translateX(-50%);
            &:hover {
                border-color: $brand-danger;
                color: $brand-danger;
            }
        }
    }
    &:hover {
        .btn-outline {
            opacity: 1 !important;
        }
    }
}

.btn-add-image {
    border: 1px solid $grey-mild;
    border-radius: 3px;
    color: $grey-darker;
    width: 120px;
    font-size: 14px;
    &:hover {
        color: $brand-primary;
        border-color: $brand-primary;
    }
}

.btn-confirm {
    margin-left: auto;
    width: auto;
    padding: 10px 28px;
    min-width: 150px;
    transition: width 0.3s ease-in-out;
    @include flex-center;
    background-color: $brand-light;
    color: white;
    font-weight: 500;
    font-size: 15px;
    i {
        margin-right: 8px;
    }
    &:disabled {
        pointer-events: none;
        opacity: 0.6;
    }
    &:hover {
        background-color: $brand-primary;
    }
    .spinner-wrapper {
        display: none;
        position: relative;
        height: 100%;
        ::ng-deep.mat-spinner svg circle {
            stroke: white;
        }
    }
    &.active {
        pointer-events: none;
        background-color: $brand-primary;
        .spinner-wrapper {
            display: inherit;
        }
        .text {
            display: none;
        }
    }
}