@import '~customs.scss';

.mat-dialog-container {
    padding: 24px;
    position: relative;
}

.product {
    display: flex;
    border-radius: 2px;
    margin-top: 8px;
    border: 1px solid $grey-light;
    .image-container {
      flex: 0 0 56px;
      width: 56px;   
      border-right: 1px solid $grey-light;   
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      overflow: hidden;
    }
    .product-info {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      height: 56px;
      justify-content: space-evenly;
      padding: 8px 12px;
      position: relative;
      .product-name {
        font-weight: 600;
        color: $grey-darker;
        font-size: 15px;
        line-height: 16px;
        padding-right: 10px;
        max-height: 25px;
      }
      .product-sub {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 13px;
        >* {
          align-self: flex-end;
        }
            .product-description {
                color: $grey;
                line-height: 13px;
                max-height: 25px;
                overflow: hidden;
                &.not-found {
                    color: $grey-mild;
                    font-style: italic;
                    height: auto;
                    margin: 0;
                    font-size: 13px;
                }
            }
            .product-price {
                font-weight: bold;
                color: $brand-primary;
                text-align: right;
                font-size: 16px;
                line-height: 8px;
                padding-left: 4px;
            }
        }
    }
}

.toppings {
    position: relative;
}

.topping {
    background: white;
}

.topping-title {
    background: $grey-lightest;
    border-radius: 3px;
    margin: 4px auto;
    @include flex-align-center;
    color: $grey-darker;
    padding: 4px 12px;
    font-weight: 600;
    position: relative;
    .name {
        flex: 1 1 auto;
        cursor: pointer;
    }
    .actions {
        margin-left: auto;
        i {
            margin-left: 8px;
            color: $grey-dark;
            font-size: 12px;
            cursor: pointer;
            &:hover {
                color: $brand-light;
            }
            &.delete:hover {
                color: $brand-danger;
            }
        }
    }
    &.add {
        justify-content: center;
        cursor: pointer;
        &:hover {
            color: $brand-light;
        }
    }
}

.topping-option {
    @include flex-align-center;
    justify-content: space-between;
    padding: 6px 12px;
    border-bottom: 1px solid $grey-lighter;
    position: relative;
    cursor: pointer;
    .display {
        color: $grey-darker;
    }
    .price {
        color: $brand-light;
    }
    &.add {
        border-bottom: 0;
        justify-content: flex-start;
        cursor: pointer;
        &:hover {
            color: $brand-light;
        }
    }
    .delete {
        position: absolute;
        right: -6px;
        font-size: 13px;
        color: $grey;
        background: white;
        border-radius: 50%;
        opacity: 0;
        cursor: pointer;
        &:hover {
            color: $brand-danger;
        }
    }
    &:hover {
        .delete {
            opacity: 1;
        }
    }
}

.dialog-footer {
    padding-top: 12px;
    border-top: 1px solid $grey-lighter;
    .btn-cancel {
        background: none;
        padding: 8px 20px;
        border: 0;
        color: $grey-dark;
        &:hover {
            color: $grey-darker;
        }
    }
    .btn-save {
        background: $brand-light;
        color: white;
        padding: 8px 20px;
        font-weight: 500;
        font-size: 15px;
        width: 150px;
        .spinner-wrapper {
            display: none;
            position: relative;
            height: 100%;
            ::ng-deep.mat-spinner svg circle {
                stroke: white;
            }
        }
        &:hover {
            background: $brand-primary;
        }    
        &.loading {
            pointer-events: none;
            .spinner-wrapper {
                display: inherit;
            }
            .send-text {
                display: none;
            }
        }
    }
}

.success {
    padding: 10px 8px;
    color: $green-400;
    font-weight: 600;
    font-size: 15px;
    text-align: right;        
    @include flex-align-center;
    justify-content: flex-end;
    animation: slide-up-slightly 0.3s ease-in-out;
    i {
        margin-right: 8px;
    }
}

.btn-paste {
    background: $grey-lightest;
    padding: 8px 16px;
    color: $grey-dark;
    &:hover {
        color: $brand-light;
    }
    i {
        margin-right: 4px;
    }
}