<div class="topping-dialog">
  <h2 class="dialog-title mt-0 mb-2">Chỉnh sửa topping</h2>
  <div class="product">
    <div class="image-container"><div class="image-wrapper cover">
      <img src="{{product.image}}" onerror="this.src='/assets/img/no-image.svg'"></div></div>
    <div class="product-info">
      <div class="product-name">{{product.name}}</div>
      <div class="product-sub">
        <div class="product-description" [class.not-found]="!product.description">{{product.description?product.description:'Không có mô tả'}}</div>
        <div class="product-price">{{product.price | accounting}}</div>
      </div>
    </div>
  </div>

  <div class="toppings mt-2" cdkDropList (cdkDropListDropped)="toppingDropped($event)" 
  [style.pointer-events]="((loading$ | async) && (success$ | async))?'none':'initial'">
    <div class="topping" cdkDrag *ngFor="let topping of this.toppings$ | async; index as i">
      <div class="topping-title">
        <span class="name" cdkDragHandle (click)="openTopping($event, i)">{{topping.groupName}}
          <span *ngIf="topping.require">*</span></span>
        <div class="actions">
          <i class="far fa-copy" (click)="copyTopping(topping)"></i>
          <i class="far fa-trash-alt delete" (click)="deleteTopping(i)"></i>
        </div>
      </div>
      <div class="topping-options" cdkDropList (cdkDropListDropped)="optionDropped($event, topping)">
        <div class="topping-option" cdkDrag (click)="openOption($event, topping, j)" *ngFor="let option of topping.options; index as j">
          <span class="display">{{option.display}}</span>
          <span class="price">{{option.price | accounting}}</span>
          <i class="fas fa-times-circle delete" (click)="deleteOption(topping, j); $event.stopPropagation()"></i>
        </div>
        <div class="topping-option add" (click)="openOption($event, topping, -1)">
          <i class="fas fa-plus mr-2"></i>
          <span>Thêm lựa chọn</span>
        </div>
      </div>
    </div>
    <div class="topping-title add" (click)="openTopping($event, -1)">
      <i class="fas fa-plus-circle mr-2"></i>
      <span>Thêm topping</span>
    </div>
  </div>
  <div class="dialog-footer mt-3 d-flex">
    <div>        
      <button class="btn-paste" type="button" (click)="onPasteTopping()" *ngIf="toppingData$ | async">
        <i class="fas fa-paste"></i>Paste</button>
    </div>
    <div class="ml-auto d-flex" *ngIf="!(success$ | async)">
      <button class="btn btn-cancel" [disabled]="loading$ | async" (click)="onNoClick()">Huỷ</button>
      <button class="btn btn-save" [class.loading]="loading$ | async" (click)="saveTopping()">
          <div class="spinner-wrapper"><mat-spinner [diameter]="20"></mat-spinner></div>
          <span class="send-text">Lưu thay đổi</span>
      </button>
    </div>
    <div class="ml-auto success" *ngIf="success$ | async">Lưu thành công!</div>
  </div>
</div>