<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>Hướng dẫn</span>
    <span class="header-spacer"></span>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <iframe class="doc-iframe" *ngIf="source" [src]="source | safe" frameborder="0"></iframe>
  </div>
</div>