@import "~customs.scss";

.portal-menu-item {
    @include flex-align-center;
    padding: 12px 20px;
    color: $grey-dark;
    cursor: pointer;
    border-left: 3.5px solid transparent;
    border-bottom: 1px solid $grey-white;
    animation: slide-up-slightly 0.3s ease-in-out;
    transition: none;
    &.sub {
        padding-left: 32px;
    }
    &:first-child {
        margin-top: 4px;
    }
    i {
        margin-right: 12px;
        color: $grey;
    }
    img {
        width: 20px;
        margin-right: 12px;
        filter: invert(77%) sepia(0%) saturate(1860%) hue-rotate(143deg) brightness(85%) contrast(75%);
    }
    &:hover, &.active {
        color: $brand-light;
        i {
            color: $brand-light;
        }
        img {
            filter: invert(72%) sepia(59%) saturate(2831%) hue-rotate(180deg) brightness(102%) contrast(93%);
        }
    }
    &.active {
        border-left-color: lighten($brand-light, 10%);
    }
}

.collapsed-vertiz {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom-width: 0;
}