<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="portal-menu-item vertiz" *ngFor="let item of menu" (click)="openMenu(item)" [class.active]="current==item"
    [ngClass]="item.closed?'collapsed-vertiz':'expanded-vertiz'">
      <img src="{{item.svg}}" *ngIf="item.svg">
      <i [ngClass]="item.icon" *ngIf="!item.opened && item.icon"></i>
      <i class="fas fa-arrow-left" *ngIf="item.opened"></i> 
      {{item.display}}
    </div>
    <div class="portal-menu-item sub" *ngFor="let item of subMenu" (click)="openMenu(item)" [class.active]="current==item">
      <i [ngClass]="item.icon"></i> {{item.display}}
    </div>
  </div>
</div>