<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
  <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)"
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-paper-plane'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled"
      (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content class="action-send-story">
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened"
          [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
          (conditionChange)="onConditionChanged($event)"></app-card-advanced>
        <mat-card-header>
          PSID người dùng
        </mat-card-header>

        <div class="content-box">
          <app-update-field-story *ngFor="let psid of PSIDs" [field]="psid" [parent]="this" [mode]="psid"></app-update-field-story>
          <button mat-button class="btn-action" (click)="addPSID()">
            <i matListIcon class="fas fa-plus"></i> Thêm PSID
          </button>
        </div>
        <mat-card-header>
          Thêm dữ liệu
        </mat-card-header>
        <div class="content-box">
          <app-update-field-story *ngFor="let field of fields" [field]="field" [parent]="this"></app-update-field-story>
          <button mat-button class="btn-action" (click)="addField()">
            <i matListIcon class="fas fa-plus"></i> Thêm dữ liệu
          </button>
        </div>
        <mat-card-header>Chuyển tới câu chuyện
          <span (click)="openGetStory()">
            {{selectedStory.length == 0?'Chọn câu chuyện':'Thay đổi'}}
          </span>
        </mat-card-header>
        <div class="story-list" (click)="openGetStory()">
          <ng-container *ngIf="loadingStories">
            <div class="loading"><i class="fas fa-circle-notch fa-spin"></i></div>
          </ng-container>
          <ng-container *ngIf="!loadingStories">
            <div class="no-story" *ngIf="selectedStory.length == 0">Chưa có câu chuyện nào được chọn</div>
            <div class="story-item" *ngFor="let story of selectedStory" [hidden]="selectedStory.length == 0">
              {{story.name}}
            </div>
          </ng-container>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>