<div>
  <h2 class="dialog-title">Chỉnh sửa thanh toán nhanh</h2>
  <form #myFrm="ngForm" class="my-form">
    <div class="portal-section">
      <mat-form-field class="text-input-field">
        <input matInput placeholder="Tiêu đề" type="text" [(ngModel)]="button.title" name="title">
      </mat-form-field>
    </div>
    <div class="portal-section">
      <div class="portal-section-title-wrapper" fxLayout="row">
        <div class="portal-section-title">Thông tin thanh toán</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="none" style="margin-top: 8px">
        <mat-form-field class="text-input-field" fxFlex="20" [floatLabel]="'always'">
          <input type="text" matInput placeholder="Quốc gia" [(ngModel)]="payload.country" name="country" required>
        </mat-form-field>
        <mat-form-field class="text-input-field padding-left" fxFlex="20" [floatLabel]="'always'">
          <input type="text" matInput placeholder="Tiền tệ" [(ngModel)]="payload.currency" name="currency" required>
        </mat-form-field>
        <mat-form-field class="text-input-field padding-left" fxFlex="60" [floatLabel]="'always'">
          <input type="number" matInput placeholder="Phụ phí" [(ngModel)]="payload.sub_fee" name="subFee" required min="0" step="1000">
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="portal-section">
      <div class="portal-section-title-wrapper" fxLayout="row">
        <div class="portal-section-title">Sản phẩm</div>
      </div>
      <mat-form-field class="text-input-field">
        <input #productInputCtrl="ngModel" [(ngModel)]="productInput" matInput placeholder="Thêm sản phẩm" type="text" [ngModelOptions]="{standalone: true}"
          (input)="inputChanged(productInputCtrl)" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addProduct($event)">
          <mat-option *ngFor="let option of autocompleteFilter | async" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-accordion class="case-private-replies" *ngIf="mappingProducts">
        <simple-checkout-product *ngFor="let p of mappingProducts; let i = index" [product]="p" (onChange)="onProductChange($event, i)"
          (remove)="onProductRemove(p, i)"></simple-checkout-product>
      </mat-accordion>
    </div>
  </form>
  <div class="bottom-btn-group">
    <!-- <button mat-button color="primary" class="btn-cancel btn btn-md" (click)="onNoClick()" [ngClass]="data.cancelButtonClass">{{data.cancelButtonText}}</button> -->
    <button mat-button color="primary" [disabled]="myFrm.invalid" class="btn-confirm btn btn-md" (click)="onSave(myFrm)">Lưu</button>
  </div>
</div>