@import '../../../customs.scss';

.mat-dialog-container {
  padding: 24px;
}

mat-form-field {
    width: 100%;
}
.portal-section-title-wrapper {
    margin-bottom: 8px;
}

.my-form {
  max-height: 65vh;
  overflow-y: auto;
}

.header-text { 
  text-align:right;
  color: $grey-darker;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
  text-align: right;
}

.info-text {
  color: $grey;
  font-size: 0.85rem;
  margin: 0;
}

.input-fields {
  min-height: 120px;    
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  max-height: 70vh;
  overflow: auto;
  .mat-form-field {
    width: 420px;
  }
}

.dialog-row {
  width: 420px;
  padding-bottom: 10px;
  img {
    width: 420px;
    height: 210px;
    object-fit: cover;
    padding-top: 8px;
  }
}

.input-error {
  width: 100% !important;
  padding: 0px;
  margin-top: -8px;    
  margin-bottom: 8px;
  height: 0;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  border-radius: 5px;
  background-color: $brand-danger;
  color: white;
  transition: all 0.3s ease;
  i {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;    
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    padding: 0px 8px 0px 16px;
  }
  &.expanded {
    height: 40px;
  }
}

.dialog-title {
    margin: 0 0 12px;
}


.bottom-btn-group {
    margin: 0 -24px -24px;
}