<div class="portal" style="width:400px" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>

    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <!-- <button class="card-title-btn" mat-icon-button matTooltip="Hướng dẫn" matTooltipPosition="above">
      <i class="fas fa-question"></i>
    </button> -->
    <mat-icon class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <div class="no-content" *ngIf="!progressBar.show && !clarifai">
      <div class="no-content-text">
        Chưa kết nối Clarifai
      </div>
      <button class="button-remove-overlay i-create-story-btn" mat-button color='primary' (click)="addClarifai()">
        Kết nối clarifai
      </button>
      <div>
          <a href="https://clarifai.com/developer/account/login" target="_blank" class="clarifai-guide">Đăng ký Clarifai</a> | 
          <a href="http://mcomdoc.herokuapp.com/" target="_blank" class="clarifai-guide">Hướng dẫn</a>
      </div>
    </div>
    <div [hidden]="!loadDone" *ngIf="!progressBar.show && clarifai">
      <app-clarifai-info [appId]="app._id" [portal]="_this"></app-clarifai-info>
      <app-image-library [appId]="app._id" [portal]="_this"></app-image-library>
    </div>
  </div>
</div>