<mat-list-item *ngIf="!readOnly" (click)="whiteList.editDomain(url)">
  <a matLine href="javascript:;">{{url}}</a>
  <button class="card-delete-btn" mat-icon-button matTooltip="Xóa" matTooltipPosition="right" (click)="whiteList.removeDomain(url, $event)">
    <i class="far fa-trash-alt"></i>
  </button>
</mat-list-item>
<mat-list-item *ngIf="readOnly">
  <span matLine >{{url}}</span>
</mat-list-item>