<form #myFrm="ngForm">
  <div>
    <button fxFlex="100%" mat-raised-button color="primary" *ngIf="!case.isResponseStory" (click)="enableStoryResponse(true)">Bật trả lời bằng Câu truyện</button>
    <button fxFlex="100%" mat-raised-button *ngIf="case.isResponseStory" (click)="enableStoryResponse(false)">Tắt trả lời bằng Câu truyện</button>
  </div>
  <div *ngIf="case.isResponseStory" class="case-story">
    <mat-form-field class="text-input-field" >
      <input type="text" matInput placeholder="Câu chuyện" required readonly [value]="selectedStory?selectedStory.name:'Chưa chọn câu chuyện'">
      <input type="text" matInput [(ngModel)]="case.responseStory" name="responseStory" required hidden>
      <mat-hint align="end"></mat-hint>
      <button mat-icon-button matSuffix (click)="selectStory()">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>