<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
    <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
    (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
    <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-music'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
        [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
        (conditionChange)="onConditionChanged($event)"></app-card-advanced>
        <audio mat-card-image controls>
          <source [src]="card.option.attachment.payload.url">
        </audio>
        <mat-form-field class="text-input-field" [hidden]="isVoiceAPI">
          <input hlTextArea #urlControl="ngModel" [(ngModel)]="card.option.attachment.payload.url" name="url" matInput placeholder="Audio Url">
        </mat-form-field>
        <mat-form-field class="text-input-field" *ngIf="isVoiceAPI">
          <textarea hlTextArea #textControl="ngModel" [(ngModel)]="voiceParams.say" name="say" matInput placeholder="Tin nhắn"
          cdkTextareaAutosize cdkAutosizeMinRows="4"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
