@import "~customs.scss";

.dashboard-container {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: $grey-lighter;
    .app-container {
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom: 0px;
        padding: 12px 24px;
        height: 100%;
        @include custom-scrollbar-grey;
        overflow-x: hidden;
    }
    
}

.toolbar {
    position: absolute;
    padding: 0px;
    width: 100%;
    height: 64px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 1px 5px rgba(0,0,0,.05);
}

.app-filter {
	min-width: 0;
	width: 250px;
	height: 40px;
	border-radius: 20px;
	border: 0;
	padding: 4px 20px;
	font-size: 14px;
    color: $grey;
    border: 1px solid $grey-light;
	transition: all 0.3s ease;
	&::-webkit-input-placeholder {
		color: $grey-mild;
    }
    &:focus {
        border-color: $brand-light;
    }
}

.btn-menu {
    position: absolute;
    left: 16px;
    top: 10px;
    color: white;
    mat-icon {
        font-size: 28px;
    }
}

.brand {
	background-image: none !important;
    background: linear-gradient(60deg, #44B0E4, #2ba8d6 65%, #1D90C3) !important;
    text-align: center;
    width: 64px;
    flex: 0 0 64px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
	#logo {
        width: 40px;
        height: 40px;
    }
    .brand-text {
        display: inline-block;
        height: 100%;
    }
    i {
        color: white;
        font-size: 24px;
    }
    &:hover {
        background: $brand-dark;
    }
}

.user-wrapper {
    @include flex-align-center;
    cursor: pointer;
    width: auto;
    height: 64px;
    margin: 0px;
    padding: 0 24px;
    background: transparent;
    text-align: left;
    text-decoration: none;
    .user-divider {
        position: absolute;
        top: 20px;
        right: 0px;
        height: 24px;
        border-left: 1.5px solid $grey-light;
    }
    &::ng-deep .mat-button-wrapper {
        height: 64px;
        margin: 10px 12px 10px 5px;
    } 
    .user-avatar {
        width: 48px;
        height: auto;
        .image-wrapper {
            padding-bottom: 48px;
        }
    }
    .user-name {
        padding-left: 16px;
        color: $grey;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        i {
            margin-left: 2px;
            transform: translateY(-2px);
            font-size: 13px;
            &.admin {
                color: $brand-accent
            }
            &.agency {
                color: $brand-light
            }
        }
    }
    .user-subtext {
        padding-left: 16px;
        color: $grey-mild;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
    &:hover {
        .user-name, .user-subtext {
            color: $brand-light;
        }
    }
}

.initial-spinner {
    margin: 160px auto;
    width: 40px !important; 
    height: 40px !important; 
    ::ng-deep svg { 
        width: 40px !important; 
        height: 40px !important; 
    }
}

.bot-header {
    font-size: 1.15rem;
    color: $grey-darkest;
    margin: 12px;
    padding-left: 16px;
}

.sidebar {
    position: fixed;
    z-index: 900;
    height: calc(100vh - 64px);
    width: 240px;
    padding: 12px;
    list-style-type: none;
    top: 64px;
    right: 0;
    text-align: right;
    background: $grey-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.2);
    li {        
        @include flex-align-center;
        justify-content: center;
        margin-bottom: 12px;
    }
}

.btn-bars {
    width: 64px;
    height: 64px;
    color: $brand-light;
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:active, &:hover {
        color: $brand-primary;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 800;
    background: black;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    &.active {
        opacity: 0.5;
        pointer-events: all;
        visibility: visible;
    }
}

.horiz {
    transform-origin: right center;
    transition: all 0.3s ease-in-out;
}

.collapsed-horiz {
    transform: scaleX(0);
    max-width: 0px;
}

.expanded-horiz {
    transform: scaleX(1);
    max-width: 250px;
}

@media not all and (min-width: 992px) {
    .toolbar {
        .app-filter, .user-wrapper, .app-number-text, .app-number, .btn-sign-out, .btn-template, .app-num {
            display: none !important;
        }
    }
    .btn-menu {
        display: inline-block;
    }
    .new-mid-section {        
        min-height: 220px;
    }
    .app-filter {
        border-radius: 20px !important;
    }
    .user-wrapper {
        width: 100%;
        .user-avatar {            
            display: inline-block;
            width: 40px;
            height: 40px;
        }
        .user-divider {
            display: none;
        }
    }
    .app-container {        
        padding: 12px !important;
    }
    .btn-sign-out {
        margin: 0;
        height: 40px;
        width: 100%;
    }
}

.btn-template, .btn-sign-out {    
    background: transparent;
    padding: 0 12px 0 24px;
    color: $grey;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    height: 100%;
    @include flex-center;
    i {
        margin-right: 8px;
    }
    &:hover {
        color: $brand-light;
    }
}
.btn-sign-out {
    margin-right: 20px;
}
