<mat-toolbar class="toolbar">
  <a class="brand" [routerLink]="['/apps']" (click)="appFilter=''; searchChanged('')">
    <img id="logo" src="/assets/img/logo-white.svg" *ngIf="dashboardSrv.isAppList$ | async"/>
    <i class="fas fa-home" *ngIf="!(dashboardSrv.isAppList$ | async)"></i>
  </a>

  <a *ngIf="user" class="user-wrapper" (click)="openCustomer()">
    <div class="user-avatar">
      <div class="image-wrapper circle"><img class="user-avatar" src="{{user?.photoURL}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
    </div>
    <span>
      <div class="user-name">{{user?.displayName}}
        <ng-container *ngIf="chatbotApi.chatbotAuth.systemUser">
          <ng-container *ngIf="chatbotApi.chatbotAuth.systemUser.rule=='system_admin'"><i class="fas fa-crown admin" [matTooltip]="'Admin'"></i></ng-container>
          <ng-container *ngIf="chatbotApi.chatbotAuth.systemUser.rule=='system_agency'"><i class="fas fa-briefcase agency" [matTooltip]="'Agency'"></i></ng-container>
        </ng-container>
      </div>
      <div class="user-subtext">{{user?.email}}</div>
    </span>
  </a>
  <ng-container *ngIf="user && (dashboardSrv.isAppList$ | async) && (dashboardSrv.apps$ | async)?.length > 5">
    <input class="app-filter" placeholder="Tìm kiếm app" [(ngModel)]="appFilter" (ngModelChange)="searchChanged($event)">
  </ng-container>

  <span class="header-spacer"></span>
  <ng-container *ngIf="!(dashboardSrv.loadingBots$ | async) && (dashboardSrv.apps$ | async)?.length > 0">
    <!-- <a class="btn-template" [routerLink]="['/user/cost']" *ngIf="!chatbotApi.chatbotAuth.systemUser">
      <i class="fas fa-coins"></i>Chi phí app
    </a> -->
    <ng-container *ngIf="chatbotApi.chatbotAuth.systemUser">
      <a class="btn-template" [routerLink]="['/user/app_list']" *ngIf="chatbotApi.chatbotAuth.systemUser.rule=='system_admin'">
        <i class="fas fa-columns"></i>Quản lý hệ thống
      </a>
      <!-- <a class="btn-template" [routerLink]="['/user/code']" *ngIf="chatbotApi.chatbotAuth.systemUser.rule=='system_agency'">
        <i class="fas fa-briefcase"></i>Quản lý code & chi phí app
      </a> -->
    </ng-container>
    <a class="btn-template" [routerLink]="['/template']">
      <i class="fas fa-th-large"></i>Quản lý mẫu
    </a>
  </ng-container>
  <button *ngIf="user" class="btn-sign-out d-none d-lg-block" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>Đăng xuất
  </button> 
  <button class="btn-bars d-block d-lg-none" (click)="sidebarOpened = !sidebarOpened"><i class="fas fa-bars"></i></button>
</mat-toolbar>

<div class="overlay" [class.active]="sidebarOpened" (click)="sidebarOpened = !sidebarOpened"></div>

<ul class="horiz sidebar" [ngClass]="sidebarOpened?'expanded-horiz':'collapsed-horiz'">
  <div>
    <li>
      <a *ngIf="user" class="user-wrapper" [routerLink]="['/user']">
        <div class="user-avatar">
          <div class="image-wrapper circle"><img class="user-avatar" src="{{user?.photoURL}}" onerror="this.src='https://i.imgur.com/NN9xQ5Q.png'"></div>
        </div>
        <span>
          <div class="user-name">{{user?.displayName}}
            <ng-container *ngIf="chatbotApi.chatbotAuth.systemUser=='system_admin'"><i class="fas fa-crown admin"></i></ng-container>
            <ng-container *ngIf="chatbotApi.chatbotAuth.systemUser=='system_agency'"><i class="fas fa-briefcase agency"></i></ng-container>
          </div>
          <div class="user-subtext">Quản lý tài khoản</div>
        </span>
        <div class="user-divider"></div>
      </a>
    </li>
    <li *ngIf="(dashboardSrv.isAppList$ | async) && user && (dashboardSrv.apps$ | async)?.length > 5">      
      <input class="app-filter" [ngModel]="appFilter" (ngModelChange)="searchChanged($event)" placeholder="Tìm kiếm app">
    </li>
  </div>
  <div>
    <li>
      <button *ngIf="user" class="btn-sign-out button-remove-overlay" mat-button (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>Đăng xuất</button>
    </li>
  </div>
</ul>

<mat-sidenav-container class="dashboard-container">

  <mat-sidenav-content class="app-container">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>