@import "~customs.scss";

.portal {
    width: 350px !important
}

.mat-divider {
    width: 92%;
    border-top-color: $grey-lighter;
    margin: auto;
    position: absolute;
    bottom: 0;
}

.statistics-title {
    font-weight: bold;
    color: $brand-primary;
    margin: 12px 16px;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    i {
        color: $grey-mild;
        position: absolute;
        right: 0;
        top: 4px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            color: $brand-primary;
        }
    }
}

.statistics-content {    
    padding: 0 16px;
    margin-top: -4px;
    font-size: 15px;
}

.chart-wrapper {
    width: 120%;
    margin: 12px auto;
    padding-left: 24px;
    height: 150px;
    ::ng-deep.total-value {
        color: $brand-primary;
    }
    ::ng-deep.total-label {
        color: $grey-darker;
        font-size: 20px !important;
    }
    ::ng-deep.item-value {
        color: $grey-dark;
        margin-top: 0px;
    }
    ::ng-deep.item-percent {
        font-size: 16px !important;
    }
}

.data-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    .data-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.view {
            i, .data-value  {
                color: $amber-300;
            }
            
        }
        &.tap {
            i, .data-value {
                color: $teal-200;
            }
        }
        &.event {
            i, .data-value {
                color: $purple-200;
            }
        }
        &.event-count {
            i, .data-value {
                color: $orange-300;
            }
        }
        &.user {
            i, .data-value {
                color: $cyan-300;
            }
        }
        &.used {
            .data-value {
                color: $cyan-300;
            }
        }
        &.comment {
            i, .data-value {
                color: $pink-300;
            }
        }
        &.access {
            i, .data-value {
                color: $lime-300;
            }
        }
        .icon-value {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 4px;
        }
        i {
            font-size: 40px;
            margin-right: 8px;
        }
        .data-name {
            font-size: 13px;
            font-weight: bold;
            color: $grey-dark;
        }
        .data-value {
            font-size: 48px;
        }
    }
}

.portal-footer {
    background-color: $grey-lighter;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform-origin: center bottom;
    transform: scaleY(0);
    opacity: 0;
    padding: 0px 8px;
    &.portal-footer-display {
        transform: scaleY(1);
        opacity: 1;
    }
    button {
        width: auto;
        flex: 1 1 auto;
        color: $brand-light;
        i {
            margin-right: 5px;    
            margin-bottom: 3px;
        }
    }
}

.subscriber-list {
    .subscriber-info {
        width: 100%;
        padding: 12px 0px;
        margin: auto;
        color: $grey-darker;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &:hover {
            color: $brand-light;
            .subscriber-data {
                color: $brand-primary;
            }
        }
        .subscriber-name {
            width: 70%;
            padding-left: 24px;
        }
        .subscriber-data {
            width: 30%;
            text-align: right;
            padding-right: 24px;
            font-size: 14px;
            font-weight: bold;
            color: $grey;
        }
    }
}