<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <div class="top-group-buttons">
      <button class="button-remove-overlay" mat-button [disabled]="!loadDone" (click)="refresh()">
          <i class="fas fa-sync-alt"></i>Refresh
      </button>
    </div>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <!-- <img *ngIf="index != 0" (click)="close()" class="icon-btn" src="assets/img/icon-close-blue.svg"> -->
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [class.has-footer]="hasFooter" [ngClass]="portalId">
    <div class="spinner-wrapper" *ngIf="!loadDone">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>

    <div *ngIf="loadDone && result">
      <p class="statistics-title">{{modeDisplay}}</p>
      <p class="statistics-content">{{name}}</p>
      <div *ngIf="mode == 'story'">
        <p class="statistics-title">Thống kê chung</p>
        <div class="chart-wrapper">
          <ngx-charts-advanced-pie-chart [results]="storyData" [label]="'Tổng số lần gửi'" [scheme]="storyScheme">
          </ngx-charts-advanced-pie-chart>
        </div>
        <div class="data-wrapper">
          <div class="data-section view">
            <div class="icon-value">
              <i class="fas fa-eye"></i>
              <div class="data-value">{{result.storySentRead?.total}}</div>
            </div>
            <span class="data-name">Đã được đọc</span>
          </div>
          <div class="data-section tap">
            <div class="icon-value">
              <i class="fas fa-hand-pointer"></i>
              <div class="data-value">{{result.clicked?.total}}</div>
            </div>
            <span class="data-name">Nút được bấm</span>
          </div>
        </div>
        <p class="statistics-title" *ngIf="result.storySentRead.total">Danh sách tương tác với nút
          <i (click)="addLabels(result.clicked.subscribers)" matTooltip="Thêm nhãn cho tất cả" *ngIf="result.clicked.subscribers.length > 0"
            class="fas fa-tags"></i>
        </p>
        <div class="subscriber-list" *ngIf="result">
          <div class="no-data" *ngIf="result.clicked.subscribers.length == 0">Không có</div>
          <div class="subscriber-info" *ngFor="let sub of result.clicked.subscribers" (click)="openSubscriber(sub._id)">
            <div class="subscriber-name">{{sub.name}}</div>
            <div class="subscriber-data">{{sub.count}} lần</div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
      <div *ngIf="mode == 'topic'">
        <p class="statistics-title">Thống kê chung</p>
        <div class="chart-wrapper">
          <ngx-charts-advanced-pie-chart [results]="topicData" [label]="'Số người đăng ký'" [scheme]="topicScheme">
          </ngx-charts-advanced-pie-chart>
        </div>
        <div class="data-wrapper">
          <div class="data-section event">
            <div class="icon-value">
              <i class="fas fa-calendar-alt"></i>
              <div class="data-value">{{result.totalEvents}}</div>
            </div>
            <span class="data-name">Số sự kiện</span>
          </div>
          <div class="data-section event-count">
            <div class="icon-value">
              <i class="fas fa-paper-plane"></i>
              <div class="data-value">{{totalEventCounts}}</div>
            </div>
            <span class="data-name">Lần gửi sự kiện</span>
          </div>
        </div>
        <p class="statistics-title">Danh sách sự kiện</p>
        <div class="subscriber-list">
          <div class="no-data" *ngIf="result.events.length == 0">Không có</div>
          <div class="subscriber-info" *ngFor="let event of result.events">
            <div class="subscriber-name">{{event.name}}</div>
            <div class="subscriber-data">{{event.eventCount}} lần gửi</div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <!-- <p class="statistics-title">Danh sách người đăng ký</p>
        <div class="subscriber-list">
          <div class="subscriber-info" *ngFor="let sub of result.subscribers" (click)="openSubscriber(sub._id)">
            <div class="subscriber-name">{{sub.name}}</div>
            <div class="subscriber-data">{{sub.count}} lần</div>
            <mat-divider></mat-divider>
          </div>
        </div> -->
      </div>
      <div *ngIf="mode == 'post'">
        <p class="statistics-title">Thống kê chung</p>
        <div class="data-wrapper">
          <div class="data-section access">
            <div class="icon-value">
              <i class="fas fa-sign-in-alt"></i>
              <div class="data-value">{{result.subscribers.length}}</div>
            </div>
            <span class="data-name">Khách hàng truy cập</span>
          </div>
          <!-- <div class="data-section comment">
            <div class="icon-value">
              <i class="fas fa-comment"></i>
              <div class="data-value">{{result.totalComment}}</div>
            </div>
            <span class="data-name">Bình luận</span>
          </div> -->
        </div>
        <p class="statistics-title">Danh sách người tương tác</p>
        <div class="subscriber-list">
          <div class="no-data" *ngIf="result.subscribers.length == 0">Không có</div>
          <div class="subscriber-info" *ngFor="let sub of result.subscribers">
            <div class="subscriber-name">{{sub.name}}</div>
            <div class="subscriber-data">{{sub.actions.length}} lần</div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
      <div *ngIf="mode == 'referral'">
        <p class="statistics-title">Thống kê chung</p>
        <div class="chart-wrapper" >
          <ngx-charts-advanced-pie-chart [results]="referralData" [label]="'Tổng số lượng'" [scheme]="referralScheme"></ngx-charts-advanced-pie-chart>
        </div>
        <!-- <div class="data-wrapper"> 
            <div class="data-section">
                <div class="data-value used" *ngIf="result.amount == 0">Đã sử dụng {{result.used}} lần</div>
            </div>
        </div>  -->
        <div class="data-wrapper">
          
          <div class="data-section user">
            <div class="icon-value">
              <i class="fas fa-user"></i>
              <div class="data-value">{{result.subscribers.length}}</div>
            </div>
            <span class="data-name">Người đăng ký</span>
          </div>
        </div>
        <p class="statistics-title">Danh sách người sử dụng
          <i (click)="addLabels(result.subscribers)" matTooltip="Thêm nhãn cho tất cả" *ngIf="result.subscribers.length > 0" class="fas fa-tags"></i>
        </p>
        <div class="subscriber-list">
          <div class="no-data" *ngIf="result.subscribers.length == 0">Không có</div>
          <div class="subscriber-info" *ngFor="let sub of result.subscribers">
            <div class="subscriber-name" (click)="openSubscriber(sub._id)">{{sub.name}}</div>
            <div class="subscriber-data">{{sub.history.length}} lần</div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="portal-footer portal-footer-display" *ngIf="hasFooter">
    <button class="open-button" mat-button *ngIf="mode == 'story'" (click)="openStory()">
      <i class="fas fa-book"></i>Mở câu chuyện
    </button>
    <button class="open-button" mat-button *ngIf="mode == 'topic'" (click)="openTopic()">
      <i class="fas fa-calendar-alt"></i>Mở chủ đề
    </button>
    <button class="open-button" mat-button *ngIf="mode == 'post'" (click)="openPost()">
      <i class="fas fa-newspaper"></i>Mở bài viết
    </button>
    <button class="open-button" mat-button *ngIf="mode == 'referral'" (click)="openReferral()">
      <i class="fas fa-sign-in-alt"></i>Mở đường dẫn
    </button>
  </div>
</div>