<div class="portal" (click)="focus()">
  <mat-toolbar color="success" class="portal-header">
    <span>{{portalName}}</span>
    <span class="header-spacer"></span>
    <button mat-button class="save-button" [ngClass]="showSave?'fade-in':'fade-out'" [disabled]="!showSave || isSaving" (click)="saveContent()">
      <mat-spinner class="button-spinner" [hidden]="!isSaving"></mat-spinner>
      <span [hidden]="isSaving">
        <i class="fas fa-save"></i>Lưu</span>
    </button>
    <span class="saved-label" *ngIf="saved">
      <mat-icon>check</mat-icon>Đã lưu</span>
    <button class="card-title-btn" mat-icon-button matTooltip="Xoá" matTooltipPosition="above" (click)="deleteImage()">
      <i class="far fa-trash-alt"></i>
    </button>
    <mat-icon *ngIf="index != 0" class="icon-btn" style="cursor: pointer" (click)="close()">close</mat-icon>
    <mat-progress-bar *ngIf="progressBar.show" class="portal-progress-bar" [color]="progressBar.color" [mode]="progressBar.mode"
      [value]="progressBar.value" [bufferValue]="progressBar.buffer">
    </mat-progress-bar>
  </mat-toolbar>
  <div class="portal-content-block" [ngClass]="portalId">
    <div class="portal-section">
        <json-editor class="json-editor" [options]="jsonEditorConfig" [(data)]="data" (ngModelChange)="onChanged()"></json-editor>
      
    </div>
  </div>

</div>