<div class="wheel-generator-dialog">
  <h2 class="dialog-title mt-0 mb-2">Tạo thiết kế vòng quay</h2>

  <div class="dialog-content">
    <div class="form-input-wrapper palette-wrapper">
      <div class="d-flex">
        <input class="form-input" [(ngModel)]="palette" (ngModelChange)="setupPalette()" />
        <label class="floating">Màu chủ đạo (Hex hoặc WebColors)</label>
        <div class="palettes" *ngIf="palettes$ | async as palettes">
          <div
            class="palette"
            *ngFor="let palette of palettes"
            [style.backgroundColor]="palette"
            (click)="copyPalette(palette)"
          ></div>
          <div
            class="palette scheme"
            [class.first]="f"
            *ngFor="let palette of schemePalettes$ | async; first as f"
            [style.backgroundColor]="palette"
            (click)="copyPalette(palette)"
          ></div>
        </div>
      </div>
      <div class="flex-align-center colors">
        <span>Gợi ý màu</span>
        <span
          class="color"
          *ngFor="let c of webColors"
          (click)="palette = c.color; setupPalette()"
          (mouseover)="c.hover = true"
          (mouseleave)="c.hover = false"
          [style.color]="(c.hover || c.color == palette) ? c.color : '#333'"
          >{{ c.label }}</span
        >
      </div>
    </div>

    <div class="form-input-wrapper gifts-wrapper">
      <div class="input-title d-flex">
        <span>Thiết lập phần thưởng</span>
        <button class="btn-randomize" (click)="setupGifts(true)">
          <i class="fas fa-random"></i>
          <span>Trộn màu chủ đạo</span>
        </button>
        <span class="ml-4">* Ưu tiên sử dụng nguồn ảnh từ <a href="https://imgur.com" target="_blank" rel="noopener">Imgur</a></span>
      </div>
      <div>
        <div class="d-flex gift-palette" *ngFor="let giftPalette of giftPalettes" 
        [class.active]="focusedGift == giftPalette.code" (click)="focusedGift = giftPalette.code">
          <input class="form-input code-input" disabled [value]="giftPalette.code" />
          <div class="position-relative name-input">
            <i class="fas fa-font" matTooltip="Tên giải thưởng"></i>
            <input class="form-input" [(ngModel)]="giftPalette.name" (ngModelChange)="setupGifts()" />
          </div>
          <div class="position-relative color-input">
            <i class="fas fa-palette" matTooltip="Màu sắc"></i>
            <input class="form-input" [(ngModel)]="giftPalette.backgroundColor" (ngModelChange)="setupGifts()" />
          </div>
          <div class="position-relative image-input">
            <i class="fas fa-image" matTooltip="Hình ảnh"></i>
            <input class="form-input file-input" placeholder="Nhập link ảnh" [(ngModel)]="giftPalette.image" (ngModelChange)="setupGifts()" />
            <input #file type="file" accept="image/*" (change)="onImageFileChanged($event, giftPalette)" hidden/>
            <i class="fas fa-upload upload" matTooltip="Upload ảnh" (click)="file.click()" *ngIf="!(uploadingImages$ | async)[giftPalette.code]"></i>
            <i class="fas fa-circle-notch fa-spin upload disabled" *ngIf="(uploadingImages$ | async)[giftPalette.code]"></i>
          </div>
          <ng-container *ngIf="giftPalette.image">
            <div class="position-relative size-input">
              <i class="fas fa-expand-arrows-alt" matTooltip="Kích thước"></i>
              <input class="form-input" type="number" [(ngModel)]="giftPalette.size" (ngModelChange)="setupGifts()" />
            </div>
            <div class="position-relative size-input">
              <i class="fas fa-arrows-alt-v" matTooltip="Khoảng cách"></i>
              <input class="form-input" type="number" [(ngModel)]="giftPalette.offset" (ngModelChange)="setupGifts()" />
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div class="generation-form pr-2">
        <!-- <div class="form-input-wrapper pb-1 pl-1">
          <div class="form-checkbox" [class.checked]="hasSeparator" (click)="hasSeparator =! hasSeparator; setupWheel()">
            <i class="fas fa-check-square check"></i><i class="far fa-square uncheck"></i><span>Đường phân cách</span>
          </div>
        </div> -->
        <div class="row mt-2">
          <div class="col-6">
            <div class="form-input-wrapper">
              <select class="form-input form-select" [(ngModel)]="textFontFamily" (ngModelChange)="setupWheel()">
                <option [ngValue]="family" *ngFor="let family of fontFamilies">{{family}}</option>
              </select>
              <label class="floating">Font chữ</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-input-wrapper">
              <select class="form-input form-select" [(ngModel)]="textFontWeight" (ngModelChange)="setupWheel()">
                <option value="bold">Thường</option>
                <option value="800">Dày</option>
                <option value="normal">Mỏng</option>
              </select>
              <label class="floating">Độ dày chữ</label>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <div class="form-input-wrapper">
              <input class="form-input" type="number" [(ngModel)]="textFontSize" (ngModelChange)="setupWheel()" />
              <label class="floating">Size chữ</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-input-wrapper">
              <input class="form-input" type="number" [(ngModel)]="textSplitterSize" (ngModelChange)="setupWheel()" />
              <label class="floating">Số ký tự xuống dòng</label>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <div class="form-input-wrapper">
              <select class="form-input form-select" [(ngModel)]="textOrientation" (ngModelChange)="setupWheel()">
                <option value="horizontal">Ngang</option>
                <option value="vertical">Dọc</option>
                <option value="curved">Cong</option>
              </select>
              <label class="floating">Hướng chữ</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-input-wrapper">
              <select class="form-input form-select" [(ngModel)]="fontCase" (ngModelChange)="setupWheel()">
                <option value="normal">Bình thường</option>
                <option value="uppercase">In hoa</option>
                <option value="titlecase">In hoa chữ đầu từ</option>
                <option value="lowercase">In thường</option>
              </select>
              <label class="floating">Kiểu in chữ</label>
            </div>
          </div>
        </div>
        <div class="note">
          * Đối với hướng chữ dọc và cong sẽ dùng bộ Font khác với hướng ngang. 
          <br>
          ** Trong trường hợp bị <b>lỗi font</b>, xin hãy tạo lại nhiều lần bằng cách bấm <a (click)="setupWheel()">Refresh</a>
        </div>     

        <div class="gifts-wrapper mt-2">
          <div class="d-flex gift-palette" [class.active]="focusedGift == 'pin'" (click)="focusedGift = 'pin'">
            <div class="form-input-wrapper pb-0">
              <div class="form-checkbox" [class.checked]="hasPin" (click)="hasPin =! hasPin; setupWheel()">
                <i class="fas fa-check-square check"></i><i class="far fa-square uncheck"></i><span>Tạo Pin</span>
              </div>
            </div>
            <div class="position-relative pin-color">
              <i class="fas fa-palette" matTooltip="Màu pin"></i>
              <input class="form-input" placeholder="Màu pin" [(ngModel)]="pinColor" (ngModelChange)="setupWheel()" [disabled]="!hasPin"/>
            </div>
            <div class="position-relative">
              <i class="fas fa-image" matTooltip="Logo pin"></i>
              <input class="form-input file-input" placeholder="Logo pin" [(ngModel)]="pinLogo" (ngModelChange)="setupWheel()" [disabled]="!hasPin"/>
              <input #file type="file" accept="image/*" (change)="onImageFileChanged($event)" hidden/>
              <i class="fas fa-upload upload" matTooltip="Upload ảnh" (click)="file.click()" *ngIf="!(uploadingImages$ | async)['pin']"></i>
              <i class="fas fa-circle-notch fa-spin upload disabled" *ngIf="(uploadingImages$ | async)['pin']"></i>
            </div>
          </div>
        </div>

        <div class="form-input-wrapper mt-3">
          <div class="d-flex">
            <button
              class="btn btn-create-link"
              [disabled]="!(hasChanged$ | async) || (uploading$ | async)"
              (click)="createImage()"
            >
              <i class="fas fa-circle-notch fa-spin" *ngIf="uploading$ | async"></i>
              <i class="fas fa-image" *ngIf="!(uploading$ | async)"></i>
              <span>Tạo ảnh vòng quay</span>
            </button>
            <input class="form-input" readonly [value]="imageUrl" (click)="copyImageUrl(imageUrl)" />
          </div>
        </div>
        <div class="form-input-wrapper mt-1" *ngIf="hasPin">
          <div class="d-flex">
            <button
              class="btn btn-create-link"
              [disabled]="!(hasChanged$ | async) || (uploadingPin$ | async)"
              (click)="createPinImage()"
            >
              <i class="fas fa-circle-notch fa-spin" *ngIf="uploadingPin$ | async"></i>
              <i class="fas fa-image" *ngIf="!(uploadingPin$ | async)"></i>
              <span>Tạo ảnh pin</span>
            </button>
            <input class="form-input" readonly [value]="pinUrl" (click)="copyImageUrl(pinUrl)" />
          </div>
        </div>
      </div>
      <div class="canvas-wrapper">
        <div [style.font-family]="textFontFamily" hidden>aAàÀảẢãÃáÁạẠăĂằẰẳẲẵẴắẮặẶâÂầẦẩẨẫẪấẤậẬbBcCdDđĐeEèÈẻẺẽẼéÉẹẸêÊềỀểỂễỄếẾệỆ fFgGhHiIìÌỉỈĩĨíÍịỊjJkKlLmMnNoOòÒỏỎõÕóÓọỌôÔồỒổỔỗỖốỐộỘơƠờỜởỞỡỠớỚợỢpPqQrRsStTu UùÙủỦũŨúÚụỤưƯừỪửỬữỮứỨựỰvVwWxXyYỳỲỷỶỹỸýÝỵỴzZ</div>
        <i class="fas fa-circle-notch fa-spin" *ngIf="loadingWheel$ | async"></i>
        <canvas id="canvas" width="500" height="500"> Canvas not supported, use another browser. </canvas>
        <canvas id="pin-canvas" width="500" height="500" *ngIf="hasPin"> Canvas not supported, use another browser. </canvas>
        <img src="{{wheel.config.pinImage}}" [hidden]="(loadingWheel$ | async) || hasPin || !wheel.config.pinImage">
      </div>
    </div>
  </div>

  <div class="dialog-footer mt-3 d-flex">
  </div>
</div>
