@import '~customs.scss';

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row>.col,
.row>[class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}

.palette-wrapper {
  .form-input {
    flex: 0 0 220px;
    width: 220px;
  }
  .palettes {
    flex: 1 1 auto;
    display: flex;
    height: 40px;
  }
  .palette {
    flex: 1 1 auto;
    height: 100%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border: 0px solid transparent;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
    &:hover {
      transform: scale(1.2);
      border: 2px solid $grey-black;
    }
    &.first {
      margin-left: 12px;
    }
  }
}


.form-checkbox {
  color: $grey-dark;
  font-size: 16px;
  cursor: pointer;
  span {
      margin-left: 8px;
  }
  i:not(.check) {
      color: $grey;
      display: inline;
  }
  i.check {
      color: $brand-accent;
      display: none;
  }
  &:hover:not(.checked) {
      color: $brand-light;
      i:not(.check) {
          color: $brand-light;
      }
  }
  &.checked {
      i:not(.check) {
          display: none;
      }
      i.check {
          display: inline;
      }
      &:hover {
          color: $brand-light;
          i {
              color: $brand-accent-dark;
          }
      }
  }
  &.sub {
      font-size: 13px;
      color: $grey;
      i {
          margin-left: 4px;
      }
  }
}


.gifts-wrapper {

  .form-input[disabled] {
    border-style: solid !important;
    background: $grey-lightest;
  }

  .form-input:not(:first-child) {
    padding-left: 32px;
  }
  .gift-palette i:not(.check):not(.uncheck) {
    position: absolute;
    left: 10px;
    top: 14px;
    color: $grey-dark;
    font-size: 14px;
  }

  .gift-palette .upload {
    right: 10px;
    left: auto !important;
    cursor: pointer;
    &.disabled {
      pointer-events: none;
      opacity: 0.85;
    }
  }

  .file-input {
    padding-right: 32px;
  }

  .form-checkbox {
    @include flex-align-center;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
    height: 40px;
    border: 1px solid $grey-light;
  }
  .code-input {
    flex: 0 0 120px;
  }
  .name-input {
    flex: 0 0 220px;
  }
  .color-input {
    flex: 0 0 150px;
  }
  .image-input {
    flex: 1 1 auto;
  }
  .size-input {
    flex: 0 0 80px;
  }
  .pin-color {
    flex: 0 0 110px;
  }
}

.btn-randomize {
  padding: 0;
  background: 0;
  font-weight: bold;
  font-size: 12px;
  text-decoration: underline;
  margin-left: 210px;
  margin-bottom: 3px;
  color: $grey-dark;
  &:hover {
      color: $brand-light;
  }
}

.generation-form {
  flex: 1 1 auto;
  overflow: hidden;
}

.colors {
  margin-top: 4px;
  white-space: nowrap;
  span:first-child {
    margin-right: 8px;
    font-size: 12px;
  }
  .color {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
    padding: 0 4px;
    color: $grey-dark;
    cursor: pointer;
    &:last-child {
      padding-right: 0;
    }
    
  }
}

.gift-palette {

  .form-input {
    border-radius: 0;
  }
  &.active {
    .form-input:first-child, .form-checkbox {
      background: lighten($brand-light, 30%);
      color: $brand-primary;
      border-left: 3px solid $brand-primary;
    }
  }
}

.note { 
  padding-left: 4px;
  font-size: 11px;
  color: $grey-darker;
  a {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $brand-primary;
    }
  }
}

.btn-create-link {
  background: $grey-white;
  border: 1px solid $grey-mild;
  color: $grey-darker;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 600;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  i {
    margin-right: 6px;
  }
  &:hover {
    color: $brand-light;
    border-color: $brand-light;
  }
}

.canvas-wrapper {
  width: 500px;
  height: 500px;
  flex: 0 0 500px;
  @include flex-center;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
  }
  i {
    position: absolute;
    color: $brand-primary;
    font-size: 32px;
  }
  #pin-canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}