@import "~customs.scss";

.advanced-wrapper{
    padding-bottom: 4px;
    margin-bottom: 8px;
    position: relative;
    .disabled-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 100;
        background: rgba(255, 255, 255, 0.3);
        font-size: 48px;
        padding-top: 12px;
        color: $grey-lighter;
    }
    .top-advanced {
        padding: 4px 8px;
        font-weight: 500;
        background: $brand-light;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        display: flex;
        align-items: center;
        >* {
            align-self: center;
        }
        .card-condition-label {
            padding-left: 4px;
            padding-right: 12px;
            border-right: 1px solid lighten($brand-light, 25%);
            height: 100%;
            color: white;
            font-size: 13px;
            i {
                margin-right: 4px;
            }
        }
        .card-condition-mode {
            padding: 0 4px;
            border-right: 1px solid lighten($brand-light, 25%);
            height: 100%;
            color: lighten($brand-light, 20%);
            font-size: 13px;
            cursor: pointer;
            i {
                padding: 0 4px;
            }
            &:hover {
                color: lighten($brand-light, 25%);
            }
            &.block {
                .block {
                    color: white;
                }
            }
            &.code {
                .code {
                    color: white;
                }
            }
        }
        .mat-checkbox {
            padding-left: 10px;
            color: white;
            ::ng-deep.mat-checkbox-layout {
                margin-bottom: 0;
            }
            ::ng-deep.mat-checkbox-frame {         
                border: none;
                border-radius: 3px;
                background: lighten($brand-light, 25%);
            }
            &:hover {                
                ::ng-deep.mat-checkbox-frame {      
                    background: white;
                }
            }
            &.mat-checkbox-disabled {
                ::ng-deep.mat-checkbox-label {
                    color: lighten($brand-light, 20%);
                }
                ::ng-deep.mat-checkbox-frame {      
                    background: lighten($brand-light, 10%) !important;
                }
            }
        }
        .question {
            cursor: pointer;
            color: lighten($brand-light, 25%);
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 4px;
            padding-left: 4px;
            &:hover {
                color: white;
            }
            &:not(:last-child) {
                margin-left: auto;
            }
        }
    }
}
    
codemirror {
    ::ng-deep.CodeMirror {
        height: 120px !important;
        margin-bottom: 8px;
        font-size: 13px;    
    }
    ::ng-deep.CodeMirror-scroll {
        padding-top: 4px;
        padding-left: 8px;
    }
}

.no-item {
    color: $grey;
    font-size: 13px;
    text-align: center;
    width: 100%;
    padding-top: 12px;
}

.block-wrapper {
    min-height: 120px;
    // background: $grey-white;
    margin-bottom: 8px;
    border: 1px solid $grey-lighter;
    border-top: 0;
}

.block-main-operator{
    display: flex;
    justify-content: space-between;
    height: 52px;
    padding: 8px 12px;
    margin-bottom: 8px;
    ::ng-deep.mat-button-toggle-group {
        height: 36px;
        border-radius: 2px;
        border: 1px solid $grey-light;
        ::ng-deep.mat-button-toggle {
            @include flex-center;
            color: $grey-dark;
            ::ng-deep.mat-button-toggle-button {
                height: 100%;
                ::ng-deep.mat-button-toggle-label-content {
                    line-height: initial;
                    padding: 0 12px;
                    font-size: 13px;
                }
            }
            &.mat-button-toggle-checked {
                background-color: $brand-light;
                color: white;
                ::ng-deep.mat-button-toggle-focus-overlay {
                    display: none;
                }
            }
        }
    }
    .btn-add {
        position: relative;
        height: 100%;
        padding: 0 12px;
        background: $grey-white;
        font-size: 13px;
        font-weight: 500;
        border-radius: 2px;
        color: $grey;
        i {
            margin-right: 4px;
        }
        &:hover {
            color: $brand-light;
        }
    }
}

hr {
    margin: 0px -16px 16px;
    border-top: 1px dashed $grey-mild;
}

.condition-block {
    border: 1px solid $grey-light;
    border-radius: 50px;
    min-height: 40px;
    padding: 8px 16px;
    margin: 0 12px 12px;
    @include flex-center;
    cursor: pointer;
    position: relative;
    span {
        position: relative;
        pointer-events: none;
        font-size: 14px;
        margin-right: 8px;    
        white-space: pre-wrap;
        color: $grey-dark;
        word-break: break-all;
        &:first-child {
            margin-left: 8px;
        }
    }
    .type::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        border-top: 1.2px solid $brand-light;
    }
    .btn {
        font-size: 12px;
        display: inline-block;
        padding: 4px;
        color: $grey;
        transition: none;
        @include flex-center;
        .mat-icon {
            width: auto;
            height: auto;
            font-size: 16px;
        }
    }
    .icon-delete {
        cursor: pointer;
        color: $grey;
        visibility: hidden;
        position: absolute;
        right: -8px;
        top: calc(50%);
        transform: translateY(-50%);
        font-size: 16px;
        background: white;
        border-radius: 50%;
        &:hover {
            color: $grey-dark;
        }
    }
    &:hover {
        border-color: $brand-light;
        .icon-delete {
            visibility: visible;
        }
        span, .btn {
            color: $brand-light;
        }
    }
}