<div class="advanced-wrapper">
    <div class="disabled-wrapper" *ngIf="disabled">
    </div>
    <div class="top-advanced">
        <span class="card-condition-label">Điều kiện gửi</span>
        <span class="card-condition-mode" [ngClass]="mode">
            <i class="fas fa-th-list block" [matTooltip]="'Chế độ block'" (click)="switchMode('block')"></i>
            <i class="fas fa-code code" [matTooltip]="'Chế độ code'" (click)="switchMode('code')"></i></span>
        <mat-checkbox [(ngModel)]="break" name="isBreak" [disabled]="disabled" (ngModelChange)="breakChange.emit($event)">
            Dừng câu chuyện
        </mat-checkbox>
        <i class="question far fa-question-circle" [matTooltip]="tutorial"></i>
        <i class="question fas fa-times" (click)="closeClicked.emit()"></i>
    </div>
    <div [hidden]="mode!='code'">
        <codemirror #editor [(ngModel)]="codeCondition" name="condition-{{container.index}}" [config]="codeMirrorOption" (ngModelChange)="codeConditionChanged($event)">
        </codemirror>
    </div>
    <div class="block-wrapper" [hidden]="mode!='block'">
        <div class="block-main-operator">
            <mat-button-toggle-group name="main-operator-{{container.index}}" [(ngModel)]="mainLogicOperator" (ngModelChange)="blockConditionChanged()">
                <mat-button-toggle [disableRipple]="true" value="and">AND</mat-button-toggle>
                <mat-button-toggle [disableRipple]="true" value="or">OR</mat-button-toggle>
            </mat-button-toggle-group>
            <button class="btn btn-add" type="button" (click)="addCondition($event)"><i class="fas fa-plus"></i>Thêm điều kiện</button>
        </div>
        <div class="no-item" *ngIf="!operationArray || !operationArray.length">Không có điều kiện nào</div>
        
        <div class="condition-block" (click)="editCondition($event, i)" *ngFor="let operation of operationObjectArray; let i = index">
            <span class="key">{{operation?.key}}</span>
            <span class="type">{{operatorObject[operation?.type]}}</span>
            <span class="value" *ngIf="operation.value">{{operation?.value}}</span>
            <i (click)="removeCondition(i); $event.stopPropagation()" class="fas fa-times-circle icon-delete" [matTooltip]="'Xóa'"></i>
        </div>
    </div>
    <ng-content></ng-content>
    <app-button-container *ngIf="break && !container.disallowAdvancedQuickReplies" [validButtons]="quickReplyValidButtons"
        [container]="container.container" [limit]="11" [buttons]="container.card.option.quick_replies" (change)="container.onQuickReplyButtonsChange($event)"
        isQuickReplyContainer="true" [disabled]="disabled"></app-button-container>
</div>
<hr>