// @import "../../../shared/cards/card-container/card-container.component.scss";
@import "~customs.scss";


.text-row {
    margin: 8px 0px 4px;
    .select-method{
      padding-right: 8px;
      /deep/.mat-form-field-infix{
        padding: 12px 0;
      }
    }
    
}

.mat-radio-button {
    margin-right: 20px;
}

.mat-expansion-panel-header-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mat-expansion-panel-header-description {    
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
}

/deep/.button-remove {
    color: $grey;
    &:hover{
      color: $grey-dark;
    }
}

.btn-action {
    @include btn-primary-background;
    width: 100%;
    margin-bottom: 3px;
}