<div class="card-wrapper" [style.pointer-events]="!cardFrm.enabled?'none':'initial'">
  <app-card-sidebar (moveUpClicked)="moveUp()" (moveDownClicked)="moveDown()" (duplicateClicked)="duplicateCard($event)" 
  (removeClicked)="remove()" (configClicked)="configToggle()" (insertBeforeClicked)="insertBefore()"></app-card-sidebar>
  <mat-card class="story-card" mat-list-item [ngClass]="cardRefId">
    <app-card-header [icon]="'fas fa-image'" [title]="cardName" [note]="card.note" [disabled]="!cardFrm.enabled" (noteChanged)="changeNote($event)"></app-card-header>
    <mat-card-content>
      <form #cardFrm="ngForm">
        <app-card-advanced [container]="this" [(break)]="card.isBreak" [(condition)]="card.condition" [hidden]="!configOpened" 
        [disabled]="!cardFrm.enabled" (breakChange)="onBreakChanged($event)" (closeClicked)="configOpened = false"
        (conditionChange)="onConditionChanged($event)"></app-card-advanced>
        <mat-checkbox [(ngModel)]="card.option.isCallback" name="isCallback" labelPosition="end" (change)="canBeSaved.next(true)">
          Đợi kết quả
        </mat-checkbox>
        <div fxLayout="row" fxLayoutAlign="none" *ngIf="card.option.isCallback" class="text-row">
          <mat-form-field fxFlex="50" class="text-input-field" [floatLabel]="'always'">
            <input hlTextArea type="text" #keyControl="ngModel" [(ngModel)]="card.option.key" name="key" matInput placeholder="Tên thuộc tính" pattern="^\S+$"
              required>
            
            
          </mat-form-field>
          <mat-form-field fxFlex="50" class="text-input-field" [floatLabel]="'always'">
            <input hlTextArea type="text" #srcKeyControl="ngModel" [(ngModel)]="card.option.sourceKey" name="sourceKey" matInput placeholder="Thuộc tính nguồn (Tuỳ chọn)"
              pattern="^\S+$">
            
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="none" class="text-row">
          <mat-form-field fxFlex="20" class="text-input-field select-method" [floatLabel]="'always'">
            <mat-select placeholder="Method" [(ngModel)]="card.option.request.method" name="method" required>
              <mat-option *ngFor="let method of ['GET','POST','PUT','DELETE']" [value]="method">
                {{ method }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="80" class="text-input-field" [floatLabel]="'always'">
            <input hlTextArea type="text" #urlControl="ngModel" [(ngModel)]="card.option.request.uri" name="uri" matInput placeholder="Uri" required>
          </mat-form-field>
        </div>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Queries
              </mat-panel-title>
              <mat-panel-description>
                <span *ngIf="queries.length === 0">Không có query</span>
                <span *ngIf="queries.length !== 0">Có {{queries.length}} query</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-api-query *ngFor="let query of queries" [query]="query" [parent]="this" [disabled]="!cardFrm.enabled"></app-api-query>
            <mat-list>
              <button mat-button class="btn-action" (click)="addQuery()" [disabled]="!cardFrm.enabled">
                <i matListIcon class="fas fa-plus"></i> Thêm query
              </button>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Headers
              </mat-panel-title>
              <mat-panel-description>
                <span *ngIf="headers.length === 0">Không có header</span>
                <span *ngIf="headers.length !== 0">Có {{headers.length}} header</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-api-header *ngFor="let header of headers" [header]="header" [parent]="this" [disabled]="!cardFrm.enabled"></app-api-header>
            <mat-list>
              <button mat-button class="btn-action" (click)="addHeaders()" [disabled]="!cardFrm.enabled">
                <i matListIcon class="fas fa-plus"></i> Thêm header
              </button>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel [hidden]="card.option.request.method === 'GET'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Params
              </mat-panel-title>
              <mat-panel-description>{{contentType == 'application/json'?'JSON':'Form'}}</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-radio-group [(ngModel)]="contentType" [name]="'contentType-'+cardRefId" (change)="changeContentType($event)">
              <mat-radio-button value="application/x-www-form-urlencoded">Gửi Form</mat-radio-button>
              <mat-radio-button value="application/json">Gửi JSON</mat-radio-button>
            </mat-radio-group>
            <div *ngIf="contentType === 'application/x-www-form-urlencoded'" style="padding-top: 8px;">
              <app-api-param *ngFor="let param of params" [param]="param" [parent]="this" [disabled]="!cardFrm.enabled"></app-api-param>
              <mat-list>
                <button mat-button class="btn-action" (click)="addParam()" [disabled]="!cardFrm.enabled">
                  <i matListIcon class="fas fa-plus"></i> Thêm header
                </button>
              </mat-list>
            </div>
            <div [hidden]="contentType !== 'application/json' || !card.option.request.body" style="padding-top: 8px;">
              <json-editor [options]="jsonEditorConfig" [(data)]="data"></json-editor>
              <!-- <json-editor [(ngModel)]="card.option.request.body" [ngModelOptions]="{standalone: true}" [config]="jsonEditorConfig" jsonModal
                #staticModal="json-modal" (change)="onJSONChange($event)" (error)="onJSONError($event)">
              </json-editor> -->
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </mat-card-content>
  </mat-card>
</div>